[2018-07-24 08:04] mmmavis commented on #996
(a note for myself: remove "Twitter handle" from opening section - we won't show people's Twitter handles on Guidebook)

[2018-07-24 13:29] consuelamckenzie commented on #1010
@sabrinang for Instagram, after team "Mozfest feedback, there is not an existing Mozfest Instagram account and we are not setting one up for the festival. It seems Mozilla's Instagram account is the main account we would use and this shouldn't feature on the Mozfest site.
For the footer text used across Mozilla sites, it should read "...the future of the web for public good." The second "the" is t

[2018-07-24 13:50] marcwalsh commented on #947
This is the copy I completed with @Saallen yesterday:
https://docs.google.com/document/d/1Ot95Gh-gLuHlLz4NYkH5Yf6CZmdweTLntE_LBj5q1fQ/edit?usp=sharing

Sarah can you approve please?

- [ ]

[2018-07-24 14:20] Saallen commented on #927
@sabrinang I made two content changes to be updated in redpen

[2018-07-24 15:46] marcwalsh commented on #996
@Saallen yes that works!

[2018-07-24 15:50] marcwalsh commented on #996
@Saallen I think we need to separate it considering we will need to email people to let them know if they are successful.

So changing the first question to:

- [ ] I’m okay with Mozilla handling this information in accordance with its privacy policy and the bullets at the top of this form as well as to be emailed reguarding the outcome of my proposal.

and then adding...

- [ ] I would like to be

[2018-07-24 16:06] marcwalsh commented on #945
@rtsayles would you be able to grant me access please? Thanks! :)

[2018-07-24 16:54] Saallen commented on #996
Yes - happy with this copy. Just link the privacy policy
Please update @mmmavis

[2018-07-24 16:56] marcwalsh commented on #996
Thanks @Saallen! @mmmavis I've listed all the additional changes we need below! :)

- [ ] Change copy of first privacy question to: `I’m okay with Mozilla handling this information in accordance with its privacy policy and the bullets at the top of this form as well as to be emailed reguarding the outcome of my proposal.`
- [ ] Ensure first question is a required field.
- [ ] Change error message

[2018-07-24 16:58] Saallen commented on #947
Approved-
please amend and update @mmmavis

[2018-07-24 18:18] sabrinang commented on #934
@mmmavis Yes, since the production assistant is not hired let's not let it block this ticket and track on #939 independently 👍

[2018-07-24 18:23] sabrinang commented on #947
Closing copy issue and work will continue on implementation ticket #950

[2018-07-24 18:23] #947 closed

[2018-07-24 18:23] sabrinang commented on #950
Copy is ready to be updated from #947

[2018-07-24 19:17] sabrinang commented on #1002
@Saallen Redpen updated: https://redpen.io/ug7a9e6dc9b6fe7083 according to https://github.com/mozilla/mozillafestival.org/issues/927#issuecomment-407423810 and left some questions on [google doc](https://docs.google.com/document/d/1Yz0xET9I5fji9MFEt3ri0YC4vdRQesKZkt2YzjgxGis/edit#)

[2018-07-24 20:23] #943 closed, assigned to sabrinang

[2018-07-24 20:30] sabrinang commented on #948
Banner exported on gdrive here: https://drive.google.com/file/d/1OE0UR5oeXu0WCAeSo6XNqwUkhkBM3OPn/view?usp=sharing
![mozilla-festival_fringe-page_banner 2x](https://user-images.githubusercontent.com/2492510/43164298-aa34adb4-8f45-11e8-81ba-4706f59c7298.jpg)

[2018-07-24 20:30] #948 closed

[2018-07-24 20:31] sabrinang commented on #950
@mmmavis banner exported https://github.com/mozilla/mozillafestival.org/issues/948#issuecomment-407541624

[2018-07-24 20:35] #934 closed

[2018-07-24 20:50] sabrinang commented on #1007
We would need to update the homepage to close proposals after August 1st submission deadline. With the proposal CTAs removed, I assumed it would get replaced with get tickets CTA next.

@Saallen to provide desired date to go live and confirm CTA

[2018-07-24 22:37] sabrinang commented on #962
@mmmavis Thanks for the specs, I made a cut (20 sec) and quality 720p (14.8 mb) for the video that loops: https://drive.google.com/file/d/1OPYaq_hyvnQbBBBUJw-O44SR_G6ac52o/view?usp=sharing

When users click the play button, the background transitions (black opacity 0.9 overlay) to have the video above:
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/2492510/43169262-49

[2018-07-25 06:44] rtsayles commented on #945
Yes sir.....let me know if you received the email

On Tue, Jul 24, 2018, 11:06 Marc Walsh <notifications@github.com> wrote:

[2018-07-25 09:51] marcwalsh opened #1013 "Create MozFest House Ticket Template"
Create a MozFest House Ticket template using copy from #953 and banner from #954.

[2018-07-25 10:06] Saallen commented on #996
Thanks @marcwalsh
@mmmavis Can we make this update top priority please as we are a week from closing the call?

[2018-07-25 11:00] marcwalsh commented on #1008
Preview avaialble [here](https://www.google.com/search?prvw=AHHjJUNlBKOtH7e-oSEdtVohyk7rbwdZ1g&q=previewid%3A0f19fca1-cd36-4c01-9d5c-2c5db59a675d&useragent=Mozilla%2F5.0+%28Linux%3B+Android+5.1.1%3B+Nexus+5X+Build%2FMMB29P%29+AppleWebKit%2F537.36+%28KHTML%2C+like+Gecko%29+Chrome%2F48.0.2564.23+Mobile+Safari%2F537.36&filter=0&gws_rd=cr&newwindow=1&igu=1) (mobile view only).

@Saallen are you okay w

[2018-07-25 11:03] Saallen commented on #1008
approved

[2018-07-25 14:47] marcwalsh commented on #1008
Additional MozFest House script below - not sure if these can be combined into one - when I'm trying on the validator I can't get it right...

[code]

[2018-07-25 17:11] sabrinang commented on #927
Copy updates on latest mockups for reference on https://github.com/mozilla/mozillafestival.org/issues/1002#issuecomment-407521199

Final copy review for https://docs.google.com/document/d/1Yz0xET9I5fji9MFEt3ri0YC4vdRQesKZkt2YzjgxGis/edit# ?
(@Saallen I left some questions/comments on the doc)

[2018-07-25 21:42] sabrinang commented on #962
@mmmavis Good point I didn't try the white version on all the other pages to ensure it is legible. Let's just keep the black 2018 lockup on the homepage for this revision then for consistency. 👍

[2018-07-25 23:54] sabrinang commented on #1002
Redpen updated: https://redpen.io/ug7a9e6dc9b6fe7083
- all asterisks are bullet points
- full stops removed from italicized text under button
________________________
Design review approval?
- [ ] @Saallen

[2018-07-26 01:59] mmmavis commented on #996
Done. https://mozillafestival.org/proposals

[2018-07-26 01:59] #996 closed

[2018-07-26 02:06] mmmavis commented on #958
Done!

[2018-07-26 02:06] #958 closed

[2018-07-26 10:47] Saallen commented on #1002
approved and looks great-

[2018-07-26 13:00] Saallen commented on #1007
Hello @mmmavis and @sabrinang
I think if we move the CTA for proposals around now,  it will confuse ppl esp in the last few days.
I think we should make this page live as the very last thing you do on Aug 1st Mavis.

I would advise just removing the proposal form page from the website and keeping that url live  until the Friday, as there is always stragglers. Then it closed forver on Friday

[2018-07-26 13:06] Saallen commented on #1004
Hey

Happy with this theses changes [3] [4] [5]
[1]  agreed - shorten to _spaces_

[2] - cannot see the copy change- is this being added to the 7 reasons to come to mozFest?

[2018-07-26 13:41] #861 closed

[2018-07-26 13:42] #915 closed

[2018-07-26 13:46] marcwalsh commented on #861
Linked! 🌈

[2018-07-26 15:13] Saallen commented on #918
cc @mmmavis for changes

[2018-07-26 15:14] Saallen commented on #927
Edits made and all approved
Just waiting on @KevZawacki for final copy review ✏️

[2018-07-26 15:15] Saallen commented on #945
@rtsayles can I have access too please?

[2018-07-26 16:32] sabrinang commented on #1004
[2] It was added in point 6  on the 7 reasons list https://redpen.io/dnc152cb247c41348d/5?showing_comment=3124833 and included in https://github.com/mozilla/mozillafestival.org/pull/1003

[2018-07-26 17:02] Saallen commented on #977
Leaving this page open as this is ongoing work

[2018-07-26 17:02] Saallen commented on #955
Closing this issue as assets linked above

[2018-07-26 17:02] #955 closed

[2018-07-27 02:21] mmmavis commented on #918
Done! https://mozillafestival.org/

Expect the changes to show up in search result after a few days/weeks delay though as search engines usually cache site meta.

[2018-07-27 02:21] #918 closed

[2018-07-27 03:56] rtsayles commented on #945
Hi @saallan, sorry for the delay, I was traveling today but I've share the
docs with you (smiles). Can you review and add any comments. We're meeting
on Sunday to finalize the wiki content, let me know if you have any
questions.

Robby

On Thu, Jul 26, 2018, 10:15 Sarah Allen <notifications@github.com> wrote:

[2018-07-27 16:08] KGorr opened #1016 "Typo on Main page"
"explore the intersecton of the web"

Intersection is missing the "i"

<img width="997" alt="screen shot 2018-07-27 at 9 07 43 am" src="https://user-images.githubusercontent.com/14793388/43332237-a25abd84-917c-11e8-9f36-a704636783b7.png">

@mmmavis

[2018-07-29 14:56] devshiva619 commented on #1016
@KGorr can I work on this?

[2018-07-29 17:55] KevZawacki commented on #998
Hi @sabrinang, reviewed and added 👍

[2018-07-29 18:01] ZiggyMaes commented on #945
Hi all

We just published the first part of the wiki: https://wiki.mozilla.org/Mozfest/2018/Volunteers . We'll continue to expand it as we have more information to share.

[2018-07-30 00:12] KevZawacki commented on #927
@Saallen Made a few small tweaks

@sabrinang All set! 👍

[2018-07-30 09:02] Saallen commented on #927
Great @KevZawacki-- thanks

[2018-07-30 12:50] marcwalsh commented on #945
Thanks @ZiggyMaes - I'll close this issue

[2018-07-30 13:01] marcwalsh commented on #946
Both #944 and #945 are complete and live ready for when the volunteers page is updated.

@mmmavis do you think we'd be able to make this page live by the end of the week?

[2018-07-30 17:00] sabrinang commented on #927
Thanks Kevin! 👍

[2018-07-30 17:00] #927 closed

[2018-07-30 17:05] sabrinang commented on #1002
Final copy updated from #927 on [redpen mockup](https://redpen.io/ug7a9e6dc9b6fe7083). Closing ticket and dev work will be tracked on implementation ticket https://github.com/mozilla/mozillafestival.org/issues/926

[2018-07-30 17:05] #1002 closed

[2018-07-30 17:13] sabrinang commented on #925
Banner exported on gdrive here: https://drive.google.com/open?id=1OXIIpVSzT7po2YDIjkty29KwQXHdcSoj
![mozilla-festival_tickets-page_banner 2x](https://user-images.githubusercontent.com/2492510/43412118-0ea87d9e-93e1-11e8-91cd-7ea7110ada2c.jpg)

[2018-07-30 17:13] #925 closed

[2018-07-30 17:56] mmmavis commented on #1000
Live now! https://mozillafestival.org/about

[2018-07-30 18:00] mmmavis commented on #1000
Reopening - seems like the old page is still cached. Will close this ticket again once I am able to see updated version of about page live.

[2018-07-30 18:04] mmmavis commented on #1001
Live! https://mozillafestival.org/why-come-to-mozfest

[2018-07-30 18:04] #1001 closed

[2018-07-30 18:04] mmmavis commented on #1000
Okay here we go - https://mozillafestival.org/about

[2018-07-30 18:04] #1000 closed

[2018-07-30 19:24] sabrinang commented on #992
The status looks like we are still missing a few, moving to this heartbeat

[2018-07-30 19:26] sabrinang commented on #973
@TheoChevalier This looks like it is still in progress, moving to this heartbeat

[2018-07-30 19:27] sabrinang commented on #962
@sabrinang update video play button + ticket CTA text at bottom

[2018-07-30 19:28] sabrinang commented on #961
@mmmavis when we have events this can be updated

[2018-07-30 19:36] Saallen commented on #945
Re-opening this ticket
There are some edits required on this page as some of the wording is not correct.
Is this page finalised??

[2018-07-30 19:37] sabrinang commented on #945
@marcwalsh Copy review?

[2018-07-30 19:39] sabrinang commented on #903
@KGorr Can we close? It seems like sharing out the comms cheatsheet has passed

[2018-07-30 19:43] rtsayles commented on #945
@saallen you should be able to access the wiki to make any changes.  I also notice we're missing the Volunteer roles on the wiki.   @ZiggyMaes @marcwalsh, do we approve the content for that page?

[2018-07-30 19:44] sabrinang commented on #1008
@marcwalsh any updates? moving to this heartbeat

[2018-07-30 19:56] Saallen opened #1017 "RSVP emails"
Request from @jcbarajas
_In regards to creating a RSVP//VIP email are looking for a " more graphically dressed up" format
with a great photo to "capture the incredible energy of being at MozFest. The color, the diversity of people, the light..."_

Juan can you share some ideas here or examples of what you are looking for?
I dont think we can get any more dressed up from tito than we already have..

[2018-07-30 20:44] marcwalsh commented on #1008
@mmmavis - would you be free to have a 15/30 min chat on how to add this.

[2018-07-30 21:22] sabrinang opened #1018 "Close CFP: Homepage and Spaces page updates"
Global updates to be made:
- remove `Submit your session now for MozFest 2018!
Submission deadline is August 1.` top bar
- remove `proposals` from navigation

Homepage updates to be made:
- remove `Submit Your Session Now` cta button
- change Join Us at MozFest section's body copy to `Get your ticket for MozFest weekend.` button copy to `Buy Tickets` that links to https://mozillafestival.org/ticke

[2018-07-30 21:24] sabrinang opened #1019 "Close CFP: Proposals page updates"
Update copy on proposals page to indicate that CFP is now closed (reference [last year](https://github.com/mozilla/mozillafestival.org/issues/657#issuecomment-318754720)).
Show closing message by EOD PDT August 1

[2018-07-30 21:49] sabrinang opened #1020 "Spaces page: Experience Description for Art & Data"
We need an Art & Data experience description submitted to appear on our spaces page. These descriptions will be reviewed to go on the Spaces page under the _2018 Experiences_ section.

Other space/experience descriptions can be referenced here https://github.com/mozilla/mozillafestival.org/issues/850#issuecomment-390704087

[2018-07-30 21:51] sabrinang opened #1021 "Spaces page: Experience Description for Gaming MozFest"
We need a Gaming MozFest experience description submitted to appear on our spaces page. These descriptions will be reviewed to go on the Spaces page under the _2018 Experiences_ section.

Other space/experience descriptions can be referenced here https://github.com/mozilla/mozillafestival.org/issues/850#issuecomment-390704087

[2018-07-30 21:56] sabrinang commented on #1019
Copy:

**The MozFest 2018 Call for Proposals has ended.**
Curation takes place [here on Github](https://github.com/MozillaFoundation/mozfest-program-2018) during the month of August. If you submitted a session, expect to hear from us in September. Thank you to everyone who proposed a session!

[2018-07-30 22:03] sabrinang opened #1022 "Team page: Add Art & Data Experience Wranglers"
Update the team page with Art & Data wrangler bios and profile photos.

Bios here: https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit#gid=0

Photos (500x500) here: https://drive.google.com/open?id=1Bf6Jts4aVP5O8bcA8fZoYcuM9PdM5Nk7

[2018-07-30 22:05] sabrinang opened #1023 "Team page: Add Gaming MozFest Experience Wranglers"
Update the team page with Gaming MozFest wrangler bios and profile photos.

Bios and photos to be collected.

[2018-07-30 22:10] jcbarajas commented on #1017
![glaad invite](https://user-images.githubusercontent.com/30638756/43426220-dee8db8e-9409-11e8-810a-22b7ba70ad3d.jpg)

[Gmail - FW: Join us for a special SF screening of A Fantastic Woman - Jan 9.pdf](https://github.com/mozilla/mozillafestival.org/files/2243053/Gmail.-.FW.Join.us.for.a.special.SF.screening.of.A.Fantastic.Woman.-.Jan.9.pdf)

I included 2 examples of invitations that I'm thinking of

[2018-07-30 22:15] sabrinang commented on #998
Thanks Kevin for the review!

@marcwalsh any updates on collecting
written bios from:
- Joseph Thomas

photos from:
- Mark Boas
- Kade Morton
- Natasha Pillai
- Tendai Tirivanhu
- Victor Sansing
- Joseph Thomas

I am also missing bios and photos from the Gaming MozFest experience wranglers but I don't have any of their emails so it would be great if you can help collect those too.

[2018-07-30 22:29] sabrinang opened #1024 "Speakers page: Copy and content"
https://mozillafestival.org/speakers

We can update the Speakers page to include the upcoming 2018 speakers as MozFest approaches. In previous years, this content included title of their talk, name, twitter handle and short bio.

We may want to include `Dialogues & Debates` somewhere on this page too so users know these speakers are related to that series.

[2018-07-30 22:50] sabrinang opened #1025 "Home page: Feature Theme Content"
Feature the theme this year, `Data and You`, in a section on the website to introduce and contextualize it at the festival for attendees.

Create copy that includes a description which may include a link to a blog post.

[2018-07-30 22:57] sabrinang opened #1026 "About page: Update Printed Guide Link"
- Update link to the guidebook schedule and decide where it is linked (navigation?)
- Update link to the printed festival guide and decide where it is linked (hosted on issuu?)

[2018-07-30 23:03] sabrinang opened #1027 "Sponsors page: 2018 Sponsors and Categories"
More sponsors will join us as we get closer to MozFest. Collect an ongoing list of the 2018 sponsors along with their sponsorship type.

This will be seen on https://mozillafestival.org/team/sponsors

[2018-07-31 00:40] sabrinang opened #1029 "Home page: Live Weekend Content"
Update the home page to feature live content to drive participation. Scope out what this content is and how we will implement it.

**Ideas**
- Dialogues and Debates live stream
- connect to foundation.mozilla.org? (Alan)
- feature remote participation content? (Jen C)

[2018-07-31 00:52] mmmavis commented on #946
@marcwalsh yup I just pushed the changes live: https://mozillafestival.org/volunteer

[2018-07-31 00:52] #946 closed

[2018-07-31 01:48] sabrinang opened #1031 "Festival (Printed) Guide Content Meta-Ticket"
This is a meta-ticket for all the printed Festival Guide content.

**Kick off meeting on August 9th:**
- determine an outline of the content
- determine who is writing the content
- determine who is edit/proofreading

**Content:**
-  To be determined

**Timeline:**
[Aug 13-Sept 7] Creating content and writing copy
[Sept 7] Content deadline and copy draft
[Sept 14] Print Concept Specifications + Pa

[2018-07-31 10:56] Saallen commented on #1017
Thanks @jcbarajas
@sabrinang  what are your thoughts here?

[2018-07-31 13:58] marcwalsh commented on #1029
@sabrinang that's an interesting topic about live streams on the Mozilla Festival page.

We'll most likely be streaming to YouTube which we could embed on the site. There's a couple of ways it would work:

- Individual live streams for each talk / panel (would require updating the website for each stream)
- Day Streams (Updated overnight and we turn off the stream at the end of each day, but a web

[2018-07-31 14:26] marcwalsh commented on #998
@sabrinang Just chased almost everyone (including gaming experiene wranglers) and given them the deadline of the end of this week.

I don't have Victor's email so haven't been able to add him yet. I've noticed he is in high school and it says [No Photo] in the comment box. Does this mean we're not able to add an image of him online?

[2018-07-31 14:29] Saallen commented on #998
Exactly @marcwalsh he doesnt want his picture on the site

[2018-07-31 14:31] marcwalsh commented on #945
I've reviewed and made a couple of small changes and added links to external sites.

Closing as there's nothing else to add at this time until additional pieces of content (eg. timings) are confirmed.

[2018-07-31 14:31] #945 closed

[2018-07-31 17:09] Saallen commented on #1017
@jcbarajas  - @KGorr prepared a shorter email for review. Let me know if this is better for you

You’re officially invited to join Mozilla and 2,500 activists, coders, journalists and educators from every continent except Antarctica at MozFest, our annual festival for the open internet movement.

What: MozFest 2018
When: October 26 - October 28
Where: Ravensbourne University in London
RSVP: Click

[2018-07-31 18:07] mmmavis opened #1032 "[July 31] Get late proposals page up"
Get `/late-proposals` page up on July 31 (Tuesday) so Abby and team can share that to their people on Wednesday.

Ping Abby or tag kalpana in #mofo-openleaders on Slack when the page is live.

[2018-07-31 18:38] jcbarajas commented on #1017
I like it! Much more succinct.

On Tue, Jul 31, 2018 at 10:09 AM, Sarah Allen <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.org <http://www.mozillafoundation.org>*

[2018-07-31 21:01] mmmavis commented on #1008
Hey @marcwalsh I haven't had time to check out the documentation yet. If a GitHub ticket is labelled as "enhancement" I will check it out it only when I have spare bandwidth. I'm currently pretty busy with all the CFP close site updates. If we wanna get this ticket done by this heartbeat the earliest I can tackle this ticket is Monday next week.

[2018-07-31 21:58] sabrinang commented on #1031
Note: We should have the sponsors finalized too (latest Sept 28) to be printed on the guide too
Example from last year:
![20171027-mozfest-swag-18](https://user-images.githubusercontent.com/2492510/32967993-7d894d4e-cb94-11e7-8ef0-5749eae94246.jpg)

[2018-07-31 22:52] mmmavis commented on #1032
Done.

[2018-07-31 22:52] #1032 closed

[2018-07-31 22:53] mmmavis opened #1034 "[Aug 3] Close late proposals form around 6pm PDT time"

[2018-08-01 10:24] marcwalsh commented on #1008
Hey @mmmavis no urgency here - it's a nice to have which is why I listed as an enhancement. When you get some time we can look into it more.

:)

[2018-08-01 10:41] Saallen commented on #1017
Great - so this is the email content but we need to confirm what the design will look like.
@consuelamckenzie will take over this piece from a production side and will work with @sabrinang  on the design proposal

[2018-08-01 16:28] cadecairos opened #1036 "Crash Bug: session proposal submission crashes server when GitHub is down"
The Github outage today triggered a crash in the mozillafestival site. It seems if the HTTP request to GitHub fails it takes down the server.

Here's a stacktrace

[code]

@alanmoo

[2018-08-01 16:47] mmmavis commented on #1036
Thanks for letting me know @cadecairos @alanmoo . I just checked our master Google Spreadsheet and it seems like only 1 person wasn't able to submit his/her proposal to GitHub (that person tried 3 times and gave up/). I'll manual post for that person.

[2018-08-01 16:50] marcwalsh commented on #1036
@mmmavis We had a few people raise this on festival@, I've asked them to resubmit their sessions so hopefully they will do this! Unless they would have got a confirmation for their submission but it wasn't pushed to GitHub?

M

[2018-08-01 16:51] mmmavis commented on #1036
@cadecairos I'll check out the code to make sure GitHub outage won't take down our site again.

[2018-08-01 16:57] mmmavis commented on #1019
Just a correction in the link included above - repo should link to https://github.com/MozillaFestival/mozfest-program-2018 instead

[2018-08-02 00:32] #1007 closed

[2018-08-02 00:33] #962 closed

[2018-08-02 01:18] mmmavis commented on #1036
Fixed!

[2018-08-02 01:18] #1036 closed

[2018-08-02 01:18] mmmavis commented on #1019
Changes are live https://mozillafestival.org/proposals

[2018-08-02 01:18] #1019 closed

[2018-08-02 01:19] mmmavis commented on #1018
Done and live: https://mozillafestival.org/

[2018-08-02 01:19] #1018 closed

[2018-08-02 09:45] Saallen opened #1041 "QA- link Get tickets to mozfest/tickets"
Since the ticket page is live on the website mozfest.org/tickets

can link in this section
![screen shot 2018-08-02 at 10 45 12](https://user-images.githubusercontent.com/10194015/43576407-2a241b66-9641-11e8-9a4c-7c264e54b5e7.png)

link to mozfest.org/tickets too?

for @mmmavis

[2018-08-02 16:14] sabrinang commented on #1016
The homepage https://mozillafestival.org/ has been updated as call for proposals has closed. This design version excludes the what is MozFest like section so this typo is gone too - closing issue.

[2018-08-02 16:14] #1016 closed

[2018-08-02 16:18] sabrinang commented on #924
Updates for https://mozillafestival.org/tickets is live - closing issue.

[2018-08-02 16:18] #924 closed

[2018-08-02 17:51] mmmavis opened #1043 "Remove old files that haven't been used for months and years"
`remote.jsx` being one example + much more

[2018-08-02 19:58] sabrinang opened #1044 "QA: Home page Dialogue and Debates section"
Revise copy on home page for the Dialogue and Debates section to make it more clear it is from previous years and not the speaker line up for this year.

**Suggestions:**
Kevin: Revising the homepage copy to: "Here are just a few *from past years.*"

Zannah: I think "here are a few from the past years" in subheading text is great-- BUT  in the event that people don't read the subheading, I think a

[2018-08-02 19:59] sabrinang commented on #1024
Speaker's line up still may change so assigning this issue to @KevZawacki to provide content when speaker's content has settled so we can update the page.

[2018-08-02 20:03] KevZawacki commented on #1044
@sabrinang Smart! Perhaps the hed can be: **Past 'Dialogues & Debates' Speakers**

[2018-08-02 20:19] sabrinang opened #1045 "Content: Participation Guidelines"
### Description
Language for participation guidelines. This will be used in the Festival Guide, space info booths and posters throughout the MozFest weekend and a version will be at MozFest House. If the language is changed from last year it may need to be approved by Larissa from the D&I team.
_____________
**Content from 2017**

The Mozilla Festival respects Mozilla's community participation gui

[2018-08-02 21:33] mmmavis commented on #1043
Done!

[2018-08-02 21:33] #1043 closed

[2018-08-02 21:33] mmmavis commented on #1041
Done!

[2018-08-02 21:33] #1041 closed

[2018-08-02 22:06] mmmavis opened #1047 "Revive, remove, or update /location page"
I can't remember if the [location page](https://mozillafestival.org/location/) is kept live on purpose or we forget to remove it. Thoughts @Saallen ? Should we revive, remove, or update this page? Currently this page is not linked anywhere on the site.

[2018-08-03 16:27] sabrinang commented on #1004
[2]-[5] suggestions for website edits are implemented and live

@KevZawacki For [1] including `speakers` on the navigation, do we want to wait until we have content on it for 2018 https://github.com/mozilla/mozillafestival.org/issues/1024 or do we want it included in the nav as soon as possible?

[2018-08-03 16:45] sabrinang commented on #1017
Met with Consuela yesterday to go over ideas for the graphic:

- [text] An Invitation To MozFest 2018
- include Mozilla Festival 2018 wordmark
1) letter/envelope design with text
2) existing photo and colour treatment with text
3) colour gradient and cube pattern with text

I'll iterate on the ideas above to provide an option. No specific dimensions on this but something more narrow so the text is

[2018-08-03 16:47] KevZawacki commented on #1004
@sabrinang Let's wait until next month, once the new speaker are on the site.

[2018-08-03 18:09] sabrinang opened #1048 "Speakers page: Implement Updates"
Update speaker's page with copy and content from: https://github.com/mozilla/mozillafestival.org/issues/1024

Update the navigation to include link to `Speakers` (in between `Why Come to MozFest` and `Spaces`)

[2018-08-03 18:12] sabrinang commented on #1004
@KevZawacki Ok great. I filed a new issue regarding speaker page dev updates to include navigation update on issue https://github.com/mozilla/mozillafestival.org/issues/1048 and we will triage the ticket next month once the speaker's content are on the site.

I'll be closing this issue as other items are complete and [1] will be tracked on #1048 now

[2018-08-03 18:12] #1004 closed

[2018-08-03 23:59] mmmavis commented on #1008
@marcwalsh I pasted your code snippet into the [validator](https://search.google.com/structured-data/testing-tool) and got 1 warning back

<img width="1273" alt="screen shot 2018-08-03 at 4 58 37 pm" src="https://user-images.githubusercontent.com/2896608/43670254-8d92c032-973e-11e8-8b8b-98e65da103c0.png">

[2018-08-04 01:11] mmmavis commented on #1034
Done!

[2018-08-04 01:11] #1034 closed

[2018-08-06 09:33] marcwalsh commented on #998
@sabrinang I've updated the Google Doc with image links and commented where I've added them.

Joseph's bio is also in there and I've tagged Kevin for approval / copy changes.

[2018-08-06 09:35] marcwalsh commented on #1008
@mmmavis I've happy with that - the `performer` field is only used if you have an artist. The search engine would use that to list concerts under the artist you're searching for.

[2018-08-06 10:34] KevZawacki commented on #998
@sabrinang bio approved 👍

[2018-08-06 19:24] consuelamckenzie commented on #1017
Shared document w/ideas below
https://docs.google.com/document/d/10el90D25eCC6QFyKYXZUP5_NuF8f4XEvMLJRDMRbveI/edit
Dimensions no more 600px @sabrinang to judge based on design.

Invitation design complete by the early/mid part of this week. Aug 8.

[2018-08-07 16:33] marcwalsh commented on #1017
@sabrinang @consuelamckenzie @Saallen

Just thought it should be noted that Ti.To (how we send our RSVP emails) only supports markdown for email formatting, which would rule out anything overly complex.

Having images stacked together with one strip being an RSVP link could work but would need some testing on Ti.To's end as I'm not sure how it would layout the images and if there would be a border

[2018-08-07 16:34] Saallen commented on #998
@zee-moz can you add your bio here - you are working really hard with the wranglers and it would be great to celebrate with a picture too

[2018-08-07 16:43] Saallen commented on #992
Hi @TheoChevalier how do I share the strings to be translated??
I can ping our swahilli translators directly.

[2018-08-07 16:45] Saallen commented on #977
New content
Please change
Email: festival@mozilla.org
(Recipients of this email are Sarah Allen and Allen Gunn)

To
Pre festival please raise issues to festival@mozilla.org
During the festival week we will have many alternative ways to raise issues, online and in person

[2018-08-07 16:48] sabrinang commented on #903
Since CFP is over, we are closing this issue.

[2018-08-07 16:48] #903 closed

[2018-08-07 16:57] Saallen commented on #998
Winnie would like us to remove this line from her bio
"She is currently a safety supervisor at Mpesa Foundation Academy, Kenya"

[2018-08-07 17:07] TheoChevalier commented on #992
Hey @Saallen strings are here for Swahili https://pontoon.mozilla.org/sw/engagement/

I’ve pinged them a while ago, but I didn’t want to be too annoying

[2018-08-07 17:28] consuelamckenzie commented on #1017
Thank you for your input @marcwalsh, @sabrinang updated via slack.
@jcbarajas We have to use Ti.to to send this invitation and with the time frame given to complete we are looking at an option with a plainer image than the example you have given alongside text.

[2018-08-07 17:44] jcbarajas commented on #1017
That's fine. Do what you need to do. Is it possible to have a PDF or JPG
version of an invite that looks more dressed up? I want to personally send
these invites to funders.

On Tue, Aug 7, 2018 at 10:28 AM, consuelamckenzie <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.

[2018-08-07 19:59] sabrinang commented on #1031
@Saallen @consuelamckenzie @marcwalsh
I started a doc for Thursday's meeting on content [here](https://docs.google.com/document/d/1_VQ4ye6r_8JJ6RAXhATcMXOTciUq0owStN-tkPPEPms/edit). This is evolving from the content structure from last year and included ideas of what to update to fit 2018.

Please come with ideas or add to the doc before the meeting for the festival guide so we can consolidate ide

[2018-08-07 23:13] sabrinang commented on #1017
From the initial email examples, images are included in the body of an email. From my understanding, the original email was sent via ti.to and we can include an image above so we are not doing anything complex in the body of the email itself but updating the image (width 600px).

<img width="1278" alt="image" src="https://user-images.githubusercontent.com/2492510/43803851-d7b284dc-9a4e-11e8-80e0-0

[2018-08-07 23:29] mmmavis commented on #1008
I've added the code snippets in. Thanks for providing them @marcwalsh

Test results are here:
- [tickets page](https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Fmozillafestival.org%2Ftickets)
- [house page](https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Fmozillafestival.org%2Fhouse)

I'm not sure when the info will show up on Google search results as

[2018-08-08 16:23] sabrinang opened #1052 "Participation Guidelines page: Implement updates"
https://mozillafestival.org/guidelines

- Update copy based on https://github.com/mozilla/mozillafestival.org/issues/977
- Update heading to Zilla Slab Highlight font

[2018-08-08 22:23] mmmavis opened #1053 "Update MozFest section on Foundation site"
https://foundation.mozilla.org/participate/

![screenshot_2018-08-08 participate](https://user-images.githubusercontent.com/2896608/43867572-a29daf08-9b1e-11e8-860b-958d7c1e9b7f.png)

Two issues I found:

1. The deadline listed there is wrong (August 31st). A fix has been filed and it should go live soon.
2. Now that CFP has ended. Should we update that section so it mentions our new CTA?

/cc @sa

[2018-08-08 23:53] sabrinang commented on #956
These files have been updated on https://github.com/MozillaFoundation/mozfest-design-2018/issues/32#issuecomment-411590165 the google drive link is the same but assets have been refined for 2018.

[2018-08-09 11:11] Saallen commented on #1053
Yes please @mmmavis

cc @consuelamckenzie as an FYI

[2018-08-09 16:11] sabrinang commented on #1053
I'd suggest directing people to https://mozillafestival.org/tickets as the new CTA

[2018-08-09 16:26] sabrinang commented on #1017
@consuelamckenzie The only feedback I got on the redpen are on the envelope designs
<img width="603" alt="image" src="https://user-images.githubusercontent.com/2492510/43911879-7493b200-9bb5-11e8-82f1-a2082397c122.png">
but it is unclear which design I should finalize and export for the email this week. Let me know which design we should continue with.

[2018-08-09 22:13] jcbarajas commented on #1017
Let's go with #2. Now that I've looked at it again, I like the "An
Invitation to MozFest 2018" spelled out in the top line.

On Thu, Aug 9, 2018 at 9:26 AM, sabrinang <notifications@github.com> wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.org <http://www.mozillafoundation.org>*

[2018-08-10 03:59] consuelamckenzie commented on #1017
@sabrinang we can move forward with envelope version 2 above.

[2018-08-10 10:56] Saallen commented on #998
Hello
I have more details for new wranglers in the queering space and names for the gaming space- can I please have access to the doc @sabrinang

[2018-08-10 13:43] zee-moz commented on #1044
@KevZawack @sabrinang I think Past 'Dialogues & Debates' Speakers sounds good. Can we make this change, as I still think the current heading is misleading and ticket buyers might be disappointed.

[2018-08-10 14:00] zee-moz commented on #1044
@KevZawack @sabrinang I think Past 'Dialogues & Debates' Speakers sounds good. Can we make this change, as I still think the current heading is misleading and ticket buyers might be disappointed.

[2018-08-10 14:28] zee-moz commented on #998
@Saallen @sabrinang Here is my bio:

Zannah is an artist, writer, and experience designer. She’s created interactive museum exhibits about everything from ancient gods to cold war spies to black bears. Zannah lives in Gainesville, Florida where she draws comics, rides bikes, and keeps backyard chickens. She’s a member of Mozilla’s Open Leadership and Events team.

What are the size/resolution requ

[2018-08-10 18:34] sabrinang commented on #998
@zee-moz Great! I’ll be cropping it so it can roughly follow this:

- 500x500px for screen (after crop to a headshot for consistency)
- 2x2in 300dpi for print (most likely it will show up ~1” in the guide due to space limitations but larger if you have just in case)

Let me know which section it should be added in (wrangler or production)?

[2018-08-10 18:49] sabrinang commented on #998
@Saallen Can you leave the new info as comments in corresponding cells so we know what has not yet been reviewed? It will get included in the cell itself after by Kevin once he has reviewed the content

[2018-08-11 00:38] sabrinang commented on #1017
I exported .jpgs (with retina versions) in google drive and I included a narrow version too if you don't want the text to be pushed as far down.: https://drive.google.com/open?id=1bi0jXnK3cOXMFasRFFOvZe0RuqoDSF-S
<img width="607" alt="image" src="https://user-images.githubusercontent.com/2492510/43986231-3b04bde0-9cc3-11e8-8d49-6fe8af141d8c.png">

[2018-08-12 16:13] Saallen opened #1054 "Art + Data experience"
Content submitted by @moz-exhibit

@KevZawacki can you please review for copy editting?

The Art+Data experience, part of the Mozilla Artists Open Web project, engages artists, designers, technologists and researchers in an artistic exploration around a healthy web. With an online gallery (https://foundation.mozilla.org/opportunity/artists-open-web) and an exhibition during MozFest, Art+Data will

[2018-08-13 18:31] sabrinang commented on #1017
@consuelamckenzie have you reviewed and is this issue complete?

[2018-08-13 18:32] sabrinang commented on #1013
@marcwalsh any updates? moving to this milestone

[2018-08-13 18:37] Saallen commented on #998
@marcwalsh  we have two new wranglers for Queering MozFest- will send you their details separately

[2018-08-13 18:44] sabrinang commented on #973
@KGorr @TheoChevalier
Can you both connect and see if we can wrap this issue up? Sarah suggested we should share what we have so far.

Moving to this heartbeat.

[2018-08-13 18:48] Saallen commented on #1054
Loving your work @KevZawacki 👍 🎆 🎆

[2018-08-13 18:48] #1054 closed

[2018-08-13 18:50] Saallen opened #1055 "Space page: Update New Experiences"
Experiences to be added to the website

- [x] Art + Data #1054
- [x] Gaming MozFest #1021

[2018-08-13 18:51] Saallen opened #1056 "Gaming MozFest"
Gaming mozfest experience copy

[2018-08-13 18:52] #1056 closed

[2018-08-13 18:52] sabrinang commented on #1020
duplicate https://github.com/mozilla/mozillafestival.org/issues/1054

[2018-08-13 18:52] #1020 closed

[2018-08-13 18:55] sabrinang commented on #1053
@zee-moz Can you provide copy for a get tickets CTA on the Foundation website? see https://foundation.mozilla.org/participate/ for length reference

[2018-08-13 19:09] sabrinang commented on #1045
Note: email may change here and number is the same

[2018-08-13 19:10] sabrinang commented on #1044
Yes, triaged in this milestone today and changes will be made soon

[2018-08-13 19:35] mmmavis commented on #1008
Closing this ticket since 1) we don't wanna keep tickets lingering 2) we have done everything we could on our end

[2018-08-13 19:35] #1008 closed

[2018-08-13 19:53] mmmavis opened #1057 "Update MozFest schedule on website"
https://mozillafestival.org/why-come-to-mozfest

[2018-08-13 20:09] sabrinang opened #1058 "Schedule Page: Content and Copy"
Instead of linking to guidebook directly, create a /schedule page on our website to describe and contextualize the schedule to include:
- information on how to use the schedule
  - example: accounts on Guidebook aren’t needed in order to view schedule
- information and links for both desktop/webpage version & mobile apps

[2018-08-13 20:10] mmmavis commented on #961
Closing this ticket since the checklist included in this ticket has been completed and implementation has been pushed live.

I will create a new ticket for us to add House events to spreadsheet.

[2018-08-13 20:10] #961 closed

[2018-08-13 20:12] sabrinang opened #1059 "Schedule page: Implement Updates"
Copy from https://github.com/mozilla/mozillafestival.org/issues/1058 to create a new /schedule page.

This is linked from the navigation and our shortlink mzl.la/sched can link to this.

[2018-08-13 20:14] sabrinang opened #1060 "Schedule page: Design Mockups"
Based on copy and content from: https://github.com/mozilla/mozillafestival.org/issues/1058 create a mockup of how this information is designed and formatted on the website.

[2018-08-13 20:16] mmmavis opened #1061 "Add House events to spreadsheet so they can show on website"
Please add House events to [spreadsheet](https://docs.google.com/spreadsheets/d/13M_GgrmvC_2CIjfNS15eUiCPuFb_W62dRFIJWK2o8mA/edit#gid=0) so they can show on website .

Note that the displaying functionality on the website is currently turned off since we have no events to show yet. Once we have at least event added to the sheet please ping me and I'll turn the displaying functionality on so things

[2018-08-13 20:33] sabrinang opened #1062 "Contact Us page: Revise with location copy and info"
https://mozillafestival.org/contact

As we intend to remove the outdated Location page https://github.com/mozilla/mozillafestival.org/issues/1047 (you can reference it live here: https://mozillafestival.org/location), we can revise the _Contact Us_ page to feature location information instead.

[2018-08-13 20:55] sabrinang opened #1063 "Localise Participation Guidelines in Swahili"
We have this text in French, Spanish, German and Hindu already from previous years. This year, we are supporting Swahili so we need to localise this text.

### Copy

[2018-08-13 21:02] sabrinang commented on #1047
Note: Sarah mentioned once we have updated the Contact Us page with location information we can _remove_ the /location page.

[2018-08-13 23:36] KGorr commented on #973
Will do and will post an update soon.

[2018-08-14 09:04] consuelamckenzie commented on #1017
@jcbarajas can you review and comment.

[2018-08-14 10:23] Saallen opened #1065 "Fringe event page"
@sabrinang @mmmavis
The fringe event page is updated and the URL live -but not accessible from the website.
Can you remove tweet mozfest from the bottom nav bar and have fringe page here instead?

[2018-08-14 12:36] Saallen commented on #1062
@sabrinang
On the contact page please update
- [ ]  If the footer says get in touch- we should amend the title of the page to be get in touch or amend the footer to match get in contact header
-[ ]. We should add addresses of MozFest house and MozFest weekend here
- [ ] remove sign up for emails section

[2018-08-14 16:14] jcbarajas commented on #1017
Looks great. Can we have a version where the "Hi Jessie" line is deleted, and it starts with "You're invited..." We're going to include in personal 1:1 emails to several funders.

[2018-08-14 16:25] sabrinang commented on #1017
Yeah, the image is just the screenshot example I used but whoever is writing/sending the email can change the copy since the image is independent of it.

[2018-08-14 16:51] jcbarajas commented on #1017
Great! I appreciate it. I'm good with it then.

On Tue, Aug 14, 2018 at 9:25 AM, sabrinang <notifications@github.com> wrote:

--
*Juan Barajas*
Director of Partnerships

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* +1(415) 297-7309
*www.mozillafoundation.org <http://www.mozillafoundation.org>*

[2018-08-14 22:34] mmmavis commented on #1044
Done! https://mozillafestival.org/

[2018-08-14 22:34] #1044 closed

[2018-08-14 22:34] mmmavis commented on #1057
Fixed! https://mozillafestival.org/why-come-to-mozfest

[2018-08-14 22:34] #1057 closed

[2018-08-14 22:35] mmmavis commented on #1022
Done! https://mozillafestival.org/team/wranglers

[2018-08-14 22:35] #1022 closed

[2018-08-14 22:35] mmmavis commented on #1052
Updated! https://mozillafestival.org/guidelines

[2018-08-14 22:35] #1052 closed

[2018-08-14 22:36] sabrinang commented on #1017
Thanks all! Closing this issue 👍

[2018-08-14 22:36] #1017 closed

[2018-08-14 22:37] mmmavis commented on #1055
Art + Data description has been added to the site: https://mozillafestival.org/spaces . I'm gonna close this ticket since description for "Gaming MozFest" is still WIP and we already have a separate ticket for that [here](https://github.com/mozilla/mozillafestival.org/issues/1023)

[2018-08-14 22:38] mmmavis commented on #1023
Copy ticket is here: https://github.com/mozilla/mozillafestival.org/issues/1021

[2018-08-14 22:39] mmmavis commented on #1055
Reopening - didn't realize [this ticket](https://github.com/mozilla/mozillafestival.org/issues/1021) is for wrangler bio & photo, not for adding the experience description

[2018-08-15 14:19] KGorr commented on #973
Update: I'll be publishing the finished translations today. The other Spanish should be done soon (waiting on the team return from holiday).

[2018-08-15 16:53] zee-moz commented on #1053
@sabrinang OK if i get you to this by Friday?

[2018-08-15 16:55] sabrinang commented on #1053
@zee-moz Yup, sounds good

[2018-08-15 20:08] KGorr commented on #973
Updated translations added here: https://docs.google.com/document/d/1jTn78OyXn0SiMrz26CWXzeh-NbQQ7aiFAwV-GhuWFtA/edit#

[2018-08-15 21:28] mmmavis opened #1066 "Remove last year's wranglers' access to Guidebook"
Remove last year’s wranglers’ access to Guidebook. https://builder.guidebook.com/#/organizations/3408267/users

[2018-08-16 18:41] Saallen commented on #998
@mmavis can you edit Winnies request to remove the line from her bio as above?
"She is currently a safety supervisor at Mpesa Foundation Academy, Kenya"

If you could do this today as she is anxious to see it editted. Thanks

[2018-08-16 22:44] mmmavis commented on #998
@Saallen k doing that edit now. @Saallen if it's something urgent it'd be better to have a separate ticket and have it assigned to me. That way I will notice the ping sooner since I don't usually check GitHub tickets that aren't assigned to me as my inbox gets pretty crazy every day with all the GitHub notifications. 😉

[2018-08-16 22:55] mmmavis commented on #1065
Sure. What icon should we use for that fringe page link on footer? @sabrinang (fyi we have font awesome v4 linked to our site)

[2018-08-17 20:25] gideonthomas commented on #998
cc @gideonthomas

[2018-08-17 23:37] mmmavis commented on #1066
Done.

I've removed everyone except Sarah, Marc, Esme, Sabrina, and myself. All of us have admin rights on our Guidebook Mozilla Foundation account.

/cc @marcwalsh as fyi

[2018-08-17 23:37] #1066 closed

[2018-08-18 09:38] consuelamckenzie commented on #1066
Hi Mavis,

Can you remove Esme and add me?

Consuela

On Sat, 18 Aug 2018, 00:38 Mavis Ou, <notifications@github.com> wrote:

[2018-08-18 14:03] gideonthomas commented on #1065
Will assign to dev once we have an icon for the fringe link in the footer. This will replace the "Tweet MozFest" footer element.

[2018-08-18 14:30] gideonthomas commented on #1058
@zee-moz are we able to get copy for this by Tuesday Aug 21?

[2018-08-18 14:35] gideonthomas commented on #1024
Hi @KevZawacki, are you able to provide an estimate on when this copy might be ready?

[2018-08-18 14:38] gideonthomas commented on #1061
@lucieclick, just checking in again - do you have any updates on this?

[2018-08-18 14:45] gideonthomas commented on #1027
@sabrinang, who can be responsible for gathering this data here? Can we do it in sets so that we add a set of sponsors once per heartbeat? The data collection process can happen throughout each heartbeat though.

[2018-08-18 14:48] gideonthomas commented on #1026
@sabrinang does https://github.com/mozilla/mozillafestival.org/issues/1059 cover the first point? If so, can we scope this issue to just be about the link to the printed guide, and assign someone to provide copy?

[2018-08-18 14:50] gideonthomas commented on #1025
@zee-moz is it possible to get copy for this by the end of next week?

[2018-08-18 14:59] gideonthomas commented on #1010
Hi @consuelamckenzie, the copy for that footer has been provided by our Mozilla communications team to be used on all of our websites (e.g. we use it in our main [Mozilla Foundation site](https://foundation.mozilla.org/) as well). As such, it doesn't seem like it's a typo in the text and the second "the" is intentional.

As Matthew Willse mentions, if you would like to propose this change so that

[2018-08-18 15:13] gideonthomas commented on #856
@sabrinang, is this something we want to still do? If so, might be stating the obvious here, but for curation purposes every one of those entries needs to have a tag like "mozfest 2018"

[2018-08-19 06:12] consuelamckenzie commented on #1010
Hi @gideonthomas, If the footer copy is being used across Mozilla websites and the copy is approved there seems little point in changing this. Closing this issue.

[2018-08-19 06:12] #1010 closed

[2018-08-20 16:39] sabrinang commented on #1027
@gideonthomas

The fundraising team @jessiekeating and @jcbarajas are gathering sponsors for MozFest 2018 so they will provide content a new 2018 section on https://mozillafestival.org/team/sponsors

We have not coordinated how often we want to update the page or when but we can update in sets each heartbeat if we have content ready.

[2018-08-20 16:45] sabrinang commented on #1026
@gideonthomas

Yes, the other issue does cover linking to the schedule now.

+1 this issue can be about uploading the printed festival guide https://github.com/mozilla/mozillafestival.org/issues/1031 (which will be finalized Oct 5) on to https://issuu.com/mozfest so it can be linked to with provided copy.

[2018-08-20 17:00] sabrinang commented on #856
@gideonthomas I’m unsure if this is something we want to do this year and where it will be linked from.

This would need further discussion if we want to include something like this it should have a curator (example: the artist open web https://foundation.mozilla.org/opportunity/artists-open-web/) and we would also need to promote it to be used so we can curate tags like ‘mozfest 2018’.

[2018-08-20 17:32] gideonthomas commented on #1065
Awesome, thanks @sabrinang.

Assigning to @mmmavis to use the `fa-calendar` icon to link to the fringe events page. This will replace the "Tweet Mozfest" item in the bottom navigation.

[2018-08-20 17:36] Saallen commented on #1021
Still waiting on the description

[2018-08-20 17:38] Saallen commented on #1065
I think the calendar icon looks a little confusing and I would expect to see the schedule here

[2018-08-20 17:45] sabrinang commented on #1065
@Saallen Would you prefer a list icon instead of a calendar to represent a schedule better?
![image](https://user-images.githubusercontent.com/2492510/44356922-8ed86a80-a465-11e8-9076-95411a4b0d17.png)

I just assumed there would be an event listing or calendar since [the page](https://mozillafestival.org/fringe) includes the line "_Add your event to the MozFest Fringe calendar_"

[2018-08-20 18:38] Saallen commented on #1048
@KevZawacki can you share what you have as we need to start promoting and preparing the page?

[2018-08-20 18:48] Saallen commented on #1062
Yes,-please-

[2018-08-20 19:56] gideonthomas commented on #1048
Adding to @Saallen's suggestion, it would be good to add some content now and then we can update the content once every week if there are any updates.

[2018-08-20 20:50] sabrinang opened #1068 "Location of MozFest areas at Ravensbourne"
We need to confirm areas so we can display them on guidebook and printed wayfinding materials.

Main content:
- Floor number for spaces (thematic learning hubs)
- Floor number or location for experiences (if these have a physical location)
- Floor and room number of accepted sessions

Other content:
- Registration
- Dialogues & Debates Stage
- Main Stage
- #MozHelp
- Quiet Space
- Lunch
- Info Boo

[2018-08-20 20:56] sabrinang commented on #1068
This will help inform these design assets:
Wayfinding: Floor Plan Maps https://github.com/MozillaFoundation/mozfest-design-2018/issues/42
Floor Stickers https://github.com/MozillaFoundation/mozfest-design-2018/issues/60
Space and Floor Banners https://github.com/MozillaFoundation/mozfest-design-2018/issues/41

[2018-08-20 21:22] mmmavis commented on #1066
yup just did 👍

[2018-08-21 10:29] consuelamckenzie commented on #1027
Production and the sponsorship team meet on Fridays, we will discuss and update this feed with the forward plan. @gideonthomas @sabrinang @jcbarajas @jessiekeating

[2018-08-21 12:45] marcwalsh opened #1069 "Schedule App Content Meta-Ticket"
For the Mozilla Festival 2018 guide on Guidebook, we've started this year's content by copying over data from the 2017 guide.

Various updates are needed on the guide for 2018. This ticket will house all major and minor changes, major changes will have their own ticket.

If anyone has feedback about content from last year's guide please feel free to comment on this thread.

---

## Content Updates

[2018-08-21 12:47] marcwalsh commented on #1069
Looping in @Saallen @consuelamckenzie @zee-moz @mmmavis

Feel free to jump in - the majority of this content will hopefully be dervied from the Printed Festival Guide Content (#1031)

[2018-08-21 13:04] marcwalsh opened #1070 "Google Search Console Access 🕵️‍♂️"
Hey @mmmavis,

It looks like we haven't attached the domain to Google's [Search Console](https://www.google.com/webmasters/tools/home?hl=en). It just requires a HTML tag to be added to the header of the home page.

This will allow us to be able to review the SEO data Google has on us and hopefully make some nicer looking rich cards and remove pages from being searchable.

When you have a free mome

[2018-08-21 13:30] KevZawacki commented on #1024
Hi @gideonthomas @sabrinang @Saallen

Copy for 2018 Dialogue & Debates speakers is complete and ready for the website:

https://docs.google.com/document/d/1RelFJevDXLSdam_a8yqwhFRYyM3juPDlJ4w74jlYizs/edit#

Headshots can be found here: https://drive.google.com/drive/folders/1uz7gEXQOSy8JaQc-BUQjuNJ1p_FlHWza

[2018-08-21 13:31] KevZawacki commented on #1048
Content is ready 👍  Details in this ticket: https://github.com/mozilla/mozillafestival.org/issues/1024#issuecomment-410049514

[2018-08-21 14:11] gideonthomas commented on #1048
Awesome, thank you so much @KevZawacki!

[2018-08-21 14:38] gideonthomas commented on #1027
Thanks @consuelamckenzie, would you be able to take point on that and update this thread as content comes in? On the website, we will take the content from this ticket and update it once every two weeks.

[2018-08-21 14:53] gideonthomas commented on #1048
Once the copy has gone through final review, I will link it here to work on.

[2018-08-21 19:44] sabrinang commented on #1024
@gideonthomas If we have 2018 speakers ready, we should display it on the home page too. We might want to file a separate ticket though since that the content there is formatted differently than the speakers page itself and the heading/sentence on home page would change along with it.

When this page is updated the _Speakers_ link will appear in between _Why Come to MozFest_ and _Spaces_. With the

[2018-08-21 20:28] gideonthomas commented on #1024
Thanks @sabrinang, I will file a followup dev ticket for the homepage and update the speakers dev ticket once the copy has been approved. Will port over your design suggestions to those tickets.

[2018-08-21 20:58] gideonthomas commented on #1026
Perfect, I put this in the final milestone for MozFest since it's a small task that is blocked by content and production of the printed guide.

[2018-08-21 21:19] alanmoo commented on #1053
This page is being relaunched this week, and will have smaller content cards for each item. Let's keep it around 35 words.

![](https://user-images.githubusercontent.com/1068783/44357681-7d905d80-a467-11e8-9f4a-aabff4ebf911.png)

[2018-08-21 21:29] gideonthomas commented on #998
Hi @marcwalsh, thanks for being proactive with this. Would you be able to update the following in the spreadsheet as soon as possible, latest by the end of the week?

1. Photo for Mark Boas
2. Photo for Zannah Marsh (I've also reached out personally)
3. Photo for Edoardo Viola needs to be accessible (I'm getting a permission issue)
4. Photo from Mariano Blejman is incorrect
5. Photo for Simone Ram

[2018-08-21 21:33] zee-moz commented on #998
@gideonthomas I sent my photo to @sabrinang last week!
will forward to you

[2018-08-21 21:36] gideonthomas commented on #1029
@marcwalsh are there any updates on this?

[2018-08-21 21:38] gideonthomas commented on #1013
@marcwalsh any updates on this?

[2018-08-21 22:17] sabrinang commented on #998
@gideonthomas Sorry I haven't updated this issue I have exported cropped photos of:
- Kade Morton
- Natasha Pillai
- Tendai Tirivanhu
- Zannah Marsh
- Simone Ram (I got access)
- Edoardo Viola (I got access)
- Mariano Blejman (found same one online)
- Stéphanie Ouillon (photo from last year)
- we have Kevin’s photo from production team page

The 500x500 cropped versions can be found with the other

[2018-08-21 22:36] mmmavis commented on #806
From yesterday's meeting we have decided to create a new GA property that MoFo owns. I'll create a DevOps ticket for it.

[2018-08-22 01:26] mmmavis opened #1071 "[Due Sept. 10] Prepare scripts and spreadsheet to handle accepted proposals"
(Detailed timeline for sessions & schedule app can be found [here](https://docs.google.com/document/d/1ahAMhq_GKBKR1velvE6iQgrZBC07OA6xoXpdaU3w8I4/edit#).)

---

Curation process ends on September 10.
🔹 By September 10, prepare script that does the following for **ACCEPTED SESSIONS** .
🔹 **Sheet needs to be ready by September 12th.**

# Tech requirements

## Specs for the script(s)
- look for [ope

[2018-08-22 01:36] mmmavis opened #1072 "[Due Sept. 10] Prepare scripts and spreadsheet to handle unsuccessful proposals"
(Detailed timeline for sessions & schedule app can be found [here](https://docs.google.com/document/d/1ahAMhq_GKBKR1velvE6iQgrZBC07OA6xoXpdaU3w8I4/edit#).)

---

Curation process ends on September 10.
🔹 By September 10th, prepare script that does the following for **UNSUCCESSFUL SESSIONS** .
🔹 **Sheet needs to be ready by September 12th.**

GitHub tickets without milestone gets auto closed by scri

[2018-08-22 12:10] Saallen commented on #1024
Thanks Kevin for sharing and copy looks great

I have some comments on how the timing of each block will be signified as the way its laid out currently appears that as an audience member I would only show up at 11:35 for the panel on Saturday, rather than be there for the full hour to see other speakers. but would like to see how design shares this info on red pen

[2018-08-22 12:50] KevZawacki commented on #1024
@Saallen Ah, fully understand! Want me to change all times to the **block** start time, and not the **individual speaker** start time? Happy to do that.

[2018-08-22 15:10] gideonthomas commented on #806
Property created, @mmmavis let me know if you aren't able to access it.

Tracking ID: `UA-87658599-15`

[2018-08-22 15:14] marcwalsh commented on #806
@gideonthomas @mmmavis - would it be possible to use this GA property to authenticate Google Search Console as well. I created a separate ticket here for it #1070 - but if we have GA access we can just use that.

(Again no rush with this, it's still a nice to have if either of you have time.)

[2018-08-22 15:21] gideonthomas commented on #806
@marcwalsh yeah, I can do it right now

[2018-08-22 15:31] gideonthomas commented on #806
Looks like GA needs to be added to the site before I can authenticate Search Console. Once this ticket is done, I can do that.

@mmmavis, just so that you only read the last comment, tracking ID is: `UA-87658599-15`

[2018-08-22 15:35] gideonthomas commented on #998
Perfect, thanks for the clarification @sabrinang, @marcwalsh are those three doable by the end of the week?

[2018-08-22 16:40] marcwalsh commented on #1013
This is complete and ready to use. Once @lucieclick is back from PTO I'll review it with her and make any additional changes.

https://ti.to/Mozilla/event-x-mozfest-house/admin

[2018-08-22 16:42] marcwalsh commented on #1069
After speaking with @consuelamckenzie we're also looking to add these additional pages:

- Wranglers
- FAQs
- Feedback Form

I'll update the ticket above with these new tasks.

[2018-08-22 18:36] mmmavis commented on #1065
Live: https://mozillafestival.org/ 'Fringe' has been added to nav bar.

[2018-08-22 18:36] #1065 closed

[2018-08-22 18:48] mmmavis commented on #806
@gideonthomas you are unblocked for the Search Console ticket! Please don't close this ticket yet as I still need to take of our the DNT part.

[2018-08-22 18:49] mmmavis commented on #1070
@gideonthomas can you give me access to the Search Console Property once it's been set up? Thanks!

[2018-08-22 18:59] gideonthomas commented on #1070
will do!

[2018-08-22 19:03] gideonthomas commented on #806
ok, thanks @mmmavis!

[2018-08-22 19:28] gideonthomas commented on #1045
@Saallen, are we localizing the participation guidelines in Swahili?

[2018-08-22 20:26] gideonthomas opened #1074 "[DESIGN] Contact Us page: Update copy"
Content ticket: https://github.com/mozilla/mozillafestival.org/issues/1062

All changes happen to `/contact`

TODOs:
1. Change title to "GET IN TOUCH"
2. Remove the text "Sign up here to receive festival news and updates by email."
3. Add addresses to MozFest House, and MozFest under a "Contact Info" section (copy by Sarah)

[2018-08-22 20:29] gideonthomas opened #1075 "[DEV] Update Contact Us page"
Design ticket: https://github.com/mozilla/mozillafestival.org/issues/1074

All changes happen to /contact

Design comp: https://redpen.io/tr7cd472386695f4a8

TODOs:
1. Change title to "GET IN TOUCH"
2. Remove the text "Sign up here to receive festival news and updates by email."
3. Add addresses to MozFest House, and MozFest Weekend under a "Contact Info" section
4. Add emergency info text under a

[2018-08-22 21:53] mmmavis opened #1076 "Generic comment to leave on unsuccessful proposal GitHub ticket"
When curation processes ends we will have a script that
- goes through all proposal GitHub tickets * without * milestone (unsuccessful proposals),
- leaves a generic comment,
- and closes that ticket.

This is the copy we used last year.

[code]

Screencap from last year:
<img width="779" alt="image" src="https://user-images.githubusercontent.com/2896608/44493001-48c50780-a61b-11e8-883b-ef8045619f

[2018-08-22 21:55] gideonthomas commented on #992
Hi @TheoChevalier, are there any updates on this?

[2018-08-22 21:58] gideonthomas commented on #1023
Closing to have a single ticket with all the content updates to the `/team` page

[2018-08-22 21:59] #1023 closed

[2018-08-23 04:03] Saallen commented on #1045
yes @gideonthomas

[2018-08-23 12:00] marcwalsh commented on #1076
I think lets remove the second 'Thank you' - @Saallen can you review please?

[code]

[2018-08-23 12:05] marcwalsh commented on #531
@gideonthomas @mmmavis - On Private Browsing and a VPN it's looks as though the search listings are now up to date. Shall we close this?

<img width="644" alt="screen shot 2018-08-23 at 13 04 04" src="https://user-images.githubusercontent.com/30226684/44524383-3909f980-a6d5-11e8-9f37-dcb0d73c529f.png">

[2018-08-23 12:07] marcwalsh commented on #1070
@gideonthomas could you grant access for me as well please?

Cheers! :)

[2018-08-23 13:15] marcwalsh commented on #998
@gideonthomas I've sent out emails to everyone asking for a bio and photo by the end of the week. I'll update the spreadsheet and list below as they are coming through.

---

- [ ] Mark Boas (Photo)
- [x] Sarah Aoun (Bio and Photo)
- [ ] Marnie Pasciuto Wood (Bio and Photo)
- [ ] Ashlyn Sparrow (Bio and Photo)
- [ ] Rebecca Ricks (Bio and Photo)
- [ ] Hang Do Thi Duc (Bio and Photo)

[2018-08-23 14:48] gideonthomas commented on #1029
Ok perfect, thanks @marcwalsh! Just so I understand the scope of work, are we embedding this video (wherever it's hosted) on the MozFest website, or are we just going to link to it, or something else?

[2018-08-23 14:49] gideonthomas commented on #998
That's great, thanks @marcwalsh! We can evaluate what's remaining by the end of the week and add them in the next heartbeat if necessary

[2018-08-23 14:54] gideonthomas commented on #1070
Added @marcwalsh, @mmmavis, and @Saallen. Let me know if anyone needs access (and what type of access - view or view/edit).

[2018-08-23 14:54] #1070 closed

[2018-08-23 14:59] gideonthomas commented on #1063
Hi @TheoChevalier, any updates on this?

[2018-08-23 15:06] gideonthomas commented on #1045
Pushing this to the next milestone as we're blocked on `sw` translations

[2018-08-23 15:28] gideonthomas opened #1077 "[Dev] Update team bios and photos"
Content ticket: https://github.com/mozilla/mozillafestival.org/issues/998

Will add the content to be updated in this ticket.

Blocked on content being finalized. We might not have all the wrangler bios ready, however, if this issue has already been started, we will add the remaining wrangler bios in the next heartbeat.

[2018-08-23 15:33] gideonthomas commented on #1055
Moving to the next heartbeat since the content isn't ready for this.

[2018-08-23 15:34] gideonthomas commented on #1025
Moving to the next heartbeat.

[2018-08-23 15:52] #1062 closed

[2018-08-23 15:58] gideonthomas commented on #973
Hi @KGorr, are we only waiting on Swahili translations?

[2018-08-23 17:01] KGorr commented on #973
@gideonthomas - correct!

[2018-08-23 17:09] gideonthomas commented on #973
awesome, thanks! Do we have a deadline for this? And I assume you will coordinate with Theo to get those translations?

[2018-08-24 14:47] Saallen commented on #1076
Approved

[2018-08-24 15:09] gideonthomas commented on #1074
Lol sorry, what I said wasn't clear. I just meant that the title "Contact Info" was determined by Sarah.

[2018-08-24 15:11] gideonthomas commented on #1075
@mmmavis this should be ready to work on.

[2018-08-24 17:36] mmmavis commented on #1076
Thanks!

[2018-08-24 17:36] #1076 closed

[2018-08-24 17:59] gideonthomas commented on #1047
Consolidating this into https://github.com/mozilla/mozillafestival.org/issues/1075.

[2018-08-24 17:59] #1047 closed

[2018-08-24 18:13] mmmavis opened #1078 "[Due Aug. 30] Accepted proposals spreadsheet - finalize columns to include"
By August 30, please provide finalized list of columns to include on the to-be-created spreadsheet of accepted proposals.

Please reference to lists below and decide what should be included in the new spreadsheet.

## Columns in the master spreadsheet of ALL proposals

- uuid
- timestamp
- githubissuenumber
- firstname
- surname
- email
- organisation
- twitterhandle
- githubhandle
- otherfacilita

[2018-08-24 18:15] mmmavis opened #1079 "[Due Aug. 30] Unsuccessful proposals spreadsheet - finalize columns to include"
By August 30, please provide finalized list of columns to include on the to-be-created spreadsheet of unsuccessful proposals.

Please reference to lists below and decide what should be included in the new spreadsheet.

## Columns in the master spreadsheet of ALL proposals

- uuid
- timestamp
- githubissuenumber
- firstname
- surname
- email
- organisation
- twitterhandle
- githubhandle
- otherfaci

[2018-08-24 19:20] #1053 closed, assigned to zee-moz, caltrider

[2018-08-24 23:25] TheoChevalier commented on #973
Yes, also taking this opportunity to clarify that these are good to have, and higher priority requests can (and are) stealing team’s focus, so we shouldn’t block on this and keep publishing what’s ready.

[2018-08-24 23:25] TheoChevalier commented on #1063
Hi!

Swahili translations will appear here:
https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2017/mozfest_design_assets.lang&action=translate&show
And here: https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2017/mozfest_design_assets.lang&action=review

Status can be tracked here: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other

[2018-08-24 23:25] TheoChevalier commented on #992
Hi,

Swahili has been completed in the meantime, but please feel free to use what’s ready, we shouldn’t block on this. And I think most of this content is now outdated since the cfp is now closed.

[2018-08-25 21:03] KGorr commented on #973
@gideonthomas - yes, I am working with @TheoChevalier. And all current translations are live on the cheat sheet, so no blockers.  If we are able to get the remaining translations, the only deadline is the week of the festival. Thanks all!

[2018-08-28 14:55] Saallen commented on #1061
cc in @marcwalsh for assisting Lucie gather that info

[2018-08-28 16:10] Saallen commented on #1074
@gideonthomas @sabrinang
We have now positioned this page as a "Get in contact" so we need to share ways for people to contact us.....email, twitter, location and phone number

The sectio heading **Make it better** doesnt make any sense to this page

Can you amend this section?

- [ ] Remove Make it better-
- [ ]  Amend title to **Email us**
Please add-
- [ ] You can reach us with all enquiries at

[2018-08-28 17:48] gideonthomas commented on #1074
Hi @sabrinang, I've moved it over to the next heartbeat to accommodate this change. Just to re-iterate what @Saallen mentions above, I added comments in the redpen. Let me know if you have any questions.

[2018-08-29 16:48] consuelamckenzie opened #1080 "Sponsorship webpage update request"
Can you please add on our website sponsor page this click through link on the Sticker Mule logo; https://mule.to/mozfest-2018?

Thanks
Consuela

[2018-08-29 18:56] gideonthomas commented on #1080
Hi @consuelamckenzie, is that link supposed to end up on https://www.stickermule.com/uses/hexagon-stickers?utm_source=MozFest-2018&utm_campaign=MozFest-2018-sponsorship&utm_medium=referral? Or is it supposed to redirect to the main sticker mule page?

Also, just want to clarify that this link is intentional...none of the other sponsors on the sponsor page links to any website, sticker mule will be

[2018-08-29 19:13] Saallen commented on #1024
Yes- just by the block

[2018-08-29 19:35] Saallen opened #1081 "Sponsors 2018"
We have started to recieve new sponsors for 2018.

Please add new logos and links to be added to the sponsorship page here as new issues.
Note that logo should be high res.

[2018-08-29 19:41] #953 closed

[2018-08-29 19:55] mmmavis opened #1082 "[Due Sept. 6] Provide finalized list of Ravensbourne rooms/spaces"
**By September 6** - Please provide finalized list of Ravensbourne rooms/spaces that wranglers can assign sessions to .

[2018-08-29 19:58] mmmavis opened #1083 "[Due Sept. 6] Provide finalized list of session block start time & end time"
**By September 6** - Please provide finalized list of session block start time & end time.

[2018-08-29 20:03] zee-moz commented on #1025
@gideonthomas @sabrinang @Saallen can you let me know the word limit for this? Are we also adding images or anything else? And do you have a blog post in mind that you're hoping to link to, or is that also part of the content that needs creating? :)

[2018-08-29 20:06] Saallen commented on #1025
Hey lets go with 120 words max

[2018-08-29 20:06] Saallen commented on #1025
Let me answer the blog question tomorrow

[2018-08-29 20:16] marcwalsh commented on #1078
## Columns To Transfer from Master Spreadsheet

_Strikethrough means do not include, bold means I have repositioned in the table_

- uuid
- ~~timestamp~~
- **sessionname**
- **description**
- githubissuenumber
- firstname
- surname
- email
- organisation
- twitterhandle
- githubhandle
- otherfacilitator1firstname
- otherfacilitator1surname
- otherfacilitator1email
- ~~otherfacilitator1githubhandle

[2018-08-29 20:42] marcwalsh commented on #1079
## Columns required from Master Spreadsheet

- githubissuenumber
- firstname
- surname
- email
- otherfacilitator1firstname
- otherfacilitator1surname
- otherfacilitator1email
- otherfacilitator2firstname
- otherfacilitator2surname
- otherfacilitator2email
- otherfacilitator3firstname
- otherfacilitator3surname
- otherfacilitator3email
- sessionname
- privacypolicy
- receiveemailupates

## Require

[2018-08-29 21:15] gideonthomas commented on #1081
Sorry @Saallen, I made a mistake, we're tracking all the logos in https://github.com/mozilla/mozillafestival.org/issues/1027 and I'll file dev tickets every two weeks.

[2018-08-29 21:15] #1081 closed

[2018-08-29 21:32] gideonthomas commented on #1027
@consuelamckenzie just a note from @Saallen, the photos need to be high res. Could you also provide an update (based on feedback from @jcbarajas) on how you would like the layout to be (e.g. are we showing tiers of sponsors, is there an order to the sponsors, etc.).

[2018-08-29 21:35] gideonthomas commented on #1080
Also, @consuelamckenzie, can you comment in https://github.com/mozilla/mozillafestival.org/issues/1027 with a list of sponsors and links (whatever you have so far, including this one to stickermule)? Ideally we track all the sponsorship data in that ticket.

[2018-08-29 21:35] #1080 closed

[2018-08-29 22:03] gideonthomas opened #1084 "Homepage 2018 speakers"
Now that we have the speakers list from https://github.com/mozilla/mozillafestival.org/issues/1024, we should feature them on the homepage as well like last year.

What we need input on:
1. What layout would you like for the speakers? Does this work (with the new speakers): https://redpen.io/cs6aa0082d55d20d65

[2018-08-29 22:16] gideonthomas commented on #1063
cc @Saallen to set a deadline for Swahili translations.

[2018-08-29 22:31] gideonthomas commented on #1031
Deadline for content and review set for September 9, 2018.

[2018-08-29 23:19] mmmavis commented on #1079
Thanks @marcwalsh 🍻

[2018-08-29 23:19] #1079 closed

[2018-08-30 13:27] KevZawacki commented on #1084
Hi @gideonthomas

Yep, a layout similar to the current one 👍

We have 18 speakers this year, so perhaps we arrange them 4x4, with a row of 2 at the bottom? And, under their headshots we can put their title and Twitter handle. Should I put together a copy doc with that info?

[2018-08-30 15:29] gideonthomas commented on #1084
Thanks @KevZawacki! We can use content from the speakers page doc you've already created, so don't worry about it.

@sabrinang, does 4x4 work or will it look too crowded?

[2018-08-30 16:56] gideonthomas commented on #1084
Hey @KevZawacki, what "title" do we use for each of the speakers? I might be wrong about what we're taking out from the content from the speakers page haha (sorry). Would you mind creating a copy doc for this?

[2018-08-30 19:37] gideonthomas commented on #1077
# Content to update

## Production Team

| Update Type | Name | Title | Photo | Bio |
| --- | --- | --- | --- | --- |
| ADD | Zannah Marsh | Content Strategy | [Link](https://drive.google.com/file/d/1buEIhrmZTgvvREQJj499l3jHoJMMIQeY/view?usp=sharing) | Zannah has created interactive museums exhibits, organized global hackathons, developed collaborative workshops, and written and published her own

[2018-08-30 19:44] gideonthomas commented on #1024
@sabrinang, this should be ready for a design iteration now. Can you work with @KevZawacki to figure out how we want to showcase these speakers on the `/speakers` page (even if it is going to be the same as last year)? Let me know if you want me to file a new ticket if this is too noisy.

[2018-08-30 20:15] KevZawacki commented on #1084
Hi @gideonthomas, certainly. Copy [here](https://docs.google.com/document/d/1vc8pLMbPS1raShBGh-rcPrglrNGjWenZHjfkzBF5rcs/edit); let me know if you have any questions.

[2018-08-30 20:33] gideonthomas commented on #1084
Thank you so much! @sabrinang, can we do this in a 4x4 grid?

[2018-08-30 22:26] mmmavis commented on #1083
@marcwalsh thanks for the note. Um I'll have to investigate and see what we can do. I really wanna avoid having a fancy/"smart" spreadsheet like what we had 2-3 years ago as that led to numerous human errors when people edited the sheet. The scripts I had prepared became not useful in end and MozFest production team and I had to do a ton of manual fixes afterwards... I'd like to avoid that from ha

[2018-08-31 00:29] sabrinang opened #1086 "QA: Unclear Location"
A mozillian on slack pointed out "... but can't see recommendation for hotel or where the conference will be held on the mozfest website?" and I realized we do not have **Ravensbourne University** on the homepage anymore when the copy updated.

I think we can add it near where North Greenwich is:

![image](https://user-images.githubusercontent.com/2492510/44885645-dc7b8100-ac76-11e8-9262-d1c30457a

[2018-08-31 17:44] Saallen commented on #1021
Gaming MozFest experience-
Every day, many of us are pressured into offering up pieces of personal data in order to participate on the internet. To sign up for a social network we need to provide our full name. To download a gaming app we need to provide access to our phone’s contact list. What kinds of trade-offs do we make when we hand over that data? What are we really getting in exchange? How

[2018-08-31 18:25] mmmavis opened #1087 "[Due Sept. 12] Share spreadsheet of accepted proposals with MozFest production team"
Depended on #1071

**Due Sept. 12** - Share spreadsheet of accepted proposals with MozFest production team

/cc @marcwalsh as fyi

[2018-08-31 18:26] mmmavis opened #1088 "[Due Sept. 12] Share spreadsheet of unsuccessful proposals with MozFest production team"
Depended on #1072

**Due Sept. 12** - Share spreadsheet of unsuccessful proposals with MozFest production team

/cc @marcwalsh as fyi

[2018-08-31 18:28] Saallen commented on #1027
I can responde in regards to layout- yes we would like them in their tiers @gideonthomas

[2018-08-31 18:31] sabrinang commented on #1084
I made some design mockups for the speakers on the homepage:

4x4 mockups: https://redpen.io/sy7a213d99ce724452
- with the margins and type sizes currently, this may only fit on a wide desktop screen (line width is too narrow for long twitter handles)

3x3 mockup: https://redpen.io/wj86294c0b5763fba0
- this is more likely to appear on smaller viewports and I would recommend this so the line length

[2018-08-31 18:39] gideonthomas commented on #1084
@Saallen, which mockup would you prefer?

[2018-08-31 18:43] gideonthomas commented on #1027
Awesome, thanks @Saallen, would you also be able to check out the link for Sticker Mule posted above? It links to a hexagon sticker website on stickermule instead of the main stickermule page.

[2018-08-31 18:47] gideonthomas commented on #1055
Content for Gaming MozFest experience:

[2018-08-31 18:47] #1021 closed

[2018-08-31 18:49] Saallen commented on #1084
I like 4x4 better- especially if we are adding another section about Data Done Right

[2018-08-31 18:58] gideonthomas commented on #1084
@sabrinang, would we be able to reduce the font size of the twitter handle slightly so that it fits?

[2018-08-31 19:14] sabrinang commented on #1084
@gideonthomas Yes we can and I checked in with Mavis that we can as well.

[2018-08-31 19:50] sabrinang commented on #1074
Here are design mockups for the contact us page:

option 1: https://redpen.io/tr7cd472386695f4a8
- dividers with feedback near the footer

option 2: https://redpen.io/gm577a2428d0ee5018
- highlighted box for feedback and email/social near the footer

[2018-08-31 19:51] mmmavis commented on #1055
Yay done! https://mozillafestival.org/spaces

[2018-08-31 19:51] #1055 closed

[2018-08-31 20:41] gideonthomas commented on #1074
Thanks @sabrinang! @Saallen, which one looks better to you (personally I prefer option 1)?

[2018-08-31 22:03] sabrinang commented on #1024
I iterated using copy from two talks just to showcase these mockup options:

option 1: https://redpen.io/kn8fcae49339b404c9
- I located the times under the title of the talks for better hierarchy

option 2: https://redpen.io/cu4c572de30b3a4681
- Also has times under talks but this format is more similar to the 2017/2016 sections on https://mozillafestival.org/speakers

[2018-08-31 22:37] mmmavis opened #1090 "[Due End of Sept. 10] Organize MozFest Proposal Repo"
Hi @marcwalsh (pinging you here since I'm not sure who on MozFest production team should be responsible for this)

I'll be running my scripts on September 11 (Tuesday) so please make sure by the end of September 10 (Monday) Pacific Time, [GitHub issues in the proposal repo](https://github.com/MozillaFestival/mozfest-program-2018/issues) are organized in the way that

1. all open issues without mil

[2018-09-03 14:15] marcwalsh commented on #1090
Hey @mmmavis this will be myself and @Saallen checking through on the 10th Sept.

:)

[2018-09-03 14:55] Saallen commented on #1063
I approached three support networks last week to see if we can move this piece forward.
If we dont head back from this by Sept 7th - we should proceed without Swahilli

[2018-09-03 15:00] Saallen opened #1091 "Add wranglers to Gaming experience"
In relation to Space page: Update New Experiences #1055
Gaming mozfest wranglers have been added to the wrangler list and should be added in two place

*  [to this page](https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit#gid=0)
*  to [wrangler page](https://mozillafestival.org/team/wranglers)

- [ ] Rebecca Khan
- [ ] Ashlyn Sparrow
- [ ] Hang Do Thi Duc

@gid

[2018-09-04 10:17] Saallen commented on #1027
Hey @gideonthomas checked and they requested
 logo: https://www.stickermule.com/assets/images/stores/sticker_mule/press/downloads/logo-colored/Sticker-Mule-logo-SVG-e614db0061.zip

link: https://mule.to/mozfest-2018

[2018-09-04 13:02] KevZawacki commented on #1024
Hi @sabrinang,

Thanks! I like option 2.

[2018-09-04 18:02] Saallen commented on #1031
@zee-moz any update here

[2018-09-04 18:02] Saallen commented on #1058
@zee-moz any update here?

[2018-09-04 18:03] Saallen commented on #1025
@zee-moz any update here??

[2018-09-04 18:38] zee-moz commented on #1031
@Saallen @gideonthomas content should be ready for review by 9/6. 9/9 is a Sunday, so is the business day deadline actually 9/10, a Monday?

[2018-09-04 18:42] zee-moz commented on #1058
@Saallen @gideonthomas  I don't believe that this is one of the things that was on my list, per our meeting last week. I see the assignments have changed multiple times. If you want me to do this task, I need more info about the content, as well as word limits.

[2018-09-04 18:45] zee-moz commented on #1058
Current text is here, sent out for review 8/31. @KevZawacki  and @Saallen  reviewed, no response from @Lottarao. If we don't need Lotta's approval, then this is good to go. 👍
https://docs.google.com/document/d/1O1fn5JGI09COZnK8HDLm8sorHYpGkhcErVIsGYqsOro/edit

[2018-09-04 18:47] zee-moz commented on #1025
Draft text is here, sent out for review 8/31. @Saallen @KevZawacki  reviewed, no word from @Lottarao
If we can go ahead without Lotta's feedback, then this is good to go.
https://docs.google.com/document/d/1O1fn5JGI09COZnK8HDLm8sorHYpGkhcErVIsGYqsOro/edit

[2018-09-04 18:54] Saallen commented on #1025
Lets go with Kevin having shared this with Lotta- approved

[2018-09-04 20:00] gideonthomas commented on #1024
@Saallen to make the final decision on which option to use.

[2018-09-04 20:04] gideonthomas opened #1092 "Homepage: Add featured theme"
Content ticket: https://github.com/mozilla/mozillafestival.org/issues/1025

Content: https://docs.google.com/document/d/1O1fn5JGI09COZnK8HDLm8sorHYpGkhcErVIsGYqsOro/edit

Needs design on the homepage to incorporate this content.

[2018-09-04 20:04] gideonthomas commented on #1025
Thanks @Saallen and @zee-moz! Filed design ticket: https://github.com/mozilla/mozillafestival.org/issues/1092

[2018-09-04 20:04] #1025 closed

[2018-09-04 20:07] gideonthomas commented on #1031
yes, if the reviewed content is ready by Monday, that would be great. @Saallen does that work for you?

[2018-09-04 20:19] gideonthomas commented on #1027
Got it! I'll manage this comment to curate all the sponsors in one place. Please continue to add sponsors in this thread.

### Sponsor List
Name | Image | Link |
--- | --- | --- |
Sticker Mule | [Image](https://www.stickermule.com/assets/images/stores/sticker_mule/press/downloads/logo-colored/Sticker-Mule-logo-SVG-e614db0061.zip) | [Link](mule.to/mozfest-2018) |

[2018-09-04 20:28] gideonthomas commented on #1091
@KevZawacki, would you be able to review the three bios for the Gaming MozFest wranglers in this spreadsheet: https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit#gid=0

[2018-09-04 20:35] gideonthomas commented on #1063
This is done! Thanks all :)

[2018-09-04 20:35] #1063 closed

[2018-09-04 20:35] gideonthomas commented on #1045
Done, strings found in https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2017/mozfest_design_assets.lang

[2018-09-04 20:35] #1045 closed

[2018-09-04 20:56] gideonthomas commented on #1084
Awesome! Thanks!

[2018-09-04 20:56] #1084 closed

[2018-09-04 20:58] gideonthomas opened #1093 "Homepage: Update speakers"
Design ticket: https://github.com/mozilla/mozillafestival.org/issues/1084

Design comp: https://redpen.io/sy7a213d99ce724452

Speaker List: https://docs.google.com/document/d/1vc8pLMbPS1raShBGh-rcPrglrNGjWenZHjfkzBF5rcs/edit

One note from the design ticket: Lower the font-size of the twitter handle slightly so that it fits in one line.

[2018-09-04 21:00] gideonthomas commented on #1074
@Saallen, just checking in to find out the status of this.

[2018-09-04 21:03] gideonthomas commented on #1082
Hey @marcwalsh, any updates on this?

[2018-09-04 21:06] gideonthomas commented on #1074
Thanks @sabrinang and @Saallen!

[2018-09-04 21:06] #1074 closed

[2018-09-04 21:11] gideonthomas opened #1094 "[DEV] Update emergency info on contact page"
On `/contact`, we will show a section for "Raising Issues at the Festival" according to https://redpen.io/tr7cd472386695f4a8. We need to update the emergency contact number and email to the copy once we have this information.

[2018-09-05 11:07] KevZawacki commented on #1091
Hi @gideonthomas, I just reviewed and made some small tweaks. All set 👍

[2018-09-05 16:15] gideonthomas commented on #1091
Perfect! Thanks, Kevin!

[2018-09-05 16:16] #1091 closed

[2018-09-05 16:27] gideonthomas opened #1095 "[DEV] Update wrangler bios and photos part 2"
This is the second part (and hopefully final) of updates that need to happen to the team page.

Along with the wrangler bio updates, can you also update the spelling of "Decentralization" on the wrangler page? It should be spelt "Decentralisation" to be consistent with the rest of the website.

## Wranglers

| Update Type | Name | Twitter | Photo | Bio |
| --- | --- | --- | --- | --- |
| UPDATE |

[2018-09-05 16:31] gideonthomas commented on #998
Thanks for all the updates @marcwalsh! Filed the final implementation ticket: https://github.com/mozilla/mozillafestival.org/issues/1095. If there are any other updates that need to happen (e.g. photo for Mark Boas), please feel free to file a new ticket with the content. I'm going to close this ticket for brevity.

[2018-09-05 16:31] #998 closed

[2018-09-06 23:03] zee-moz commented on #1031
@gideonthomas @sabrinang @Saallen

Hi all, here's the document with the [first draft program copy](https://docs.google.com/document/d/1E7hHGmiqRS9ggZR71TQPNEpdY0BlNfi7IiaQTyO4Abk/edit#). A few notes:

- I recommend using an insert to highlight MozFest House activities, and add inserts to those guides distributed before the festival weekend only.  MozFest House is name-checked in the welcome pages,

[2018-09-07 14:34] KevZawacki commented on #1024
Hi @sabrinang and @gideonthomas,

We have a new speaker: Mitchell Baker. Can we update the MozFest homepage and speaker page designs-in-progress accordingly? I've added Mitchell's copy to all relevant copy documents.

[2018-09-07 17:28] zee-moz commented on #1031
@Saallen I reviewed your suggestions and made edits. i've pinged @KevZawacki about a few stylistic things.

@sabrinang as we are using the shorter descriptions to introduce each wrangler section, we may need some icons for the space graphic (which I think is a nice element, and which we should keep for this year, but I personally wouldn't repeat the exact same copy in the graphic and the heading)

[2018-09-07 17:34] gideonthomas commented on #1024
Will do, thanks @KevZawacki.

@Saallen, would you be able to make the final decision on which option we should go with? option 1 or 2?

[2018-09-07 19:32] Saallen commented on #1095
Further Updates

- [ ] Remove Vojtech from p&s space

- [ ] Add Kristine Grivcova to Digital Inclusion - requested further details

[2018-09-07 19:37] Saallen commented on #1031
This is not completed yet
Needs input from
-[ ]  @KGorr on how to stay engaged
-[ ] @consuelamckenzie  for sponsorship
-[ ] @consuelamckenzie for manifesto
- [ ] Final review by me

[2018-09-07 19:40] Saallen commented on #1024
Happy with @KevZawacki choice option 2

[2018-09-07 20:15] gideonthomas opened #1096 "Bio and photo for Kristine Grivcova"
Tracking issue for the Bio and Photo for the Digital Inclusion wrangler - Kristine Grivcova

[2018-09-07 20:16] gideonthomas commented on #1095
Thanks @Saallen, filed https://github.com/mozilla/mozillafestival.org/issues/1096 for Kristine and updated this ticket for the removal of Vojtech.

[2018-09-07 20:20] gideonthomas opened #1097 "[DEV] Speakers page: Add 2018 speakers"
Migrated from https://github.com/mozilla/mozillafestival.org/issues/1048

Design Comp: https://redpen.io/cu4c572de30b3a4681

Content: https://docs.google.com/document/d/1RelFJevDXLSdam_a8yqwhFRYyM3juPDlJ4w74jlYizs/edit#

Headshots: https://drive.google.com/drive/folders/1uz7gEXQOSy8JaQc-BUQjuNJ1p_FlHWza

[2018-09-07 20:31] KGorr commented on #1031
Added suggestions to my section. Thanks!

[2018-09-09 10:29] Saallen opened #1098 "Content for festival guide"
Mozilla Manifesto Addendum
(suggested word count: @zee-moz to add here

@consuelamckenzie can you get piece together for Wednesday?

[2018-09-10 15:03] gideonthomas commented on #1078
@mmmavis can this ticket be closed?

[2018-09-10 15:12] gideonthomas commented on #1082
Hi @marcwalsh, do we have this content ready?

[2018-09-10 15:13] gideonthomas commented on #1083
@mmmavis, can this ticket be closed or is there work left to do here?

[2018-09-10 15:29] gideonthomas commented on #1061
@mmmavis can this be closed?

[2018-09-10 15:31] gideonthomas commented on #1090
Hi @marcwalsh just wanted to check in and see if this is done? If so can you close this ticket?

[2018-09-10 16:23] Saallen opened #1099 "Festival Guide- Sponsors page"
Sponsors  page

(suggested word count: 190 )

@consuelamckenzie  can you work with @jcbarajas and #Jessie to get this content before Thursday?

[2018-09-10 16:28] sabrinang commented on #954
I made three banner versions for MozFest House event hosts on google slides as a template for them to customize: https://docs.google.com/presentation/d/11xxswOqdsmFf5G9o-2knw0e6tuHKFHDeMoBUOhIhmwU/edit?usp=sharing

It includes instructions to how to use the template and I thought text would be useful to include text and made up some default text:
`Mozilla Festival’s Pre-Week Events`
`October 22-26

[2018-09-10 16:30] gideonthomas commented on #954
Thanks @sabrinang, @Saallen, would you be able to review this by tomorrow?

[2018-09-10 16:33] Saallen commented on #954
Hey @gideonthomas
Looks great but could the banner say

MozFest House partnered events
October 22- 26, 2018 @......

[2018-09-10 16:33] gideonthomas commented on #928
Anything needed to be done here @sabrinang?

[2018-09-10 16:37] sabrinang commented on #928
It already has a photo so I'm assuming we would want to include some colour and/or the wordmark. Would it need any text on it?

[2018-09-10 16:37] gideonthomas commented on #954
Thanks @Saallen, so quick :)

@sabrinang would you be able to update that?

[2018-09-10 16:38] sabrinang commented on #954
Yes, updated to `Mozilla Festival’s Partnered Events`

[2018-09-10 16:53] gideonthomas commented on #928
@marcwalsh (I think?) to provide input here. @sabrinang, I assume this isn't high priority?

[2018-09-10 18:24] Saallen opened #1100 "Festival Guide insert: MozFest house"
MozFest House
Content in development [here](https://docs.google.com/document/d/1_U-psv7RO6BaRpu3s58L1iDivh3pH5lgzVKZAUw7Fbc/edit#)

- [x] Guide
- [x]  list of events and partners
- [x] venue, dates

[2018-09-10 18:29] mmmavis commented on #1082
(from today's meeting with Sarah) Seems like we won't have the finalized list until next week. Please give me a ping as soon as we have the list then I'll add them to the accepted sessions spreadsheet.

[2018-09-10 18:46] Saallen commented on #1086
Hey
Please amend to
MozFest House, October 22-26, [Royal Society of Arts (RSA)](https://www.google.com/maps/place/RSA+House/@51.5093702,-0.1248943,17z/data=!3m1!4b1!4m5!3m4!1s0x487604c9572d71f1:0xc61aaa0727953544!8m2!3d51.5093669!4d-0.1227056), Central London
MozFest weekend, Octoerb 26-28, [Ravensbourne University,](https://www.google.com/maps/place/Ravensbourne+University+London/@51.5016761,0.00

[2018-09-10 18:49] Saallen opened #1101 "QA- MozFest House- amend location"
Please amend the linked location from on [MozFest house page](https://mozillafestival.org/house)
MozFest House is located just off Trafalgar Square at the Royal Society of Arts (RSA), 8 John Adam St, London WC2N 6EZ.

Link currents sends people here- https://www.thersa.org/contact

Please amend to :
https://www.google.com/maps/place/RSA+House/@51.5093702,-0.1248943,17z/data=!3m1!4b1!4m5!3m4!1s0x48

[2018-09-10 19:08] gideonthomas commented on #954
This is done, link is here: https://docs.google.com/presentation/d/11xxswOqdsmFf5G9o-2knw0e6tuHKFHDeMoBUOhIhmwU/edit?usp=sharing.

Assigning to @lucieclick to utilize as needed (if this Github issue can be closed, feel free to do so).

[2018-09-10 21:12] mmmavis opened #1102 "[MozFest House] Don't show private House events on page"
https://mozillafestival.org/house

- [x] make sure the a new column "eventtype" is added to the spreadsheet
- [x] make sure events with eventtype `private` doesn't get shown on MozFest site's House page

[2018-09-10 22:19] mmmavis commented on #1083
I'm just going to add 1 column to the spreadsheet

Dropdown options would be in this format

- Saturday (10:00 - 11:00)
- Saturday (11:15 - 12:15)
- Saturday (11:15 - 12:45)
- (... etc)

[2018-09-10 22:19] #1083 closed

[2018-09-10 23:33] sabrinang commented on #1092
I mocked up the content and included the tagline lockup on the homepage here:

version 1 - full text: https://redpen.io/ph038f96153d825c59
version 2 - last paragraph only: https://redpen.io/vscf67cb1fa98c5781

I can also exclude the tagline graphic to be text only if preferred.

[2018-09-11 02:10] gideonthomas commented on #1092
@Saallen would you be able to provide feedback on the designs / review and pick one mockup? Deadline - Tuesday, EOD.

[2018-09-11 10:05] Saallen commented on #954
@marcwalsh made a great point about the dates on the banner- can they be amend to be relevant to the event date in question? @sabrinang @gideonthomas

[2018-09-11 16:18] marcwalsh commented on #1090
Hi @gideonthomas @mmmavis

@Saallen and I reviewed GitHub and we're made any nessessary changes.

You're good to go! :)

Thanks!!

[2018-09-11 16:18] #1090 closed

[2018-09-11 16:26] gideonthomas commented on #954
@sabrinang, would you be able to make that an editable field?

[2018-09-11 16:52] sabrinang commented on #954
@gideonthomas Yes follow the instructions and it documented in step 4:

`Optional: Choose Placeholder text banners to place desired text`
<img width="401" alt="image" src="https://user-images.githubusercontent.com/2492510/45374797-0a7e9080-b5a8-11e8-8c6c-df48b5e559db.png">

<img width="834" alt="image" src="https://user-images.githubusercontent.com/2492510/45374697-ba9fc980-b5a7-11e8-8c33-6e65d4a5

[2018-09-11 17:04] mmmavis commented on #1101
Done! https://mozillafestival.org/house

[2018-09-11 17:04] #1101 closed

[2018-09-11 17:04] mmmavis commented on #1086
Done! https://mozillafestival.org/

[2018-09-11 17:04] #1086 closed

[2018-09-11 18:55] gideonthomas commented on #954
@Saallen, what you're referring to is the example banner that isn't editable anymore. We changed the template so that only one example is shown and it now clearly mentions that it is an example, to create your own banner, create a new slide.
The new slide layouts for the banners include two sections for the event name and time/date.

Let us know what you think!

[2018-09-12 07:39] mmmavis commented on #1078
Yup yup.

Just a note that I'm gonna merge the `Date`, `Time Start`, and `Time End` into one column since the timeblocks on Saturday and Sunday have different start/end times. Having 3 columns might confuse wranglers.

[2018-09-12 07:39] #1078 closed

[2018-09-12 16:19] mmmavis commented on #1071
Done!

[2018-09-12 16:19] #1071 closed

[2018-09-12 16:19] mmmavis commented on #1072
Done!

[2018-09-12 16:19] #1072 closed

[2018-09-13 16:07] consuelamckenzie commented on #1098
Here is the manifesto text and logo;

<headline>
What kind of internet do we deserve?

<subhead>
In 2018, Mozilla added 4 new aspirations to the 10 principles in its historic Manifesto.

We are committed to an internet that includes all the peoples of the earth — where a person’s demographic characteristics do not determine their online access, opportunities, or quality of experience.

We are comm

[2018-09-13 18:39] gideonthomas commented on #1098
Thanks @consuelamckenzie! @Saallen would you be able to review this?

One question I have - I know the "We are committed to an internet that includes all the peoples of the earth — where a person’s demographic characteristics do not determine their online access, opportunities, or quality of experience." line was copied from the Mozilla Manifesto, but the "includes all the peoples of the earth" pa

[2018-09-13 18:42] Saallen commented on #1098
@consuelamckenzie can you ask tim??

Otherwise looks good to me- will add into the doc

[2018-09-13 18:55] gideonthomas commented on #1058
@Saallen would you be able to set a deadline for this content?

[2018-09-13 18:59] gideonthomas commented on #1099
Hi @consuelamckenzie, just checking in on this ticket...do we have content ready for this?

[2018-09-13 19:32] mmmavis commented on #1083
Note that Sunday 11:30 - 12:30 block should start from **11:00** instead

[2018-09-13 19:40] mmmavis commented on #1102
Done!

[2018-09-13 19:40] #1102 closed

[2018-09-13 19:40] mmmavis commented on #1095
Done!

https://mozillafestival.org/spaces
https://mozillafestival.org/team/wranglers

[2018-09-13 19:40] #1095 closed

[2018-09-13 20:02] sabrinang commented on #1075
@mmmavis Here is the banner on google drive: https://drive.google.com/open?id=1ptJ44xGiNyIuLmc5hpbSMsGP_4eKAFyN

For grey, I referred to "Join Us" on the homepage:
`.light-grey-bg  background-color: #F5F5F5`

[2018-09-13 20:56] consuelamckenzie commented on #1099
@gideonthomas
We do indeed.

Many logos are pending, we have sticker mule already and I will be dropping the rest of the incoming logos into this shared folder.

https://drive.google.com/open?id=1zWZdMp3xCjaisMM7ZDJP5_3syLUmTmEt

Maybe sponsors are;
APPLE; BOX; DIGITAL IMPACT ALLIANCE, FIGMA, SALESFORCE

**Confirmed **
Private Internet Access (pending logo)
Presenting Festival Partner

Internet So

[2018-09-13 23:10] mmmavis commented on #1097
@gideonthomas just to confirm we are adding "speakers" to the nav bar as well, right?

[2018-09-14 00:54] gideonthomas commented on #1097
Yep

[2018-09-14 04:05] KGorr opened #1107 "Contact Us Page: Sign Up Link Issue"
The "sign up here" link on the contact page (https://mozillafestival.org/contact) directs to a MozFest 2017 Ti.To sign up page: https://ti.to/Mozilla/mozfest-2017

The contact us page is linked via the "get in touch" icon the footer of every page on the website.

cc: @Saallen

[2018-09-14 04:07] KGorr commented on #1107
@Saallen (or anyone who knows) - can you please let me know what the correct link is for directing people to sign up for updates on the festival? I need to put it in an email draft. Thanks!

[2018-09-14 18:48] gideonthomas commented on #1099
Many thanks @consuelamckenzie! Would you also be able to provide links for the Sponsors as well (since they will also be going on the website). Also, do we have tiers for the sponsors that we're showing? Or are we just listing all of them and what kind of sponsorship they're providing?

@Saallen would you be able to review the copy above? One suggested change I have is to replace:

with
"Please jo

[2018-09-14 19:41] mmmavis commented on #1097
@sabrinang do you have cropped version of headshots? If not I will process photos on my end.

[2018-09-14 19:58] consuelamckenzie commented on #1098
@gideonthomas Tim's response was "Unless there's a critical need to make a change to the punctuation, let's leave it as is."

[2018-09-14 20:11] sabrinang commented on #1097
No cropped versions I used photos from Kevin's headshot folder above. I can crop them on Monday if you need @mmmavis

[2018-09-14 20:15] mmmavis commented on #1097
@sabrinang

No worries. I can crop them on my end to avoid blocker. I just wasn't sure if we need to use the same photos for website and printed guide for consistency.

[2018-09-14 21:09] zee-moz commented on #1031
I've reviewed, and I think it's good! The one thing to confirm is that we're doing "internet" and not "Internet" per @KevZawacki 's recommendation (this is how it appears on our blogs). I think that's fine, but pieces like Mark's letter on the website use "Internet."  Do we need to make a decision and be consistent for all MozFest comms? CC @Saallen

[2018-09-15 06:10] consuelamckenzie commented on #1099
@gideonthomas as of Friday this is what the sponsorship looks like

Partnerships are unconfirmed with the following organizatons;
[Apple](https://www.apple.com/uk/); [Box](https://www.box.com/en-gb/home); [Digital Impact Alliance](https://digitalimpactalliance.org/), [Figma](https://www.figma.com/), [Salesforce
](https://www.salesforce.com/), [UX Fabric](http://www.uxfabric.com/)

**Confirmed **

[2018-09-16 19:46] Saallen commented on #1107
assigning @marcwalsh to help with this one

[2018-09-16 20:30] Saallen commented on #1099
Hey @consuelamckenzie
Our hastag is just MozFest- this is where all our comms and content goes,
 I amended it in the copy to say mozfest so let me know asap if you want to keep the year at the end

[2018-09-16 20:33] Saallen commented on #939
@consuelamckenzie can you update this?

[2018-09-17 21:37] mmmavis commented on #1097
Live! https://mozillafestival.org/speakers

[2018-09-17 21:37] #1097 closed

[2018-09-17 21:38] mmmavis commented on #1075
Live https://mozillafestival.org/contact

[2018-09-17 21:38] #1075 closed

[2018-09-17 22:00] gideonthomas commented on #1107
@KGorr, the new website page for Contact Info is live - https://mozillafestival.org/contact and is linked to by the "Get In Touch" link at the bottom.

[2018-09-17 22:15] Saallen commented on #1031
Confirming approval for the guide content @sabrinang @gideonthomas
Lets move forward and make all I into i.....Kevins comms were we are not consistant and its has changed so leave all content on wesbite as it

[2018-09-17 22:16] KGorr commented on #1107
Great - thanks!

[2018-09-17 22:16] #1107 closed

[2018-09-18 00:19] consuelamckenzie commented on #1099
Hi Juan @jcbarajas are you happy with this small amendment to the copy?

[2018-09-18 03:46] jcbarajas commented on #1099
Hi Consuela,

It’s good with me. Thanks for checking.

Juan

[2018-09-18 17:53] mmmavis commented on #1093
Done! https://mozillafestival.org/

[2018-09-18 17:53] #1093 closed

[2018-09-18 19:17] gideonthomas commented on #1099
Thanks @consuelamckenzie! I updated the list [here](https://github.com/mozilla/mozillafestival.org/issues/1027#issuecomment-418504263) as well. Please continue to update this thread until September 28, after which the final list of sponsors I get from this thread will go off to print.

[2018-09-18 22:06] gideonthomas commented on #1068
This should be ready by Monday Sep 24 by @Saallen

[2018-09-19 09:33] marcwalsh commented on #1029
@gideonthomas @mmmavis - I'm meeting with Andy K later this week to confirm this, however the easiest way of implimenting this would be to embed the Mozilla YouTube Channel Stream.

This means a single video across the weekend that the AV team are able to stop and start the stream without requiring a change to the website over the weekend.

I'll send you the link / embed code once confirmed.

[2018-09-19 11:41] consuelamckenzie commented on #939
@gideonthomas
Production Coodinator
Stephanie is MozFest’s Production Coordinator. Enthused by the contribution she has made to exceptional executions of large-scale international events, through the process of; data analysis, ideation and planning. Stephanie’s analytical mind complimented by her creativity will directly impact and help ensure a seamless and engaging MozFest experience.

The photo

[2018-09-19 14:37] gideonthomas commented on #1029
Thanks @marcwalsh! @sabrinang where would you place the embedded video on the homepage?

[2018-09-19 18:12] mmmavis commented on #1029
Hey @marcwalsh Andy already forwarded the embed code to me. And yes, I'd like to know where we want to place it.

@gideonthomas we should check with cade to make sure MozFest site can handle that much traffic (if we are planning to direct a ton of people to the site to watch D&D live stream)

[2018-09-19 18:46] zee-moz commented on #1092
@Saallen right now we don't have a blog post on the theme. If we're restricting to option 2 (which is about 55 words) I am hesitant to make people click out to the full description (which is only about 100 words more) I think it's and probably not worth it the jump from the website out to medium or pulse-- I would try to keep users on this site as much as possible.

[2018-09-19 19:31] gideonthomas commented on #1069
@marcwalsh would you be able to update this with content? Festival guide content is ready here: https://docs.google.com/document/d/1E7hHGmiqRS9ggZR71TQPNEpdY0BlNfi7IiaQTyO4Abk/edit#

[2018-09-19 19:33] gideonthomas commented on #939
@consuelamckenzie have we confirmed that Stephanie's title is Production Coordinator and not Production Assistant?

[2018-09-19 19:36] gideonthomas commented on #1092
We will be going with version 2 and adding a page on the foundation site about MozFest which will have more descriptive text about the theme. This page on the foundation site will also link back to the MozFest site so that users can go back to the MozFest site after leading about the theme.

[2018-09-19 20:35] gideonthomas opened #1110 "Update social image on website"
Can we update the og:image tag to show this image instead? https://drive.google.com/drive/u/1/folders/1qe4TSfRBEDOL8UXVy2Bs5L3mZAeiQFtO

[2018-09-19 20:37] KevZawacki commented on #939
Hi @gideonthomas, certainly. Slightly edited version below:

Stephanie is MozFest’s Production Coordinator. She has contributed to several large-scale international events over the years, from data analysis to ideation and planning. Stephanie brings both an analytical mind and deep creativity to her work, and is dedicated to creating a seamless and engaging MozFest experience.

[2018-09-19 22:15] gideonthomas commented on #939
Thanks @KevZawacki! @consuelamckenzie I'll get the bio and photo from Amanda. Leaving you assigned to provide Stephanie's photo.

[2018-09-20 17:40] mmmavis commented on #1110
Done! https://mozillafestival.org/assets/images/site-thumbnail.jpg (the image we used as `og:image`) has been updated to the new image.

[2018-09-20 17:40] #1110 closed

[2018-09-21 14:09] marcwalsh commented on #1029
@mmmavis @gideonthomas

I had a chat with Andy yesterday and we agreed that using the Mozilla Channel Live stream would be better than having two different embed codes for each day. One, to avoid any pushes over the festival weekned and also becuase there might be caching issues where the embedded video may not update for some users.

New embed code is below. This should be pushed as close to the

[2018-09-21 14:39] Saallen opened #1112 "New addition to the production page"
Kristina Gorr

- [ ] Photo
- [ ] Bio

[2018-09-21 22:55] KGorr commented on #1112
@Saallen - does this look for my bio?

"Kristina is Mozilla’s Open Leadership Community Coordinator. Communication is the name of her game and writing is her passion. She enjoys helping connecting people, passions, and events with engaging language. This year mark’s Kristina’s third year supporting MozFest’s communication efforts."

[2018-09-21 22:58] KGorr commented on #1112
Can you use this photo? https://static.wixstatic.com/media/b7bf1e_15ba67a67be94547bbccfae19ec110fd.jpg/v1/fill/w_800,h_800,al_c,q_85,usm_0.66_1.00_0.01/b7bf1e_15ba67a67be94547bbccfae19ec110fd.webp

[2018-09-22 05:58] consuelamckenzie commented on #1027
@sabrinang @gideonthomas
Box and Apple are still pending answers, but at this point are seen as a bonus. The sponsorship team are set on these sponsors for Mozfest 2018;-

Name | Image | Partnership Type | Link
-- | -- | -- | --

Sticker Mule | [Image](https://www.stickermule.com/assets/images/stores/sticker_mule/press/downloads/logo-colored/Sticker-Mule-logo-SVG-e614db0061.zip) | Closing Party Pa

[2018-09-24 17:10] marcwalsh opened #1114 "MozFest House autocorrect first capital letter"
@rowestephanie1 spotted when entering in an event that starts with a small case letter it autocorrects to starting with a captial letter.

Can this be turned off? As we have a couple of events that need to start with a lower case character.

Thanks!

[2018-09-24 17:32] KevZawacki opened #1115 "Small update to speaker bio"
Hi @sabrinang & @mmmavis,

I'm hoping we can make a small update to a speaker's bio. We should identify Camille Francois as a Mozilla Fellow.

So, her blurb at https://mozillafestival.org/speakers should read:

"Camille Francois is **a Mozilla Fellow,** research director at Graphika and affiliate at Harvard’s Berkman Klein Center for Internet & Society."

Would it be possible to make that update s

[2018-09-24 20:38] gideonthomas commented on #1099
Closing as done in the main festival guide ticket

[2018-09-24 20:38] #1099 closed

[2018-09-24 20:40] gideonthomas commented on #1069
@marcwalsh what is the status of this ticket?

[2018-09-24 20:41] gideonthomas commented on #939
@consuelamckenzie any updates on the photo from Stephanie?

[2018-09-24 20:44] gideonthomas commented on #1096
@marcwalsh any updates on this?

[2018-09-24 20:48] gideonthomas commented on #1112
Thanks @KGorr! @Saallen, what title are we using for Kristina?

[2018-09-24 20:56] gideonthomas opened #1116 "[DEV] Update production team and wrangler bios part 3"
@mmmavis would you be able to crop the images as well?

## Production Team

| Update Type | Name | Title | Photo | Bio |
| --- | --- | --- | --- | --- |
| ADD after Kevin | Kristina Gorr | Communications Lead | [Link](https://drive.google.com/file/d/1cvzn5RG0aq7_aoVMYdC4eB1tWH_6tRqx/view?usp=sharing) | Kristina is Mozilla’s Open Leadership Community Coordinator. Communication is the name of her ga

[2018-09-24 21:02] #1092 closed

[2018-09-24 21:13] gideonthomas opened #1117 "[DEV] Add featured theme to homepage"
Design comp: https://redpen.io/vscf67cb1fa98c5781

Assets: https://drive.google.com/drive/folders/1DNUbeRLQwYjyF69-44ET4EMoa3B72I_d

Content:

This year at Mozilla Festival, dive into our theme “Your Data and You,” through interactive sessions, art, games, dialogues, debates, and the latest tech. We’ll explore the risks and benefits, the implications for the health of the Internet, and how we can

[2018-09-24 21:16] gideonthomas commented on #1100
@Saallen I know this isn't crucial to launch, but do you have a status update on this?

[2018-09-24 21:19] gideonthomas commented on #1082
Tracked in https://github.com/mozilla/mozillafestival.org/issues/1068

[2018-09-24 21:26] gideonthomas opened #1118 "[DEV] Add 2018 sponsors to website"
Content ticket: https://github.com/mozilla/mozillafestival.org/issues/1027

### Sponsor List
Name | Image | Partnership Type | Link |
--- | --- | --- | --- |
Sticker Mule | [Image](https://www.stickermule.com/assets/images/stores/sticker_mule/press/downloads/logo-colored/Sticker-Mule-logo-SVG-e614db0061.zip) | Closing Party Partner | [Link](https://mule.to/mozfest-2018) |
Private Internet Access |

[2018-09-24 21:27] gideonthomas commented on #1027
Filed implementation ticket: https://github.com/mozilla/mozillafestival.org/issues/1118

[2018-09-24 21:27] #1027 closed

[2018-09-24 21:33] sabrinang commented on #1092
data done right lockup can be found here (home page asset folder): https://drive.google.com/open?id=1DNUbeRLQwYjyF69-44ET4EMoa3B72I_d

[2018-09-24 22:00] mmmavis commented on #1116
@gideonthomas yea I can crop images on my end for the website. For production team additions, could you specify where and in what order should I add those people in?

[2018-09-25 16:27] consuelamckenzie commented on #939
Hi Gideon,

We have two choices;

[Photo 1][https://drive.google.com/open?id=0B0_l7CrAmxgBOFhYSDBBQWdLblN5WjlYeC1VdzFBN2c4S0N3]

[Photo 2](https://drive.google.com/open?id=0B0_l7CrAmxgBZGR0ZXJaMGd1X1NYRC1NNDQxWmFxWi1ySnR3)

Whichever fits best in the circle please.

Many thanks,
Consuela

[2018-09-25 16:28] consuelamckenzie commented on #939
Hi @gideonthomas,

We have two choices;

[Photo 1][https://drive.google.com/open?id=0B0_l7CrAmxgBOFhYSDBBQWdLblN5WjlYeC1VdzFBN2c4S0N3]

[Photo 2](https://drive.google.com/open?id=0B0_l7CrAmxgBZGR0ZXJaMGd1X1NYRC1NNDQxWmFxWi1ySnR3)

Whichever fits best in the circle please.

Many thanks,
Consuela

[2018-09-25 16:29] consuelamckenzie commented on #939
Hi @gideonthomas

We have two choices;

[Photo 1](https://drive.google.com/open?id=0B0_l7CrAmxgBOFhYSDBBQWdLblN5WjlYeC1VdzFBN2c4S0N3)
[Photo 2](https://drive.google.com/open?id=0B0_l7CrAmxgBZGR0ZXJaMGd1X1NYRC1NNDQxWmFxWi1ySnR3)

Whichever fits best in the circle please.

Many thanks,
Consuela

[2018-09-25 17:31] gideonthomas commented on #1100
@Saallen to have this done by Friday, Sep 28

[2018-09-25 18:05] Saallen commented on #1112
Comms lead? @KGorr do you have any preference?
Amanda is using travel hero....

[2018-09-25 19:09] gideonthomas commented on #1058
@Saallen to provide this content by Friday Oct 5

[2018-09-25 19:09] gideonthomas commented on #1068
Deadline pushed to Wednesday Sep 26

[2018-09-25 19:44] gideonthomas commented on #939
Thanks @consuelamckenzie! Filed as part of implementation ticket here: https://github.com/mozilla/mozillafestival.org/issues/1116

[2018-09-25 19:44] #939 closed

[2018-09-25 23:53] mmmavis commented on #1115
https://mozillafestival.org/speakers has been updated!

@sabrinang I'm gonna assign this ticket to you now in case the changes need to be reflected on printed guide as well.

[2018-09-25 23:54] mmmavis commented on #1114
Done! https://mozillafestival.org/house

[2018-09-25 23:54] #1114 closed

[2018-09-26 00:10] sabrinang commented on #1115
Thanks for looping me in! I'll make sure the speaker copy doc that Makiko is referring to reflects this change as well.

[2018-09-26 03:27] KGorr commented on #1112
I do not have a preference...Communications Lead is fine by me!

[2018-09-26 13:00] KevZawacki commented on #1115
Thanks, both!

[2018-09-26 13:00] #1115 closed

[2018-09-26 21:34] marcwalsh commented on #1096
@gideonthomas I’ve requested this for Friday. Will update on the wrangler bio spreadsheet and ping you on there as soon as I have it!

[2018-09-26 23:17] gideonthomas commented on #1082
@mmmavis the list of rooms in Ravensbourne per #1068 are:

**Spaces**
* Youth zone - 2
* Web Literacy - Library
* Decentralisation - level 6
* Openness- 7
* Digital Inclusion - level 8
* Privacy and Security - level 9

**Experiences**
Art+Data - M (or mezzanine)
Tracked - 5
Queering MozFest - 6

[2018-09-26 23:36] gideonthomas commented on #1069
Adding this here as well (from #1068) in case it's needed:

Location Info:

**Spaces**
* Youth zone - 2
* Web Literacy - Library
* Decentralisation - level 6
* Openness- 7
* Digital Inclusion - level 8
* Privacy and Security - level 9

**Experiences**
Art+Data - M (or mezzanine)
Tracked - 5
Queering MozFest - 6

**Extra areas**- (that dont have to be on the map but might have high footfall)
Mozill

[2018-09-26 23:37] gideonthomas commented on #1068
Thanks @Saallen, I've updated tickets that need this info.

[2018-09-26 23:37] #1068 closed

[2018-09-27 00:29] mmmavis commented on #1082
@gideonthomas do you know if we have the full list of **rooms** yet? The list you included above is just summary of which floor each MozFest Space/Experience is going to be.

[2018-09-27 01:55] gideonthomas commented on #1082
Huh, ok, good call. @marcwalsh are you able to provide this information?

[2018-09-27 16:51] gideonthomas commented on #1082
@mmmavis here's the list from MozillaFoundation/mozfest-design-2018#87:

The following "studios/rooms/locations for sessions are listed

Level 1 - 101
Level 1 - 102
Level 2 - 205
Level 2 - 206
Level 2 - 207
Level 2 - 208
Level 2 - 209
Level 2 - 210
Level 2 - 211
Level 2 - 212
Level 2 - 213
Level 4 - Big Space
Level 4 - Study Zone
Level 6 - 601
Level 6 - 602
Level 6 - 603
Level 6 - 604
Level 6 - 60

[2018-09-27 23:03] mmmavis opened #1120 "[Oct 2] Port sessions and facilitators info to Guidebook"
According to [our original timeline](https://docs.google.com/document/d/1ahAMhq_GKBKR1velvE6iQgrZBC07OA6xoXpdaU3w8I4/edit#heading=h.eav1696hnq7e) - on ~~Oct. 1 Monday~~ postponed to Oct. 2 Tuesday, port sessions and facilitators info from the "accepted proposals spreadsheet" to Guidebook.

@marcwalsh let me know if we want to postpone this by a few days.

[2018-09-27 23:13] marcwalsh commented on #1120
Hey @mmmavis - we talked on the wrangler call today.

We need to push this back until Tuesday 2nd please.

[2018-09-27 23:18] mmmavis commented on #1120
kk I'll update this ticket and the Google Doc!

[2018-09-28 00:41] missuniverse opened #1121 "Update HTTP to HTTPS"
Changed links to HTTPS when supported.
Pull request:
#1113

Please review the pull request.

[2018-09-28 17:52] Saallen commented on #1100
@gideonthomas I updated the document. This is document is to be inserted to the MozFest house festival guides-
so only need 300 copies need to be printed
I gave a brief blurb to situate the booklet and listed the events, with timings and brief outline

[2018-09-28 17:57] gideonthomas commented on #1100
Thanks @Saallen!

[2018-09-28 19:33] gideonthomas commented on #1100
Added to the festival guide ticket https://github.com/MozillaFoundation/mozfest-design-2018/issues/73

[2018-09-28 19:33] #1100 closed

[2018-09-28 20:41] mmmavis commented on #1118
@gideonthomas are we keeping the existing "Our 2017 Sponsors" section AND add a new section "Our 2018 Sponsors" to the page? Or replace 2017 section entirely with 2018?

[2018-09-28 22:08] gideonthomas commented on #1118
replace it

[2018-10-01 22:52] mmmavis opened #1123 "Remove pages/location.jsx file"
Thought I did it for https://github.com/mozilla/mozillafestival.org/issues/1075 already but I didn't. 😬

[2018-10-02 15:06] KevZawacki opened #1124 "Remove Ramy Raoof as MozFest speaker"
Hi @sabrinang & @mmmavis,

One of our speakers -- Ramy Raoof -- has had to drop out. Can we remove him from the https://mozillafestival.org/ homepage and also https://mozillafestival.org/speakers?

On a related note -- is there a ticket for the print program, so we remove him from there, too?

[2018-10-02 17:52] sabrinang commented on #1124
@KevZawacki I mentioned it to Makiko to remove it from the printed guide design issue as well https://github.com/MozillaFoundation/mozfest-design-2018/issues/73#issuecomment-426361029

[2018-10-02 18:32] KevZawacki commented on #1124
@sabrinang 🙏

[2018-10-03 05:40] mmmavis commented on #1120
Done!

Accepted proposals and their facilitators info have been ported to Guidebook!

[2018-10-03 05:40] #1120 closed

[2018-10-03 18:29] mmmavis commented on #1124
Done!

[2018-10-03 18:29] #1124 closed

[2018-10-03 18:30] mmmavis commented on #1118
Done! https://mozillafestival.org/team/sponsors

[2018-10-03 18:30] #1118 closed

[2018-10-03 23:25] mmmavis opened #1128 "Add curated sessions and general events info to Guidebook"
Accepted proposals and their associated facilitators info have been ported to Guidebook. This ticket is just a reminder so that we don't forget to add curated sessions and general events info to Guidebook (e.g, lunch time, opening talk, science fair, D&D talks etc)

[2018-10-03 23:57] mmmavis commented on #1123
Done!

[2018-10-03 23:57] #1123 closed

[2018-10-04 20:30] mmmavis opened #1129 "[Post-MozFest] Remove wranglers' access to Guidebook"
This is a reminder for us to remember removing wranglers' access to Guidebook after MozFest (not sure what the best time is, though).

[2018-10-05 12:03] KevZawacki opened #1130 "Add Tim Berners-Lee to homepage + speaker page"
Hi @mmmavis, apologies for the late add. But, it's a good one!

Tim Berners-Lee has confirmed he will be speaking at MozFest. Sometime next week, could you add him to https://mozillafestival.org/ + https://mozillafestival.org/speakers?

[Here's his headshot](https://drive.google.com/open?id=1n4kOR5pk8aAsCo2x561PfiwEB2lkm4Nl).

Here's his bio:
"Sir Tim Berners-Lee invented the web in 1989. He is th

[2018-10-05 21:02] KevZawacki commented on #1130
Hi @sabrinang 👋

Sharing a heads up about a new speaker addition.

I believe it's too late to add to the print program. But, is it possible to include Tim on design materials still in the works, like screen slides and posters?

[2018-10-07 14:12] Saallen commented on #1058
Title of page: MozFest 2018 Schedule

Content

Celebrate what you love about the web, and discover new ways to collaborate to make the internet a better, healthier place. At MozFest we have 320 sessions and counting taking place at MozFest weekend. We are using Guidebook as our scheduling tool to share the sessions, bios of facilitators, and help you decide how to spend your Saturday and Sunday at

[2018-10-08 12:01] Saallen opened #1131 "Old schedule page"
This link is still live- can we archive
https://app.mozillafestival.org/#_spaces

[2018-10-08 13:35] Saallen commented on #1116
@gideonthomas - can I have an update on this?

[2018-10-08 13:36] Saallen commented on #1096
@marcwalsh any update?
If not lets update w no photo

[2018-10-08 13:44] Saallen commented on #1094
Updated with safety email

Please remove phone number and in an event of an emergency...

[2018-10-08 14:02] Saallen commented on #1060
I updated issue #1058

[2018-10-08 15:49] Saallen commented on #954
Closing this ticket

[2018-10-08 15:49] #954 closed

[2018-10-08 16:33] KevZawacki opened #1132 "2 small edits to https://mozillafestival.org/speakers"
Hi @mmmavis,

When you have a chance (not urgent), would you be able to make two small edits to  https://mozillafestival.org/speakers?

[1] Add a time under "Who Controls the Internet? (Panel)." The time is Sunday, Oct. 28, 12:45–13:45.

[2] Update the times for Soudeh Rad and Mitchell to 15:15 - 16:15. (They currently read 15:15 - 15:55.)

Apologies for the extra work as I finalize the schedule!

[2018-10-09 15:44] gideonthomas commented on #1132
@KevZawacki does this need to be reflected in the festival guide as well? This might have to be the final edit to the guide since we're going to print soon.

[2018-10-09 15:45] gideonthomas commented on #1058
Thanks @Saallen, moving to the design ticket

[2018-10-09 15:45] #1058 closed

[2018-10-09 15:45] gideonthomas commented on #1060
### Copy

Title of page: MozFest 2018 Schedule

Content

Celebrate what you love about the web, and discover new ways to collaborate to make the internet a better, healthier place.

This year we have over 300 sessions taking place over MozFest weekend, not to mention the 18 events you can attend at MozFest House.
 We are using Guidebook as our scheduling tool to share the sessions, bios of facilit

[2018-10-09 15:45] gideonthomas commented on #1060
@sabrinang do you have bandwidth to do this this week? Or should we get help with this?

[2018-10-09 15:53] gideonthomas commented on #1094
@mmmavis there are comments in the redpen for minor copy changes along with this ticket. Would you be able to do it? The changes are:
1. Remove the "in case of emergency call 911" line.
2. Add the safety email - festivalsafety@mozilla.com
3. Remove the "or contact us at 08954b432rew" part.

[2018-10-09 15:53] KevZawacki commented on #1132
Hi @gideonthomas, I reviewed the festival guide yesterday and flagged issues directly in that document, so no worries.

[2018-10-09 15:53] gideonthomas commented on #1096
@Saallen I only have a photo, no bio, so we should update with just the photo?

[2018-10-09 15:54] gideonthomas commented on #1116
It will be done this week -- we were waiting on Kristine's bio.

[2018-10-09 15:55] gideonthomas commented on #1131
@mmmavis not sure if this is something you can do or not, feel free to re-assign otherwise

[2018-10-09 15:57] marcwalsh commented on #1096
@gideonthomas @saallen sorry for the delay - bio below:

I’m a research engineer from London. I work at the BBC R&D where we think about the future of technology and media. More specifically I’ve been working with Machine Learning and how it can be used in Radio applications in a unique and transparent way.

@KevZawacki would you be able to have a look at this and suggest any edits please?

[2018-10-09 16:00] mmmavis commented on #1131
@gideonthomas it's probably a @cadecairos thing.

@Saallen do you wanna make https://app.mozillafestival.org and all the pages under this domain `404` or ?

[2018-10-09 16:52] sabrinang commented on #1060
I don't think the schedules will be displayed at the info booths, they were not used last year for schedules and one side usually faces the wall so it isn't seen. We may want to exclude that sentence unless that is an intentional plan for all wranglers but it is misleading.

@gideonthomas Yes I'll work on this

[2018-10-09 17:28] gideonthomas commented on #1128
@marcwalsh this is done right? If so, can we close?

[2018-10-09 17:29] gideonthomas commented on #1031
Closing this since we've created the festival guide.

[2018-10-09 17:29] #1031 closed

[2018-10-09 17:29] gideonthomas commented on #928
It might be too late for this (and probably not worth it now)...can we close this @sabrinang?

[2018-10-09 17:48] KevZawacki commented on #1096
@marcwalsh Edits:

Kristine Grivcova is a research engineer from London. She works at the BBC R&D, where she thinks about the future of technology and media. More specifically, Kristine explores machine learning and how it can be used in radio applications in a unique and transparent way.

[2018-10-09 17:59] gideonthomas commented on #1096
Thanks for being so quick @KevZawacki! Moving to the dev ticket: https://github.com/mozilla/mozillafestival.org/issues/1116

[2018-10-09 17:59] #1096 closed

[2018-10-09 18:11] marcwalsh commented on #1131
@gideonthomas @cadecairos can we redirect this to - `https://guidebook.com/guide/147793/`

[2018-10-09 18:13] gideonthomas commented on #1131
assigning to me to file a devops ticket.

[2018-10-09 19:52] mmmavis commented on #1130
Hi @KevZawacki where on the homepage D&D section do you want Tim to show up? Also in between Renee & Julie?

[2018-10-09 19:56] KevZawacki commented on #1130
Hi @mmmavis, between Renee and Julie would be perfect 👍 Thanks!

[2018-10-10 03:16] gideonthomas commented on #1131
Filed https://github.com/MozillaFoundation/mofo-devops/issues/630

[2018-10-10 03:16] #1131 closed

[2018-10-10 18:32] mmmavis commented on #1132
Done!

[2018-10-10 18:32] #1132 closed

[2018-10-10 18:32] mmmavis commented on #1130
Done!

[2018-10-10 18:32] #1130 closed

[2018-10-10 19:18] sabrinang commented on #1060
@Saallen @gideonthomas Please review redpen here: https://redpen.io/nm7ed6b29d80c70eb5

- I excluded "at info booths"
- instead of linking withing the body copy, I used buttons to highlight the CTAs
   - we should use direct links to the to app downloads (instead of it being 3 clicks away)

<img width="503" alt="image" src="https://user-images.githubusercontent.com/2492510/46760151-1d0ee700-cc86-1

[2018-10-10 20:32] xmatthewx commented on #1060
This looks great. I'd consider moving the buttons up above the paragraphs. I feel like users will be looking for the schedule. All the narrative feels supplemental. On mobile, those buttons will be pretty low down.

[2018-10-10 21:37] mmmavis commented on #1117
Done1

[2018-10-10 21:37] #1117 closed

[2018-10-10 21:37] mmmavis commented on #1094
Done!

[2018-10-10 21:37] #1094 closed

[2018-10-10 21:38] mmmavis commented on #1116
Done!

[2018-10-10 21:38] #1116 closed

[2018-10-10 21:54] natalieworth commented on #1060
@gideonthomas @Saallen I moved the buttons to the top of the content. Just awaiting final approval from @Saallen :

- Just to note that I increased the spacing between the title and "View Online Schedule" to make it feel more balanced with the rest of the content (but disregard if it's inconsistent with other pages @mmmavis )

![mozilla-festival_schedule copy 2x-100](https://user-images.githubuser

[2018-10-12 11:39] Saallen opened #1136 "Update page for festival weekend- guidelines"
During the festival week, we will have many alternative ways to raise issues, online and in person. If you have issues, please direct them to festival@mozilla.org (Recipients of this email are Sarah Allen [Guidelines pag](https://mozillafestival.org/guidelines)e update request

paragraph labeled Raising Issues at MozFest
Please amend the last sentence....

During the festival week, we will have ma

[2018-10-12 14:06] Saallen opened #1137 "QA- website- weekend schedule"
As we have on all printed assets 12:00 start for lunch on Sat and Sun

Can we change it on Sunday to 12:00?
https://mozillafestival.org/why-come-to-mozfest

[2018-10-12 19:35] gideonthomas commented on #1060
Perfect, thanks all! @Saallen - for review, the navigation is currently too busy to add "Schedule". Instead, design suggested we add a bar at the top of the website and a button. Question for you -- should we replace the play button with the "View Schedule" button, or just not have the "View Schedule" button and just have the bar at the top?

Comp is here: https://redpen.io/qa14fe83adafdfaca2. Ign

[2018-10-12 20:49] gideonthomas commented on #1136
@Saallen is this ok:
<img width="1439" alt="screen shot 2018-10-12 at 4 47 47 pm" src="https://user-images.githubusercontent.com/5816130/46893418-cf89aa00-ce3e-11e8-9b90-b84a373126a7.png">

[2018-10-12 21:18] gideonthomas commented on #1137
Wait name tags say that lunch starts at 12...can you confirm?

[2018-10-14 14:14] Saallen commented on #1137
Wrong edits- updated above @gideonthomas

[2018-10-14 14:33] Saallen commented on #1136
amend the first paragraph please

...and if you feel you are being harassed in any way please immediately contact the Festival Executive Director, Sarah Allen

[remove the next sentence  At the festival venue sent]
Immediately go into During the festival week,....

Amend last bullet point
* Got to the #Mozhelp desk on level 4 over MozFest weekend at Ravensbourne University, or the registration des

[2018-10-14 14:49] Saallen commented on #1060
Yes love that great idea @gideonthomas
I actually dont mind here- so will let the designers make the decision for user experience

[2018-10-14 19:46] gideonthomas commented on #1137
@Saallen don't see the update :P mind posting it in a new comment?

[2018-10-14 20:45] gideonthomas commented on #1060
Thanks! Moved to dev phase: https://github.com/mozilla/mozillafestival.org/issues/1059

[2018-10-14 20:45] #1060 closed

[2018-10-14 20:46] gideonthomas commented on #1128
I think this is done

[2018-10-14 20:46] #1128 closed

[2018-10-15 11:17] Saallen commented on #1137
As we have on all printed assets 12:00 start for lunch on Sat and Sun

Can we change it on Sunday to 12:00?
https://mozillafestival.org/why-come-to-mozfest

[2018-10-15 15:43] gideonthomas commented on #1137
Awesome, thanks @Saallen! @mmmavis would you be able to do this?

[2018-10-16 01:04] gideonthomas commented on #1059
@Saallen, @mmmavis brought up that we don't actually have instructions on how to add the MozFest schedule to guidebook after we install the app.

Can we amend the last paragraph to be:

Download the Guidebook app on your phone to view the schedule. Once you download the app, search for **Mozilla Festival 2018** in the app and add it to get the schedule. You can also view the [schedule online](http

[2018-10-16 01:43] gideonthomas commented on #1136
@Saallen how does this look? Had to change the copy a bit to accommodate the layout.

<img width="1440" alt="screen shot 2018-10-15 at 9 41 04 pm" src="https://user-images.githubusercontent.com/5816130/46987672-34553680-d0c3-11e8-8647-2248836d50ec.png">

[2018-10-16 01:48] gideonthomas commented on #1029
@natalieworth we want to replace the play button on the mozillafestival.org page to a button (or text above a button with shorter text) that says something like "Watch the Dialogues and Debates Live" which will open up the video (as the play button currently does) to the live stream. Is this something you can design?

[2018-10-16 01:49] gideonthomas commented on #1026
@Saallen let me know when you have the issuu link to the festival guide.

[2018-10-16 16:34] KevZawacki opened #1139 "Remove Nani Jansen Reventlow as speaker"
Hi @mmmavis,

One of our speakers has had to cancel. When you have the time, could you remove Nani Jansen Reventlow's entry from https://mozillafestival.org/speakers and the https://mozillafestival.org/ homepage?

No other updates needed beyond removal. Thank you!

[2018-10-17 17:47] xmatthewx opened #1140 "Refine Guidebook Links"
Once people commit to coming to MozFest, the schedule is the most important thing. Guidebook is totally awesome, but leaves a little to be desired UX-wise.

Problem: We want to make the schedule accessible via a browser so we don'trequire people to download an app. When we include a link to the online schedule on the Guidebook landing page, this link also gets included on the first view of the onl

[2018-10-17 18:55] Saallen commented on #1136
Thank you looks great

[2018-10-17 18:56] Saallen commented on #1026
![screen shot 2018-10-17 at 19 56 06](https://user-images.githubusercontent.com/10194015/47109651-b9b52400-d246-11e8-99f1-476786cfd325.png)
Yahhh its live

[2018-10-17 19:17] mmmavis commented on #1140
I found the term "online schedule" confusing. Could we change it to something around "web version" or "browser-based"? Maybe the link could read "view schedule in browser"?

[2018-10-17 19:28] gideonthomas commented on #1140
@marcwalsh can we make the change that Matthew is suggesting?

[2018-10-17 19:54] mmmavis commented on #1139
Done!

[2018-10-17 19:54] #1139 closed

[2018-10-17 19:55] mmmavis commented on #1137
Done!

[2018-10-17 19:55] #1137 closed

[2018-10-17 20:01] gideonthomas commented on #1026
Awesome, @Saallen what is the link to it?

[2018-10-17 20:05] gideonthomas commented on #1136
@mmmavis would you be able to make the change as in the screenshot above?

The copy is:
If you believe you‘re experiencing practices at MozFest which don‘t meet the above policies, or if you feel you are being harassed in any way, please immediately contact the Festival Executive Director, Sarah Allen.

During the festival week, we will have many alternative ways to raise issues online and in pers

[2018-10-17 20:06] gideonthomas commented on #1059
@Saallen re-pinging about this

[2018-10-17 20:08] gideonthomas opened #1142 "Plug Buyer's Guide on the homepage"
We'll have a small CTA for the buyer's guide below the theme on the homepage.

cc @mmmavis for awareness

[2018-10-17 20:09] gideonthomas commented on #1026
in the meantime, @sabrinang do you have a suggestion as to where you would want the online festival guide to be linked?

[2018-10-17 20:49] Saallen commented on #1059
perfect- thanks

[2018-10-17 20:53] sabrinang commented on #1026
@gideonthomas
It was previous linked from the old What to Expect page but since we don't have it anymore the About page would make sense.

I found the link here: https://issuu.com/mozfest/docs/mozilla-festival-2018-festival_guid
The URL is missing an e and the double page spreads are uploaded as a page. Do you need the guide to exported differently or something you can fix in Issu?

[2018-10-17 21:05] gideonthomas commented on #1026
Thanks @sabrinang, @Saallen are you able to fix that in issu?

[2018-10-17 21:06] gideonthomas commented on #1059
@mmmavis would you be able to change the last paragraph like above in your PR?

[2018-10-17 21:08] gideonthomas commented on #928
Closing, we can reopen if we really need this

[2018-10-17 21:08] #928 closed

[2018-10-17 21:54] natalieworth commented on #1029
Updated the button design:

<img width="946" alt="screen shot 2018-10-17 at 2 42 36 pm" src="https://user-images.githubusercontent.com/14876567/47118587-8a89bd00-d21c-11e8-8f12-a15155e45706.png">

[2018-10-17 21:58] sabrinang commented on #1026
@Saallen Here is the online pdf as single pages: https://drive.google.com/open?id=1sxxqW-zUZnAIRKdYLmBtw_auoGRh1cR7

[2018-10-18 10:29] Saallen opened #1144 "New addition to sponsors page"
New sponsor for website page only @gideonthomas
Jessie to confirm the following info

- [x] confirmation of title of partner type
- [x] Confirmation of layout on page hierarchy
- [x] Logo - [in this folder](https://drive.google.com/drive/folders/1zWZdMp3xCjaisMM7ZDJP5_3syLUmTmEt?usp=sharing)
- [x] Link - https://www.shareable.net/

[2018-10-18 16:44] gideonthomas commented on #1144
will ask Jessie on Monday.

[2018-10-18 16:46] gideonthomas commented on #1026
@Saallen let me know when it's uploaded (with the link)

[2018-10-18 16:46] gideonthomas commented on #1029
@Saallen how does that look? ^

[2018-10-18 18:47] kristinashu commented on #1142
Please make sure to add google analytic event to this so we can track how many click throughs there are!

[2018-10-18 19:02] mmmavis commented on #1142
@kristinashu I don't know much about GA but I'm assuming GA on Foundation site will already be able to tell what external site users came from?

[2018-10-18 20:13] xmatthewx commented on #1142
Yes @mmmavis, we can see referral site in Buyer's Guide analytics.

[2018-10-18 20:20] kristinashu commented on #1142
Ok so we'll just go off that!

[2018-10-18 20:34] beccaklam commented on #1142
@gideonthomas Talked to Sabrina and she suggested adding in some text before to more elegantly slate the buyer's guide ad in. Here is the proposed design along with the proposed copy:
Large/Medium screens:
![mozfest-ad](https://user-images.githubusercontent.com/20977376/47182445-72d13800-d2f3-11e8-9173-a95d08a7530e.jpg)
Mobile Screens:
![mobile-banner-ad](https://user-images.githubusercontent.com/

[2018-10-18 21:37] Saallen commented on #1059
Thanks @mmmavis

[2018-10-18 21:45] Saallen commented on #1029
Will it have that hero in the background? as would rather not have three guys ......

Otherwise, I think it looks great- thanks

[2018-10-18 21:53] Saallen commented on #1026
Updated https://issuu.com/home/published/mozillafestivalguide

[2018-10-18 22:11] natalieworth commented on #1029
@Saallen I like having the mozfest video still run in the background? Is that okay? I think it's a nice effect.

[2018-10-18 22:13] gideonthomas commented on #1029
yep, the background in the hero is outdated...it will still be whats currently on mozillafestival.org

@mmmavis would you be able to add the button @natalieworth designed above? It should still open up the video, but the video shown should be from the embed code you have.

[2018-10-18 22:15] gideonthomas commented on #1026
@mmmavis could you add a button like the one Natalie designed here: https://github.com/mozilla/mozillafestival.org/issues/1029#issuecomment-430803406 and add it below the hero text. The button should say "View the 2018 Festival Guide" and link out to https://issuu.com/mozfest/docs/mozillafestivalguide

[2018-10-18 22:45] gideonthomas commented on #1142
Design looks good, I would recommend changing the copy to:

Also love @xmatthewx's suggestion of adding the label on the graphic that says "Not your typical advert".

@Saallen what do you think of the redpen linked above and the copy (both in the redpen and what I suggest above)?

[2018-10-18 22:53] gideonthomas opened #1145 "Remove offline schedule info on /schedule"
@mmmavis @sabrinang mentioned that we probably shouldn't say that "you can find the schedule on info booths" because that isn't necessarily true.

Can you remove that last line "If you don't wish to use Guidebook, please note that we will be displaying the schedule at info booths on each floor over the festival weekend." from the `/schedule` page?

@Saallen are you ok with this?

[2018-10-19 11:57] Saallen commented on #1142
Is this part of the effect - as this is where the links bring me
![screen shot 2018-10-19 at 12 56 32](https://user-images.githubusercontent.com/10194015/47216894-7d94d700-d39e-11e8-9999-a68660258ca9.png)

[2018-10-19 11:59] Saallen commented on #1145
But the schedule will be shared on screens at the Info booths- which are a table with a screen laptop and two volunteers- and the large info totems

[2018-10-19 13:56] gideonthomas commented on #1145
Oh ok if this is confirmed, that's perfect, sorry, we weren't aware of this! Thanks!

cc @sabrinang

[2018-10-19 13:56] #1145 closed

[2018-10-19 14:00] gideonthomas commented on #1142
ugh, sorry @Saallen, looks like redpen is down. @beccaklam are you able to upload a screenshot for review instead?

[2018-10-19 14:15] beccaklam commented on #1142
@Saallen
### Large/Medium Screens:
![mozfest-ad](https://user-images.githubusercontent.com/20977376/47223654-cdb46f00-d387-11e8-8df5-f253f0d7dca6.jpg)
### Mobile Screens:
![mobile-banner-ad](https://user-images.githubusercontent.com/20977376/47223695-e02ea880-d387-11e8-87ad-efa7162feb68.jpg)

[2018-10-19 17:55] Saallen commented on #1144
Update from Jessie @gideonthomas
Call them Media Partner

 Also, if possible, I would change the order of sponsors on the web page to 1. Private Internet Access  2. ISOC   3. Shareable   4. StickerMule   5. Samsung.

[2018-10-19 20:13] gideonthomas commented on #1144
Thanks @Saallen!

@mmmavis would you be able to make this change?

Sponsor: Shareable
Image: https://drive.google.com/file/d/1drOOkrKXf9PlAMFdiipuitRv2qJ4MBZ0/view?usp=sharing
Title: Media Partner
Link: https://www.shareable.net/

Order of Sponsors should be:
1. private internet access
2. Internet Society
3. Shareable
4. Stickermule
5. Samsung

[2018-10-19 22:01] beccaklam commented on #1142
## Assets for build:

Background images, logo, mock ups, and psd file can be found here: https://drive.google.com/drive/folders/1QT6nV7mn7ETcCZ0O_l5RhUz4TrDKuQuO?usp=sharing

**Spacing:** Entire ad (for both desktop and mobile has 20px padding all around)

**"How Creepy Are You":** Zilla Slab SemiBold 25 pt with drop shadow (x:0 y:0 blur size: 25px color #333333 blend mode: multiply opacity:100%)

[2018-10-21 18:43] gideonthomas commented on #1142
@natalieworth would you be able to change it slightly based on the feedback above? @beccaklam has linked the psd file.

[2018-10-22 17:12] natalieworth commented on #1142
Yeah!

On Sun, Oct 21, 2018 at 11:43 AM Gideon Thomas <notifications@github.com>
wrote:

--
Designer, Vancouver
natalie@mozillafoundation.org

[2018-10-22 18:16] xmatthewx commented on #1142
The intention was to make it appear like an ad so that we could skip a lengthy explanation, and be less disruptive to mozfest content. We could drop this approach, but I don't think we need to do that.

The "not your typical advertisement" could be nudged up above the image.

[2018-10-22 19:14] natalieworth commented on #1142
![medium rectangle 2x](https://user-images.githubusercontent.com/14876567/47313517-fc368200-d5f3-11e8-9bb7-b7cf5ad94459.jpg)
![leaderboard 2x](https://user-images.githubusercontent.com/14876567/47313523-fe98dc00-d5f3-11e8-8a2c-313262d1f0a3.jpg)

cc @Saallen @xmatthewx @gideonthomas I adjust the colours a bit—so more readable at a small size/ on mobile. Let me know if this works for you

[2018-10-22 19:50] gideonthomas commented on #1142
this looks good to me, @natalieworth would you be able to provide the details Becca provides above - about fonts, colors, etc.?

[2018-10-22 20:14] natalieworth commented on #1142
For sure! So I annotated the fonts/ button colour. Pixel spacing measurements that Becca had are the same. I also removed the "not your typical ad" text from the actual ad

![medium rectangle 2x](https://user-images.githubusercontent.com/14876567/47316626-723ee700-d5fc-11e8-9a31-a586a4facf7a.jpg)

cc @gideonthomas @xmatthewx

[2018-10-22 20:34] mmmavis commented on #1026
Done!

[2018-10-22 20:35] #1026 closed

[2018-10-22 21:13] natalieworth commented on #1142
@gideonthomas Updated placement for the "Not your typical advertisement":
<img width="977" alt="screen shot 2018-10-22 at 2 10 29 pm" src="https://user-images.githubusercontent.com/14876567/47319840-9a324880-d604-11e8-81d1-6c8faca83af1.png">

[2018-10-23 07:29] KevZawacki opened #1149 "Tweak speaker's bio"
Hi @mmmavis,

Apologies for another edit!

If you have a moment, would you be able to update Mahsa Alimardani's bio on https://mozillafestival.org/speakers? The updated bio reads:

"Mahsa Alimardani is an internet researcher working with ARTICLE19, and reading for a DPhil at the University of Oxford’s Internet Institute”

[2018-10-23 16:17] gideonthomas commented on #1142
@xmatthewx are you ok with this? ^

[2018-10-23 16:38] xmatthewx commented on #1142
yep!

[2018-10-24 18:31] Saallen opened #1151 "QA- landing page and schedule banner"
@mmmavis - As the landing page is often the about page on mozfest.org
can we get the schedule banner here too- mirroring the top banner from the home page?
![screen shot 2018-10-24 at 19 30 57](https://user-images.githubusercontent.com/10194015/47452951-5d608000-d7c3-11e8-918d-312686db9b3b.png)

[2018-10-24 18:34] Saallen opened #1152 "Ticket page-"
cc @gideonthomas
We have sold out of all tickets apart from Sunday and Youth- is there a way to signify this on the ticket page? You cannot tell in its current format and top line of options gives rego not available options. People wont click through all options until Sunday..
https://mozillafestival.org/tickets

[2018-10-24 18:45] natalieworth commented on #1142
@gideonthomas Added the background-with-logo files and updated the svg/ added a png version of the logo if needed in the google folder.

https://drive.google.com/drive/folders/1QT6nV7mn7ETcCZ0O_l5RhUz4TrDKuQuO?usp=sharing

[2018-10-25 09:54] mmmavis commented on #1152
@Saallen Would simply replacing the ticket button with "Sold Out" work?

![screenshot_2018-10-25 mozilla festival mozfest](https://user-images.githubusercontent.com/2896608/47492183-5037a580-d844-11e8-9a73-80bb0b76d121.png)

[2018-10-25 11:08] mmmavis commented on #1151
Done! https://mozillafestival.org/about

[2018-10-25 11:08] #1151 closed

[2018-10-25 11:49] Saallen commented on #1151
Thanks Mavis. Super speedy

On Thu, 25 Oct 2018, 12:08 Mavis Ou, <notifications@github.com> wrote:

[2018-10-25 11:49] Saallen commented on #1152
Yes please

On Thu, 25 Oct 2018, 10:54 Mavis Ou, <notifications@github.com> wrote:

[2018-10-25 12:18] mmmavis commented on #1152
Done! https://mozillafestival.org/tickets

[2018-10-25 12:18] #1152 closed

[2018-10-26 00:48] mmmavis commented on #1144
Done! https://mozillafestival.org/team/sponsors

[2018-10-26 00:48] #1144 closed

[2018-10-26 06:19] Saallen commented on #1144
Thanks!!!

[2018-10-26 09:52] mmmavis opened #1157 "Implement Buyer's Guide ad on the homepage"
For details see design ticket: https://github.com/mozilla/mozillafestival.org/issues/1142#issuecomment-432781145

[2018-10-26 09:52] mmmavis commented on #1142
Opened implementation ticket. Closing this one. Thanks team!

[2018-10-26 16:06] mmmavis commented on #1142
Done!

[2018-10-26 16:06] #1142 closed

[2018-10-27 08:42] gideonthomas commented on #1029
Done

[2018-10-27 08:42] #1029 closed

[2018-10-27 08:42] gideonthomas commented on #1136
Done

[2018-10-27 08:42] #1136 closed

[2018-10-27 08:43] #1069 closed

[2018-10-31 16:44] marcwalsh opened #1160 "Change Website From 'Live' to 'Post-Event'"
@gideonthomas @mmmavis

Please can you change the website so it goes into a post-event.

- [ ] Remove the schedule banner from the top of the page.
- [ ] Remove ticketing page from the nav bar.
- [ ] Change Watch D&D CTA to "Watch the 2018 Dialogues and Debates"

We'll have some additional changes, eg links to each specific speaker talk to come after this, but for now this should be enough.

cc -

[2018-11-02 13:26] marcwalsh opened #1161 "Add YouTube Links for Individual Speakers"
@gideonthomas @mmmavis - can you add the individual talk links to each of the speakers on the website. There is one or two still processing, which should be complete in the next couple of hours.

cc/ @Saallen

Thanks!

## Add Video Links To:
- [x] Amba Kak - `https://youtu.be/jrZD6eK-fRw`
- [x] Zara Rahman - `https://youtu.be/FsIXHQifkXw`
- [x] Malavika Jayaram - `https://youtu.be/FsIXHQifkXw`
- [

[2018-11-02 17:19] marcwalsh commented on #1161
@gideonthomas @mmmavis - all video links are updated in the initial ticket info :)

[2018-11-02 18:55] gideonthomas commented on #1161
@jessevondoom @alanmoo cc'ing you here in case you want these links for the foundation site as well.

[2018-11-05 20:10] mmmavis commented on #1160
@marcwalsh let me know when we have the link. I have 2 PRs open covering the other 3 items in this ticket.

[2018-11-06 11:34] marcwalsh commented on #1160
@mmmavis here's the link to the MozFest 18 playlist on YouTube:

https://www.youtube.com/playlist?list=PLnRGhgZaGeBu6RousMarM2sS6r8ajFUeV

[2018-11-07 14:44] KevZawacki commented on #1161
🎆

Hi @mmmavis, we can indeed remove Roya. That section can be updated like so:

Nathalie Richards on Tech and Inclusion (Talk)
_Sunday, Oct. 28, 11:00–12:10_
[Video](https://www.youtube.com/watch?v=EwT9Mpzft4I&feature=youtu.be)

**Nathalie Richards**
[nathrich](https://twitter.com/@nathrich)
Nathalie Richards is co-founder of EduKit, a free online resource for teachers.

[2018-11-14 21:21] gideonthomas commented on #1140
Since we weren't able to make this change for 2018, let's try to do it next year if we decide to use guidebook again.

[2018-11-14 21:39] gideonthomas commented on #1161
Done

[2018-11-14 21:39] #1161 closed

[2018-12-17 22:16] gideonthomas commented on #1129
@mmmavis  we did this right?

[2019-01-10 18:13] gideonthomas commented on #1140
awesome, thanks @marcwalsh

[2019-02-17 17:34] moz-hwine opened #1171 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/mozillafestival.org/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wik

[2019-03-11 23:10] mmmavis commented on #1129
@gideonthomas nope, roughly 50 people still have editor/admin access to MozFest 2018 Guidebook. Should we remove their access (all? non-staff?)?

[2019-03-11 23:14] gideonthomas commented on #1129
eeek for now let's remove non-staff access

[2019-03-12 18:23] mmmavis commented on #1129
Done!

[2019-03-12 18:23] #1129 closed

[2019-03-28 03:46] Mozilla-GitHub-Standards opened #1174 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 16:59] #1174 closed

[2019-03-28 19:37] gideonthomas opened #1176 "Sunset"
With the move of the site to wagtail, we don't need this project to be active any more.

Here's a suggested plan:
1. Archive this repo
2. Have 2018.mozillafestival.org serve up this heroku app on April 13. This will coincide (2 days before so that DNS changes propogate) with the launch of the wagtail version of mozillafestival.org.

cc @mmmavis and @alanmoo

[2019-04-01 22:40] mmmavis commented on #1176
Sounds good! @gideonthomas is there any change needs to be made to the existing Google Analytics property for MozFest site?

[2019-04-02 17:06] gideonthomas commented on #1176
Ah good question, I will look into that. Thanks for flagging!

[2019-04-05 17:05] gideonthomas commented on #1176
Going to be a bit messy but here's what will happen with GA:
1. Nothing changes to the GA property since it's connected to domain and ID.
2. Track Apr/May mozfest metrics using the foundation site GA property that already works.
3. Add the mozfest GA property to the MozFest wagtail instance via the wagtail template.