[2017-05-11 23:47] edrushka opened #553 "About page"
https://mozillafestival.org/about

- [ ] Update Mark's message. @KevZawacki is working on copy.
- [ ] Update attendee graphic to 1800 (and text underneath to 1.8k)
- [ ] Update number of sessions to 420
- [ ] On the timeline, for 2015, the word web in the last sentence should be capitalized.

[2017-05-11 23:54] edrushka opened #554 "Festival Team page"
https://mozillafestival.org/team

- [x] Hide Wranglers and Partners tabs (these will be live again later in the summer).

[2017-05-12 00:11] edrushka opened #555 "Accessibility page"
Add A11Y section underneath Participation Guidelines in what to expect.

General statement.
Include line that says something like "If you are unable to use the text based call for proposals, email us about the possibility of other options"

This page doesn't exist yet. Need to create.
- [ ] Write overview copy
- [ ] a11y for call for proposals section
- Dyslexic community: video submission process

[2017-05-12 00:15] edrushka opened #556 "Call for Proposals form"
- [ ] Create main en-GB version of Call for Proposals form

[2017-05-12 00:18] edrushka opened #557 "Localize Call for Proposals form"
- Localize en-GB form into other languages:

- [x] German
- [x] French
- [x] Spanish

[2017-05-12 00:32] edrushka commented on #540
CTA is covered in #548 so closing this one.

[2017-05-12 00:32] #540 closed

[2017-05-12 12:27] KevZawacki commented on #552
Happy to help. Remind me: Where is the button that generates this tweet? Somewhere on mozfest.org?

[2017-05-12 19:42] xmatthewx commented on #551
Those were added directly to the site. We didn't yet have the real API setup. When we dig in this summer, we can automate to pull things that mention mozfest or are tagged mozfest.

For now, a simple addition would be to add a link at the top of page. Something like:  "Browse projects below and more on [Pulse](https://www.mozillapulse.org)."

What do you think?

[2017-05-12 19:44] xmatthewx commented on #551
We should meet at some point in the next few weeks to talk about how Mozfest shows up on network site and how the site itself should evolve this summer. Make some longterm plans.

[2017-05-12 22:57] sabrinang opened #558 "Website: Conventory Inventory"
Started a content inventory doc of the 2016 site:
https://docs.google.com/a/mozilla.com/spreadsheets/d/1AcH6iiYafKXPVPI4Odlze-ypbZIt4WwadHwC6t_JXs0/edit?usp=sharing

This doc can help give an overview of content that exists to consider how we can revise, rebuild or migrate content (to network site) for 2017. I included a column "Content that overlaps Network" that may be helpful to take notes in.

[2017-05-15 14:14] Saallen commented on #543
Right before we publish we need legal to review and update privacy and terms @edrushka

[2017-05-15 16:09] edrushka opened #559 "Design section to highlight video on landing page"
See ticket #548 for context

Design a new section, below the hero banner, to highlight the video. It can look similar to the video treatment on https://mozillafestival.org/expect but with a different background colour than the D&Ds to differentiate it.

[2017-05-15 16:16] edrushka commented on #551
That works.

Mavis, please change the text under the hero banner to "MozFest attracts and generates dozens of projects that thrive long after the festival weekend. See the examples below and find a catalyst for collaboration with our vibrant network. [Browse more projects on Pulse.](https://www.mozillapulse.org/featured)

[2017-05-15 16:28] edrushka commented on #552
Thanks @KevZawacki! It's in the blue footer bar of every page on the MozFest site. The 'Tweet MozFest' link with the icon. We were thinking something along the lines of:

I just proposed a session for #MozFest 2017. Check out the open curation process at [link to github repo with all sessions].

[2017-05-15 18:14] KevZawacki commented on #552
@edrushka  A-ha! Thanks for clarifying.

Your suggestion looks good to me! Perhaps tweak a bit? To:

I just proposed a session for #MozFest 2017. Check out mine, and others, at [link to github repo with all sessions].

Let me know how I can help further.

[2017-05-15 18:21] edrushka commented on #555
Closing. This will go as a section on 'What to Expect' page for now.

[2017-05-15 18:21] #555 closed

[2017-05-15 18:25] edrushka commented on #552
Final text for autotweet:

I just proposed a session for #MozFest 2017. Check out mine, and others, at [link to github repo with all sessions].

[2017-05-15 20:10] edrushka opened #560 "Copy edit space descriptions for consistency"
All the spaces have submitted their descriptions [here](https://docs.google.com/document/d/1CUFkpdNuiUqgrdfqosz83GL0pub0VfEdKjc3qbgWWbg/edit#heading=h.ao7i8wb2xwva). Need to copy edit as lightly as possible so they read with a consistent voice. These edited descriptions will go on the [Spaces page](https://mozillafestival.org/spaces-and-sessions), and on the call for proposals form.

@KevZawacki d

[2017-05-15 20:26] KevZawacki commented on #560
@edrushka Sure -- what's the deadline?

[2017-05-15 20:30] edrushka commented on #560
End of day Thursday May 18, ideally, so we can run any changes by the teams before we publish. Let me know if that's not workable, or if you'd like me to take the first pass.

[2017-05-15 20:41] KevZawacki commented on #560
@edrushka no prob!

[2017-05-15 21:52] sabrinang commented on #559
Here are some ideas for the video section on the landing page:
<img width="1361" alt="image" src="https://cloud.githubusercontent.com/assets/2492510/26080806/023bcf44-397d-11e7-9921-62a7df1b74f1.png">
1 - moving video below and would be more informative to pair this with a CTA (perhaps what to expect since it relates to showing a video of last year).

2 - changing the hierarchy of the subheading t

[2017-05-15 22:13] edrushka commented on #559
Ohhh nice options!! I think I prefer Option 1, since I like the opportunity to highlight a line or two about 'What is MozFest'? I also like Option 2 as it's nice and clean (although I worry that the video competes with the CTA button). I like that Option 3 is shorter, but am not sure how I feel about the white highlighting on the title text.

@Saallen @hannahkane what are your thoughts?

[2017-05-15 22:25] sabrinang commented on #545
cc/ @taisdesouzalessa @xmatthewx

[2017-05-15 23:13] hannahkane commented on #559
These are great. I actually prefer option 3 because I like that it's tied to the CTA, and I like the highlighted text and the shorter hero.

My second choice would be option 1, again, for the connection to the CTA.

[2017-05-15 23:52] sabrinang opened #561 "Theme: Choose a Tagline"
### Description
The theme for this year is known to be around Internet Health. We can choose a 3-5 word tagline that reflects this to be shared with audiences. Previously, this tagline has been featured heavily on MozFest design production assets.

### Previous Applications
![taglines](https://cloud.githubusercontent.com/assets/2492510/26084067/3871f3ac-398e-11e7-981d-2422ba4d1522.jpg)

### Refere

[2017-05-16 00:02] sabrinang opened #562 "Create Moodboards"
### Description
Create some moodboard to inform 1-3 visual directions for MozFest 2017. Consider how the new Mozilla brand and Internet Health themes can inform the festival.

### Reference from Previous Years
2016 Google Slides: https://goo.gl/6F895N
Github Ticket: https://github.com/MozillaFoundation/Mozfest2016_production/issues/14

[2017-05-16 14:46] KevZawacki commented on #553
@edrushka Draft copy ready for your review (Lotta is looking, too): https://docs.google.com/document/d/1aIup5OqSMpZriTVBImKhfh4Ldlo-wHsYjicszez0Cz4/edit

[2017-05-16 16:50] edrushka opened #563 "Write automated email for session proposers"
This email will be sent automatically after someone submits a session. It contains:

- confirmation message that session was successfully submitted
- Github ticket number
- Context for why and how you might engage on Github
- Instructions on how to get started on github
- Reminder that sessions will be curated until end of August

cc @Saallen @mmmavis

[2017-05-16 16:54] edrushka opened #564 "Decide what gets ported to Github"
Decide what information gets ported from the Call for Proposals google form to the Github ticket for each session.

cc @Saallen

[2017-05-17 08:31] Saallen commented on #559
I am 😍 option 3.
Love the welcome to MozFest! Its fresh, its announces the festival and its different.
Love the video placement- and "what is MozFest like"- really shares what I worried the audience finds hard to understand.....this is what to expect.

What do ppl feel about separating the speakers more from the top section? As it does like feel they could be linked to the video.....what is mozfes

[2017-05-17 14:21] KevZawacki commented on #560
@edrushka OK, edits in! Once you've accepted / rejected, can you let me know? I'd like to do a final copyedit to ensure nothing became garbled in the track changes process.

[2017-05-19 19:39] sabrinang commented on #559
@Saallen I think you bring up a good point about the speakers section but I think a concern I have is that it seems like those speakers are for 2017 (but they are actually from 2016) so it could feel more separate with some copy/context that it was from last year.

@erikad Can you also write some final copy for the "What is MozFest like" section

[2017-05-19 20:16] edrushka commented on #550
Wrangler Teams:

**Online Privacy & Security**

Stéphanie Ouillon
Brett Gaylor
Mavis Ou
Phillipa Bailey
David Ross
Jonathan Kingston

**Open Innovation**

Aurelia Moser
Christos Bacharakis
Raegan MacDonald
Phillip Smith

**Decentralization**

Vigneshwer ‘Viki’ Dhinakaran
Ian Forrester
Tim Cowlishaw
Jon Tutcher

**Web Literacy**

Luke Pacholski
Fredrick Sigalla
Phillipa Bailey
Julie Neville
Mariana

[2017-05-19 20:44] edrushka commented on #548
News stories:

**Left column:**
[Bringing Back the Decentralized Web](https://medium.com/mozilla-festival/bringing-back-the-decentralized-web-5598408037c7)

**Right column:**
[Internet health as a social issue](http://www.cbc.ca/radio/spark/internet-health-as-a-social-issue-1.4053202)
[Mozilla planta cara a los ‘trolls’](http://tecnologia.elpais.com/tecnologia/2016/10/31/actualidad/1477905484_6250

[2017-05-19 21:45] edrushka commented on #549
@Saallen three things on this ticket:
1) suggest changing "Demo party" to "closing celebration" on weekend schedule
2) review What to Expect edits [here](https://docs.google.com/document/d/1tM5i3QnPwtxCmblC5hfKZq7vYG3xQwpW_AYDWiKFshM/edit#)
3) review new a11y section [also here](https://docs.google.com/document/d/1tM5i3QnPwtxCmblC5hfKZq7vYG3xQwpW_AYDWiKFshM/edit#)

[2017-05-19 21:59] edrushka commented on #559
@Saallen pls review blurb copy [here](https://docs.google.com/document/d/1tM5i3QnPwtxCmblC5hfKZq7vYG3xQwpW_AYDWiKFshM/edit#heading=h.aaaz5dixnj00)

[2017-05-22 11:32] Saallen commented on #559
Looks good @edrushka  I added some comments

[2017-05-22 11:35] Saallen commented on #549
@edrushka I agree demo party is over so happy with this text change- however there is a need for more than " celebratory drinks". no need to rush this piece here until festival updates in September

[2017-05-22 11:48] Saallen commented on #548
How about putting the IH report there as there will be high traffic when the call just opens so would be good to share with everyone?
S

[2017-05-22 16:30] Saallen opened #565 "No content when landing with JavaScript disabled"
I received a tweet complaining about the website.
I asked Cade and he thinks "That's NoScript - an add-on that disabled JavaScript. The MozFest site probably needs JS to display properly"

@mavis How should I respond to our friend below?
![screen shot 2017-05-22 at 16 48 19](https://cloud.githubusercontent.com/assets/10194015/26318762/1cc7018e-3f14-11e7-9f62-ea161663f1ae.png)

[2017-05-23 19:34] #528 closed

[2017-05-23 19:34] #533 closed

[2017-05-23 19:34] #536 closed

[2017-05-23 19:43] hannahkane commented on #564
Dependent on finalizing the form. :)

[2017-05-23 19:46] hannahkane commented on #541
cc @edrushka

[2017-05-23 20:40] mmmavis opened #566 "Upgrade webpack and tidy up npm scripts"
Build task takes way too long to finish! 😱 On average it takes 70secs for the `build` task to complete (the initial build AND all the rebuilds triggered by `watch` task)... This seems too long for a relatively small brochure site like this. @alanmoo have you experienced this when you worked on this site few months ago?

[2017-05-23 20:56] Pomax commented on #565
This is a valid complaint, no site should break because analytics is blocked, so "good catch! It looks like the code was missing namespace validation, we'll fix that asap, thanks for letting us know!" is a good response, and we need to make sure all our `ga` events are wrapped by a check to make sure analytics is available:
[code]

[2017-05-23 21:01] edrushka commented on #541
Very pretty!! For text, perhaps:
- Submit a MozFest session   OR  Submit a session for MozFest
- MozFest Call for Proposals is open  OR  Now open: MozFest Call for Proposals

I think we need the word MozFest prominently featured - the updated wordmark will be new to people (plus not everyone knows MozFest = Mozilla Festival).

[2017-05-23 21:02] edrushka commented on #541
cc @Saallen

[2017-05-23 21:17] edrushka commented on #548
We are currently featuring https://blog.mozilla.org/blog/2017/01/19/digital-citizens-lets-talk-about-internet-health/ I've asked Kev if there's something more recent, but there might not be. If not, do you want to keep that one persistent?

[2017-05-23 21:55] edrushka opened #568 "Create Call for Proposals Google Form"
This is the 🔑 key ticket 🔑 to unlock all the CFP work!

@Saallen please port the etherpad work into an actual Google Form. I can review it there if needed, and then we'll hand to Mavis.

[2017-05-23 21:57] edrushka opened #569 "Create Call for Proposals page"
Based on #568, create a Call for Proposals page (hopefully using Google API)

[2017-05-23 22:41] mmmavis commented on #566
Um I think it's worth upgrading webpack to v2 and tidying up all the npm scripts a bit.

[2017-05-24 00:41] edrushka commented on #559
This is no longer blocked. Blurb copy is here.

[2017-05-24 00:42] edrushka commented on #549
No longer blocked. I've edited first comment with copy links.

[2017-05-24 10:07] Saallen commented on #548
Is there no direct way link to the report?
If not this blog is perfect
Thanks

[2017-05-24 10:11] Saallen commented on #541
Ooh looks great @sabrinang
Another place for the banner is  on our emails to promote the open call via our ti.to - we have the ability to attach a banner.

[2017-05-24 13:32] Saallen commented on #568
I got the key I got the secret.....

(Example)[https://docs.google.com/a/mozillafoundation.org/forms/d/10Pwt_tVkqvxqnz6KTV3Wf2HDz5WQCq78toQKB5E8pXM/edit} would love feedback on especially on the last section from @hannahkane @mavis to the flow and the questions

[2017-05-24 14:09] alanmoo commented on #566
I haven't looked into webpack 2 but yeah there's probably opportunity to at least improve the dev build time via some tidying. Maybe no compression for dev, but make sure it's there for production?

[2017-05-24 16:49] edrushka commented on #548
We can certainly link directly to the report: https://internethealthreport.org/v01/
I'll use this instead of "Peering Behind the MozEx Installation".

This ticket is no longer blocked. Final stories are in the 2nd comment.

[2017-05-24 17:13] mmmavis commented on #566
@alanmoo oh yea, I cleaned things a bit and now build time (on development) is around 8 secs!

[2017-05-24 18:21] Saallen commented on #565
Thanks @Pomax appreciate the help :rescue_worker_helmet:

[2017-05-24 18:25] sabrinang commented on #541
Here are some versions with new copy and alternative colours:
![twitter 1760x800 purple](https://cloud.githubusercontent.com/assets/2492510/26419055/4580339c-4073-11e7-93d7-b646ee113673.jpg)
![twitter 1760x800 yellow](https://cloud.githubusercontent.com/assets/2492510/26419157/97d8a7dc-4073-11e7-9f92-e3445190026f.jpg)

[2017-05-24 18:40] sabrinang commented on #559
![video section revised](https://cloud.githubusercontent.com/assets/2492510/26419708/73144ee0-4075-11e7-8c37-35db77599c87.jpg)
- heading uses https://github.com/mozilla/zilla-slab
- copy blurb used
- a divider beneath this video section is included to separate the speakers more from the top section

[2017-05-24 18:43] Saallen commented on #559
😍
Looks great-  Love the separation of video content . As long as Mozfest in the banner will become MozFest I am very happy

[2017-05-24 19:31] edrushka commented on #568
HEre is it! https://docs.google.com/a/mozillafoundation.org/forms/d/10Pwt_tVkqvxqnz6KTV3Wf2HDz5WQCq78toQKB5E8pXM/edit?ts=59258a06

[2017-05-24 22:24] mmmavis commented on #565
Reopen - we need to make sure our GA respect user's DNT setting. I will submit a PR.

[2017-05-24 23:41] hannahkane commented on #568
Form looks great! Some minor notes:
 - Don't forget to change the title (currently includes "[draft 1]")
 - Do we need to collect an email address or some other way to contact them?
 - Don't forget to link to the Spaces page!
 - Maybe put the "After the festival, how will you and your participants..." question immediately following the "What is the goal or outcome of your session?" They seem somew

[2017-05-24 23:57] edrushka commented on #568
Thank you! Kevin is going to do a quick review tomorrow and then I'll make all the changes.

[2017-05-25 15:07] edrushka commented on #568
Kev's changes:

-- "This year we are accepting proposals in English, Spanish, French and German."

-- At MozFest, sessions are thematically organized into spaces. Please read the brief descriptions of each space here [link // needs hyperlink] before answering the following questions.

[2017-05-25 16:37] edrushka commented on #568
@hannahkane I made your edits - thanks! And just to clarify, people don't submit via this form directly. Mavis will build a page #569 based off this form. Therefore, I kept "draft" in the title and added a line at the very top directing people to the website (last year, someone found our draft form online and tried to use it). This is also why the links are missing (but Mavis will add them in #569

[2017-05-25 16:41] Pomax commented on #565
Reclosed - DNT is a different issue, not still this one.

[2017-05-25 16:41] #565 closed

[2017-05-25 16:42] Pomax opened #572 "Respect user's DNT setting"
We may need some more code to make sure that browsers set to DNT don't load GA at all.

[2017-05-25 20:26] #566 closed

[2017-05-25 20:29] mmmavis opened #573 "Better unicode support when "slugifying" strings"
A follow-up ticket for https://github.com/mozilla/mozillafestival.org/pull/570

Looks like `slugify` npm package has only some unicode awareness builtin. We should find ways to enhance unicode support when slugifying strings using `slugify` package.

/cc @Pomax

[2017-05-25 20:34] sabrinang commented on #559
Thanks @Saallen I updated that mockup to "MozFest".

There are no new assets for this section so @edrushka if you give the R+ for the design I believe it is ready for build.

[2017-05-25 21:02] mmmavis commented on #564
Form is finalized. Let's figure out what to include on Github. We should also create a new repo for 2017 proposals. Last year we had https://github.com/MozillaFoundation/mozfest-program-2016.

[2017-05-25 21:09] mmmavis commented on #564
I like @Saallen 's idea of using GitHub's milestone for a proposal's primary Space choice. I'm thinking

- `milestone`: proposal's primary space. There will be 6 milestones:
  - Web Literacy
  - Decentralisation
  - Open Innovation
  - Digital Inclusion
  - Privacy and Security
  - Youth Zone

- labels:
  - 6 Space labels, used as a proposal's secondary Space choice. Label format: `[Space] Name of

[2017-05-25 21:19] edrushka commented on #559
Design looks good. R+
Tiny copy tweaks for implementation:
The world's leading festival for the open Internet movement.  (capitalize Internet)
October 27-29, 2017 Ravensbourne College, London (no period after London)

[2017-05-25 21:24] edrushka commented on #564
Also, a label for if they will facilitate in another language, please! I did these manually last year, because we used an open text field on the CFP form. This year we have buttons on the form, so automating French, Spanish and German labels should be easy. We've created a 4th "open text" option to choose, but maybe we should remove that.

[2017-05-25 21:29] edrushka commented on #568
@Saallen Two things:

1) Why do we have first and last name separated? Is there any reason not to have one field for Name (this will make porting to the Github ticket more straightforward)
2) Propose adding this line to the top of the form, as a separate lin after "This year we are accepting proposals in English, Spanish, French and German.":

Accessibility: If you would like to submit a session a

[2017-05-26 00:14] sabrinang commented on #541
![preview](https://cloud.githubusercontent.com/assets/2492510/26475223/274e8ed4-416b-11e7-8e86-7c4628b40cb3.jpg)
- 2 dimensions: 1760x800px and 800x800px
- various colours from [mozilla palette](https://mozilla.ninja/color-palette) with overlay effects
- using 4 various copy options: 'Submit a MozFest session', 'Submit a session for MozFest', 'MozFest Call for Proposals is open' & 'Now open: MozFe

[2017-05-26 00:18] edrushka commented on #564
For Github porting, I propose:

**1) Github ticket title**

- session name

**2) First comment** in the ticket contains:

- ID (this autogenerates)
- Submitter's Name
- Submitter's Affiliated Organisation
- Submitter's Twitter
- Submitter's Github
- Additional facilitators
- What will happen in your session?
- What is the goal or outcome of your session?
- After the festival, how will you and your

[2017-05-26 01:40] mmmavis commented on #546
@edrushka what url do we wanna have for the Space page? It was `/spaces-and-sessions` but we can change it to just `/spaces`.

[2017-05-26 15:41] edrushka commented on #563
For reference, last year's ticket: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/47

[2017-05-26 15:49] edrushka opened #574 "Set up automated confirmation email"
Text written in #563
Last year's set up ticket: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/47

[2017-05-26 15:52] edrushka commented on #563
2016 message:

Hi Erika,

Thank you for submitting a session proposal to MozFest!

Our session curation process takes place on Github in the MozFest 2016 Program repo. Curation will begin in August when the Call for Proposals closes. In September, you'll be notified whether your session has been accepted or not.

Your session is documented in this issue: Learning Github with Julie

If you're new t

[2017-05-26 16:45] edrushka opened #575 "Write readme for 2017 curation repo"
2016 curation repo readme: https://github.com/MozillaFoundation/mozfest-program-2016/blob/master/README.md

[2017-05-26 17:07] edrushka opened #576 "Set up 2017 curation repo"
Suggested name: mozfest-program-2017
This keeps with convention set last year.

Readme ticket is #575

[2017-05-26 17:29] edrushka commented on #563
Drafted [here](https://docs.google.com/document/d/1tM5i3QnPwtxCmblC5hfKZq7vYG3xQwpW_AYDWiKFshM/edit#heading=h.gubel5wujtd5) cc @Saallen

[2017-05-26 18:06] mmmavis commented on #576
Done! https://github.com/MozillaFoundation/mozfest-program-2017

[2017-05-26 18:06] #576 closed

[2017-05-26 21:46] sabrinang opened #578 "Build section to highlight video on landing page"
### Mockup
![video section revised](https://cloud.githubusercontent.com/assets/2492510/26513652/7f8ac67e-4221-11e7-819b-f8fef356b3a0.jpg)
### Design Notes
- Using existing styles except the heading uses Zilla Slab Regular Highlight https://github.com/mozilla/zilla-slab
- A divider beneath this video section is included to separate the speakers from the top section

Design issue: https://github.com

[2017-05-26 21:47] sabrinang commented on #559
Thanks team! Closing and filed implementation ticket here https://github.com/mozilla/mozillafestival.org/issues/578

[2017-05-26 21:47] #559 closed

[2017-05-26 21:51] mmmavis opened #579 "Add format validators to Twitter/Github fields on the Proposal form"
1. one word only
2. start with `@` (?)

/cc @Pomax

[2017-05-26 21:56] Pomax commented on #579
It might be nice to have the `@` always be there so people don't even have to guess whether to include it

[2017-05-26 22:15] edrushka commented on #541
R+ these are great!
@stephaniemcv does 1760x800px work for emails? I think ti.to is fairly flexible, but if we send any emails via another platform, let me know if they should be a specific size.

[2017-05-26 22:21] edrushka commented on #568
Marking this as closed since the form is now on staging: https://mavis-mozfest.herokuapp.com/proposals

[2017-05-26 22:21] #568 closed

[2017-05-26 22:32] edrushka commented on #560
Marking this as closed as I believe all the changes are in. THANK YOU KEVIN!!!! 🌻

[2017-05-26 22:32] #560 closed

[2017-05-26 22:42] edrushka commented on #556
This is underway. Closing this to avoid duplicates. Staging ticket is here: https://github.com/mozilla/mozillafestival.org/pull/577

[2017-05-26 22:42] #556 closed

[2017-05-26 23:28] sabrinang opened #580 "Localize Social Media Graphic: Call for Proposal"
For the social shares, we will be having them in other languages as well:
- [x] German
- [x] French
- [x] Spanish

These most likely will be posted after June 1 but we can get them out quickly after we get the translated copy.

### Copy to Translate
Submit a session for MozFest

### Reference
English design issue: https://github.com/mozilla/mozillafestival.org/issues/541

cc/ @edrushka @Saallen

[2017-05-27 09:37] Saallen commented on #564
Looking good ladies!

**Labels**
* Time needed (<60; 60; 90; all weekend)
I am a little worried about this label as this is the most prone to being inaccurate information at time of curation.
* Experiences
We need experiences here as labels too- the artist in residence experience will be manually adding sessions as will advocacy (name tbc)  Example of label-  [Experience] Artist in residency
* For

[2017-05-29 17:07] mmmavis commented on #574
DevOps ticket filed to verify our configs from last year are still valid: https://github.com/MozillaFoundation/mofo-devops/issues/501

[2017-05-29 17:08] edrushka commented on #563
Text is ready [here](https://docs.google.com/document/d/1tM5i3QnPwtxCmblC5hfKZq7vYG3xQwpW_AYDWiKFshM/edit#heading=h.gubel5wujtd5).

[2017-05-29 17:08] #563 closed

[2017-05-29 17:09] edrushka commented on #574
@mmmavis the text is ready [here](https://docs.google.com/document/d/1tM5i3QnPwtxCmblC5hfKZq7vYG3xQwpW_AYDWiKFshM/edit#heading=h.gubel5wujtd5). Removing the 'needs help' as this is now ready for implementation. ✋

[2017-05-29 18:14] edrushka commented on #564
My thinking is to include the info necessary to accept or reject a ticket. We don't want wranglers having to refer to the master spreadsheet to curate. So we could potentially remove these 2 questions, since they are more prompts for the session hosts:
- After the festival, how will you and your participants take the learning and activities forward?
- How will you deal with varying numbers of part

[2017-05-29 18:21] edrushka commented on #564
**1) Github ticket title**

- session name

**2) First comment** in the ticket contains:

- ID (this autogenerates)
- Submitter's Name
- Submitter's Affiliated Organisation
- Submitter's Twitter
- Submitter's Github
- Additional facilitators
- What will happen in your session?
- What is the goal or outcome of your session?
- If your session requires additional materials or electronic equipment, pl

[2017-05-29 22:17] mmmavis commented on #574
@cadecairos can you point me to the repo where the email template is located so I can file a PR to update the content?

[2017-05-29 22:54] edrushka commented on #575
Done: https://github.com/MozillaFoundation/mozfest-program-2017/blob/master/README.md

[2017-05-29 22:54] #575 closed

[2017-05-29 23:04] edrushka opened #581 "Guidelines page"
https://mozillafestival.org/guidelines

Working in the Open section
- [x] update repo link to point to 2017 repo: https://github.com/MozillaFoundation/mozfest-program-2017
- [x] update 'how we work open at Mozilla' link to point to: https://mozilla.teachable.com/p/open-leadership-101

[2017-05-30 17:16] hannahkane commented on #580
Adding @TheoChevalier to coordinate translations

[2017-05-30 17:41] edrushka opened #583 "Changes to Call for Proposals form"
https://temp-mozfest-cfp-2017.herokuapp.com/proposals

**INTRO SECTION**
- [x] Change formatting of first paragraphs:

**Welcome to the MozFest 2017 Call for Proposals.**

MozFest sessions cover a wide range of topics, but share two important qualities: they are _interactive_ and _inclusive_.

Sessions may have anywhere from 3 to 25 participants, with a vast range of abilities and ages. Everyone a

[2017-05-30 17:41] edrushka commented on #583
Marking this as P1 as @TheoChevalier is ready to send form to localizers.

[2017-05-30 17:52] mmmavis commented on #569
Done! On staging: http://temp-mozfest-cfp-2017.herokuapp.com/proposals

[2017-05-30 17:52] #569 closed

[2017-05-30 17:55] mmmavis commented on #546
Done! On staging: http://temp-mozfest-cfp-2017.herokuapp.com

[2017-05-30 17:55] #546 closed

[2017-05-30 19:12] Saallen commented on #564
Looks good-
Thinking about privacy should we removed the twitter handle? or on the Call for Proposals page highlight this goes on github as public data? Twitter is pretty personal and in the past we have viewed it as personal as email addresses.

[2017-05-30 19:29] mmmavis commented on #583
Addressed most of the changes: http://temp-mozfest-cfp-2017.herokuapp.com/proposals

### Undone

- `Add the "remove" functionality to the 'Additional facilitators for your session' question`
  - making the "remove" button visible is easy but making both the add button and remove button look good takes time. Especially we are using an external library to build the form, there are some customization

[2017-05-30 19:34] mmmavis commented on #564
@Saallen these are [the sample Github tickets](https://github.com/mmmavis/test-mozfest-2017-proposals), you can test the form http://temp-mozfest-cfp-2017.herokuapp.com/proposals and let me now if anything needs changes.

+1 on removing Twitter handle from GitHub tickets.

[2017-05-30 19:43] edrushka commented on #583
It's fine to not add the remove functionality. If people make a mistake, they can contact us via email or Github and we can make the change

The Additional support section is not great. How breaking up the last part into 2 sections and making use of the section description text area.

**Rename Additional Support to Travel Support**
- Use the session description to write:
MozFest offers limited pla

[2017-05-30 20:21] mmmavis commented on #554
Done! http://temp-mozfest-cfp-2017.herokuapp.com/team

[2017-05-30 20:21] #554 closed

[2017-05-30 20:59] mmmavis commented on #552
Done! http://temp-mozfest-cfp-2017.herokuapp.com/

[2017-05-30 20:59] #552 closed

[2017-05-30 21:32] mmmavis commented on #549
@edrushka did you mean

![screen shot 2017-05-30 at 14 31 10-fullpage](https://cloud.githubusercontent.com/assets/2896608/26605904/b384e1c8-4544-11e7-81f4-5f859b272141.png)

[2017-05-30 22:48] edrushka commented on #549
Yah, where it says Demo Party on the Sunday schedule, please change to Closing Celebration.

[2017-05-30 22:53] edrushka commented on #549
Oh - did you mean the A11Y section? That looks good too! 👍 😀

[2017-05-30 22:58] mmmavis commented on #549
Done! http://temp-mozfest-cfp-2017.herokuapp.com/expect

[2017-05-30 22:58] #549 closed

[2017-05-31 00:54] edrushka opened #589 "Guidebook security review"
Conduct rapid assessment on Guidebook.

Mavis, assigning you for now, but feel free to re-assign.

cc @cadecairos @mmmavis

[2017-05-31 01:34] edrushka opened #590 "Write Call for Proposals tweets"
Draft tweets here: https://docs.google.com/document/d/1zlSNYv-noARdo8Rm-ZalE2pxkmmvB_V9CyfTanJd8sw/edit#

@Saallen and @Lottarao please review before I hand (some of these) to @TheoChevalier for L10N. Thanks!

[2017-05-31 02:26] mmmavis commented on #548
Done! http://temp-mozfest-cfp-2017.herokuapp.com/

[2017-05-31 02:26] #548 closed

[2017-05-31 02:27] mmmavis commented on #578
Done! http://temp-mozfest-cfp-2017.herokuapp.com/

[2017-05-31 02:27] #578 closed

[2017-05-31 02:31] mmmavis commented on #550
Done! http://temp-mozfest-cfp-2017.herokuapp.com/spaces

[2017-05-31 02:31] #550 closed

[2017-05-31 03:37] mmmavis commented on #583
Changes made! http://temp-mozfest-cfp-2017.herokuapp.com/proposals

[2017-05-31 03:37] #583 closed

[2017-05-31 03:42] mmmavis commented on #564
Done!

[2017-05-31 03:42] #564 closed

[2017-05-31 14:36] Saallen commented on #590
@erikad these look great- could some of them link to the spaces page where folks can find out more about the space narratives?

[2017-05-31 15:24] edrushka commented on #590
Good idea. I'll also add 1 or 2 directly linking Global Sprint to MozFest.

[2017-05-31 15:33] edrushka opened #594 "QA: Change section title to 2017"
https://temp-mozfest-cfp-2017.herokuapp.com/spaces

Section title should say MozFest 2017 spaces

[2017-05-31 15:36] edrushka opened #595 "QA: link 'contact us' text"
https://temp-mozfest-cfp-2017.herokuapp.com/expect

In the a11y section, link "contact us" in the last sentence to festival@mozilla.org

[2017-05-31 15:43] edrushka opened #596 "QA: Link to 2017 repo"
https://temp-mozfest-cfp-2017.herokuapp.com/guidelines

In 'Working in the Open' section, repo link should point to https://github.com/MozillaFoundation/mozfest-program-2017

[2017-05-31 16:49] cadecairos commented on #574
@mmmavis The template is kept here: https://github.com/mozilla/webmaker-mailroom/tree/master/templates

[2017-05-31 16:57] mmmavis commented on #594
Fixed: http://temp-mozfest-cfp-2017.herokuapp.com/spaces

[2017-05-31 16:57] #594 closed

[2017-05-31 16:57] mmmavis commented on #595
Fixed: http://temp-mozfest-cfp-2017.herokuapp.com/guidelines

[2017-05-31 16:57] #595 closed

[2017-05-31 18:07] mmmavis commented on #574
Thanks @cadecairos ! PR submitted: https://github.com/mozilla/webmaker-mailroom/pull/59 Hopefully this is a quick review for you.

Another question - if I wanna test this on MozFest staging, can I copy and use the same sawmill/hatchet creds that we have for MozFest production?

[2017-05-31 18:17] mmmavis commented on #581
Done! http://temp-mozfest-cfp-2017.herokuapp.com/guidelines

[2017-05-31 18:17] #581 closed

[2017-05-31 18:17] mmmavis commented on #596
Fixed! http://temp-mozfest-cfp-2017.herokuapp.com/guidelines

[2017-05-31 18:17] #596 closed

[2017-05-31 18:25] mmmavis commented on #551
Done! http://temp-mozfest-cfp-2017.herokuapp.com/projects

[2017-05-31 18:25] #551 closed

[2017-05-31 18:27] mmmavis opened #600 "QA: Proposal form"
Feedback from @Saallen

* Final closing date is confusing- Deadline for submissions is 12:00am BST August 1, 2017-
Can it be changed to closing date August 1st 2017?

* When I click on any link it loads directly in page I am using- this should link to a new tab as would be more helpful. Currently when I then click back to return to the form all the fields I have filled in are now empty

* organize

[2017-05-31 18:31] hannahkane commented on #600
Just noting functionality test passed for me in desktop Chrome and mobile Safari. Have some follow-up UX tickets to file, but basic submission flow passed.

[2017-05-31 18:52] mmmavis commented on #600
Thanks for the feedback @Saallen ! All the issues you found have been fixed except the `Having this statement above the question seems out of order` one as there are some tech limitations (tldr, we are using an external library to build the form and the library only allow us to customize certain things).

I've asked more people to QA the form. So far no one has encountered any issue. I'm guessing

[2017-05-31 18:53] #600 closed

[2017-05-31 18:58] edrushka commented on #557
This work is underway! Re-assigning to @TheoChevalier

[2017-05-31 18:59] edrushka commented on #580
This work is underway.

[2017-05-31 19:01] edrushka opened #602 "Localize the automated reponse email"
Localize the confirmation email detailed in #574.

- [x] German
- [x] French
- [x] Spanish

[2017-05-31 19:02] edrushka commented on #602
This work is underway.

[2017-05-31 19:03] edrushka opened #603 "Localize call for proposals tweets"
Localize the EN call for proposals tweets from #590

- [x] German
- [x] French
- [x] Spanish

[2017-05-31 19:03] edrushka commented on #603
This work is underway.

[2017-05-31 19:42] cadecairos commented on #574
@mmmavis staging mozfest is hooked up to staging sawmill, so once we land the update to sawmill, it will work. remember that the sawmill event name is now "mozfest_session_proposal_2017"

[2017-05-31 19:43] mmmavis commented on #574
@cadecairos awesome! Can you help land the updates to sawmill please?

[2017-05-31 19:43] cadecairos commented on #574
yup, wating on a review: https://github.com/mozilla/sawmill/pull/80

[2017-05-31 20:07] mmmavis opened #606 "Update README and sample.env & clean up old env vars on Heroku"

[2017-05-31 20:35] cadecairos commented on #574
@mmmavis It's on staging now, can you test and confirm it's working?

[2017-05-31 21:45] edrushka commented on #553
Re-opening because we don't have Mark's speech bubble yet.

[2017-05-31 22:04] edrushka commented on #590
This is done. Will create a Call for Proposals Cheat Sheet to share this more widely with staff, wranglers and network.

[2017-05-31 22:04] #590 closed

[2017-05-31 22:04] edrushka opened #608 "Create Call for Proposals cheat sheet (public facing)"
[2016 cheat sheet](https://docs.google.com/document/d/1H5SaffExxFdh5pOEBVKzARnS7eF5Cez9AFHzzgmB8y0/edit#), for reference.

[2017 cheat sheet](https://docs.google.com/document/d/1vBmHO7KGRub9DUV2XynQTAHOnURbh4Ijs9z-iDsK-uo/edit) -- in progress

[2017-05-31 22:33] mmmavis commented on #574
@cadecairos I get this `IncompleteSignature:` error. It says blah blah blah `not a valid key=value pair (missing equal-sign)`. You can check the error log at `2017-05-31T22:29:38.686695+00:00 app[web.1]` to see the detail. Is it something I can fix on my end/MozFest site?

[2017-06-01 00:13] cadecairos commented on #574
@mmmavis I think that may have been caused by some leading whitespace on the env var, can you try again?

[2017-06-01 00:56] mmmavis commented on #574
Duh whitespacessss! Yea I got the confirmation email! Yay! (It was in my spam box though)

<img width="950" alt="screen shot 2017-05-31 at 5 51 53 pm" src="https://cloud.githubusercontent.com/assets/2896608/26660073/596db3cc-462a-11e7-9fa4-e421b5785d6a.png">

[2017-06-01 08:12] Saallen opened #611 "AND WE ARE LIVE!!"
Whoop- first big hurdle cleared 🎆 the Call for Proposals is OPEN
So exciting to come into work and see the website looking all swish and new at 9am

Well done, high fives, virtual hugs and rounds of appreciation @mmmavis @edrushka @hannahkane  @sabrinang and everyone else who tested, spell checked and worked hard behind the code ❤️

[2017-06-01 14:54] edrushka commented on #611
![giphy](https://cloud.githubusercontent.com/assets/4515662/26685582/67983ca4-469f-11e7-8c7f-18be71214f1f.gif)

Thanks everyone. Technically we got this live on the 31st - I think this is a new record 😄

[2017-06-01 19:43] mmmavis commented on #574
Thanks @cadecairos !!! Confirmed this is working great!!! ✨  @Saallen and @edrushka both got their emails in the inbox (not spam!) I think it's probably I had done too much testing before so Google decided to mark that sender as spammer.

[2017-06-01 19:43] #574 closed

[2017-06-01 22:20] mmmavis commented on #611
＼＼\\٩( 'ω' )و //／／

[2017-06-01 22:27] mmmavis opened #612 "Localized proposals curation flow"
@edrushka

We know we will have the non-English forms live on different pages on the site (i.e., different URLs than just `/proposals`). How about the spreadsheet and GitHub repo? Do we plan to have these non-English proposals go to the same spreadsheet and repo as what the English proposals use?

[2017-06-01 22:31] edrushka commented on #612
The localized pages should live here:
https://mozillafestival.org/proposals-francais   ---->  mzl.la/francais
https://mozillafestival.org/proposals-espanol  ----> mzl.la/espanol
https://mozillafestival.org/proposals-deutsch ----> mzl.la/deutsch

They should live on the same spreadsheet and enter into the same repo as the EN proposals.

The only part of the process that's different is the form and

[2017-06-01 22:33] edrushka commented on #612
If you have the time, I suggest you prep as much of that process as you can now. When the strings come in, we'll be on fire to get them up and public 🔥 🔥 🔥 🚒

[2017-06-01 23:40] TheoChevalier commented on #602
Tracking dashboard: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=emails/2017/mozfest_call.lang

Translations: https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2017/mozfest_call.lang&action=translate&show

So far, German is ready

[2017-06-01 23:40] TheoChevalier commented on #603
Tracking dashboard: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=social/2017/mozfest.lang

Translations: https://l10n.mozilla-community.org/langchecker/?website=6&file=social/2017/mozfest.lang&action=translate&show

 So far, German is ready

[2017-06-02 01:39] TheoChevalier commented on #580
German and French are ready https://l10n.mozilla-community.org/langchecker/?website=6&file=social/2017/mozfest.lang&action=translate&show
(First two strings, the next ones are tweets)

French:
`Proposez une session pour le MozFest`
`L’appel à propositions est ouvert pour le MozFest`

German:
`Schlagen Sie eine Sitzung für das MozFest vor`
`Ab sofort können Vorschläge zum MozFest abgegeben werden`

[2017-06-02 09:16] Saallen commented on #580
🇩🇪 🇫🇷

[2017-06-02 11:21] stephaniemcv commented on #541
Oooh, pretty! Our templates in Salesforce Marketing Cloud have width maximum around 640px for rectangle and 250px width for square images. Higher than that and you run the risk of blowing out the template and getting weird gaps in some email clients.

These also look like they will scale down well on mobile and the text will still be readable!

[2017-06-02 18:14] mmmavis commented on #612
@edrushka

Say someone submitted a proposal in French, but he didn't choose to conduct the session in a non-English language, how should the response show up on spreadsheet? Do we want the "additionallanguage" field on spreadsheet to be blank? or "French"? Same question applies to GitHub ticket. What label do we wanna use to indicate that the **proposal itself** is in non-English?

[2017-06-02 19:03] TheoChevalier commented on #557
L10N tracking dashboard: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2017/mozfest_form.lang

Translations: https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2017/mozfest_form.lang&action=translate&show

German form is ready!
Spanish is done but still under review (early next week)
French should be done early next week too

[2017-06-02 19:04] TheoChevalier commented on #580
Spanish is now ready too, we’re complete 🎉
Let me know if some strings are too long, we may be able to shorten them a little bit

[2017-06-02 19:12] edrushka commented on #580
@TheoChevalier yay! Can you throw the ES string in this ticket?

@sabrinang can you pop these strings into the CFP graphics and let us know if they are too long?

[2017-06-02 19:20] TheoChevalier commented on #580
Sure, here’s Spanish:
`Enviar una sesión para MozFest`
`Abierta la convocatoria de propuestas para el MozFest`

(Also available from the link above if needed)

[2017-06-02 19:35] edrushka commented on #612
Let's use the same label. The proposal itself will clearly be in French (we'll and the translated version in the second comment) so we don't need any further identification on Github. I am going to make the blanket assumption that if someone submits a proposal in another language, they are willing to host a bilingual session!

[2017-06-02 19:46] mmmavis commented on #612
These are definitely edge cases but I still need more clarification so I can handle things correctly in code.

### Case 1
1. someone submits a French proposal
2. he didn't choose to conduct the session in any non-English language (he didn't answer that "bilingual" question)

Expected spreadsheet result: `additionallanguage` set to `French`
Expected Github issue result: `French` label applied

###

[2017-06-02 19:55] edrushka commented on #612
Haha! I ❤️ Case 2. This might be more common expected, since many people can speak both French and Spanish (we saw this in the proposals from last year).

I'd do:
Spreadsheet set to French.
Both Github labels:  French and Other: Japanese

[2017-06-02 20:20] edrushka opened #615 "QA: Change name"
https://mozillafestival.org/spaces

Please change Viki's name  in the Decentralization space to:
D. Vigneshwer 'Viki'

[2017-06-05 13:53] TheoChevalier commented on #557
French is now ready too! Waiting for last strings + review for Spanish.

[2017-06-05 13:54] TheoChevalier commented on #602
French is now ready too! Waiting for last strings + review for Spanish.

[2017-06-05 13:55] TheoChevalier commented on #603
French is now ready too! Waiting for final review for Spanish, and a couple strings have to be shortened

[2017-06-05 18:11] mmmavis opened #616 "Bug: Proposal GitHub tickets should not have "none" label"
**Problem:**
If a proposal has its "Secondary Space" set to "None",  when it get posed on GitHub it gets a "None" label.

**Solution:**
We should clear that value before sending the proposal to spreadsheet and to GitHub so the entry doesn't have a "None" field value and GitHub label.

---

Another issue:
If user chose "Other" as the additional language without specifying the language, we should si

[2017-06-05 18:22] mmmavis commented on #557
Notes for Mavis:

- Space names should be localized **on the form**
- Space names **on the spreadsheet** should be in English
- Space names **on GitHub** should be in English

[2017-06-05 19:17] mmmavis commented on #602
@cadecairos just a headsup - once things have been localized I will submit a PR on `sawmill` and tag you for review. 😉

[2017-06-05 21:23] sabrinang commented on #580
Thanks @TheoChevalier for the translated strings! I have a question about a FR string, on https://l10n.mozilla-community.org/langchecker/?website=6&file=social/2017/mozfest.lang&action=translate&show there is one on that site that is different than the one you pasted in this ticket (see below).

### Strings on this ticket:
German (de):
`Schlagen Sie eine Sitzung für das MozFest vor`
`Ab sofort kön

[2017-06-05 22:46] #616 closed

[2017-06-06 05:19] TheoChevalier commented on #580
Ah, good catch @sabrinang, the version you used (from the website) is the correct one

[2017-06-06 16:26] edrushka commented on #616
@mmmavis is it ok if I manually remove those labels in Github now? I'm doing a demo on Thurs and don't want people to be confused.

[2017-06-06 16:30] edrushka commented on #553
Mark's blurb is ready! https://docs.google.com/document/d/1aIup5OqSMpZriTVBImKhfh4Ldlo-wHsYjicszez0Cz4/edit

[2017-06-06 16:32] edrushka commented on #608
Done: https://docs.google.com/document/d/1aIup5OqSMpZriTVBImKhfh4Ldlo-wHsYjicszez0Cz4/edit

[2017-06-06 16:32] #608 closed

[2017-06-06 16:36] #611 closed

[2017-06-06 16:40] edrushka commented on #589
heya -- any updates? I just want to make sure this gets started.

[2017-06-06 16:47] mmmavis commented on #616
@edrushka yup plz go ahead.

[2017-06-06 17:23] Saallen commented on #615
please add Mark Boas here as a wrangler too :bowing_woman:

[2017-06-06 17:25] mmmavis commented on #615
@Saallen to "Decentralization" ? or another Space?

[2017-06-06 17:27] Saallen opened #619 "Update secondary space labels on proposal repo"
I was making some edits to label names today. I wanted the label with space name to be more overt as a secondary request so edited the labels to read [secondary Space] Web literacy....
I just noticed that someone add a new session and the label automatically added was not one I edited. Is there a bug or did I break the system @mmmavis @edrushka
![screen shot 2017-06-06 at 18 20 48](https://user-im

[2017-06-06 17:29] Saallen commented on #615
to Decentralization please @mmmavis

[2017-06-06 18:02] sabrinang commented on #580
All localized social shares are exported here in gdrive: https://drive.google.com/drive/folders/0B4Q8pzCpDS_eQk1YYkt2WVhSQVk?usp=sharing

[2017-06-06 18:45] sabrinang commented on #580
@edrushka or @Saallen R? Can you review these social shares?
Redpen: https://redpen.io/p/pxf744fb02d396a081
or
Google Drive: https://drive.google.com/drive/folders/0B4Q8pzCpDS_eQk1YYkt2WVhSQVk?usp=sharing

[2017-06-06 19:17] Saallen commented on #615
Hey @edrushka  We are also missing in this space Solana Larsen here- is that correct?

[2017-06-06 19:18] Saallen opened #620 "QA: Missing name on P&S space"
Please add Jen Caltrider

[2017-06-06 19:48] edrushka commented on #580
Beautiful! R+

Thank you Sabrina 🌷

[2017-06-06 23:15] mmmavis commented on #619
@Saallen Neither 😉  The automated proposal pipeline won't know any changes made directly in GitHub. Currently we configure the script to apply a `[Space Name]` label if a secondary Space was selected in the proposal. If we would like to change the label to be prefixed with `Secondary Space` (e.g., `[Secondary Space] Space Name`) I can update the script. Let me know! 👀

[2017-06-07 00:07] edrushka opened #621 "All language labels the same colour"
Please make French, Spanish & German and the auto-generated ones the same colour. This will be easier for curators at a glance. Thanks!!

[2017-06-07 00:08] mmmavis commented on #621
@edrushka by "auto-generated ones" did you mean those `Other: Language` labels?

[2017-06-07 00:13] edrushka commented on #621
yes, exactly. they are currently grey.

[2017-06-07 10:23] Saallen commented on #619
Ah I see @mmmavis phew!
Can we change the script to make the secondary label clearer for all submissions?

[2017-06-07 21:25] edrushka opened #622 "Launch localized CFPs"
1) Mavis makes the localized forms live at
- https://mozillafestival.org/proposals/francais
- https://mozillafestival.org/proposals/espanol
- https://mozillafestival.org/proposals/deutsch

2) Mavis adds a link to each language on the English form (and removes line 'Please check back in by June 15 to find localized versions of this form.')

3) Hannah, ask Willse to remake the shortlinks as follows

[2017-06-07 21:29] #580 closed

[2017-06-07 21:49] edrushka commented on #622
cc @mmmavis @hannahkane @Saallen @TheoChevalier

[2017-06-07 22:35] sabrinang commented on #541
social graphics complete + emails have been sent out ✉️✨

[2017-06-07 22:35] #541 closed

[2017-06-08 15:35] edrushka commented on #615
@mmmavis please add Mark and change Viki for now, we'll get back to you soon about Solana (will file a new ticket). Thanks!

[2017-06-08 16:54] mmmavis commented on #619
Okay I will make this change after my calls this morning. Once I'm done, @Saallen can I go ahead and move these that are currently in `[Space Name]` to `[Secondary Space] Space Name`. That way we can remove those `[Space Name]` labels and avoid confusion.

[2017-06-08 18:08] #615 closed

[2017-06-08 18:11] #620 closed

[2017-06-08 18:59] mmmavis commented on #615
Done! https://mozillafestival.org/spaces

[2017-06-08 19:00] mmmavis commented on #620
Done! https://mozillafestival.org/spaces

[2017-06-08 23:23] mmmavis commented on #602
@TheoChevalier I know nothing about German but the capitalization in the following 2 strings look a bit odd to me:

- `Hi [First Name],` --> `Guten Tag [First Name],`
   - lowercase `t` instead?
- `Thank you for submitting a session proposal for MozFest!` --> `danke für Ihren Vorschlag für eine Veranstaltung beim MozFest!`
   - uppercase `D` instead?

Could you help verify?

[2017-06-08 23:38] TheoChevalier commented on #602
@mmmavis Guten Tag is correct, I can find several occurrences in past emails:
https://pontoon.mozilla.org/de/engagement/emails/2017/copyright.lang/?string=163193
https://pontoon.mozilla.org/de/engagement/emails/2017/data_privacy_day.lang/?string=161961

As for the lack of capitalization for the first sentence, it’s also wanted because there is no period before (that’s the rule they are following).

[2017-06-08 23:41] mmmavis commented on #602
@TheoChevalier Gotcha! Thanks! Sounds like it's a simple copying and pasting job for me then!

[2017-06-09 02:08] mmmavis commented on #602
hey @TheoChevalier , can you help me proofread and see if I hyperlinked the right text in the test email below? I can't tell if I wrapped `<a>` around the right word(s) or not 👀

<img width="1171" alt="screen shot 2017-06-08 at 7 05 01 pm" src="https://user-images.githubusercontent.com/2896608/26958066-78fae56c-4c7d-11e7-9302-d5f23ffe1a16.png">

<img width="1177" alt="screen shot 2017-06-08 at 7 0

[2017-06-09 03:23] TheoChevalier commented on #602
I think you nailed it pretty well, the only one I would change is the link to the video for both locales:

`Wenn Sie bei GitHub neu sind, zeigt Ihnen <a>dieses 45-sekündige Video</a>, wie Sie sich für ein kostenloses Benutzerkonto registrieren.`
`Si vous n’avez pas l’habitude d’utiliser GitHub, <a>cette vidéo de 45 secondes</a> vous montrera comment créer un compte gratuit.`

(Adding this to the l

[2017-06-09 03:39] mmmavis commented on #602
@TheoChevalier thanks! That's very helpful. I will update my [PR](https://github.com/mozilla/webmaker-mailroom/pull/61)!

[2017-06-09 12:43] Saallen opened #626 "Additional copy for top of call for proposals page"
During yesterdays call it was highlighted that we need a bit more context about the type of sessions we are looking for. I want to de-emphasizes slide presentations and lecture but ensure people understand they can submit a wide variety of sessions such as art pieces and hacks.
What do people think about this as a copy edit @mmmavis @KevZawacki @hannahkane to the top of this page, first line: http

[2017-06-09 13:06] Saallen opened #627 "QA-Link swap out"
Request from legal team @mmmavis
On main page Terms link in the footer is hard coded as U.S.- can we swap it out for https://www.mozilla.org/about/legal/terms/mozilla/ 📖

[2017-06-09 14:13] hannahkane commented on #626
I like the idea of clarifying. Some of the best Mozfest sessions I've attended have *included* slide presentations and a bit of lecture, they just *also* included an interactive/hands-on component. Not sure if the intent is to avoid that style altogether.

Perhaps something like, "MozFest sessions cover a wide range of topics, but share two important qualities: they are interactive and inclusive.

[2017-06-09 14:16] KevZawacki commented on #626
Either update works for me! Good idea to clarify.

[2017-06-09 15:36] cadecairos commented on #589
@edrushka can you provide more info about what Guidebook is, and where to find it?

[2017-06-09 16:27] Saallen commented on #626
How about
MozFest sessions cover a wide range of topics, but share two important qualities: they are interactive and inclusive. We welcome workshops, exhibits and often shy away from sessions that are exclusively lectures and slide presentations.

[2017-06-09 16:29] hannahkane commented on #626
WFM!

[2017-06-09 17:02] mmmavis commented on #589
Hey @alanmoo @jessevondoom so Guidebook was the 2nd on my shortlist when I did the schedule app research. Since our decision about using Attendify is still up in the air should we start a RRA for Guidebook during the meantime?

@edrushka also mentioned https://eventory.cc/ but I haven't had a chance to check it out yet.

[2017-06-09 17:10] KevZawacki commented on #626
Sure! Two tiny copy edits (in bold):

MozFest sessions cover a wide range of topics, but share two important qualities: they are interactive and inclusive. We welcome workshops **and** exhibits**,** and often shy away from sessions that are exclusively lectures and slide presentations.

[2017-06-09 20:59] jessevondoom commented on #589
@mmmavis I think it's smart to start the review so we know what we're dealing with. I've got the email from Attendify so I'll write them and see if I can get any wiggle room / clarity on the fees they're asking for.

[2017-06-09 21:02] alanmoo commented on #589
@mmmavis you mentioned the RRA scheduling takes a few weeks to actually happen, right?

[2017-06-12 11:03] Saallen commented on #626
Helllo @mmmavis
Can you please make the following text amendment to the top of the introduction of the call for proposals page.

Existing line: MozFest sessions cover a wide range of topics, but share two important qualities: they are interactive and inclusive.
Please add to end of existing line -We welcome workshops and exhibits,  and often shy away from sessions that are exclusively lectures and

[2017-06-12 16:28] mmmavis commented on #626
@Saallen yup yup I'll make that change today.

/cc @TheoChevalier as this might affect the content we are showing on the localized proposal pages.

[2017-06-12 16:57] mmmavis commented on #626
Done! https://mozillafestival.org/proposals

[2017-06-12 17:03] TheoChevalier commented on #626
Thanks, including the new string in the batch of last minute strings, will be exposed in a few

[2017-06-12 17:09] Saallen commented on #626
Thanks all!!!

[2017-06-12 17:11] #627 closed

[2017-06-12 18:09] mmmavis commented on #627
Live: https://mozillafestival.org

[2017-06-12 19:11] mmmavis commented on #619
Done!

[2017-06-12 19:11] #619 closed

[2017-06-12 19:12] mmmavis commented on #513
This is already done.

[2017-06-12 19:12] #513 closed

[2017-06-12 19:39] TheoChevalier commented on #626
If I followed correctly the discussions in https://github.com/mozilla/mozillafestival.org/pull/618 are we good with `We welcome workshops and exhibits, and strongly favor these over sessions that are exclusively lectures and slide presentations.`? Let me know if I can push the button 🚢

[2017-06-12 22:01] TheoChevalier commented on #626
Couldn’t wait more, so I just pushed the version above ↑
Thanks!

[2017-06-13 00:26] mmmavis opened #630 "Add icons to footer links"
... since icons are required!

For context see https://github.com/mozilla/mofo-ui/issues/63

[2017-06-13 01:13] mmmavis commented on #630
@sabrinang @taisdesouzalessa @kristinashu I'm not sure what icons to use for the first 3 links. Please see what's available in `mofo-bootstrap` currently: https://mozilla.github.io/mofo-bootstrap/demo/ (scroll to page bottom)

<img width="694" alt="screen shot 2017-06-12 at 6 11 59 pm" src="https://user-images.githubusercontent.com/2896608/27061679-c151a6fa-4f9a-11e7-98a0-2296a08b6e0b.png">

[2017-06-13 11:16] TheoChevalier commented on #557
@mmmavis Got confirmation this morning that current Spanish translations are final: https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2017/mozfest_form.lang&action=translate&show
Note that some strings from yesterday are missing, but that should not block us

[2017-06-13 15:40] Saallen opened #631 "New Sponsor page on MozFest.org"
We need a new page to be added to the MozFest website for sponsorship opportunities.
I am currently working on content for this page and will add this content to the issue once it has been approved.

In the meantime
* @sabrinang  can you find a new picture for the top of this page?
* @mmmavis once I get approval on content can you please create this new page- with link to be added to the top navig

[2017-06-13 16:34] kristinashu commented on #630
I'd say:
- speak bubble from "IRC" for "Blog"
- "i" from "info" for "Festival Team"
- happy face from "Code of Conduct" for "Participation Guidelines"

Thanks @mmmavis!

[2017-06-13 17:31] #630 closed

[2017-06-13 18:11] mmmavis commented on #602
@TheoChevalier and /cc @Melechuga : do you mind QAing this Spanish email template for me? Copy is based on the [finalized translations](https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2017/mozfest_call.lang&action=translate&show) but I just don't know if I included the right words for hyperlinks.

<img width="1168" alt="screen shot 2017-06-13 at 11 07 53 am" src="https://user

[2017-06-13 18:15] TheoChevalier commented on #602
Thanks @mmmavis! It looks good, I would just tweak the video link like French and German:

`Si es tu primera vez en GitHub, <a>este vídeo de 45 segundos</a> te mostrará cómo crear una cuenta gratuita.`

[2017-06-13 18:16] TheoChevalier commented on #557
French and German error messages + success page are available for you

[2017-06-13 23:04] mmmavis commented on #612
@edrushka now I think about it, I think the meta on Spreadsheet and Github should **not** differ to avoid future confusion.

- I'll add a new column in Spreadsheet called `proposallanguage` that records the language the proposal was written in (e.g., `French` in this case).
- On Github both the `proposallanguage` and `additionallanguage` will appear as language labels. (e.g., `French` and `Other:

[2017-06-14 06:44] TheoChevalier commented on #557
And Spanish is fully ready too, now

[2017-06-14 10:14] Saallen commented on #631
Copy for the new Sponsorship page

MozFest is the world’s leading event for and by the open Internet movement, and one of Mozilla’s largest annual networking opportunities. This three-day festival of interactive sessions, hands-on activities, and engaging talks brings together 1,800 passionate advocates of the open web from around the world for the flagship event in  Mozilla’s leadership network.

[2017-06-14 17:56] mmmavis commented on #612
@TheoChevalier @hannahkane I will add those last minute translations in in ~an hour. Other than that, everything is ready for testing.

MozFest staging site links:
- https://mozillafestival.org/proposals/francais
- https://mozillafestival.org/proposals/espanol
- https://mozillafestival.org/proposals/deutsch

Please try submitting a non-Eng proposal and see if your entry ends up showing on
- https:

[2017-06-14 18:12] mmmavis opened #634 "Add last round of translations for non-English proposal pages"

[2017-06-14 18:20] mmmavis commented on #612
@xmatthewx can you help update the moz shortlinks? We made adjustments to the urls. Here's the updated list:

- https://mozillafestival.org/proposals/francais ----> mzl.la/francais
- https://mozillafestival.org/proposals/espanol ----> mzl.la/espanol
- https://mozillafestival.org/proposals/deutsch ----> mzl.la/deutsch

[2017-06-14 18:37] hannahkane commented on #612
@mmmavis and @TheoChevalier - tests passed for me.

I will note a few things, none of which feels like a blocker to me:
 - The "Submitting" button state is in EN for all forms. It's also misspelled in EN; should be "Submitting" not "Submiting".
 - The success message is in EN for all forms
 - Wondering if the question about delivering the session bilingually is confusing in the context of non-EN f

[2017-06-14 19:35] #634 closed

[2017-06-14 19:45] mmmavis commented on #612
thanks for the QA @hannahkane

- To your first 2 points - I just fixed the typo and added the last bits of translations in!
- To your last point - @edrushka and I discussed about it [earlier in this ticket](https://github.com/mozilla/mozillafestival.org/issues/612#issuecomment-305870369) but the discussion was more around how these meta should show up on spreadsheet & GitHub. I would assume if I w

[2017-06-14 22:11] xmatthewx commented on #612
@mmmavis – I updated the links. I believe I did it right. Please check 'em.

[2017-06-14 22:22] hannahkane commented on #622
Localized forms are on staging, and have been QA'd for functionality, though not for localization.

Link to each language on the EN form is working as expected on staging.

Shortlinks exist.

Cheatsheet updated.

I think we just need an OK from @TheoChevalier to push to production, and then @Saallen can send the Wrangler and Mofo staff emails.

[2017-06-14 22:23] hannahkane commented on #612
Thanks, @mmmavis. Sorry I missed the earlier conversation about multilingual sessions. I'll open a follow-up ticket.

I think we're good to go, though we should get an OK from @TheoChevalier during his morning before we push this to production.

@TheoChevalier - can you please let us know once you've had a chance to review staging? (See @mmmavis's instructions [above](https://github.com/mozilla/mo

[2017-06-14 22:29] hannahkane opened #636 "Address potentially confusing question on form about bilingual sessions"
Following up on #612 - perhaps we can close this without changing anything, but I just wanted to follow up to make sure we've addressed all of the edge cases.

Below is what's already been discussed. My remaining question is: the field doesn't specifically include English as an additional language, though the submitter could include it in the "Other" field. Given that most of the site is in Englis

[2017-06-14 22:38] TheoChevalier commented on #612
@mmmavis looks like we’re missing `We welcome workshops and exhibits, and strongly favor these over sessions that are exclusively lectures and slide presentations.` in all languages. Other than that, it looks good to me :)

[2017-06-14 22:48] mmmavis commented on #612
@TheoChevalier nice catch! I'll add the strings in now!

[2017-06-14 23:18] mmmavis commented on #612
I just added in the missing text!

[2017-06-14 23:20] mmmavis commented on #622
Seems like @TheoChevalier has okayed on the localization piece. (see [this comment](https://github.com/mozilla/mozillafestival.org/issues/612#issuecomment-308578015))

[2017-06-14 23:26] TheoChevalier commented on #622
Yup, 🚢 it!

[2017-06-15 00:34] mmmavis commented on #557
Woooohoooo

[2017-06-15 00:34] #557 closed

[2017-06-15 00:34] mmmavis commented on #602
Woooohoooo done! Thanks team!

[2017-06-15 00:34] #602 closed

[2017-06-15 00:34] mmmavis commented on #612
Done done done!

My test entry went through ✨ https://github.com/MozillaFoundation/mozfest-program-2017/issues/50

[2017-06-15 00:34] #612 closed

[2017-06-15 00:36] mmmavis commented on #622
My test entry went through ✨ https://github.com/MozillaFoundation/mozfest-program-2017/issues/50

THANKS TEAM!

🍻 🍻 🍻 🍻 🍻 🍻 🍻 🍻 🍻 🍻 🍻 🍻 🍻

[2017-06-15 01:11] sabrinang commented on #631
@Saallen Here are some image picks:
https://www.flickr.com/photos/mozfest/30603219796/
https://www.flickr.com/photos/mozfest/30572444401/
https://www.flickr.com/photos/mozfest/30535184381/in/album-72157674377310602/

new image treatment can be similar to home
<img width="740" alt="image" src="https://user-images.githubusercontent.com/2492510/27160923-a8f36b64-512c-11e7-9e3e-307146ebf7fd.png">

[2017-06-15 09:55] Saallen commented on #631
hello @sabrinang I like the two images you have treated. Anyone else with preferences? @hannahkane @mmmavis ??

[2017-06-15 11:09] Saallen commented on #626
@mmmavis, @hannahkane @TheoChevalier
Sorry I mis-interpreted theo's comment above- I thought the language he used above was the translated version of localised copy edits.
the copy request to the top of the Call for Proposals was:
_We welcome workshops and exhibits,  and often shy away from sessions that are exclusively lectures and slide presentations._

What we currently now at the top of the fo

[2017-06-15 11:58] KevZawacki commented on #626
@Saallen

How about: "We prefer interactive workshops and exhibits over lectures and slide presentations."

[2017-06-15 15:18] Saallen commented on #626
@KevZawacki its feels a small bit like we are repeating here with the sentence above.

Another option is :
MozFest sessions cover a wide range of topics, but share two important qualities: they are interactive and inclusive. Successful sessions are not lectures or presentations with slides, but sessions designed to challenge and encourage audience participation.

[2017-06-15 15:22] Saallen commented on #622
Sweeet 🍬 - apart from the text issue at the top of the page we are golden.
Nice work team and congrats- let the multi-lingual sessions roll in
🇫🇷 🇪🇸 🇩🇪

I will email and tweet now

[2017-06-15 15:25] hannahkane commented on #612
@mmmavis - nice work! Can we close this?

[2017-06-15 20:07] KevZawacki commented on #626
@Saallen Ooh — perfect!

[2017-06-15 20:36] hannahkane commented on #622
@Saallen - ok if we close this issue?

[2017-06-16 10:54] Saallen commented on #622
For shizzellllll- Thanks everyone

[2017-06-16 10:54] #622 closed

[2017-06-16 16:49] Saallen commented on #631
@mmmavis can you tell me the expected timeline you think you can go live with this page?
Its important that it happens asap as its a  request from the exec team.

[2017-06-16 20:31] mmmavis commented on #589
@cadecairos let's file a RRA ticket. [Guidebook](https://guidebook.com/) is just another schedule app candidate that we are hoping to use for MozFest. Do you mind filing the ticket and cc'ing me on the bug? I would appreciate if you could join the call so if I got asked a question I couldn't answer I would someone to help me 😃

DevOps ticket filed: https://github.com/MozillaFoundation/mofo-devops-

[2017-06-16 22:19] mmmavis commented on #631
@Saallen

This can be pushed live on Monday.

![screen shot 2017-06-16 at 15 13 30-fullpage](https://user-images.githubusercontent.com/2896608/27246426-60bcd936-52a6-11e7-91e3-146357309e72.png)

- "Production" tab goes to https://mozillafestival.org/team
- "Sponsors" tab goes to https://mozillafestival.org/team/sponsors
- `We look forward to to hearing from you.`  -> the double `to` looks like typ

[2017-06-19 15:29] Saallen commented on #631
Hello @mmmavis
Great spot on the typo- 4 other ppl missed it!!!
* Production goes to team 👌
* Sponsors goes to sponsors 🆗
* Yes, we want a sponsors link on top nav- add it to the end of this current list please
* I think that is fine with hero image

Thanks!!

[2017-06-19 18:34] Saallen commented on #626
Great- thanks Kevin
 @mmmavis can you make this change to the main MozFest EN site?
@TheoChevalier can you make this change to the FR, ES and DE pages?

[2017-06-19 21:03] mmmavis commented on #631
@sabrinang can you attach the new hero image here?

[2017-06-19 21:24] sabrinang commented on #631
![banner-sponsorship](https://user-images.githubusercontent.com/2492510/27306568-f249acfc-54fa-11e7-9902-1262750905a6.png)
@mmmavis

[2017-06-19 21:46] edrushka commented on #626
Might I suggest the smallest tweak (removing the repetition of 'sessions' in the same sentence)?

MozFest sessions cover a wide range of topics, but share two important qualities: they are interactive and inclusive. Successful sessions are not lectures or presentations with slides, but are designed to challenge and encourage audience participation.

[2017-06-19 22:05] TheoChevalier commented on #626
String exposed (without the repetition), will post updates here once translations are ready

[2017-06-20 00:40] sabrinang commented on #631
![banner-sponsorship 2x](https://user-images.githubusercontent.com/2492510/27311535-68f10c7c-5516-11e7-88e9-5e36e916942e.jpg)

[2017-06-20 01:07] #631 closed

[2017-06-20 01:12] mmmavis commented on #631
Just push the changes live. Should be on https://mozillafestival.org/team/sponsors soon.

[2017-06-20 10:26] Saallen commented on #631
Hellloooo looking good 👀
Thanks!

[2017-06-20 11:02] Saallen commented on #626
@edrushka  great spot
@TheoChevalier thanks !!

[2017-06-20 16:02] edrushka commented on #631
Very nice! Really love the image you selected - perfect for this page.

[2017-06-20 19:24] edrushka opened #638 "Parking lot for random design ideas"
## Name tag

- place to optionally list gender pronouns
- or make this an optional sticker to add, like the language ones last year

## English signage/wayfinding

- identify meeting spot(s) - primary audience for this is attendees with guardians/caregivers. Signage should be large, clear and distinct e.g. Black and white with plain font to contrast with all the hand-written signs.
- identify comp

[2017-06-20 22:50] TheoChevalier commented on #626
@mmmavis translations are done, over to you :) https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2017/mozfest_form.lang&action=translate&show

[2017-06-21 18:49] TheoChevalier commented on #603
Forgot to close this ticket, but the latest translation were added to the GDocs

[2017-06-21 18:49] #603 closed

[2017-06-22 11:52] Saallen commented on #626
Hello @mmmavis, @edrushka and @TheoChevalier -
Legal would like the following amendment as indicated by Italics below

"Once you have submitted your session, it will enter an open curation process on GitHub. _All information you submit here, except your email address and Twitter handle, will be publicly available on GitHub. Mozilla may contact you via email in regard to your submission."_

Please

[2017-06-22 13:49] TheoChevalier commented on #626
No problem, string added to the l10n queue, French is ready https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2017/mozfest_form.lang (at the bottom of the page)

[2017-06-22 18:01] TheoChevalier commented on #626
Spanish and German now done as well: https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2017/mozfest_form.lang&action=translate&show#string8

[2017-06-23 00:12] edrushka commented on #636
Yah, I can see this already happening. People are choosing English as the 'other' language, which is not required and only creates confusion for anyone exploring the repo. I suggest adjusting the CFP form question to read:
Would you like to deliver this session bilingually in English and one of the following languages?
(for the localized CFPs, we'd say the same thing - English and one of the follo

[2017-06-23 17:31] #626 closed

[2017-06-23 17:37] mmmavis commented on #626
@Saallen @edrushka @TheoChevalier changes are live! https://mozillafestival.org/proposals

[2017-06-27 00:25] hannahkane commented on #636
I think that clarifies it.

[2017-07-02 19:12] edrushka opened #640 "Fix gendered DE translation"
Received a [flag on twitter](https://twitter.com/kkvie/status/881204444528091136) indicating the German Call for Proposals form uses a gendered form of people.

@TheoChevalier Can you please request a review this translation to ensure it doesn't contained gendered terms.

[2017-07-03 17:30] TheoChevalier commented on #640
Thanks for filing, @edrushka, asked Michael to have a look when he has a chance

[2017-07-03 20:45] TheoChevalier commented on #640
@edrushka @mmmavis Michael updated the translations, full list of changes here https://github.com/mozilla-l10n/engagement-l10n/commit/1afd52c33707e12cdaae05c492782635ed5b2439

[2017-07-04 19:36] edrushka commented on #640
Thanks (and thanks to Michael as well) for the quick turnaround on this.

@mmmavis is it possible to update the German form with these changes in the next few days?

[2017-07-04 20:06] #640 closed

[2017-07-04 20:13] mmmavis commented on #640
Changes are live: https://mozillafestival.org/proposals/deutsch

[2017-07-04 20:16] edrushka commented on #640
Thanks, everyone!

[2017-07-06 21:43] edrushka opened #642 "Update Mark's speech bubble"
@mmmavis I just noticed this never got updated!! 😱

Please update Mark's speech bubble on the [About](https://mozillafestival.org/about) page with [this text](https://docs.google.com/document/d/1aIup5OqSMpZriTVBImKhfh4Ldlo-wHsYjicszez0Cz4/edit).

[2017-07-06 22:01] edrushka opened #643 "Write tagline for MozFest 2017"
Please help us brainstorm the MozFest 2017 tagline (2-5 words used heavily in festival design). Kindly add your ideas, +1s and comments to this [**brainstorming document**](https://docs.google.com/document/d/1sU8moda1784OI_762r8oYMmZh2jIpDW-rMGPjLjNdPY/edit#) by EOD Friday July 14.

cc @KevZawacki @Lottarao @chrislarry33 @Saallen @hannahkane @brettgaylor

[2017-07-07 17:50] hannahkane commented on #643
Added some suggestions

[2017-07-10 20:42] edrushka opened #644 "Add more data to autogenerated comment"
Hey @mmmavis. Can we add 3 things to the top of the autogenerated MozFest ticket comments:

- Session name
- Primary Space
- Secondary Space

These can come at the top, right after the session ID. This doesn't have to be retroactive, but it would be helpful going forward. Please let me know - thanks!
cc @phillipadsmith

[2017-07-11 17:28] edrushka commented on #589
@cadecairos any updates on this?

[2017-07-11 17:33] cadecairos commented on #589
@edrushka @mmmavis and I attended the RRA yesterday. Things look alright so far. They're putting together a Risk record bug for us, and are sending Mavis a security questionnaire to send over to GuideBook.

[2017-07-11 17:46] edrushka commented on #589
Thanks! Do you have an estimation of how much more time it will take to know if this is a viable option. Days? Weeks? Months?

[2017-07-11 17:51] cadecairos commented on #589
It depends on the responsiveness and openness that Guidebook has when filling out the security questionnaire. Worst case scenario I'd estimate as two weeks.

[2017-07-11 19:17] Saallen opened #645 "Volunteer page on Website"
Hello @edrushka and @mmmavis -

The hero @tomfarrow has prepared the [volunteer sign up page](https://ti.to/mozfestvolunteers/mozfest-volunteer-program-2017) for 2017on tito- we are going to start promoting later this week through our own channels- We would love for this to be live on the website whenever you are next updating.

Tom was also looking for graphics for emails - @sabrinang can you giv

[2017-07-11 23:18] #642 closed

[2017-07-11 23:42] mmmavis commented on #642
Live: https://mozillafestival.org/about

[2017-07-11 23:45] mmmavis commented on #645
Hi Sarah, by going live on the website did you mean updating this page https://mozillafestival.org/volunteer with new content?

[2017-07-12 18:43] edrushka commented on #553
Mark's blurb has been updated. This is done.

[2017-07-12 18:43] #553 closed

[2017-07-12 18:44] #543 closed

[2017-07-12 19:05] sabrinang commented on #645
For the logo, you can use svg or png here:
[mozilla-festival_vertical-black.zip](https://github.com/mozilla/mozillafestival.org/files/1143036/mozilla-festival_vertical-black.zip)

Which follows the brand taxonomy seen here: https://mozilla.ninja/logosystem

We only have graphics for call for proposals so far which can be found here: https://drive.google.com/drive/folders/0B4Q8pzCpDS_eLURVNVEtNVhGQ

[2017-07-12 20:34] edrushka opened #648 "Master list of August 2 updates"
## Top Nav Bar
Ticket #649
- [ ] replace Propose with Tickets

## Landing Page
Ticket #650
- [ ] Update main banner CTA
- [ ] Update news stories

## Spaces Page
Ticket #651
- [ ] Remove 'Propose a session in this space'
- [ ] Add blurb for Art experience
- [ ] Add wrangler bios

## Tweet MozFest
Ticket #652
- [ ] Update autofilled tweet text

## Festival Team
Ticket #653 &  #682
- [ ] Add Marc's

[2017-07-12 20:36] edrushka opened #649 "Top Nav"
#https://mozillafestival.org/ (all pages)

- [x] Remove Propose
- [x] Add Tickets (as first item, replacing propose. Links to: https://ti.to/Mozilla/mozfest-2017

[2017-07-12 20:46] edrushka opened #650 "Landing page"
https://mozillafestival.org/

- [ ] Update main banner CTA
Change 'propose a session' to 'buy a ticket'
Button links to: https://ti.to/Mozilla/mozfest-2017

- [ ] Refresh news section with new stories
**Left column:**
[Indie Music and the Web](https://medium.com/mozilla-festival/indie-music-and-the-web-fbd0dfa1fef)
**Right column:**
stays the same for now

[2017-07-12 21:37] edrushka opened #651 "Spaces page"
- [ ] Change white text on hero banner to Spaces & Experiences

- [ ] Remove "Submit a session" from Spaces description text

- [ ] Remove the line 'Propose a session in this space' from each of the 6 space descriptions

- [ ] Add a new section for Experiences after Youth Zone
Description text:
Experiences are artworks, exhibits, activities and interactions that bridge Spaces by weaving together

[2017-07-12 21:51] edrushka opened #652 "Tweet MozFest page"
[Tweet link](https://twitter.com/intent/tweet?text=I%20just%20proposed%20a%20session%20for%20%23MozFest%202017.%20Check%20out%20mine%2C%20and%20others%2C%20at&url=https://github.com/MozillaFoundation/mozfest-program-2017/issues)

- [ ] Update autofilled tweet text:  I'm attending #MozFest, the world's leading festival for the open Internet movement. Get your ticket here: https://mozillafestival.or

[2017-07-12 21:52] edrushka commented on #652
@mmmavis please confirm this is the link for tickets before implementing this text.

[2017-07-12 22:01] edrushka opened #653 "Festival Team page"
https://mozillafestival.org/team
- [x] Add Marc's bio and update photo (completed below).
Title: Senior Production Coordinator

- [ ] Add Chris' bio and photo
Photo below, bio and title still to come

[2017-07-12 22:12] edrushka commented on #645
Hey @Saallen that link goes to a Ti.to ticket page. Where is the link to sign up to become a volunteer?

[2017-07-12 22:12] edrushka opened #654 "Volunteer page"
https://mozillafestival.org/volunteer

- [ ] Replace the last line of text 'Volunteer positions for MozFest 2017 will open in the summer.' with text in comment below

[2017-07-12 22:24] edrushka opened #655 "Partners tab"
https://mozillafestival.org/team/partners

- [ ] Bring this tab back to life!
- [ ] Add 2017 partners

[2017-07-12 22:24] edrushka commented on #655
@mmmavis can you please let us know what partners are already there? We'll be keeping many of them.

[2017-07-12 22:29] edrushka opened #656 "Fringe page"
https://mozillafestival.org/fringe
- [ ] ~~Add new text about the hub TBD @Saallen~~
- [ ] remove bold text 'We are expanding the festival in 2017 to feature an entire week of Fringe Events. Contact us to learn more.'
- [ ] add new copy in comment below

[2017-07-12 22:29] edrushka commented on #656
@Saallen please share link to Fringe event form

[2017-07-12 22:36] edrushka commented on #648
cc @hannahkane

[2017-07-12 22:39] edrushka commented on #651
@mmmavis can you please remind me what we did with the wrangler bios last year. Were they revealed on hover?

[2017-07-12 22:42] hannahkane commented on #648
Nice! I wonder if I can do many of these myself, perhaps with an assist from @mmmavis or @alanmoo.

[2017-07-13 13:47] Saallen commented on #645
hey @edrushka that is the link- mirrors the process from last year .
You fill out all the questions within the ticket- we have a wiki page, with further information which @tomfarrrow is linking within the ticket somewhere....
@mmmavis yes that is the page- I had forgotten it was on the website already :duck:

[2017-07-13 15:15] alanmoo commented on #648
The few I clicked into definitely look like you should be able to.

[2017-07-13 15:48] hannahkane commented on #648
@edrushka - is it just the things related to removing the CfP and opening ticket sales that need to wait until August 2nd? Can the other things be done earlier?

[2017-07-13 17:21] edrushka commented on #648
That's right, @hannahkane. The following pages can be done earlier (although most are waiting for content, which will take a bit to wrangle):

- Spaces
- Festival team
- Volunteer
- Partners
- Fringe
- Landing (update news stories can be done now)

[2017-07-13 23:33] edrushka commented on #645
@Saallen @TomFarrow  What do you think about these minor text amendments to clarify the process for people landing on the page without context?

#### The [Volunteer page](https://mozillafestival.org/volunteer) on the website

Volunteers are integral to what we do at Mozilla, and MozFest is no different. The annual festival could not take place without the time, dedication and love of our local vol

[2017-07-14 13:16] Saallen commented on #656
@edrushka - @mmmavis  made this form last year-
There is more blurb here needed for the MozFest hub piece so this page should not go live until we confirm all pieces are in place

[2017-07-14 15:00] edrushka commented on #656
@Saallen OK. I added the new text to the list in the first comment. Can you please add that to your to-do list?

[2017-07-14 17:36] edrushka commented on #589
Hey @cadecairos - we need to make our final decision on the app by July 27. Can you and @mmmavis please do what you can to ensure Guidebook has the questionnaire in time to fill it out before then? Thanks very much.

[2017-07-14 19:57] edrushka commented on #651
This page can be updated as soon as the copy is ready.

[2017-07-14 19:57] edrushka commented on #653
This page can be updated as soon as the copy is ready.

[2017-07-14 19:58] edrushka commented on #654
The copy is being finalized in #645. This page can be updated as soon as the copy is done.

[2017-07-14 20:00] edrushka commented on #655
This page can be updated as soon as the logos are ready.

[2017-07-14 20:00] edrushka commented on #656
This page can be updated as soon as the copy and form are ready.

[2017-07-14 20:01] edrushka commented on #650
The news story can be updated any time cc @hannahkane

[2017-07-14 20:14] edrushka opened #657 "Call for proposals form"
change URL to https://mozillafestival.org/late-proposals

[2017-07-14 20:14] edrushka commented on #657
This isn't blocked, but should not be done until August 2.

[2017-07-14 23:18] edrushka commented on #644
Hey @mmmavis any chance you can get to this in the next week or so?

[2017-07-14 23:19] edrushka commented on #636
@mmmavis can you adjust the additional language question on the CFP form to read

Would you like to deliver this session bilingually in English and one of the following languages?

[2017-07-17 13:00] phillipadsmith commented on #644
Howdy @mmmavis!

If it’s helpful, I can send a pull request against issue-template.md and, if needed, lib/proposal-handler.js

Just shout if you’ve got your hands full, :)

Phillip.

[2017-07-17 19:19] Saallen opened #658 "Rename issue-template.md"
**[ UUID ]** <%= id %>

**[ Submitter's Name ]** <%= submitterName %>
<% if (typeof(submitterOrg) !== "undefined") { %>**[ Submitter's Affiliated Organisation ]** <%= submitterOrg %><% } %>
<% if (typeof(submitterGithub) !== "undefined") { %>**[ Submitter's Github ]** <%= submitterGithub %><% } %>

<% if (typeof(additionalFacilitators) !== "undefined") { %>**[ Additional facilitators ]** <%= addit

[2017-07-17 19:19] Saallen commented on #658
cc @mmmavis ....weird. The titles from the open call are pre filled when I open a new issue.....

[2017-07-17 19:21] Saallen opened #659 "Design ideas from Raves Graduate show"
Hey @sabrinang  I attended the grad show at Ravensbourne and they have some super simple but very effective design ideas for way-finding.  Thought they might be interesting as your start your research. Sorry some of the photos are pretty badly taken ...

[2017-07-17 19:30] Saallen commented on #659
These photos are from the entrance foyer to the festival- lots of colour and chaos- looked exciting as you arrived

![imag0439](https://user-images.githubusercontent.com/10194015/28285999-a9f6d4bc-6b2e-11e7-8ab8-482774a78afd.jpg)
![imag0437](https://user-images.githubusercontent.com/10194015/28286001-a9ff1870-6b2e-11e7-99bf-32828b12e1de.jpg)
![imag0438](https://user-images.githubusercontent.com/10

[2017-07-17 19:31] Saallen commented on #659
The main stage on the 4th floor and surround balconies
![imag0441](https://user-images.githubusercontent.com/10194015/28286078-e724c556-6b2e-11e7-85ab-180a86d3f987.jpg)

[2017-07-17 19:33] Saallen commented on #659
On the floors - colour coded

[2017-07-17 19:35] Saallen commented on #659
Nice little other touches

![imag0443](https://user-images.githubusercontent.com/10194015/28286246-724096d8-6b2f-11e7-870d-182d8f8c121d.jpg)
![imag0456](https://user-images.githubusercontent.com/10194015/28286245-723ccd78-6b2f-11e7-9add-4a4ab4eab5f7.jpg)

[2017-07-17 19:47] sabrinang commented on #659
Thanks for sharing these photos @Saallen! Wow those streamers have a lot of visual impact :)

[2017-07-18 00:03] mmmavis commented on #658
@Saallen I'm confused about what we are trying to do here. We shouldn't be submitting proposals directly via GitHub. Is there anything on the [program repo](https://github.com/MozillaFoundation/mozfest-program-2017/) that needs fixing?

[2017-07-18 00:08] mmmavis commented on #636
@TheoChevalier can you help get `Would you like to deliver this session bilingually in English and one of the following languages` translated please?

[2017-07-18 00:24] #644 closed

[2017-07-18 00:32] mmmavis commented on #644
I just did a prod push. It should be available on the production site soon.

[2017-07-18 00:38] mmmavis commented on #653
@hannahkane up for taking this one on?

[2017-07-18 00:40] mmmavis commented on #654
@hannahkane this one should be straightforward. Feel free to self-assign if you are interested.

[2017-07-18 00:47] mmmavis commented on #655
<img width="867" alt="screen shot 2017-07-17 at 5 47 11 pm" src="https://user-images.githubusercontent.com/2896608/28295758-02660e68-6b18-11e7-86f2-101d6861b4d9.png">

[2017-07-18 00:48] hannahkane commented on #653
Yep! Assigning to me.

[2017-07-18 09:14] Saallen commented on #658
Hey @mmmavis everytime I open a new issue on this repo- the website- the first comment is automatically filled in with the above text. Yes this should happen in the program repo but not on the website one.....so I take it this is not happening to you? It is happening to @marcwalsh

[2017-07-18 12:46] TheoChevalier commented on #636
Sure thing, string exposed. Will post update here as usual when translations are ready :)

[2017-07-18 17:11] mmmavis commented on #658
@Saallen ahhh gotcha. I didn't realize that. Fixing it now. Thanks for reporting! 😉

[2017-07-19 13:35] marcwalsh opened #661 "Comma used in Session Proposal 'Other' Language Causing Errors"
Hello!

Someone who tried to submit a session was given an error whenever they entered "Language 1, Language 2" as the other option on the bilingual question.

I recreated this myself, it seems to be if there's a comma in that answer the form throws back an error saying "Sorry! We are unable to submit your proposal at the moment. Please try again or contact us."

[2017-07-19 14:51] marcwalsh commented on #661
Another person just emailed festival@ with this issue as they were trying to add various languages using commas.

[2017-07-19 17:27] mmmavis commented on #661
Thanks for debugging it, @marcwalsh . 😉  I will get to this ticket today!

[2017-07-19 20:04] #658 closed

[2017-07-19 21:55] hannahkane commented on #645
Hey @Saallen - I can update the Volunteer page on the website whenever you give the go-ahead. Cheers!

[2017-07-20 11:21] TheoChevalier commented on #636
@mmmavis all set! Please find the translations here https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2017/mozfest_form.lang&action=translate&show#string43

[2017-07-20 18:40] mmmavis commented on #644
Hey @edrushka @phillipadsmith forgot to mention - just a note that primary and secondary spaces info can change during the curation process as wranglers are free to reassign GitHub milestone (primary space) & label (secondary space) to a ticket... these changes will not show in the top comment of a proposal ticket.

[2017-07-20 19:12] Saallen commented on #645
Sweet @hannahkane - lets make it LIVEEEEE 🎆

[2017-07-20 19:34] Saallen commented on #659
@sabrinang they are actually tape

[2017-07-21 16:34] Saallen commented on #655
Hey--
 to be removed-
 UCANTOO, tech girls, Met office and Open leadership institute

[2017-07-21 16:38] marcwalsh commented on #649
Here's the link to the tickets for 2017 - https://ti.to/Mozilla/mozfest-2017
They are scheduled to accept orders from the 24th at 01:00 BST

[2017-07-24 20:12] edrushka commented on #649
No longer blocked. The tickets link can be added any time now, but the propose link should not be removed until August 2.

[2017-07-24 20:12] mmmavis commented on #661
This should be fixed by now.

[2017-07-24 20:12] #661 closed

[2017-07-24 20:36] edrushka commented on #655
Unblocked! This can go live any time - doesn't have to wait until Aug 2.

[2017-07-24 22:56] mmmavis commented on #636
@TheoChevalier um I can't see that page... it's a broken link for me. Is the site down for the moment?

[2017-07-25 00:51] mmmavis commented on #649
@edrushka I'm assuming the Tickets nav link links to the [Tickets page](http://mozillafestival.org/tickets) on the MozFest site and links/buttons on the Tickets page will link out to the Tito page?

[2017-07-25 06:21] TheoChevalier commented on #636
@mmmavis Sorry about that, we are indeed experiencing issues :/ https://bugzilla.mozilla.org/show_bug.cgi?id=1383642

Let’s go old school:

de `Möchten Sie die Veranstaltung auf Englisch und in einer der folgenden Sprachen zweisprachig abhalten?`
es `¿Te gustaría impartir esta sesión en inglés y en otro de los siguientes idiomas?`
fr `Souhaitez-vous présenter cette session en anglais et également

[2017-07-25 21:05] edrushka commented on #656
@Saallen do you have the line or two of text about the pre-week and the link to the fringe page?

[2017-07-25 21:07] edrushka commented on #645
Thanks all. Closing this ticket - implementation can be tracked in #654.

[2017-07-25 21:07] #645 closed

[2017-07-25 21:13] edrushka commented on #654
Final copy:

Volunteers are integral to what we do at Mozilla, and MozFest is no different. The annual festival could not take place without the time, dedication and love of our local volunteers.

Drawn from the local community, volunteers at MozFest do so much, from running the welcome desk and arranging swag bags to assisting press and helping with programming. We try to place people in roles th

[2017-07-25 21:13] edrushka commented on #654
Ready for implementation any time @hannahkane :)

[2017-07-25 21:17] edrushka commented on #653
@marcwalsh I need your bio and photo please!

[2017-07-25 21:21] edrushka commented on #650
I added tickets link so this is no longer blocked. Main banner CTA should not change until Aug 2.

[2017-07-25 21:33] edrushka opened #664 "Tickets page"
Staging link: https://mozillafestival-org-sta-pr-665.herokuapp.com/tickets

- [x] Add text to reflect options on ti.to page text below

[2017-07-25 22:51] mmmavis commented on #656
@edrushka @Saallen

Just to confirm these are the fields we want to have on the form

- Name of Event (required)
- Date and Time (required)
- Event Location (required)
- Description of your Event (required)
- Link to register for the event if available
- Privacy Policy checkbox (I’m okay with Mozilla handling this info as you explain in your [privacy policy](https://www.mozilla.org/privacy/). Plea

[2017-07-25 23:39] edrushka commented on #664
### MozFest is the world's leading festival for the open internet movement.
#### Join influential thinkers from around the world to build, debate, and explore the future of a healthy internet.

**MozFest Weekend Ticket £45**
Join us for the entire MozFest program of interactive sessions, talks and exhibits. This ticket gains you entry to the full weekend, including the opening Science Fair, evenin

[2017-07-26 09:55] marcwalsh commented on #653
Biography - @edrushka feel free to edit if you think anything needs changing :)

`Marc is the Senior Production Coordinator for MozFest 2017, and his sixth time working on the festival. Since last year he’s work on various large scale experimental events as well as Glastonbury and the BBC Music Awards. Drawing on this experience, he brings his logistical and production mind-set to help make sure t

[2017-07-26 23:01] mmmavis commented on #589
Hey @cadecairos - just wondering what happens after we receive the filled questionnaire from Guidebook. Are there more stages to go through for this vendor security review?

/cc @edrushka

[2017-07-27 00:38] edrushka commented on #664
@mmmavis I tweaked the MozFest Weekend ticket and Youth ticket description in the comment above. These changes have been mirrored on ti.to as well.

[2017-07-27 00:41] mmmavis commented on #656
@edrushka @Saallen I cleaned up last year's form a bit. Let me know what I need to change on the page. I'm thinking maybe we should show the form first and display the list of approved fringe events after. Thoughts?

- Here's the link to see my progress:  https://mozillafestival-org-sta-pr-666.herokuapp.com/fringe
- Spreadsheet to control what shows up on the Fringe page (mark column 'approved' wi

[2017-07-27 00:43] mmmavis commented on #656
@edrushka can you help me revise copy on this screen?

<img width="819" alt="screen shot 2017-07-26 at 5 42 04 pm" src="https://user-images.githubusercontent.com/2896608/28649459-d6745d64-7229-11e7-87ee-e21e7870b3ad.png">

[2017-07-27 14:05] Saallen commented on #656
Hi @mmmavis last night
@edrushka , myself and chris had a chat. In order for an event to be added to the MozFest Fringe page- it must meet a small set of criteria.
We are writing this up now so it can be added to the top of the page.

[2017-07-27 17:12] #652 closed

[2017-07-27 17:18] mmmavis commented on #652
Done! https://mozillafestival.org/

[2017-07-27 17:19] mmmavis commented on #664
Done! https://mozillafestival.org/

[2017-07-27 17:38] cadecairos commented on #589
We'll add the responses to the Risk Record bug on bugzilla, and have the security team review it for any red flags.

[2017-07-28 20:11] #655 closed

[2017-07-28 20:13] edrushka commented on #656
Please investigate displaying events in columns (3 columns) @mmmavis

[2017-07-28 20:16] #664 closed

[2017-07-28 20:20] mmmavis commented on #657
I assume we would want the `/proposal` page to show some sort of "Call for Proposals has ended" message instead of redirecting people to a 404 page. If so, @edrushka could you help write that copy? Thanks!

[2017-07-28 20:30] edrushka commented on #657
YES! Good catch, @mmmavis! Please put

**The MozFest 2017 Call for Proposals has ended.**
Curation takes place [here on Github](https://github.com/MozillaFoundation/mozfest-program-2017) during the month of August. If you submitted a session, expect to hear from us in September. Thank you to everyone who proposed a session!

[2017-07-28 21:50] edrushka commented on #651
@Saallen please see how I've arranged the content on this page (in the first comment). If we add the Experiences section as I've proposed, we can also put the D&Ds here once they are announced.

[2017-07-28 22:15] edrushka commented on #653
Made tiny tweaks to Marc's bio. Here is final text:

Marc is the Senior Production Coordinator for MozFest 2017, his sixth year with the festival. Since last year he’s worked on various large scale experimental events as well as Glastonbury and the BBC Music Awards. Drawing on this experience, he brings his logistical and production mind-set to help make sure the cogs keep turning across the weeke

[2017-07-31 09:40] Saallen commented on #651
heY @edrushka
looks great-  Tim will be under experiences as Wayfinding and Recognition.
Let me press that team for a description. Artist in res is now called artist open studio.
Shoud we call Emrys theme wrangling piece- Youth Led ?

So to clarify Experiences will have its own section with 4 elements
* Artist Open Studio
* Wayfinding and Recognition
* Dialogue and Debates
* Theme Wrangling

Each

[2017-07-31 11:15] marcwalsh opened #671 "Confirmation Emails Not Being Received"
Hi @mmmavis

We've had someone email through to the festival@ address saying their issue has been submitted however they haven't received a confirmation email about it.

The email was releated to this: https://github.com/MozillaFoundation/mozfest-program-2017/issues/308

I tried submitting a couple of tests and didn't receive an email for either also. Would you be able to take a look at this, plea

[2017-07-31 17:40] mmmavis commented on #651
@edrushka last year wrangler bios were actually on another page `/team/wranglers`.

<img width="880" alt="screen shot 2017-07-31 at 10 35 07 am" src="https://user-images.githubusercontent.com/2896608/28789959-25a0d3a8-75dc-11e7-83b8-1e89a1c72074.png">

Note that the name (hot pink heading) was an anchor link. Wrangler's name on the "Space" page was a hyperlink that linked the anchored section on t

[2017-07-31 17:47] mmmavis commented on #671
@marcwalsh Thanks for reporting! Those emails might have landed in a spam folder. I'm gonna check the error log and see if anything was recorded.

[2017-07-31 17:56] mmmavis commented on #671
@marcwalsh the system we are using ([Heroku](https://heroku.com/)) only keeps up to a maximum of 1,500 log lines so unfortunately I'm not able to see what happened to the confirmation email for https://github.com/MozillaFoundation/mozfest-program-2017/issues/308 . However from all the logs I have access to I see no failing message about the confirmation emails so I'm guessing those emails landed i

[2017-07-31 18:41] edrushka commented on #651
Yes, that works Mavis, and will help keep the Spaces page a little cleaner.

[2017-07-31 19:49] edrushka commented on #651
Unblocking this, @mmmavis - I've gotten all the copy I can. Everything still missing will have to come later in separate tickets. Both the top comment in this ticket and the wrangler bios spreadsheet are updated and ready for implementation.

[2017-07-31 19:51] edrushka commented on #653
Unblocking. Chris' addition will have to come later on a separate ticket.

[2017-07-31 19:56] marcwalsh commented on #671
@mmmavis I've checked but can't see it for either, I also emailed the person who reported it, and it hasn't appeared in theirs either.

[2017-07-31 19:58] mmmavis commented on #671
@marcwalsh ah okay. @cadecairos is on PTO today but I've asked him to help us dig into the error logs when he's back.

[2017-07-31 21:53] #654 closed

[2017-07-31 22:39] mmmavis commented on #654
Live now: https://mozillafestival.org/volunteer Thanks @hannahkane !

[2017-08-01 15:01] cadecairos commented on #671
The system that was sending these emails experienced a bug where the email address validation check stopped working. As a result of this, all outgoing emails processed by the system were dropped . It appears this happened as early as July 19th.

I've corrected the problem by rotating the API credentials used to validate emails. You should see confirmations now.

[2017-08-01 15:16] Saallen opened #674 "Youth Ticket description edit request"
On the website we have the following text
MozFest Weekend (Youth)
Join us for two days of hacking, building, and crafting at MozFest. This ticket covers entry for Saturday 28th and Sunday 29th October for youth aged 18 and under. It includes lunch for both days. (Youth tickets must be accompanied by one adult ticket or be part of a school group.)

Can you change the last sentence to be ( Under 16'

[2017-08-01 15:25] edrushka commented on #674
On https://mozillafestival.org/tickets Please change (Youth tickets must be accompanied by one adult ticket or be part of a school group.) to:

Under 16's must be accompanied by one adult ticket or be part of a school group.

 [^ I intentionally removed brackets).

cc @hannahkane @mmmavis

[2017-08-01 18:38] edrushka commented on #656
Update: I'm nudging the copy decisions along 😉  This work is moving, but most likely won't be ready for today.

[2017-08-01 18:46] mmmavis commented on #656
@edrushka I have [this PR](https://github.com/mozilla/mozillafestival.org/pull/666) open and a temp Heroku instance running to get feedback from: https://mozillafestival-org-sta-pr-666.herokuapp.com/fringe . I won't push this PR live until we are good on the content.

(Note that 3-column cards look too narrow so I changed them to 2-column.)

[2017-08-01 20:46] edrushka commented on #653
![chris](https://user-images.githubusercontent.com/4515662/28846232-83497f8a-76bf-11e7-89d3-efbf55468bed.jpeg)

Chris Lawrence
As Vice President, Mozilla Leadership Network, Chris oversees the development and expansion of a global network of leaders for Internet health. These efforts have reached hundreds of thousands of people in over 90 cities across the globe. Chris has never missed a Mozilla F

[2017-08-01 20:46] edrushka commented on #653
Oops - @hannahkane just saw that you already merged Marc's bio. Do you want me to file a new ticket for Chris?

[2017-08-01 20:54] hannahkane commented on #653
No, that's okay @edrushka. I'll file a PR for this one now, and once it's merged, it will close this ticket.

[2017-08-01 20:56] hannahkane commented on #653
No job title? I'm just going to put Chief Punk Rock Enthusiast. Or Resident Eyebrow Raiser.

JK.

[2017-08-02 05:03] #674 closed

[2017-08-02 05:08] #653 closed

[2017-08-02 05:27] #650 closed

[2017-08-02 05:32] mmmavis commented on #649
Done!

[2017-08-02 05:32] #649 closed

[2017-08-02 16:17] mmmavis commented on #671
@cadecairos we would like to reach out to people who **did** successfully submit proposals but **did not** get a confirmation email. Is there a way to find out the list of emails from the log?

[2017-08-02 17:02] cadecairos commented on #671
Yeah I think I can pull logs for those which failed to send

[2017-08-02 18:00] cadecairos commented on #671
(I've shared the list of emails that had confirmations dropped with @mmmavis via MoFo Google Drive)

[2017-08-02 18:19] mmmavis commented on #671
@cadecairos thanks!

@marcwalsh there are 287 emails that we need to reach out 😨 Unfortunately there isn't already a script that can help us with batch sending personalized emails. Is it okay if we write a more generic email that points people to the GitHub proposal repo (instead to their individual proposal ticket)? That way we can easily send out that email to 287 people all at once.

/cc @edrus

[2017-08-02 20:16] marcwalsh commented on #671
@mmmavis - How about a good old fashioned mail merge on Thunderbird? If we're able to confirm that almost all of the sessions from the 19th July we could just use the Master Proposal Google Sheet as the data for the merge and only send to those who submitted on the 19th July until the problem was resolved?

[2017-08-02 21:10] mmmavis commented on #671
@marcwalsh wow I didn't know about mail merge magic until now! ✨  What kind of meta do you need from the master spreadsheet? I already have the list of emails we should be contacting and I can try writing a script that cross references and extracts meta from the spreadsheet.

- submitter's name
- submitter's email
- link to their GitHub ticket
- title of proposal

anything else?

[2017-08-02 21:54] marcwalsh commented on #671
That sounds like a plan! 👍

I'll have to do a bit of reading about neatening up links but I think this should be a fairly easy workaround... :)

[2017-08-02 22:15] mmmavis commented on #671
@cadecairos do you remember around when you fixed [this](https://github.com/mozilla/mozillafestival.org/issues/671#issuecomment-319397301)? I'd like to know it so I can filter the right set of proposals 😉

[2017-08-02 23:39] edrushka commented on #656
Unblocked! Here's the updated copy for the Fringe page. I'll make a separate ticket for updates to the form.

----------

If MozFest wasn’t enough for you…
MozFest is about working in the open and sharing ideas with a global network of people dedicating to protecting the health of the Internet.

There are innovative events taking place around the world with this same philosophy, and we would love

[2017-08-02 23:45] edrushka opened #681 "Update Fringe Form"
Update fringe form with the following fields:

Name of Event (required)
Date and Time (required)
Event Location (required)
Contact email (required - this will not be published)
Description of your Event (required)
How your event demonstrate one or more of the following characteristics (required) (short answer text box)
- Event is co-designed with partners/allies and community
- Includes creative,

[2017-08-03 17:49] cadecairos commented on #671
I updated the environment variable that was creating the issue on 2017-08-01  at 14:20:26 UTC

[2017-08-03 19:42] cadecairos commented on #671
also, the logs indicate the first email from "festival@mozilla.org" failed to send at 2017-07-27 20:56:15 UTC

[2017-08-04 12:09] Saallen opened #682 "Further bios to the team page"
Bios to be added to the team page

- Esme Simcox as Production assistant
- Volunteer coordinators x 3
- Sarah to update her bio

@esmeSimcox will get the bios from the vol coordinators for you @edrushka

[2017-08-04 13:46] EsmeSimcox commented on #682
@edrushka Here is my bio, feel free to change it if you would like.

Esme is the Production Assistant for MozFest 2017. She is still in university studying Digital Television Production at Ravensbourne and has recently produced their Graduate Show. This will be her first MozFest.

I will get a photo to you this evening.

[2017-08-04 17:11] #651 closed

[2017-08-04 17:13] Saallen opened #683 "Add Artist Open studio to Spaces"
Here is the approved content for the experience- Artist Open studio @edrushka
Submitted by Angela -with request for Kevin to copy edit @KevZawacki

Artist Open Stuio
 Decription text  -Ensuring the health of the internet requires a diversity of approaches and voices. Art and design play key roles in engaging new audiences around these social issues and in shaping critical thinking around an open a

[2017-08-04 17:26] mmmavis commented on #530
Yup yup.

Both the ti.to page and http://mozillafestival.org/tickets are up. I think we are good to close this ticket! 🍻

[2017-08-04 17:26] #530 closed

[2017-08-04 17:28] mmmavis commented on #539
Done! 😉

[2017-08-04 17:28] #539 closed

[2017-08-04 18:14] KevZawacki commented on #683
@Saallen Below, a (lightly) edited version:

**Artist Open Studio**
Upholding a healthy internet requires diverse voices and approaches—like art and design.

Art and design play key roles in engaging new audiences around issues like privacy and inclusion, and in shaping critical thinking around a healthy web. To highlight these artistic perspectives, MozFest—in collaboration with Digital Learning

[2017-08-04 19:55] edrushka commented on #683
@mmmavis or @hannahkane pls add Kevin's blurb as the description for the Artist Open Studio on https://mozillafestival.org/spaces.

[2017-08-04 20:12] hannahkane commented on #683
@mmmavis - I can do this one.

@edrushka - do we have links for the artists?

[2017-08-04 21:59] edrushka commented on #683
no, not at this time

[2017-08-04 22:38] mmmavis commented on #681
@edrushka can you 👀 content & form fields?

https://mozillafestival-org-sta-pr-666.herokuapp.com/fringe
https://mozillafestival-org-sta-pr-666.herokuapp.com/fringe/success

The form library doesn't allow me to include a hyperlink in the label of the field. I had to change things a bit for the privacy policy checkbox.

One question - Do we wanna add a timezone dropdown?

[2017-08-04 23:00] edrushka commented on #681
https://mozillafestival-org-sta-pr-666.herokuapp.com/fringe

- Facilitation promotes collaboration, innovation and respect. should be its own bullet point (currently merged with 2nd bullet)
- 6th bullet should read "Protects or advances the health of the Internet."
- 2-column layout looks great! R+ on that!
- On form field contact email, it should say Contact email (required - will not be made pub

[2017-08-07 13:48] marcwalsh commented on #671
Emails have all been sent out! 👍

Thanks for your help @mmmavis and @cadecairos

[2017-08-07 13:48] #671 closed

[2017-08-08 17:31] mmmavis commented on #671
🍰 🍰 🍰 🍰 🍰 🍰 🍰 🍰

[2017-08-08 18:29] mmmavis commented on #681
@edrushka what event information do we wanna display on "event card"? Currently I have the following meta displayed

- name of event
- date and time
- location
- link
- description

<img width="409" alt="screen shot 2017-08-08 at 11 27 58 am" src="https://user-images.githubusercontent.com/2896608/29088001-aba9878c-7c2c-11e7-97d5-405849b9483f.png">

[2017-08-08 21:00] #683 closed

[2017-08-09 16:24] edrushka commented on #681
Looks good.

[2017-08-09 21:24] #656 closed

[2017-08-09 21:45] mmmavis commented on #656
Done: https://mozillafestival.org/fringe Backend spreadsheet has been shared with @Saallen and @edrushka 🍰 🍰 🍰

[2017-08-09 21:45] mmmavis commented on #681
Done: https://mozillafestival.org/fringe Backend spreadsheet has been shared with @Saallen and @edrushka 🍰 🍰 🍰

[2017-08-09 21:45] #681 closed

[2017-08-09 23:55] edrushka opened #685 "Create Speakers page"
We need a place on the site to highlight 2017 speakers and 2016 archived talks.

Wondering if it makes sense to use the [Team Page](https://mozillafestival.org/team) as a template, and have tabs for each year (let's design this assuming speaker series will continue in 2018 and beyond).

Content for 2017 is already written in the [blog](https://medium.com/mozilla-festival/journalists-activists-hack

[2017-08-10 12:39] KevZawacki commented on #685
@edrushka Using the Team Page as a template is a great idea!

[2017-08-11 16:31] mmmavis opened #686 "Hash anchor not working properly"

[2017-08-11 16:43] #686 closed

[2017-08-11 17:12] mmmavis commented on #686
Fixed! /cc @edrushka

[2017-08-11 17:15] edrushka commented on #686
:bowing_woman:

[2017-08-11 18:41] mmmavis commented on #685
This sounds good! But we'll need to tweak how we display the tab selections as the current design doesn't work well on mobile. I had to use very tiny font size for the tab text on [team page](https://mozillafestival.org/team) to fit. @sabrinang any suggestion?

<img width="308" alt="screen shot 2017-08-11 at 11 34 53 am" src="https://user-images.githubusercontent.com/2896608/29227063-34f4bd50-7e89

[2017-08-11 18:49] edrushka commented on #685
Thanks Mavis and Kevin. @hannahkane flagging this so you can think about assigning a dev. No urgent deadline at this time, but this would be great to have now that we've announced our speakers.

[2017-08-11 18:51] mmmavis commented on #685
@hannahkane I can take this on next heartbeat. This will involve some code cleanup + design changes. It shouldn't take more than half a day to implement it.

[2017-08-14 09:17] EsmeSimcox commented on #682
@edrushka here is Ziggy's Bio for the website and his photo.

“Ziggy is one of the volunteer coordinators for MozFest 2017 and has been involved with the Festival since 2011. As a Mozilla Rep, he focuses on developing the Belgian Mozilla community back home and organizes Mozilla’s yearly presence at Fosdem as well. You’ll most definitely see him running through the venue during the event!”
![ziggy

[2017-08-14 11:59] EsmeSimcox commented on #682
@edrushka here is Tom's Bio for the website and his photo.

"Tom co-ordinates process, governance and logistics for a number of community teams across Mozilla. With experience in technology and process management, Tom is joining this year's volunteer co-ordinator team. He aims to empower volunteers to feel effective and welcomed over the weekend by bringing in a process and people mindset."
![tom]

[2017-08-14 13:05] EsmeSimcox commented on #682
@edrushka Here is @rtsayles Bio for the website and his photo.

"Robby is a Mozilla Rep Mentor based out of Dallas, Texas. He loves volunteering and a big web and aviation feel."
![robby](https://user-images.githubusercontent.com/30292263/29272814-8d3094cc-80f9-11e7-9bbb-2326c604047e.jpg)

[2017-08-14 15:45] edrushka commented on #682
Thanks @EsmeSimcox - still waiting on your photo. I'll also need festival job titles for you and these other lovely people.

[2017-08-14 15:48] EsmeSimcox commented on #682
@edrushka  I've just uploaded mine onto my comment, sorry for the delay! I am a Production Assistant and Robby, Ziggy and Tom are our Volunteer Coordinators.

[2017-08-14 16:11] rtsayles commented on #682
Hi @edrushka , see you soon (smiles)

[2017-08-15 22:06] edrushka opened #688 "Close CFP"
Friday end-of-day (end of working day, not midnight) we need to close the late proposal form. If we need the URL to point somewhere, it can go here: https://mozillafestival.org/proposals

@mmmavis anything else we need to do to close the CFP for good?

[2017-08-15 22:06] edrushka commented on #688
Clarifying this is Friday August 18.

[2017-08-15 22:49] edrushka commented on #682
@hannahkane all the bios and photos are here, so this is ready to implement.

[2017-08-16 16:57] mmmavis commented on #685
Hey @edrushka , (Hannah is on PTO this week) I have bandwidth to work on this this heartbeat. Please give me a ping when copy for 2016 tab is ready. 😉

[2017-08-16 20:19] mmmavis commented on #682
Hannah is on PTO this week. I'll take this on!

[2017-08-16 20:40] mmmavis commented on #688
@edrushka I think redirecting the late proposal page and other form related pages (e.g., localized forms etc) to /proposals should do.

[2017-08-16 20:45] edrushka commented on #688
Perfect! Thank you.

[2017-08-16 20:58] mmmavis commented on #682
https://mozillafestival.org/team ✨

[2017-08-16 21:15] edrushka opened #690 "Localize 'web for all'"
Hi @TheoChevalier

We've confirmed that our visual tagline will be 'Web For All'. You can see some of Sabrina's initial designs [here](https://docs.google.com/presentation/d/1AJuG0G-rOwGLrlT0T2P2VnWBnkT_uSEW6kR9aK7ZqLQ/present#slide=id.g1fad573a30_1_94) (note that these are not final - design work is still very much in progress).

Can you please get started on localizing these in our 3 main langua

[2017-08-16 21:18] edrushka commented on #690
A note for localizing for design is that if there are multiple options, it would be ideal to go with a translation that is short (i.e. few characters) and/or visually balanced (i.e. each word has similar number of characters). I realize this may not be possible in all languages.

[2017-08-16 21:18] edrushka commented on #690
cc @sabrinang

[2017-08-16 23:42] edrushka opened #691 "Festival Guide content meta-ticket"
This is a meta-ticket for wrangling all the MozFest Festival Guide content.
See 2016 [Festival Guide](https://issuu.com/mozfest/docs/mozfest-2016) as reference

- [x] Front cover #692
- [x] Welcome message #693
- [x] Schedule overview #694
- [x] Spaces #695
- [x] Theme Curation #725 (may be possible to combine with Spaces or Artists Open Studios under an Experiences heading)
- [x] Artists Open Stu

[2017-08-16 23:49] edrushka opened #692 "Content: Front cover"
Front cover should feature:
- [ ] MozFest logo and 2017
- [ ] Stylized treatment of "Web for all"

[2017-08-16 23:50] edrushka opened #693 "Content: Welcome message"
- [ ] copy tbd

[2017-08-17 00:01] edrushka opened #694 "Content: Schedule overview"
**Friday**
18:00 Science Fair begins

**Saturday**
9:00-9:30 Welcome and opening
10:00 -11:00 Session block 1
11:15- 12:15 Session block 2 and D&D 1 *note for cassie, some of these sessions are 90 minutes and run to 12:45 - not sure if we can explain this w/out being confusing.
12:00- 14:00 Lunch
12:45- 13:45 D&D 2
13:00 - 13:45 Session block 3
14:00-15:00 Session block 4
15:15- 16:15 Session bloc

[2017-08-17 00:06] edrushka opened #695 "Content: Spaces"
- [x] Intro blurb about spaces
- [x] Overview of each of the 6 spaces is [here](https://mozillafestival.org/spaces)

[2017-08-17 00:11] edrushka opened #696 "Content: Dialogues and Debates"
- [x] Name, twitter handles, job titles and photos are [here](https://medium.com/mozilla-festival/journalists-activists-hackers-meet-this-years-mozfest-speakers-89018c7d2c97)
- [x] Intro blurb (~1-200 words or less) @KevZawacki
- [x] Title of talks
- [x] Timings

[2017-08-17 00:12] edrushka opened #697 "Content: How to MozFest"
- [ ] Content TBD

[2017-08-17 00:12] edrushka opened #698 "Content: Accessible MozFest"
- [ ] Content TBD

[2017-08-17 00:14] edrushka opened #699 "Content: Network for Internet Health"
Note: This page is currently TBD. Requires concise language.

- [x] short blurb on network

[2017-08-17 00:14] edrushka commented on #699
@KevZawacki Do we have a ~150 description of the network suitable for MozFest audiences?

[2017-08-17 00:16] edrushka opened #700 "Content: Working open"
Note: This page needs better title

- [ ] blurb on working open and how to carry work forward after MozFest

[2017-08-17 00:18] edrushka opened #701 "Content: MozFest House"
Content for this page still TBD

- [ ] blurb on pre-week
- [ ] rough schedule of events, or link to full schedule
- [ ] some of the participating orgs

[2017-08-17 00:18] edrushka opened #702 "Content: Sponsors"
- [ ] blurb thanking our sponsors
- [ ] sponsor logos

[2017-08-17 00:19] edrushka opened #703 "Content: Participation guidelines"
- [x] short version of participation guidelines:

#### OLD VERSION
The Mozilla Festival respects Mozilla's community participation guidelines. These guidelines cover our behaviour as participants, facilitators, wranglers, staff, volunteers, vendors, and anyone else involved in making MozFest possible.

**How to treat each other:**
Be respectful and welcoming
Try to understand different perspective

[2017-08-17 20:21] edrushka opened #704 "Confirm colour combinations are ok for colour blindness"
Let's ensure that colour combinations - especially where text is used - are ok for those who are colour blind. Here's a [tool](http://www.etre.com/tools/colourblindsimulator/) where we can upload images for checking.

Assigning Sabrina to check main combinations before finalizing Style Guide.

cc @cassiemc for additional combinations in the printed guide.
cc @sedgwickkm

[2017-08-17 22:55] edrushka commented on #685
Text is here: https://docs.google.com/document/d/13BRS4ni2tQmJDF3nHoyrUpZc1-DwqM7L0xx_q5yaKUE/edit

Photos are here: https://medium.com/mozilla-festival/everything-you-need-to-know-about-mozfests-speaker-series-af8eb8f186bf

Note that not all talks have transcripts - only the ones w/links.

[2017-08-17 22:55] edrushka commented on #685
Photos are also currently on landing page.

[2017-08-18 13:10] TheoChevalier commented on #690
It is quite unlikely indeed, we may not even have the same number of words. Providing more context around what meaning/message the tagline must carry could help to take a different approach while limiting the risks of carrying a wrong/different message.

[2017-08-18 17:04] marcwalsh opened #705 "Closing Issues and Rejecting Sessions"
Hi @mmmavis - So this is what we're thinking on how to reject sessions on GitHub.

- [x] **Export Standard Rejection Spreadsheet - Open Issues with No Milestone & No Gold Star Label**
   (7th September)
   * Session Name
   * Email
   * Personal Name
- [x] **Export 'Gold Star' Rejection Spreadsheet - Open Issues with No Milestone & Gold Star Label**
   (7th September)
   * Session Name
   * Email

[2017-08-18 17:05] marcwalsh commented on #705
@mmmavis - Am I also able to get access to the repo to add labels etc please?

[2017-08-18 20:12] edrushka commented on #690
This is the simple text that we integrate into several of our design elements (e.g. posters, stickers, stage backdrops and the cover of the printed guide). There's a bit more context, and some examples from previous years, on the first page of [this brainstorm document](https://docs.google.com/document/d/1sU8moda1784OI_762r8oYMmZh2jIpDW-rMGPjLjNdPY/edit#).

[2017-08-18 23:27] edrushka opened #706 "Determine screen readability of MozFest site"
@gvn @alanmoo could either of you please help me determine how screen readable the MozFest website is currently? We are trying to make the entire festival more accessible to people with vision impairments this year. Thank you!!

cc @mmmavis @marcwalsh

[2017-08-18 23:33] edrushka commented on #705
I think I just gave you access Marc. Let me know if that didn't work.

[2017-08-19 00:20] #688 closed

[2017-08-19 00:32] mmmavis commented on #688
Done!

[2017-08-21 14:12] KevZawacki commented on #699
@edrushka How about:

The Mozilla Network* fights to keep the web decentralized, open and free. In short: We protect the health of the Internet.

The “we” behind this network isn't just Mozilla — it’s a far larger group. There are technologists, yes. But also educators, artists and activists, hailing from Cape Town, Chicago, Shenzhen, Berlin and beyond.

Members of the Network understand that thre

[2017-08-21 15:21] marcwalsh commented on #705
Thanks @edrushka

I've updated the order for the tasks. As we've closed some issues for being duplicates if we can export only open issues and then go ahead with the bulk close after this.

[2017-08-21 18:08] hannahkane commented on #699
cc @jessevondoom @Sydette

[2017-08-21 18:18] mmmavis commented on #705
@marcwalsh could you put down the date that each action item needs to be completed by/on? I don't wanna accidentally bulk close tickets 😂 .

[2017-08-21 20:49] gvn commented on #706
This is honestly quite subjective and would really be best audited by a dedicated accessibility professional.

However, based on some cursory analysis I'd say that we should change the date and time pickers on [this page](https://mozillafestival.org/fringe) to be native HTML5 form input types for best compatibility with screen readers and assistive input devices. If we don't do that then the libra

[2017-08-21 21:01] alanmoo commented on #706
We should also use some automated testing to ensure we've got proper alt tags everywhere and some other basic checks. https://github.com/squizlabs/HTML_CodeSniffer

[2017-08-22 13:42] marcwalsh commented on #705
@mmmavis Sure! All updated in the ticket :)

[2017-08-22 17:35] edrushka commented on #699
Jesse and Sydette: for context, this is copy for a page in the MozFest printed festival guide. We don't _need_ to include this page, but I thought it might be useful and relevant to the MozFest audience. The firm deadline for finalizing this content is Sept. 15.

[2017-08-22 18:15] mmmavis commented on #706
Thanks @gvn @alanmoo

Yea I can update the form so it uses native HTML5 inputs plus what @alanmoo has suggested above. @edrushka is there a date that we are thinking about publishing the blog post? We can surely make the site somewhat accessible but from my experience before using screen reader to test will take quite some time (for me at least, since I'm bad at using screen readers) and the work

[2017-08-22 21:21] edrushka commented on #706
Thanks so much @gvn and @alanmoo 🌷

Mavis, I suggest modifying the blog to indicate we are working on improving the accessibility of the site, rather than waiting for the work to be done, since I think it will be an ongoing process of improvement.

@hannahkane who do you suggest I talk to about resourcing this work?

[2017-08-23 02:22] hannahkane commented on #706
@edrushka - do you mean within our team, or going elsewhere (Moco? a contractor?)

If the former, perhaps @mmmavis @gvn @alanmoo and I can discuss tomorrow (or Thursday since Gavin is out tomorrow) and try to get an estimate on this work.

[2017-08-23 15:33] edrushka commented on #706
@hannahkane I'm not sure!

Perhaps a logical first step is a proper audit of our site to see how much is screen readable. With that information, we can prioritize improvements and discuss resourcing. The Guidebook schedule will have to factor in as well, as arguably this is the most important information people need to attend the festival. We can reach out to Guidebook to see what a11y features ar

[2017-08-23 16:21] #685 closed

[2017-08-23 17:20] mmmavis commented on #706
(including http://marcysutton.github.io/a11y-automated-testing/#/11 here so I don't lose this link)

@edrushka I'm gonna do a quick pass today and fix obvious a11y flaws if I find any. After that I think it would be great if we could get a few people to help do a more thorough test on each page on the site. I will update my progress by EOD.

/cc @hannahkane @alanmoo

[2017-08-23 17:24] mmmavis commented on #706
@edrushka I found this article about [Guidebook and Accessibility](https://support.guidebook.com/hc/en-us/articles/204864754-Guidebook-and-Accessibility-VPAT-Support-) !

[2017-08-23 17:31] hannahkane commented on #706
@edrushka - I'm happy to do some testing, once @mmmavis has done her first pass. I'm wondering if you think it would be appropriate to offer this as an opportunity to the other Digital Inclusion wranglers, since we have a special interest in it. Might be a valuable learning opportunity for folks (that's how I'm looking at it!). What do you think?

[2017-08-23 17:45] mmmavis commented on #685
Live https://mozillafestival.org/speakers

[2017-08-23 17:48] KevZawacki commented on #685
🎆

[2017-08-23 18:05] edrushka opened #709 "Dyslexia-friendly version of festival guide"
Festival guide content is [here](https://github.com/mozilla/mozillafestival.org/issues/691). When copy is finalized (after Sept 15) we can create a dyslexia-friendly version using [these guidelines ](http://www.bdadyslexia.org.uk/common/ckeditor/filemanager/userfiles/About_Us/policies/Dyslexia_Style_Guide.pdf)published by the British Dyslexia Association.

These will be printed on a regular office

[2017-08-23 18:41] edrushka commented on #706
Yes, if anyone from the Digital Inclusion team is interested in helping, that would be great.

I do hear @gvn's comment that "This is honestly quite subjective and would really be best audited by a dedicated accessibility professional." and caution us not to be too ad hoc in our approach. Ideally the learnings here could be applied to other MoFo sites as well.

[2017-08-23 19:15] edrushka commented on #685
Woooooo! 🎷

[2017-08-23 19:51] edrushka commented on #695
@KevZawacki can you put together 1-sentence bios for each

[2017-08-23 20:37] KevZawacki commented on #699
@edrushka @jessevondoom @Sydette

Alternative: We can simply use the Mozilla Foundation boilerplate, [here](https://www.mozilla.org/en-US/foundation/). Might be easier.

[2017-08-23 21:28] mmmavis opened #710 ""Remove old route "submission-process""
... since we are not using it this year anymore.

[2017-08-23 21:39] #710 closed

[2017-08-24 00:20] mmmavis opened #712 "Map on location page is broken"
Map on the [location](https://mozillafestival.org/location) page is broken.

Seems like the token we have has been deactivated.

[2017-08-24 00:30] edrushka commented on #703
@marcwalsh please add emergency phone number when we get it

[2017-08-24 02:30] mmmavis commented on #712
Note that the route works but this page isn't liked from anywhere on the site.

[2017-08-24 16:46] mmmavis commented on #706
I did a quick audit with [HTML_CodeSniffer](http://squizlabs.github.io/HTML_CodeSniffer/). Most errors we got on the site are colour contrast related. In particular, the hot pink text on white is failing a11y check.

<img width="212" alt="screen shot 2017-08-24 at 9 34 45 am" src="https://user-images.githubusercontent.com/2896608/29677328-a6add514-88af-11e7-8ca6-72ca1ab9edab.png">
<img width="272"

[2017-08-24 16:55] mmmavis commented on #706
I haven't had time to test the site with screen reader yet, but I'm aiming to do that today.

[2017-08-24 18:04] edrushka opened #715 "Confirm Rav wifi info"
We need the network name and password for printed materials (e.g. [name card](https://github.com/MozillaFoundation/mozfest-design-2017/issues/21)).

Last year it was
Network name: Rave
P/W: mozfest16

[2017-08-24 18:59] KevZawacki commented on #695
These are one-sentence descriptions of Spaces, for use in print materials?

 Assuming yes... thoughts on the below?

Decentralization | A space for unpacking concepts like mesh networking and blockchain — and conversely, internet shutdowns and closed systems

Digital Inclusion | A space exploring equity, access and participation for _everyone_, all across the web

Open Innovation | A space for lea

[2017-08-24 19:03] KevZawacki opened #716 "create Media Center page on mozfest.org"
We'd like to create a Media Center webpage on mozfest.org — a place where journalists planning to cover/attend can get their bearings.

Just simple text, nothing more. It would have a unique URL and, ideally, be linked to from the site footer.

[Here is the copy](https://docs.google.com/document/d/1cg9HdKeG_KOjffS4EZiLdyNMxIoA1gtVq9mmWXHOL84/edit#).

@edrushka What else can I do to help?

[2017-08-24 21:08] edrushka commented on #716
@KevZawacki do we have any press-related pics we could use for the hero banner?

[2017-08-24 22:27] edrushka opened #717 "Add Kirstie as wrangler"
Please add Kirstie Whitaker to the Open Innovation team on both the [Spaces](https://mozillafestival.org/spaces) and [Team](https://mozillafestival.org/team/wranglers) pages. You can put her in alphabetical order after Phillip.

Bio, handle and photo are [here](https://docs.google.com/spreadsheets/d/1RyDQ1BF3gYLMj9Koy9gqEbB_LQoQQa0opVLfOgNzt_I/edit#gid=0) on the spreadsheet.

[2017-08-25 00:10] #717 closed

[2017-08-25 00:16] mmmavis commented on #717
Done! https://mozillafestival.org/team/wranglers#Kirstie-Whitaker

[2017-08-25 00:39] edrushka commented on #717
Whoa! That was lightening fast! ⚡️ Thanks Mavis!

cc @auremoser

[2017-08-25 04:10] auremoser commented on #717
Awesome, thank you @mmmavis !

[2017-08-25 12:48] KevZawacki commented on #716
@edrushka How about either

(1) A screenshot of a press story. I like [this one](https://elpais.com/tecnologia/2016/10/31/actualidad/1477905484_625075.html) (and not just because we're in it):

![screen shot 2017-08-25 at 8 47 14 am](https://user-images.githubusercontent.com/11045250/29714622-02a2f8e6-8972-11e7-9f4d-65d64668a3b8.png)

or a boilerplate MozFest photo, like [this one](https://www.fli

[2017-08-25 17:03] edrushka commented on #716
Kev, you totally just want us featured more on the website 😆 I think the screenshot might be a little busy for a hero banner but let's get @sabrinang's advice. Can you help us find a hero banner image for the new media page?

[2017-08-25 17:19] edrushka opened #719 "Update Joe's wrangler profile"
Please update Joe Nash's profile on the Digital Inclusion team on the [Team](https://mozillafestival.org/team/wranglers) page.

Bio, handle and photo are [here](https://docs.google.com/spreadsheets/d/1RyDQ1BF3gYLMj9Koy9gqEbB_LQoQQa0opVLfOgNzt_I/edit#gid=0) on the spreadsheet.

[2017-08-25 18:17] sabrinang commented on #716
I like Kevin's 2nd choice: https://www.flickr.com/photos/mozfest/30548994561/in/album-72157672259755823/ over the screenshot (which has lots of legible text for a cover photo)

We might also try some more behind-the-scene media photos such as:
https://www.flickr.com/photos/mozfest/30601424636/in/album-72157672259755823/
<img width="781" alt="image" src="https://user-images.githubusercontent.com/24

[2017-08-25 18:31] KevZawacki commented on #716
@sabrinang Oh! I love the second photo you recommended!

[2017-08-25 19:11] edrushka commented on #716
Me too!!!

[2017-08-25 21:17] edrushka opened #720 "Localize "welcome""
@TheoChevalier is there an existing resource that has the word "welcome" localized in many different languages? If so, @sabrinang can refer to this for the design of the big welcome sign.

[2017-08-25 21:26] edrushka commented on #716
@mmmavis can you please build this page when you are able?

Content [here](https://docs.google.com/document/d/1cg9HdKeG_KOjffS4EZiLdyNMxIoA1gtVq9mmWXHOL84/edit#)
Hero banner image being worked on [here](https://github.com/MozillaFoundation/mozfest-design-2017/issues/22)
Link can go on bottom footer between Participation Guidelines and Terms. Link text = Media.

[2017-08-25 21:27] TheoChevalier commented on #720
Yes, I actually have two options: “Welcome” and “Hello!”, but we have more languages with the former.

Welcome: https://transvision.mozfr.org/string/?entity=mobile/android/base/android_strings.dtd:firstrun_panel_title_welcome&repo=central

Hello: https://transvision.mozfr.org/string/?entity=mozilla_org/mozorg/contribute/index.lang:ba74ea1a&repo=mozilla_org (With some html to strip in French)

For

[2017-08-25 21:29] edrushka commented on #720
This is PERFECT! Thank you!! 🌻

[2017-08-25 23:40] edrushka commented on #695
I like these short versions. @Saallen are you good to go w/short versions rather than longer copy from the Spaces page?

[2017-08-26 00:05] edrushka commented on #703
@Saallen @marcwalsh @KevZawacki do we want to use the same short version of the participation guidelines that we used last year (see the first comment) or should we revise them to reflect Mozilla's [updated participation guidelines](https://www.mozilla.org/en-US/about/governance/policies/participation/)? I've taken a first crack here at what this might look like:

-------

Be respectful and value

[2017-08-26 00:11] edrushka opened #721 "Content: About Mozilla [backup content]"
Note: this is backup content only to be used if required for layout. [Source.](https://drive.google.com/file/d/0B87EwT3UvJkMU3RrUFFxc1VrYk0/view)

Mozilla’s mission is ​to ensure the Internet is a global public resource, open and accessible to all.
Since the early days of the web, Mozilla has helped fuel the growth of the vibrant, diverse and open
Internet by building a global community and creati

[2017-08-28 13:56] KevZawacki commented on #703
@edrushka Hm. If there's been an update, perhaps we should go with the new ones you've penned.

[2017-08-28 17:56] edrushka commented on #693
Draft 1. cc @KevZawacki this is a modified version of Marc's speech bubble. If anything, this is still too long.

-----

Welcome to MozFest!

This year marks our eighth MozFest. It’s also our most ambitious one yet — more than ever, the movement for a healthy Internet needs a place to convene, organize and act.

Today, the concept of Internet health reaches far beyond the realm of open source code

[2017-08-28 18:19] edrushka commented on #698
Draft 1 cc @KevZawacki @sedgwickkm (this is for the printed festival guide)

---

Accessible MozFest

At MozFest, accessibility is a vital part of how our network creates an inclusive community. From providing childcare to emphasizing language inclusion to supporting attendees’ diverse physical and cognitive needs, we are increasing our efforts to ensure every that MozFest participant can engage w

[2017-08-28 18:41] KevZawacki commented on #698
Works for me!

One small edit: "...our efforts to ensure **every that** MozFest participant..." --> "... our efforts to ensure **that every** MozFest participant..."

[2017-08-28 19:10] sedgwickkm commented on #698
This looks good to me too.

[2017-08-28 19:59] KevZawacki commented on #693
@edrushka This works for me. One small change: "fake news" --> "misinformation."

We're trying to avoid "fake news" because it's become such a loaded, political phrase.

[2017-08-28 21:05] edrushka commented on #700
Draft 1  cc @acabunoc @zee-moz - this is copy for the printed MozFest guide. I modified content from the OL101. Let me know if you have feedback!

--------------

**How to work open**

The Internet— a dynamic, complex, interconnected ecosystem of people, ideas, information— thrives when we collaborate and share information and skills widely and freely.

If you’re new to working open, here are thre

[2017-08-28 21:45] sedgwickkm commented on #709
Draft here: https://docs.google.com/document/d/1MRHH3g01wMpof2TS1sS3txiiPbFFdLP6zOiFBhJSNos/edit?usp=sharing

[2017-08-28 22:27] edrushka commented on #697
[Draft here](https://docs.google.com/document/d/1vPCNyQDpXPpdIGXViXfVgsUsJwFFP8VXekyrSBx0b8Q/edit). Note that these tips won't be read until people are actually at the festival, so should not include information on how to prepare or what to bring. @Saallen @marcwalsh @KevZawacki pls review.

[2017-08-28 22:33] mmmavis commented on #705
@marcwalsh thanks! I will start working on the script this week. Do we already know what we want the mozfest-bot (the same GitHub account that created tickets on the proposal repo) to comment on those unsuccessful submissions? Not a blocker for me to start working on the script atm but I'll need to have the final copy by end of September 5 to get everything going 🚗 .

[2017-08-28 23:05] #719 closed

[2017-08-28 23:08] edrushka commented on #706
We've just finalized the 2017 palette. Ticket to find a replacement for the hot pink is here: https://github.com/MozillaFoundation/mozfest-design-2017/issues/27

[2017-08-28 23:41] mmmavis commented on #716
@edrushka @KevZawacki what's the url we want this page to be on? `mozillafestival.org/media`?

[2017-08-28 23:55] edrushka commented on #716
Yes, that works.

[2017-08-28 23:55] mmmavis commented on #716
@sabrinang can you suggest what icon we can use for the "Media" link on footer?
<img width="838" alt="screen shot 2017-08-28 at 4 49 53 pm" src="https://user-images.githubusercontent.com/2896608/29798291-0df4ef5a-8c11-11e7-819c-cb49c91b6097.png">

Icon should come from `mofo-boostrap` as we are aiming to have consistent footer style across MoFo sites. See the icon selection [here](https://mozilla.

[2017-08-29 13:03] KevZawacki commented on #716
@mmmavis I'm OK using the 'info' icon — unless having two of the same icons in a footer is bad practice?

[2017-08-29 13:35] zee-moz commented on #700
@edrushka looks good. I might just switch around the order-- I think we ended up ordering the principles that way because that's how they appeared in the flow of Mark's story, but it makes much more sense to say:

1. Invite participation
2. Share decision-making
3. Share resources.

Because it's harder to share decision-making if you don't have participants! @acabunoc what do you  think?

[2017-08-29 14:11] acabunoc commented on #700
+1 changing the order

After some our convos w/ the MIT folks, should we change 'Invite participation' to 'Design for participation'?

[2017-08-29 18:50] edrushka opened #724 "Content: Artist Open Studios"
- [ ] Blurb and artists' names

* it may be possible to combine this page with Theme Curation

[2017-08-29 18:52] edrushka opened #725 "Content: Curated Programming"
- [ ] Blurb on each of the themes (Policy/Advocacy, Journalism, and Youth Led) and wranglers

- may be possible to combine with Artist Open Studios page or Spaces page

[2017-08-29 18:55] edrushka commented on #701
cc @Saallen @KevZawacki

[2017-08-29 18:57] edrushka commented on #695
Confirming short versions are ok 🙆

[2017-08-29 20:33] Saallen commented on #695
Hey @KevZawacki I am loving them all, but wonder if Open Innovation could be changed slightly.
I am not sure it fully encapsulates their narrative.
Could we lose "open source" and add open production??
Just feeling that all things open and open source are too similar and we should show the lenght of the narrative

[2017-08-29 20:35] KevZawacki commented on #695
@Saallen Yeah, certainly!

[2017-08-29 21:40] Saallen commented on #703
Hey @edrushka Looking good and agree with Kevs comment.

[2017-08-29 21:40] Saallen commented on #703
What do folks think about changing this line, (or creating a second version) so we can share these guidelines with all Mozilla festival events, MozFest house and fringe?
The following will not be tolerated at MozFest *TO* The following will not be tolerated at Mozilla festival or affiliated events xxxx please contact the information desk or [insert email ] - sorry know this is complicated here but

[2017-08-29 21:40] edrushka opened #726 "Swag meta-ticket"
Can we use this ticket to keep track of the swag? cc @marcwalsh @sabrinang

[2017-08-29 21:42] edrushka commented on #694
@KevZawacki can you please edit the above comment to reflect the updated D&D timings? Thanks! :bowtie:

[2017-08-29 21:48] edrushka commented on #703
Sure, we can do all of those things:
- a sharable version that people can use for their Fringe event
- a MozFest version for the festival guide and posters
- a MozFest House version for posters that says "The following will not be tolerated at MozFest House"

[2017-08-29 22:53] edrushka commented on #703
This short version has been approved by Larissa from the D&I team so let's call it locked! ✋ 😁

[2017-08-30 06:43] mmmavis commented on #716
@KevZawacki sounds good to me! 👍

@sabrinang can you give me a ping when the hero image has been processed? Thanks!

[2017-08-30 13:29] KevZawacki commented on #694
@edrushka Sure — updated.

[2017-08-30 14:21] marcwalsh commented on #705
Thanks @mmmavis

Just tagging @Saallen and @edrushka about the copy, here's what I suggest below based on last year's.

[code]

[2017-08-31 18:01] sabrinang commented on #542
This is completed on https://github.com/MozillaFoundation/mozfest-design-2017/issues/5

[2017-08-31 18:01] #542 closed

[2017-08-31 18:02] sabrinang commented on #544
Completed on issue https://github.com/MozillaFoundation/mozfest-design-2017/issues/6

[2017-08-31 18:02] #544 closed

[2017-08-31 18:03] sabrinang commented on #562
Brainstorm and boards on issue https://github.com/MozillaFoundation/mozfest-design-2017/issues/4

[2017-08-31 18:03] #562 closed

[2017-08-31 18:04] sabrinang commented on #643
https://github.com/MozillaFoundation/mozfest-design-2017/issues/4#issuecomment-321631916
"The tagline "Web For All" has been approved by Chris to move forward. Erika received explicit approval that we can proceed with the Web For All tagline."

[2017-08-31 18:04] #643 closed

[2017-08-31 20:06] sabrinang opened #727 "Photography: Shot List for Photographer"
### Description:
MozFest photo albums have been a useful resource year round. We can use it as an opportunity to let the photographer know if we want them to capture any specific shot we can use for other things or to document anything specific (like swag last year).

[2017-08-31 20:08] sabrinang commented on #727
Oops I meant to file this in the design repo but I'll just leave it here

[2017-09-04 10:59] Saallen commented on #705
Thank you for taking the time to submit a session to MozFest. Due to the high level of submissions, we’re unable to accept all proposals and unfortunately, your session was not part of the final group.
Thank you for taking the time to submit and we will follow up on email very soon

[2017-09-04 11:11] marcwalsh opened #728 "Update Erika Owens Twitter Handle"
Erika Owen's Twitter Handle on the website is incorrect can it be changed to @erika_owens please?

Thanks!

[2017-09-04 14:04] marcwalsh opened #729 "Rejection Email for Submissions"
We need two rejection emails for after the close of curation, which we will send to all that have had their milestone removed. Full process listed in #705

- [x] Standard Copy for Rejecting Submissions
- [x] Copy for Highlighted Sessions

--

Last year's copy is below, last year we offered all submissions a ticket, however this year we are only offering to sessions that have been flagged.

Update

[2017-09-04 14:05] marcwalsh commented on #715
Confirmed for 2017:

Network Name: - `Rave`
Password: `mozfest17`

[2017-09-04 14:05] #715 closed

[2017-09-04 14:07] marcwalsh commented on #705
@mmmavis - this is the confirmed copy by Sarah:

_Thank you for taking the time to submit a session to MozFest. Due to the high level of submissions, we’re unable to accept all proposals and unfortunately, your session was not part of the final group.
Thank you for taking the time to submit and we will follow up on email very soon._

We'll send out the mail merge using Thunderbird for standard res

[2017-09-05 16:21] alanmoo opened #730 "Improve accessibility of site based on feedback"
Related to #698, #706

I reached out to David Bolter's team at MoCo, and got this feedback from Chris Mills

[2017-09-05 17:15] mmmavis commented on #705
Awesome! @marcwalsh scripts are almost ready! 🎉  Just to confirm again I should run the script to handle action item 1 & 2 on September 7th PDT and run script for action item 3 on September 8?

[2017-09-05 18:02] Saallen commented on #705
Hey @mmmavis please dont run until we confirm on the day- We have some last minute issues that should be cleared but end of day 7th but let me update here on the day

[2017-09-05 21:38] mmmavis commented on #705
@Saallen alright I'll wait for the ping!

[2017-09-05 23:20] edrushka commented on #729
### Standard Copy

Subject: Your MozFest proposal

Hello,

Thank you for submitting your proposal, XXXXXXXXXXXX, to MozFest 2017. Regrettably, we are not able to include it in our festival programming this year.

We received an incredible number of proposals and the festival team was impressed by the high standard of the submissions. Our space wranglers carefully considered every idea, and were st

[2017-09-06 00:16] edrushka opened #731 "Localize participation guidelines"
@TheoChevalier Here is the short version of the participation guidelines we'll be using for the posters. Please localize into our supported festival languages.

-------

**Participation Guidelines**

The Mozilla Festival respects Mozilla's community participation guidelines. These guidelines cover our behaviour as participants, facilitators, wranglers, staff, volunteers, vendors, and anyone else i

[2017-09-06 00:26] edrushka commented on #730
Love this ticket! ❤️ 💟 😻  cc @hannahkane

[2017-09-06 01:01] edrushka commented on #693
@KevZawacki tweak to include pre-week???

[2017-09-06 01:02] edrushka commented on #701
Kevin, please add pre-week copy for guide to this ticket

[2017-09-06 10:33] marcwalsh commented on #729
Perfect! Thank you @edrushka

[2017-09-06 14:39] KevZawacki commented on #701
Hi @edrushka, suggested pre-week copy [here](https://docs.google.com/document/d/18Wuzj1zLx5o1gvEIWcnf4xw0BfNYPjKqjS6jYaOyqxY/edit?ts=59aee05e).

Do we need a shorter version for print materials?

[2017-09-06 14:51] KevZawacki commented on #693
@edrushka We should. How about (new copy is bolded):

Welcome to MozFest!

This year marks our eighth MozFest. It’s also our most ambitious one yet — more than ever, the movement for a healthy Internet needs a place to convene, organize and act.

Today, the concept of Internet health reaches far beyond the realm of open source code: it’s linked to civil liberties and public policy, free expression

[2017-09-06 21:50] #728 closed

[2017-09-06 21:56] mmmavis commented on #728
Done! https://mozillafestival.org/team/wranglers#Erika-Owens

[2017-09-06 22:02] edrushka opened #735 "Localize "I speak" stickers"
Last year, we only localized the language (the words I speak remained in English).
![screenshot 2017-09-06 14 59 58](https://user-images.githubusercontent.com/4515662/30136497-19571080-9314-11e7-85b4-952dc617214e.png)

This makes sense, especially if we want the language in the bottom line to be the full English word, rather than the localization code.

If we do that again this year, we can re-use

[2017-09-06 22:09] edrushka commented on #731
This copy is finalized (I added in the phone number) and ready to be translated into:
- de
- es
- fr
- it
- hi-IN
- pt-BR
- zh-TW

[2017-09-06 22:18] edrushka commented on #690
@TheoChevalier here's an example of how the localized versions of "web for all" will be used. They'll be combined in a kind of honeycomb pattern, with some blank squares for other people to fill in their languages.

![screenshot 2017-09-06 15 14 25](https://user-images.githubusercontent.com/4515662/30137079-8cdc0a2c-9316-11e7-91bf-b65c6465ef08.png)

[2017-09-07 00:03] edrushka commented on #701
Yes, we def. need a shorter version. The first four paragraphs could work, and we could either have a single sentence listing the events, or a very simple schedule in a table like the [Weekend Outline.](https://mozillafestival.org/expect)

[2017-09-07 00:08] edrushka commented on #693
That works for me, @KevZawacki

Do you think we should cut this down at all? I'm suddenly worried this is a lot of text, and will feel like a huge wall of words opening the guide.

[2017-09-07 10:21] KevZawacki commented on #693
@edrushka

Yeah, we could trim. Perhaps:

Welcome to MozFest!

This year marks our eighth MozFest. More than ever, the movement for a healthy Internet needs a place to convene, organize and act.

Today, the concept of Internet health reaches far beyond the realm of open source code: it’s linked to civil liberties and public policy, free expression and inclusion. Access is no longer a luxury — it’s

[2017-09-07 10:44] KevZawacki commented on #701
@edrushka I like the first 4 paragraphs + a Weekend Outline-type table.

[2017-09-07 15:27] edrushka commented on #700
cc @chadsansing

[2017-09-07 17:10] edrushka commented on #693
![nice](https://user-images.githubusercontent.com/4515662/30175747-b5b419c8-93b4-11e7-9330-7fd88b2660db.gif)

[2017-09-07 17:16] edrushka commented on #701
@Saallen how do you feel about a table for Mon-Fri with each *public* event listed (not the times and details, just the name of the event) and one link underneath the table pointing to website for time/details/ticketing.

[2017-09-07 21:41] edrushka opened #736 "Create Ti.to account for Kristina"
Marc, can you please create a Ti.to account so she can start prepping emails? Thanks!

cc @Saallen @KGorr

[2017-09-07 22:52] mmmavis commented on #716
https://mozillafestival.org/media 🎤 🖊 📷 🎥

[2017-09-07 22:58] edrushka commented on #716
ohhhh the hero image looks great!

Mavis, are we moving away from pink text on white background? I forget where we landed on that after our a11y research.

[2017-09-07 23:39] mmmavis commented on #716
@edrushka https://github.com/mozilla/mozillafestival.org/issues/706#issuecomment-325508041 we tried using blue text instead pink but that colour looked too dull as a highlighting colour. Looks like we are still finding a better highlighting colour to switch to.

[2017-09-07 23:55] edrushka commented on #716
Ok great - not a blocker for this page. Thanks for the update!

[2017-09-08 00:41] edrushka opened #737 "Create MozFest House page"
Need:
- [ ] image for Hero Banner https://github.com/MozillaFoundation/mozfest-design-2017/issues/50
- [ ] descriptive text - being finalized [here](https://docs.google.com/document/d/18Wuzj1zLx5o1gvEIWcnf4xw0BfNYPjKqjS6jYaOyqxY/edit?ts=59b123ba)
- [ ] schedule in table form
- [ ] sign up for co-working: https://ti.to/Mozilla/mozfest-house-co-working-space

any other content required here @Saallen

[2017-09-08 00:44] edrushka commented on #699
@jessevondoom @Sydette I need to move your deadline on this ahead to Sept 13, since Sarah and I need a day to review everything that's going in the guide before the 15th. Thanks.

[2017-09-08 01:01] edrushka commented on #695
Opening blurb:

Sessions at MozFest are organized into spaces — physical and thematic learning hubs based around a topic of broad relevance to a healthy Internet.

[2017-09-08 01:18] edrushka commented on #724
An Xiao Mina is a technologist, artist and writer from China who has written a book about internet memes and global social movements. She will be working in the Web Literacy space.

Paolo Ciriois is a hacktivist and conceptual artist from Italy who uses publicly available online information to raise awareness for social justice issues. Paolo can be found in the Privacy and Security space.

Archana

[2017-09-08 01:50] edrushka commented on #725
@Saallen do we have 1-2 line descriptions written down anywhere?

[2017-09-08 02:30] mmmavis commented on #737
@edrushka is this gonna be a page on the MozFest site? If so and if we are thinking about adding it to the nav bar, we will need some design help as the current nav bar design will not accommodate that many links nicely.

[2017-09-08 10:37] marcwalsh commented on #736
Done! @KGorr you should have received an email inviting you to join ti.to :)

[2017-09-08 10:37] #736 closed

[2017-09-08 12:50] marcwalsh commented on #703
@edrushka I've updated this with the correct telephone number which is ready for use! 💃

[2017-09-08 16:12] edrushka commented on #737
Yes. I think we may have to remove Projects to accommodate this new page in the top nav. We'll need to discuss.

[2017-09-08 21:12] edrushka commented on #735
L10N tracking dashboard: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2017/mozfest_design_assets.lang

[2017-09-08 21:12] edrushka commented on #731
L10N tracking dashboard: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2017/mozfest_design_assets.lang

[2017-09-08 21:12] edrushka commented on #690
L10N tracking dashboard: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2017/mozfest_design_assets.lang

[2017-09-08 21:40] edrushka commented on #701
This is obviously completely undesigned, but here's the amount of text we're looking at if we include a description of each event in the Guide.

![screenshot 2017-09-08 14 32 34](https://user-images.githubusercontent.com/4515662/30232142-1f380a5a-94a3-11e7-8c2c-cd193bab6bf3.png)

@Saallen I feel this is too much text for the guide (we're getting really tight on space), plus I am nervous about the

[2017-09-08 21:41] edrushka commented on #701
So to clarify, the MozFest House entry in the festival guide would read:

MOZFEST HOUSE

Sometimes, the MozFest weekend just isn’t enough.

Introducing MozFest House: our central London venue that extends MozFest into a week-long festival.

From Monday 23rd - Friday 27th October, MozFest participants are invited to dig deeper into their work, trade ideas, swap code, and build solutions.

MozFest H

[2017-09-09 00:03] mmmavis commented on #705
My script was flagged by GitHub as spammer not long after it started commenting/closing tickets.  😭 I should've scheduled each posting action with some delay next time. Oh well lesson learnt! Had to manually comment on tickets the script didn't get to but at least this work is ALL DONE NOWWWWWWWWWW 🎉 🎉 🎉

@marcwalsh I've shared a Google Spreadsheet with you. It should have all the contact info you

[2017-09-09 00:03] #705 closed

[2017-09-09 01:09] edrushka commented on #716
@KevZawacki does this page meet your needs?

[2017-09-09 09:18] Saallen commented on #705
Oh no! How many did you end up commenting on? Next time for fiddly manual
actions wait for us, we can definitely jump in and help
But totally appreciate that you saw it through!b thanks!!

S

On 9 Sep 2017 01:04, "Mavis Ou" <notifications@github.com> wrote:

[2017-09-11 10:59] Saallen commented on #701
In agreement @edrushka that a table is too much information
I dont think we event need information on the events. I wouldnt be against removing "Join us for MisinfoCon London, an event exploring solutions to misinformation online; Detox & Defend for Women, an online privacy workshop for women; a Journalism Tech Unconference; and much more."

I think it could read

MOZFEST HOUSE

Sometimes, the Moz

[2017-09-11 14:13] KevZawacki commented on #716
@edrushka @mmmavis

This is fantastic! Thank you for the very quick work.

One minor tweak (that's not at all urgent). Can we update the first sentence of the second paragraph to:

To receive press credentials to attend and cover MozFest; to request information and photos; or to arrange an interview with Mozilla executive director Mark Surman, contact Corey Nord at corey(at)pkpr.com.

[2017-09-12 00:42] edrushka commented on #725
@Melechuga @emrysgreen @erikao is it possible for you to write a 1-2 sentence description about what theme(s) your curated sessions will explore that I can include in the printed festival guide? Thanks!

[2017-09-12 00:43] edrushka commented on #701
Perfect. I think this is good for the guide :1st_place_medal:

[2017-09-12 00:46] edrushka commented on #696
@KevZawacki possible to have the rest of this content (intro blurb, titles and timings) by EOD Wednesday?

[2017-09-12 00:47] #729 closed

[2017-09-12 00:48] #648 closed

[2017-09-12 01:08] edrushka commented on #737
@mmmavis here's a[ schedule of events](https://docs.google.com/spreadsheets/d/14zKmZX0vFujBHkovkEmcLsDm_5gzIILoJiBV4caBvPE/edit#gid=0) in VERY rough form. Can you take a look and tell me if I should file a separate ticket for design love?

[2017-09-12 01:15] edrushka commented on #726
Any swag updates @marcwalsh? Have we confirmed what will be included, or is that still TBD?

[2017-09-12 10:06] EsmeSimcox opened #738 "Further bios to add to the Wranglers Page"
Mehan Jayasuriya - Open Innovation

~~Mehan Jayasuriya is a technologist and writer based in Portland, Oregon, U.S.A. He is currently a Program Manager at Mozilla, where he oversees the WINS wireless innovation challenges, which focus on connecting the unconnected in some of the most difficult scenarios. He has previously worked for a variety of technology companies, academic institutions and non-

[2017-09-12 10:11] EsmeSimcox commented on #738
@edrushka

[2017-09-12 12:44] Saallen commented on #725
Follow a topic of interest across the program and the floors such as Advocacy and Policy, Journalism or Youth Led sessions

[2017-09-12 15:53] KevZawacki commented on #696
@edrushka

Sure. We won't have the talk titles anytime soon, but everything else is ready to go.

**BLURB**

Trolls. Misinformation. Efforts to undermine encryption.

These are just a few of the topics this year’s MozFest speakers will explore. Join us as 20 luminaries at the intersection of technology and society discuss bright spots and threats to Internet health. Our speakers hail from eight co

[2017-09-12 15:56] KevZawacki commented on #696
@edrushka Do you need anything further to update https://mozillafestival.org/speakers with the times?

[2017-09-12 16:54] sabrinang commented on #735
I'm currently designing these stickers https://github.com/MozillaFoundation/mozfest-design-2017/issues/24#issuecomment-328907191 and I specifically have a localization question for Hindi.

When I copy and paste the localized Hindi word in Illustrator it appears different. This is also how it appeared last year when the designer made these but unsure if they were correct last year.
<img width="934"

[2017-09-12 18:12] edrushka commented on #735
Nice to see these designs coming along, @sabrinang :)

Instead of having the localization codes (HI) we'd like to have the full word (Hindi) this year. We realized that many people don't know the codes, so it won't be useful information. Especially for languages like zh-TW.

[2017-09-12 18:16] edrushka commented on #735
cc @vigneshwerd to confirm this Hindi text is correctly applied.

[2017-09-12 21:42] edrushka opened #739 "Info for back of House name card"
@Saallen @marcwalsh @lucieclick what information do we need on the back of the House name card? For reference, here's what's on the main [weekend name card](https://github.com/MozillaFoundation/mozfest-design-2017/issues/21#issuecomment-328984425).

**House info**
- Wifi network & password
- Connect (not sure if it's appropriate to ask people to tweet MozFest at MisInfocon, Open News etc.)
- Help

[2017-09-12 22:04] edrushka commented on #738
Brett Gaylor is a documentary filmmaker and the Commissioning Editor for Advocacy Media at the Mozilla Foundation.  His privacy documentary Do Not Track is the recipient of the International Documentary Association award for best nonfiction series, the 2016 Peabody Award, and the Prix Gemaux for Best Interactive Series.
[
Photo](https://www.flickr.com/photos/etherworks/10681077404/in/album-7215762

[2017-09-12 22:05] edrushka commented on #738
Angela's [photo](https://assets.mozilla.net/leadership/mozilla_portrait_Angela-Plohman.jpg) (her bio text is already up).

[2017-09-12 22:20] mmmavis commented on #738
Just give me a ping when this is ready for implementation. I'd like to update everything in one shot/PR 😉 .

[2017-09-12 22:20] edrushka commented on #738
Will do. I'm trying to collect everything in one place for you! :)

[2017-09-12 22:57] edrushka commented on #725
Draft 2

**Curated Programming**
MozFest 2017 features three curated topics that allow you to explore each of the festival's spaces through a particular lens.

Policy and Advocacy: What does copyright have to do with the internet? Is the internet a public utility? Why is my biometric data needed so I can buy a bag of rice? And what can I do about this? These big questions - an more - will be explo

[2017-09-12 23:02] edrushka commented on #697
**How to MozFest**

While MozFest welcomes many repeat visitors, some of you are here for the first time. Here are a few tips to make the most of the festival

- Customize your name card. Do you speak another language, have a special talent or a passion to share? Add it to your name card to find kindred spirits.
- Sessions formats can help you understand the type of interaction to expect: shed ses

[2017-09-12 23:06] edrushka commented on #700
Draft 2: [changed order of items]

**How to work open**

The Internet— a dynamic, complex, interconnected ecosystem of people, ideas, information— thrives when we collaborate and share information and skills widely and freely.

If you’re new to working open, here are three principles to get you started:

1) Invite participation. Welcome as many diverse perspectives into the community as possible,

[2017-09-12 23:53] edrushka opened #740 "Update a11y section with blog"
Please adjust the second paragraph of the a11y section on [this page](https://mozillafestival.org/expect) to include the blog:

During the open call for proposals, if you would like to submit a session and have difficulty using the text-based form, please email us to discuss other options. Read details about accessibility support at the festival venue in [this blog](https://medium.com/mozilla-fest

[2017-09-13 03:59] jessevondoom commented on #699
I'll have this tomorrow!

[2017-09-13 07:47] vigneshwerd commented on #735
The translation of "hi" in Hindi is "नमस्ते" and the localized text of Hindi word is "हिन्दी". The localized text in the current design does not sound right to me.

[2017-09-13 10:07] chadsansing commented on #700
@edrushka - I don't think we'll have settled on map language ahead of the milestone for this, so if it works for others, no blockers from me.

[2017-09-13 12:49] TheoChevalier commented on #735
@sabrinang Unfortunately I’m not a font guru, but it looks like a font issue indeed :/

It seems to work here on GitHub, and on Transvision. For Hindi it seems to fall back to the system font Devanagari MT on macOS, does this one work? What font are you trying with?

https://transvision.mozfr.org/string/?entity=toolkit/chrome/global/languageNames.properties:hi&repo=central

[2017-09-13 12:52] TheoChevalier commented on #690
@sabrinang Heads up that we will have a design challenge for Chinese as we can’t use italic for this language

Notes from our zh-TW localizer regarding the font:

Font: The glyphs and punctuation marks are different in countries using Han characters, for zh-TW please use fonts with TC suffix (eg. PingFang TC/Heiti TC if the designer is using Mac, or Noto Sans CJK TC/Microsoft Jhenghei on Windows &

[2017-09-13 15:33] EsmeSimcox commented on #738
Chrystian Rodriguez (Digital Inclusion)

Chrystian works as the Network Manager for Mozilla, Hive NYC - he works with the network to strengthen the network as a space for learning, innovation, and leadership by co-designing digital peer professional development opportunities. He facilitates spaces to aim to explore, create, and share tools, ideas, and practices that can transform learning in NYC.

[2017-09-13 16:49] Melechuga commented on #725
@edrushka @Saallen Thanks for kicking this off; I've added my blurb below. Can we call it "Open Policy + Advocacy"?
Open Policy + Advocacy: How is the internet being shaped by governments and corporations? What can we do to ensure it stays open? Come share ideas with leaders in the movement, and let's explore big questions together.

[2017-09-13 17:56] jessevondoom commented on #699
This probably needs a clean-up from @KevZawacki but here's a blurb I stole from a few places and tried to get more of the Internet Health / network framing into things:

The nonprofit Mozilla Foundation believes the Internet must always remain a global public resource that is open and accessible to all. Our work is focused on helping that movement for a healthy Internet grow and thrive. Our commun

[2017-09-13 19:13] edrushka commented on #694
@marcwalsh note we made lunch start at 12:00 on Sunday.

[2017-09-13 20:04] KevZawacki commented on #699
Thanks, @jessevondoom & @edrushka. I trimmed a bit:

[2017-09-13 20:05] edrushka commented on #699
Do we want any kind of link? e.g. "Join us at _____"?

[2017-09-14 01:22] edrushka commented on #738
Natalia Mileszyk (Open Innovation wrangler)
@nmileszyk
Natalia is a lawyer and public policy expert dealing with digital rights, copyright reform and open policies at Centrum Cyfrowe, a leading Polish think-and-do-tank exploring society’s response to the robust development of technology She’s also a member of Communia Association for Public Domain and legal expert for Creative Commons.
![photonm](

[2017-09-14 09:13] Saallen commented on #737
Looping @lucieclick in here
Is there anyway we can make it a bit more easy to read?
lIke the old fringe page- one event per line?
with 2/3 sentences per event and link to ticket page??

[2017-09-14 10:03] Saallen commented on #737
@lucieclick and myself think there should be a way to sign up to come and co work in the space
We are going to  create a sign page expecially to capture these names. We would like a sentence on the page for this. cc @marcwalsh on creating tito page

[2017-09-14 12:12] emrysgreen commented on #725
Sorry for the delay guys.  How's this as a starter?

Youth Led: Young People aged 8-25 teach, discuss and explore the internet health topics using Robots, VR, Dance, Coding, Social Media, Gaming and more.  Supported by Arts Award, join the demonstrations, exhibitions and learning opportunities.

[2017-09-14 13:08] Saallen commented on #739
Suggested content for back of the name tag

* participation guidelines
* Enjoyed  MozFest HOUSE, join us for the weekend at Ravensbourne

[2017-09-14 14:42] edrushka commented on #725
Simplified version: In these sessions, young people aged 8-25 teach, discuss and explore robots, VR, dance, coding, social media, gaming and more.

[2017-09-14 14:45] edrushka commented on #725
Journalism: These sessions explore innovation on the open web, from infrastructure like Django to engaging data visualisations and insightful data analysis. Join us in exploring strategies and tools for multimedia, accessibility, security, and more.

[2017-09-14 14:47] edrushka commented on #725
To discover these sessions, search the schedule app using the labels Open Policy & Advocacy, Journalism and Youth-Led.

[2017-09-14 15:28] emrysgreen commented on #725
Thanks @edrushka .  Is there a way of adding "Supported by Arts Award" in there somehow just as a nod to the time & travel costs that they're funding under this strand?

[2017-09-14 15:58] cassiemc commented on #696
@edrushka @KevZawacki Do you know if there are hi-res versions of the speakers photos available (and we have permissions to use in print?) I collected all the low-res ones here for reference: https://www.dropbox.com/sh/55ojz4y11ehs44o/AADGJXP_G4uz77xSAWh7NuPQa?dl=0

[2017-09-14 16:02] cassiemc commented on #702
Don't forget, vector logos (svg, eps, ai) or hi-res where possible :)

[2017-09-14 16:08] cassiemc commented on #691
Wow, look at all those check marks. Almost there, go @edrushka go! :1st_place_medal:

FYI I'm collecting all content here for design: https://docs.google.com/a/mozilla.com/document/d/1fzQxF_l3oiy-U-GLQXIB78Y5dDGX_5SWtQvrAZBHm3E/edit?usp=sharing It's okay if it changes I just wanted to get a sense of how much content there was in one place, how long, and start paginating. We can put in final final

[2017-09-14 16:34] cassiemc commented on #702
@edrushka I don't see any sponsor pages in last year's guide. Any idea of how many there will be? Will they need to be tiered?

[2017-09-14 17:19] KevZawacki commented on #696
Hi @cassiemc @edrushka

Hi-res speaker headshots can be found [here](https://drive.google.com/file/d/0B-BKZVAww2KHVW51a0d6U2MtMHc/view?usp=sharing
). We can use in print.

[2017-09-14 18:19] cassiemc commented on #699
@edrushka +1 I think a call to action would really help here. It's kind hard to know why this blurb is nestled in with the rest of the content, otherwise? Unless we're thinking of it as some kind of endorsement? An ethos or principle?

[2017-09-14 18:33] mmmavis commented on #737
@edrushka yes some design love would be great! I'm not sure table would be the best layout to show all the events since we have so many cells to show.

[2017-09-14 18:40] #740 closed

[2017-09-14 18:46] jessevondoom commented on #699
@cassiemc @edrushka Makes sense to me. Maybe just "Join us and learn more at https://network.mozilla.org/"

[2017-09-14 18:47] cassiemc commented on #696
Fantastic, thanks @KevZawacki! Should any of these speakers be emphasized over others, e.g. keynotes? Last year I guess it was all wrangler bios so they were treated uniformly but different treatments might help people know the don't-miss time slots. @edrushka

[2017-09-14 18:48] cassiemc commented on #699
wfm, thanks!

[2017-09-14 18:53] mmmavis commented on #740
Done! https://mozillafestival.org/expect

[2017-09-14 19:39] KevZawacki commented on #696
I think we should treat them all equally. We're not planning on billing any as bigger or better than others. @cassiemc

[2017-09-14 20:23] edrushka commented on #737
@mmmavis agree. Especially because the events all have different start times and durations. What do you think about the fringe-style layout like Sarah suggested above?

[2017-09-14 20:33] edrushka commented on #725
Hey @emrysgreen - I don't think this spot is the best way to highlight Arts Award's generous contributions. This page of the guide is dedicated to highlighting program elements, and is not the right place for individual or organizational plugs.

[2017-09-14 20:34] edrushka commented on #691
Best source is: https://www.flickr.com/photos/mozfest/albums

[2017-09-14 21:25] edrushka commented on #702
Yes, this is a new page. We didn't have an official sponsorship program last year.

Let's work on the tiering in [this private google doc](https://docs.google.com/document/d/1unimp4LxiOa2tLOEUAFmWlLFktuNzoRYwUc9Sh_-Y_g/edit), since not all the contracts have been finalized so I don't want share prematurely on Github. @jcbarajas is our awesome new director of fundraising. Juan, can you please help

[2017-09-14 22:12] edrushka commented on #696
Agree. We do not have any keynotes during the Saturday morning plenary, so all D&D speakers should get equal treatment.

[2017-09-14 22:29] emrysgreen commented on #725
Ok cool, sure thing.

Emrys Green MInstLM LCGI FRSA BA(Hons)
www.cloudartisans.co.uk
07905 253099

Please consider the environment when printing this email.  Please refer to the sending domain's terms and conditions for Email usage & data protection.  The views expressed are that of the sender and not of the organisation represented.

On 14 Sep 2017, at 21:33, Erika Drushka <notifications@github.c

[2017-09-14 23:59] edrushka commented on #738
Add Raegan's Twitter handle to [her bio](https://mozillafestival.org/team/wranglers#Raegan-MacDonald):  twitter.com/ShmaeganM

[2017-09-15 00:00] edrushka commented on #738
Add Stéphanie's bio (Privacy and Security)

Stéphanie is a Security Engineer at Mozilla working on Firefox. She is
passionate about privacy, security and their implications for people in
their online and offline lives. Among other activities, she focuses on
sharing technical knowledge beyond the Free and Open Source Software
communities.

[2017-09-15 00:05] edrushka commented on #738
Add Jenn Beard (Open Innovation)

Jenn is a naturally curious person who collects new experiences through continuous learning and travel. Currently, she works for Mozilla on a grant-making program that supports the creation of high-speed internet technologies for education. Jenn’s favorite area of innovation at the present time is craft cocktails.
![jenn beard headshot](https://user-images.githubu

[2017-09-15 00:11] edrushka commented on #738
Add Tim Riches' photo:
![5b_tfeewyx5iqwarh3xlg0xpr6zub-uktdmqehiohepzy8q8gmknhm5civmmyid97sqlnicugpb-z7qeo7tushgwjdpc60bbkdne w1280-h641](https://user-images.githubusercontent.com/4515662/30461037-bbbe5b92-996f-11e7-854d-d0a7723be1e6.jpg)

[2017-09-15 00:12] edrushka commented on #738
Add Angela's photo:
![mozilla_portrait_angela-plohman](https://user-images.githubusercontent.com/4515662/30461059-ebca4d32-996f-11e7-9f28-bc1dbe2b119f.jpg)

[2017-09-15 00:47] mmmavis commented on #737
@edrushka fringe-style layout sounds great!

[2017-09-15 01:30] edrushka opened #742 "House event details for website"
@marcwalsh @Saallen @lucieclick please add details of each public House event to [this spreadsheet](https://docs.google.com/spreadsheets/d/1YNHtYe_9lowzTAx0mj5XD2DaX3UZX785rVvTt7Vjpps/edit?ts=59bb2a65#gid=0) to populate the website.

Marking this P1 as everything else for the House page is ready.

[2017-09-15 01:32] edrushka commented on #737
Hurray! I think we have all the required info for this page!

**URL:** mozillafestival.org/house
**Nav bar:** House (replaces Projects)
[Hero banner image](https://user-images.githubusercontent.com/2492510/30399776-a81a3782-9889-11e7-9364-d0ebc453f407.jpg)
**Hero banner text:** MozFest House
**Header text:** Sometimes, the MozFest weekend just isn’t enough.
**Main text:**

Introducing MozFest Hous

[2017-09-15 12:17] marcwalsh commented on #742
@edrushka - I haven't got access to the doc.

[2017-09-15 16:47] Saallen commented on #737
looks great @edrushka

[2017-09-15 23:59] edrushka commented on #737
Alright @mmmavis - there's some events in the spreadsheet, so this is ready to go! 🏇

[2017-09-16 00:30] edrushka commented on #720
@sabrinang when you have this design ready, Theo will share it with the L10N mailing list to QA the fonts. Please tag him when you post the design.

[2017-09-18 03:30] edrushka commented on #692
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

[MozFest Logo] 2017

[2017-09-18 03:31] edrushka commented on #693
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

Welcome to MozFest!

This year marks our eighth MozFest. More than ever, the movement for a healthy Internet needs a place to convene, organize and act.

Today, the concept of Internet health reaches far beyond the realm of open source code: it’s linked to civil liberties and pu

[2017-09-18 03:37] edrushka commented on #694
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

**Friday**
18:00 Science Fair

**Saturday**
9:00 - 9:30 Welcome and opening
10:00 -11:00 Sessions
11:15- 12:15 Sessions and Dialogues & Debates
12:00- 14:00 Lunch
12:45- 13:45 Dialogues & Debates
13:00 - 13:45 Sessions
14:00 - 15:00 Sessions
15:15- 16:15 Sessions and Dialogues &

[2017-09-18 03:39] edrushka commented on #695
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----
Spaces

Sessions at MozFest are organized under spaces — physical and thematic learning hubs based around a topic of broad relevance to a healthy Internet.

**Decentralization** - A space for unpacking concepts like mesh networking and blockchain — and conversely, internet shutdo

[2017-09-18 03:43] edrushka commented on #725
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

Curated Programming

MozFest 2017 features three curated topics that allow you to explore each of the festival's spaces through a particular lens. To discover these sessions, search the schedule app using the labels Open Policy & Advocacy, Journalism and Youth-Led.

Journalism:

[2017-09-18 03:46] edrushka commented on #724
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

Artist Open Studios

Artists will share their practices through installations and real-time creations. They will work live on their pieces, collaborating with the public to open up new directions of debate about the web.

An Xiao Mina is a technologist, artist and writer from Ch

[2017-09-18 03:49] edrushka commented on #696
@KevZawacki as I was finalizing this text I noticed it doesn't reference the Q&A. How do you feel about altering the last line of the intro to read:

Speakers deliver 20-minute, TED-style talks, followed by a moderated Q&A.

[2017-09-18 03:52] edrushka commented on #697
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

How to MozFest

While MozFest welcomes many repeat visitors, some of you are here for the first time. Here are a few tips to make the most of the festival

- Customize your name card. Do you speak another language, have a special talent or a passion to share? Add it to your name

[2017-09-18 03:54] edrushka commented on #698
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

Accessible MozFest

At MozFest, accessibility is a vital part of how our network creates an inclusive community. From providing childcare to emphasizing language inclusion to supporting attendees’ diverse physical and cognitive needs, we are increasing our efforts to ensure that

[2017-09-18 03:56] edrushka commented on #699
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

A Network for Internet Health

The Internet is a vital global resource, connecting billions of us to the people, places, and ideas that matter most. Online, we come together to learn, share, and collaborate.

Today, there is a growing movement for Internet health — a movement to

[2017-09-18 03:58] edrushka commented on #700
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

How to Work Open

The Internet— a dynamic, complex, interconnected ecosystem of people, ideas, information— thrives when we collaborate and share information and skills widely and freely.

If you’re new to working open, here are three principles to get you started:
1. Invite par

[2017-09-18 04:00] edrushka commented on #701
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

MozFest House

Sometimes, the MozFest weekend just isn’t enough.

Introducing MozFest House: our central London venue that extends MozFest into a week-long festival.

From Monday 23rd - Friday 27th October, MozFest participants are invited to dig deeper into their work, trade id

[2017-09-18 04:02] edrushka commented on #703
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----

The Mozilla Festival respects Mozilla's community participation guidelines. These guidelines cover our behaviour as participants, facilitators, wranglers, staff, volunteers, vendors, and anyone else involved in making MozFest possible.

How to treat each other:
Be respectful and

[2017-09-18 04:03] edrushka commented on #721
@cassiemc - I don't think we need this backup page, as we agreed that if we have extra pages we'll leave them blank for notes. Closing this ticket.

[2017-09-18 04:03] #721 closed

[2017-09-18 04:12] edrushka opened #743 "Content: Wrangler Bios"
All wrangler bios are collected [here](https://docs.google.com/spreadsheets/d/1RyDQ1BF3gYLMj9Koy9gqEbB_LQoQQa0opVLfOgNzt_I/edit#gid=0).
They can be organized under the six spaces, with a seventh category for 'Experiences' that includes:

- Artists Open Studio
- Curated Programming
- Wayfinding and recognition

[2017-09-18 04:14] edrushka commented on #691
@cassiemc I've added the Wrangler Bios #743 to the table of contents, since they might be included in the main guide. I'm waiting for one final photo and a final entry for the youth zone. I'll let you know when I've added them in.

[2017-09-18 10:56] EsmeSimcox commented on #738
Grace Owolade-Coombes - Youth Zone

Co-founder of South London Raspberry Jam - delivering autism and Tourette's Syndrome friendly digital making workshops.  Certified Raspberry PI educator and specialist in specific learning difficulties, diversity and Inclusion. Proud parent to 2 young coding ninjas, exploring transformative experience of learning in informal shared space   and advocating peer le

[2017-09-18 13:20] KevZawacki commented on #696
@edrushka Yes, let's. So, here's the updated text:

**Dialogues and Debates**
Trolls. Misinformation. Efforts to undermine encryption.

These are just a few of the topics this year’s MozFest speakers will explore. Join us as 20 luminaries at the intersection of technology and society discuss bright spots and threats to Internet health. Our speakers hail from eight countries on four continents. The

[2017-09-18 13:54] edrushka commented on #696
Great - I'm going to omit the line "Below, meet each speaker and learn when they're presenting." because that might not make sense with the design .

[2017-09-18 13:55] edrushka commented on #696
@cassiemc - confirming this is final text. Please close this ticket when you've copied this to your working doc.

-----
Dialogues and Debates

Trolls. Misinformation. Efforts to undermine encryption.

These are just a few of the topics this year’s MozFest speakers will explore. Join us as 20 luminaries at the intersection of technology and society discuss bright spots and threats to Internet healt

[2017-09-18 19:37] mmmavis commented on #737
I updated the top comment with some notes for implementation.

[2017-09-19 01:03] edrushka commented on #738
Steph's photo (privacy and security):

![stepho](https://user-images.githubusercontent.com/4515662/30571309-dcd41e00-9cb4-11e7-93da-3153ee08eeab.jpg)

[2017-09-19 01:05] edrushka commented on #738
@mmmavis I believe this is all the updates. Over to you for implementation! 👯

[2017-09-19 01:08] edrushka commented on #743
@cassiemc - confirming this is wrangler bios, collected[ here](https://docs.google.com/spreadsheets/d/1RyDQ1BF3gYLMj9Koy9gqEbB_LQoQQa0opVLfOgNzt_I/edit#gid=0), are now complete.

[2017-09-19 10:15] marcwalsh opened #744 "Content: Guidebook App Listing"
There are various pieces of content that we need for the App Store listings of the Guidebook app.

- [x] App Full Name
   - 30 characters max. (including spaces)
   - This will be the title of your app as displayed in each of the App Stores.

- [x] App Short Name
   - 20 characters max. (including spaces)
   - This is the name of your app that shows up underneath the icon on the device’s
home scre

[2017-09-19 12:54] edrushka commented on #744
**App Full Name:** MozFest 2017
**App Short Name:** MozFest
**Preview Description:**
MozFest is the world's leading festival for the open Internet movement. October 23-29, 201. Ravensbourne College, London.
**Full description:**
Welcome to MozFest!

This year marks our eighth MozFest. More than ever, the movement for a healthy Internet needs a place to convene, organize and act.

Today, the concep

[2017-09-19 18:01] mmmavis commented on #744
<img width="514" alt="screen shot 2017-09-19 at 11 00 48 am" src="https://user-images.githubusercontent.com/2896608/30607433-db7adab0-9d29-11e7-854b-66fbaf7effee.png">

Looks right? I'm a ssuming MozFest House events won't go on here.

[2017-09-20 01:24] edrushka commented on #744
I think we *do* want MozFest House events on there. Correct @Saallen?

[2017-09-20 01:29] Saallen commented on #744
Yes, lets get them on here too- we can give the link to the sign up pages for tickets or attendance

[2017-09-20 01:31] Saallen commented on #744
Can @marcwalsh confirm that these keywords for searching should include the "tracks" you talked of in a message- so our space names and experiences?

[2017-09-20 13:10] marcwalsh commented on #744
@edrushka - the short description is too long. I've tried editing it down however it has to be 50 characters or less. Even "MozFest is the leading festival for the open Internet movement." is too long.

@Saallen - The keywords are not for the internal search it's for visibility​ on the app stores. So apart from MozFest and Mozilla Festival. If we're aiming to reach people who find the app by chanc

[2017-09-21 12:56] edrushka commented on #744
How about this for the short description:
A festival for the open Internet movement.

For keywords:
Mozilla festival Internet open source web digital technology advocacy art journalism youth global community code

[2017-09-21 17:34] #737 closed

[2017-09-21 17:47] mmmavis commented on #737
Done! https://mozillafestival.org/house

[2017-09-22 13:41] KevZawacki opened #746 "Remove Morgan Marquis-Boire as speaker"
Hi @mmmavis @edrushka

Morgan Marquis-Boire has had to cancel his speaking engagement at MozFest. We'll want to update https://mozillafestival.org/speakers to reflect that.

@edrushka Can you let Cassie know, in case she's begun designing the print materials?

[2017-09-22 16:30] edrushka commented on #746
Will do.

[2017-09-22 16:45] edrushka commented on #696
Hi @cassiemc - since you haven't closed this I'll comment here. Please note that Morgan Marquis-Boire will no longer be speaking. The blog w/speaker timings has been updated and I've changed the text in the comment above to read "19 speakers" instead of 20.

[2017-09-22 18:29] mmmavis commented on #746
Done! https://mozillafestival.org/speakers @edrushka I'm gonna keep this ticket open in case you need it as a reminder for pinging Cassie.

[2017-09-22 19:00] edrushka commented on #746
Thanks @mmmavis - I will close this as I pinged Cassie in #696

[2017-09-22 19:00] #746 closed

[2017-09-22 23:24] #738 closed

[2017-09-22 23:33] mmmavis commented on #738
Everything has been added to the site! :tada:

[2017-09-23 00:20] edrushka opened #749 "Prepare Slack for public signups"
We are finally opening the MozFest Slack to festival attendees! 🎺

The plan is [here](https://docs.google.com/document/d/17qrVF6bmZrGoflBDt8G1CZv0ztLsDBJyl5K36lXvPM0/edit).

[2017-09-25 10:03] Saallen opened #750 "Amend Sarahs Bio"
Hello can you change my bio to

Sarah Allen is MozFest's Executive Director. When she is not focused on MozFest, she works with the network to deliver Mozilla aligned convenings around the globe. Sarah draws her experience from a diverse events background working in theatrical experiences, global sporting events and community festivals. MozFest 2017 will be Sarah’s fifth festival.

[2017-09-25 11:04] EsmeSimcox commented on #682
Hi @mmmavis, sorry to keep sending these over to you! We have just had a new member join the MozFest team, Dan Rad, a logistical assistant. Could you please add him to the website?

Dan Rad is a Logistical Assistant, his 2nd year back with MozFest. Dan has graduated from Ravensbourne with a degree in Digital Television Production and has worked on a variety of short films and TV shows.

<img width

[2017-09-25 16:32] edrushka commented on #739
Updated:
- wifi
- participation guidelines

[2017-09-25 18:14] Saallen commented on #682
swoon DanRad 😍

[2017-09-25 18:15] Saallen commented on #682
Wait- why am I only seeing all these great photos now!!!!
@edrushka we need to up our own photo game

[2017-09-25 20:25] #692 closed

[2017-09-25 20:25] #693 closed

[2017-09-25 20:26] #694 closed

[2017-09-25 20:26] #695 closed

[2017-09-25 20:27] #725 closed

[2017-09-25 20:27] #724 closed

[2017-09-25 20:28] #696 closed

[2017-09-25 20:29] #697 closed

[2017-09-25 20:29] #698 closed

[2017-09-25 20:30] #699 closed

[2017-09-25 20:30] #700 closed

[2017-09-25 20:31] #701 closed

[2017-09-25 20:31] #703 closed

[2017-09-25 20:34] #743 closed

[2017-09-25 20:43] cassiemc commented on #691
All of these are closed now expect Sponsors #702

[2017-09-25 22:15] edrushka commented on #739
Participation Guidelines:
Be respectful and value each other’s ideas, styles and viewpoints.
Be direct but professional; we cannot withhold hard truths.
Be inclusive and help new perspectives be heard.
Appreciate and accommodate our many cultural practices, attitudes and beliefs.
Be open to learning from others.
Lead by example and match your actions with your words.

The following will not be tol

[2017-09-26 00:24] edrushka commented on #682
@Saallen is "Logistical Assistant" a UK job title? I'd call this a "Logistics Assistant"

[2017-09-26 14:40] marcwalsh opened #751 "Custom CSS for ti.to/Mozilla"
Hey @mmmavis @sabrinang @edrushka

With all the various tickets we're using on ti.to this year we're linking to: [ti.to/Mozilla](http://ti.to/Mozilla) more than we have done in previous years.

They've enabled our account to have the ability to use custom CSS so it can incorporate a little more branding etc and our fonts etc.

I'm not sure if this is totally out of scope or how difficult this migh

[2017-09-26 16:03] mmmavis commented on #751
That sounds exciting! @marcwalsh in order for @sabrinang and I to investigate the work needed, can you attach a list of ti.to links/pages we currently have?

[2017-09-27 18:18] edrushka commented on #739
@Saallen @lucieclick please review this redpen to see what the back of the house namecard will feature: https://redpen.io/pc3767d55910f95a95

[2017-09-27 19:37] edrushka opened #752 "Content for mini-net"
Let's gather content here:

[2017-09-27 20:12] KevZawacki commented on #752
1) Sam B.'s forthcoming Attitudes About Internet Health report.

cc @Lottarao

[2017-09-27 20:52] edrushka commented on #752
cc @marcwalsh

[2017-09-28 10:30] Saallen commented on #752
* lunch times and locations
* wifi password
* MozHELP

The mini nets are on rotation and cannot be timed.  We need to be sure not to over load with text when its visible for limited period of time

[2017-09-28 10:48] Saallen commented on #744
Suggested content for guidebook main page-

Welcome to MozFest!

This year marks our eighth MozFest. More than ever, the movement for a healthy Internet needs a place to convene, organize and act.

This schedule shares spaces, session descriptions and timings, and different ways to navigate across the program such as different experiences and session formats.

Experiences are artworks, exhibits, a

[2017-09-28 10:54] Saallen commented on #727
* Artist open studio
* Sponsor logo positioning
* different types of sessions

[2017-09-29 00:51] edrushka commented on #744
Thanks @Saallen - I made a few tweaks and got it a bit shorter.

-----

Welcome to MozFest, a festival for advocates of a healthy Internet.

This schedule shares session descriptions and timings, and different ways to navigate across the program.

You can explore sessions individually, by session facilitator, or grouped under spaces or experiences.

Session formats help participants understand the

[2017-09-29 15:10] marcwalsh commented on #751
I think the main one to focus on (as it just adds to an inline stylesheet, so it's per page) is ti.to/Mozilla as this is what we'll be what we're linking with guidebook.

[2017-09-29 17:45] marcwalsh commented on #744
@edrushka  - The app features is what the user can do with the app so for example:

- Browse the MozFest House and Weekend Schedule
- Link up with wranglers, facilitators and other attendees.
- Share your photos of the festival with everyone

(Obviously not the best, but hopefully, that gives you an idea.

[2017-09-29 20:34] TheoChevalier opened #753 "Localize “[Language] speakers welcome”"
Tracking: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2017/mozfest_design_assets.lang
Completed translations: https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2017/mozfest_design_assets.lang&action=translate&show
Locales: All MozFest locales
Deadline: 2017-10-04

CC @edrushka

[2017-09-29 21:33] mmmavis commented on #751
Cool. @sabrinang let me know what needs to be updated. Just a note that the timeline (arrows and axis) can't be easily changed as they are actually in image files like [this](https://titoproduction.global.ssl.fastly.net/assets/public-timeline-upcoming-157a0318734f6951520cbcb4eff4a20cb4354ab5a93a31e9086fe14e45fef8f5.png).

[2017-10-02 17:38] TheoChevalier commented on #753
Once Italian is done, we’re good to go

[2017-10-02 18:28] edrushka commented on #753
I can reach out to Edoardo if we're stuck on Italian. @mmmavis just let me know when you need these lines to amend the session descriptions on Guidebook.

[2017-10-02 19:00] mmmavis commented on #753
@edrushka The script needs to know these lines before it starts exporting things from GitHub and spreadsheet. I'm still unsure when we are ready to port things over, for that I'm waiting for the ping from @marcwalsh .

[2017-10-02 20:07] marcwalsh commented on #753
@mmmavis If we can aim for tomorrow your time. I can email the wranglers and let them know. If they then mark any updates and one of the production team can copy them over.

@edrushka - Does that time frame seem realistic?

[2017-10-02 20:17] edrushka commented on #753
Yup! Here are the strings. The only one missing is Italian, and I can add those 2 manually later on.

de:  Deutschsprachige willkommen
es: Bienvenidos todos los que habláis español
fr: Les personnes parlant français sont les bienvenues.
hi-IN: इस सत्र में हिंदी भाषियों का स्वागत हैं
pt-BR: Falantes de Português são bem vindos
zh-TW: 歡迎會說華語的伙伴參加

[2017-10-02 20:30] edrushka commented on #709
We are done drafting the dyslexia-friendly version of the guide: https://docs.google.com/document/d/1MRHH3g01wMpof2TS1sS3txiiPbFFdLP6zOiFBhJSNos/edit?usp=sharing

[2017-10-02 21:15] edrushka commented on #682
@mmmavis please add this to the staff page: Photo is in the comment above.

Dan Rad
Dan Rad is a Logistics Assistant. This is his second year with MozFest. Dan graduated from Ravensbourne with a degree in Digital Television Production and has worked on a variety of short films and TV shows.

[2017-10-02 22:27] edrushka commented on #752
Closing this ticket. Add additional requests to https://github.com/MozillaFoundation/mozfest-design-2017/issues/13

[2017-10-02 22:27] #752 closed

[2017-10-03 00:18] edrushka opened #754 "Update participation guidelines on website"
Update "How to treat each other" with:

How to treat each other:

- Be respectful and value each other’s ideas, styles and viewpoints.
- Be direct but professional; we cannot withhold hard truths.
- Be inclusive and help new perspectives be heard.
- Appreciate and accommodate our many cultural practices, attitudes and beliefs.
- Be open to learning from others.
- Lead by example and match your act

[2017-10-03 01:15] edrushka commented on #744
@marcwalsh how about this for the app features:

- Browse the MozFest schedule
- Find session locations on a map
- Connect with wranglers, facilitators and other attendees
- Share your photos of the festival

[2017-10-03 03:20] mmmavis commented on #682
Done! https://mozillafestival.org/team

[2017-10-03 03:21] #682 closed

[2017-10-03 03:21] mmmavis commented on #750
Done! https://mozillafestival.org/team

[2017-10-03 03:21] #750 closed

[2017-10-03 10:51] marcwalsh commented on #744
That is perfect! Thanks @edrushka

[2017-10-03 11:01] marcwalsh opened #757 "Launch Guidebook Wrapper App"
- [ ] TLA Signed
- [x] Images / App Design
- [x] Content for App and Play Store

If we launch today - it would be expected on the Play Store within 24 hours and on App Store by the 10th October.

[2017-10-03 20:06] edrushka commented on #731
Posters are designed here, ready for QA: https://redpen.io/p/st123a285766334577