[2017-10-04 17:51] edrushka commented on #690
@TheoChevalier this poster is ready for QA: https://redpen.io/ufbe29f9afa00df975

[2017-10-04 22:36] TheoChevalier commented on #731
Besides Peter’s comments in Redpen for zh-TW, there are two typos in Spanish:

1) In the first line, "respecta" should be "respeta"

2) Near​ the end, "violencia" should be Violencia"

[2017-10-04 23:30] edrushka commented on #731
Thanks @TheoChevalier - are the rest ok?

[2017-10-04 23:31] TheoChevalier commented on #731
Not sure if each team had a look so far, but that’s the only feedback I got

[2017-10-05 11:06] TheoChevalier commented on #731
The Hindi translator left a comment in RedPen, but mentioning it here too — everything is fine for Hindi

[2017-10-05 11:55] TheoChevalier commented on #690
Hindi looks good (French as well)

[2017-10-05 13:16] TheoChevalier commented on #690
Peter confirmed Chinese looked good, even with italic

[2017-10-06 21:21] edrushka opened #761 "Add sponsors to sponsor page"
@mmmavis I have emailed you all the sponsor logos. Please add them to https://mozillafestival.org/team/sponsors underneath the paragraph text. If it needs header text you can put Our 2017 Sponsors.

[2017-10-07 23:04] cassiemc commented on #702
Just a note that there is no blurb here saying thanks, that I can see, just the listed names. So I'll go with what we have! @edrushka

[2017-10-11 23:54] mmmavis commented on #761
@edrushka I heard from @sabrinang that we are still finalizing the types of sponsorship as well as which type each sponsor belong to. Can you paste the finalized list here when they are ready? Thanks!

[2017-10-12 00:05] edrushka commented on #761
We are ready. Ordering for tiering them is [here](https://docs.google.com/document/d/1unimp4LxiOa2tLOEUAFmWlLFktuNzoRYwUc9Sh_-Y_g/edit). I emailed you all the logos.

[2017-10-12 21:09] edrushka commented on #754
Thanks @mmmavis  - is it possible to make this not all caps and bolded? The bolding is fine, but combined with all caps feels a little aggressive ;)

[2017-10-16 15:14] xmatthewx opened #763 "Project page"
Last year, at the end of MozFest, we add a Projects page to the MozFest site and main nav. This year, it might be good to queue that up in advance, so it can display during the festival ...  so attendees and onlookers can find opportunities for collaboration.

The simplest solution, might be a page with intro text and a big button to Pulse [mozfest tag](https://www.mozillapulse.org/tags/mozfest) (

[2017-10-16 15:49] edrushka commented on #763
We only took it off the top nav because we ran out of room. @Saallen do you think we could replace House with Projects on Friday afternoon? After the festival we could remove What to Expect and bring House back in to the top nav (keeping Projects as well).

[2017-10-16 18:12] mmmavis commented on #761
I will work on this ticket today.

[2017-10-16 22:24] mmmavis commented on #761
@edrushka do we want the logos to be hyperlinked? If so, could you please provide the links (you can add them in google doc or here). Thanks!

[2017-10-17 01:36] mmmavis commented on #761
@edrushka I exported the provided logos into PNGs without cropping off the any whitespace as I don't know if that'll violate their brand guides. I can't seem to layout logos nicely because of the sizes of the logos vary a lot (see red boxes below). Should we consider a different layout than what's suggested in this [doc](https://docs.google.com/document/d/1unimp4LxiOa2tLOEUAFmWlLFktuNzoRYwUc9Sh_-Y

[2017-10-17 10:53] edrushka commented on #761
cc @jcbarajas how does this layout look to you (minus the red boxes)? Should we link out to each of the sponsors' main websites?

[2017-10-17 17:02] jcbarajas commented on #761
Looks great! We probably can just say partner vs partners since it's only one per category.

Also, let's say Supporting Festival Partner on top of Flattr's logo.

[2017-10-17 18:39] #761 closed

[2017-10-17 18:46] mmmavis commented on #761
Just wanted to get this page out soon so here it is https://mozillafestival.org/team/sponsors 🎉

I adjusted spacing and header colour a bit. If there's any tweaks I can make just let me know! :)

[2017-10-17 19:44] Saallen commented on #763
Hello- I would like to keep House- but let's chat to discuss

[2017-10-18 10:28] edrushka commented on #691
Guide is finished and printed. It looks stunning! 💟

[2017-10-18 10:28] #691 closed

[2017-10-18 10:29] #702 closed

[2017-10-18 10:30] edrushka commented on #709
WIP here: https://www.dropbox.com/s/p8bb4ul7xb2w2mf/Dyslexia%20friendly%20guide.indd?dl=0

[2017-10-18 15:48] xmatthewx commented on #763
We could put a link on the Spaces page, below the intro paragraph. Or, call it out wherever you'll link to the schedule. Doesn't need to be in the main nav.

[2017-10-18 20:39] mmmavis commented on #716
@KevZawacki sorry didn't see your comment until now. I can make this adjustment today. 👍

[2017-10-18 23:52] mmmavis commented on #754
updated!

[2017-10-18 23:52] #754 closed

[2017-10-18 23:52] mmmavis commented on #716
updated!

[2017-10-18 23:52] #716 closed

[2017-10-19 09:49] edrushka commented on #754
Thank you!!!! 🌻

[2017-10-19 10:08] edrushka opened #766 "Update schedule w/ correct party info"
Please update the schedule on https://mozillafestival.org/expect with the correct party info

Change 18:00 Evening activities begin to

19:30 MozFest Party at the [RSA](https://www.thersa.org/contact)

cc @Saallen

[2017-10-19 17:49] #766 closed

[2017-10-19 18:01] mmmavis commented on #766
Live: https://mozillafestival.org/expect 🌹

[2017-10-19 19:11] KevZawacki opened #768 "After MozFest: Link to speaker series on AirMo"
Last year, in the days after MozFest 2016, we linked speakers' headshots on MozFest.org to recordings of their talks on AirMo.

Let's aim to do so again this year. I'll update this ticket when the links become available.

@alanmoo, let me know how else I can help. Here's the workflow from last year: https://github.com/mozilla/mozillafestival.org/commit/87a8c25a154c75c88f2def23a15e356fbfc64cf4

[2017-10-19 20:01] KevZawacki opened #769 "Update festival guide link on mozillafestival.org/expect"
Hi @edrushka,

On the What To Expect page, there is still a link to our 2016 schedule. Possible to remove or update? A reporter emailed us today confused.

On a related note: In addition to the schedule app, is there a PDF of our print guide I can share?

[2017-10-19 20:15] edrushka commented on #769
Perfect timing! We're about to upload the 2017 guide to Issu. Hope to have that ready in the next few days. Assigning @marcwalsh  (can you also create a PDF for Kevin when you do this?)

[2017-10-19 20:16] edrushka opened #770 "Update link to 2017 schedule"
The schedule is now public. @mmmavis can you :
- remove Spaces on top nav and replace with Schedule (unless there is room to have both)
- change CTA text box to View Schedule (and make it point to schedule)

All links should go to: https://guidebook.com/app/mozfest/guide/mozfest/

[2017-10-19 21:01] KevZawacki opened #771 "Remove CryptoColloquium from mozillafestival.org/house"
Hey there,

Turns out the CryptoColloquium on Oct. 27 is closed to the public. It's currently listed on mozillafestival.org/house, and I've received requests from media to attend (they cannot). Possible to remove it?

[2017-10-20 00:32] mmmavis commented on #771
It should be removed from https://mozillafestival.org/house now 👍

[2017-10-20 00:33] #771 closed

[2017-10-20 14:54] edrushka commented on #769
The 2017 Festival Guide has been uploaded to Issuu. Link is here: https://issuu.com/mozfest/docs/mozfest_2017_festival_guide

@mmmavis can you please update the link on https://mozillafestival.org/expect and the text above it to "Read the 2017 Festival Guide"? Let me know if you need a screenshot for the image.

Thanks!

[2017-10-20 18:13] #770 closed

[2017-10-20 22:31] #769 closed

[2017-10-21 13:44] edrushka commented on #769
Not an P1, because the links are correct, but at some point we should update the image to a spread from the 2017 guide.

[2017-10-25 14:04] alanmoo commented on #763
Any definitive direction on this?

[2017-10-25 14:33] edrushka commented on #763
@mmmavis is there room in the top nav for one more item or  do we need to cut something?

[2017-10-25 14:42] alanmoo commented on #763
I think part of the question is how soon you want to remove "tickets" and put up "projects"

[2017-10-25 14:45] edrushka commented on #763
Take Spaces off and replace it with pulse. This can happen any time. All the space info is currently on guidebook.

[2017-10-25 14:56] KevZawacki commented on #768
@edrushka, what do you think? ^

[2017-10-25 16:49] edrushka commented on #768
We could replace the What is MozFest like section currently on the homepage with a "view the talks" section, and link to them individually.

[2017-10-26 12:40] sabrinang commented on #727
We are brainstorming a shot list here: https://docs.google.com/a/mozilla.com/document/d/1WCZnh6XHFUA1NhXqvZ6XkbKzduXWS2QSJ9z4wPt3kpA/edit?usp=sharing

@taisdesouzalessa @natalieworth are also contributing ideas they would like to use for network and fundraising projects etc.

[2017-10-27 11:28] sabrinang commented on #727
We shared the doc with Erik W 👍

[2017-10-27 11:28] #727 closed

[2017-10-27 11:46] xmatthewx commented on #763
@alanmoo - tickets are sold out. @edrushka says you can remove that from the nav.

[2017-10-27 11:56] alanmoo commented on #763
What about the bottom section of the homepage?

[2017-10-27 13:26] edrushka opened #775 "Tech terms for closed-captioning"
Building on [last year's ticket](https://github.com/MozillaFoundation/Mozfest2016_production/issues/196), here's a list of terms for the captioners to be aware of:

FLOSS
IoT
VPN
VoIP
URL
USB
GIF
HTML
FAQ
GDPR

cc @KevZawacki @marcwalsh

[2017-10-27 13:29] edrushka commented on #763
Sure you can take that bottom ticket banner out and/or replace with Pulse.

[2017-10-27 13:37] edrushka commented on #763
Scratch that!!! We just set up a mailing list for 2018 to point people to. Tickets have sold out so we want a way for interested people to engage.

Please update banner text to 2018, and point to this url: https://ti.to/mozilla/mozilla-festival-2018

[2017-10-27 13:40] edrushka opened #776 "Post-festival: Fix 2018 Ti.to page"
This needs branding and love

https://ti.to/mozilla/mozilla-festival-2018

[2017-10-27 15:50] #763 closed

[2017-10-27 20:53] alanmoo commented on #768
@KevZawacki When you have the links, someone needs to update [this file](https://github.com/mozilla/mozillafestival.org/edit/speakers/talks/2017.js) keeping the URLs for each talk inside the backticks
[code]

If you can do that yourself, go ahead and post here after, @mmmavis or I can review. Or just post the links with people here and one of us can drop it in the code.

[2017-10-27 21:05] #757 closed

[2017-10-27 21:05] #749 closed

[2017-10-28 05:51] KevZawacki commented on #768
Great! Thanks for your help, @alanmoo

[2017-10-31 14:31] KevZawacki commented on #768
Hi @alanmoo & @mmmavis, our talk footage is ready for the website:

Mishi Choudhary | https://air.mozilla.org/mozfest-2017-saturday-dialogues-and-debates/ | 0:00 - 30:15

Alan Knott-Craig | https://air.mozilla.org/mozfest-2017-saturday-dialogues-and-debates/ | 30:15 - 50:18

Ashley Black | https://air.mozilla.org/mozfest-2017-saturday-dialogues-and-debates/ | 51:35 - 1:14:05

Anasuya Sengupta & Si

[2017-10-31 15:41] alanmoo commented on #768
Added, awaiting code review

[2017-11-02 16:26] #768 closed

[2017-11-17 20:35] sabrinang commented on #727
## Post-MosFest Documentation
Photos by Erik Westra: https://westraco.pixieset.com/mozfest2017/
I have taken some photos as well: https://drive.google.com/open?id=1yPdvbAbR6g7tvle9rA2hiaLTLeOgsMuY

I sat down with Erik W to go over the shot list Friday afternoon of MozFest weekend and after MozFest was complete we discussed what swag shots we wanted on the lightbox. He separated the albums (promo,

[2017-11-27 18:22] mmmavis opened #783 "Migrate to Express v4"
https://github.com/expressjs/express/wiki/Migrating-from-3.x-to-4.x

[2017-11-27 19:16] mmmavis opened #785 "Update mustache.js to v2.2.1+"
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-8862

[2017-11-27 19:18] #783 closed

[2017-11-27 22:06] cadecairos opened #787 "Fix "Mozfest listening on port undefined""
After the upgrade to express 4.x it looks like the logging we have on startup to output the port number isn't working.

[code]

[2017-11-27 22:13] cadecairos commented on #787
Invalid, I didn't copy the sample env.

[2017-11-27 22:13] #787 closed

[2017-11-27 23:47] #785 closed

[2017-11-27 23:51] mmmavis commented on #712
Fixed in https://github.com/mozilla/mozillafestival.org/pull/786

[2017-11-27 23:51] #712 closed

[2018-01-03 21:41] mmmavis opened #788 "Update outdated dependencies"
😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀

# dependencies

https://david-dm.org/mozilla/mozillafestival.org

![screenshot-2018-1-3 dependency status for mozilla - mozillafestival org v1 0 0 - david](https://user-images.githubusercontent.com/2896608/34540997-7625abd0-f08b-11e7-98a8-9cbfc38c03bf.png)

😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱 🙀 😱

[2018-01-05 21:01] mmmavis commented on #788
I'm closing this one as most of the outdated dependencies have been updated. The ones that are left require more work and changes in the codebase (e.g., update `react-router` etc) - I'll tackle those in separate tickets.

[2018-01-05 21:01] #788 closed

[2018-01-05 21:02] mmmavis opened #798 "Upgrade react-router to v4"

[2018-01-05 21:15] alanmoo commented on #788
Great. Add them to this project when you make them so we have an overview of it?

[2018-01-05 22:45] mmmavis opened #799 "Tidy up codebase"
- upgrade outdated dependencies
- ES6-fy things
- (to be added)

[2018-01-05 22:46] mmmavis commented on #799
oops this should be an Epic instead

[2018-01-05 22:46] #799 closed

[2018-01-05 22:46] mmmavis opened #800 "Tidy up codebase"
- [x] upgrade outdated dependencies
- [ ] ES6-fy things (most likely won't fully finish this by this sprint... since there are a ton of code to turn into ES6)
- [ ] make sure we have GA set up and user's DNT preference is respected
- [x] enable "real" server side rendering (currently the server serves index.html and let bundle.js and client side `react-router` handle the rest)
- [x] 404 page (with

[2018-01-05 22:54] mmmavis opened #801 "Router & router cleanup - change file names & split code"
Things to do

- change `app.js` to `server.js`
- split `clients.jsx` into `main.jsx` and `app.jsx`

This will make codebase easier to understand plus prep the codebase for `react-router` v4 upgrade.

[2018-01-09 00:46] mmmavis opened #803 "Enable "real" server side rendering"
Enable "real" server side rendering (currently the server just serves `index.html` and let `bundle.js` and client side `react-router` handle the rest).

We should also add a "page not found" page (with http status `404`).

[2018-01-09 00:57] mmmavis commented on #801
Done!

[2018-01-09 00:57] #801 closed

[2018-01-09 00:59] #803 closed

[2018-01-09 18:32] mmmavis opened #805 "Better design for the 404 page"
Please help make this 404 page better 😉

Some context:

MozFest wasn't serving real 404 page before (by "real" I mean http status `404`). When users hit a random route all they got was a blank page with nothing on it (http status `200`). This is because the site didn't have server side rendering working and routes were handled client-side. I got server side rendering working yesterday and got a sl

[2018-01-10 00:23] mmmavis opened #806 "Make sure GA is properly set up and respects user's DNT preference"

[2018-01-10 01:06] mmmavis opened #807 "Get `react-helmet` working"
There is a bug somewhere as `react-helmet` currently doesn't kick in properly. `<meta>` like `description` doesn't get updated to the value we want it to be.

[2018-01-10 01:22] mmmavis commented on #807
Fixed!

[2018-01-10 01:22] #807 closed

[2018-01-11 19:39] mmmavis commented on #798
Done!

[2018-01-11 19:39] #798 closed

[2018-01-12 00:11] edrushka opened #810 "Change main site CTA"
Since there may not be capacity to update the MozFest site until the second half of February, requesting this small change text and link change to the main banner to tide us over.

Please change main banner text to:
The world's leading festival for the open Internet movement.
2018 dates coming soon

Change the CTA box text to:
Get updates

and link the CTA box to:
https://ti.to/mozilla/mozilla-fes

[2018-01-12 17:27] edrushka commented on #810
@alanmoo to assign. cc @Saallen and @mmmavis

[2018-01-12 18:24] mmmavis commented on #810
I will take this one on since I'm already doing some MozFest site work.

[2018-01-12 19:01] mmmavis commented on #810
@edrushka is the ti.to page ready to be linked to? If so, I'll get our site CTA changes live today.

[2018-01-12 21:13] edrushka commented on #810
Yup! It's ready to go! (sorry, thought I edited the comment)

[2018-01-15 19:30] #810 closed

[2018-01-15 19:41] mmmavis commented on #810
Changes are live!

[2018-01-15 19:44] edrushka commented on #810
Awesome - thank you Mavis! 💐

[2018-01-24 19:50] #538 closed

[2018-01-24 19:51] #428 closed

[2018-01-24 19:51] #460 closed

[2018-01-24 19:51] #545 closed

[2018-01-24 19:51] #547 closed

[2018-01-24 19:51] #558 closed

[2018-01-24 19:51] #561 closed

[2018-01-24 19:52] #589 closed

[2018-01-24 19:52] #621 closed

[2018-01-24 19:52] #636 closed

[2018-01-24 19:52] #690 closed

[2018-01-24 19:52] #704 closed

[2018-01-24 19:52] #706 closed

[2018-01-24 19:52] #709 closed

[2018-01-24 19:52] #720 closed

[2018-01-24 19:52] #726 closed

[2018-01-24 19:52] #731 closed

[2018-01-24 19:52] #735 closed

[2018-01-24 19:52] #739 closed

[2018-01-24 19:52] #742 closed

[2018-01-24 19:52] #744 closed

[2018-01-24 19:52] #753 closed

[2018-01-24 19:52] #775 closed

[2018-01-24 19:59] edrushka commented on #805
I'll add this to the [site update project brief.](https://docs.google.com/document/d/1Uk7qz4b-dhlTRQh6l5fYrLmzCFeYUfO3gonXjDzxNLM/edit?ts=5a60983f#)

[2018-01-24 20:00] #638 closed

[2018-01-24 20:00] #659 closed

[2018-01-24 20:02] edrushka commented on #572
Closing as this is included in #806

[2018-01-24 20:02] #572 closed

[2018-01-24 21:23] mmmavis commented on #460
Just a note that this has been fixed 🎉

[2018-02-01 23:20] sabrinang commented on #805
Note: I'll be referencing the foundation site 404 page that we updated last year: https://github.com/mozilla/foundation.mozilla.org/issues/143#issuecomment-300642641

[2018-02-01 23:40] sabrinang opened #813 "Design Updates to MozFest Home Page"
### Description
We will refresh the MozFest home landing page so it is up to date for 2018. Create a mockup with these design updates:
- [x] Remove "Latest News" section because it is stagnant and not the latest
- [x] Add Katherine, Ryan & Mark images to Dialogues & Debates section
- [x] Change banner text in bottom banner to Join Us at MozFest
- [x] Update hero area with text to be about the open

[2018-02-06 01:25] sabrinang commented on #813
@edrushka Here is a mockup of the landing page with updates (excluding copy updates). You can leave feedback on directly on [redpen](https://redpen.io/xzbf932cbb04b7adb7) or on the ticket.

Original banner photo: https://westraco.pixieset.com/mozfest2017/fullset/?pid=1477513298&id=5&h=Mjk5MzE3Mzc3OA
![mozilla-festival_website-update-2018](https://user-images.githubusercontent.com/2492510/35837151-

[2018-02-06 19:14] edrushka commented on #813
Thanks, Sabrina!
- new lockup looks good!
- top nav is definitely cleaner. 'About' and 'House' should definitely stay. It's important that 'Sponsors' is easily visible so I'd advocate to keep it up top. I'm torn on 'Spaces & Experiences' (it should be experiences, not sessions) and 'What to Expect' - both are valuable to potential new wranglers and sponsors so I'm leaning towards keep. What do you

[2018-02-06 21:45] sabrinang commented on #805
I have some mockup options for this 404 page.

We can either make the banner text more obvious with a heading and 404 graphic in the body:

![mozilla-festival_website-update-404 2x](https://user-images.githubusercontent.com/2492510/35885500-d27c5c0e-0b42-11e8-98e9-a8ab9adb4578.jpg)

or make it similar to the foundation site with a narrow nav with text on the left and image on the right (keeping th

[2018-02-06 22:32] sabrinang commented on #813
Yeah I understand about the hero banner and I'm looking through the album for group shots as other contenders:
- https://westraco.pixieset.com/mozfest2017/p/MTQ3NzUxMjY1NQ==-MTE4Nzg5OTE4MQ/ (this might have the same issue)
- https://westraco.pixieset.com/mozfest2017/p/MTQ3NzQ3MjI2Mw==-Mzk2NDc2NjgyNQ/
- https://westraco.pixieset.com/mozfest2017/p/MTQ3NzQ2NTE1Nw==-NzY1ODYzMjgw/
https://westraco.pixi

[2018-02-06 23:42] edrushka commented on #813
https://westraco.pixieset.com/mozfest2017/p/MTQ3NzUxMjY1NQ==-MTE4Nzg5OTE4MQ/ and https://westraco.pixieset.com/mozfest2017/fullset/?pid=1477514009&id=0&h=NzM5ODY1Njkx are my favs. Also, you don't need to use a photo from 2017 if one from 2016 will work!

[2018-02-07 00:56] edrushka opened #814 "Master list of February 2018 updates"
[Project brief](https://docs.google.com/document/d/1Uk7qz4b-dhlTRQh6l5fYrLmzCFeYUfO3gonXjDzxNLM/edit?ts=5a60983f#)
[Feb 2017 updates](https://github.com/mozilla/mozillafestival.org/issues/488) (for reference)

----
## Top nav
Ticket #815
- [ ] Update logo lockup
- [ ] Simplify and reorder items

## Landing page
Ticket #816
- [ ] Refresh hero banner
- [ ] Add video banner - BLOCKED
- [ ] Add Kather

[2018-02-07 20:20] sabrinang commented on #813
@edrushka Comparing these banners on https://redpen.io/jv72b3f02c5fc46d2d I prefer this image:
![mozilla-festival_banner-home-2018_2 2x](https://user-images.githubusercontent.com/2492510/35939459-0d4a5976-0c01-11e8-9d49-394ab02099da.jpg)

In context:
<img width="993" alt="screen shot 2018-02-07 at 12 16 51 pm" src="https://user-images.githubusercontent.com/2492510/35939392-dd30c93c-0c00-11e8-88fa-

[2018-02-07 23:25] mmmavis commented on #805
@sabrinang I prefer the one that shares the same style as Foundation site's 404 page.

[2018-02-08 23:55] edrushka opened #815 "Top Nav"
Top Nav updates:

- [ ] Update logo lockup
See treatment here: https://github.com/mozilla/mozillafestival.org/issues/813#issuecomment-363897635
- [ ] Simplify and reorder nav items
Keep 'About' House' 'Sponsors' 'Spaces & Experiences' and 'What to Expect'

[2018-02-09 00:02] edrushka commented on #813
Agree - that's the best of the bunch.

[2018-02-09 00:15] edrushka opened #816 "Landing page"
Landing page updates:
Refresh hero banner
Mockup here: https://github.com/mozilla/mozillafestival.org/issues/813#issuecomment-363897635
Text:
- [x] MozFest 2018
- [x] The world's leading festival for the open Internet movement.
- [ ] October 26-28, 2018
- [x] Ravensbourne College, London
- [x] [CTA text] Get updates
- [x] [CTA link] https://ti.to/mozilla/mozilla-festival-2018

- [ ] Add video bann

[2018-02-09 00:38] edrushka opened #817 "About page"
About page updates

- [ ] Change first sentence of Mark's speech to 'October 2017 marks our eighth MozFest.'
- [ ] In the second banner:
- change number of attendees (both text and in the graphic) to 1700
- change number of sessions to 312
- change 'workshops & sessions' to 'sessions & experiences'
- change first line of paragraph text to 'The ninth annual MozFest will be held in London, from Frid

[2018-02-09 00:39] edrushka commented on #817
@Saallen please review 2017 blurb for the timeline on the About page

[2018-02-09 00:51] edrushka opened #818 "Speakers page"
Updates to speakers page

- [ ] Add Mark
Mark Surman @ msurman
Mark is Executive Director of the Mozilla Foundation, a global community that does everything from making Firefox to taking stands on issues like privacy and net neutrality. Mark’s main job is to build the movement side of Mozilla, rallying the citizens of the web, building alliances with likeminded organizations and leaders, and growi

[2018-02-09 10:38] Saallen commented on #817
Hello
Looks good

[2018-02-09 22:59] sabrinang commented on #805
The 404 graphic is exported as an .svg here: https://drive.google.com/open?id=1OpfN3isH6eV7oGAhip-QCiRpeKP10d8v

@mmmavis Good to hear you prefer the version that aligns with the foundation site as well. The image and content would be higher up on the page as well 👍

[2018-02-09 23:45] sabrinang commented on #805
@edrushka Does this design look good to you as well? If so we can close this and file a separate implementation ticket (I don't know if there is one already)

[2018-02-09 23:51] edrushka commented on #813
Yes, go ahead. I'll link to the relevant dev tickets. Thanks for this, Sabrina! 💐

[2018-02-09 23:51] edrushka commented on #805
Go ahead and close - I'll link to the dev ticket. Thanks!

[2018-02-09 23:58] #813 closed

[2018-02-09 23:59] #805 closed

[2018-02-10 00:28] edrushka opened #819 "House page"
Updates to House page

- [x] Update hero banner with new image (see ticket #820)

- [x] Tweak the first three sentences of paragraph text to read:

MozFest House is a central London venue that extends MozFest into a week-long festival.

From Monday 22rd - Friday 26th October, MozFest participants are invited to dig deeper into their work, trade ideas, swap code, and build solutions.

MozFest House

[2018-02-10 00:33] edrushka commented on #819
@Saallen please confirm these changes to the House page. I've removed the "Introducing" language, updated the dates and removed sign-up links. I think we should continue displaying the 2017 listings for a while longer so people have an idea of what kind of events can take place here.

[2018-02-10 00:37] edrushka opened #820 "New banner image for House page"
@sabrinang do you have a horizontal version of this pic (or something equally nice) that we could turn into a hero banner image on https://mozillafestival.org/house?

I found this image in https://github.com/MozillaFoundation/mozfest-design-2017/issues/69

![32971637-f308fd2c-cba2-11e7-94ea-2f2994b9b49f](https://user-images.githubusercontent.com/4515662/36056229-78b5dade-0db7-11e8-8f84-c68d78b2357

[2018-02-10 00:59] edrushka opened #821 "What to Expect page"
Updates for What to Expect:

- [x] Update image for festival guide
- [x] Update video link to new video - LINK TBD
- [x] In Weekend Outline update dates to Fri Oct 26, Sat Oct 27, Sun Oct 28
- [x] change the Saturday party entry to just read '19:30 MozFest Party'

[2018-02-10 00:59] edrushka commented on #821
New image for festival guide
![screenshot 2018-02-09 16 52 04](https://user-images.githubusercontent.com/4515662/36056599-89c47ef4-0dba-11e8-9e88-02062d08e5fd.png)

[2018-02-10 01:02] edrushka opened #822 "Spaces page"
Updates to Spaces page

Change titles to read
- [x] 2017 Spaces
- [x] 2017 Experiences

[2018-02-10 01:05] edrushka opened #823 "Media page"
Updates to Media page

The following stories should be featured:
- [new addition] **The Culture Trip** [Artists, Activists and Open Web Advocates Are Gathering at This London Festival for Internet Health](https://theculturetrip.com/europe/united-kingdom/england/london/articles/artists-activists-and-open-web-advocates-are-gathering-at-this-london-festival-for-internet-health/) October 2017

- [new

[2018-02-10 01:05] edrushka commented on #823
@KevZawacki can you please curate the list of stories you want on the Media page, ensuring there are a few highlights from 2017?

[2018-02-10 01:09] edrushka opened #824 "Tweet text"
- [ ] Update auto-filled tweet text to: "#MozFest 2018 will take place October 26-28 at Ravensbourne College. See you in London! www.mozfest.org"

[2018-02-10 01:10] edrushka commented on #824
cc @KevZawacki @Saallen if either of you have more creative suggestions

[2018-02-10 01:15] edrushka opened #825 "Bottom nav"
- [x] Remove 'Fringe Events' from bottom nav/banner

[2018-02-10 01:17] edrushka opened #826 "Volunteer page"
- [x] Replace this paragraph:

To apply, register for a (free) volunteer ticket here. During the registration process, you'll have the opportunity to fill out a brief survey that will help us place you in a role suited to your needs and interests.

with:

Applications for volunteer positions will open in the summer. In the meantime there are plenty of other ways to stay connected. Follow [@mozldn]

[2018-02-12 13:56] KevZawacki commented on #824
👍

[2018-02-12 14:05] KevZawacki commented on #823
Sure, @edrushka. To https://mozillafestival.org/media, let's add:

Marketplace

**The Culture Trip**
[Artists, Activists and Open Web Advocates Are Gathering at This London Festival for Internet Health](https://theculturetrip.com/europe/united-kingdom/england/london/articles/artists-activists-and-open-web-advocates-are-gathering-at-this-london-festival-for-internet-health/) October 2017

**Marketp

[2018-02-12 19:58] edrushka commented on #823
@KevZawacki anything you want to delete?

[2018-02-12 21:00] edrushka opened #827 "Sponsors page"
Updates to sponsors page

- [ ] Add title to opening text: MozFest Sponsors
- [ ] Replace copy with updated version from Juan -- copy in comment below
- [ ] Make "Our 2017 Sponsors" go under the update into copy
- [x] Link to new email alias

[2018-02-12 21:03] edrushka opened #828 "Create new email alias for sponsoships"
create sponsor@mozillafoundation.org -- should point to Juan's email

[2018-02-12 21:03] edrushka commented on #828
I've filed a ticket with TheHub reference RITM0060163

[2018-02-12 21:06] edrushka commented on #827
cc @jcbarajas

[2018-02-12 21:23] edrushka opened #829 "Draft blog for 2018 dates announcement"
We'll be updating the website at the end of the month with the 2018 festival dates. We should have a corresponding medium blog to announce the big news.

Here's what we did last year: https://medium.com/mozilla-festival/mozfest-2017-dates-announced-3ffdea8e55c2  I think this format works.

@KevZawacki If we use last year's blog as a template, suggestions for any other details we should include?

c

[2018-02-12 21:42] KevZawacki commented on #829
@edrushka No major changes. Let's be sure to plug a few of the 2017 talks, MozFest House, & press coverage.

[2018-02-12 21:49] KevZawacki commented on #823
@edrushka Good question. Let's remove the 2011 & 2013 press hits. They're ancient!

[2018-02-13 11:15] Saallen commented on #824
it's always good if it's a boast with a question
How about
" I just got my ticket for MozFest in London, from the 26-28 Oct. Will I see you there?

[2018-02-13 11:17] Saallen commented on #829
Could we add something about the theme?
Would be good to start to seed the conversation around Data, and other areas that come from the Weds call

[2018-02-13 15:15] Saallen commented on #826
Could we add a link to other areas where ppl could get involved?

Something like- In the meantime there are plenty of others ways to stay connected.
Follow @mozldn for free events in London or check out projects on Network pulse looking for collaborators

[2018-02-13 17:10] edrushka commented on #824
We aren't putting tickets up for sale in this round of updates. Normally we do that later in the year. That tweet is perfect for when ticket sales open.

[2018-02-14 00:57] edrushka commented on #827
Intro copy:

MozFest is the world’s leading event for and by the open Internet movement, and one of Mozilla’s largest annual networking opportunities. This weeklong festival of interactive sessions, hands-on activities, and engaging talks brings together more than 2,500 passionate advocates of the open web from around the world.

In 2018, Mozilla is offering opportunities for mission-aligned compa

[2018-02-14 22:15] edrushka commented on #826
Yes, great idea! I've amended the text in the top comment with your suggestion.

[2018-02-14 22:26] edrushka commented on #823
👍 I've updated the top comment. Thanks, Kev!

[2018-02-15 20:41] ScottDowne commented on #818
The speakers sections are a tab switcher with previous years (2016, 2017), do we want to keep adding new tabs (it'll not be great adding more than two) or can we remove 2016, and only keep this year and last year, or remove the tab switcher completely, and do something simpler? Or only show this year without any historic years. (removing 2016 and 2017) How much value is there in showing previous y

[2018-02-16 16:03] Saallen commented on #819
Good idea- thanks all looks great

[2018-02-16 19:13] sabrinang commented on #820
@edrushka No, I didn't take a horizontal version of that image sadly. We can try cropping it to make it work or try other horizontal photos:
https://drive.google.com/file/d/1tPo2afmCHFdE-12VzbqPTXx9NQVTqJSS/view?usp=sharing
https://drive.google.com/file/d/11zg9Frbwf8OiM7jv_pMEWLZ8uH2Ydj0Y/view?usp=sharing

All house photos I shot were mainly documenting assets though but you can find them in this

[2018-02-20 14:08] ScottDowne commented on #825
@edrushka Question, if we are removing the link to the fringe events page from the footer like the description says. What does that mean for the page itself, should we delete it or do we have future plans for it?

[2018-02-20 14:13] ScottDowne commented on #815
@edrushka Questions! Right now the top nav is "About, schedule, Projects, Speakers, 'What to expect', House, Sponsors"

If we want to make it into 'About' House' 'Sponsors' 'Spaces & Experiences' and 'What to Expect'

We'll need to remove schedule, Projects, Speakers and add "spaces & experiences".

1. What do we do with the pages for schedule, Projects, Speakers? Delete them or link to them from

[2018-02-20 14:29] ScottDowne commented on #819
@edrushka What are event listings? I don't see anything about that on the house page. (been a while since I've been thinking about mozfest so maybe it should be obvious what event listings are?)

[2018-02-20 14:56] ScottDowne commented on #814
I started to go through some of the tickets and do the obvious things that were easy, didn't require assets, and I didn't hit any blockers on questions I had.

https://mozillafestival-org-sta-pr-830.herokuapp.com/

Nothing fancy or exciting there.

[2018-02-20 22:15] edrushka commented on #818
We definitely want to keep a historical record of these talks. We may need to redesign this page at some point to avoid too many tabs, but I don't think that's in scope for now, unless you have time, @ScottDowne. Assuming not, let's keep the 2016 and 2017 tabs. The 2018 tab won't need to be added until the fall.

[2018-02-20 22:21] edrushka commented on #820
If you have a moment @sabrinang could you try cropping that one? The people and the flower pattern on the ceiling make it feel quite lively. If it doesn't work, we can go with [this one](https://drive.google.com/file/d/11zg9Frbwf8OiM7jv_pMEWLZ8uH2Ydj0Y/view?usp=sharing).

[2018-02-20 22:22] edrushka commented on #825
We'll keep the page. It's just not relevant now, and won't be populated with fresh data until September or so. Maybe 'hide' is a more accurate term than 'remove'.

[2018-02-20 22:27] edrushka commented on #815
Answers!

1. Let's hang on to everything. Schedule will ultimately point to the 2018 schedule, but it's useful for the production team to have access to the 2017 schedule for reference. Speakers and projects can stay live, they just don't get a spot on the top nav.

2. No. Spaces and Experiences can link to https://mozillafestival.org/spaces We just need to nav title to reference 'experiences' as

[2018-02-20 22:39] edrushka commented on #819
Event listings are the individual events that were featured in MozFest House 2017 (example image below). We'd like to keep 2017 events as a reference for now, as we are beginning conversations with potential new event hosts for 2018 and we'd like them to see what sort of events take place at MozFest House (since it's still quite new, not everyone is aware what can take place there). However, we do

[2018-02-20 22:40] edrushka commented on #814
So far so good! Thanks, @ScottDowne!

[2018-02-21 20:35] sabrinang commented on #820
Here is a cropped version of it:
![mozfest-house-40-cropped](https://user-images.githubusercontent.com/2492510/36503510-36a25646-1702-11e8-9539-2122f2339d71.jpg)

Since this seems to be for the hero banner, I treated it with colour as well in case you are putting text in front of it:
![mozilla-festival-house_banner-2018 2x](https://user-images.githubusercontent.com/2492510/36503431-f3a06b94-1701-1

[2018-02-21 21:15] edrushka commented on #814
Update on blocked tickets, @ScottDowne
- Youtube links for the Dialogue and Debates (D&D) videos for ticket #816 and #818 should be ready early-mid next week cc @KevZawacki
- Promo video for #816 and #821 should *hopefully* be mid next week
- I don't think the arts page  that we wanted to link in the banner on #816 will be ready by next week, so we'll likely have to add it later on

[2018-02-22 15:26] ScottDowne commented on #818
If someone clicks on the 2017 or 2016 how do I get back to 2018? I think we'll need a tab for 2018 for this year. Which is probably fine for now.

[2018-02-22 15:31] ScottDowne commented on #825
That works, and I think remove is technically the correct term, so you're fine there, I was just double checking.

[2018-02-22 15:56] ScottDowne commented on #815
1. So we're hanging on to the pages, but removing them from the nav? That's cool with me.

2. we can keep the old url name, it's fine with me, it just wasn't immediately obvious to me there was a spaces page because it wasn't in the old nav, thus I thought it would be a new page.

That would clear it up for me if correct.

So I interpret the final set of tasks as.

1. Remove schedule, Projects, Sp

[2018-02-22 16:50] ScottDowne commented on #818
Added 2018 with a new tab to the link here https://mozillafestival-org-sta-pr-830.herokuapp.com/

[2018-02-22 18:25] ScottDowne commented on #825
It is removed in that link I shared in the main 2018 ticket.

[2018-02-22 19:59] edrushka commented on #815
That is correct, Scott, but let me bring in @sabrinang for her advice on the ordering of the nav items. I would suggest the best order would be 'About' 'Spaces & Experiences' ' What to expect' 'House' 'Sponsors' but I defer to her.

[2018-02-22 20:02] edrushka commented on #818
Wait...but...we don't have any 2018 speakers yet. Mark, Katherine and Ryan were part of the 2017 speakers (we just accidentally omitted them).

[2018-02-22 20:31] edrushka commented on #828
Done!

[2018-02-22 20:31] #828 closed

[2018-02-22 21:19] ScottDowne commented on #818
Oh, haha, for some reason I thought this was related to 2018. (hence all my blabbering about 2018 in the tab thingy)

If it's just adding it to 2017, that's much easier.

[2018-02-23 23:36] sabrinang commented on #815
@edrushka I’m thinking about this order:
'About' 'What to Expect' 'Spaces & Experiences' ‘House' ’Sponsors'

I think **About** and **What to Expect** both contextualizes what MozFest is as a whole first then users can dive deeper to learn about **Spaces & Experiences** and I would follow that with **House** as it is an extension to MozFest (and as a stand alone label it is not immediately clear wh

[2018-02-24 00:01] edrushka commented on #815
Works for me! Thanks for your advice 💐

[2018-02-27 01:58] edrushka commented on #818
Unblocked!

Here is a title and description for all the 2017 videos: https://docs.google.com/document/d/1iCatrYXOkPJYjMxyeIDDA2yiFyvbQmcf3CFBbjlmLrk/edit

Videos are here: https://www.youtube.com/playlist?list=PLYiaJo7rYNXInD71OAShY4xfl6fhskoUV

[2018-02-27 02:00] edrushka commented on #816
Links to D&D videos are here: https://www.youtube.com/playlist?list=PLYiaJo7rYNXInD71OAShY4xfl6fhskoUV

This page is still blocked by the final promo video. Hoping it comes soon!

[2018-02-27 02:02] edrushka commented on #814
Update: The D&D videos are now ready! Still waiting on the promo video.

[2018-02-27 17:29] KevZawacki commented on #829
Hi @edrushka, [here's our brief blog](https://docs.google.com/document/d/15EjbRpVxGWiqnZm0z4k7PkokfRcfakBZCtGY-o5HFOg/edit#) announcing the MozFest 2018 dates. Feel free to revise.

[2018-02-28 16:30] edrushka commented on #816
Arts banner will definitely not be ready. Removing as to-do.

[2018-03-01 19:05] ScottDowne commented on #825
On staging https://mozillafestival-org-staging.herokuapp.com/

[2018-03-01 19:05] #825 closed

[2018-03-01 21:40] #815 closed

[2018-03-01 21:42] #817 closed

[2018-03-02 17:20] edrushka commented on #816
@ScottDowne the video is ready, but can you please confirm that this format will work. It's different than last year, and may be trickier to embed.  We can get a standard 16x9 version if necessary.
https://vimeo.com/258268373/163eaee0c2

[2018-03-02 19:56] ScottDowne commented on #822
Fixed already in https://github.com/mozilla/mozillafestival.org/pull/830

[2018-03-02 19:56] #822 closed

[2018-03-02 20:18] ScottDowne commented on #816
@edrushka I don't know what last years was, and I don't see any video's currently on the landing page. So not sure if I can answer that question yet. But my guess is no to Vimeo, and last years was either html video or a youtube embed.

[2018-03-02 21:19] edrushka commented on #816
Check out the video currently on https://mozillafestival.org/expect
We can upload it to youtube, or do an html embed. Just confirming that the aspect ratio in the link above will work (it's wider than the standard 16x9).

[2018-03-02 22:42] #827 closed

[2018-03-02 22:43] #824 closed

[2018-03-02 22:43] #823 closed

[2018-03-05 18:52] ScottDowne commented on #816
Old video is a vimeo video, so we should be fine. I'll see what it looks like with that aspect ratio.

[2018-03-05 18:57] ScottDowne commented on #816
Aspect ratio worked fine for me :+1:

[2018-03-05 19:47] edrushka commented on #818
![ryan](https://user-images.githubusercontent.com/4515662/36996178-fc281af6-206a-11e8-8cdf-de76e7a0820b.jpeg)
![katherine](https://user-images.githubusercontent.com/4515662/36996185-feb4620c-206a-11e8-9a2e-74837db7d2a3.jpeg)
![mark](https://user-images.githubusercontent.com/4515662/36996189-01445c66-206b-11e8-8f43-c13fc62451bd.jpeg)

[2018-03-06 16:17] ScottDowne commented on #819
This one should be done now.

[2018-03-06 16:17] #819 closed

[2018-03-06 16:21] ScottDowne commented on #820
I think this is done on staging: https://mozillafestival-org-staging.herokuapp.com/house

[2018-03-06 16:21] #820 closed

[2018-03-06 16:46] #818 closed

[2018-03-07 17:04] #816 closed

[2018-03-07 19:50] sabrinang commented on #821
@ScottDowne Updated spread thumbnail for 2017 guide is exported here: https://drive.google.com/open?id=1Ek3DKwBDW74vfQGC8gH1TKty7idvn8pv
![mozfest-2017_festival-guide-preview 2x](https://user-images.githubusercontent.com/2492510/37114608-acf94e52-21fd-11e8-8406-120ab3b7835c.png)

[2018-03-07 20:29] edrushka commented on #821
ohhhh very nice Sabrina! 🎨

[2018-03-07 20:59] #826 closed

[2018-03-07 20:59] #821 closed

[2018-03-07 23:39] edrushka opened #843 "QA site updates"
**Landing page**
- arrange Siko, Ryan Merkley and Mark in alphabetical order
- remove Latest news section (this will eventually be replaced by the Artists page banner when it's ready, but that won't be for a while)
- update blog link in footer to point to https://medium.com/mozilla-festival/tagged/mozfest2017

**What to Expect page**
- adjust first sentence in second banner to read The ninth annua

[2018-03-09 16:13] ScottDowne commented on #814
@edrushka I wonder how much of this can be marked complete? I bet most if not all, if all of these had tickets too.

[2018-03-09 17:11] edrushka commented on #814
Since you've closed all the tickets with the Feb 2018 label, all of these should be complete! :)

[2018-03-30 18:14] #843 closed

[2018-03-30 18:15] edrushka commented on #843
Thanks, Scott! 💐

[2018-03-30 18:16] edrushka commented on #829
Closing as we made this announcement. Thanks, Kevin!

[2018-03-30 18:16] #829 closed

[2018-03-30 18:16] #776 closed

[2018-03-30 18:16] #814 closed

[2018-04-23 20:15] sabrinang commented on #751
Closing - https://ti.to/Mozilla has white mozilla wordmark and we can open up issue later in design repo if it needs to be refreshed for 2018.

[2018-04-23 20:15] #751 closed

[2018-04-23 22:06] sabrinang opened #846 "Master List of May 2018 Updates"
# Website

### https://github.com/mozilla/mozillafestival.org/issues/847 About page

### https://github.com/mozilla/mozillafestival.org/issues/866 Proposals page

### https://github.com/mozilla/mozillafestival.org/issues/848 Landing page

### https://github.com/mozilla/mozillafestival.org/issues/851 Spaces & Experience page
- #850 Update Space Narratives/Descriptions from
- #853 Update Space Wrang

[2018-04-23 22:10] sabrinang commented on #846
@Saallen Meta ticket for May 2018 updates. I referenced [last years ticket](https://github.com/mozilla/mozillafestival.org/issues/543) and notes from our call today. Please add anything that is missing and I'll be filing individual tickets for each page and linking back to the comment above for reference.

/cc @mmmavis

[2018-04-23 22:53] sabrinang opened #847 "About page"
Website updates for https://mozillafestival.org/about

- [x] Update _A Note from Mark Surman_
- [ ] Update photo of Mark (match his photo seen on the [foundation site](https://assets.mofoprod.net/network/images/mark-surman-high-res.d1ce098c3d49.original.jpg))
- [ ] Update photos on timeline to be consistently circles (.rounded-circle)

[2018-04-23 23:15] sabrinang commented on #847
Hey @KevZawacki you can update this ticket when you have Mark's blurb for the about page ready

[2018-04-23 23:56] sabrinang opened #848 "Landing Page"
Website updates for https://mozillafestival.org/

- [x] Update main banner heading, copy + button link with propose a session CTA
- [ ] Update autofilled tweet text with proposal copy (from tweet #mozfest link on footer)
Last year's copy: _I just proposed a session for #MozFest 2017. Check out mine, and others, at [link to github repo with all sessions]._

[2018-04-24 10:28] Saallen commented on #847
[ ] Update mid section with attendee stats-  2500 attendees
[ ]  update content
The ninth annual MozFest will be held in London, from Monday 22nd, Oct. 26 Oct to Sunday 28th Oct.
This 7 day festival, over two venues is where passionate technologists, educators, and makers come together to explore the future of a healthy Internet.

Copy approval needed by @KevZawacki

Additional request for Kevin-

[2018-04-24 10:33] Saallen opened #849 "What to expect page"
Update to [what to expect](https://mozillafestival.org/expect)

- [ ] Sarah to update what is MozFest like
- [ ] Accessibility blurb and blog link

[2018-04-24 10:42] Saallen commented on #846
Thanks 😁 - added some new updates above and made a new issue for https://github.com/mozilla/mozillafestival.org/issues/849

[2018-04-24 12:26] KevZawacki commented on #847
@sabrinang Certainly -- I'll update here when the blurb is ready. @Saallen, I'll mention the transition.

Some light edits to the content:

The ninth annual MozFest will be held in London from Monday, 22 October to Sunday, 28 October, 2018. This seven-day festival is spread over two venues and features technologists, educators and makers who are exploring the future of a healthy internet.

[2018-04-24 12:28] KevZawacki commented on #848
@Saallen How about: "Talks from activists, journalists and hackers on the front lines of internet health."

[2018-04-24 17:32] sabrinang opened #850 "Space Narratives/Descriptions"
Space wranglers will submit a space narrative/description for their space. These submitted descriptions will be reviewed and will go on the Spaces & Experience page and on the call for proposals form for reference.

- [x] Draft of Questions for Call @Saallen
- [x] Collect space descriptions from wranglers 16th May
- [x] Copy review and edit as lightly as possible so they read with a consistent voi

[2018-04-24 17:33] sabrinang opened #851 "Spaces & Experience page"
Website updates for https://mozillafestival.org/spaces

- [x] Include “Propose a session” CTA
- [x] Update Space Narratives/Descriptions from https://github.com/mozilla/mozillafestival.org/issues/850
  - [ ] include link to artist open web: https://foundation.mozilla.org/opportunity/artists-open-web/
- [x] Update Space Wranglers names (no links, just plain text until we have bios https://github.co

[2018-04-24 18:39] sabrinang opened #852 "Space Wrangler Profiles (Bio & Photo)"
Space wranglers will submit a short bio, twitter handle and headshot photo for their profile. These will be reviewed and will be used on the Festival Team page [Wranglers section](https://mozillafestival.org/team/wranglers) and in the [printed festival handbook](https://issuu.com/mozfest/docs/mozfest_2017_festival_guide/18). We also mentioned the idea that wranglers create a profile on [Mozilla Pu

[2018-04-24 18:40] sabrinang opened #853 "Festival Team page"
Website updates for https://mozillafestival.org/team

- [x] Update year in titles to 2018

## Production Tab
- [x] Remove Erika, Chris, Marc, Esme and Dan
- [x] Add Sabrina and Mavis
- [x] Update sarah's  profile with [ text to follow]
- [x] @KevZawacki profile --@KevZawacki any updates other than the final sentence " 2018 will be Kevin's fifth MozFest."??
- [x] Update ziggys profile "Ziggy is one

[2018-04-24 20:01] sabrinang opened #854 "Guideline page"
Website updates https://mozillafestival.org/guidelines

- [ ] Update repo link to point to 2018 program repo
- [ ] highlight who receives emails at festival@

[2018-04-24 20:07] sabrinang opened #855 "Program (Curation) Repository"
Working open is one of our core values, MozFest program planning is done in the open on Github.

- [x] https://github.com/mozilla/mozillafestival.org/issues/878 Set up 2018 repo
- [x] https://github.com/mozilla/mozillafestival.org/issues/877 Write readme for 2018 repo
- [ ] Decide labels, milestones, issue format and how we display metadata

[2018-04-24 20:17] sabrinang opened #856 "Projects page"
Website updates for https://mozillafestival.org/projects

Now that we have the Pulse API we can consider curating projects with it since last year we just added projects directly to the site.

- [ ] Update with projects list pulled from Pulse? What tags do we want to use?

[2018-04-24 20:38] sabrinang opened #857 "CFP Email: Write confirmation email for session proposal"
After people submit their MozFest session proposal via the website, we send them an automated confirmation email that contains:

- confirmation message that session was successfully submitted
- Github ticket number
- Context for why and how you might engage on Github
- Instructions on how to get started on github
- Reminder that sessions will be curated until end of August

- [x]  decide l10n requ

[2018-04-24 20:42] sabrinang opened #858 "CFP Email: Set up automated confirmation email for session proposal"
After people submit their MozFest session proposal via the website, we send them a confirmation email that contains copy from https://github.com/mozilla/mozillafestival.org/issues/857
____________________
### Reference from Previous Years:

2017 issue: https://github.com/mozilla/mozillafestival.org/issues/574
2016 issue: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/47

[2018-04-24 21:02] sabrinang opened #859 "CFP Social: Write Call for Proposals tweets"
Write copy for our social media posts on twitter and headings that can be used on social media graphics to accompany these posts as well.
____________________
### Reference from Previous Years:

2017 issue: https://github.com/mozilla/mozillafestival.org/issues/590

[2018-04-24 21:18] sabrinang opened #860 "CFP Cheat Sheet: Write communication cheat sheet"
This is a public facing Call For Proposals communication cheat sheet for anyone to reference for sample tweets, email, and photos to share.
____________________
### Reference from Previous Years:

2017 Cheat Sheet: https://docs.google.com/document/d/1vBmHO7KGRub9DUV2XynQTAHOnURbh4Ijs9z-iDsK-uo/edit
2016 Cheat Sheet: https://docs.google.com/document/d/1H5SaffExxFdh5pOEBVKzARnS7eF5Cez9AFHzzgmB8y0/ed

[2018-04-24 21:31] sabrinang opened #861 "Mozilla Wiki: Create MozFest 2018 event and update content"
Update the Mozilla Festival Wiki https://wiki.mozilla.org/Mozilla_Festival

- [x] Create 2018 Event
- [x] Write vision & narrative 2018
- [x] Update space descriptions from https://github.com/mozilla/mozillafestival.org/issues/850
- [x] Write roadmap 2018
- [x] Update volunteer link

[2018-04-24 21:44] sabrinang opened #862 "Theme: Write tagline for MozFest 2018"
Brainstorm the MozFest 2018 tagline that is 2-5 words. The visual design process gets informed by the theme and the tagline is used heavily in the festival design.

A key take away from last year was finish tagline earlier and get it locked with approval so we move design deadlines up.
____________________

### During the MozRetreat we learned:
#### MozFest 2018 Theme

**Your data and you** — expl

[2018-04-24 22:57] sabrinang opened #863 "CFP Form: Write Call for Proposal Form"
This form will be used on https://mozillafestival.org/proposals

- [x] decide l10n requirements
- [x] write set of questions and design question types _(short answer, multiple choice etc)_
- [x] decide what labels, milestones, etc we wanna auto-apply to proposals(GitHub tickets) in our 2018 proposal GitHub repo

[2018-04-24 23:04] sabrinang opened #864 "CFP Form: Legal Review for Proposal Form"
The form text from https://github.com/mozilla/mozillafestival.org/issues/863 will be used on https://mozillafestival.org/proposals

- [ ] submit for legal review _(GDPR checkbox? etc.)_

[2018-04-24 23:45] sabrinang opened #865 "Artists Open Web page"
This will be a new page featuring art projects curated by the mozilla artist studio team. Ideas and discussions are noted on this [gdoc](https://docs.google.com/document/d/1wSfCZiRsYmrp3-6GNWWIB6mgluLnxMDq3JrPWxtCGw8/edit?ts=5ad77769#heading=h.j7r07li6xsx4) but needs further discussion.

- [x] Scope out with Alan/Mw
- [x] Luca to submit project entries on Pulse

[2018-04-25 00:00] sabrinang opened #866 "Proposals page"
Website updates for https://mozillafestival.org/proposals

- [x] create form from https://github.com/mozilla/mozillafestival.org/issues/863 content
- [x] include proposals link in Top Nav
- [x] link in blogs and suitable examples

[2018-04-25 00:12] sabrinang opened #867 "Localization Strategies and Decisions"
We need to sort out localization decisions and conversations first before we dive deep into content that is dependent on it.

- [ ] review results from l10n content and determine capacity to support l10n
- [x] l10n chat with Theo

[2018-04-26 16:03] sabrinang commented on #867
cc/ @mmmavis @amirad

[2018-04-26 23:24] mmmavis commented on #867
# Spanish version of proposal page (as of 2017-07-31)
### was on  `http://mozillafestival.org/proposals/espanol`

![screenshot-2018-4-26 mozilla festival 1](https://user-images.githubusercontent.com/2896608/39336807-4ac07e5c-496e-11e8-82c6-e21a58121d7c.jpg)

[2018-04-26 23:25] mmmavis commented on #867
# French version of proposal page (as of 2017-07-31)
### was on  `http://mozillafestival.org/proposals/francais`

![screenshot-2018-4-26 mozilla festival 2](https://user-images.githubusercontent.com/2896608/39336844-716cd6e0-496e-11e8-8f82-2207de5affae.jpg)

[2018-04-26 23:26] mmmavis commented on #867
# German version of proposal page (as of 2017-07-31)
### was on  `http://mozillafestival.org/proposals/deutsch`

![screenshot-2018-4-26 mozilla festival 3](https://user-images.githubusercontent.com/2896608/39336871-8ce69a8c-496e-11e8-864a-ab7085cf83b2.jpg)

[2018-04-27 18:41] Saallen opened #872 "Update sponsors page"
Update sponsor page and allocate work

- [x]  Juan and Jesse to review [content](https://mozillafestival.org/team/sponsors)
- [x]  https://github.com/mozilla/mozillafestival.org/issues/879 fix email sponsor@mozilla.org and replace with festival@mozilla.org in the meantime
- [x] Host kick off meeting with 🥇 team

CC @sabrinang & @stephwright for info

[2018-04-27 21:30] sabrinang commented on #852
Space wrangler bio and photo spreadsheet here: https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit?usp=sharing

[2018-04-30 09:14] Saallen opened #873 "QA House page"
Our friend David ross spotted an issue on the house page
Currently- From Monday **22rd** - Friday 26th October,
Should be :  From Monday 22nd

CC @sabrinang  @mmmavis

[2018-04-30 17:47] mmmavis commented on #873
Fixed!

[2018-04-30 17:47] #873 closed

[2018-04-30 21:04] sabrinang commented on #867
L10n chat with Theo, Sarah & Mavis today and here is a recap.

### Decisions
- **Call for Proposals:** We decided to keep the call for proposal form in English only but Sarah will include an option in the form to submit a proposal in their language and to indicate the language.
### Ideas
- **Registering Tickets:** We discussed that we want to ask attendees about their language preference and will

[2018-04-30 21:31] sabrinang commented on #863
**Update:** We decided to keep the call for proposal form in English only but to include an option in the form to submit a proposal in their language and to indicate the language.

**Timeline:**
May 3 - Draft CFP questions complete
May 16 - Space narratives complete
May 21 - Form copy and design finalized to hand-off to Mavis

[2018-04-30 21:45] sabrinang commented on #866
**Timeline:**
May 22-25 - Build
May 28-31 - QA / Buffer time
May 31 - Push Live
June 1 - Call for Proposals open

[2018-04-30 21:47] sabrinang commented on #866
@Saallen Which blogs and suitable examples do you want to include on this proposals page?

[2018-04-30 21:52] sabrinang commented on #864
@Saallen This ticket might be related to the legal, privacy, terms issue you wanted to file but this is specifically for the form.

[2018-04-30 22:00] sabrinang commented on #857
**Update:** Since we decided to keep the call for proposal form https://github.com/mozilla/mozillafestival.org/issues/863 written in English only we do not need to localize this automated confirmation email to go along with it.

[2018-04-30 22:25] sabrinang commented on #850
These will appear or be linked on the CFP form https://github.com/mozilla/mozillafestival.org/issues/863

[2018-04-30 22:41] sabrinang opened #877 "Write Readme for 2018 Program (Curation) Repo"
### Reference from Previous Years:

2017: https://github.com/MozillaFoundation/mozfest-program-2017/blob/master/README.md
2016: https://github.com/MozillaFoundation/mozfest-program-2016/blob/master/README.md

[2018-04-30 22:42] sabrinang opened #878 "Set Up 2018 Program (Curation) Repo"
**Suggested name:** mozfest-program-2018

This keeps with convention set last year and the year before. This will use readme copy from https://github.com/mozilla/mozillafestival.org/issues/877

____________________
### Reference from Previous Years:

2017: https://github.com/MozillaFoundation/mozfest-program-2017
2016:  https://github.com/MozillaFoundation/mozfest-program-2016

[2018-04-30 22:52] sabrinang commented on #855
@Saallen to decide labels, milestones, issue format and how we display metadata to help organize proposals and content in the repo

[2018-04-30 23:28] sabrinang commented on #878
@Saallen Please review copy for `ISSUE_TEMPLATE.md`

[2018-04-30 23:40] sabrinang opened #879 "QA Sponsors Page Email"
@Saallen mentioned that sponsor@mozilla.org is not working. Juan has mentioned [Mike Poessy](mpoessy@mozilla.com) has set up this email with Erika.

@mmmavis Can you find out what is wrong with the email or if it is misspelled? In the meantime, can you change email to be festival@mozilla.org?

[2018-04-30 23:45] sabrinang commented on #872
/cc @jessiekeating @jcbarajas

[2018-04-30 23:51] KevZawacki commented on #847
@sabrinang Definitely 👍

[2018-05-01 00:01] sabrinang opened #880 "Write Design Contractor Posting"
Write a posting for a design contractor to help with MozFest design assets. It would include:

- responsibilities
- qualifications
- timeline
- location

I will look for previous postings as reference.

___________
### Reference from Previous Years:
2016:
- review assets https://github.com/MozillaFoundation/Mozfest2016_production/issues/11
- scope of work https://github.com/MozillaFoundation/Mozfe

[2018-05-01 00:32] sabrinang commented on #852
Looping @alanmoo & @xmatthewx to this ticket as @Saallen mentioned you have this discussed bios and Pulse. For the past wrangler bios, they use a a 50 word limit (pulse's limit is 140 char limit) and they are reviewed for consistency in tone/length and approved for the site and printed guide. A concern @mmmavis and I had is that wranglers would be able to change their bio anytime and it'd be too s

[2018-05-01 00:41] mmmavis commented on #879
@sabrinang by "not working" did you mean we are not receiving emails sent to sponsor@mozilla.org???

Spelling looks right on the site (sponsor@mozilla.org) so I'm not sure what went wrong. I will change it to festival@mozilla.org until the issue gets resolved.

[2018-05-01 00:58] sabrinang commented on #853
@Saallen do you want @mmmavis and I to submit a photo and bio for the Production section? Also this production team section might be related to the Pulse discussion regarding bios as well.

[2018-05-01 01:38] sabrinang commented on #854
@Saallen Copy needed for highlighting who receives emails at festival@mozilla.org

[2018-05-02 16:33] xmatthewx commented on #852
Thanks @sabrinang. I think we should use Pulse bios since they give us dynamic profiles with links and projects and curated favs that wranglers can update. We can use the extended profile like we do with fellows for the official longer bio that we'll also put in print. They aren't yet displayed on Pulse but should be soonish ... and we should be able to pull them to a page on that website.

[2018-05-02 21:57] mmmavis commented on #852
@xmatthewx If we decide to rely on Pulse profiles... will we be creating profiles on wranglers' behalves and curate their profiles ourselves? Or will we be asking wranglers to create their own profile?

[2018-05-03 16:11] xmatthewx commented on #852
Similar to fellows .... ideally they create a bio and then we added the extended bio info on our end.

[2018-05-03 18:28] Saallen commented on #863
Making an extension to May 8th for first draft of CFP 🌸

[2018-05-04 00:32] sabrinang commented on #880
I'm working on the posting here: https://docs.google.com/document/d/1gsW3Nr-Tb8xzFtPQYow8p6Q6yd2_LNWF_JdXzrbQ-ic/edit

[2018-05-04 16:58] sabrinang commented on #880
@Saallen @xmatthewx Can you give me feedback and review this posting for the graphic design position: https://docs.google.com/document/d/1gsW3Nr-Tb8xzFtPQYow8p6Q6yd2_LNWF_JdXzrbQ-ic/edit

[2018-05-08 12:20] Saallen opened #881 "Update media opage"

[2018-05-08 12:43] KevZawacki commented on #881
Hi @Saallen,

Sure -- everything is up to date. No changes needed at the moment.

cc @mmmavis @sabrinang

[2018-05-08 16:18] Saallen commented on #879
when I email sponsors@ I get error messages and unable to deliver messages

[2018-05-08 17:27] sabrinang commented on #872
**Sponsorship Meeting Recap** _(with Juan, Stephanie, Jessie)_
* Website update:
    * Juan has new text
    * 2018 will have different category names
    * move 2017 sponsors down to make room for 2018 on top
    * look for photo of sponsors to include _(in context around people or swag)_
    * Consider including text explaining _what is the difference between partners and sponsors?_
        * pa

[2018-05-09 01:35] #881 closed

[2018-05-09 18:34] Saallen commented on #879
@mmmavis already filed. Jlin looking into it

[2018-05-09 18:41] mmmavis commented on #879
@Saallen alrighty good to know!

[2018-05-10 17:40] sabrinang commented on #865
Luca has submitted entries into pulse https://www.mozillapulse.org/profile/504

From the google doc and previous discussion it seems like we want this to live on the foundation site with a simple index of the projects by year. Wireframe example:
![artist open web wireframe 2x](https://user-images.githubusercontent.com/2492510/39884239-fee46748-543d-11e8-9304-3e8f71e7b91b.jpg)

@xmatthewx @mmmavis

[2018-05-10 17:51] sabrinang commented on #852
Shared out the spreadsheet to start collecting bios from today's wrangler call. We will use this static info until extended profile features is more complete/displayed and the UX seems strange to update on behalf of someone (unless they do not see it at all and it is editorial info we tie to profiles behind the scenes) but I think we should further chat about this and how we communicate this out t

[2018-05-10 19:00] mmmavis commented on #865
Hey @sabrinang , just realized you weren't cc'ed on the email thread. tl;dr @alanmoo has set up an opportunity page for Artist Open Web and it lives on https://foundation.mozilla.org/opportunity/artists-open-web/

I'll forward that email thread to you in case you wanna learn about the context.

[2018-05-10 19:07] sabrinang commented on #865
@mmmavis Ah great, thank you for the update! Does this fulfill Luca's needs? Is there anything else that needs to be done or is this ticket complete?

[2018-05-10 19:12] mmmavis commented on #865
Luca didn't mention anything in his latest reply so I assume everything is good for now?

[2018-05-10 19:36] mmmavis commented on #865
@xmatthewx the `2018` `2017` labels are actually Pulse tags. But yea I don't know much about the Pulse project component on Foundation so I can't tell if that component can pull things based on tags.

[2018-05-10 20:53] xmatthewx commented on #865
Ah okay. The component uses search, but search looks at tags. So that can work. Gavin will be iterating on the component for more granular control.

[2018-05-10 22:54] mmmavis commented on #866
# 2017 proposal page

<img src="https://user-images.githubusercontent.com/2896608/39336759-0db0e132-496e-11e8-9dfe-38b3106d74e5.jpg">

[2018-05-11 09:52] Saallen commented on #865
Hey
I would like to amend the text and add an email address- I dont want this page to be passive but invite contributions through network pulse and conversations on the email thread. I will work with Luca next week to confirm text. If we are inviting other artists to upload to Network pulse- what should the ask be? Do we want them just to upload under tags or do we want them to create a profile? c

[2018-05-11 12:18] Saallen commented on #877
✨ Done- updated text and added some new content. In good shape to open the call for proposals.

[2018-05-11 12:18] #877 closed

[2018-05-11 12:40] Saallen commented on #867
Hi

- [x]  lets continue to localise tweets- we have a very geographically spread wrangler team so we can use them to help but would also be really nice for them to be able to tweet about this event in their locals.

- [ ] Let me double check that the participation guidelines have not changed but if not, lets stick with same text

- [x] Yes lets print 7 predetermined languages. French, Spanish, Ge

[2018-05-11 12:49] Saallen commented on #866
Blogs I would like are
* https://medium.com/mozilla-festival/what-makes-a-great-mozilla-festival-session-529dff105185
* Amira will be making a blog post or webinar - will be ready in next two weeks

[2018-05-11 12:52] Saallen commented on #864
@sabrinang
@jessevondoom thinks we are fine with our Google form but adding him here to confirm.

[2018-05-11 13:07] Saallen commented on #863
Draft complete- here are the proposed questions

**Section 1**

- first name* [short text field]
- surname* [short text field]
- Organisation [short text field]
-  Twitter [short text field]
- Github [short text field]
- Additional facilitator 1 First name
- Additional facilitator 1 surname
- Additional facilitator 1 email
- Additional facilitator 1 github
_[click for additional facilitators]_

[2018-05-11 13:38] jessevondoom commented on #864
Yeah I think we're good. The email address covers us for any kind of data removal request.

Only suggestion would be working in a link to our community participation guidelines and our general privacy statement.

- https://www.mozilla.org/en-US/privacy/websites/
- https://www.mozilla.org/en-US/about/governance/policies/participation/

Something like "All proposed sessions must meet the standards o

[2018-05-11 14:51] Saallen commented on #862
Updated brainstorming doc [here](https://docs.google.com/document/d/1X2_EAyU6J2LuapT9SqAM3KPTstAIkjN22dMhDWLiW-0/edit)
Staff have inputted already

@KevZawacki & #jencalrider we can use these stories on Monday
cc@ kristinaG for info

[2018-05-11 19:30] mmmavis commented on #878
@Saallen thanks for adding in the updated README! For `ISSUE_TEMPLATE.md` do you think we can reuse what we had last year? See https://github.com/mozilla/mozillafestival.org/issues/878#issuecomment-385557695 for context 😉

[2018-05-11 20:03] mmmavis commented on #864
@jessevondoom @Saallen - just wanna bring it up that we will be creating a form on MozFest site and using Google "API" to send data over instead of directly using a Google Form (see [last year's example](https://user-images.githubusercontent.com/2896608/39336759-0db0e132-496e-11e8-9dfe-38b3106d74e5.jpg)). But I don't think this affects what has been mentioned above since data still gets stored on

[2018-05-11 21:18] sabrinang commented on #859
Based on the localization strategy issue https://github.com/mozilla/mozillafestival.org/issues/867#issuecomment-388351923, we have an interest to localise tweets. @Saallen mentioned we can utilize the wrangler team to help and to tweet in their locals. How is this usually coordinated or communicated on our end?

I was looking at last year's ticket localize tweet ticket https://github.com/mozilla/m

[2018-05-14 15:20] Saallen commented on #859
@TheoChevalier Do you think we can get support from L10N again this year for help with tweets and some comms?
@sabrinang we can reach out directly to some wranglers and ask them, via slack, email or SW calls

[2018-05-14 17:05] mmmavis commented on #878
@Saallen cool I will have it added to the 2018 repo.

[2018-05-14 17:10] xmatthewx commented on #865
It's always best for people to create a profile and post things themselves, that we have data on the areas of interest, links to social, so other people can connect with them. In the not too distant future, a site page could pull profiles of people, like it can currently pull projects. You can ask users to use a specific tag. If they don't do it right, we can always update it on the backend. When

[2018-05-15 00:41] mmmavis commented on #878
Done! https://github.com/MozillaFoundation/mozfest-program-2018/issues/new

<img width="1008" alt="screen shot 2018-05-14 at 5 41 02 pm" src="https://user-images.githubusercontent.com/2896608/40030186-0674dbb0-579e-11e8-8abc-2fa4b7e55e3a.png">

[2018-05-15 00:41] #878 closed

[2018-05-15 00:55] mmmavis commented on #854
@Saallen just wanna confirm if Gunner's full name is `Allen Gunn` instead of `Alan Gunner`?

[2018-05-15 01:13] mmmavis commented on #853
@Saallen

I have a PR up already for removing Erika, Chris, Marc, Esme and Dan from the production team tab. Let me know if I can push it live first and tackle the rest of the todos in this ticket as a followup PR.

[2018-05-15 01:15] mmmavis commented on #853
@Saallen just a reminder that we should come up with a "content being updated" type of message on those tabs we wanna hide. 🙈

[2018-05-15 09:12] Saallen opened #885 "List of potential photos to use in Website"
@sabrinang
list of photos to grab and use for website page updates

1. [Christine talking to a crowd](https://goo.gl/GN35Ch)
2. [(Science Fair pitch](https://goo.gl/o2g8f7)
3. [science fair w Erase all kittens]( https://westraco.pixieset.com/mozfest2017/p/MTQ3NzUwODQzMw==-MzUwMDQ3Njc0NA/)
4. [Solana on stage](https://westraco.pixieset.com/mozfest2017/p/MTQ3NzUwNjE0Nw==-MTk5OTQ1MTMzNg/)
5. [audienc

[2018-05-15 09:33] Saallen commented on #864
I spoke with Legal and @stephaniemcv
We do not need to do anything for google docs for GDPR in this instance
We are all good on gathering the information but we are ensuring that what we store and how is still uptodate and safe

[2018-05-15 12:30] stephwright commented on #872
Should we include some pictures of what sponsorship looks like?  Like these?
1. https://westraco.pixieset.com/mozfest2017/f/5542242/?pid=1477552117&id=5&h=MjM5NjIzMjUwMw
2. https://westraco.pixieset.com/mozfest2017/f/5542242/?pid=1477938803&id=6&h=MzYzMjAzNjgwMQ
3. https://westraco.pixieset.com/mozfest2017/f/5542242/?pid=1477938998&id=7&h=NDA3NDQwNTk1Mw

I was looking for one of coffee stands but

[2018-05-15 13:54] Saallen commented on #854
Yes @mmmavis

[2018-05-15 16:30] mmmavis commented on #879
Email updated on the site: https://mozillafestival.org/team/sponsors

@sabrinang I'll let you decide if we can close this ticket.

[2018-05-15 16:54] Saallen commented on #879
@mmmavis sponsor@mozilla.org is now up and running-
Can you please amend ? 🌷

[2018-05-15 17:03] mmmavis commented on #879
Ah good (bad) timing! I just got it changed to festival@mozilla.org but I'll change it back to sponsor@mozilla.org .

[2018-05-15 17:06] Saallen commented on #879
I know- SORRY about that

[2018-05-15 21:03] mmmavis commented on #879
Done! Changed it back to sponsor@

https://mozillafestival.org/team/sponsors

[2018-05-15 21:03] #879 closed

[2018-05-15 21:15] mmmavis opened #887 "Investigate GitHub Orgs and GitHub Teams"
See if we can create GitHub Teams for each Space wrangler team. Find out what potential risks there are gonna be (e.g., Does inviting non-staff to Foundation's GitHub org give those people full access to all the repos we own etc)

---

## Benefits of using GitHub Team:

1. we can tag each team on our curation repo by `@MozillaFoundation/name-of-the-team` (say Person A, B, C are on the same team, b

[2018-05-15 23:36] sabrinang commented on #880
I've updated the posting https://docs.google.com/document/d/1gsW3Nr-Tb8xzFtPQYow8p6Q6yd2_LNWF_JdXzrbQ-ic/edit and used Textio and got 90 score https://textio.com/?l=wljqqnz

[2018-05-16 00:34] mmmavis commented on #858
DevOps ticket filed to make sure Hatchet is still working: https://github.com/MozillaFoundation/mofo-devops/issues/591

[2018-05-16 10:54] Saallen commented on #850
Drafts to collect

- [ ] Decentralization
- [ ] Web Literacy
- [ ] Openness
- [ ] Privacy and Security
- [ ] Digital Inclusion
- [ ] Youth Zone
- [ ] Queering MozFest

@kevin can you please link location or drop confirmed drafts into this issue

[2018-05-16 14:36] xmatthewx commented on #880
Looks great! Nice job with textio score! Just added one small suggestion to the doc.

[2018-05-17 11:10] Saallen commented on #863
Last day for feedback @KevZawacki @kgorr @amirad and Amanda

@caltrider can you review the top message of the form in particular and let me know what you think

[2018-05-17 13:02] KevZawacki commented on #863
Hi @Saallen, I caught two small typos. Update text below, with changes **bolded**:

Anyone may submit a proposal for MozFest 2018. Once you have submitted your session, it will enter an open curation process on Github, and all information **you** submit here [insertlink later], apart from email and **T**witter handle will be seen **publicly**. We will contact all submissions via Github by default,

[2018-05-17 14:27] amirad commented on #863
@Saallen Working on revisions here

https://docs.google.com/document/d/1G_f3hzggiIx0sZZRH9uzpGqJ1RjjunIDhRIMxP9fgGk/edit

[2018-05-17 14:38] caltrider commented on #863
@Saallen Gave it a close read. I think it looks good. A couple of thoughts for consideration.

1. Is there one short sentence that outlines the goals of a Mozfest session?  Something like "The goal of every session at Mozfest is to find ways to make life on the internet better." That could help set the tone for people pitching sessions.

2. It's mentioned all sessions should be "interactive and in

[2018-05-17 15:09] amirad commented on #863
Yes and Yes, esp that number 2 that @caltrider suggested

[2018-05-17 15:35] amirad commented on #863
Adding @zee-moz who has some great feedback for the proposal form!

[2018-05-17 15:43] zee-moz opened #888 "Call For Proposals Outreach List"

[2018-05-17 15:44] zee-moz opened #889 "Let's gather an FAQ for Session Proposals"

[2018-05-17 21:20] amirad commented on #863
Thanks @Saallen - any way we can continue to have stronger language in the stipend part while adjusting the language? Or at least change the line "Do you qualify as such?" to "Do you require a stipend?"

[2018-05-17 22:28] mmmavis commented on #866
@Saallen Where in the top nav do we wanna add link to Proposals page? As the first item? or?

[2018-05-18 08:14] Saallen commented on #863
Hi @amirad this is the intensional ask "do you qualify" as everyone requires/wants a stipend. It becomes really hard for wranglers to ask over 400 submissions (last years response rate to do you require a stipend) if they really need the stipend or can work/personal funds cover.

[2018-05-18 14:36] amirad commented on #888
List of people to do 1-1 outreach initiatives with:
Clubs (I can message our channels and we can ask Christos to email other clubs list)
Hives (we can ask messaging to be shared on their new mailing lists)
Reps (direct email and call)
L10N (direct email and post on discourse)
MDN (direct email and post on discourse)
Techwomen (direct email to all past Moz TW)
Open Leaders (Abby to sent direct emai

[2018-05-21 12:27] Saallen commented on #867
cc @sabrinang all confirmed for this page

[2018-05-21 12:29] Saallen commented on #864
@mmmavis I email legal and waiting on a response

[2018-05-21 12:32] Saallen commented on #860
assigned @KGorr as she has already begun working on this

[2018-05-21 12:34] Saallen commented on #859
cc in @KGorr for reference

[2018-05-21 13:49] Saallen commented on #858
Proposed confirmation email for submissions -

Hi <First Name>,

Thank you for submitting a session proposal for MozFest!

All proposals will be reviewed and curated on Github in the [MozFest 2018 program repo] (insert link) Curation will begin in August when the Call for Proposals closes. In early September, you’ll be notified whether your session has been accepted or not

Your session is documen

[2018-05-21 13:50] Saallen commented on #857
Confirmation email

Hi <First Name>,

Thank you for submitting a session proposal for MozFest!

All proposals will be reviewed and curated on Github in the [MozFest 2018 program repo] (insert link) Curation will begin in August when the Call for Proposals closes. In early September, you’ll be notified whether your session has been accepted or not

Your session is documented in this issue: <Session

[2018-05-21 14:10] Saallen commented on #853
@sabrinang  and @mmmavis we should discuss if we want this page to reflect the wrangler page and link out to Network pulse pages??

[2018-05-21 14:20] Saallen commented on #850
Update- we will get Youth zone on Friday but all others collected- @KevZawacki will share edited and final descriptions

[2018-05-21 14:47] alanmoo commented on #865
To add to that, the open artists page will pull in entries using the `Artists Open Web` automatically.

[2018-05-21 14:47] #865 closed

[2018-05-21 16:17] KevZawacki commented on #850
@Saallen @sabrinang Here are the finalized descriptions for all spaces except Youth Zone: https://docs.google.com/document/d/1pCU_D90f7InJjVGcG-xBwAe7_j3D8sqrUCXliLbKirY/edit

[2018-05-21 17:07] TheoChevalier commented on #859
Woops, missed this. We sure can! We just need to keep in mind that we may need some budget set aside for communities with less bandwidth, to get translations from an agency.

[2018-05-22 20:02] KGorr opened #890 "Call for Proposals Graphic"
It would be great to have a graphic to include in email communications and social media for the Call for Proposals.

Communications will be distributed the week of June 4.

Last year's graphics for reference: https://drive.google.com/drive/folders/0B4Q8pzCpDS_eLURVNVEtNVhGQ3M

[2018-05-22 20:02] KGorr commented on #890
cc: @Saallen

[2018-05-22 20:19] #867 closed

[2018-05-22 20:29] sabrinang commented on #859
@TheoChevalier Yes, we have some budget and wrangler support.

[2018-05-22 22:51] sabrinang commented on #887
@mmmavis Yup!
![mozilla-festival-2017_profile](https://user-images.githubusercontent.com/2492510/40394335-e3d59e6a-5dd7-11e8-90c0-27a012a2451e.jpg)

[2018-05-23 20:29] sabrinang commented on #857
@KGorr Please review https://github.com/mozilla/mozillafestival.org/issues/857#issuecomment-390659377 so @Saallen can finalize this text this week as we need time next week to implement it https://github.com/mozilla/mozillafestival.org/issues/858

[2018-05-23 20:30] mmmavis commented on #855
I created a GitHub Org "MozillaFestival" for us! 2018 program repo is now there under this org instead: https://github.com/MozillaFestival/mozfest-program-2018

I will update this ticket with the proposed labels/milestone we want to use and we can revise from there.

[2018-05-23 20:57] KGorr commented on #857
@sabrinang sorry for the delay, I wasn't notified about the tag! My only edit is to add the word "video" in the below sentence. It's currently missing above.

"If you're new to Github, this 45 second **video** [https://egghead.io/lessons/javascript-introduction-to-github] will walk you through signing up for a free account."

[2018-05-23 21:25] mmmavis opened #891 "Update URL to 2018 program repo"
Make sure we point people to https://github.com/MozillaFestival/mozfest-program-2018 instead of https://github.com/MozillaFoundation/mozfest-program-2018

[2018-05-24 19:17] mmmavis opened #892 "Update favicon"
@sabrinang

We are currently using this one for the website. Do we wanna change it to something else?

<img src="https://mozillafestival.org/assets/images/favicon/apple-touch-icon-152x152@2x.png" >

[2018-05-25 17:59] Saallen commented on #847
Replying here as cannot accessy github on my phone

Looks great, Mozfest first mention is 2 paragraphs down so let's make the
title here very connected to why we are heading from him.
Yes to a cta Kevin

Thanks

On Fri, 25 May 2018, 18:17 Kevin Zawacki, <notifications@github.com> wrote:

[2018-05-25 18:33] KevZawacki commented on #847
Thanks, Sarah. I'll update the headline to include MozFest. What link
should I use for the CFP CTA?

On Fri, May 25, 2018 at 1:59 PM, Sarah Allen <notifications@github.com>
wrote:

--
Kevin Zawacki
Mozilla Foundation
(914) 837-4333

[2018-05-25 22:20] mmmavis commented on #857
Cool. Thanks, team! 🌷 I'll have the email template updated!

[2018-05-25 22:20] #857 closed

[2018-05-25 22:40] mmmavis commented on #863
Thanks for providing and consolidating feedback.  Form has been implemented and should be ready for QA Monday next week.

Regarding the last todo on this ticket:

Here is the list of milestones and labels we decided to auto apply to proposal tickets on GitHub:

## Milestone

(a proposal's primary space choice) (a ticket can only have max of 1 milestone applied)

1. `Decentralization`
2. `Digital I

[2018-05-25 22:41] mmmavis commented on #863
All todos completed! 🎉

[2018-05-25 22:41] #863 closed

[2018-05-26 00:56] mmmavis commented on #855
## Milestone

(a proposal's primary space choice) (a ticket can only have max of 1 milestone applied)

1. `Decentralization`
2. `Digital Inclusion`
3. `Openness`
4. `Privacy and Security`
5. `Web Literacy`
6. `Youth Zone`
7. `Queering MozFest`

## Labels

(a ticket can have multiple labels)

### Session Format

1. `[Format] Learning Forum`
2. `[Format] Shed`
3. `[Format] Gallery`

### Secondary Sp

[2018-05-26 00:58] mmmavis commented on #855
# GitHub ticket template (see sample below)

**[ UUID ]** cf0f44a5-8190-4d29-87e8-fe960c038dba

**[ Session Name ]** im the session name
**[ Primary Space ]** Queering MozFest
**[ Secondary Space ]** Privacy and Security

**[ Submitter's Name ]** myfirstnameee mysurnameee
**[ Submitter's Affiliated Organisation ]** organisationnn
**[ Submitter's GitHub ]** @githubhandlehahahah

**[ Other Facilitat

[2018-05-26 01:01] mmmavis commented on #855
# Teams have been created on the program repo (we can add more)

![screen shot 2018-05-25 at 6 00 01 pm](https://user-images.githubusercontent.com/2896608/40570968-8aa7e13e-6045-11e8-924c-1163bc1a0fdf.png)

[2018-05-26 01:01] #855 closed

[2018-05-26 01:02] mmmavis commented on #855
DONE!

🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

[2018-05-26 01:04] mmmavis commented on #887
Done!

Our MozFest GitHub Org: https://github.com/MozillaFestival
Teams have been also created.

[2018-05-26 01:04] #887 closed

[2018-05-27 03:04] KGorr commented on #860
1st draft is here but still missing a lot of info and awaiting edits from the team: https://docs.google.com/document/d/1n9-EpBoRL8NkptSMd195U19vw5JZdIBhHvvjlHV77O8/edit#heading=h.mc4khivad8cs

[2018-05-27 03:09] KGorr commented on #859
@KevZawacki - If it makes sense to pull tweets for the CFP comms cheat sheet from your tweets linked above, let me know!

[2018-05-27 13:02] Saallen commented on #890
assigning Sabrina here.
@sabrinang do you think can can make a graphic as per request?

[2018-05-28 17:18] sabrinang commented on #890
@KGorr What text do you want on these CFP graphics if any? Are we using text from last year or are we using something from https://github.com/mozilla/mozillafestival.org/issues/859 ?

[2018-05-28 21:13] mmmavis commented on #891
Done!

[2018-05-28 21:13] #891 closed

[2018-05-28 22:13] mmmavis commented on #866
Form is ready for QA: https://mozillafestival-org-sta-pr-894.herokuapp.com/proposals
Proposals will go to this testing repo and the sheet included in this README: https://github.com/MozillaFestival/test-mozfest-program-2018

@Saallen have we decided what blogs and examples we wanna include in the intro section?

[2018-05-28 22:20] mmmavis commented on #851
@sabrinang wondering what the status is for this ticket. Is it ready for implementation?

[2018-05-28 22:30] #850 closed

[2018-05-28 22:30] sabrinang commented on #851
@mmmavis Yes, youth zone description is included now. Please use space/experience text here: https://github.com/mozilla/mozillafestival.org/issues/850#issuecomment-390704087

Names from mozfest team sheet: https://docs.google.com/spreadsheets/d/1LAec8JWTO-lGlpNDRNgQBq1oyQrJ3IZrtiAwWgs5D60/edit#gid=318931669

[2018-05-28 22:34] mmmavis commented on #851
@sabrinang Awesome! Thanks! Do you know where we wanna include `“Propose a session” CTA` and `link to artist open web`?

[2018-05-28 22:57] sabrinang commented on #851
@mmmavis I'm thinking we can include the CTA button after the space intro.
![cta-location](https://user-images.githubusercontent.com/2492510/40631204-3e3afd6c-628f-11e8-9293-6770661ade24.jpg)

For the Artist Open Web link, let's include a text link after the description _(you can use the description paragraph from the website itself)_.
![link-location](https://user-images.githubusercontent.com/249

[2018-05-28 23:05] sabrinang commented on #880
The doc was updated with _how to apply_ and _deadline_ details and final post is here: https://textio.com/?l=bglkjcn It has been shared with Stephen and Mandy last week to kick off the process along with posting board urls, timeline and salary suggestions.

[2018-05-28 23:05] #880 closed

[2018-05-28 23:12] mmmavis commented on #851
@sabrinang cool that's helpful!

[2018-05-29 02:17] mmmavis commented on #851
Done!

I've only updated sections of the spaces & exp that are doing open curation. (Artist Open Web isn't one of them)

https://mozillafestival-org-sta-pr-894.herokuapp.com/spaces
https://mozillafestival-org-sta-pr-894.herokuapp.com/team/wranglers (this page is pretty bare though since we only have wranglers names for now. Not sure if it's worth coming up with an interim design solution...)

[2018-05-29 02:17] #851 closed

[2018-05-29 20:28] Saallen commented on #890
Yes!

[2018-05-29 20:35] Saallen commented on #853
- [ ] Update sarah's  profile with [ text to follow

- [ ] @KevZawacki profile

@KevZawacki any updates other than the final sentence " 2018 will be Kevin's fifth MozFest."??

[2018-05-29 20:51] Saallen opened #897 "QA- Spaces page- Decentralization"
Two ways of spelling decentralization here? We as a festival use the z - cc@kevin for response
CC @mmmavis for changes

Decentralization

Can the world be decentralised?

In this parallel dimension, people self-organise into open groups that create art, write code, and even build cities. Their technology runs on consensus and their society is fuelled by data. But data is not just a resource — it’s

[2018-05-29 20:56] Saallen opened #898 "QA- Spaces page- Youth zone"
QA- Internet here is spelt with a small i- please change to a capital I @mmmavis
CC @KevZawacki

The future of the **internet** is in our hands.

Young people and those who support them are excited to build a healthier **internet** that empowers us to solve problems and achieve our dreams. We see a future that defies expectations and promises more inclusion, agency, and shared ownership online. By

[2018-05-29 20:58] Saallen opened #899 "QA- Spaces- Queering MozFest"
@KevZawacki lets decide for now and ever more the battle of s versus z - which side of the road are we standing on?
@mmmavis I also highlights Internet that needs to be capitalised

Queering MozFest

Oh deer! This year, we are opening a queer territory at MozFest.

Across the main six spaces, we are exploring how **internet** issues intersect with our gender and our sexuality. Drawing on a queer p

[2018-05-29 21:27] Saallen commented on #853
Sarahs new bio
Sarah Allen is MozFest's Executive Director. She is passionate about designing learning and collaboration experiences that use art, culture and convenings to explore Internet health. Sarah draws her experience from a diverse events background in theatre, global sporting events and local community festivals. 2018 will be Sarah's 6th festival.

[2018-05-29 21:47] sabrinang commented on #848
@caltrider Here is a mockup with the text and updated logo:
![landing-1_iteration](https://user-images.githubusercontent.com/2492510/40687053-3dbe53c4-634e-11e8-83ec-4652b200ee0e.jpg)

I made another iteration after seeing this in context too and would like to hear your thoughts.

I changed the order of the top banner text so the submission cta text is closer to the deadline text. I also experimen

[2018-05-29 21:54] caltrider commented on #848
I really like your second iteration @sabrinang. The one with the gradient on the top bar and changed language. Looks great.

And the header without the second “come with an idea…” line, I like that best too

I think this works for the June 1st deadline. And then maybe next week we can dig into some design ideas to make that header bolder (and lose the background images too?)

[2018-05-29 22:10] sabrinang commented on #848
@caltrider Great, thanks for the review! I also made both the banner and body copy to be "London, England" to be consistent.

@mmmavis  Here is the final copy for the June 1st deadline:

Top header:

Hero banner:

October 26-28, 2018
Ravensbourne College in London, England
[button: Submit Your Session Now]

![landing-2_final](https://user-images.githubusercontent.com/2492510/40688181-02487762-6352

[2018-05-29 22:14] sabrinang commented on #848
@mmmavis For the June 1st deadline, you do not need to revise content below this hero banner area. Can we also make the top header appear on all the other pages too?

[2018-05-29 22:19] mmmavis commented on #848
@sabrinang

Yup yup. Do we want the banner to show on mobile as well? I'm afraid it might take up a huge space on mobile and push everything down below the fold.

[2018-05-29 22:47] sabrinang commented on #848
@mmmavis Yes it'd be preferable to have it on mobile as well but not too large that it takes up a lot of vertical space. Oh good point, if we don't want it to push everything down do you think we can have it below the hero area then?
![mobile-landing_iteration](https://user-images.githubusercontent.com/2492510/40689474-1edf8d66-6357-11e8-894b-43a1a66c323e.jpg)

[2018-05-30 01:16] mmmavis commented on #848
@sabrinang changes are up: https://mozillafestival-org-sta-pr-894.herokuapp.com/ I'll let you decide whether or not we can close this ticket 😉

[2018-05-30 12:39] KevZawacki commented on #899
@Saallen I suppose, since we're in the UK, we'll have to do "s." All my **Z**awacki ancestors are rolling in their graves.

I've just updated [the copy document](https://docs.google.com/document/d/1pCU_D90f7InJjVGcG-xBwAe7_j3D8sqrUCXliLbKirY/edit) to reflect this. I've also capitali**s**ed "Internet."

[2018-05-30 12:48] KevZawacki commented on #897
Hi @Saallen & @mmmavis

Per a similar issue -- let's use "s" instead of "z" in all instances. And, capitalize "Internet." Latest updates [here](https://docs.google.com/document/d/1pCU_D90f7InJjVGcG-xBwAe7_j3D8sqrUCXliLbKirY/edit).

Pardon the confusion!

[2018-05-30 12:57] Saallen commented on #897
For Internet health report Decentralization is with the z- last year we aligned- and took the z in this instance (and only one :)) Do we want to differ?

[2018-05-30 12:58] KevZawacki commented on #897
@Saallen For consistency, I'm okay with using "s" throughout this year

[2018-05-30 13:37] Saallen commented on #848
Hey @caltrider @sabrinang - Loving the new banner, and using the space for more digestable info but I worry that our tag does not relate to the theme. Web meets world doesnt give any clue or make any connection with the data theme- which is super important to call out as it underpins Marks letter, and the space descriptions. Can we make a decision today on what [the tag](https://docs.google.com/do

[2018-05-30 14:40] KevZawacki commented on #848
Hi @Saallen @caltrider

Historically, the tagline has described that year's theme -- and so it changes each year. e.g. [the "One Web" tagline was used in 2016](https://www.flickr.com/photos/mozfest/30003179653/in/album-72157672259755823/), when the theme was digital inclusion. The tagline is mainly communicated to people already participating in the festival, so there is an existing understanding

[2018-05-30 14:47] Saallen commented on #899
@KevZawacki  you mean your Sawacki ancestors

[2018-05-30 15:31] KevZawacki commented on #899
😆

[2018-05-30 17:36] caltrider commented on #848
Thanks @KevZawacki, the clarification on how these tag lines are used helps.

@Saallen Given that the theme tag line is designed more for communication with people already participating in the festival, what do you think of keeping the "Where Web Meets World" on the landing page header as a way to welcome folks who might be new and give them an idea of Mozfest upon landing on the page?

Then, next

[2018-05-30 18:41] Saallen commented on #867
cc @KGorr

[2018-05-30 19:11] KGorr commented on #890
@sabrinang - last minute change regarding the language. Instead of "call for proposals," we need it to say "submit a session"

Thanks!

[2018-05-30 19:27] Saallen commented on #848
Sure- I just want it to be clear for those submitting sessions and those browsing the wesbite before they buy a ticket that the theme for 2018 is Data. So if we can encorporate that in other elements  I am happy- thanks

[2018-05-30 19:31] sabrinang commented on #890
@KGorr Ok, I will only use the `Submit a session for MozFest` copy only then and it was localised last year (in German, Spanish, French): https://l10n.mozilla-community.org/langchecker/?website=6&file=social/2017/mozfest.lang&action=translate&show so I'll refer to this as well

[2018-05-30 19:38] KGorr commented on #890
@sabrinang Thanks so much! We'll see if @TheoChevalier can get translations for Hindu, Swahili as well to add to the mix.

[2018-05-30 19:40] sabrinang commented on #859
I'll be filing separate l10n tickets for the localisation pieces.

@Saallen Can you review and confirm that Kevin's tweets https://docs.google.com/document/d/16Jz2_o0kGl5ECb9i25-5NIAkdH9JsRcC8yBhBkZJG4E/edit are finalized and what you want to be localised so we can close this ticket?

[2018-05-30 19:43] sabrinang opened #902 "CFP Social: Localise Call for Proposals tweets"
Based on content in issue https://github.com/mozilla/mozillafestival.org/issues/859

We are requesting tweets to be localised in 5 languages (French, Spanish, German, Hindu, Swahili).

/cc @Saallen

[2018-05-30 19:46] sabrinang opened #903 "CFP Cheat Sheet: Localise communication cheat sheet"
Based on content in issue https://github.com/mozilla/mozillafestival.org/issues/860

We are requesting that the communication cheat sheets be localised in 5 languages (French, Spanish, German, Hindu, Swahili).

/cc @KGorr @Saallen

[2018-05-30 19:48] sabrinang commented on #860
@KGorr Is the communication cheat sheet copy complete? It needs to be review and finalized before passed to the localisation team. I filed a separate l10n issue here #903

[2018-05-30 19:55] sabrinang opened #904 "CFP Social: Localise Call for Proposal language for graphic"
We want to localise this English copy in Hindu & Swahili.
en | `Submit a session for MozFest`

We also already have it in German, Spanish and French from last year https://l10n.mozilla-community.org/langchecker/?website=6&file=social/2017/mozfest.lang&action=translate&show:

de | `Schlagen Sie eine Sitzung für das MozFest vor`
es | `Enviar una sesión para MozFest`
fr  | `Proposez une session pour

[2018-05-30 19:55] sabrinang commented on #890
@KGorr Thanks for pointing out the other two languages and I have filed the l10n issue separately here https://github.com/mozilla/mozillafestival.org/issues/904

[2018-05-30 20:00] KGorr commented on #860
@sabrinang - yes, it's final! There was one open comment, just closed it. And thanks for making the new ticket.

[2018-05-30 20:13] mmmavis commented on #898
Fixed

[2018-05-30 20:13] #898 closed

[2018-05-30 20:17] KGorr commented on #860
I edited the above link to be correct - sorry, it was originally pointing to an incorrect document but is now correct.

[2018-05-30 20:17] sabrinang commented on #903
Final communication cheat sheet copy here: https://docs.google.com/document/d/1-_dszm-7RjtKn8KOF56HDv8NKOmWFWz_2QFEonAfrP4/edit#

[2018-05-30 20:54] mmmavis commented on #899
Fixed!

[2018-05-30 20:54] #899 closed

[2018-05-30 20:55] mmmavis commented on #897
Fixed on the website!

[2018-05-30 20:55] #897 closed

[2018-05-31 10:17] Saallen opened #908 "QA- Production page"
In kevins bio please amend the last line
Change- 2017 will be Kevin's fourth MozFest.

TO- 2018 will be Kevin's fIfth MozFest.

[2018-05-31 10:18] Saallen commented on #908
Plus where are you pair @sabrinang and @mmmavis ???

[2018-05-31 16:03] rtsayles commented on #853
@saallen I am okay with my current bio.  Thank you for the opportunity again to be involved.  Blue Skies

[2018-05-31 16:46] Saallen commented on #847
Direct them to the proposals page which will be mozillafestival/proposals

[2018-05-31 16:53] mmmavis commented on #908
@Saallen kk will update Kevin's bio! I can add mine in today if short bio's okay. 😂 Where in the list should we add ourselves? Before the 3 volunteer coordinators?

[2018-05-31 16:55] KevZawacki commented on #847
@Saallen 👍

[2018-05-31 18:00] sabrinang commented on #848
@Saallen Are we good to go with `Where Web Meets World` then and the language seen on staging? Please review: http://mozillafestival-org-staging.herokuapp.com/

[2018-05-31 18:10] sabrinang commented on #847
Mark's blurb is updated on staging: http://mozillafestival-org-staging.herokuapp.com/about

@Saallen @KevZawacki Please review the page? Can you also clarify where the proposal CTA should be?

[2018-05-31 18:34] mmmavis commented on #858
Just tested it on staging and I did receive a confirmation email after submitting a proposal.

See screencap below (notice that `name of my sessions!` is actually the name I entered as a testing proposal name)

<img width="1025" alt="screen shot 2018-05-31 at 11 31 36 am" src="https://user-images.githubusercontent.com/2896608/40800904-78f6bb4c-64c6-11e8-8672-0a6d138459fc.png">

[2018-05-31 18:34] #858 closed

[2018-05-31 19:18] Saallen commented on #848
Yes -looks great

[2018-05-31 19:22] mmmavis commented on #908
k i updated Kevin's bio and added my bio in.

[2018-05-31 19:38] mmmavis opened #910 "[Code Improvement] don't use absolute positioning for ".page-header""
Absolute positioning increases the complexity of the styling code. We can fix this by revising the DOM structures -  make `<Header />` child of  the page wrapper instead of a sibling.

[2018-05-31 20:06] Saallen opened #911 "QA - call for proposal page"
@mmmavis the links on the top paragraph link to
* the old repo set up earlier in the year
* last years space page

can you please amend?

[2018-05-31 20:08] Saallen commented on #889
@amirad  do you have the link ready for the call for proposals page??
cc @mmmavis

[2018-05-31 20:10] mmmavis commented on #911
@Saallen github repo link seems to be correct to me on [staging](http://mozillafestival-org-staging.herokuapp.com/proposals). It links out to https://github.com/MozillaFestival/mozfest-program-2018

this won't be an issue after we push things live to mozillafestival.org since mozillafestival.org/spaces will then correctly displays this year's description

[2018-05-31 20:10] Saallen opened #912 "QA- automated email for submitted sessions"
Hey @mmmavis
it seems that only the primary facilitator received the automated email- I think it would be good for all additional facilitators to receive the same automated email... is this possible?

[2018-05-31 20:11] Saallen commented on #864
Legal reviewed and agreed- nothing to change except the year from 2017- 2018

cc @mmmavis @sabrinang

[2018-05-31 20:12] Saallen commented on #911
awesome- thanks 👍
👓

[2018-05-31 20:13] amirad commented on #889
Yup, sorry. Was in the middle of writing it but you have the link for publishing purposes
https://docs.google.com/document/d/16I55way_DQeFXII1CLtY--p8BXcIMb9bhPQAavWZmLY/edit?usp=sharing

[2018-05-31 20:17] mmmavis commented on #912
@Saallen it should be technically possible but it'll take a few days to make that happen

Things we need to consider and do

- have a different version of email since the additional facilitators might not be aware someone has included them in a MozFest proposal (we don't want this email to look like spam/scam!)
- file devops tickets and get this new email working in the system
- update mozfest sit

[2018-05-31 20:17] Saallen commented on #889
AWESOME - 🌷

@mmmavis please add to other links

[2018-05-31 20:18] mmmavis commented on #864
Awesome. In that case I think we are good! Staging link: http://mozillafestival-org-staging.herokuapp.com/proposals (page header says 2018)

🎉 🎉 🎉 🎉 🎉

[2018-05-31 20:18] #864 closed

[2018-05-31 20:20] Saallen commented on #912
OOOHHHH -- this one is an issue
_have a different version of email since the additional facilitators might not be aware someone has included them in a MozFest proposal (we don't want this email to look like spam/scam!)_

Yes good catch it would need to say XXX submitted a session to MozFest with you as the second facilitator....

[2018-05-31 20:29] #911 closed

[2018-05-31 21:22] mmmavis commented on #889
FAQ link added! http://mozillafestival-org-staging.herokuapp.com/proposals

[2018-05-31 21:22] #889 closed

[2018-05-31 21:23] #866 closed, assigned to mmmavis, Saallen

[2018-05-31 22:17] sabrinang commented on #853
Sabrina's bio for @mmmavis

Photo: https://drive.google.com/open?id=1eSh2Q-5V_gC2EnT_feKtbBYioCBkRu1D

**Sabrina Ng**
_Creative Design Lead_

Sabrina is a user experience and interface designer for the Mozilla Foundation. She has led the design direction and production for the past two years and 2018 will be her sixth MozFest. She enjoys designing experiences that help build and connect communitie

[2018-06-01 12:50] TheoChevalier commented on #902
Looks like the tweets here are still in review? https://docs.google.com/document/d/16Jz2_o0kGl5ECb9i25-5NIAkdH9JsRcC8yBhBkZJG4E/edit

Also heads up that some of them seem quite long and close to the character limit. It’s best if they can be shortened a little bit, but otherwise localizers will reformulate/drop some parts in order to fit.

[2018-06-01 13:04] TheoChevalier commented on #859
Hey everyone, thanks for the content! I’m planning to expose all reviewed content later today. In terms of schedule, I can’t really set a deadline for next week to our volunteers given the total volume and what they are already working on, but would something like ~10 days / a couple weeks work?

For Hindi & Swahili, we will need to rely on the wranglers, all they need to do is create an account o

[2018-06-01 13:08] Saallen commented on #859
Hi @TheoChevalier
I just had a look at the Pontoon website and its not so easy to understand where to go. Can you share the required steps here with me so I can share with the wranglers?

[2018-06-01 15:32] KGorr commented on #890
@sabrinang - We're sending out a handful of CFP emails next week. Is there a graphic we can use for those? If not, totally cool - I'll just pull a festival image from last year for those. Thanks!

[2018-06-01 15:47] Saallen commented on #902
Hey @KevZawacki are you good to go with those tweets?

[2018-06-01 16:04] KevZawacki commented on #902
@Saallen @TheoChevalier Good to go! 👍

[2018-06-01 16:43] mmmavis commented on #853
@Saallen can you proof read / revise mine as well?

Mavis Ou
Festival Lead Engineer

Mavis Ou is Front-end Engineer for the Mozilla Foundation. She enjoys implementing user-facing features, and is always keen to make user experience in the software world better. 2018 will be Mavis' 6th MozFest.

[2018-06-01 16:56] Saallen commented on #853
Sure
Mavis Ou is Front-end Engineer for the Mozilla Foundation. She enjoys
implementing user-facing features, and is always keen to make user
experience at Mozfest, and in the software world better. 2018 will be
Mavis' sixth MozFest.

What do you think?

On Fri, 1 Jun 2018, 17:43 Mavis Ou, <notifications@github.com> wrote:

[2018-06-01 16:59] mmmavis commented on #853
@Saallen thanks for the edit! I'll get Sabrina's and my bios in now!

[2018-06-01 17:20] KGorr commented on #859
@TheoChevalier - just confirming that the timeframe is fine. I'll just add language to the cheat sheet that says TBD for now. Regarding the email, you are correct. It's meant to be an email template that can be customized and sent to the reader's own network. Thanks again for your help!

[2018-06-01 19:09] TheoChevalier commented on #903
Translation is ongoing, status can be checked here https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2018/mozfest.lang

[2018-06-01 19:26] TheoChevalier commented on #902
Just to clarify here, after discussing with @KGorr, we noticed tweets were duplicates with the ones in the cheat sheet, so I went ahead and exposed the ones from the cheat sheet (also because they are shorter)

[2018-06-01 19:43] TheoChevalier commented on #904
And to confirm here too, I’ve imported the existing translations and exposed the string for other locales. It’s the first string here https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2018/mozfest.lang&action=translate&show

[2018-06-04 16:13] Saallen opened #915 "Guidelines page: Raising Issues at MozFest"
Met with @trallard and @chadsansing today to talk about D&I at MozFest.
Current reporting structure is to festival@mozilla.org- with Gunner and myself as sole receipients.

Festival reporting structure is
* Festival@
* info desk onsite
* phone number

@trallard has some suggestions for updating the reporting structure to be more transparent.

[2018-06-04 22:17] KGorr commented on #904
@sabrinang - A Space Wrangler requested we create the graphic in Portuguese and provided the text.

Submit a session => Envie uma sessão
for MozFest => para MozFest

Is this a request we can fulfill? Thanks!

[2018-06-05 01:19] barrosgeraldo commented on #904
Hi @KGorr, thank you for move this forward, I forgot to add one more element of the translation, I'm sorry, rewriting here with the complete sentence now.
` pt-br | Envie uma sessão para o MozFest`

[2018-06-05 09:05] Saallen opened #916 "QA- Spelling mistake on call for proposal"
Hi @mmmavis We spelt Portuguese wrong on the list of languages you can submit a session under -Can you please amend?

[2018-06-05 16:35] mmmavis commented on #916
Fixed!

[2018-06-05 16:35] #916 closed

[2018-06-05 20:27] mmmavis opened #918 "Short description about MozFest to help boost up SEO for our site"
Let's add a short description about MozFest as page meta (this is not visible on the page but is used for search engines to crawl info) to help boost up SEO. Ideally it should include the word Mozilla Festival AND MozFest so help drive both search terms to our site.

For ref - this is what we currently have for the About page

and What to Expect page

I think this can probably explain why these pa

[2018-06-05 20:28] mmmavis commented on #918
@Saallen could you help tag the right person to come up with copy for this?

[2018-06-05 23:04] mmmavis commented on #908
Done!

[2018-06-05 23:04] #908 closed

[2018-06-06 08:19] AutomatedTester opened #920 "Upgrade dependency for hoek"
There is currently a security warning for the version of hoek used. Please upgrade of if the code isnt used anymore please remove

[2018-06-06 18:41] Saallen commented on #918
Hey @caltrider - the mystery is solved- do you want to write copy for this?
would be great to update asap

[2018-06-06 18:51] mmmavis opened #921 "Remove 2017 House Event section from House section"
Remove 2017 House Event section from House section. Keep everything else unchanged.

[2018-06-06 21:16] sabrinang commented on #852
@KevZawacki Can you review these wrangler bios we have collected? https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit?usp=sharing

We may be missing 4 still so unsure if you want to lock edit access just yet but tagging you as we would like to update what we have.

[2018-06-06 21:31] caltrider commented on #918
Here you go @mmmavis and @Saallen
Approved by Sarah Allen:
- [ ]

Home Page Meta:
MozFest brings the world together to leave the internet better than we found it. Mozilla, the non-profit behind the Firefox browser, invites you to our annual festival in London, England.  Come shape our best future online.

And I think we should leave the About Page Meta as is for now until we can get the updates do

[2018-06-06 23:00] sabrinang commented on #860
[Communication cheat sheet 2018](https://docs.google.com/document/d/1-_dszm-7RjtKn8KOF56HDv8NKOmWFWz_2QFEonAfrP4/edit#) is complete - closing ticket!

[2018-06-06 23:00] #860 closed

[2018-06-06 23:01] sabrinang commented on #890
Work is tracked on https://github.com/MozillaFoundation/mozfest-design-2018/issues/4 - closing ticket.

[2018-06-06 23:02] #890 closed

[2018-06-06 23:36] sabrinang commented on #862
@Saallen Can you finalize this tagline (on the gdoc and ticket here) and we can close 👍

[2018-06-07 12:09] Saallen opened #922 "New wrangler additions"
Hold  changes until confirmed

- [x] Add Brehan Taye under Web literacy
- [x] Add Tendai Tirivanhu to Decentralisation
- [x] Remove Emma Humphries from Queering MozFest
- [ ] Update Tom Farrow bios

[2018-06-07 13:18] KevZawacki commented on #852
@sabrinang Certainly. I just reviewed and edited (small stuff -- commas, consistent capitalization, etc.).

I'll check in over the coming days to edit the outstanding bios.

[2018-06-07 19:16] sabrinang opened #923 "Theme: Localise tagline for MozFest 2018"
Based on https://github.com/mozilla/mozillafestival.org/issues/862

The official tagline for MozFest 2018 is ` Data Done Right`

We are requesting for this to be localised in 5 languages: French, Spanish, German, Hindu & Swahili.

/cc @Saallen @KGorr

[2018-06-07 19:18] sabrinang commented on #923
Hi @barrosgeraldo, would you be able to help translate this in pt-br Portuguese?

[2018-06-07 19:34] TheoChevalier commented on #923
Exposing this string on Pontoon in a bit. @sabrinang is there any length requirement? Is this integrated in a specific graphic?

[2018-06-07 19:40] sabrinang commented on #923
@TheoChevalier This will be used for a combined tagline poster with all translations. No length requirement but if they are roughly similar lengths that would be great.

Here are references from previous years if it helps:
2017 (combined poster): https://redpen.io/sz54fe6ed81c7f8dd3
2016 (separate poster): https://redpen.io/p/dx247add31f0157531

[2018-06-07 19:57] TheoChevalier commented on #923
Thanks! String exposed, translations will appear right under “Submit a session for MozFest” https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2018/mozfest.lang&action=translate&show

[2018-06-07 22:07] sabrinang opened #924 "Master Ticket Page Issue"
This is a master ticket for updates to https://mozillafestival.org/tickets
Copy issue: #927
Design issue: #1002
Implementation issue: #926

______________

~~https://mozillafestival.org/tickets~~

~~We need to update the language, links and dates on this page.~~

~~Things to consider:~~
~~- do we continue using the abbreviation MozFest or include Mozilla Festival?~~
~~- do we need tickets for MozF

[2018-06-07 22:09] sabrinang opened #925 "Tickets page: Graphic Banner"
https://mozillafestival.org/tickets

The photo is out of date, replace with a new photo.

[2018-06-07 22:14] sabrinang opened #926 "Tickets page: Update Content & Push Live"
Dependent on #924 & #925

[2018-06-07 22:21] sabrinang opened #927 "Tickets page: Copy"
~~https://ti.to/Mozilla/mozilla-festival-2018~~

~~When ticket sales are open we need to update the ticket descriptions and copy.~~

We need to update the language for https://mozillafestival.org/tickets page.

[2018-06-07 22:26] sabrinang opened #928 "Ti.to tickets page: Graphic Banner"
https://ti.to/Mozilla/mozilla-festival-2018

We can use an image with a photo treatment or wordmark to brighten up this page.

[2018-06-07 22:34] sabrinang opened #929 "Ti.to tickets page: Update Changes Live"
https://ti.to/Mozilla/mozilla-festival-2018

Dependent on content from #927 & #928, update the page for attendees.

@Saallen Who is responsible and has access to update the ti.to page? Is it Marc?

[2018-06-07 22:57] sabrinang opened #930 "Partners page: Copy"
https://mozillafestival.org/team/partners/

Update the partners page text.

[2018-06-07 22:59] sabrinang opened #931 "Partners page: Collect Logos and Apply Treatment"
Logos are linked on column G in Wrangler bio spreadsheet: https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit#gid=0

Collect these in google drive and apply a similar colour treatment (greyscale?) and export as PNGs.

[2018-06-07 23:05] sabrinang opened #932 "Partners page: Update content"
https://mozillafestival.org/team/partners/

Update content to be live on the partners page. This includes:
- [x] updating copy from https://github.com/mozilla/mozillafestival.org/issues/930
- [x] adding new partner logos from https://github.com/mozilla/mozillafestival.org/issues/931
- [x] linking partner logos by referring to column H on https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMys

[2018-06-07 23:31] sabrinang opened #933 "Wrangler page: Collect Photos and Apply Treatment"
https://mozillafestival.org/team/wranglers

Collect wrangler bio photos on google drive and crop or apply treatment if necessary.
Link to photos on column D: https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit#gid=0

[2018-06-07 23:43] sabrinang opened #934 "Team page: Update bios and photos"
https://mozillafestival.org/team

Update the production tab to include:
- [x] #940 Update Tom Farrow
- [x] #937 Update Robert Sayles
- [x] #938 Update Production Coordinator
- [x] #991 Update Production Manager
- [x] #936 Update Gunner
- [x] #935 Update Mark Surman

Update the wranglers page to include:
- [x] exported wrangler's photo from https://github.com/mozilla/mozillafestival.org/issues/933

[2018-06-07 23:58] sabrinang opened #935 "Production page: Review/Revise Mark's Bio"
https://mozillafestival.org/team/production#Mark-Surman

This is Mark's current bio from previous years on the site:

Do we need to update this or is it good to go for this year?

[2018-06-08 00:01] sabrinang opened #936 "Production page: Review/Revise Gunner's Bio"
https://mozillafestival.org/team/production#Allen-%22Gunner%22-Gunn

This is Gunner's current bio from previous years on the site:

Confirm if we need to update this or if it is good as is.

[2018-06-08 00:03] sabrinang opened #937 "Production page: Revise Robert's Bio"
https://mozillafestival.org/team/production#Robert-Sayles

This is Robert's current bio from previous years on the site:

Revise Robert's photo.

[2018-06-08 00:06] sabrinang commented on #853
Filed #935, #936 and #937 for production page bio revisions in the next round. Closing this May ticket.

[2018-06-08 00:06] #853 closed

[2018-06-08 00:16] sabrinang opened #938 "Production page: Add Production Coordinator Bio"
The Senior Production Coordinator will start in the upcoming months. Add their bio to the page.

[2018-06-08 00:17] sabrinang opened #939 "Production page: Add Production Coordinator and International Travel Event Coordinator Bio"
The Production Assistant will start in the upcoming months. Add their bio to the page.

[2018-06-08 03:10] rtsayles commented on #937
@Saallen Can you update my photo on the website when you have a moment?
![sayles](https://user-images.githubusercontent.com/5620826/41137226-a5b17fee-6a9f-11e8-8957-a51678819fa8.jpg)

[2018-06-08 06:30] sabrinang commented on #937
I changed this ticket so it is for you @rtsayles instead of Tom's. Is your bio text up to date and you just need your photo updated?

[2018-06-08 06:30] sabrinang opened #940 "Production page: Revise Tom's Bio"
https://mozillafestival.org/team/production#Tom-Farrow

This is Tom's current bio from previous years on the site:

This needs to be revised for this year.

[2018-06-08 11:37] KevZawacki commented on #935
Hi @sabrinang, let's change "the Mozilla Foundation" to simply "Mozilla." Otherwise, good to go!

[2018-06-08 12:48] Saallen opened #941 "Add new blog post to Call for Proposals page"
Hey can you amend  @mmmavis
Before you submit:
    Ensure you know which Space you will submit your proposal under
    Get some great tips for desiging your session, read [7 steps ](https://medium.com/mozilla-festival/7-steps-to-a-great-mozfest-proposal-eff4f1cee6fe) and [what makes a great MozFest session](https://medium.com/mozilla-festival/what-makes-a-great-mozilla-festival-session-529dff10518

[2018-06-08 18:42] Saallen commented on #930
**Context-** partners page contains logos of organisations and companies where our wranglers work- these orgs are supporting the festival and supporting their staff as they volunteer for MozFest over 5 months- so it is a little thank you- https://mozillafestival.org/team/partners

**Proposed text :**
MozFest would like to thank the following partners for assisting in the development of the festiva

[2018-06-08 18:42] Saallen commented on #929
For now lets make a production assignee and I can alloccate the work when the team start

[2018-06-08 18:51] caltrider commented on #930
Let's make the language active. Something like @Saallen ?

**Proposed text :**
MozFest would like to thank the following partners for their help creating the festival program

[2018-06-08 18:55] Saallen commented on #930
I think it might be a too bit active.... they dont actually do any of the work :)

[2018-06-08 18:58] Saallen commented on #936
I will take this and check with Gunner

[2018-06-08 20:48] barrosgeraldo commented on #923
`pt-BR | Dados: do jeito certo`

[2018-06-08 21:24] sabrinang opened #942 "Volunteer page: Copy and Links"
https://mozillafestival.org/volunteer

Update volunteer content.

[2018-06-08 21:26] sabrinang opened #943 "Volunteer page: Graphic Banner"
https://mozillafestival.org/volunteer

We an change the photo to something more recent.

[2018-06-08 21:30] sabrinang opened #944 "Ti.to volunteer page: URL & Copy"
Last year's ti.to volunteer page as reference: https://ti.to/mozfestvolunteers/mozfest-volunteer-program-2017

If it has not been made already create a new ti.to page URL for 2018. Create copy for volunteer landing page.

[2018-06-08 21:34] sabrinang opened #945 "Mozilla Wiki: Volunteer page copy"
2017 reference: https://wiki.mozilla.org/Mozfest/2017/Volunteers

Dependent on https://github.com/mozilla/mozillafestival.org/issues/861 to create the wiki itself. Update the /volunteers page to be linked on the https://mozillafestival.org/volunteer page.

[2018-06-08 21:40] sabrinang opened #946 "Volunteer page: Update content"
https://mozillafestival.org/volunteer

Update content to be live on the volunteers page. This includes:
- updating copy and links from #942
   - including links to ti.to #944 and wiki #945
- replacing banner to #943

[2018-06-08 21:47] sabrinang opened #947 "Fringe page: Copy"
https://mozillafestival.org/fringe

Update the fringe page text.

[2018-06-08 21:48] sabrinang opened #948 "Fringe page: Graphic Banner"
https://mozillafestival.org/fringe

We an change the photo to something more recent.

[2018-06-08 21:51] sabrinang opened #949 "Fringe page: Create new spreadsheet for fringe events"
https://mozillafestival.org/fringe

Create a new spreadsheet for the fringe event form submissions for 2018.

[2018-06-08 21:55] sabrinang opened #950 "Fringe page: Update content"
https://mozillafestival.org/fringe

Update content to be live on the fringe page. This includes:
- updating copy #947
- replacing banner to #948
- replace fringe calendar events with new spreadsheet #949

[2018-06-08 21:55] KGorr commented on #903
@TheoChevalier - Please note that the theme for MozFest was tweaked since writing the cheat sheet. It is now "Data Done Right" instead of "Data And You". Within the english cheat sheet, I have adjusted both the email subject line and the theme reference in the 3rd paragraph in the email. Can you please have it adjusted in the work being done to localize as well? Thank you and sorry for the inconve

[2018-06-08 22:53] TheoChevalier commented on #903
Thanks @KGorr , strings updated!

[2018-06-18 18:18] Saallen commented on #950
@caltrider and myself to meet about copy for this page

[2018-06-18 18:18] Saallen commented on #947
@caltrider and myself to meet about copy for this page

[2018-06-18 18:31] Saallen commented on #945
@rtsayles can you work with the rest of the vol team to update this page in time for the July2nd volunteer sign up opening date

[2018-06-18 18:35] sabrinang commented on #940
Hi @TomFarrow
Please let us know if your bio or photo needs to be revised this year.

[2018-06-18 18:51] sabrinang commented on #930
@mmmavis Can you take a screenshot of 2017 partners tab for reference?

[2018-06-18 18:57] sabrinang commented on #927
@Saallen Will start this and hand off to production manager when hired.

[2018-06-18 19:01] mmmavis opened #951 "Take screenshots of all pages from 2017 CFP phase"
- take screenshots of all pages on the website from 2017 CFP phase
- share the screenshots with Sarah and Sabrina for future references

[2018-06-18 19:54] Saallen opened #952 "New question on Call for Proposals form"
**Question** - From which country are you from?
**Subtext**  - We ask this question in order to get a better understanding of who is participating in MozFest. You can respond as a resident or as a citizen of a country. It will not be linked to your submission on Github
**Reponse action**- choose from a drop down menu

**Curation piece**- the response does not show up on Github but wranglers should

[2018-06-18 21:58] sabrinang opened #953 "Ti.to MozFest House: Create multiple pages & copy"
Create Mozilla Festival House pages for various events (e.g. MisinfoCon).

Create or update the copy on these pages.

[2018-06-18 22:02] sabrinang opened #954 "Ti.to MozFest House: Graphic banners for main page & multiple events"
Design a Mozilla Festival House banner for the ti.to page as well as a template to pair with various event partners (e.g. MisinfoCon)

[2018-06-18 22:06] sabrinang opened #955 "MozFest House: Event Package"
Create an event package with information for event partners.

[2018-06-18 22:09] sabrinang opened #956 "MozFest House: Logo & design assets for event package"
Document and collect Mozilla Festival house assets (logo, wordmarks & banner) to share on the event package.

Related issue: https://github.com/mozilla/mozillafestival.org/issues/955

[2018-06-18 22:19] sabrinang opened #957 "MozFest House page: Create new speadsheet for house events"
https://mozillafestival.org/house

Create a new spreadsheet for the mozfest house event for 2018. This spreadsheet informs the event list that appears on the page.

[2018-06-18 22:24] sabrinang opened #958 "MozFest House page: Update speadsheet with house events"
https://mozillafestival.org/house

Update the spreadsheet from https://github.com/mozilla/mozillafestival.org/issues/957 with a list of house events for 2018 that will appear on the house page.

[2018-06-18 22:32] sabrinang opened #959 "MozFest House page: Add 2018 events section"
https://mozillafestival.org/house

Add the 2018 house events to the listing after we remove 2017 and create the spreadsheet.

Related issue: #957

[2018-06-18 22:34] sabrinang opened #960 "MozFest House page: Copy"
https://mozillafestival.org/house

Update the house page text.

[2018-06-18 22:41] sabrinang opened #961 "MozFest House page: Update content"
https://mozillafestival.org/house

Update content to be live on the MozFest House page. This includes:

- [x] updating copy #960
- [x] removing 2017 events list #921
- [x] adding 2018 events list #959

[2018-06-18 22:46] amirad commented on #952
Do you want to know where people live? If so I would say: What country do you currently reside in?
If you want to know where people are from, I would say: Which country are you from?

I would go with the "where people live" so that it's easy to answer (as opposed to the second which can be a multitude of answers) and more direct for the proposal process.

I would also add to that subtext area "It

[2018-06-18 22:57] sabrinang opened #962 "Home page: Design mockups"
Based on https://github.com/mozilla/mozillafestival.org/issues/963

We want to simplify the page and consider:

- simplifying the banner
- using video clip more effectively perhaps as a hero background
-  D&D video links are more obvious and simplify this section as "hall of fame" concept

[2018-06-18 23:03] sabrinang opened #963 "Home page: Copy updates"
Based on [June 5th meeting notes](https://docs.google.com/document/d/1Vwk3kezXyaZthe1EIKd2lcmmrR97g4p9-ZDuynPSfhM/edit#)

We want to simplify the page and consider:

- play with the words “web meets world”
- more content to explain the festival
- top three things we want people to know at a glance
- make the text more playful

Related design issue: #962

[2018-06-18 23:11] sabrinang opened #964 "Home page: "Speaker Hall of Fame" section"
Based on [June 5th meeting notes](https://docs.google.com/document/d/1Vwk3kezXyaZthe1EIKd2lcmmrR97g4p9-ZDuynPSfhM/edit#)

We want to simplify the Dialogue and Debates section:
- decide which speakers we want to feature (and Kevin to decide how many)
     - provide name, topic & bio (short copy that appears underneath photo)
     - provide corresponding photo and youtube recording link

[2018-06-18 23:32] sabrinang opened #965 "About page: Copy & content planning"
Based on [June 5th meeting notes](https://docs.google.com/document/d/1Vwk3kezXyaZthe1EIKd2lcmmrR97g4p9-ZDuynPSfhM/edit#)

https://mozillafestival.org/about

We want to rethink what people want on an about page. There may be some overlap with the what to expect page too.

[2018-06-18 23:34] sabrinang opened #966 "What to Expect page: Copy & content planning"
Based on [June 5th meeting notes](https://docs.google.com/document/d/1Vwk3kezXyaZthe1EIKd2lcmmrR97g4p9-ZDuynPSfhM/edit#)

https://mozillafestival.org/expect

We want to rethink what people want on the What to Expect page. There may be some overlap with the about page too.

Related issue #965

[2018-06-19 00:57] mmmavis commented on #930
`/team/partners` page as of July 31, 2017

![screenshot-2018-6-18 mozilla festival](https://user-images.githubusercontent.com/2896608/41569744-08af2676-7321-11e8-9330-ae6118a7df36.png)

[2018-06-19 02:43] rtsayles commented on #937
@sabrinang No change from my bio, but can you add Senior Volunteer Coordinator :)

[2018-06-19 02:47] rtsayles commented on #945
Absolutely, I'm setting up a meeting next week sp we can update the wiki for 2018 @saallen :)

[2018-06-19 14:46] KevZawacki commented on #852
Hi @sabrinang, certainly. I've just reviewed + edited — everything in there is now final.

I'll keep an eye our for tickets about the outstanding bios.

[2018-06-19 16:32] mmmavis commented on #941
Done! https://mozillafestival.org/proposals

[2018-06-19 16:32] #941 closed

[2018-06-19 16:33] mmmavis commented on #921
Done! https://mozillafestival.org/house

[2018-06-19 16:33] #921 closed

[2018-06-19 16:33] mmmavis commented on #910
Done!

[2018-06-19 16:33] #910 closed

[2018-06-19 17:47] sabrinang commented on #965
Meeting doc from today: https://docs.google.com/document/d/1qAF9n2jRRjDHUiaYLcfhiEM85gUofMYiEFREv4OaI0s/edit?usp=sharing

**Rough dates mentioned in call:**
Draft by June 25
Review starts June 26
Revisions by June 27
Due end of milestone on June 29

/cc @KevZawacki

[2018-06-19 17:48] sabrinang commented on #966
Meeting doc from today: https://docs.google.com/document/d/1qAF9n2jRRjDHUiaYLcfhiEM85gUofMYiEFREv4OaI0s/edit?usp=sharing

Rough dates mentioned in call:
Draft by June 25
Review starts June 26
Revisions by June 27
Due end of milestone on June 29

/cc @KevZawacki

[2018-06-19 17:50] sabrinang commented on #963
Meeting doc from today: https://docs.google.com/document/d/1qAF9n2jRRjDHUiaYLcfhiEM85gUofMYiEFREv4OaI0s/edit?usp=sharing

Rough dates mentioned in call:
Draft by June 25
Review starts June 26
Revisions by June 27
Due end of milestone on June 29

/cc @KevZawacki @Saallen

[2018-06-19 18:04] Saallen commented on #952
Confirming new question for Call for Proposals @mmmavis and ready for you to add to the call form

Question - What country do you currently reside in?
Subtext - We ask this question in order to get a better understanding of who is participating in MozFest. You can respond as a resident or as a citizen of a country. It will not be linked to your submission on Github for privacy reasons and will onl

[2018-06-19 18:06] Saallen commented on #921
buuutiful

[2018-06-19 18:08] mmmavis commented on #952
@Saallen where in the form should we add this question? Somewhere in the "Your information" section? https://mozillafestival.org/proposals

[2018-06-19 18:09] Saallen commented on #955
Hey @lucieclick welcome back to github.
@sabrinang is going to get some assets ready for you to use in the new brochure.

[2018-06-19 18:13] Saallen commented on #952
@mmmavis add it under organisation question.
It should be mandatory

[2018-06-19 18:32] Saallen commented on #949
@mmmavis let me review last years form before you create a new one. I might change the questions

[2018-06-19 18:34] Saallen commented on #930
Of the partners from last year @mmmavis please keep
* VnA
* Ravensbourne
* BBC R&D

The rest can be removed for 2018

[2018-06-19 19:15] Saallen commented on #964
Looks great to me 📸

[2018-06-19 21:18] Saallen commented on #937
Great photo- how about we add this to your bio @rtsayles ?
Robby is a Mozilla Rep Mentor based out of Dallas, Texas. He loves volunteering and a big web and aviation feel. Long time contributor to Mozilla and MozFest

[2018-06-20 15:32] Saallen commented on #963
We also need to write piece under video
Current content: MozFest is for advocates of a healthy Internet. Explore the intersection of the web with civil society, journalism, public policy, and art through interactive sessions.

@caltrider can you share what you propose as new content here?

[2018-06-20 16:13] caltrider commented on #930
Hey @Saallen. I think this version looks great. Ship it, as they say! =)

Proposed Text:
MozFest would like to thank the following partners for their support in creating the festival program.

cc: @sabrinang @mmmavis

[2018-06-20 16:28] caltrider commented on #963
Hey @Saallen . This is the content @zee-moz and I are working on this week. Are we still on track to have this on the timeline of dates above (ie. draft content for this by Monday?).

[2018-06-20 16:36] mmmavis commented on #949
2017's form (at the bottom of the page)

![screenshot-2018-6-20 mozilla festival](https://user-images.githubusercontent.com/2896608/41671912-57da8ad6-746d-11e8-99e5-b9aaed81c15e.jpg)

[2018-06-20 19:21] mmmavis commented on #964
Assigning this to myself for implementation.

[2018-06-20 22:42] sabrinang commented on #931
I have collected and edited the 9 logos found in the [spreadsheet](https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit#gid=0) to be in grayscale:

![image](https://user-images.githubusercontent.com/2492510/41688204-fee19914-749f-11e8-9ea3-1d9ae2695645.png)

They are in gdrive folder here: https://drive.google.com/drive/folders/1AnaSO48BMWpRoZsvJZq6QjlUweK63qMV?

[2018-06-21 10:19] ioana-chiorean opened #970 "Open tweet #mozfest in new tab"
On the footer of the page we have the option TWEET #MOZFEST
I consider it better to be open it different tab/pop up tab because:
- we don't want users to leave the page
- most pages do this and users get used to it  - i did close the tab after cause i though it is just the tweet opened in it and had to open again mozfest page after.

If you are not agreeing on this - sound be nice to have a Go bac

[2018-06-21 10:45] ioana-chiorean opened #971 "Highlight of the element "Volunteer with us" remains visible"
In Firefox Nightly and Release after choosing the volunteer section from the footer - the border of the element remains highlighted

![screenshot from 2018-06-21 13-33-11](https://user-images.githubusercontent.com/1391451/41714440-1013be88-7559-11e8-822a-424a17ec7909.png)

[2018-06-21 11:01] Saallen commented on #931
Hello @sabrinang
you are missing two logos- more so as they have not been added so I emailed those two groups.
All other logos look great and are ready to be added to partners page.

I have outlined missing logos here and will share once i receive them

Missing logos
- [ ] Open Tech Institute
- [ ] Ada, National College for Digital Skills

[2018-06-21 21:02] mmmavis commented on #964
Live on https://mozillafestival.org/ 🎉 🎉 🎉 🎉 🎉  🍻

[2018-06-22 00:45] mmmavis commented on #952
Hey @Saallen @amirad should we also include a "I prefer not to specify" option in the country dropdown list in case someone doesn't feel comfortable leaving that info? If so, what text should we use?

[2018-06-22 11:24] Saallen commented on #964
Whhop

[2018-06-22 14:10] Saallen commented on #952
Hey- I think that is a great idea.
Please use the text you have outlined above
I prefer not to specify

[2018-06-22 14:23] amirad commented on #952
WFM!

[2018-06-22 16:55] mmmavis commented on #952
okie dokie

[2018-06-22 16:56] #964 closed

[2018-06-25 18:59] Saallen commented on #946
I will write first draft and share with the Vol Coord

[2018-06-25 19:00] Saallen commented on #944
@TomFarrow waiting on the volunteer at Mozfest ti,to page
Do you think it will be done by the end of this week?

[2018-06-25 19:00] Saallen commented on #940
@TomFarrow last chance to make changes

[2018-06-25 19:52] TomFarrow commented on #940
Hey,
Tom is a second year volunteer co-ordinator for Mozilla Festival, experienced across a large portion of Mozilla's breadth. He primarily handles the planning and local communications for the volunteer program.

Photo can stay the same :)

Tom

[2018-06-25 19:57] TomFarrow commented on #940
![tom farrow](https://user-images.githubusercontent.com/1648878/41872615-52c81a12-78ba-11e8-8175-fdd73b729784.jpg)
actually, why not an update....

also, so sorry it took me so long to get to this!! my email filtering (destroying github) and my time availability got the better of me.

[2018-06-25 20:01] TomFarrow commented on #944
Hey @Saallen -

Let me check in with Fuzzy. There was some talk about using our volunteer management system for the initial sign up to help with the application, weighting etc. If we can't get that in time (or I don't have an answer tomorrow), then I'll put together a ti.to, and we can feed data back through.

Tom

[2018-06-25 20:45] Saallen commented on #944
Hi @tomfarrow please use Tito for sign ups not another platform.

[2018-06-25 21:33] mmmavis commented on #952
Done!

[2018-06-25 21:33] #952 closed

[2018-06-25 23:46] mmmavis commented on #935
Thanks @KevZawacki ! I will have that updated!

[2018-06-26 03:08] KGorr opened #973 "Ticket Sales Cheat Sheet: Localise communication cheat sheet"
We are requesting that the communication cheat sheet be localised in 5 languages (French, Spanish, German, Hindu, Swahili).

FInal cheat sheet copy here: https://docs.google.com/document/d/1jTn78OyXn0SiMrz26CWXzeh-NbQQ7aiFAwV-GhuWFtA/edit?usp=sharing

/cc @Saallen

[2018-06-26 08:43] TomFarrow commented on #944
Okay, expect a ti.to by tomorrow morning.

[2018-06-26 16:59] mmmavis commented on #937
@KevZawacki  Can you help polish up this copy? It seems to be a bit odd to have an incomplete sentence in the end but English is my weakness so I'm hoping to get some help from you 😄

[2018-06-26 17:28] mmmavis commented on #937
@KevZawacki awesome thank you!

[2018-06-26 17:30] mmmavis commented on #937
@rtsayles does this updated bio look good to you? 😃

[2018-06-27 17:22] caltrider commented on #963
Hey @Saallen @KevZawacki @sabrinang @mmmavis

Here's the updates and copy for the home page from @zee-moz and I.

FINAL APPROVAL:
- [ ] @Saallen

[](https://docs.google.com/document/d/1ZpD2yOefHu_dXJP0omZ3-OUswFJ7ucTsv2nwz9uEW2E/edit)

[2018-06-27 17:33] caltrider commented on #966
Hey @Saallen @KevZawacki @sabrinang @mmmavis

Here's the updates and copy for the "what to expect" page from @zee-moz and I.

FINAL APPROVAL:
- [ ]     @Saallen

https://docs.google.com/document/d/1DWV7XX0qXiG8nREsOYSAyJ6jTa6tlznlo12yFDQHR_M/edit

[2018-06-27 19:01] mmmavis commented on #937
@rtsayles I'm gonna make the call here and update your bio on the site. Do let me know if you don't like your slightly edited bio - I'll change it back immediately :)

[2018-06-27 19:09] mmmavis commented on #852
I'm gonna close this ticket since most bios and photos have been collected and the spreadsheet is now locked.

We can always create new tickets for future edits if needed. 😉

[2018-06-27 19:09] #852 closed

[2018-06-27 20:11] rtsayles commented on #937
@Saallen <https://github.com/Saallen> @KevZawacki
<https://github.com/KevZawacki> @sabrinang <https://github.com/sabrinang>
@mmmavis <https://github.com/mmmavis>, Love the revised bio, sorry for not
responding sooner.

Robby

On Wed, Jun 27, 2018 at 2:02 PM Mavis Ou <notifications@github.com> wrote:

[2018-06-27 20:12] mmmavis commented on #937
@rtsayles no problem at all! 😉

[2018-06-28 12:40] Saallen opened #976 "ti.to ticketing: Terms set for tickets"
New addition to tickets on tickets is adding term sets. I am proposing this term set for all tickets at MozFest weekend and house.
Asking for feedback from #abigailphillips and @trallard

cc for info @chadsansing and @emmairwin

_By purchasing a ticket to MozFest 22-28 Oct you are agreeing to respect (Mozilla community participation guidelines) {https://www.mozilla.org/en-US/about/governance/polic

[2018-06-28 14:28] Saallen opened #977 "Raising issues page content updates"
Proposed copy updates to the[ raising issues](https://mozillafestival.org/guidelines) page on the website.

further develop incident responses and number of respondents/safety officers; recommendations include:

- More details on how to report
- More details on how reports are handled

Plus additional request around
- Follow-up transparency reports on # of incidents and how they were handled

I wi

[2018-06-28 15:57] Saallen commented on #931
Hi @sabrinang nothing back from OTI so just ada to be added to the partner list

[2018-06-28 15:59] Saallen commented on #933
Hi @sabrinang any update here?

[2018-06-28 16:01] Saallen commented on #940
Great photo @TomFarrow
@kevin can you quickly review this bio?

Tom is a second year volunteer co-ordinator for Mozilla Festival, experienced across a large portion of Mozilla's breadth. He primarily handles the planning and local communications for the volunteer program.

[2018-06-28 17:35] emmairwin commented on #977
Hi!

A couple of things that might be helpful. First is to look at the recent [Python Code of Conduct for reporting]( https://us.pycon.org/2018/about/code-of-conduct/ )(under Procedure for Handling Incidents).

Our repo standard: [REPORTING.MD](https://github.com/mozilla/repo-templates/blob/master/templates/REPORTING.md) based on this reporting piece, but also to break down the unacceptable behavi

[2018-06-28 17:38] mmmavis commented on #935
Updated! https://mozillafestival.org/team

[2018-06-28 17:38] mmmavis commented on #937
Done! https://mozillafestival.org/team

[2018-06-28 17:38] #937 closed

[2018-06-28 17:40] mmmavis commented on #922
@Saallen you meant `Berhan Taye`, right? (assuming `Brehan` was a typo)

[2018-06-28 17:50] sabrinang commented on #931
The folder has been updated with Ada, National College for Digital Skills so all 10 logo are found here:
https://drive.google.com/drive/u/1/folders/1AnaSO48BMWpRoZsvJZq6QjlUweK63qMV

[2018-06-28 17:56] Saallen commented on #936
No changes needed @sabrinang

[2018-06-28 17:59] Saallen commented on #935
Reopening this phi asked for new picture. Please use the one found here
https://www.mozilla.org/en-US/about/leadership/
@mmmavis can you please update

[2018-06-28 18:03] sabrinang commented on #935
@mmmavis Mark's photo is in website the asset folder: https://drive.google.com/open?id=1B83671ZiLAoBHp5LzZcuVaCMWC-ZqSSZ

[2018-06-28 18:56] Saallen commented on #966
Just waiting on two response from @zee-moz and @caltrider  in the doc before I approve

[2018-06-28 18:58] Saallen commented on #849
Closing this issue as other issues have replaced @sabrinang

[2018-06-28 18:58] #849 closed

[2018-06-28 18:59] Saallen commented on #872
@sabrinang Can you choose what photo you want here as this is the only piece missing from this page to be updated. please apply whatever design you want

[2018-06-28 19:00] sabrinang commented on #849
refer to issue: https://github.com/mozilla/mozillafestival.org/issues/966

[2018-06-28 20:38] caltrider commented on #966
Update made @Saallen

[2018-06-28 23:22] sabrinang commented on #872
This photo is good: https://westraco.pixieset.com/mozfest2017/p/MTQ3NzUwMjg4MA==-MjM5ODY2MTYwNQ/ (it is also available on the gdrive [here](https://drive.google.com/file/d/196AyS_iyI7EDmJN-JQjn1BJmwhcWc-LJ/view?usp=sharing))

It can be placed near the bullets to break up the long section of copy.

![mozilla-festival_sponsors-page](https://user-images.githubusercontent.com/2492510/42065248-b4fc32f0

[2018-06-29 09:21] TomFarrow commented on #944
Hey @Saallen
Sorry for delay

https://ti.to/mozfestvolunteers/mozfest-volunteer-program-2018

For GDPR I imagine we need to provide
1) Overall responsibility (Mozilla Foundation, E Evelyn?)
2) Point of contact for questions (do we have one?)
3) Privacy Policy (Mozilla's usual one?)
4) Retention Policy (do we include this in PP?)

I don't know Mozilla's position on GDPR compliance, but this is cert

[2018-06-29 09:55] Saallen commented on #944
Hi @TomFarrow

Once the page is set we will ask Legal to review and provide valid links. I am meeting with them today
@sabrinang will be updating branding

Do you mind if I make some edits? As we spoke earlier in the year that this year people would apply to be a volunteer its not a sign up only any more- We need this language stronger on the page so if you agree, I will edit?

Also in your questi

[2018-06-29 10:01] Saallen commented on #942
Volunteers are integral to what we do at Mozilla, and MozFest is no different. The annual festival could not take place without the time, dedication and love of our volunteers.

Volunteer roles are diverse, from registering participants, and running welcome desks on each floor to arranging swag bags and helping with speakers. We do our very best to place people in roles they're most interested in,

[2018-06-29 10:04] Saallen commented on #944
Photo for tito page
https://www.flickr.com/photos/mozfest/37312486824/in/album-72157686681997682/

[2018-06-29 10:27] Saallen opened #978 "ti.to data collection- proposed questions"
Proposed questions for tickets for MozFest 2018. Would love feedback from @arlissc and @amira (regarding location questions)

**Every ticket has**
* Name
* Email
* company
* where are you from?
* Which country are you visiting from?
* What do you hope to get out of MozFest?
* MozFest is designed around some key issues the Internet is facing. Which of these issues interest you the most?
* Have you

[2018-06-29 11:02] Saallen commented on #977
Hi
Thanks @emmairwin . This report from pyton has been raised already with us

So we do have additional reporting methods during festival time such as two emails, phone number and face to face options- however for obvious reasons they are not all available right now. Over the

[2018-06-29 11:12] Saallen commented on #965
Approved and reviewed- ready to be added to website @sabrinang

marks edited letter has been updated and approved by Mark

[2018-06-29 11:16] Saallen commented on #963
This page is not ready as requests have been made to make changes to the video captions
waiting on @zee-moz  and @caltrider

[2018-06-29 14:16] Saallen commented on #872
Looks great - goood to update

[2018-06-29 17:33] #933 closed

[2018-06-29 17:34] sabrinang commented on #934
@mmmavis https://github.com/mozilla/mozillafestival.org/issues/933#issuecomment-401191993 photos have been exported

[2018-06-29 17:34] mmmavis commented on #949
ping @Saallen in case you missed my post above 😉

[2018-06-29 17:34] #931 closed

[2018-06-29 17:35] sabrinang commented on #932
@mmmavis https://github.com/mozilla/mozillafestival.org/issues/931#issuecomment-401118959 logos are in grayscale and exported

[2018-06-29 17:40] Saallen commented on #949
Hey @mmmavis can you give me access to last years form? I cannot find it myself

[2018-06-29 17:52] Saallen commented on #944
Hi @TomFarrow and @sabrinang
I amended the page so its reflective as an application process rather than sign up.

I need to update the GDPR piece and will have information for this piece next week

[2018-06-29 17:53] Saallen commented on #943
@sabrinang when you amend the banner for this page can you add this same banner to the tito page for consistancy??
https://ti.to/mozfestvolunteers/mozfest-volunteer-program-2018/admin/settings/homepage

[2018-06-29 17:54] Saallen commented on #944
Pushing back this page till next heart beat

[2018-06-29 17:55] Saallen commented on #942
Pushing back this issue as it wont be ready this heart beat

[2018-06-29 17:56] Saallen commented on #927
Working on this now
Almost ready about from full legal review and GDPR compliancy
Moving to heart beat

[2018-06-29 17:56] Saallen commented on #924
Moving heart beats

[2018-06-29 17:59] Saallen commented on #934
Production assistant and coordinator are not in place yet so @mmmavis update other bios this heart beat and we will do PA and PC LATER

[2018-06-29 18:00] Saallen commented on #922
Yes @mmmavis

I put Dennis in the wrong space- can you move him under Openness?
He is not part of web literacy

[2018-06-29 18:11] mmmavis commented on #922
@Saallen

https://mozillafestival.org/team/wranglers#Dennis-Ndegwa

Dannis is already under Openness on the Team page! 👍

[2018-06-29 18:12] mmmavis commented on #922
There's a separate ticket for updating Tom Farrow's bio.

I'm closing this ticket now.

[2018-06-29 18:12] #922 closed

[2018-06-29 18:21] mmmavis commented on #949
@Saallen https://docs.google.com/spreadsheets/d/1DMl4u2Xxn0wl-SgtxZMb2R2sTpTfSJKcBpBEl1Hb0lQ/edit#gid=0

[2018-07-02 12:54] Saallen opened #980 "QA- Wrangler team page"
Hi @mmmavis Decentralisation team are the first list of wranglers displayed but they are missing the most photos. Can you move around the listing of spaces so we see more faces at the top?

I know they are in alphetical order but the blank grey icons dont look great at the top of the page

[2018-07-02 14:14] Saallen commented on #978
Additional ticket question from Abdoul
* How did you hear about MozFest

[2018-07-02 14:46] Saallen commented on #978
Questions above all added. Comments taken for next 2 days before we close the issue

[2018-07-02 15:28] Saallen commented on #970
Thanks for sharing @ioana-chiorean
@mmmavis can you explore this pop up?

[2018-07-02 15:53] Saallen commented on #947
MozFest is not only in London....

MozFest is about working in the open and sharing ideas with a global network of people dedicating to protecting the health of the Internet. This year’s festival theme is ‘Data and You’  and so we’re looking to champion events themed on data as we are asking our own MozFest audience to ask themselves questions such as What does the future of personal data and the

[2018-07-02 15:56] Saallen commented on #947
@zee-moz and @caltrider would love your input on copy for the fringe event page

Page purpose- to allow partners, friends and allies to promote their own Mozilla like event that takes place across the globe in a mozfest like format and ties into our theme data and you

Last years page here **https://mozillafestival.org/fringe**

[2018-07-03 21:01] sabrinang opened #981 "Sponsors page: Add photo"
Based on approved design from https://github.com/mozilla/mozillafestival.org/issues/872#issuecomment-401201961

Update sponsors page with photo to break up the section of text.

Photo: https://westraco.pixieset.com/mozfest2017/p/MTQ3NzUwMjg4MA==-MjM5ODY2MTYwNQ/ (it is also available on the gdrive [here](https://drive.google.com/file/d/196AyS_iyI7EDmJN-JQjn1BJmwhcWc-LJ/view?usp=sharing))

[2018-07-03 21:02] sabrinang commented on #872
Closing - this will continue on implementation issue https://github.com/mozilla/mozillafestival.org/issues/981

[2018-07-03 21:02] #872 closed

[2018-07-03 21:08] sabrinang opened #982 "What to Expect page: Design Mockups"
Based on content from https://github.com/mozilla/mozillafestival.org/issues/966

https://mozillafestival.org/expect

Create revised design mockups to be approved before we implement it on the website.

[2018-07-03 21:10] sabrinang opened #983 "About page: Design Mockups"
Based on content from https://github.com/mozilla/mozillafestival.org/issues/965

https://mozillafestival.org/about

Create revised design mockups to be approved before we implement it on the website.

[2018-07-03 21:12] sabrinang commented on #965
Closing - continue on design phase in issue #983

[2018-07-03 21:12] #965 closed

[2018-07-03 21:12] sabrinang commented on #966
Closing - continue on design phase in issue #982

[2018-07-03 21:12] #966 closed

[2018-07-04 17:17] mmmavis commented on #932
Done! https://mozillafestival.org/team/partners

[2018-07-04 17:17] #932 closed

[2018-07-04 17:23] mmmavis opened #985 "Partners page: missing links & logos might need to be re-processed"
https://mozillafestival.org/team/partners

# Site Links

@Saallen just wanted to double check - I wasn't sure if we wanna link the following organizations to their websites since no URLs were provided.

- Universidade Federal de Alagoas
- Media Party
- UAL

# Logos

![screenshot_2018-07-04 mozilla festival](https://user-images.githubusercontent.com/2896608/42289346-cace9ddc-7f73-11e8-9a1c-5949a36f

[2018-07-04 18:36] sabrinang commented on #985
@mmmavis Let's remove the grey box so the white jpeg issue won't be an issue

[2018-07-04 18:42] sabrinang commented on #938
@marcwalsh Please provide a short bio and photo for this page https://mozillafestival.org/team

[2018-07-04 18:51] sabrinang commented on #977
#915 This was filed previously here too

[2018-07-04 18:52] sabrinang commented on #976
@Saallen has done this already - closing.

[2018-07-04 18:52] #976 closed

[2018-07-04 18:52] Saallen commented on #927
Ok- we are just confirming what tickets to sell so once we agree @marcwalsh @consuelamckenzie

we will loop in kevin for edits

[2018-07-04 18:53] Saallen commented on #973
@TheoChevalier putting this back at the top of your github notifications

[2018-07-04 18:55] Saallen opened #986 "TITO- GDPR and new terms layout"
Now every person looking to purchase a mozfest ticket must agree with the following question
![screen shot 2018-07-04 at 19 22 00](https://user-images.githubusercontent.com/10194015/42291543-3fa0d38c-7fc4-11e8-9310-d6ff3d36dab1.png)

[2018-07-04 18:56] sabrinang commented on #951
Please post screenshots in this ticket and put in a google drive folder

[2018-07-04 18:57] sabrinang commented on #945
any updates on this @TomFarrow @ZiggyMaes ?

[2018-07-04 18:57] Saallen commented on #986
Then within the next stage our terms and conditions are highlighted
![screen shot 2018-07-04 at 18 16 33](https://user-images.githubusercontent.com/10194015/42291576-788f9cd2-7fc4-11e8-929c-77f79293823d.png)

[2018-07-04 18:58] Saallen commented on #986
![screen shot 2018-07-04 at 19 22 13](https://user-images.githubusercontent.com/10194015/42291594-918000c4-7fc4-11e8-9721-9745870ea25e.png)

[2018-07-04 18:58] sabrinang commented on #940
@KevZawacki Can you review bio above?

[2018-07-04 18:58] #936 closed

[2018-07-04 19:03] Saallen commented on #918
Returning @caltrider 👀  to this ticket- thanks for the updated copy but
I missed @mmmavis key question though- should we use two key words mozFest and mozilla festival?? Should we use both words here?

cc @zee-moz for comments also

[2018-07-04 19:06] #904 closed

[2018-07-04 19:08] sabrinang commented on #904
Graphics are finished in https://github.com/MozillaFoundation/mozfest-design-2018/issues/4 with all 7 languages.

[2018-07-04 19:11] sabrinang commented on #903
@KGorr Any updates on this issue?

[2018-07-04 19:13] sabrinang commented on #888
Any updates on this ticket? Can we close if emails have been sent @amirad ?

[2018-07-04 19:14] sabrinang commented on #885
note to self: document this in design doc

[2018-07-04 19:35] mmmavis commented on #985
as discussed in today's meeting - let's not worry about the missing links.

[2018-07-04 20:52] rtsayles commented on #945
We're meeting tomorrow so we'll help you with the outcome, sorry for the
delay.

On Wed, Jul 4, 2018, 13:57 sabrinang <notifications@github.com> wrote:

[2018-07-04 20:52] sabrinang commented on #985
@mmmavis I uploaded bbc r&d and ravensbourne logo in the folder with white or transparent bg: https://drive.google.com/open?id=1AnaSO48BMWpRoZsvJZq6QjlUweK63qMV

[2018-07-04 21:05] mmmavis commented on #985
Done! https://mozillafestival.org/team/partners

[2018-07-04 21:05] #985 closed

[2018-07-04 21:06] mmmavis commented on #935
Done! https://mozillafestival.org/team/production

[2018-07-04 21:06] #935 closed

[2018-07-04 21:06] mmmavis commented on #930
Done! https://mozillafestival.org/team/partners

[2018-07-04 21:08] mmmavis commented on #980
Done! https://mozillafestival.org/team/wranglers

[2018-07-04 21:08] #980 closed

[2018-07-04 23:38] mmmavis commented on #981
Done! https://mozillafestival.org/team/sponsors

[2018-07-04 23:38] #981 closed

[2018-07-05 01:00] mmmavis commented on #920
Fixed! Thanks for filing this ticket @AutomatedTester !

[2018-07-05 01:00] #920 closed

[2018-07-05 12:47] KevZawacki commented on #940
@sabrinang Sure. Here's the final copy:

Tom is a second-year volunteer coordinator for MozFest, with experience across a large portion of the festival programming. Tom primarily handles planning and local communications for the volunteer program.

[2018-07-05 13:09] amirad commented on #888
Yes, actually. All of those emails have been sent!

[2018-07-05 13:09] #888 closed

[2018-07-05 18:02] sabrinang opened #991 "Production page: Add Production Manager Bio"
https://mozillafestival.org/team/production

Consuela, please provide a short bio and a photo for the production page.

[2018-07-05 18:06] sabrinang commented on #847
Closing - this work was continued on https://github.com/mozilla/mozillafestival.org/issues/965

[2018-07-05 18:06] #847 closed

[2018-07-05 18:06] sabrinang commented on #848
Closing - this work is continued on https://github.com/mozilla/mozillafestival.org/issues/963

[2018-07-05 18:06] #848 closed

[2018-07-05 18:22] #846 closed

[2018-07-06 15:02] zee-moz commented on #927
I also made some copy editing suggestions, and some comments on formatting and order.

[2018-07-06 15:28] zee-moz commented on #918
my 2 cents: I would try to get Mozilla Festival in there if that's a common search term.
not sure about "leave the internet better than we found it" -- I like the direction, although to me "leave" is kind of a passive a verb, and it implies we're doing stuff and then going away, offline...  whereas we want more engagement, more communities, more creativity, more activism, more awesomeness.

I real

[2018-07-06 16:08] zee-moz commented on #947
@Saallen how many fringe events registered last year? trying to understand if current copy was effective in getting event sign-ups.

my guess is that this page will be more effective if we provide more info about the value exchange associated with listing-- like what specifically what materials do we offer them, how do they get access, how does promotion as a fringe event benefit them?  Is there a

[2018-07-06 18:33] sabrinang opened #992 "Social: Localise language for ticket graphics"
@TheoChevalier

Can we localise the following phrases for our social graphics:
"MozFest Tickets Now Available"
"Join Us At MozFest 2018!"
"Data Done Right: MozFest 2018"

[2018-07-06 20:12] mmmavis commented on #951
@sabrinang where in the google drive should I place the screencaps in?

[2018-07-06 22:40] TheoChevalier commented on #992
Sure, I’ve added them to this file:

Status: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2018/mozfest.lang

Translations: https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2018/mozfest.lang&action=translate&show

[2018-07-06 22:41] TheoChevalier commented on #973
Hey, sorry for the lack of update here, but everything has been exposed on Thursday last week and is ongoing!

Status: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2018/mozfest_tickets.lang
Right now, de, fr, pt-BR are fully ready! For the other locales, I’ve sent an update to everyone who participate in the first file

Translations: https://l10n.mozilla-communit

[2018-07-06 22:43] TheoChevalier commented on #903
Hi, here’s the latest status:

Locales fully ready: de, fr, it, pt-BR, sw

es is missing 4 strings (Data done right seem challenging in Spanish)
hi-IN is missing 13 strings

Detailed status: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=other/2018/mozfest.lang (Note it also includes the 3 strings just added in https://github.com/mozilla/mozillafestival.org/issues/992)

[2018-07-08 17:44] Saallen commented on #991
@consuelamckenzie please add a short bio for the website, and a picture

[2018-07-09 10:29] Saallen commented on #942
cc @marcwalsh @consuelamckenzie for review

[2018-07-09 10:36] Saallen commented on #927
Update- @marcwalsh @consuelamckenzie will make amendments to this page by Tuesday 10th as we have new formatting for tickets- TITO PAGE WILL be live by EOD tues, for massive promotional mail out with @KGorr

[2018-07-09 10:37] Saallen commented on #861
@marcwalsh  its great to have you back 🎆

[2018-07-09 12:03] marcwalsh commented on #938
Hey @sabrinang!

Details below...

Bio:
`Marc is the Senior Production Coordinator for MozFest 2018, with this year being his seventh time working on the festival. Since last year he’s worked on large scale events around the world with organisations such as FIFA, BBC and BMW. Drawing on this experience, he brings his logistical and production mind-set to help make sure the cogs keep turning across

[2018-07-09 15:12] TomFarrow commented on #944
Sorry, thought I had replied to say I would look at this more today!! Just cleared 1-2 hours each day for working on MozFest, so my availability should be better.

I'm happy with any changes we want to make. Do you have some GDPR info?

Small changelog from today:
- Added T-Shirt Size question
- Fixed years volunteer question, input box didn't make sense
- Prefixed "Apply to" to the ticket descrip

[2018-07-09 17:08] rtsayles commented on #944
Hi Tom,

I'm ok with opening the application process, we just need to verify if we
have the GDPR covered?

Robby

On Mon, Jul 9, 2018 at 10:13 AM Tom Farrow <notifications@github.com> wrote:

[2018-07-09 18:36] mmmavis commented on #971
Fixed! Thanks for filing this ticket!

[2018-07-09 21:39] mmmavis commented on #951
Screencaps have been uploaded to https://drive.google.com/drive/folders/1EM9BwrR6K_0NbD-gPtTXE-66KMmXs2EG !

[2018-07-09 21:39] #951 closed

[2018-07-10 01:52] sabrinang commented on #983
@Saallen Please review and leave any specific comments on redpen here: https://redpen.io/xp5216f8cdd1a599f5

[2018-07-10 01:53] sabrinang commented on #982
@Saallen Please review and leave any specific comments on redpen here: https://redpen.io/dnc152cb247c41348d

[2018-07-10 03:00] mmmavis commented on #957
Here's [the 2018 sheet](https://docs.google.com/spreadsheets/d/13M_GgrmvC_2CIjfNS15eUiCPuFb_W62dRFIJWK2o8mA/edit#gid=0) cloned from [our 2017 sheet](https://docs.google.com/spreadsheets/d/1YNHtYe_9lowzTAx0mj5XD2DaX3UZX785rVvTt7Vjpps) .

[2018-07-10 03:00] #957 closed

[2018-07-10 09:17] Saallen commented on #982
cc @marcwalsh @consuelamckenzie please review ahead of our meeting today but do not comment on the redpen

[2018-07-10 09:20] Saallen commented on #983
@marcwalsh  and @consuelamckenzie please review ahead of our meeting today but dont comment on the red pen

[2018-07-10 16:20] consuelamckenzie opened #995 "Moz Fest Website updates"
https://mozillafestival.org/spaces#Queering-MozFest

Can we change this text from:

Oh deer! This year, we are opening a queer territory at MozFest.

to

Oh dear! This year, we are opening a queer territory at MozFest.

[2018-07-10 16:34] marcwalsh opened #996 "CFP - Data Protection Updates"
I talked to Abigail from Legal who had a few recommendations for updates to Call For Proposals page.

- [x] In opening paragraph, add 'Country' to the list of private information.

- [x] At the bottom of the opening paragraph add of text add a line to explain if users proposals are accepted that we will add this information onto Guidebook.

- [x] Add a checkbox for users agreeing for us to handle

[2018-07-10 16:47] consuelamckenzie commented on #991
Writing about yourself in the third person is always interesting!...

Either of these?

Consuela is the Production Manager of Mozfest, she has managed hundreds of varied media and event productions and adds to the team two decades in senior company roles for a diverse group of startup media businesses and established worldwide brands. For the festival her focus is primarily on providing a streamli

[2018-07-10 18:43] Saallen commented on #995
@consuelamckenzie this is not a spelling mistake.
No amendments needed

[2018-07-10 18:43] #995 closed

[2018-07-10 18:43] Saallen commented on #978
Done

[2018-07-10 18:43] #978 closed

[2018-07-10 18:47] Saallen commented on #963
The only thing that is blocked on this page is the video content so we can go head and prepare the rest of the page @sabrinang

@zee-moz any update here on the new short videos and when they will be ready??

[2018-07-10 18:48] sabrinang commented on #956
Note: generic logos from last year is fine

[2018-07-10 18:51] Saallen commented on #949
Assigning @marcwalsh to this ticket,
Marc can you build the fringe event form?

cc @consuelamckenzie for information

[2018-07-10 18:56] Saallen commented on #947
Hi @zee-moz thanks for the feedback- fringe events are meant to be very low touch from us.

Fringe events emerged from the network wanted to connect their events to the festival.
We ultimately want to promote events that are taking place that are build in a similar strand to mozfest. (open, collaborative and this year themed around data)

Last year we had 17 events submit and show up on the page

[2018-07-10 18:59] sabrinang commented on #945
any updates on this piece?

[2018-07-10 19:00] Saallen commented on #944
@TomFarrow @rtsayles
we are still waiting on legal to confirm the final elements to the data protection-
Once we have full legal compliance @marcwalsh will update your page and confirm here that this link can go live

[2018-07-10 19:00] sabrinang commented on #940
👍

[2018-07-10 19:00] #940 closed

[2018-07-10 19:00] sabrinang commented on #938
@KevZawacki Can you please review this bio?

[2018-07-10 19:02] sabrinang commented on #991
@consuelamckenzie Can you reduce the bio length so it is approximately 3 sentences?
See other bios for length reference here: https://mozillafestival.org/team

[2018-07-10 19:03] Saallen commented on #929
Update @marcwalsh is confirming all ti.to updates.

[2018-07-10 19:07] rtsayles commented on #944
Thank you @saallen :)

On Tue, Jul 10, 2018 at 2:02 PM Sarah Allen <notifications@github.com>
wrote:

[2018-07-10 19:14] TomFarrow commented on #945
hi @sabrinang

we have a draft in Google Drive - I've added some content to it and will continue to do so. Can we set a date of Friday for the full copy??

Tom

[2018-07-10 19:23] Saallen commented on #924
Updating this ticket with key actions for this heartbeat
- [ ] @consuelamckenzie and @marcwalsh to share copy for tickets
- [ ] @caltrider and @zee-moz approve copy
Once two actions are complete @sabrinang will update content for webpage
- [ ]  Sabrina updates [webpage](https://mozillafestival.org/tickets)for approval on redpen
- [ ]  @consuelamckenzie approves redpen
- [ ] @mmmavis updates page

[2018-07-11 13:46] Saallen commented on #983
approved with edit requests @sabrinang

[2018-07-11 13:58] Saallen commented on #982
Edits added for @sabrinang

[2018-07-11 14:50] consuelamckenzie commented on #982
@sabrinang Hi Sabrina, here is a suggested table edit. Excuse the poor sketch....

[2018-07-11 14:53] consuelamckenzie commented on #982
@sabrinang Here is a suggested table edit. Apologies for the poor sketch.... <img width="801" alt="screen shot 2018-07-11 at 15 52 36" src="https://user-images.githubusercontent.com/40797384/42580451-7b2beb5e-8522-11e8-9b07-eda4ade288e8.png">

[2018-07-11 21:10] mmmavis commented on #949
@Saallen @marcwalsh just wanted to clarify there's * no * Google Form behind this.

There are

- a form lives on our site's Fringe page
- a Google Spreadsheet to collect all the event submitted on the Fringe page. There will be a column in that spreadsheet called `approved` and that gets to control what events get to show on the Fringe page.

If you could give me a list of questions and copy I sho

[2018-07-12 10:46] marcwalsh commented on #929
I've made updates to the content on ti.to/mozilla/mozilla-festival-2018 based on the [Google Doc](https://docs.google.com/document/d/1Yz0xET9I5fji9MFEt3ri0YC4vdRQesKZkt2YzjgxGis/edit#) in #927 . The only change I needed to make was from bullet points to paragraphs as the tickets are vertically stacked.

[2018-07-12 10:46] marcwalsh commented on #929
Closing for now and will reopen if needs further changes.

[2018-07-12 10:46] #929 closed

[2018-07-12 12:29] marcwalsh commented on #949
@sabrinang @mmmavis - Looking at the 2017 layout, if it isn't being redesigned, could we try having three columns as we had quite a long list last year?

[2018-07-12 13:22] marcwalsh commented on #942
Made a couple of ammends below: mostly just having a more obvious link of where to go to sign up to apply. @KevZawacki @consuelamckenzie is there anything you'd want to change?

Volunteers are integral to what we do at Mozilla, and MozFest is no different. The annual festival could not take place without the time, dedication and love of our volunteers.

Volunteer roles are diverse, from registerin

[2018-07-12 13:48] marcwalsh commented on #947
@zee-moz,

Just adding to Sarah's comment - we don't really offer that much in terms of support. The Fringe page is just meant to gain that extra piece of marketing for smaller events and possible allow people who are travelling to extend their MozFest experience a little longer.

We don't officially endorce the events as we do not have control over their content or how the event is run in terms o

[2018-07-12 13:50] consuelamckenzie commented on #942
A couple of small changes to aid the word flow.

Volunteers are integral to what we do at Mozilla, and MozFest is no different. The annual festival could not take place without the time, dedication and love of our volunteers.

Volunteer roles are diverse, from registering participants and running welcome desks on each floor to arranging swag bags and helping with speakers. We do our very best to p

[2018-07-12 14:33] marcwalsh commented on #944
You're fully complied...

✌🏼

[2018-07-12 14:33] #944 closed

[2018-07-12 14:35] marcwalsh commented on #996
@mmmavis - Are you happy for these to be in HB2?

[2018-07-12 14:42] rtsayles commented on #944
Thank you, Marc 😃

On Thu, Jul 12, 2018, 09:33 Marc Walsh <notifications@github.com> wrote:

[2018-07-12 17:55] sabrinang opened #998 "QA: Outstanding Wrangler Bio and Photos"
Even though the deadline passed, I'll be assigning corresponding missing pieces of content to owners so they providing missing content.

Missing content may be problematic when design the festival guide and website as it looks incomplete and unfinished. https://mozillafestival.org/team/wranglers

Missing content in the spreadsheet here: https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysC

[2018-07-12 18:40] mmmavis commented on #959
Done! The displaying functionality is there. I turned the switch off for now since we have no events to show at the moment and it will be weird to show an empty section with a big "MozFest House 2018" heading. Once we have events to show, just ping me and I'll toggle the switch on.

[2018-07-12 18:40] #959 closed

[2018-07-12 20:19] sabrinang commented on #982
**Revisions**
- Top 7 Reasons section: copy "innovations" and "at our Dialogue and Debate"
- Week at a Glance: separated schedule with event and venue heading, copy "Programs begin"

**Note**
- I'd suggest we put an end time for programs for MozFest House schedule so attendees know when it closes

Copy question for @KevZawacki, Sarah asked if list items in [Top 7 Reasons section](https://redpen.io

[2018-07-12 20:37] sabrinang commented on #983
**Revisions**
- Top Bar: copy changed to "Submit your session now for the MozFest 2018 weekend! Sumissions deadline is August 1"
- Lead text added “and beyond.”

**Note**
- Make top bar link to https://mozillafestival.org/proposals

Copy questions for @KevZawacki, Sarah asked if descriptions in [Spaces section](https://redpen.io/xp5216f8cdd1a599f5?showing_comment=3114445) needs full stops? and are

[2018-07-12 20:45] sabrinang commented on #982
@Saallen Also, since the title is changed what title do you want on the navigation bar?

For example, _About MozFest_ becomes "About". Did you want the full title (may be repetitive) or shorten this (may sound odd)?

<img width="1014" alt="image" src="https://user-images.githubusercontent.com/2492510/42658038-fcf79618-85d8-11e8-8da9-31aa4a302bda.png">

[2018-07-13 00:48] mmmavis commented on #959
This is what the **Event** section will look when we have events to show.

![screenshot_2018-07-11 mozilla festival 1](https://user-images.githubusercontent.com/2896608/42666730-b216d730-85fb-11e8-9e9c-e9a5e8cdbff9.png)

[2018-07-13 15:07] consuelamckenzie commented on #982
@sabrinang @Saallen; The title on the navigation bar seems fine as 'why come to Mozfest'. Perhaps when the schedule is inserted we can change this to 'why come?', to allow for additional spacing needs on the title bar.

In terms of graphics and visual the spacing is certainly better presently with the first option. The repetition doesn't matter here.

[2018-07-13 16:21] marcwalsh commented on #996
**Copy update below for the top paragraph:**

Remove this sentence (“All information you submit here, apart from email and Twitter handle will be seen publicly”) from the second paragraph at the top, and add two new bullet points at the top or bottom of the bullet list:

- The information you submit here will be made publicly available on Github, except for your email address, Twitter handle, and

[2018-07-13 16:23] marcwalsh commented on #996
The Guidebook line will need to include Twitter Handle if we plan on including this in Guidebook also.

[2018-07-13 16:24] marcwalsh commented on #996
** Additions To Form **

Above the “Submit” button at the bottom of the form, please add a tickbox with: “I’m okay with Mozilla handling this information in accordance with its privacy policy and the bullets at the top of this form.”

Another checkbox will also need to be added for the mailing list sign up.

[2018-07-13 21:04] mmmavis commented on #949
# 3-column

It's possible to have 3-column layout but we will end up having narrow, long cards.

![screenshot_2018-07-13 screenshot 1](https://user-images.githubusercontent.com/2896608/42713617-ebc3b5c6-86a4-11e8-8718-3b6733726fe8.png)

# Full-row cards, 2-column layout within each event card

I'm thinking we can change the cards so that they take a full row each, but within the card we can displa

[2018-07-13 21:22] sabrinang commented on #949
@mmmavis I prefer the _Full-row cards, 2-column layout within each event card_ style and I agree it is a lot easier to scan with less empty card space trapped in between since the height adjusts to the variations of event description lengths.

I'd discourage having the 3-column's as it is too narrow for the variation of description length. If the list is very long, having it sorted by date could b

[2018-07-13 21:30] sabrinang commented on #991
@KevZawacki Can you review and choose a bio above?

[2018-07-13 21:50] sabrinang commented on #885
set of photos noted - closing.

[2018-07-13 21:50] #885 closed

[2018-07-13 21:53] sabrinang commented on #902
work is captured in l10n cheat sheet ticket here https://github.com/mozilla/mozillafestival.org/issues/903 since tweets were duplicated there - closing ticket

[2018-07-13 21:53] #902 closed

[2018-07-13 22:36] sabrinang commented on #956
Lockup, logo and wordmark files established last year (black and white variations included): https://drive.google.com/open?id=1Hn8HJIcdfnoUnwF1NtI9O2xZa1W8XQ3x
<img width="390" alt="image" src="https://user-images.githubusercontent.com/2492510/42716768-1df7ac5c-86b2-11e8-8804-287e63cda2c5.png">

Any MozFest House design assets will be filed separately.

[2018-07-13 22:36] #956 closed

[2018-07-13 22:39] sabrinang commented on #955
Logo asset links can be found on https://github.com/mozilla/mozillafestival.org/issues/956.
MozFest house design assets will be produced after visual direction is established and after we have scoped out what assets are needed separately.

[2018-07-15 11:33] KevZawacki commented on #991
@sabrinang & @consuelamckenzie Sure! How about:

Consuela is MozFest production manager. She has headed hundreds of media productions and events, and is an advocate for events as a tool to bring people together to share in purposeful experiences. Consuela seeks to create a festival where freedom of expression, innovation, and creativity can thrive.

[2018-07-15 11:43] KevZawacki commented on #982
Hi @sabrinang, no need for periods at the ends of 'Top 7 Reason' sentences

[2018-07-15 11:48] KevZawacki commented on #983
Hi @sabrinang

No need to full stops in the Space descriptions. And, yes, let's use em (—) dashes.

[2018-07-15 11:57] KevZawacki commented on #942
The version above is great! Just needs a link to the volunteer wiki.

[2018-07-15 12:17] KevZawacki commented on #938
@sabrinang Here it is with just a couple style tweaks:

Marc is the senior production coordinator for MozFest 2018, with this being his seventh year working on the festival. Since last year, Mark has worked on large scale events around the world with organisations such as FIFA, BBC and BMW. Drawing on this experience, he brings his logistical and production mind-set to help make sure the cogs keep

[2018-07-16 09:48] consuelamckenzie commented on #991
@KevZawacki @sabrinang
The only thing I would say apart from the apostrophe after Mozfest is from my understanding the festival has this environment already, hence the "continues in the creation'. Otherwise looks good to me...and is 3 lines!

[2018-07-16 10:44] marcwalsh commented on #915
@Saallen I think it's a good idea to make the reporting structure more transparent. If it is just you and Gunner as sole recipients, I would recommend having a different mailbox set up other than festival@ as it's the 'reply to' and main site linked to ticketing and contacting about general enquires about the festival which might be busy over the weekend for pieces that are not about incident repo

[2018-07-16 20:48] sabrinang commented on #991
Ok thanks @KevZawacki & @consuelamckenzie I added the apostrophe and included the _continues_ wording.

**Final Copy:**

Consuela is MozFest's production manager. She has headed hundreds of media productions and events, and is an advocate for events as a tool to bring people together to share in purposeful experiences. Consuela continues to create a festival where freedom of expression, innovation

[2018-07-16 20:48] #991 closed

[2018-07-16 20:58] sabrinang opened #1000 "About page: Implement Updates"
Please update https://mozillafestival.org/about based on revised design mockups based in issue: https://github.com/mozilla/mozillafestival.org/issues/983

[2018-07-16 20:59] sabrinang commented on #983
@KevZawacki Thanks for the review!

I updated the redpen so _Open Innovation_ is _Openness_ and using em dashes. Closing this issue and dev work will continue on https://github.com/mozilla/mozillafestival.org/issues/1000.

Since @Saallen is away we will get her final approval there before the page goes live.

[2018-07-16 21:09] mmmavis commented on #983
@sabrinang can you export all the assets and include the link to download them here? Thanks!

[2018-07-16 21:12] sabrinang opened #1001 "Why Come to MozFest page: Implement Updates"
Please update https://mozillafestival.org/expect based on revised design mockups based in issue: https://github.com/mozilla/mozillafestival.org/issues/982

@Saallen We are changing the name for this section, would you also want to change the URL to match it?

[2018-07-16 21:13] sabrinang commented on #982
@consuelamckenzie Thanks for the feedback on the nav bar will keep it as "why come to MozFest"
@KevZawacki Thanks for the feedback and I changed double hyphens to em dashes here too.

I updated the redpen to reflect these. Closing this issue and dev work will continue on https://github.com/mozilla/mozillafestival.org/issues/1001

Since @Saallen is away we will get her final approval there before t

[2018-07-16 21:13] #982 closed

[2018-07-16 21:21] mmmavis commented on #949
@marcwalsh are you okay with the new design we proposed? It's the "Full-row cards, 2-column layout within each event card" design I attached in this [comment](https://github.com/mozilla/mozillafestival.org/issues/949#issuecomment-404953701).

[2018-07-16 21:22] sabrinang commented on #938
Thanks @KevZawacki 👍

[2018-07-16 21:22] #938 closed

[2018-07-16 21:38] sabrinang commented on #861
@Saallen Can you approve and publish? I currently do not see 2018
![image](https://user-images.githubusercontent.com/2492510/42785040-d21939a8-8905-11e8-9921-ece865e81bbd.png)

[2018-07-16 21:48] sabrinang commented on #943
I will reassign milestone once style guide colours are established

[2018-07-16 21:56] sabrinang commented on #947
@Saallen Please provide approved google doc link with final copy

[2018-07-16 21:57] sabrinang commented on #948
I will reassign milestone once style guide colours are established

[2018-07-16 22:07] sabrinang commented on #923
@TheoChevalier any updates on hi-IN for `Data Done Right`? The only translation we are missing

[2018-07-16 22:17] sabrinang commented on #928
I will reassign milestone once style guide colours are established

[2018-07-16 22:32] sabrinang commented on #945
@TomFarrow or @rtsayles Please provide a google doc draft link for @marcwalsh to review.

[2018-07-16 22:39] sabrinang commented on #861
After looking into it the URL https://wiki.mozilla.org/Mozfest/2018 is live but is not linked from https://wiki.mozilla.org/Mozilla_Festival

[2018-07-16 22:46] sabrinang commented on #942
@marcwalsh

Can you confirm that this is the volunteer application link: https://ti.to/mozfestvolunteers/mozfest-volunteer-program-2018
and can you confirm this is the volunteer wiki link (currently empty): https://wiki.mozilla.org/Mozfest/2018/Volunteers

[2018-07-16 22:49] sabrinang commented on #945
Note: This copy will be published on this URL here: https://wiki.mozilla.org/Mozfest/2018/Volunteers

[2018-07-16 22:52] rtsayles commented on #945
Hi @sabrinang, we're meeting this week with @marcwalsh @tomfarrow to go
over this.

On Mon, Jul 16, 2018 at 5:32 PM sabrinang <notifications@github.com> wrote:

[2018-07-16 22:54] sabrinang commented on #945
Sounds good, thank you for the issue update @rtsayles!

[2018-07-16 23:31] sabrinang commented on #927
Sorry for the confusion regarding this copy ticket as it was initially for the ti.to ticket page https://ti.to/Mozilla/mozilla-festival-2018 but I think copy was completed directly in the implementation ticket here https://github.com/mozilla/mozillafestival.org/issues/929 so this should of closed.

This looks like it has become the copy issue for the /tickets page here https://mozillafestival.org/

[2018-07-16 23:34] sabrinang commented on #924
Please note to file new tickets as it changes scope of tickets assigned to heartbeats and the initial intent of tickets and keep in mind assignees do not get notified of edited comments.

I’ll be updating issue name and description as this issue has altered to track work correctly.

[2018-07-16 23:35] sabrinang opened #1002 "Tickets page: Design Mockups"
Based on content from https://github.com/mozilla/mozillafestival.org/issues/927

https://mozillafestival.org/tickets

Create revised design mockups to be approved before we implement it on the website.

[2018-07-16 23:38] sabrinang commented on #973
The status looks like 3 locales are still in progress, moving to this heartbeat

[2018-07-16 23:47] sabrinang commented on #992
The status looks like 3 locales are still in progress, moving to this heartbeat

[2018-07-16 23:48] sabrinang commented on #903
The status looks like 3 locales are still in progress, moving to this heartbeat

[2018-07-16 23:49] sabrinang commented on #986
@Saallen Any updates or details on how to close this issue?

[2018-07-16 23:51] sabrinang commented on #954
I will reassign milestone once style guide colours are established

[2018-07-16 23:51] sabrinang commented on #925
I will reassign milestone once style guide colours are established

[2018-07-17 11:03] consuelamckenzie commented on #1002
@sabrinang this is also another option for our many ticket options. It's also a very familiar format for those working with the web.

<img width="1193" alt="screen shot 2018-07-17 at 11 59 32" src="https://user-images.githubusercontent.com/40797384/42813505-28f43666-89b9-11e8-9187-8aa42d5c1877.png">

[2018-07-17 11:03] marcwalsh commented on #949
@mmmavis yeah I really like it! I do think we should ensure it sticks at 1 paragraph without line breaks otherwise the list could end up being very long.

[2018-07-17 11:04] marcwalsh commented on #942
@sabrinang yes both correct! :)

[2018-07-17 13:43] marcwalsh commented on #861
@sabrinang - it's all ready to be linked to on the parent page once it's signed off.

I can make those changes once Sarah is back

[2018-07-17 17:08] KevZawacki opened #1004 "PR agency website input"
Hi @Saallen @sabrinang @mmmavis

Our PR agency, which is pitching MozFest this year, suggested a few edits to the website. I’ve listed them below.

@Saallen, thoughts? Feel free to push back.

@sabrinang & @mmmavis, let me know if we have the bandwidth to do all / some / none of these.

[1] Add “Speakers” to top navigation bar, and link to https://mozillafestival.org/speakers

[2] Mention MozFest

[2018-07-17 21:21] mmmavis commented on #949
Done.

### Fringe events spreadsheet
This [sheet](https://docs.google.com/spreadsheets/d/1FiWFtSjiYKmHiQojQ0ZTEsLt9zx4whauV_4gvwG9Xj8/edit#gid=0) controls what get to show on https://mozillafestival.org/fringe . Simply mark the `approved` column with `y` or `yes` on the events you want to show.

### Example screencap for the events section & form

![screenshot_2018-07-17 https mozillafestival-org-

[2018-07-17 21:32] mmmavis commented on #1004
Hey @KevZawacki ,

Things I can get updated tomorrow: [3] [4] [5]

Where in the nav bar should this link go? Somewhere near `Spaces & Experiences`? Technically it's easy to add a link to nav bar but my only concern is we might have too many links in the nav. I would love to know what @sabrinang thinks UX/UI wise.

I know we are currently working on updating content on that page still. I wonder if

[2018-07-17 23:11] sabrinang commented on #1002
**Option 1 - Ticket Mockup (full-width list style)**

redpen: https://redpen.io/qs553c471f084f1706

**Option 2 - Ticket Mockup (compare card style)**
Copy should be rewritten so tickets points are easily comparable to one another and I changed the order and added heading suggestions (example: weekend, day, full festival) to help readers scan the ticket types.

redpen: https://redpen.io/ug7a9e6dc9b

[2018-07-17 23:14] sabrinang commented on #927
Please refer to mockup options in https://github.com/mozilla/mozillafestival.org/issues/1002#issuecomment-405757146 to help inform and finalize this ticket copy.

[2018-07-18 13:33] KevZawacki commented on #1004
Thanks for the quick replies, @sabrinang & @mmmavis!

[1] Whatever you decide works for me!

[2] I added a note to RedPen

[2018-07-18 22:08] sabrinang commented on #982
note: redpen https://redpen.io/dnc152cb247c41348d revised with comments from https://github.com/mozilla/mozillafestival.org/issues/1004

[2018-07-19 02:14] sabrinang commented on #962
**Option 1 - Home Page Mockup (separate video style)**
redpen: https://redpen.io/nk011a4ed19ee0977b
- hero image is a gradient with subtle photo treatment
- excluded CTA bar at the top because these updates will be live when CFP closes

**Option 2 - Home Page Mockup (integrated video banner style)**
redpen: https://redpen.io/cs6aa0082d55d20d65
- excluded CTA bar at the top because these updates wi

[2018-07-19 08:10] TheoChevalier commented on #923
Hi @sabrinang, it’s currently stuck in review, but the team should be done with it by the end of the week

[2018-07-19 10:36] TheoChevalier commented on #923
Actually this string has been approved yesterday, so we’re good to go here!

[2018-07-19 18:11] sabrinang commented on #983
Assets exported on gdrive here: https://drive.google.com/open?id=1MMqLdqEfTaBtYUlSv4uQRPmpbn0Rx1Us

Background Colours:

opacity: 0.1

orange #FF9700
yellow #F9EE08
pink #FF40FF
green #00FF6D
cyan #00FAFF
purple #8336FF

[2018-07-19 21:59] sabrinang commented on #982
Assets exported on gdrive here: https://drive.google.com/open?id=1MqDo8xqUzrFg0Vh-nz-yIMGvKtay7GtT

Colour: #362FC1
<img width="510" alt="image" src="https://user-images.githubusercontent.com/2492510/42972122-4ed9188c-8b63-11e8-99df-ded5785596ab.png">

[2018-07-19 23:29] sabrinang commented on #927
Copy updated from comments: https://docs.google.com/document/d/1Yz0xET9I5fji9MFEt3ri0YC4vdRQesKZkt2YzjgxGis/edit#

- Bullet points currently follows after paragraph (can align if they have similar length paragraphs above and have similar comparable points for each) so these sections may need to be reworked (example: benefactor does not have points)

[2018-07-19 23:29] sabrinang commented on #1002
Redpen updated: https://redpen.io/ug7a9e6dc9b6fe7083
- points have been relocated above the button in order for buttons to align on the bottom

[2018-07-20 13:15] marcwalsh commented on #996
@mmmavis

- It should be a required field
- I'll check in with legal regarding the wording again
- It's a non-required checkbox, they can choose whether we send them the MozFest newsletters that go out, however this isn't priority as it's not something we normally add into ti.to unless we give them a ticket, when they'll be asked during their ticket allocation if they'd like to sign up.

[2018-07-20 13:17] marcwalsh commented on #996
@mmmavis - The existing question is perfect, thanks! maybe but if you have any questions please contact the Festival Team with a link to festival@mozilla.org.

Just incase there is an instance of someone not wanting the data going onto GitHub.

[2018-07-20 13:23] marcwalsh commented on #998
Assigning myself to collect these.

@zee-moz & @Saallen - just want to check that you haven't been in contract with the outstanding people already?

[2018-07-20 13:23] marcwalsh commented on #986
@sabrinang - I'm closing as it's currently being talked through with legal on email.

[2018-07-20 13:23] #986 closed

[2018-07-20 16:29] zee-moz commented on #1002
hi @sabrinang  Thanks for this!
I see what you mean about the bullet points. From what I can tell, we have three (or four?) ticket types that are identical-- the weekend, benefactor, and champion are basically the same, with the same bullet points, but different pricing that attendees can select to express their support for the Festival and the mission. I THINK the youth ticket is also the same, e

[2018-07-20 17:40] sabrinang opened #1007 "Home page: Implement Updates"
Please update https://mozillafestival.org/ based on revised design mockups based in issue: https://github.com/mozilla/mozillafestival.org/issues/962

[2018-07-20 18:03] sabrinang commented on #998
@marcwalsh I have only assigned their emails to the spreadsheet cell of content they are missing but have not contacted them otherwise.

**Written Bios we are missing:**
- Joseph Thomas

**Photos we are missing:**
- Mark Boas
- Kade Morton
- Natasha Pillai
- Tendai Tirivanhu
- Victor Sansing
- Joseph Thomas

A headshot is highly preferred to match the other bio photos for our guide and for attende

[2018-07-20 18:07] sabrinang commented on #998
@kevzawacki
Can you please review the [spreadsheet](https://docs.google.com/spreadsheets/d/1eCbNq1dK2xG5DtYmoMysCGlXb4cf7dlGzIt0u7QnN0g/edit#gid=0) comments that contain wranglers bios from:

- Natasha Pillai
- Jon Tutcher
- Tina Gotschi (this appears added to the cell but not reviewed)

Can you add them to the cell itself once it is reviewed?

[2018-07-20 18:37] sabrinang commented on #998
Updated 500x500 cropped bio photos:
- Jon Tutcher: https://drive.google.com/file/d/1NQB9u6hCKyLBMhrShD98PuZq3HnFw1A0/view
- Mandy Rawlings: https://drive.google.com/file/d/1NL7jln_qaHXRjjuV1c28l0-ksfNKgUxA/view
- Juma Baldeh: https://drive.google.com/file/d/1N-lRtqfADLlcMCgUsim6IDxR_jZ-l9Fs/view

Which are added to the rest of the [500x500 photos folder](https://drive.google.com/drive/folders/1Bf6

[2018-07-20 18:40] marcwalsh opened #1008 "Add Event Specific Structured Data for Google"
I was doing some research into SEO for events and Google supports event specific structured data.

Google's guidelines are available here:
[https://developers.google.com/search/docs/data-types/event](https://developers.google.com/search/docs/data-types/event)

Implementation Docs are Available here:
[https://developers.google.com/search/docs/guides/intro-structured-data#technical-guidelines](https

[2018-07-20 18:52] sabrinang commented on #923
Thanks Theo!

https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2018/mozfest.lang&action=translate&show#string2 is complete - closing issue

[2018-07-20 18:52] #923 closed

[2018-07-20 19:46] mmmavis commented on #983
thanks!

[2018-07-20 19:46] #983 closed

[2018-07-20 19:48] mmmavis commented on #970
I don't have the bandwidth to tackle this this heartbeat. Moving this to the next one.

[2018-07-20 19:53] mmmavis commented on #912
I've labelled this ticket with `Ideas for 2019` .

We don't have the capacity to do this this year. I'm closing this ticket now.

[2018-07-20 19:53] #912 closed

[2018-07-20 19:55] mmmavis commented on #800
Closing this Epic ticket.

This is ongoing work.

This is blocked - I'm unable to get access to the GA Dashboard so I can't test.

[2018-07-20 19:55] #800 closed

[2018-07-20 19:57] mmmavis commented on #806
**BLOCKED**

I'm still unable to get access to the GA Dashboard... Multiple tickets have been filed and we have tried reaching out to admins but still haven't heard back from them.

[2018-07-20 23:10] sabrinang commented on #963
Please refer to mockup option 2 https://github.com/mozilla/mozillafestival.org/issues/962#issuecomment-406132370 to help inform and finalize this ticket copy.

Copy updated but needs to be finalized: https://docs.google.com/document/d/1ZpD2yOefHu_dXJP0omZ3-OUswFJ7ucTsv2nwz9uEW2E/edit
- excluded CTA bar at the top because these updates will be live when CFP closes
- _MozFest in Action_ section repl

[2018-07-23 14:55] Saallen commented on #1000
HEY
Design looks great and ready to go live but the photo of mark should be
![snap-fore-msurman c45cce6ceade](https://user-images.githubusercontent.com/10194015/43084554-d4208c7a-8e90-11e8-8b2e-a53c645aa7d0.jpg)

[2018-07-23 14:56] Saallen commented on #1000
Plus 🎆 on issue 1000 🍾

[2018-07-23 15:08] marcwalsh commented on #996
@mmmavis - Could you change the last bullet point to just this:

If your submission is successful, your name and session information will be added to the MozFest schedule in Guidebook.

Would it be possible for you to make these changes live as soon as possible as we'll be getting a lot of sign ups in the last few days. :)

[2018-07-23 17:32] mmmavis commented on #1001
Hey @Saallen two questions

1. What URL do we want to change it to?
2. How do we wanna handle traffic coming to https://mozillafestival.org/expect ? 404? Redirect? Or?

[2018-07-23 17:35] mmmavis commented on #1000
@Saallen we updated Mark's photo on the team page few weeks ago. Do we wanna use the same photo? Or the one you included above?

https://mozillafestival.org/team/production

[2018-07-23 17:47] sabrinang commented on #1000
We have changed it to match the hi-res leadership photo https://foundation.mozilla.org/about/leadership/

[2018-07-23 19:08] mmmavis commented on #1001
Per discussion

`/why-come-to-mozfest`

Redirect `/expect` to `/why-come-to-mozfest`

[2018-07-23 19:31] Saallen commented on #953
Steps for creating new ti.to pages

- [ ] Create standard ticket copy with questions
- [ ] Duplicate per event
- [ ] Find information as per House event listing
- [ ] Share with event manager

[2018-07-23 19:33] sabrinang commented on #947
/cc @Saallen

[2018-07-23 19:37] sabrinang commented on #942
**Final Copy**

Volunteers are integral to what we do at Mozilla, and MozFest is no different. The annual festival could not take place without the time, dedication and love of our volunteers.

Volunteer roles are diverse, from registering participants and running welcome desks on each floor to arranging swag bags and helping with speakers. We do our very best to place people in roles they're most

[2018-07-23 19:37] #942 closed

[2018-07-23 19:38] Saallen commented on #996
@marcwalsh  we are still missing your response to the second request as per the mailing list

suggestion for Marc- could the question be ??
- [ ] I understand and agree that the data collected will be used by Mozilla in accordance with our Privacy Policy, and we will email you about your session and MozFest 2018

[2018-07-23 19:39] sabrinang commented on #861
@Saallen Please review so it can be linked from parent page

[2018-07-23 19:39] Saallen commented on #945
Hi @rtsayles any update on this page?

[2018-07-23 19:54] Saallen commented on #918
Taking on board all feedback

Final copy -

MozFest brings the world together to leave the internet better than we found it. Mozilla, the non-profit behind the Firefox browser, invites you to our annual interactive festival in London, England. Come shape our best future online.

[2018-07-23 20:34] Saallen commented on #927
Final copy for ticket page

asking @KevZawacki to review for final editting and proofing [here](https://docs.google.com/document/d/1Yz0xET9I5fji9MFEt3ri0YC4vdRQesKZkt2YzjgxGis/edit#)

[2018-07-23 21:44] sabrinang commented on #1002
@Saallen Redpen updated: https://redpen.io/ug7a9e6dc9b6fe7083 according to https://github.com/mozilla/mozillafestival.org/issues/927#issuecomment-407192046 and moved italicized text below button according to @consuelamckenzie feedback

[2018-07-23 21:45] sabrinang commented on #1000
note: from our discussion, we are leaving mark's photo as is (lilac shirt headshot)

[2018-07-23 22:18] rtsayles commented on #945
Hey @saallen Do you have access to the Google Drive?   Here's what we have
so far, do you mind taking a look?  If you're ok with it, we can publish it
to the wiki:

https://docs.google.com/document/d/18b9C3Gqa42SZJcQXwPcdzReTMcMAXB-LroN2t3rAMdk/edit#
(Volunteer instructions)
https://docs.google.com/document/d/1FCaiDkPQVixgY6yqtXx6z6AHCOTs5dbPwUPlKm7JGpY/edit
(Volunteer Roles)

CC @Tom Farrow <tom@

[2018-07-23 22:59] sabrinang opened #1010 "QA: Website Footer"
Capturing @consuelamckenzie's footer feedback as QA issue
<img width="1108" alt="image" src="https://user-images.githubusercontent.com/2492510/43107071-39d39266-8e90-11e8-9c64-0fff6405badf.png">
<img width="1091" alt="image" src="https://user-images.githubusercontent.com/2492510/43107089-4a59dd34-8e90-11e8-91d4-a0938b7b299e.png">

For footer language, we will have to coordinate across all MoFo pro

[2018-07-24 01:44] mmmavis commented on #946
Applying back "blocked" label since banner image is not ready (#943) yet.

[2018-07-24 01:53] mmmavis commented on #949
Updated! https://mozillafestival.org/fringe

[2018-07-24 01:53] #949 closed

[2018-07-24 01:55] mmmavis commented on #934
@sabrinang should we close this ticket? We can use #939 to track Production Assistant bio once that person is hired.

[2018-07-24 03:42] mmmavis commented on #1007
@sabrinang @Saallen when do we want this updated homepage design to go live? Will it be after August 1 since the CTA on [the design](https://redpen.io/cs6aa0082d55d20d65) is "get tickets" instead of "submit proposal"?

[2018-07-24 04:19] mmmavis commented on #962
Reopening -

@sabrinang the video file is way too big (121M). If we are planning to autoplay video in the background we need to have a shorter clip for that and keep the clip file as small as possible. For reference I checked some reference sites you sent me and the video file sizes are all under 15mb with duration under 20 secs.

Another question - What happens after users click on the play butto