[2015-10-25 12:47] Saallen opened #292 "New Flickr account for MozFest"
Hey @edrushka  new Flickr account for uploading all Paul Clarkes photos
 Account name : Mozillafestival
Password - shared on another platform
I will transfer over 2013 and 2014 photos into this account so we have one space where we know we pull official festival photos

[2015-10-25 12:52] SpikeUK commented on #292
We will also be encouraging Festival Volunteers to take pictures of Volunteers at work (rest & play). I would like them to upload those to Flickr as well. Can we agree a common tag, or set of tags to ensure we can find these in the future.
Could I suggest the obvious "MozFest" and "MozFest15" the optional "Volunteers"?
Thank you.

[2015-10-26 00:37] lovegushwa commented on #267
@marcwalsh can your order these banners? 1 of each, 8 total.

Press ready artwork:
https://drive.google.com/folderview?id=0B2qu3ExKWIlvMktjdWFWMkZiTGM&usp=sharing

Exact specifications:
https://www.pixartprinting.co.uk/printing-flags-textiles/flags/
<img width="885" alt="screen shot 2015-10-25 at 5 31 38 pm" src="https://cloud.githubusercontent.com/assets/12228435/10719074/7122b19c-7b3e-11e5-9805-

[2015-10-26 11:00] chadsansing commented on #231
Consensus on postcard, @fuzzyfox, @Saallen, @KGorr, @ldecoursy? Would like to ship whatever else needs to be finished today.

cc @iamjessklein, @omnignorant

[2015-10-26 11:54] SpikeUK commented on #254
Another pic please to go in Ailsa's Volunteer blog. Nice Paul Clarke picture of David Ross (CC BY-SA 2.0) here >> https://www.flickr.com/photos/paul_clarke/15447640209/in/album-72157648560922709/
Thank you

[2015-10-26 12:32] chadsansing commented on #231
How is this version of the postcard, @iamjessklein, @omnignorant?

https://d157rqmxrxj6ey.cloudfront.net/chadsansing/9412/

[2015-10-26 13:39] ldecoursy commented on #231
It looks good to me - one q though. Should it say "This year during #remoteMozFest I'm working on _______"

[2015-10-26 14:31] fuzzyfox commented on #231
@ldecoursy: I think it would be best to leave it simply as #mozfest rather than #remotemozfest. For me we should try and make it feel like you're celebrating #mozfest proper, no matter where you are doing it. Less about geo, and more about celebrating.

Additionally I think it would be awesome to run both versions of this postcard. As I mentioned on the [discourse thread](https://discourse.webmake

[2015-10-26 14:32] cassiemc commented on #212
thanks @adiladiladil !

[2015-10-26 14:33] KevZawacki commented on #254
@Saallen Digital Citizenship blog copyedited and published. I've also added @SpikeUK's photo to Ailsa's blog.

Unfortunately, WordPress won't let us do any complex formatting. :-(

[2015-10-26 14:40] cassiemc commented on #234
Sure!

[2015-10-26 14:42] cassiemc commented on #267
@marcwalsh let us know if you need anything else, otherwise we can close the issue.

[2015-10-26 14:46] cassiemc commented on #267
@lovegushwa @natalieworth We noticed the bottom of the banner is just a lighter color, not necessarily a line set up to be cut... Are you planning to cut these yourself? Otherwise might need to set up a proper bleed for the printer.

[2015-10-26 14:58] marcwalsh commented on #267
@lovegushwa @natalieworth - Just checked with the printers and this item doesn't allow for cutting to a shape, which would mean that you have to cut them onsite.

We would have to go for something more rigid if we wanted to cut it to the shape you want.

[2015-10-26 15:11] cassiemc opened #293 "Order supplies to Ravensbourne"
Ordering to:
Marc Walsh / MozFest
Ravensbourne
6 Penrose Way
London
SE10 0EW
UK

- [x]   6  utility knifes (the kind with snap off blades)
http://www.amazon.co.uk/Draper-DIY-08694-Retractable-Knife/dp/B00BO89RI8/ref=sr_1_22?ie=UTF8&
qid=1446070192&sr=8-22&keywords=utility+knife

- [x]    2 painters tape
http://www.amazon.co.uk/ScotchBlue-Painters-Original-Multi-Surface-2090-48A/dp/B00004Z4DU/ref=s

[2015-10-26 15:12] cassiemc commented on #280
Updating to the new milestone. @lovegushwa what is the plan for printing these?

[2015-10-26 15:12] cassiemc commented on #279
@lovegushwa What is the plan for printing and mounting these?

[2015-10-26 15:13] cassiemc commented on #252
@mmmavis status? do you need any design help here?

[2015-10-26 15:15] cassiemc commented on #224
I'm going to close this since the assets were delivered with the festival guide. #212

[2015-10-26 15:15] #224 closed

[2015-10-26 15:16] cassiemc commented on #199
@hannahkane @mmmavis status? Moving over to the next heartbeat.

[2015-10-26 15:16] cassiemc commented on #208
Assuming this is all good since we're way past the print deadline. Reopen if any issues @marcwalsh!

[2015-10-26 15:16] #208 closed

[2015-10-26 15:18] cassiemc commented on #196
This seems dependant on #219 which has Nov 6 milestone, so adding the same milestone here and marking as blocked. Please update the issue @mmmavis or @hannahkane if I'm mistaken!

[2015-10-26 15:19] cassiemc commented on #219
This issue needs an assignee. Who's responsible @hannahkane? Looks like @Saallen or @mmmavis

[2015-10-26 15:19] cassiemc commented on #219
Blocking #196

[2015-10-26 15:19] cassiemc commented on #252
Updating to new milestone.

[2015-10-26 15:21] lovegushwa commented on #267
We will cut these, fabric sheers will work since its nylon cloth. I'm more
comfortable with this than the other available materials. The lighter color
is the cut line.
On Oct 26, 2015 7:58 AM, "Marc Walsh" <notifications@github.com> wrote:

[2015-10-26 15:21] cassiemc commented on #262
@lovegushwa @edrushka It's much harder to track a meta bug so I'd suggest we close this and file individual issues. In the meantime I'll move this over to the next milestone.

[2015-10-26 15:23] cassiemc commented on #288
@mmmavis This looks done but may need to be merged as I'm not seeing it updated on the live page. Can we close?

[2015-10-26 15:23] cassiemc commented on #255
@KevZawacki are we good to close this issue?

[2015-10-26 15:24] KevZawacki commented on #255
@cassiemc OK by me!

[2015-10-26 15:27] #255 closed

[2015-10-26 15:34] hannahkane commented on #196
This is in progress, so Nov 6 milestone is correct. Thanks!

[2015-10-26 15:38] lovegushwa commented on #293
- Foam board (we need to decide quantity )
- 3m super 77 (glue, this is the best option if available in the UK)
- 3m double sided foam tape
- nylon string
- 100 sheets neon orange paper 180 - 250gsm cardstock, A4
- 25 broad tip black markers (for posters and session labels)

...

On Oct 26, 2015 8:11 AM, "Cassie McDaniel" <notifications@github.com> wrote:

[2015-10-26 15:47] hannahkane commented on #182
@Saallen - how are we doing now?

[2015-10-26 15:48] hannahkane commented on #231
Saw I was pinged, but having trouble following the thread. Does anyone need anything from me?

[2015-10-26 15:48] cassiemc commented on #293
@lovegushwa added the above to the master list, with some questions for you.

[2015-10-26 15:50] chadsansing commented on #231
@hannahkane - I am a MozFest remote page production n00b.

- Do we need to host these somewhere other than on my repo or Thimble?
- If so, what kind of issue needs filed where and with what review?

Right now, you can see just about everything from http://chadsansing.github.io/curriculum-testing/moz-fest-remote-projects/index.html.

[2015-10-26 15:52] cassiemc commented on #289
@hannahkane is this still blocked?

[2015-10-26 15:53] hannahkane commented on #219
If I understand this issue correctly, it's now up to @Saallen to help corral the Space Wrangler and Pathfinders to update the spreadsheet that @mmmavis made, so assigning to @Saallen. If that's wrong, please feel free to correct.

[2015-10-26 15:54] hannahkane commented on #289
Yes, will be blocked until we have the schedule app finalized. Re: design help—I'm thinking we can use existing styles to add links to those pages.

[2015-10-26 15:55] cassiemc commented on #195
@hannahkane This one slipped under the radar. I assume we'll need to do this asap. Adil has finished his contract so will see if @natalieworth can help. Is the content finalized @Saallen?

[2015-10-26 15:56] cassiemc commented on #179
Blocked by #195

[2015-10-26 16:01] cassiemc opened #294 "Design polish for Mozfest site"
At first blush some of the design could be cleaned up on the Mozfest site.

- [ ] improved bio pictures on the spaces and pathways descriptions
- [ ] improved bio pictures on the team page
- [ ] some better typography
- [ ] possible animations

Focus should be on streamlining the UX and navigability of the who, what, where logistics (session names / times / descriptions), as that's where we predic

[2015-10-26 16:01] hannahkane commented on #195
Lots of conversation happening in the [content ticket](https://github.com/mozilla/2015.mozillafestival.org/issues/231).

Would be great if @natalieworth could design a MozFest-looking page based on [Chad's page](http://chadsansing.github.io/curriculum-testing/moz-fest-remote-projects/index.html).

[2015-10-26 16:02] hannahkane commented on #231
@chadsansing - ah, understood. I didn't realize a page was being built. We'd intended to host this on the MozFest site. Ticket is [here](https://github.com/mozilla/2015.mozillafestival.org/issues/195). Have asked @natalieworth to design a page based on your content, if that's alright with you.

[2015-10-26 16:04] cassiemc commented on #286
Plan when we last spoke was for @lovegushwa to come up with a template then pass this bug off to @natalieworth who can help with the final implementations.

@HPaulJohnson do you know the deadline for speakers to submit their materials?

[2015-10-26 16:05] cassiemc commented on #283
@edrushka assigning this to you, please feel free to change if that's innaccurate.

[2015-10-26 16:06] cassiemc commented on #277
@fuzzyfox any thoughts here? (excited to see you soon!!!)
@mmmavis thoughts?

[2015-10-26 16:07] chadsansing commented on #231
Sounds good - mine is not a super-duper landing page :) I think the content addresses most of the feedback so far, though, of course, not perfectly, so now is a good time for folks to chime in on anything else that's needed. @Saallen, @fuzzyfox, @soapdog, @iamjessklein, @omnignorant, @hjbailey, @ldecoursy, @KGorr   - ready to ship? Any copy bugs still out there?

[2015-10-26 16:09] cassiemc commented on #271
@Saallen do we need a physical copy of this hung in the venue? If so, I can file a new issue as part of the wayfinding materials.

[2015-10-26 16:09] cassiemc commented on #265
@mmmavis still planning to do this by mozfest?

[2015-10-26 16:09] cassiemc commented on #261
@mmmavis still planning to do this by mozfest?

[2015-10-26 16:12] fuzzyfox commented on #231
It would be great if we could get that page in such a way that we can add all the ways people can get involved. I can help work on that if/where needed, and have started creating a list of all the opportunities I know of beyond just the remote challenges ([etherpad]).

We should probably create a thread on Discourse to act as a lightning rod for additional methods to get involved too... something

[2015-10-26 16:13] chadsansing commented on #231
+1 to what @fuzzyfox said.

[2015-10-26 16:18] hannahkane commented on #231
I think that probably works. What do you think, @natalieworth?

[2015-10-26 16:18] xmatthewx opened #295 "Add link to map for directions"
I love the map under Location. And... many users will want to get directions via their map app rather than read our description. Currently, they will need to copy the address from the little map pop-up and then paste it into their map app.

I recommend we add a button to open a link to google maps in the "How to get there" section. Maybe in the map pop-up as well. If there's a way to do this for b

[2015-10-26 16:21] xmatthewx opened #296 "Location map makes it difficult to scroll"
The map on the Location page is beautiful. And... the pan and zoom make it difficult to scroll the page.

One possible fix: lock pan and pinch to zoom. Users can still use the +/- icons to browse the map a little. Most users will just want the address and button to open their own map for directions (#295).

[2015-10-26 16:24] vazquez commented on #294
I'll do it today.

[2015-10-26 16:27] xmatthewx opened #297 "Nav to Pathways"
Right now, it appears that the only way to access the Pathways page is via the text link at the top Schedule page. Might nice to put a button below the text about Spaces.  Once I'm on the Pathways page, might be nice to have a button back to Spaces.

[2015-10-26 16:35] fuzzyfox commented on #231
@KGorr what hashtag are you looking at going with for the twitter chat? If its not yet locked in, could I throw #mozfestlive into the mix, its a little less tied to the venue for the chat, and so hopefully will promote more remote engagement with it too.

[2015-10-26 16:42] SpikeUK commented on #254
@KevZawacki Thank you! Looks wonderful :)

[2015-10-26 16:42] xmatthewx opened #298 "Fix responsive widths for mobile"
I see a couple of problems with rendering in Chrome on Android 5.

# 1.
On all or most pages, I can scroll horizontally. This reveals an odd bar on the right side.

![screenshot_2015-10-26-12-24-29](https://cloud.githubusercontent.com/assets/53411/10735483/94fb7b08-7bde-11e5-945c-12103c1cac65.png)

# 2.

The ticket buttons on too wide for the view.

![screenshot_2015-10-26-12-28-34](https://cloud.

[2015-10-26 16:43] ldecoursy commented on #231
+1 @fuzzyfox !

[2015-10-26 16:59] vazquez commented on #294
Some ideas in addition to @cassiemc's:

- [ ] On Thursday, move the "Weekend Outline" section above the note from Mark.
- [ ] On Thursday, add a link on the home page right below the sub-headline that takes visitors straight to the Weekend Outline.
- [ ] Maybe add an "Outline" link to the navigation links.

[2015-10-26 17:03] xmatthewx opened #299 "Balance header on mobile"
Site looks and works great on mobile. The header and menu could use a little improvement. The margin between the Mozilla tab and Mozfest logo seems large. The margin below the menu seems small. The menu items feel a bit shy.

![screenshot_2015-10-26-12-43-22](https://cloud.githubusercontent.com/assets/53411/10735760/fea23faa-7bdf-11e5-91a9-7899bc1a2cb1.png)

Here's a quick mock up of how it could

[2015-10-26 17:07] xmatthewx commented on #294
Added a few issues to:
 - improve the UX for people getting directions (#295, #296)
 - finding pathways (#297)
 - fix layout bug on mobile (#298)
 - and improve header and menu (#299)

[2015-10-26 17:55] cassiemc commented on #231
EOD will be fine, @natalieworth has a bunch of other stuff on her plate as well :)

[2015-10-26 17:56] KGorr commented on #231
@fuzzyfox, not locked in. @ldecoursy and I should be locking that down tomorrow. We'll definitely add it the mix. Other ideas are that the team has thrown out there:
#mozfestweb
#livefrommozfest
#mozfestonline
#mozfestchat

[2015-10-26 17:58] KGorr commented on #231
Also @ldecoursy, I noticed that the tweetchat has become "all weekend long" on the remote curriculum...we were thinking it would just be a one-day, Nov 7 chat.  We should probably solidify before this gets finalized today. Thoughts?

[2015-10-26 17:59] natalieworth commented on #282
Hey @cassiemc and @lovegushwa, updates to the session name cards are on redpen. I've posted a few comments/ questions I had too:
https://redpen.io/quf942902c8d234d41

[2015-10-26 17:59] lovegushwa commented on #279
@cassiemc I think we should print, mount and install these at the school on Friday. We can omit the larger maps and just do A3.

It will be tight, but it gives us the opportunity to drop spaces names into the map before printing and it looks like there won't but much room on the map to write or place a tiny sticker.

[2015-10-26 18:03] chadsansing commented on #231
@kgorr - no decision-making here, just copy. We can make the description for the chat whatever it's supposed to be. Is everything set?

[2015-10-26 18:15] edrushka opened #300 "Graphics for Ravensbourne TV"
@marcwalsh hope I'm not creating a duplicate ticket.

We can share the mainstage slide template for the Ravensbourne TVs if you give us the size/format you need it in.

Thanks!

[2015-10-26 18:25] HPaulJohnson commented on #286
We've asked to have them by the end of the week though we should expect some slip and don't arrive until early next week.

[2015-10-26 18:28] cassiemc commented on #282
Great @natalieworth I left some comments. Could you mock up how that would look in the metal flag post things we ordered?

[2015-10-26 18:29] cassiemc commented on #279
@lovegushwa That sounds fine. I do think we should reassess the map layouts and make them vertical, with possible adjustments to how each room is labeled (could use lines out to larger text if the type is too small as-is). We might wait to decide re. space labels until we see that new layout. cc @natalieworth

[2015-10-26 18:32] lovegushwa commented on #282
@natalieworth @cassiemc also we may print these in black and white on Neon
paper so they REALLY stand out.

On Mon, Oct 26, 2015 at 11:28 AM, Cassie McDaniel <notifications@github.com>
wrote:

[2015-10-26 18:35] cassiemc commented on #282
@lovegushwa where will the neon paper be used? A little concerned it won't mirror anything else if used here, but maybe you have plans to use it elsewhere in wayfinding?

[2015-10-26 18:38] marcwalsh commented on #279
@natalieworth @lovegushwa - We will need these A2 sized which is 16.5in x 23.4in they need to be pretty big to ensure they can be seen from a bit of a distance.

[2015-10-26 18:41] marcwalsh commented on #300
@edrushka they need to be 1920x1080 JPEG format. Probably best to have it at 72dpi, as they need to be as small of a file size as possible.

[2015-10-26 18:45] lovegushwa commented on #282
@cassiemc well your right about it not being used in other parts of the
wayfinding (we could figure out how to include it in the info both design
possibly.)
But, I do think these signs are hyper critical (the biggest problem in
prior years) and a very bright color like neon will help people scan the
room for signs. So from a purely functional point of view, I think the
benefits of neon trump brand

[2015-10-26 18:45] marcwalsh commented on #271
Hi @cassiemc yes we do - this will cover more general group releases for people that might be caught in crowd shots, apart from those who are wearing a no photo lanyard.

[2015-10-26 18:46] cassiemc opened #301 "Print more Mozfest posters (beyond the festival guide)"
All the posters so far are printed on the back of the guides which are going in the totes (meaning in a perfect world every person gets one).

I think we should consider printing 30-50 extra ones (more than this @lovegushwa?) to post around the venue to add to the festive feel.

Unless @marcwalsh @Saallen you don't think that's necessary, if we are getting a LOT of extra festival guides?

We might

[2015-10-26 18:50] marcwalsh commented on #293
@cassiemc - Hey, we have a space in Ravensbourne's prototyping labs to use for this. So I would recommend that you have the supplies delivered there instead - Have a chat with @lauralillepruun she will be able to place the order for you!

Address:

Marc Walsh / MozFest
Ravensbourne
6 Penrose Way
London
SE10 0EW
UK

[2015-10-26 18:55] cassiemc commented on #300
@edrushka Who's doing the mainstage slide template, is that in another bug?

[2015-10-26 18:58] cassiemc commented on #282
Agree these signs are hypercritical. It's impossible to know what materials people will bring, but there has always been a very strong DIY maker aesthetic presence at mozfest so I think that's a valid concern.

I think the neon could be more effective if we actually used it consistently, say neon pink that is also mirrored with neon pink vinyl, and possible behind or with the official maps. Or per

[2015-10-26 19:02] cassiemc opened #302 "Create a 'photo consent' poster"
We will need to hang a poster someone in the lobby of the venue that outlines our photo consent policy. This content is being finalized in #271

@marcwalsh @Saallen Can you comment on any additional needs for this poster? What are the size requirements and where do you imagine visitors will first see this (ie will it be on a wall, or as a sandwich board on the registration tables? Will we need mor

[2015-10-26 19:04] cassiemc commented on #271
OK thanks @marcwalsh! I am adjusting this issue title slightly to reflect finalizing the content/language for this that we can then use in the design. New design issue filed as #302

[2015-10-26 19:05] cassiemc commented on #293
Woot, thanks @marcwalsh and @lauralillepruun

[2015-10-26 19:07] lovegushwa commented on #282
@cassiemc neon pink is a great idea! Let me send over some sketches on how
we might use it in some of the other parts of the system.
On Oct 26, 2015 11:58 AM, "Cassie McDaniel" <notifications@github.com>
wrote:

[2015-10-26 19:16] cassiemc opened #303 "Design QA for schedule app"
@mmmavis will let us know when she's ready for this.

Currently she's building it at http://mmmavis.github.io/mozfest-schedule-app/
eventually the url will be: schedule.mozillafoundation.org

[2015-10-26 19:19] edrushka commented on #286
When the template is done, let's add it to the Ravensbourne TV ticket here: #300

[2015-10-26 19:20] edrushka commented on #300
Thanks Mark. Mainstage template is in #286

[2015-10-26 19:28] fuzzyfox commented on #231
I think the final thing we need to do, once we have that list from finalised, is help @natalieworth out a little by creating some draft copy to promote each item, and provide a little narrative around the items. This can be finalised later, but gives something more than just a list of items and links to work from.

sound good?

[2015-10-26 19:30] natalieworth commented on #279
Hey @lovegushwa:

![map_04-01](https://cloud.githubusercontent.com/assets/14876567/10740056/48ad2d24-7bdd-11e5-837d-d05e82b7b020.png)
![map_04-02](https://cloud.githubusercontent.com/assets/14876567/10740057/48c697fa-7bdd-11e5-8f0d-912a5945c156.png)
![map_04-03](https://cloud.githubusercontent.com/assets/14876567/10740058/48c9b32c-7bdd-11e5-8fb3-66150bbc00c8.png)

[2015-10-26 19:30] lovegushwa commented on #286
@HPaulJohnson we should consider using one of the official templates, we
can augment a bit if needed?

BLUE
https://docs.google.com/a/mozilla.com/presentation/d/1OKEoa_RWBGMxPfPs32cjB9R3SgYvhURNCcahLTVcI-s/edit?usp=sharing

Also, do we say we have a preference for Google Slides (so we can
collaboratively share and edit.) Provide a Power Point OR Keynote as a
backup, and a guideline for creating a

[2015-10-26 19:36] ioana-chiorean commented on #277
Just a small reminder that the etherpads transitioned to https://public.etherpad-mozilla.org.
@fuzzyfox  let me know if u need help here.

[2015-10-26 19:44] chadsansing commented on #231
Sure - do you have a frame in mind, @fuzzyfox?

[2015-10-26 19:48] ioana-chiorean commented on #298
<img src="https://cloud.githubusercontent.com/assets/1391451/10740478/27b31b4e-7c2b-11e5-9858-49b7f532a928.jpg " height="600" width="300" >

This also reproduces on Firefox for Android.

[2015-10-26 19:51] fuzzyfox commented on #277
Unfortunately I don't think this voodoo is possible using new etherpad. In the previous instances we utilized a configuration trick that was available to team pads. This is no longer the case.

It may still be possible to do this using some API magic and bulk-creating etherpads, though I'm not 100% sure we can do this without having the keys to the etherpad castle... :| Will do a little looking in

[2015-10-26 19:54] marcwalsh commented on #301
I'm going to be onsite on the Wednesday morning at Ravensbourne to print these for you. We can print up to 42" wide, which can accomadates up to [A0+] (http://www.wrongdesign.com/images/Sizecharts.pdf) and then to the length of what ever is on the roll. It's worth having the bleed, to ensure that we have some trimming room.

[2015-10-26 19:56] ioana-chiorean opened #304 "Session and Play button overlap on mobile"
On  Firefox for Android at least the buttons overlap making it a bit difficult to use.

<img src="https://cloud.githubusercontent.com/assets/1391451/10740666/16d16b72-7c2c-11e5-9e2e-5ef6d803e905.jpg" width="300" height="550" / >

<img src="https://cloud.githubusercontent.com/assets/1391451/10740794/d9670d68-7c2c-11e5-8ce1-16f49d3672d6.jpg" width="300" height="550" / >

[2015-10-26 20:02] marcwalsh opened #305 "Bug: No content displayed on Fringe page whilst using Safari"
Strange things are happening on safari... @mmmavis @hannahkane

<img width="1016" alt="screen shot 2015-10-26 at 19 58 34" src="https://cloud.githubusercontent.com/assets/14007066/10740835/5d767fd2-7c1c-11e5-9874-7417042e2cc8.png">

[2015-10-26 20:04] fuzzyfox commented on #231
Right now all I have is that the message is that its about celebration w/o geo boundaries. I guess it could come w/ a cta for those onsite and those offsite too... Something along the lines of "Get involved and make a difference no matter where you are" and "Help others help you, share what you're working on with those not in london".

Its only rough thoughts right now... and I'm about to hop on a

[2015-10-26 20:04] ioana-chiorean opened #306 "Text - wrapping and positioning"
In some places the text wrapping is not the best:

1) Centered alignment makes it hard to read
<img src="https://cloud.githubusercontent.com/assets/1391451/10740853/374add6a-7c2d-11e5-97ff-7d657338fc0a.jpg" width=''300" height="550" / >

2) Here we might want a compact/squared one not left aligned.
<img src="https://cloud.githubusercontent.com/assets/1391451/10740863/3f470962-7c2d-11e5-93f3-5f5912

[2015-10-26 20:06] natalieworth commented on #279
@lovegushwa Emailed the ai file to you. Are we keeping the 4 large maps too, or just sticking with the A3 size?
Updates on redpen too: https://redpen.io/p/zc3ebeaf4e02b0814e
cc @cassiemc

[2015-10-26 20:06] lovegushwa commented on #280
@lauralillepruun Is Beth on github OR can you send me Beth's email again so I can get her started?
Thank you!

[2015-10-26 20:08] ioana-chiorean opened #307 "Map - Open in map app/ directions tab"
When people tap the map or the point on it they most of times expect to open it in a different app ( Google Maps, Here maps, OSM etc ) or new tab with again some directions ( on google maps etc)

<img src="https://cloud.githubusercontent.com/assets/1391451/10740955/d9e875dc-7c2d-11e5-9e78-a09ee7734e97.jpg" width="300" height="550" />

<img src="https://cloud.githubusercontent.com/assets/1391451/10

[2015-10-26 20:08] ioana-chiorean commented on #294
Overlapping Sessions & Play buttons ( #304 )
Text wrapping & alignment ( #306 )
Map - get directions (#307 )

[2015-10-26 20:10] ioana-chiorean commented on #303
I can volunteer to do some QA on it. Feel free to ping e when is done @mmmavis

[2015-10-26 20:14] HPaulJohnson commented on #286
Using the official templates works for me. I think we can request everything in Google slides and use that for everything.

[2015-10-26 20:15] HPaulJohnson commented on #286
forgot to add, are there versions of these official templates without the "confidential" small print at the bottom? we'll want to take that out at the very least.

[2015-10-26 20:19] ioana-chiorean opened #309 "Map - on desktop - zooming to easy"
Going to https://2015.mozillafestival.org/location and panning up/down will zoom in and out on the map. This should be blocked.

Firefox for Android
OS X 10.10.5

[2015-10-26 20:20] omnignorant commented on #231
message inspiration by way of @thornet http://www.ted.com/talks/taiye_selasi_don_t_ask_where_i_m_from_ask_where_i_m_a_local

[2015-10-26 20:25] cassiemc commented on #303
Thanks @ioana-chiorean! I'll be fleshing out QA bugs and labeling them with needs-help, might be another hour or so before I get to it, but feel free to pick any of those up as you see them in the future!

[2015-10-26 20:29] lauralillepruun commented on #280
@lovegushwa it's beth.lardner11@gmail.com

[2015-10-26 20:32] lovegushwa commented on #279
@cassiemc @natalieworth
I think we can simplify the map.

We list what's on each floor (the session, coffee, water, etc.) in a kind of a reductive directory list that mimics how the building stacks around the flight of stairs. Next to that directory list we then provide a detail map of a particular floor. We need to create a map for each floor anyway.

<img width="546" alt="screen shot 2015-10-26

[2015-10-26 20:37] lovegushwa commented on #286
@HPaulJohnson good idea, I'll see if we can pull that out.

[2015-10-26 20:46] marcwalsh commented on #267
@lovegushwa - Ordered!

[2015-10-26 20:50] lovegushwa commented on #267
yes! thank you @marcwalsh

[2015-10-26 20:50] #267 closed

[2015-10-26 20:50] marcwalsh commented on #279
@cassiemc @lovegushwa @natalieworth  - Hey, just checking in with this. For the large maps, we're looking for indiviual A2 prints of each map on foamex rather than a map of the entire venue.

Is this for something different, sorry if there's been a miscommunication!

[2015-10-26 20:53] lovegushwa commented on #279
@marcwalsh we are sorting this out in the next hour and will let you know. Will probably be something like four copies of the same A2 map.

[2015-10-26 21:08] cassiemc commented on #306
1) Agree, we need to decrease the line spacing on points that wrap to two lines
2) We could centre the text, but I wouldn't justify it, that would make more rivers in the text. My instinct is to centre the text to match the other mobile styles.

@ioana-chiorean could use your help identifying additional pages where this is happening. Or if it's just this one page could you post a link?

[2015-10-26 21:08] cassiemc commented on #302
@HPaulJohnson to help confirm the content today/early tomorrow.

[2015-10-26 21:09] cassiemc commented on #309
@ioana-chiorean is this a duplicate of https://github.com/mozilla/2015.mozillafestival.org/issues/296 or is this another different issue?

[2015-10-26 21:10] cassiemc commented on #296
I'm good with this solution, @xmatthewx. Read for implementation.

[2015-10-26 21:12] cassiemc commented on #297
We could have a look at the copy on these pages, but wondering if the addition of the schedule app will render this one moot. cc @hannahkane

[2015-10-26 21:12] Saallen commented on #302
@cassiemc posters from last year - https://docs.google.com/document/d/1F2xkjrGCHCffS9y2f1vddzJnBMQLEghzZL1yKlJsGME/edit
It is too time consuming to ask everyone to sign a consent form so it would be good to have something that says how avoid being photographed..

[2015-10-26 21:13] cassiemc commented on #298
@ioana-chiorean I updated the issue title, thanks!
@mmmavis is this easy for a contributor to help with? If so could you add the ```needs-help``` label for someone to pick up?

[2015-10-26 21:14] cassiemc commented on #299
This could definitely use some improvements. I can have a look at the UI tomorrow.

[2015-10-26 21:15] cassiemc commented on #307
This seems like a dupe of https://github.com/mozilla/2015.mozillafestival.org/issues/295. @ioana-chiorean please re-open if it's a different issue!

[2015-10-26 21:15] #307 closed

[2015-10-26 21:17] cassiemc commented on #304
This might depend a bit on the redesign of the header links in #299

[2015-10-26 21:19] Saallen commented on #282
We supply folks with card, paper, pens, markers and other art treats so we will ensure that we dont order any other neon- CC @lauralillepruun here for confirmation
Side not we have 39 pathways!!!! I left a note on the red pen that Session name is enough on the cards as these are orientation markers for sessions :card_index:

[2015-10-26 21:20] natalieworth commented on #282
Hey @lovegushwa @cassiemc , here are some mockups of the session name tags. I've put them up on redpen too: https://redpen.io/p/zc3ebeaf4e02b0814e

![sessionname_mockup_01](https://cloud.githubusercontent.com/assets/14876567/10742868/c0365870-7bec-11e5-8ca9-3a35d2802364.jpg)
![Uploading SessionName_mockup_02.jpg…]()

[2015-10-26 21:22] cassiemc commented on #267
high fives all around!!!

[2015-10-26 21:22] hannahkane commented on #297
I would say so, @cassiemc. Will be adding prominent links to both pages from the What to Expect page, and "Sessions" becomes the link to the full Schedule.

[2015-10-26 21:23] Saallen commented on #219
Yes , we hopefully will have this done before the end of the week- CC @mmmavis Michelle sent over an email earlier with more questions about the export and next steps

[2015-10-26 21:23] Saallen commented on #182
We have 100 tickets left :) :ticket:

[2015-10-26 21:23] natalieworth commented on #267
Woot woot

[2015-10-26 21:24] hannahkane commented on #219
The end of the week feels like it's cutting it really close. Could we set an earlier deadline?

[2015-10-26 21:25] cassiemc commented on #302
@Saallen thanks a bunch! I had to request access but am sure this will be very helpful. @sabrinang are you down for taking a stab at this?

[2015-10-26 21:26] Saallen commented on #281
@lovegushwa in previous years we have not allocated the spaces to floors until the Thursday of the event. The plan is however to work on this work flow this week

[2015-10-26 21:27] Saallen commented on #302
@cassiemc  if you refresh you should be able to access

[2015-10-26 21:27] cassiemc commented on #282
Woot, that's helpful @natalieworth! Makes me think we should design with a larger margin at the bottom, probably adding some height to the card (people will probably push the sign all the way down and the ring will end up overlapping handwriting). Are these designed to be a certain number of cards per paper? Would love to reduce the amount of paper waste if possible.

[2015-10-26 21:28] cassiemc commented on #297
Ok, let's ```won't-fix``` this then. Thanks @hannahkane!

[2015-10-26 21:28] #297 closed

[2015-10-26 21:29] natalieworth commented on #234
Hey @Saallen, I've posted some examples up on redpen just with a few questions for the updated Science Fair card. Thanks:
https://redpen.io/p/qy81d1e4d8db976f67

cc @cassiemc

[2015-10-26 21:31] cassiemc commented on #302
Fab thanks @Saallen! @HPaulJohnson can you review that doc for final copy?

[2015-10-26 21:43] SpikeUK commented on #182
@Saallen \o/ brilliant going!! \o/

[2015-10-26 22:06] lovegushwa commented on #267
:+1: !

[2015-10-26 22:09] lovegushwa commented on #281
@Saallen yes that would be excellent if possible :)

[2015-10-26 22:13] ioana-chiorean commented on #295
My proposal from #307 - slightly different ( no button and default maps app not only gmaps)
"When people tap the map or the point on it they most of times expect to open it in a different app ( Google Maps, Here maps, OSM etc ) or new tab with again some directions ( on google maps etc)"

[2015-10-26 22:13] ioana-chiorean commented on #307
Added a comment to cover all aspects - but yeah we are pretty covered ( same issue)

[2015-10-26 22:14] lovegushwa commented on #300
@edrushka @marcwalsh just to clarify these are the screens around the building and not next to the stage.

[2015-10-26 22:15] ioana-chiorean commented on #309
@cassiemc  - it might - but i though #296 is on mobile only ( i think there is no difference between desktop and mobile -> so yeah - might be the same)

[2015-10-26 22:23] natalieworth commented on #234
Updates with a more stamp-like approach are up on red pen for these. Thanks: https://redpen.io/oudc903c808ad4c98e

cc @cassiemc @Saallen

[2015-10-26 22:26] HPaulJohnson commented on #302
@cassiemc @Saallen reviewed the copy and suggested edits in the comments.

[2015-10-26 22:32] edrushka commented on #300
Yes, that's right @lovegushwa

[2015-10-26 22:39] ioana-chiorean commented on #298
Investigating it further more, on Firefox on Firefox OS it is slightly worse:

<img src="https://cloud.githubusercontent.com/assets/1391451/10744489/f7216f7c-7c42-11e5-8c84-e882e76806dd.jpg" width="300" height="550" / >

[2015-10-26 22:41] ioana-chiorean commented on #304
Investigating it further more, on Firefox on Firefox OS is displayed perfect:
@xmatthewx or someone else - can you confirm how it is on chrome ?

<img src="https://cloud.githubusercontent.com/assets/1391451/10744533/4886d30c-7c43-11e5-8181-b66cbb6e8a61.jpg" width="300" height="550" / >

[2015-10-26 22:45] ioana-chiorean opened #310 "Firefox on Firefox OS - Bottom buttons are cut"
interesting enough on Firefox on Firefox OS the bottom buttons are cut (by default, no panning performed) :

<img src="https://cloud.githubusercontent.com/assets/1391451/10744579/a169920c-7c43-11e5-8415-d54bbb037a80.jpg" width="300" height="550" / >

[2015-10-26 22:46] ioana-chiorean commented on #298
Similar but not reproducing on other plaforms - #310

[2015-10-26 23:03] marcwalsh commented on #279
@lovegushwa - If these are the main maps then let's make it bigger still if it's simple for you. Can we go for A1 instead?

[2015-10-26 23:05] marcwalsh commented on #300
@lovegushwa Yep that's right, I think they are run off Raspberry Pis now compared to Mac Minis last year. It might be worth setting up a meeting with them to discuss expectations of what your planning. The software is more simplistic than before.

[2015-10-26 23:09] marcwalsh commented on #282
@natalieworth @cassiemc - Can I get dimensions for these so I can cost up printing please.

Would these be double sided?

[2015-10-26 23:26] OpenMatt commented on #291
@edrushka hmmm I'll try to think of some stuff...

[2015-10-26 23:38] natalieworth commented on #282
@cassiemc - Updates are on redpen with a larger margin at the bottom:
https://redpen.io/p/zc3ebeaf4e02b0814e

@marcwalsh, I made the designs to fit 2 to an A3 paper size along with a bleed. In the image below, the bleed is marked with the red line. We should also be able to print these double sided.

![a4_mockup-04-03](https://cloud.githubusercontent.com/assets/14876567/10745537/fe7d211e-7bff-11e5

[2015-10-26 23:57] natalieworth commented on #294
The sessions page is still displaying the old Youth Zone icon: https://2015.mozillafestival.org/sessions (not sure if there is already a ticket for this though?)

[2015-10-27 00:24] hannahkane commented on #182
Woohoo! When do you expect we'll sell out and will need to remove the section from the site?

[2015-10-27 12:30] chadsansing commented on #231
Hack this copy (or paste in moar better copy!):

https://docs.google.com/a/mozilla.com/document/d/1Oic1ZK5Ct7ZY8kkTauVwNAuYiZzFwJv7SrcgUxvtvUM/edit?usp=sharing

[2015-10-27 13:31] cassiemc opened #311 "Print Board posters to display at Mozfest"
A request from Surman. Might be a third poster to add. Getting clarity via email.

@Saallen can you clarify which two board posters? (I believe there were four total, but maybe only two that related to mozfest?)

@lovegushwa can you add assets here for the final print files and hopefully someone can help us get these printed/mounted at Ravensbourne.

@Saallen where will they be displayed/hung?

[2015-10-27 13:41] cassiemc commented on #295
@ioana-chiorean if we can open the address in the default map, fabulous. And, if we don't have to add a button, just tap the map, that works even better. I think that's a fine plan and is ready for dev work. I'll close #307 since we're going with that plan here.

[2015-10-27 13:44] cassiemc commented on #309
I think #296 is a general solution but will add a note to clarify re. mobile vs. desktop. Thanks @ioana-chiorean!

[2015-10-27 13:44] #309 closed

[2015-10-27 13:45] cassiemc commented on #296
To clarify via #309, we should lock the map to pinch and zoom on both mobile and desktop.

[2015-10-27 13:49] cassiemc commented on #234
Cool, thanks @natalieworth. A bit more ways to go... left some comments on redpen.

[2015-10-27 13:59] cassiemc commented on #302
@HPaulJohnson fab, thank you! I cleaned up and finalized the copy here with some art direction.

@Saallen or @marcwalsh do you guys have a pic of the yellow lanyard that will be used? How big do we want this sign to be? I'm assuming we'll print this on-site at Ravensbourne and probably mount it ourselves on foamcore.

Assigning to @sabrinang, please work with @natalieworth to streamline fonts/colo

[2015-10-27 13:59] thornet commented on #219
I suggest we do the following:

* Get the data showing up now in the in schedule app. This would allow us to do testing and to promote the festival (we'd still like to sell another 200 tickets, and this would help a lot). We can message that the schedule is tentative for now.
* Meanwhile, the wranglers can continue to refine the sessions in the spreadsheet. Timing and location will come in on a ro

[2015-10-27 16:12] natalieworth commented on #195
@hannahkane @cassiemc Are we still waiting on confirmed content for this page, or can I start designing? Thanks

[2015-10-27 16:14] hannahkane commented on #231
Do we have final content for this page, @chadsansing @fuzzyfox ?

[2015-10-27 16:36] chadsansing commented on #231
@hannahkane, @fuzzyfox - if we can get a quick Y/N on some of the copy here https://docs.google.com/a/mozilla.com/document/d/1Oic1ZK5Ct7ZY8kkTauVwNAuYiZzFwJv7SrcgUxvtvUM/edit?usp=sharing I feel good about it. Last call for input @thornet, @Saallen, @omnignorant, @KGorr, @ldecoursy, @chrislarry33, @natalieworth -

[2015-10-27 16:42] ldecoursy commented on #231
Just made small comments/suggestions - looks good to me! This should also probs be a blog post.

[2015-10-27 16:44] natalieworth commented on #234
Hey @cassiemc, I like your point about doing something horizontal to allow for more writing space. I've got some rough sketches attached here. I was thinking more of an emblem/ banner could be good with an icon that could represent 'make' better (i.e. hammer, wrench, scissors, or pencil):
![img_3160](https://cloud.githubusercontent.com/assets/14876567/10765302/52c9d43a-7c8f-11e5-84fe-292f7c9a3221.

[2015-10-27 16:46] chadsansing commented on #231
@hannahkane, @KGorr, @ldecoursy, & @omnignorant have taken a look, and @natalieworth is on the doc now. Seems to have passed inspection :) Mash it up with the links from the draft landing page & run with it?

[2015-10-27 16:48] hannahkane commented on #231
OK, closing this ticket, and moving over to [Design ticket](https://github.com/mozilla/2015.mozillafestival.org/issues/195)

[2015-10-27 16:48] #231 closed

[2015-10-27 16:49] hannahkane commented on #195
Looks like content is ready:
https://docs.google.com/document/d/1Oic1ZK5Ct7ZY8kkTauVwNAuYiZzFwJv7SrcgUxvtvUM/edit

[2015-10-27 16:52] natalieworth commented on #195
@hannahkane Is this an extension of the navigation on the MozFest site or will it have it's own url (I'm just wondering for the navigation area in the mockup)? Thanks

[2015-10-27 16:55] hannahkane commented on #195
Maybe it's linked to from a fifth icon in the footer. @cassiemc - what do you think?

[2015-10-27 18:37] natalieworth commented on #195
Hey @hannahkane @cassiemc I've got the 1st mockups for this page up on redpen. I've got a couple questions on there too:
https://redpen.io/p/wadf08cec2538fa546

cc @chadsansing if you want to double check content/ add or take anything away. Thanks!

[2015-10-27 18:53] lovegushwa commented on #280
@cassiemc Beth is going to send a draft tomorrow.
@lauralillepruun you are setting a meeting up with Beth and myself I think?

[2015-10-27 18:54] lovegushwa commented on #279
@marcwalsh we can do A1, were still sorting out exactly what we will make. Should let you know soon.

[2015-10-27 18:58] lovegushwa commented on #279
@cassiemc @natalieworth here is a draft of where we can go with the maps.
Needs some more beautification, any content missing? Any additional explanation needed?

![mozfest2015_map_jordan-01](https://cloud.githubusercontent.com/assets/12228435/10769145/d0e4ca34-7ca1-11e5-8819-a92c6fbabd15.jpg)

[2015-10-27 19:10] lauralillepruun commented on #280
@lovegushwa Yes, what time would be good for you?

[2015-10-27 19:13] cassiemc commented on #279
@lovegushwa Why are certain floors in green?
Would prefer the Ravensbourne logo in pink, I think, however we can match the festival guide at this point since that's already gone to print. And some of the icons seem disproportionate to each other.

[2015-10-27 19:14] lovegushwa commented on #280
9am is perfect if that works.

On Oct 27, 2015 12:10 PM, "Laura Lillepruun" <notifications@github.com>
wrote:

[2015-10-27 19:16] lauralillepruun commented on #280
@lovegushwa Would 9.15 be ok?

[2015-10-27 19:18] lovegushwa commented on #279
Color not final, I was working quickly .
Why do we need the ravensbourne logo at all? It seems unnecessary and does
not improve the function of the map. I'll fix the icons :)
On Oct 27, 2015 12:13 PM, "Cassie McDaniel" <notifications@github.com>
wrote:

[2015-10-27 19:19] lovegushwa commented on #280
Perfect thank you !
On Oct 27, 2015 12:16 PM, "Laura Lillepruun" <notifications@github.com>
wrote:

[2015-10-27 19:25] cassiemc commented on #279
That's fine to eliminate it. I do think it adds an air of official-ness and connects to the other map in the guide but I'm not going to debate it too much! It's worth thinking about the scale of the two maps, to be sure one is clearly a zoomed out and one is clearly a zoomed in view.

[2015-10-27 19:32] cassiemc commented on #234
@natalieworth I like the horizontal wavey banner idea. Not sure the icon is working, the problem with interpreting 'make' this way is that so many things are digital or programmatic. You could possibly use a hand or hands but it might be simpler to just use generic graphic styles. Did you see the dribbble search i linked in the redpen? Might get some more inspiration re. graphic detail: https://dr

[2015-10-27 19:55] cassiemc opened #312 "Update youth icon on sessions page"
https://2015.mozillafestival.org/sessions is displaying the old youth icon. It should be a cube with a smiley face.

[2015-10-27 20:11] ioana-chiorean commented on #312
Do we have the file up? I can link it.

[2015-10-27 20:13] cassiemc commented on #312
was just sourcing it now! uno momento

[2015-10-27 20:16] cassiemc commented on #312
@ioana-chiorean Here it is: https://www.dropbox.com/s/putcaa5j09ho2qe/icon-youth.svg?dl=0

[2015-10-27 20:18] mmmavis opened #313 "More icons needed for Schedulep app"
In the original mockup, the session "card" contains icons for **time, facilitator, space and pathways**.
<img width="676" alt="screen shot 2015-10-27 at 1 15 43 pm" src="https://cloud.githubusercontent.com/assets/2896608/10771220/dc6f4a86-7cac-11e5-8b0b-15afeb48e8c6.png">

We want to add another meta **"location"** to indicate the physical location where the session takes place. So I wonder if we

[2015-10-27 20:20] cassiemc commented on #313
@mmmavis can you add the location information after the space name? So "Mozilla Learning Network, 8th floor, Room 101"?

[2015-10-27 20:38] ioana-chiorean commented on #312
Done in #314 but I have a feeling that he icon is not centered, We might need another form of it. Who can help with the design?
cc @cassiemc @mmmavis @adiladiladil

[2015-10-27 20:42] lovegushwa commented on #311
I believe @marcwalsh will be doing some large format printing at Ravensbourne. Maybe we should start a ticket to track all large format printing.

[2015-10-27 20:43] Saallen commented on #302
Its a plain yellow lanyard but i dont have a picture. It should be A1 to go behind the regstratio desks on the ground level

[2015-10-27 20:44] natalieworth commented on #302
Hey @sabrinang , I'll post the 2015 MozFest style guide for this here: https://drive.google.com/open?id=0B20-0lpP23c0czdPaGlfdFV4Unc

[2015-10-27 20:45] cassiemc commented on #302
@Saallen bright yellow? neon yellow? pale yellow? cadmium medium yellow? ;) we might just go with black and white to be safe!

[2015-10-27 20:45] Saallen commented on #302
Yes this is a  serious announcement :)

[2015-10-27 20:46] ioana-chiorean commented on #313
I like @cassiemc proposal.
But if we will need another one, for space we might use an icon similar to map one ( https://www.google.com/search?q=map+icon)

[2015-10-27 20:50] cassiemc opened #315 "Master Print and Assembly list"
@marcwalsh @Saallen perhaps you have a master list somewhere! Thought I'd open this issue to make sure we're not missing anything between @lovegushwa, @natalieworth and I, and others. Please edit this comment to add details as necessary! We can use this for our regroup on Thursday.

## To print at Ravensbourne
(check marks mean the files are complete and ready to go)
- [x] extra hackable posters #

[2015-10-27 20:57] cassiemc commented on #282
@natalieworth I definitely like the blue version. Just one comment about the label type.
@marcwalsh We could potentially print these on cardstock at Ravensbourne but they would need cutting.

[2015-10-27 21:38] natalieworth commented on #282
@cassiemc updated the 'session name' to caps and up on redpen: https://redpen.io/fw40cd519fbe9093e1

![sessionname_mockup_10](https://cloud.githubusercontent.com/assets/14876567/10773389/65f465e2-7cb8-11e5-8ed4-8c86486ddab7.jpg)

[2015-10-27 21:46] edrushka opened #316 "Create gif for post-festival sharing"
Context: When MozFest ends on Sunday evening, and throughout Monday and Tuesday, there's typically been a lot of social media activity using the MozFest hashtag. We'd like to create a fun, branded piece of content for people to share.

Idea: There will be [hackable posters] (https://redpen.io/sg568f0ca9eb7c9348) on the walls throughout the venue. Let's get the photographer to capture a few of thes

[2015-10-27 21:49] lovegushwa commented on #282
These need to be printed on light card stock ~200gsm paper. Tricky at A3,
thick enough to not flop over in the stand, light enough to run through a
printer without jamming. For that reason it would be great if we had these
printed outside if possible and we can use a little bit thicker stock and
print on both sides. I'm ok with letting the idea of neon paper go.

On Mon, Oct 26, 2015 at 4:38 PM, N

[2015-10-27 22:01] HPaulJohnson commented on #316
cc: @secretrobotron

[2015-10-27 22:33] hannahkane commented on #195
@natalieworth - looks good. Once you've had a chance to incorporate the feedback on the redpen so far, maybe we can get a review from @fuzzyfox and @kgorr as mentioned in the comments there.

[2015-10-27 23:11] ioana-chiorean commented on #296
This PR might fix it but needs a review as I am new to this. cc @mmmavis
https://github.com/ioana-chiorean/2015.mozillafestival.org/pull/2

[2015-10-27 23:57] edrushka opened #317 "Write post-festival wrap-up blog"
@HPaulJohnson to draft the skeleton. We'll fill in the content over the weekend and finalize on Monday, Nov 9.

cc @KevZawacki

[2015-10-28 01:31] Pomax commented on #305
Are there any errors in the dev tools console? (preferences -> advances -> "Show Develop menu in menu bar" option, then in the tool bar: develop -> show error console)

[2015-10-28 01:39] cassiemc commented on #311
Great idea @lovegushwa. I created https://github.com/mozilla/2015.mozillafestival.org/issues/315 to track it all. Might ultimately be better in a spreadsheet, I'd imagine @marcwalsh has his own system going on!

[2015-10-28 01:41] cassiemc commented on #313
I think it'd be good if the visitor starts to associate spaces with actual physical locations, so grouping 'em makes sense to me.

[2015-10-28 01:42] cassiemc commented on #282
Ok cool! If we can print out, let's do it. cc @marcwalsh

[2015-10-28 01:45] cassiemc commented on #316
I like this idea very much! For context, though you can probably just ignore, @natalieworth's awesome social share graphics for pre-fest are in #226

[2015-10-28 02:25] hannahkane commented on #313
+1 to grouping them; that was the original idea

[2015-10-28 05:00] mmmavis commented on #313
+1 let's go with this idea :tada:

[2015-10-28 05:00] #313 closed

[2015-10-28 07:49] mmmavis commented on #305
<img width="894" alt="screen shot 2015-10-28 at 12 47 56 am" src="https://cloud.githubusercontent.com/assets/2896608/10782438/9487aacc-7d0d-11e5-893d-5d02fc956d0c.png">

I think we probably need to explicitly call `require('whatwg-fetch');` in `fringe-events.jsx` to fix this issue.  I'll submit a patch.

Thanks for reporting @marcwalsh :smile:

[2015-10-28 08:07] #305 closed

[2015-10-28 10:59] Saallen commented on #254
hi @KevZawacki
Arts award have shared us their blog post for the festival .https://docs.google.com/document/d/1aqbIZVF_123ft9emdsor2tK5RXXKHJTARzPSyyKkSns/edit
![artsawardrgb](https://cloud.githubusercontent.com/assets/10194015/10786584/e8f8486e-7d62-11e5-990b-a90d4e1de594.jpg)

[2015-10-28 11:18] marcwalsh commented on #282
@cassiemc @lovegushwa - Amazing! I think we're just going to get these printed with Aspect, it will make it a lot easier especially with the quantity.

Are you able to send me across the artwork?

[2015-10-28 11:41] Saallen commented on #315
@ cassie I dont see the emergent session posters here? Am I missing something?

[2015-10-28 13:12] cassiemc commented on #282
yay! @natalieworth has the artwork

[2015-10-28 13:14] cassiemc commented on #315
@Saallen this isn't a comprehensive list, YET! Please feel free to edit that first comment or leave additions here and I'll update the list. I'm not *totally* clear on what the emergent session posters are... are those a template we previously designed? do you have an issue link?

[2015-10-28 13:56] KevZawacki opened #320 "Update 'Mozilla Learning Networks' Space copy on MozFest website"
Update the MLN Space copy on both the [MozFest website](https://2015.mozillafestival.org/sessions) and MozFest mobile app.

New copy will replace all existing copy, and read:

Leaders demonstrate what the Web can do. The Mozilla Learning Network Space at MozFest will convene and catalyze leaders who equip others to advance their lives on the Web.  Our leadership Space and Pathways are part of a br

[2015-10-28 14:02] cassiemc commented on #320
Just a note/FYI – that the old copy will still be in the Festival Guide since that's gone to print.

[2015-10-28 14:21] hannahkane commented on #320
@mmmavis - to make sure this change is reflected on both the /sessions page and in the schedule app, should I also add this change to the spreadsheet?

[2015-10-28 14:25] KevZawacki commented on #320
@cassiemc Good point. No problem. :-)

[2015-10-28 14:53] cassiemc commented on #316
Assigning to @flukeout please let us know if you're on-board!

[2015-10-28 14:54] cassiemc commented on #316
**Note:** the real deadline for this can't be Nov6 as we won't have images by then. @edrushka is Sunday Nov 8 cool, or do you need it mid-fest?

[2015-10-28 14:55] cassiemc commented on #302
@sabrinang please let us know you're on-board to do this. Thanks!

[2015-10-28 14:57] cassiemc commented on #293
@lovegushwa I don't think we need neon paper any more, correct? Please edit the first comment as needed. Let's get this list finalized soon so @lauralillepruun can hopefully help us order.

[2015-10-28 15:09] lauralillepruun commented on #293
@cassiemc yes let me know what you need and I'll get on it :)

[2015-10-28 15:10] edrushka commented on #316
Ready to ship by Sunday evening when the Demo Party ends. Note that we can cheat a little, and fill in some posters ourselves if needed. I can also ask the photographer to deliver some photos on Saturday.

[2015-10-28 15:41] thornet commented on #311
Tentative print run:

* Evolution of Advocacy Program and Partnerships - A0
* Evolution of the Leadership Network - A0
* Mozfest 2010 - 2015 - A1
* "Building on MoFo's last five years, we will..." - A1

Waiting final feedback from @chrislarry33 and Mark.

[2015-10-28 15:49] marcwalsh commented on #209
Printers have come back and said that the artwork does not fit in the print area.

Would you be able to alter them ASAP and send them back to me please? @adiladiladil @cassiemc

![image001](https://cloud.githubusercontent.com/assets/14007066/10794085/67488440-7d8b-11e5-89f4-18ef256d5cbf.png)

[2015-10-28 15:49] chadsansing commented on #195
I know we're far along in design, but @thornet just shipped me this link:

http://asd.learnlearn.in/my-remote-mozfest-experience/

Worth including as alternative experience under conversations? Something like, "Imagine alternatives to onsite events?"

@hannahkane, @natalieworth, @KGorr, @fuzzyfox, @cassiemc

[2015-10-28 15:58] ioana-chiorean commented on #320
@KevZawacki all descriptions have 2 paragraphs? Can I split it like:

Leaders demonstrate what the Web can do. The Mozilla Learning Network Space at MozFest will convene and catalyze leaders who equip others to advance their lives on the Web.

Our leadership Space and Pathways are part of a broad effort to cultivate a global network of web literacy leaders, people of all stripes and ages who are t

[2015-10-28 16:00] sabrinang commented on #302
@cassiemc thanks for flagging - I'll work on this today!

[2015-10-28 16:30] natalieworth commented on #279
Hey @lovegushwa Did you need me to help with these still?

[2015-10-28 16:31] natalieworth commented on #195
@cassiemc @hannahkane @chadsansing Updates to this page on red pen: https://redpen.io/ao52fe4cf670e63803

cc @KGorr @fuzzyfox

[2015-10-28 16:39] cassiemc commented on #209
@adiladiladil let us know if you can make this small adjustment please!

[2015-10-28 16:42] cassiemc commented on #195
The design looks great to me, @natalieworth R+. I think if there are additional copy or content changes, let's file those as new bugs @chadsansing so @mmmavis can start this build?

@natalieworth once you post final files here let's close this!

[2015-10-28 16:54] lovegushwa commented on #290
![img_20151023_112714 1](https://cloud.githubusercontent.com/assets/12228435/10795956/4be2bc02-7d59-11e5-8125-50b5c09ba864.jpg)
@natalieworth another classically horrible sketch.

What we need to get started:
Still 1: Straight up Mozfest logo
Still 2: Animated version of the poster (use the Mozfont)
Still 3: Photo or video roll  ( @HPaulJohnson direction here? )
Still 4: small hashtag based messag

[2015-10-28 16:54] cassiemc commented on #195
I see there are a number of copy edit suggestions in the redpen still. @chadsansing is there a copy doc @mmmavis can pull from for the final implementation, to avoid going through these iterations in the redpen?

[2015-10-28 17:00] KevZawacki commented on #320
@ioana-chiorean Yes, that works for me. Thanks!

[2015-10-28 17:10] ioana-chiorean commented on #306
some more:
<img src="https://cloud.githubusercontent.com/assets/1391451/10796548/51602bd0-7da7-11e5-8445-ade570f78a80.jpg" width=''300" height="550" / >

<img src="https://cloud.githubusercontent.com/assets/1391451/10796555/57ea56ce-7da7-11e5-9883-f831e424f46c.jpg" width=''300" height="550" / >

[2015-10-28 17:16] ioana-chiorean commented on #306
So I have parsed all pages and saw the followings:

* Location - starts centered aligned, continues with left alignament
* What to expect - left
* Sessions - centered
* Volunteer with us - centered
* Fridge - left
* About - centered
* Team - left
* Guidelines - centered, left, centered
* Submission - centered

[2015-10-28 17:24] hannahkane commented on #195
Good point, @cassiemc. I can edit the copy doc now to reflect all changes made/suggested in the redpen, and will update the implementation ticket accordingly.

[2015-10-28 17:24] cassiemc commented on #195
Thanks @hannahkane!

[2015-10-28 17:41] chadsansing commented on #195
Just about there. Waiting on a l10n campaign blog post that would make a good link for that activity. @ldecoursy is on the job.

[2015-10-28 17:55] hannahkane commented on #179
This ticket is no longer blocked, but @mmmavis isn't available to build it. Wondering if anyone else can take this on? @ioana-chiorean @Pomax ?

[2015-10-28 18:01] hannahkane commented on #195
I think we can close this design ticket, in favor of the implementation ticket. @natalieworth - can you please add assets to [that ticket](https://github.com/mozilla/2015.mozillafestival.org/issues/179)?

[2015-10-28 18:01] #195 closed

[2015-10-28 18:06] flukeout commented on #316
I'll set up a template over the next couple of days so that we can test it out with some sample images.

[2015-10-28 18:29] edrushka commented on #316
Awesome! Thanks Luke! @HPaulJohnson do you want to weigh in on how to brand this? I'm thinking it would be better to have this as 'Mozilla' rather than 'MozFest' to give it a longer life.

[2015-10-28 18:54] cassiemc commented on #209
@adiladiladil I would do this myself but I don't actually have this exact file.The link in this issue is no longer active. @marcwalsh or @adiladiladil can you reupload the source file?

[2015-10-28 18:58] cassiemc commented on #212
@marcwalsh I'm going to close this issue. Please reopen if you need anything else.

[2015-10-28 18:58] #212 closed

[2015-10-28 19:00] cassiemc opened #321 "Reorder the 'what to expect page'"
On Thursday Nov 6, or before, we should move the "Weekend Outline" section to the top of the page, above the note from Mark.

https://2015.mozillafestival.org/expect

cc @hannahkane does this work for you?

[2015-10-28 19:01] cassiemc commented on #294
All the issues flagged here have been filed as separate issues. Going to close this as I don't think we'll actually have time to address any of the polish pieces.

[2015-10-28 19:01] #294 closed

[2015-10-28 19:03] cassiemc commented on #312
Since this appears to be addressed in #314, I will close this issue here.

[2015-10-28 19:03] #312 closed

[2015-10-28 19:19] natalieworth commented on #179
@hannahkane Here are the files in google drive. Let me know if there is anything else that I can export or if svg's or different file formats are needed for anything. I'll cc @natalieworth (myself) on this in case anything else design related is necessary for development: https://drive.google.com/open?id=0B20-0lpP23c0VDNyWkc0X2FmQ1U

[2015-10-28 19:51] cassiemc commented on #301
I have leaned toward a size between A2 and A3 to keep the posters human-sized and not too intimidating to write on. @marcwalsh – here's a file that is 42 inches wide that can be used for printing 2-up. Crop marks are the black lines.

EPS: https://www.dropbox.com/s/c9oxmv1m5g69ovs/A3ish%20posters.eps?dl=0
PDF: https://www.dropbox.com/s/7mrmcre2hno9f1a/A3ish%20posters.pdf?dl=0

Let me know if you n

[2015-10-28 19:51] #301 closed

[2015-10-28 20:11] ioana-chiorean commented on #320
Thanks for quick reply @KevZawacki . This was done in #322 .
Closing it up and will follow in there with more feedback if needed.

[2015-10-28 20:11] #320 closed

[2015-10-28 20:42] cassiemc commented on #279
@Saallen @thornet Are you guys any closer to finalizing the floor names / are you still planning to do that soon? If so, then we should plan to get the A1 maps to printers as soon as we have that info and can finalize the assets. If not, then we might forgo the A1 maps in lieu of the smaller, more complete maps we make ourselves at Ravensbourne. cc @lovegushwa

[2015-10-28 20:51] ioana-chiorean commented on #321
I can take care o it around 5th evening or 6th morning (after we get the needed confirmation)

[2015-10-28 20:54] cassiemc commented on #286
@HPaulJohnson We should talk about the strategy for the slides for individual speakers. We think the template absolutely makes sense but doing everyone's slides may not... let's follow up offline.

[2015-10-28 20:57] hannahkane commented on #321
Thanks, @ioana-chiorean - that would be amazing!

[2015-10-28 20:57] cassiemc commented on #290
@HPaulJohnson We need some specs for this. What is the size and resolution, and what type of final video file do you need? cc @natalieworth

[2015-10-28 21:00] cassiemc commented on #300
@edrushka @marcwalsh @HPaulJohnson Can anyone clarify what type of content we can have on these screens? I think somewhere along the line someone mentioned live updates w/ session names and locations, or content that was more based in location/way-finding. A lower maintenance option is to just have a simple slideshow that riffs off the mainstage graphics.

[2015-10-28 21:23] natalieworth commented on #290
@lovegushwa When you get a chance, could you link me to the file downloads for Adil's typeface if they're available?

[2015-10-28 21:41] HPaulJohnson commented on #316
I like the idea of having a longer life, but it's a question of what people will be more compelled to share. If the branding doesn't impact the answer to that, go with "Mozilla" but if "Mozfest" makes it more personal, topical, and compelling to share I think we should stick with that.

[2015-10-28 21:44] HPaulJohnson commented on #290
@marcwalsh @Saallen do you know the answer to @cassiemc question about screen size and resolution?

RE: photo vs. video roll, let's go with photos - we have more to work with starting out and it will be easier to incorporate real time updates as appropriate.

[2015-10-28 22:04] natalieworth commented on #282
Print ready files for this are here in .ai and pdf format with bleed and trim marks set: https://drive.google.com/open?id=0B20-0lpP23c0N3lCSkh2eU55VU0

cc @cassiemc @lovegushwa @marcwalsh @Saallen

[2015-10-28 22:38] lovegushwa commented on #282
looks good, @marcwalsh let's print these double sided.

On Wed, Oct 28, 2015 at 3:04 PM, Natalie Worth <notifications@github.com>
wrote:

[2015-10-28 22:43] adiladiladil commented on #209
@cassiemc @marcwalsh Here is the update to the sticker

http://we.tl/qVrEYoNWmQ

[2015-10-28 22:44] natalieworth commented on #302
@sabrinang https://drive.google.com/open?id=0B20-0lpP23c0d0RWaW42T242SW8

[2015-10-28 23:04] lovegushwa commented on #293
@lauralillepruun @marcwalsh @cassiemc I think we are good to go.
Beth is checking on what kind of Vinyl we can use on the Zund machine.

[2015-10-29 00:17] sabrinang commented on #302
progress on redpen: https://redpen.io/p/mw9711f42a39d82a6c
@cassiemc Do we want a title for the poster? (I put Photo & Video Consent on the mockup) Let me know if this poster is heading in the right direction

[2015-10-29 01:13] natalieworth commented on #234
@cassiemc Updates for this are on redpen: https://redpen.io/uwaa9b0eb01d1e7a22 Instead of a wrench, pencil, etc. representing make, I was thinking I could include the gear icon. Then it's not to restrictive to science either. For the stamp-like approaches, I tried to incorporate some of the dribble examples. Thanks

[2015-10-29 01:48] Pomax commented on #179
Working on this in https://github.com/mozilla/2015.mozillafestival.org/pull/324, deployed on http://mozfest-2015-with-remote-page.herokuapp.com/remote but this probably requires @mmmavis giving things a look over because I can't seem to get the styling to match the comp at all...

[2015-10-29 10:45] msurman commented on #311
I actually think we want:

1. All 8 posters same as we had at the board meeting.
2. Plus a 'centre column' of two or three posters w/ simple copy explaining what people are looking at and how to act.

-> e.g. on 2, A. "Mozilla 2020: we want your feedback on where we take Mozilla Foundation and MozFest over the next five years. Put up your sticky notes" B. list of our three main strategy points fro

[2015-10-29 10:49] thornet commented on #311
@lovegushwa could you get @marcwalsh large-format print tiles for the 8 posters from the board meeting? Note: we'll be using European paper formats.

@KevZawacki would you mind taking a stab at the copy @msurman outlined? Think we won't need overly designed posters for this -- just take the board slide template and add text.

[2015-10-29 11:45] msurman commented on #311
Also, @thornet: are you also printing bigger versions of the two timelines posters for your annotation exercise? I'm assuming those are separate.

[2015-10-29 12:30] thornet commented on #311
Ah, good call.

Yes, in addition to the 8 posters we'll need A0 size of the two timelines:

* Evolution of Advocacy Program and Partnerships
* Evolution of the Leadership Network

And in case it's not already in the 8 posters, a poster version of this slide:

* "Building on MoFo's last five years, we will..."

[2015-10-29 13:31] cassiemc commented on #316
Why don't we make two versions? Switching out the logo shouldn't take long.

[2015-10-29 13:33] cassiemc commented on #282
@marcwalsh let us know if we're good to close this, thanks :)

[2015-10-29 13:36] cassiemc commented on #293
@lovegushwa list looks great to me.

[2015-10-29 13:41] lauralillepruun commented on #293
@lovegushwa Is this what you need me to order?
- Foam board (we need to decide quantity ) - 3m super 77 (glue, this is the best option if available in the UK) - 3m double sided foam tape - nylon string - 100 sheets neon orange paper 180 - 250gsm cardstock, A4 - 25 broad tip black markers (for posters and session labels)

[2015-10-29 13:42] cassiemc commented on #302
@sabrinang definitely on the right track, love the illustration, thank you! Left a few comments in redpen.

[2015-10-29 13:44] cassiemc commented on #293
@lauralillepruun The complete list is in the first comment (@lovegushwa and I have been editing it there as a master list). There are a couple outstanding questions you could perhaps help with re. what's available in the Ravensbourne space.

* 3 aluminum rulers (2@~.5m 1@1m) ... (does the school have these?)
* xacto knife cutting boards (does the school have cutting surfaces?)

[2015-10-29 13:46] cassiemc commented on #234
YES! The gear is absolutely perfect. I like the top version! @Saallen does that work for you?

[2015-10-29 14:01] lauralillepruun commented on #293
@cassiemc I'm checking about the rulers and cutting surfaces now and then get on with ordering :)

[2015-10-29 14:08] cassiemc commented on #311
@lovegushwa Can you add the drive link to the posters here? I can help resize them to European sizes, just want to make sure I have the latest files.

[2015-10-29 14:16] marcwalsh commented on #290
The screens are HD so make sure it's 1920x1080 (square pixels). For video, they are normally played off a Mac Mini, so a H264 video would be fine!

I can always convert them if necessary while testing.

[2015-10-29 14:17] cassiemc commented on #303
@xmatthewx Can you help us figure out what major platforms we should be testing the schedule app on? Feel free to cross any of these out or add more.

### Mobile
- [ ] iOS (6+?)
- [ ] Android (Nexus 5+?)
- [ ] FF OS??

### Desktop
- [ ] Firefox
- [ ] Chrome
- [ ] Safari
- [ ] ie10
- [ ] ie11

[2015-10-29 14:20] marcwalsh commented on #311
I'll be printing these next Wednesday onsite, the same as any other large format printing. It would be great to have everything in a drive folder so they are all in one place!

[2015-10-29 14:24] cassiemc commented on #281
@Saallen any updates on floor assignments? @lovegushwa I'd venture to say we could start on this before we have that info. Going to remove the 'blocked' label.

[2015-10-29 14:27] cassiemc commented on #209
@marcwalsh if you need additional bleed on this, let us know how much. We just need to make the white background square bigger.

[2015-10-29 14:28] cassiemc commented on #288
This is still not reflected on the live site.

[2015-10-29 14:30] cassiemc commented on #287
I can confirm this is happening on my version too – Safari Version 9.0.1 for mac.

[2015-10-29 14:30] cassiemc commented on #283
@edrushka Any updates here, can we close?

[2015-10-29 14:31] cassiemc commented on #285
It doesn't sound like we are going to do this. Since we'll be printing med-sized posters onsite, we should be good to wait until the spaces are allocated.

[2015-10-29 14:31] #285 closed

[2015-10-29 14:34] cassiemc commented on #263
@edrushka Do we need to keep this open or are there now separate bugs?

[2015-10-29 14:35] cassiemc commented on #254
@Saallen update?

[2015-10-29 14:35] cassiemc commented on #197
@Saallen status? Should we close this?

[2015-10-29 14:36] cassiemc commented on #182
@Saallen update?

[2015-10-29 14:36] cassiemc commented on #170
@Saallen @adamlofting Can we close this?

[2015-10-29 14:37] cassiemc commented on #264
@edrushka I'd recommend you send an event invite out if you still need help with stuff. Otherwise, are we able to close this ticket, or file smaller follow-up tickets? Might be better in the fundraising repo :)

[2015-10-29 14:56] adamlofting commented on #170
:+1:

[2015-10-29 14:56] #170 closed

[2015-10-29 14:58] lauralillepruun commented on #293
@cassiemc  I can only find rulers of 1m and 1.2m. will those do?

[2015-10-29 15:03] lauralillepruun commented on #293
@cassiemc how many cutting boards do you need and have you decided about the vinyl?

[2015-10-29 15:16] marcwalsh commented on #209
It's good, and printers are happy now!

[2015-10-29 15:16] #209 closed

[2015-10-29 16:19] edrushka commented on #283
I'd like to leave this open for now as some specific pieces of the video work are still in flux.

[2015-10-29 16:20] edrushka commented on #263
Open, please, in case people have general content questions.

[2015-10-29 16:31] valianttry commented on #264
Just coming back from PTO and have to say....... this is really amazing. :smiley:

[2015-10-29 17:10] xmatthewx commented on #303
We've used the list below in the past, supporting the latest version and one before it on desktop. I don't think you need to worry about the stock Android browser for Mozfest. Also, IE is probably a very small segment of our audience (4% on Webmaker site).

- [ ] Desktop
    - [ ] Chrome (latest - 1)
    - [ ] Firefox (latest - 1)
    - [ ] Safari (latest - 1)
    - [ ] IE (latest - 1)
- [ ] Andro

[2015-10-29 17:29] cassiemc commented on #303
Thanks @xmatthewx let's go with that list.

[2015-10-29 17:35] cassiemc commented on #303
Also, let's file any issues here: https://github.com/mozilla/mozfest-schedule-app/issues

[2015-10-29 17:42] hannahkane commented on #196
I think we can close this as all Schedule app work has moved to the https://github.com/mozilla/mozfest-schedule-app repo

[2015-10-29 17:42] #196 closed

[2015-10-29 17:49] mmmavis commented on #288
@cassiemc merging into `develop` triggers staging site deployment and merging into `master` triggers production site update.

I'll update the `master` branch now.

[2015-10-29 17:51] lovegushwa commented on #290
@natalieworth some of the backdrop design process might be helpful for transitions / background.
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvYUNDeE1yaUN0UE0/view?usp=sharing

<img width="761" alt="screen shot 2015-10-28 at 2 24 59 pm" src="https://cloud.githubusercontent.com/assets/12228435/10803526/d9832a44-7d7f-11e5-8425-f1f482e95325.png">
<img width="758" alt="screen shot 2015-10

[2015-10-29 17:52] cassiemc commented on #288
woot, thanks @mmmavis! :+1:

[2015-10-29 18:01] natalieworth commented on #290
@HPaulJohnson Do we want to include a gear store promo too in the video? I noticed we're promoting a couple other Mozilla related products, or if we should just stick to firefox 42 and teach.mozilla.org.

[2015-10-29 18:04] KevZawacki commented on #254
@Saallen Arts Award blog added!

[2015-10-29 18:14] HPaulJohnson commented on #290
@natalieworth - great idea, yes.

also, would like to add in some information about the "fireside" chats, one on Saturday afternoon with Jacob from Souktel and one on Sunday with Mitchell. Want to make sure those get promoted and are well attended. @KevZawacki can you provide details for natalie to include on screen (chat titles, time and location and participants)

[2015-10-29 18:15] fuzzyfox commented on #231
@ldecoursy I'm working on a blog post of my own to cover a lot of this, as well as explain a little more about the #mozfestremote group that will be working w/ me onsite. Will ask for a review on that when its ready (prob sat/sun). Will open a new ticket for that though.

[2015-10-29 18:20] ldecoursy commented on #231
Sounds great @fuzzyfox. Later today or early tomorrow, we're going to post separately about the Web Literacy Basics curriculum l10n piece.

[2015-10-29 18:29] cassiemc commented on #315
This is all tracked much more thoroughly in this doc here: https://docs.google.com/spreadsheets/d/1nOphU77wnjZzkRyAhoo-KiSdZ2nD4HjUg1A4SQykMF4/edit#gid=0
Closing this!

[2015-10-29 18:29] #315 closed

[2015-10-29 18:30] mmmavis commented on #288
live on https://2015.mozillafestival.org/team :tada:

[2015-10-29 18:30] #288 closed

[2015-10-29 18:44] cassiemc opened #325 "Meet & Greet cards for Mozfest participants"
This was overlooked in the master print list... We'll need it asap to order them externally.

This is basically a business card sized paper, on card stock, for people to write on when they meet someone.

@marcwalsh any more details to add? What should the card say?

[2015-10-29 18:52] cassiemc commented on #325
This will be due Monday Nov 2 EOD UK time / 9am PT. We should prob aim to finish this Friday (sorry @natalieworth!)

[2015-10-29 18:58] cassiemc commented on #325
From @marcwalsh:  "it should basically say who I am, what I do, and how to contact me" The context is that when someone meets a new person at Mozfest, they can give out this card as a way to keep in touch.

**Copy:**
Nice to have met you at Mozfest 2015! Let's stay in touch.
Name: ___________________
How to reach me: ________________
What we talked about: _____________________

[2015-10-29 19:20] cassiemc commented on #290
@HPaulJohnson can you post the content you want included here?

[2015-10-29 19:28] cassiemc commented on #286
@sabrinang Looks like @lovegushwa needs help with adjusting the template. Can you help with this? We're aiming to have it done end of this week / early next week. When do you fly out to London?

[2015-10-29 19:38] lovegushwa commented on #286
@sabrinang so I think it's straight forward. You have been doing lot's of deck work for teach, if you think something is missing or does not work well in the official template feel free augment.

- We need to pull the confidential and Tabzilla out.
- We could also maybe add some Mozfest flare to the title slide (very subtle, could be the gear).
- Could be nice to show a few ways to place an image

[2015-10-29 20:03] cassiemc commented on #286
@kristinashu is going to take this one on instead of @sabrinang. Thanks Kristina :)

[2015-10-29 20:17] ioana-chiorean commented on #288
Yay! Thanks for the merge! :tada:
@thornet's description is now clean :dancer:

[2015-10-29 20:27] ioana-chiorean commented on #197
@Saallen should we implement @ryanpitts suggested text on the page? https://2015.mozillafestival.org/guidelines

<i>
If you believe you‘re experiencing practices at MozFest which don't meet the above policies, or if you feel you are being harassed in any way, please contact us right away. We have a plan in place, with people ready to help you. Your concerns will be treated confidentially and respe

[2015-10-29 20:28] Saallen commented on #254
Hi @cassiemc - what update do you need from me?

[2015-10-29 20:30] ioana-chiorean commented on #303
@cassiemc is if available yet?

[2015-10-29 20:34] HPaulJohnson commented on #290
This is the initial list of content:
https://docs.google.com/document/d/1L-iwk5IxrDaU3mI75HGCeGwNqbx4TgwXyb3WMeYhJWo/edit

 I'll work on copy for the ones that require it.

[2015-10-29 20:50] ioana-chiorean opened #326 "Site zoomed out at first load"
Just got this earlier at first loading and was wondering if anybody else had it.
As it is a mole page zooming in/out is blocked so this should not happen.

Not critical as after refresh is ok.

<img src="https://cloud.githubusercontent.com/assets/1391451/10831601/4975ab82-7e8f-11e5-9e76-d1f43c2e33e9.jpg" width="300" height="550"" />

[2015-10-29 20:54] natalieworth commented on #325
Hey @cassiemc , got some rough drafts from these cards up on redpen: https://redpen.io/koe5e7c7fd5344fa7d
Thanks

[2015-10-29 21:02] hannahkane commented on #326
I can't reproduce this. What browser?

[2015-10-29 21:43] natalieworth commented on #325
@cassiemc Refinements up on redpen: https://redpen.io/dob2c1c78ff8cab534

[2015-10-29 22:09] ioana-chiorean commented on #326
Firefox for Android.

[2015-10-29 22:18] kristinashu commented on #286
@lovegushwa @cassiemc here are the updated slides:
- Removed confidential and Tabzilla
- Added some background pattern to the title slide
- Added three options of image layouts

I did two version, one with the Mozilla light blue https://docs.google.com/a/mozilla.com/presentation/d/1ce0FxNJ1XnBbT6ZECdEJ1St87u86PL5kByBXohrSAE4/edit?usp=sharing
and another with the MozFest dark blue https://docs.goog

[2015-10-29 22:20] natalieworth commented on #290
@HPaulJohnson Are there any visuals that are required for the promotions, or can I do what I think is best?

[2015-10-29 22:27] HPaulJohnson commented on #290
@natalieworth you can do what you think works best. the exception will be the FF 42 promo which I'm tracking down some assets for and hope to have something to send to you today to work with.

[2015-10-29 22:40] sabrinang commented on #302
@cassiemc - redpen updates: https://redpen.io/p/mw9711f42a39d82a6c
- mozfest name tag illustration
- blue stipe bg
- changed air.mo icon and moved section

@Saallen Does the title "Photo & Video Consent" work for the title of the poster?

[2015-10-29 23:53] HPaulJohnson commented on #290
Draft copy for a bunch of the slides now available: https://docs.google.com/document/d/1L-iwk5IxrDaU3mI75HGCeGwNqbx4TgwXyb3WMeYhJWo/edit

[2015-10-30 02:38] lovegushwa commented on #280
@marcwalsh these are ready to print at https://www.pixartprinting.co.uk
https://drive.google.com/folderview?id=0B2qu3ExKWIlvQTdxU2VBMnZPUVE&usp=sharing

8 files total, 1 of each
<img width="856" alt="screen shot 2015-10-29 at 7 02 59 pm" src="https://cloud.githubusercontent.com/assets/12228435/10837251/576108a6-7e74-11e5-9ed2-8f0b42e4a912.png">

1 file total, 10 copies
<img width="880" alt="screen

[2015-10-30 05:00] lovegushwa commented on #311
@marcwalsh these are read to print at https://www.pixartprinting.co.uk/

A0 and 24x36" size, print one of each
https://drive.google.com/folderview?id=0B2qu3ExKWIlvd1RWdl82ZGhqMUU&usp=sharing

<img width="870" alt="screen shot 2015-10-29 at 9 56 35 pm" src="https://cloud.githubusercontent.com/assets/12228435/10838777/5f84702c-7e88-11e5-9c21-4f1cb796d169.png">

[2015-10-30 06:46] lovegushwa commented on #281
@marcwalsh
Can you ask your contacts at Ravensbourne college the exact specifications of the vinyl we need to order?

- What brand do they prefer if any ?
- What roll width?
- Will we need to cut the roll down to flat sheets for the Zund machine?

Once we get the specifications, please order a pink roll that's close to or matches Pantone 191 or 812. If you can't find a close match order black.

-

[2015-10-30 12:04] Saallen commented on #254
Second last blog post  From Beka Khann - cc @KevZawacki
[mozfest15_blogpost-1.docx](https://github.com/mozilla/2015.mozillafestival.org/files/24157/mozfest15_blogpost-1.docx)

[2015-10-30 13:09] chadsansing commented on #231
@fuzzyfox: Discourse threads for Test @ The Fest are live, and I updated the Thimble project with the new links.

https://discourse.webmaker.org/c/events/mozfest

[2015-10-30 13:31] marcwalsh commented on #325
@natalieworth looks awesome! Just confirming sizes they need to be 85mm x 55mm please. We're going with Pixart as they are around £200 less than local printers.

https://www.pixartprinting.co.uk/digital-litho-printing/printing-business-cards/

[2015-10-30 13:44] KevZawacki commented on #290
@HPaulJohnson Still need a hand with fireside chat copy?

From your doc: the title, time and participants for the Saturday chat is right on. Not sure about the location -- floor 4 is correct?

The Sunday chat still needs development, so we can't commit all the copy yet. But, it will definitely be Mitchell at 1 p.m.

[2015-10-30 13:54] lauralillepruun commented on #281
@lovegushwa @marcwalsh I'm waiting for Lauren to put me in touch with the guys, as soon as she does, I will check with them about the vinyl and order it

[2015-10-30 14:24] cassiemc commented on #288
yay, thanks for your help @ioana-chiorean! :confetti_ball:

[2015-10-30 14:31] cassiemc commented on #303
App is ready for QA here: http://mozilla.github.io/mozfest-schedule-app/
File any issues here: https://github.com/mozilla/mozfest-schedule-app/issues

[2015-10-30 14:45] cassiemc commented on #286
Thanks for this @kristinashu, such a big help. I like that you included two different color schemes, and love the background. A few things:

* Are slides 2-5 intended to be completely blank?
* I would include a title page with name of the talk, name of the presenter, and their position / organization
* Slide 7 - the pic doesn't look properly placed on the page. Was there meant to be a caption or s

[2015-10-30 14:50] lauralillepruun commented on #281
@lovegushwa this is the reply I got-  the zund machine is A1 in width but it can be longer, however the length has to be A1
there is no preference on brand,
and it doesnt have to be cut as the machine has a vaccuum bed which allows it to fit it

Does that answer all your questions?

[2015-10-30 14:50] cassiemc commented on #302
Sweet @sabrinang, almost there,  thank you! Left a few comments on redpen to consider.

[2015-10-30 16:18] hannahkane commented on #231
@chadsansing - if there are any changes needed on the Remote Challenge page, can you please be sure to update the [implementation ticket](https://github.com/mozilla/2015.mozillafestival.org/issues/179). Thanks!

[2015-10-30 16:22] chadsansing commented on #231
@hannahkane - for sure. I only anticipate @ldecoursy 's forthcoming L10n link.

[2015-10-30 16:23] natalieworth commented on #325
@cassiemc @marcwalsh Uploaded to redpen the version with the 85mm x 55mm dimensions:
https://redpen.io/p/qj26933057979f7d94

[2015-10-30 16:30] natalieworth commented on #234
@cassiemc @Saallen I've uploaded the final version of this to the google drive. Print ready file for the 'Made at MozFest' template can be found here: https://drive.google.com/open?id=0B20-0lpP23c0MWZWV2w4ZHpkMkE

[2015-10-30 16:31] hannahkane commented on #310
@Pomax - any chance you could help with this one?

[2015-10-30 16:33] hannahkane commented on #287
Not sure @mmmavis will have time for this. @Pomax - is this something you could look at?

[2015-10-30 16:39] ldecoursy commented on #231
Here it is! https://wp.me/p6e0l1-3Eq

[2015-10-30 18:16] Pomax commented on #287
unfortunately, not today (working on windows machines the entire day), but I can look at it over the weekend if needed?

[2015-10-30 18:17] Pomax commented on #310
I don't have a new enough FFOS device, but if I can find one at the office I can try to see what's going on.

[2015-10-30 19:14] KevZawacki commented on #254
Thanks, @Saallen -- just published.

[2015-10-30 19:26] KevZawacki commented on #311
@thornet Happy to help. Might need a little clarification on the project:

I'll pen copy that gives context to the eight board posters on display, correct? Is there a link to the eight posters, and how they'll be arranged?

[2015-10-30 19:59] lovegushwa commented on #281
@lauralillepruun
Metamark Vinyl is good, it should be broadly available.

M4-382M (Magenta Matte) if available. If not M4-311M (Black Matte)
760mm roll width. 30m length to be on the safe side.

http://www.metamark.co.uk/pages_sv/4seriesgl.htm#gloss
<img width="886" alt="screen shot 2015-10-30 at 11 54 39 am" src="https://cloud.githubusercontent.com/assets/12228435/10855349/48066ede-7efe-11e5-952f

[2015-10-30 20:59] kristinashu commented on #286
@cassiemc here's the updated template: https://docs.google.com/a/mozilla.com/presentation/d/1JyLTCgLypUHYnbBpg7NVaKTYlswB4HCaOqKLdye5JBw/edit?usp=sharing

I'm using templates and all the slides you see are examples of the template pages.
- The placeholder text doesn't show up in the thumbnail view, you have to click on the slide to see the content.
- The template has bullet formatting (copied from

[2015-10-30 21:46] mmmavis opened #327 "Clean up .illustration related less code"
... as it might be overly complicated :wink:

[2015-10-30 22:28] mmmavis commented on #252
sorry haven't had time to work on this yet.  this will be my todo on Monday

[2015-10-30 22:29] mmmavis commented on #265
@cassiemc nope. Don' think we'll have time for this.  Let's just remove it from any milestone?

[2015-10-30 22:31] #199 closed

[2015-10-30 22:40] hannahkane commented on #287
This one's pretty bad, so would be great if someone could look at it.

@cassiemc - maybe you or you and me together should triage the QA tickets that have been filed, and identify the ones that are "mustfix"?

[2015-10-30 23:05] #287 closed

[2015-10-30 23:08] mmmavis commented on #287
I just merged a workaround to fix the problem on Safari. Will be live soon.

[2015-10-30 23:49] sabrinang commented on #302
@cassiemc - updated redpen: https://redpen.io/no2cdc4162247f3987
- balanced out spacing
- rearranged text order

[2015-10-31 00:57] natalieworth commented on #290
@cassiemc @lovegushwa @HPaulJohnson Slides are up on redpen with a few comments/ questions: https://redpen.io/ko597921be06e6bad9

I'll upload/ link to some animation transitions once the style frames are good to go. Thanks!

[2015-10-31 11:50] ioana-chiorean commented on #310
@Pomax - just as FYI - I see this on a Flame ( not  the new device )

[2015-10-31 13:35] soapdog commented on #231
:+1: @ldecoursy, awesome! thanks a lot for the hard work

[2015-10-31 19:48] Saallen commented on #254
:banana:

[2015-10-31 19:49] Saallen commented on #234
:heart_decoration:  thanks @natalieworth - Is there somewhere Marc can access these files in one place so he can print easily on Wed?

[2015-10-31 19:58] Saallen commented on #252
:palm_tree:

[2015-10-31 20:03] Saallen opened #331 "Small content updates for the website-"
There are some minor content updates required on the website - many have been captured on other issues but not updated so thought I should make a new issue for them all so they are easier to manage and update
- [ ] Contact info on guidelines page #197
- [x]  Twitter handles on Global Village bios Jon Rogers - @ileddigital
 Ian Forresters- @cubicgarden and Jasmine Cox - @wearesorryfor

cc @mmmavis

[2015-10-31 20:28] ioana-chiorean commented on #331
I can take care of them @Saallen - I just need a confirmation on #197 on the new texts ( for ex the text propose has no phone etc)

[2015-10-31 20:36] ioana-chiorean commented on #331
Second part is covered in PR #332

[2015-10-31 20:40] ioana-chiorean commented on #252
I think I can help here a bit - but for me it is unclear where the descriptions and pics should go exactly. @mmmavis  i can help with small changes like this too so ping me of needed.

[2015-11-02 15:35] marcwalsh commented on #280
All ordered!

[2015-11-02 15:37] marcwalsh commented on #311
All ordered from Pixart - Will be Delivered Wednesday

[2015-11-02 15:38] marcwalsh commented on #325
This is perfect @natalieworth - Am I able to get the PDF please?

[2015-11-02 16:09] lovegushwa commented on #280
Great thank you Marc!

On Mon, Nov 2, 2015 at 7:35 AM, Marc Walsh <notifications@github.com> wrote:

[2015-11-02 16:34] marcwalsh commented on #311
@lovegushwa - I have recieved the following errors back from Pixart.

<img width="609" alt="screen shot 2015-11-02 at 16 29 39" src="https://cloud.githubusercontent.com/assets/14007066/10887451/11d19f5e-817f-11e5-9154-b221f6ca2945.png">

It looks like the artwork is 1mm too big. The measurements need to be 91.6 x 61.1 and it's currently 91.6 x 61.2.

I need this ASAP to match order deadlines.

[2015-11-02 16:36] lovegushwa commented on #293
@lauralillepruun @marcwalsh
Sorry I forgot these, I just realized a need 2 squeegee's and 2 spray bottle for vinyl instillation on Wednesday:
http://www.amazon.co.uk/Carbon-Wrapping-Squeegee-Di-Noc-Oracal/dp/B007VTPD14/ref=sr_1_2?ie=UTF8&qid=1446481790&sr=8-2&keywords=3m+vinyl+squeegee

http://www.amazon.co.uk/SIBEL-Ball-water-spray-bottle/dp/B003WJH7HA/ref=sr_1_8?ie=UTF8&qid=1446481875&sr=8-8&key

[2015-11-02 16:37] fuzzyfox commented on #179
My blog post about remote participation at the fest, looking for tweaks/feedback. /cc @chadsansing @ldecoursy

I'll post once this bug is closed ;)

**Not public link:** http://blog.wduyck.me/p/05e74ed9-ad91-4469-928a-ac1475ef57e2/

[2015-11-02 16:39] lovegushwa commented on #311
@marcwalsh will fix these and send you a new link right now.

[2015-11-02 16:40] lauralillepruun commented on #293
@lovegushwa Done!

[2015-11-02 16:47] chadsansing commented on #179
Awesome, @fuzzyfox. You killed it. Is the remote page live yet? Should 'web we want' in paragraph 3 link to https://webwewant.org/? Since the last sub-header uses 'more,' should the l10n CTA use a different verb, e.g., 'find out how to help,' or, 'find out how to contribute?'

Love the post. So excited!

[2015-11-02 16:55] lovegushwa commented on #311
@marcwalsh ok the files are fixed.
https://drive.google.com/folderview?id=0B2qu3ExKWIlvd1RWdl82ZGhqMUU&usp=sharing

[2015-11-02 16:56] lovegushwa commented on #293
Yay, thank you Laura!

[2015-11-02 17:19] marcwalsh commented on #325
@natalieworth - Would it be possible to get these before 10:30AM PST?

[2015-11-02 17:22] natalieworth commented on #325
@marcwalsh Here is the link to pdf file with bleed: https://drive.google.com/open?id=0B20-0lpP23c0OTlWMWlxN25JcEE

[2015-11-02 17:35] Saallen commented on #300
Hey - these mininet screens in previous years have been used for
* Wiki access info
* Scedule access details
* lunch info
* water locations
* Coffee
* main stage air moz

[2015-11-02 17:56] sabrinang commented on #302
@cassiemc R?
https://redpen.io/no2cdc4162247f3987

[2015-11-02 18:11] ldecoursy commented on #179
Looking good - I need to take a deeper look after a call, but in the meantime, can we consolidate and just use #mozfestlive as the key hashtag for remote work? @kgorr will also be pre-scheduling some questions to try to engage people throughout the weekend, and will be RTing from @mozteach too.

[2015-11-02 18:15] #327 closed

[2015-11-02 18:16] kristinashu commented on #286
@lovegushwa would you be able to take a look and let me know if this is good to go?

[2015-11-02 18:31] hannahkane commented on #179
@chadsansing - can you please make a clean, bulleted list of any changes you want made to [what's on staging now](http://mozfest-2015-with-remote-page.herokuapp.com/remote)?

[2015-11-02 18:42] chadsansing commented on #179
Looks fantastic.

- Pending @fuzzyfox's response to @ldecoursy, we may add #MozFestRemote to the second item in the Conversations list.
- 'How Can MozFest Help Me?' icon looks great, but is awfully close to copy. Increase the whitespace?
- L10n campaign link under projects can now be https://blog.webmaker.org/help-us-get-local-with-web-literacy.
- Link @test @ the Fest, #mozfestlive, and @mozfestt

[2015-11-02 18:58] marcwalsh commented on #325
I'm receiving this error from the printers.
<img width="839" alt="screen shot 2015-11-02 at 18 57 48" src="https://cloud.githubusercontent.com/assets/14007066/10891062/b2877a90-8193-11e5-8c91-c6d8b071d215.png">

[2015-11-02 18:58] marcwalsh commented on #325
@natalieworth

[2015-11-02 19:02] hannahkane commented on #179
Thanks, Chad!

@Pomax - please see @chadsansing's comment directly above, and let me know if you'd prefer I file a follow-up ticket for that list.

[2015-11-02 19:12] sabrinang commented on #302
@lovegushwa Can you give me a design review? https://redpen.io/no2cdc4162247f3987 R?

[2015-11-02 19:34] fuzzyfox commented on #179
@ldecoursy We can indeed, was just thinking using something different would prevent the twitter chat downing out the remotee CTAs. If having them merge to one makes tracking easier for you guys then all is cool.

[2015-11-02 19:45] Pomax commented on #179
in terms of copy, if someone can drop in the update text then those are easy to add in. @hannahkane the styling needs to be adjusted as part of this PR rather than as followup; we tried reusing style rules we already had, but they seem to be too different to work, so some new rules need to be invented.

[2015-11-02 20:21] natalieworth commented on #325
Hi @marcwalsh , sorry I think I exported the wrong bleed amount. Here is the updated file with the 5.9x8.9cm settings: https://drive.google.com/open?id=0B20-0lpP23c0OTlWMWlxN25JcEE

[2015-11-02 20:37] ldecoursy commented on #179
Rest of the blog looks good to me, but yes, since the tweetchat is also for remotee's, I think it lessens confusion for all to stick with one hashtag (and vote for #mozfestlive)

[2015-11-02 21:10] mmmavis commented on #321
I'd suggest having the PR ready first so when the time comes we can just hit the merge/deploy button :bowtie:

[2015-11-02 21:38] natalieworth commented on #290
Hey @HPaulJohnson were you able to get the assets for the FF42 promo?

[2015-11-02 21:43] flukeout commented on #316
Just a note here, that animated GIFs wont work when shared via Facebook, but Titter will be just fine.
Do we have any copy for the final screen, @HPaulJohnson @KevZawacki?

Something like...

[code]

[2015-11-02 21:52] marcwalsh commented on #311
@lovegushwa - I'm still having the same issue with this. I can't change the order as it's been paid for. Are you able to try exporting them again. It's still saying:

Incorrect document dimensions
The file Mozilla_Board-posters_91.4x60.9cm-1.pdf you have sent measures 92.7x62.2 cm. To be able to proceed with printing we require the file to measure (including the bleed): 91.6x61.1 cm. Please upload

[2015-11-02 21:52] mmmavis commented on #252
This is [the original design ticket](https://github.com/mozilla/2015.mozillafestival.org/issues/193) and mockup is here https://redpen.io/ub8b9d10c6b4251312.

[2015-11-02 21:54] marcwalsh commented on #311
@lovegushwa - It's the same issue with all that size, the larger prints have gone through fine. I need these ASAP or they will not be delivered until the Friday.

[2015-11-02 22:03] lovegushwa commented on #290
@HPaulJohnson when you get a chance check out @natalieworth repen we need to trim down some of these longer slides.
https://redpen.io/ko597921be06e6bad9

[2015-11-02 22:05] lovegushwa commented on #311
@marcwalsh I'll see if I can change these again right now.

[2015-11-02 22:15] sabrinang commented on #302
Thanks @natalieworth for redpen feedback :)

I exported:
- various file extensions .ai, .pdf *(1 with bleed & trim marks and 1 without)* & .png here: https://drive.google.com/folderview?id=0B4Q8pzCpDS_eeEVHZmZ4ZjJtYWc&usp=sharing
- A1 dimensions 594mm x 841mm or 23.39" x 33.11" *(with 0.125" bleed)*

@marcwalsh @Saallen Let me know if there is anything else you need for it to be printed.

[2015-11-02 22:27] lovegushwa commented on #302
@sabrinang I left a few comments about how to tie the color a little closer to the other print assets. Other than that R+

[2015-11-02 22:31] lovegushwa commented on #311
@marcwalsh try these: https://drive.google.com/file/d/0B2qu3ExKWIlvOHk3M1Z5dXRPdGM/view?usp=sharing

[2015-11-02 22:39] #179 closed

[2015-11-02 22:39] lovegushwa commented on #290
@natalieworth can your post or send a link to video transitions :)?

[2015-11-02 22:45] mmmavis commented on #326
I don't have an Android device around to test this.  Will check it out on Nexus 4 when I get home.

[2015-11-02 22:47] natalieworth commented on #290
@HPaulJohnson @lovegushwa @edrushka I just posted some updates to the slide template based on your feedback:https://redpen.io/qy71f00b290e5dcbf0 I'm also exporting some subtle animation for the video. I'll upload to google doc and post on here soon. Thanks

[2015-11-02 22:48] mmmavis commented on #310
This is probably resolution related and not specific to OS.  I will take this on @Pomax

[2015-11-02 22:50] hannahkane commented on #182
@Saallen - are tickets still available?

[2015-11-02 23:23] marcwalsh commented on #325
Perfect, all accepted and good to go! Closing...

[2015-11-02 23:23] #325 closed

[2015-11-02 23:29] marcwalsh commented on #311
Thanks @lovegushwa - Reuploaded to Pixart, will update you once the tests have run again.

[2015-11-02 23:30] marcwalsh commented on #280
Artwork confirmed, sent to print. Closing...

[2015-11-02 23:30] #280 closed

[2015-11-02 23:30] flukeout commented on #316
I have a super-rough cut here - I mocked up 5 poster photos and am looping over them twice and ending on a little CTA page.

![gif-poster](https://cloud.githubusercontent.com/assets/25212/10897486/9e529252-8176-11e5-83fe-6295269e6e6f.gif)

This is only about a meg, and for Twitter we can go up to 3 MB so we can add a few more images probably as well as make nicer transitions.

@edrushka Is this ki

[2015-11-02 23:35] #310 closed

[2015-11-02 23:52] #304 closed

[2015-11-03 00:11] #298 closed

[2015-11-03 00:45] natalieworth commented on #290
@lovegushwa I've also put some rough .mov samples up of the suble animation on google drive: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0R1hBUmUxaUctR1E

Just waiting on confirmed copy and then I can add the remainder of the frames

[2015-11-03 00:48] natalieworth commented on #290
Hey Jordan, here's the link:
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0R1hBUmUxaUctR1E

On Mon, Nov 2, 2015 at 2:39 PM, lovegushwa <notifications@github.com> wrote:

--
Graphic Design Intern, Vancouver
natalie@mozillafoundation.org

[2015-11-03 00:54] natalieworth commented on #234
Hey @Saallen, here's the link for pdf versions of all of the templates I created: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0MWZWV2w4ZHpkMkE I'm not sure if we have an github issue yet for everything that needs to be printed at Ravensbourne. I can upload link there if I find it. Thanks :)

[2015-11-03 02:51] #252 closed

[2015-11-03 10:20] edrushka commented on #290
I really love the animation. This looks fantastic.

[2015-11-03 10:21] HPaulJohnson commented on #290
+1 - animation looks awesome. will work on finalizing copy today.

[2015-11-03 10:39] HPaulJohnson commented on #316
@edrushka and I just looked at this together. A few comments:

We can remove the final slide with the CTA ("join us next year..."). This will be used in social media so will be surrounded by other copy in which we can include that type of CTA. I think it will be more likely shared without the marketing message included at the end of it. Can end with just #mozfest only.

For the graphic, I think th

[2015-11-03 10:44] SpikeUK opened #337 "Link to "MozFest website" on attendee's ticket email points to 2014 website"
Issue reported by an attendee. The receipt email has a link to "MozFest website" in the text. This points to the 2014 webpage ie http://2014.mozillafestival.org  - please see screengrab.
![screenshot_20151103-093901](https://cloud.githubusercontent.com/assets/1629474/10906240/c88e655e-8217-11e5-9557-21c04445225f.png)

[2015-11-03 11:08] edrushka opened #338 "Create template for Twitter photos"
@natalieworth can you create a single template with the MozFest branding that we can pop photos into to tweet? Sort of like a frame. If you make the photo part square, then we can use both landscape and portrait shots.

@KevZawacki can you please provide dimensions?

cc @cassiemc (this can be P2 - nice to have)

[2015-11-03 11:20] marcwalsh opened #339 "Add all designed content for MozFest 2015 to Drive/Dropbox"
@cassiemc @lovegushwa @adiladiladil @natalieworth (Sorry if I missed anyone!)

Are we all able to add these to shared Google Drive folder or to Dropbox please?

Thanks!

[2015-11-03 11:26] marcwalsh commented on #300
I've seen these designs (https://redpen.io/qy71f00b290e5dcbf0) on #290 - Are we able to use this as a template for the info mentioned before. @edrushka @lovegushwa

[2015-11-03 12:10] HPaulJohnson commented on #290
@natalieworth would it be possible to get a .jpg of the #mozfest image from the redpen, sized to 1400 x 1120 pixels, for use on our Medium publication?

[2015-11-03 13:00] marcwalsh commented on #290
Also, @natalieworth am I able to get the source file for this so we're able to make some other specific screens for lunch, coffee, wifi etc.

[2015-11-03 13:01] marcwalsh commented on #290
The above might also be for @lovegushwa I'm looking for the source file for this:

https://redpen.io/qy71f00b290e5dcbf0

[2015-11-03 14:39] HPaulJohnson commented on #290
Everything looks good. I think we can drop Maker Party.

@natalieworth I sent you some assets for FF42 slide so take a look and let me know if there's anything there that works. We can drop that one too if it doesn't work.

For 'lingo demystifyer' I think we need to see it animated to make sure it works, then we can build out the variations, along with the poster variations.

Next step would be to

[2015-11-03 14:50] thornet opened #340 "Change pathway title from "Smilies" to "Smileys""
https://2015.mozillafestival.org/pathways

On the pathways page, there's a pathway we'd like to change the title to:

Seeing, Drawing, Producing Smileys

cc @mmmavis

[2015-11-03 14:57] chrislarry33 commented on #290
cool just ping me

[2015-11-03 17:26] KevZawacki commented on #338
@natalieworth We can make the template the same size as the past MozFest Twitter graphics

[2015-11-04 00:42] flukeout commented on #316
Thanks for the feedback everyone. I'll pick up work on this tomorrow and make it so that the posters will be centered and easier to read. I think a cool effect would be to slowly zoom in on the poster in each shot.

[2015-11-04 10:15] ioana-chiorean commented on #326
i will close this as I only hit it once :)

[2015-11-04 10:15] #326 closed

[2015-11-04 13:03] marcwalsh commented on #290
@natalieworth / @lovegushwa - I really need the slides for the screens by 3 or 4PM GMT please

[2015-11-04 14:43] hannahkane commented on #337
Yikes. Not sure what to do about this now, since we can't retroactively fix emails. Should we send a follow-up email to everyone who has a ticket with the correct link? @Saallen ?

[2015-11-04 14:50] Saallen commented on #337
Hey- I had a look at this and the issue is only on the youth ticket on the follow up message when folks buy a ticket- and from the amount of emails I am getting about the youth ticket I don't think many folks are reading this so not too concerned

[2015-11-04 14:52] hannahkane commented on #337
OK, closing unless otherwise advised.

[2015-11-04 14:52] #337 closed

[2015-11-04 15:02] jgmac1106 opened #343 "Is there a Medium Publication for mozfest?"
I remember seeing some issue (but unsure of repo) on encouraging the use of Medium at #mozfest as a network for possible syndication.

Is there a publication anyone has set up that we should join?

[2015-11-04 15:05] cassiemc commented on #343
@Saallen @HPaulJohnson @edrushka Do any of you know the answer to this?

[2015-11-04 15:07] edrushka commented on #343
https://medium.com/mozilla-festival

[2015-11-04 15:08] cassiemc commented on #343
Thanks @edrushka!

[2015-11-04 15:08] #343 closed

[2015-11-04 15:42] cassiemc commented on #338
@edrushka Yes this seems like a definite 'if there's time' P2 issue. @natalieworth I would also prioritize EOY work over this.

Wondering if we have evidence that a frame like this increases engagement (or if there is another goal in mind?). It reminds me of when you go to a theme park and get your picture taken on a roller coaster, the frame that your photo comes in... haha :)

@edrushka Maybe a

[2015-11-04 15:43] jgmac1106 commented on #343
Thanks @edrushka. I see that @KevZawacki is the editor. Authors can no longer submit stories to publications but first need to be invited by the editor.

Do you want to open the publication up for all participants or keep it more locked down? Either way you will need to think about methods to inviting contributors.

If you want an "official" publication I have no problem running one that participa

[2015-11-04 15:45] edrushka opened #344 "Add pathway descriptions to schedule app"
Hey @mmmavis - is it possible to port the description for each pathway from https://2015.mozillafestival.org/pathways to the schedule?

Note that not all the descriptions are done - @thornet will ask people to do this at the Thursday Space Wrangler meeting.

[2015-11-04 15:46] edrushka commented on #344
cc @secretrobotron @alicoding

[2015-11-04 15:50] edrushka commented on #338
Ohh good idea @cassiemc. WFM! Does that work for you @kevzawacki?

[2015-11-04 15:55] cassiemc commented on #325
Nice work @natalieworth, thanks @marcwalsh!

[2015-11-04 15:59] cassiemc commented on #302
This is great @sabrinang thank you!
@marcwalsh Note Sabrina's comment above with the final print files.

[2015-11-04 16:03] cassiemc commented on #286
@kristinashu This looks great, thanks. @HPaulJohnson does this work for you? Are you okay with just the blue version or do you want to give people the choice between this and say, pink?

[2015-11-04 16:10] cassiemc commented on #265
Sounds good!

[2015-11-04 16:11] cassiemc commented on #287
@hannahkane I'll have a look at the list and help triage as soon as I get through the rest of my github mail!

[2015-11-04 16:13] KevZawacki commented on #338
Sounds good!

[2015-11-04 16:17] cassiemc commented on #303
Lots of QA issues filed in the schedule app repo. Closing.

[2015-11-04 16:17] #303 closed

[2015-11-04 16:17] cassiemc commented on #311
@marcwalsh Good to close?

[2015-11-04 16:18] cassiemc commented on #302
@marcwalsh Let us know if we're good to close!

[2015-11-04 16:19] cassiemc commented on #299
I doubt we will get to this prior to mozfest but will leave it open if anyone else can help.

[2015-11-04 16:19] cassiemc commented on #289
@hannahkane @mmmavis Shall we add this link tomorrow, or do you have a plan as to when?

[2015-11-04 16:20] cassiemc commented on #279
@lovegushwa Do you have an update on these assets?

[2015-11-04 16:21] cassiemc commented on #293
Assuming most things have been ordered by now, so closing. Thanks for all your help @lauralillepruun, see you in London shortly!

[2015-11-04 16:21] #293 closed

[2015-11-04 16:21] hannahkane commented on #289
@mmmavis and @Saallen are chatting about this in an email thread. will add you.

[2015-11-04 16:22] cassiemc commented on #292
@Saallen Assuming this will take some time once the account is set up. Is this a P1 (must have) or a P2 (nice-to-have)?

[2015-11-04 16:23] cassiemc commented on #271
Closing this. We have a poster designed in #302, just needs to be printed. Thanks all!

[2015-11-04 16:23] #271 closed

[2015-11-04 16:25] cassiemc commented on #234
@natalieworth The master doc for printing all assets is here: https://docs.google.com/spreadsheets/d/1nOphU77wnjZzkRyAhoo-KiSdZ2nD4HjUg1A4SQykMF4/edit#gid=0 Please do add links to source files for all that @marcwalsh needs to print at Ravensbourne. Thank you!

@marcwalsh @Saallen Closing this issue, please re-open if you need anything else.

[2015-11-04 16:25] #234 closed

[2015-11-04 16:25] #338 closed

[2015-11-04 16:27] cassiemc commented on #286
Also, @HPaulJohnson Do you think these files will need some help with final cleanup, once speakers have added their content? If so, we might need to clear out some time Thursday evening or Friday for a couple designers to do that. Not sure when the actual presentations are taking place. cc @edrushka

[2015-11-04 16:28] cassiemc commented on #287
@hannahkane Just had a look and I think P1 / P2 labels are working pretty well. The unlabeled ones are usually nice-to-haves.

[2015-11-04 16:30] cassiemc commented on #197
These are good suggestions. Need some guidance from @Saallen or @thornet about what to do here / if this should be prioritized.

[2015-11-04 16:30] cassiemc commented on #219
@mmmavis @hannahkane Is this mostly done, ie. can we file any followup issues separately?

[2015-11-04 16:31] hannahkane commented on #344
Moving this to https://github.com/mozilla/mozfest-schedule-app/issues

[2015-11-04 16:31] #344 closed

[2015-11-04 16:36] hannahkane commented on #331
I'm going to close this because now this is just a dupe of #197

[2015-11-04 16:36] #331 closed

[2015-11-04 16:37] hannahkane commented on #306
@cassiemc - would you prefer this were P1 or P2?

[2015-11-04 16:38] hannahkane commented on #296
@mmmavis - can you please review the PR when you have a chance?

[2015-11-04 16:40] hannahkane commented on #295
I'm calling this a P1 because it seems like expected functionality. Is anyone available to help with this?

[2015-11-04 16:43] hannahkane commented on #182
I'd suggest we get this PR ready to go, since it's likely to happen soon. @mmmavis - possible to get this ready?

[2015-11-04 17:12] HPaulJohnson commented on #286
@kristinashu @cassiemc - these are perfect. let's just go with the blue to keep it simple.

I would definitely love some time to cleanup the final slides, probably Friday. There aren't going to be tons of slides but they will definitely need some designer love.

[2015-11-04 17:23] cassiemc commented on #316
@flukeout You could also keep the backgrounds, but have them at the same zoom level so the poster is always the same size, that way only the text and the backgrounds are changing. I really like how the changing backgrounds emphasize different contexts, it might be cool to see how this would work with real life contexts around ravensbourne.

Re. slow zoom, I think the feel we're going for is fast,

[2015-11-04 17:24] HPaulJohnson commented on #286
I dropped in the title slides for all the speakers and lightening talks.

A few of these didn't fit the exact format so I had to tweak and they could use a design review. See slides: 8, 10-13, 17 in the attached doc: https://docs.google.com/a/mozilla.com/presentation/d/1JCSN_9DRhTKe3PiK6y6uxLD-Md_0lsLCNhDzyjkpfCs/edit?usp=sharing

[2015-11-04 17:36] HPaulJohnson commented on #343
@jgmac1106 anyone can contribute and tag their posts using #mozfest hashtag. We can then include those into the Mozfest publication (that's the way content is curated within Medium platforms for specific publications, at least as we understand it). The idea would be to pull all #mozfest content into that single, official publication.

If you want to help with that curation and editing we'd love it

[2015-11-04 18:23] edrushka opened #345 "Identify sessions for blog and video interviews"
**Video**
Youth Zone: [Youth Physical computing “Play date” come play with us!] (http://mozilla.github.io/mozfest-schedule-app/#_session-625) -- Sunday 12:45
Localization: [Using crafts to teach localization processes] (https://schedule.mozillafestival.org/#_session-415) -- Saturday all day
Science:
Leadership/Participation: [FlyWeb] (https://schedule.mozillafestival.org/#_session-539) Saturday 2:

[2015-11-04 18:24] edrushka commented on #345
cc @KevZawacki @HPaulJohnson

[2015-11-04 18:36] natalieworth commented on #290
@marcwalsh Here's a link to the video tile .ai files: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0QVFYX0Q3VldoRG8

I don't have confirmed assets/ design for the FF42 tile. Let me know if you need anything else. Thanks

[2015-11-04 19:37] jgmac1106 commented on #343
Sounds good. I would love to help out. We can catch up at #mozfest. Your understanding is slightly off in that an author has to be added to the publication and then they have to add their story to the publications.

Publications consist of editors and authors. All authors have to be invited by editors first.

The tags features is just to organize sections in a publication.  So you could have a fea

[2015-11-05 01:37] natalieworth commented on #290
@HPaulJohnson Would something like this work for the FF42 slide:
![mozfest_styletiles_08-12](https://github-cloud.s3.amazonaws.com/assets%2F14876567%2F10957597%2Fc30d510e-831a-11e5-9ef2-01ae9300821c.png)

[2015-11-05 01:40] natalieworth commented on #290
@HPaulJohnson Let me know too if there is any approved copy that we could use.

@lovegushwa I've also put the most recent .mov file up (version 5): https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0ckd1cGxIZml0ekU/view

All that's left to add are the lingo words and the FF42 slide. Let me know if the transitions are better now? :D
Thanks!

[2015-11-05 09:46] HPaulJohnson commented on #290
@natalieworth - this is so awesome!! thank you.

Question about the Firefox slide come from a the spreadsheet of campaign assets I forwarded? I just want to make sure this is approved campaign language before I say yes. I can run by the brand team also to make sure, just let me know the original source.

Otherwise, I love it and just have a few small edits/comments:
* There's a single photo includ

[2015-11-05 10:47] edrushka opened #346 "Collect festival stats for reporting"
As of Thursday, from Tito:

- 1700 participants
- 390 facilitators
- 315 sessions
- 50 pathways
- 8 spaces
(no location information so we won't be able to report number of countries)

cc @KevZawacki @HPaulJohnson

[2015-11-05 10:58] #291 closed

[2015-11-05 11:00] edrushka commented on #317
Draft here: https://docs.google.com/document/d/1-Uu_UKiRZOUFIzHKRWTyD47WnVVwcEP7Qhs_VWWxZt4/edit

[2015-11-05 16:52] natalieworth commented on #290
Hi @HPaulJohnson Thanks for the feedback and I'll make the changes and post asap. I'm going to be adding additional images too, I was just using a few as place holder.

[2015-11-05 20:42] natalieworth commented on #290
Just updated the content/ slides on the google drive (Version 6): https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0R1hBUmUxaUctR1E&usp=drive_web&ddrp=1#

cc @lovegushwa @HPaulJohnson @cassiemc

[2015-11-06 12:47] hannahkane commented on #219
I think we can close.

[2015-11-06 12:47] #219 closed

[2015-11-06 12:48] hannahkane commented on #289
@mmmavis - can we do this one now?

[2015-11-06 15:31] cassiemc commented on #290
URGENT
Hey @natalieworth We can't open version 6, any chance you can reupload by 5:45GMT (9:45am PT)? I know it's cutting it close!

[2015-11-06 16:35] natalieworth commented on #290
Hey @cassiemc , for sure! Just got to the office and I'll reupload asap. @HPaulJohnson Did you want me to add in the FF42 promo quickly too? Thanks

[2015-11-06 16:38] cassiemc commented on #290
Great THANK you @natalieworth! Could you do two versions, one with and one without? @HPaulJohnson is busy on the floor at the moment.

[2015-11-06 16:39] natalieworth commented on #290
Yes, I'll upload the one without first right now to the google drive. Almost done exporting

[2015-11-06 16:56] natalieworth commented on #290
@cassiemc Here's the version 6 exported again: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0UDZnVlp1NEUtMkU

Just working on adding the FF42 and I'll upload another version to the drive, thanks

[2015-11-06 18:03] natalieworth commented on #290
Second video (uploading) with the Firefox slide and the definition section added: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0UDZnVlp1NEUtMkU&usp=drive_web&ddrp=1# Thanks! Just ping/ email me if you need any quick changes. I'll also be around late tonight/ tomorrow morning if there are any last minute changes that you guys need before Saturday.

@HPaulJohnson @cassi

[2015-11-06 18:48] cassiemc commented on #290
@natalieworth Thank you, the quick changes are much appreciated.

Unfortunately we had a caching problem with the schedule app so we had to change the URL – we'll have to update the video again! New link should be: http://mzl.la/schedule

cc @marcwalsh Not sure if you had other screens with the schedule app url that will need to be updated.

[2015-11-06 18:53] cassiemc commented on #290
Nix that @natalieworth! Your shortlink was fine, we were able to update where the link pointed to. No need to update the link.

We DO though need to remove the slide promoting the Fireside chat with Mitchell Baker.

@HPaulJohnson says to drop the FF42 slide as well, since we would probably need to show it around here before displaying it, and there's not much time.

Thanks @natalieworth!

[2015-11-06 19:51] natalieworth commented on #290
@cassiemc Updated video is uploaded on teh google drive (version 3) with the slides removed https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0UDZnVlp1NEUtMkU

[2015-11-07 01:44] #289 closed

[2015-11-07 01:54] mmmavis commented on #340
fixed in https://github.com/mozilla/2015.mozillafestival.org/pull/348

[2015-11-07 01:54] #340 closed

[2015-11-07 01:55] mmmavis commented on #289
done.

[2015-11-08 09:26] edrushka commented on #316
I've noticed people are retweeting this: https://twitter.com/inpointsorg/status/663283855206588417 with their own remix. This is actually what we were hoping to achieve with this shareable piece. Maybe we don't need to create a gif and instead should just retweet this?

[2015-11-08 12:41] edrushka commented on #345
**Session coverage:**
- https://www.theguardian.com/info/developer-blog/live/2015/nov/07/live-from-mozfest-2015

**Sessions with good visuals:**
- Collaborative Community Space in the Global Village
- https://attending.io/events/plen2-robot-mozfest-fusion-360-hackathon
- Kitchen on the 6th floor: https://docs.google.com/document/d/1lhkqjY20yz_8JZQb3fi--ggZ87e0Vk2_xdAISyOiQuw/edit
- This is not a m

[2015-11-08 12:42] edrushka commented on #316
Kevin, Luke and I discussed this. We'll retweet the picture instead. It's better as it's more remixable. Closing this. Thanks everyone!

[2015-11-08 12:42] #316 closed

[2015-11-09 10:41] #321 closed

[2015-11-09 10:42] #306 closed

[2015-11-09 10:42] #299 closed

[2015-11-09 10:42] #296 closed

[2015-11-09 10:42] #261 closed

[2015-11-09 10:42] #197 closed

[2015-11-09 10:44] hannahkane commented on #182
I think we should still do this. Updated the first comment to say we should remove "TICKETS" from the header nav entirely, since this MozFest has passed.

[2015-11-09 10:44] #262 closed

[2015-11-09 10:44] #263 closed

[2015-11-09 10:44] #264 closed

[2015-11-09 10:44] #283 closed

[2015-11-09 10:44] #345 closed

[2015-11-09 10:44] #346 closed

[2015-11-09 10:47] #295 closed

[2015-11-09 11:02] #300 closed

[2015-11-09 11:03] #281 closed

[2015-11-09 16:59] natalieworth commented on #290
@cassiemc Closing all of my MozFest tickets! :D

[2015-11-09 17:01] natalieworth commented on #290
@cassiemc Closing all of my MozFest tickets! :D

[2015-11-09 17:01] #290 closed

[2015-11-09 17:03] natalieworth commented on #282
Closing this with final files here: https://drive.google.com/open?id=0B20-0lpP23c0N3lCSkh2eU55VU0

[2015-11-09 17:03] #282 closed

[2015-11-09 17:04] natalieworth commented on #279
@lovegushwa I'm going to close this if that's all good? Not sure if we have to post the final files here? Thanks :)

[2015-11-09 17:04] #279 closed

[2015-11-09 17:05] natalieworth commented on #278
@cassiemc Closing this too, thanks

[2015-11-09 17:06] #278 closed

[2015-11-11 17:21] lovegushwa commented on #339
Hey @marcwalsh you can access the MozFest drive here:
https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_eeXZyWkdQa2hNOXc&usp=sharing

[2015-11-11 17:21] #339 closed

[2015-11-11 17:22] #311 closed

[2015-11-11 17:22] #302 closed

[2015-11-11 17:23] #286 closed

[2015-12-04 15:34] #254 closed

[2015-12-04 15:35] #182 closed

[2015-12-04 15:35] #292 closed

[2015-12-04 15:35] #277 closed

[2016-01-04 17:07] edrushka opened #350 "Get mozfest.org url"
@jbuck can you get us [redacted - talk to Erika]? It appears to be free. We'd like to use this URL in 2016. Thanks!

[2016-01-05 00:10] edrushka commented on #350
Closing! Someone at MoCo helped me :)

[2016-01-05 00:10] #350 closed

[2016-04-07 18:33] mmmavis opened #353 "Prepare for 2016 site updates"
From https://github.com/MozillaFoundation/mofo-devops/issues/309#issuecomment-207022922

Tackle the following tasks in order

1. [x] move the current codebase (2015 site) to `2015.mozillafestival.org` branch (copy `master`)
2. [x] temporarily remove `.travis.yml`
3. [x] rename this repo to `mozillafestival.org`
4. [x] check in 2016 site updates to `develop` and `master`
5. [x] link `develop` to `m

[2016-04-07 21:33] mmmavis opened #356 "Upgrade react-router"
Upgrade `react-router` to v2.0.0

[2016-04-08 00:39] mmmavis opened #357 "Upgrade React to v15"
Upgrade `React` to `v15`

[2016-04-11 17:07] Pomax commented on #357
0.14, or 15.0?

[2016-04-11 18:49] mmmavis commented on #357
Was thinking v0.14 first since it might be a big jump. We can do 0.14 -> v15 in a follow-up PR.

If this sounds redundant let's just upgrade to v15 straight. :grin:

[2016-04-12 16:44] Pomax commented on #357
Not sure we'd get a lot out of first doing 14 if we then have to still move up to 15, so it might be worth just going for 15 on a smaller project like this, to get a sense of how much work it'll be for the larger React projects (like teach)?

[2016-04-19 19:57] mmmavis commented on #357
cool that makes sense. let me edit this ticket a bit :wink:

[2016-04-28 16:01] vazquez opened #364 "Improve the look of ti.to"
I want to find out how much flexibility ti.to gives us to modify the look of the registration page: https://ti.to/Mozilla/mozfest-2016.

@mmmavis, do you know how I can access the admin section of ti.to to see/make changes?

[2016-04-29 17:25] vazquez commented on #364
Changes made! [https://ti.to/Mozilla/mozfest-2016](https://ti.to/Mozilla/mozfest-2016)

This is what was changed:

- Added apple wallet icon
- Adjusted map so that it's more awesome
- Added a homepage banner
- Changed theme

I feel this is good to close. I've extended pretty much all of tito's customization features.

[2016-04-29 17:31] #364 closed

[2016-04-30 00:05] mmmavis commented on #364
:sparkles:  :eyes:

[2016-05-30 20:53] ScottDowne opened #383 "Mozfest proposals github integration"
@mmmavis there is where I got.

Right now the pull request for the form I have been working on is here: https://github.com/mozilla/mozillafestival.org/pull/365

The form itself is finished. It's a pretty quick and dirty job mostly from running with last year's form and not getting fancy.

I'm setting up the integration to a google sheet now.

I'm slipping on the github integration.

We also wanted

[2016-05-30 20:54] ScottDowne commented on #383
cc @edrushka @simonwex @mmmavis

[2016-05-30 21:05] ScottDowne commented on #383
Adding this: https://docs.google.com/a/mozillafoundation.org/forms/d/19eD51TFUfklPS57XccwP_YPkDZ4DVl_aB4olaJmvgNU/edit

That's the example for what the form needs to look like.

[2016-05-30 21:12] ScottDowne commented on #383
Here is the sheet I setup that's a backend for the data to live. https://docs.google.com/spreadsheets/d/1b7QggNDiPd4cpml4fgGeQJ_DsS90p54np34l4GLjMN0/edit#gid=1419268412

This is the form fields, which should not be used, instead use this for editing the fields: https://docs.google.com/a/mozillafoundation.org/forms/d/1E0-DnkmwsXLJNwe5l5S56-cGuKxjkpgYJhI5iXvuEZg/edit

[2016-05-30 21:12] ScottDowne commented on #383
@mmmavis I think I need help with the github integration, and maybe the other langs.

[2016-05-30 22:04] mmmavis commented on #383
Thanks for the explanation/summary @ScottDowne 😄

If I remember correctly, we don't wanna let people edit their session proposal once submitted. They can comment on the Github ticket but not modify the original proposal. Otherwise it can make the proposal reviewing process really hard for the program team since the proposals may or may not be final (no easy way for the team to tell). Another thing

[2016-05-30 22:09] mmmavis commented on #383
Ummm... since the Google form is used as data storage backend(Google form should never be shared out directly otherwise the real time Github integration will be skipped) and the MozFest site is only available in English. I wonder if having ONE English form is enough? @ScottDowne @edrushka

[2016-05-30 22:16] ScottDowne commented on #383
I figured it would multiple pages with different copy (translations) and
form fields which all submits to the same Google form back end. It wold say
which lang as a form field.

[2016-05-30 22:23] mmmavis commented on #383
Still feel a little incomplete since only the form will be localized - the rest including comments on Github and response from the program team will be in English. Maybe we can leave this as P2?

[2016-05-30 22:28] ScottDowne commented on #383
I'm pretty sure we have people who know those Lang's that can manage those
tickets.

[2016-05-30 22:48] ScottDowne commented on #383
So, I'm ending my day today with a working English submission to google forms, seems like the P1. The rest we can figure out tomorrow, as P2s.

[2016-05-31 14:54] ScottDowne commented on #383
@mmmavis @edrushka @Saallen

Dev link is here: https://arcane-peak-71038.herokuapp.com/proposals

It works and the data should end up here: https://docs.google.com/spreadsheets/d/1b7QggNDiPd4cpml4fgGeQJ_DsS90p54np34l4GLjMN0/edit#gid=1419268412

You should all have access to that sheet.

Feedback is welcome in this ticket for now.

[2016-05-31 14:55] Saallen commented on #383
Feedback on copy-
This year we are accepting proposals in Hindi, French and Arabic
this should be Spanish, French and Arabic

[2016-05-31 14:57] Saallen commented on #383
There is American spelling here- the 👊 between the Z and S
Organization- @edrushka are we sticking to European spelling here?

[2016-05-31 14:58] Saallen commented on #383
There should be a subnote by organisation and Twitter handle-
Organisation should have- please leave blank if you don't want it publised
Same for twitter

[2016-05-31 15:01] ScottDowne commented on #383
The Organization vs Organisation thing was my bad. I agree it should be Organisation for this.

Updated Organization and the langs.

Doing the twitter/org public note now.

[2016-05-31 15:09] ScottDowne commented on #383
@Saallen I updated the copy on twitter and org privacy, but, the copy was kinda guessed. If you want me to change it to something explicit I'm happy to :)

[2016-05-31 15:10] ScottDowne commented on #383
Could we also go with "Please leave blank if you want it private." maybe?

[2016-05-31 15:41] Saallen commented on #383
Feedback- Other faciliators should have additional comment below which says:
One per line, (e.g. John Doe @j.doe <j.doe@example.com>)

[2016-05-31 15:42] Saallen commented on #383
Freedback- there should be no other option on the botton of the first section- my bad

[2016-05-31 15:43] Saallen commented on #383
Feedback-
the text on the top of the section two should read
Call for artists, designers, creative technologists, makers, coders, scientists, visual journalists -- from techies to newbies! We are inviting submissions of original artwork that relates to our lives online.

Submissions can be mixed-media, photography, video, games, animation or moving images, visual art, graphic design, or sculpture.

[2016-05-31 15:57] Saallen commented on #383
Feedback-
section two Method on its own feels confusing...are we missing text here?

[2016-05-31 17:12] ScottDowne commented on #383
@Saallen if other doesn't make sense in section 1 space radio buttons, does it also not make sense in section 3 another space radio option, same goes for the other space input in "Is there another space you believe this exhibit could be shown within?" in section 2.

[2016-05-31 17:31] Saallen commented on #383
Yes, that is correct- there should be no other option of other

[2016-05-31 17:36] ScottDowne commented on #383
@Saallen you lost me on that last comment :P

You mean, no other option for the three space related radios, one for each page. So other option only applies to the format bit? "MozFest accepts many different session formats. What do you think would work best for your session? (multi select option) *"

[2016-05-31 17:38] Saallen commented on #383
Yes @ScottDowne 😵

[2016-05-31 17:40] Saallen commented on #383
Feedback:
Is there another space you believe this exhibit could be shown within?
Missing Open Badges from the list

[2016-05-31 17:42] Saallen commented on #383
Feedback: on the terms and conditions section on section two-
Please remove "
The agreement is not that this is origional work but that you agree to all the terms, so the tick box should be " yes I agree to these terms above"

[2016-05-31 17:45] Saallen commented on #383
Feedback:
If I dont agree the popup red text reads- Must be your own original work.
This will need to be changed.
I might ask @edrushka for her advice on what to have here instead

[2016-05-31 17:50] Saallen commented on #383
Feedback:
on section three question 4 can you change this Tell us what you'll do with 3 participants. 15? 25?
to this- Tell us what you'll do with 3 participants? 15? 25?

[2016-05-31 17:51] Saallen commented on #383
Feedback:
after session format we should have a question  follow imediately
If you chose "other" above, please outline why below

[2016-05-31 18:21] ScottDowne commented on #383
@edrushka @Saallen for the terms and conditions error message, what about something like "You must agree to the above terms and conditions."?

[2016-05-31 19:25] ScottDowne commented on #383
I think I have done everything for feedback so far cept https://github.com/mozilla/mozillafestival.org/issues/383#issuecomment-222734443 which needs a decision made before I can do anything.

[2016-05-31 20:56] edrushka commented on #383
Agree it's slightly confusing, but let's leave for now and if people answer the question in a way that isn't helpful to Luca, we can change the wording or add a text hint explaining what kind of answer we want. @ScottDowne ship it as-is.

[2016-05-31 21:47] edrushka commented on #383
Here's my 👀 on the form:

**Page 1**
- [ ] reword deadline line in banner to fix typo:  Deadline for submissions is August 1, 2016 at 21:00 UTC
- [ ] link the words Spanish, French and Arabic to their respective forms
- [ ] change Organisation field subtext to fix typo: Please leave blank if you don't want it published.
- [ ] change Other facilitators field for clarity: One per line, format is Nam

[2016-05-31 21:58] mmmavis opened #384 "Update Spaces & Sessions page"
specs are on https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/17#issuecomment-222814126

- This page is now called Spaces and Sessions. Please update the banner text if Ricardo didn't do that already
- You can delete all the space icons for now. We'll add them back in in the fall
- Wranglers are names only (no handles) for now
- Localisation is spelled with an S, not a Z this y

[2016-06-01 00:26] mmmavis opened #386 "Get Fringe page up"
For reference, 2015 Fringe Events:
- Google Form: https://docs.google.com/a/mozillafoundation.org/forms/d/1XCjIF3ptc4XAl7ql-pkhhIDc7dERYshrLHOFZgjdIUY/viewform
- Response: https://docs.google.com/spreadsheets/d/1nzxWVgjB92R4-VdZF4RRqa2Rl7i5hkbsRYSUEddcOGE/edit#gid=677270378

We should set up the same flow for this year. @edrushka do you know who will be approving the fringe events before we show t

[2016-06-01 00:49] edrushka commented on #386
Ah, sorry @mmmavis - there's a ticket here https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/12

The 2016 from has been created: https://docs.google.com/a/mozillafoundation.org/forms/d/10l8_PtMgHvhxh4qZcGqTzWm3a0QhuTQOIVnn4Bx8qKc/edit#

Yes, either Sarah and/or I can approve the events before we show them on the site. And yes, we can use exactly the same flow as last year.

[2016-06-01 21:30] #384 closed

[2016-06-01 21:40] mmmavis opened #387 "Update .travis.yml"
... cuz the current Heroku key used there is no longer valid

[2016-06-01 21:44] #387 closed

[2016-06-01 21:59] ScottDowne commented on #383
This is done enough that this ticket is no longer useful. Closing.

[2016-06-01 21:59] #383 closed

[2016-06-02 18:18] mmmavis opened #391 "Add session title field to proposal form"
in between these 2 fields

<img width="564" alt="screen shot 2016-06-02 at 11 17 38 am" src="https://cloud.githubusercontent.com/assets/2896608/15755907/ab4736e0-28b3-11e6-8f6c-414ae5e04be8.png">

[2016-06-02 18:55] #391 closed

[2016-06-02 20:54] mmmavis opened #394 "Store proposal form url as env var"

[2016-06-02 23:56] mmmavis opened #396 "Github integration for session proposals"

[2016-06-03 00:55] mmmavis opened #397 "Change "Other facilitators" field to <textarea>"
(proposal form related)

so that multiple facilitators can be entered line by line

[2016-06-07 18:52] #396 closed

[2016-06-08 00:30] mmmavis opened #401 "Content updates"
see https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/58

[2016-06-08 20:28] #401 closed

[2016-06-08 21:02] mmmavis commented on #394
fixed as part of https://github.com/mozilla/mozillafestival.org/issues/396

[2016-06-08 21:02] #394 closed

[2016-06-08 21:04] mmmavis opened #404 "Clean up console.log in proposal-handler.js"

[2016-06-10 18:19] mmmavis opened #405 "Do not show 2nd Space if it's "none""
Currently the exported GitHub ticket has this meta `[ Secondary Space ] none` in the ticket description as well as `[Space] undefined` label applied. These info should not be shown.

[2016-06-10 19:12] #386 closed

[2016-06-10 20:05] #405 closed

[2016-06-13 11:02] Saallen commented on #386
Yahhooooo 🎉

[2016-06-20 17:36] mmmavis opened #407 "Update og:image"
original ticket filed here: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/64

[2016-06-20 17:46] mmmavis commented on #407
current: https://github.com/mozilla/mozillafestival.org/blob/develop/public/assets/images/site-thumbnail.png (old pic from 2015)

![current](https://raw.githubusercontent.com/mozilla/mozillafestival.org/develop/public/assets/images/site-thumbnail.png)

can we create a version for 2016 plz? https://github.com/mozilla/mozillafestival.org/blob/develop/public/assets/images/mozfest_2016.jpg
![2016](htt

[2016-06-20 18:31] kristinashu commented on #407
Yup! Here you go:
![site-thumbnail2016](https://cloud.githubusercontent.com/assets/1068783/16205827/820cf186-36da-11e6-9842-5f6397271ce0.jpg)
Let me know if you need anything else!

[2016-06-21 19:00] mmmavis commented on #407
@kristinashu lovely thanks! 🌹

[2016-06-21 19:08] #407 closed

[2016-06-28 08:43] ioana-chiorean commented on #353
hey @mmmavis - let me know if you need some QA on these last few changes made.

[2016-06-28 12:08] Saallen commented on #353
@ioana-chiorean It would be great to have you on QA after you spotted some hidden issues last year. Feel free to check out the new site and the call for Proposals and let us know what you think

[2016-06-28 17:37] mmmavis commented on #353
Oops. forgot to close this ticket. This is totally DONE!

thanks @ioana-chiorean 😄 let us know if you spot anything that needs improvement!

[2016-06-28 17:37] #353 closed

[2016-07-01 04:12] mmmavis opened #409 "Apply "Stipend requested" label to "travel-only" proposal"
request came from: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/66

Apply "Stipend requested" label to "travel-only" proposal when exporting to https://github.com/MozillaFoundation/mozfest-program-2016

[2016-07-01 04:51] #404 closed

[2016-07-01 04:51] #409 closed

[2016-07-01 06:10] #265 closed

[2016-07-07 08:29] ioana-chiorean opened #413 "Update Tabzilla to the latest version"
The Mozilla Tab is lately used just to redirect to mozilla.org from what I am seeing right now on other websites.
Either way - it shows the gear store which is closed at the moment so there is no point  ( beside the other links ) to open  it up.

https://www.mozilla.org/en-US/firefox/products/
https://www.mozilla.org/
https://www.mozilla.org/en-US/contribute/

![unspecified1](https://cloud.githubu

[2016-07-07 19:40] mmmavis commented on #413
Good discovery. Thanks @ioana-chiorean ! 😉  Yeah I think that's cuz we are still using the old Tabzilla - we should update it to the latest version.

[2016-07-08 21:26] #413 closed

[2016-07-14 19:17] mmmavis opened #417 "Bug: mismatched space meta"
original issue filed here: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/71

[2016-07-14 21:34] #417 closed

[2016-07-15 00:51] mmmavis opened #419 "Show ticket price on ticket page"
original ticket filed here: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/57

[2016-07-15 01:01] #419 closed

[2016-07-15 01:14] #397 closed

[2016-07-15 20:11] autonome opened #423 "link spaces on /proposals to their descriptions on /spaces-and-sessions"
Had some feedback from people trying to submit proposals that they don't know what the spaces mean. There's a small bit of text at the top of the list that links the word "here" to the spaces page, but each time I pointed that out, the user said "totally didn't see that at all".

Instead we should have each space listed in the form linked to their description, or have a "(learn more)" link after t

[2016-07-15 20:17] autonome opened #424 "some improvement to /proposals text"
Been getting feedback that this page is confusing.

This is a bit confusing, since it's unclear whether you're actually submitting something *you* will be doing, or that you think the conference should do. Would be clearer as something like "Submit your proposal". Not as nice sounding, but much clearer - suggestions welcome :)

This sentence sounds awesome! But then the next sentence is...

Which

[2016-07-19 06:19] ioana-chiorean opened #425 "Make Participation Guidelines more CoC explicit"
I am subscribed to a newsletter about Call for Papers (http://papercall.io/cfps) and in the last one ("The Weekly CFP Issue #44") I was happy to see they mentioned MozFest for the next week. But.. at Code of Conduct they said none. While I already contacted them and shared the Participation Guidelines I was thinking if there is anything we can do on our side to have this  more explicit? ( maybe ad

[2016-07-19 07:29] SpikeUK commented on #425
In general I would agree with making it more obvious our 'Participation Guideline' are effectively a CoC.
We added the Guidelines either 2014 or 2013 - I cannot remember now.
When the Local Volunteers sign-up they are directed to the Guidelines and tick a box to indicate that they have read them and agree to abide by them. Additionally, I go through them at at least one of the training sessions. W

[2016-07-19 11:17] ioana-chiorean commented on #425
I know it is present @SpikeUK - my proposal is just for the Call for papers specifically.
Maybe we should consider linking it to the page directly, int he text somewhere.

Their reply on twitter: https://twitter.com/scottefein/status/755349764997341184

[2016-07-19 11:45] SpikeUK commented on #425
Ah, apologies @ioana-chiorean - I did not realise that you were specifically referring to the CFP shout out and submission process. I agree we should give it more prominence some how.

[2016-07-19 22:42] Saallen commented on #425
Hi guys,
this is interesting-  @ioana-chiorean thanks for sharing this and contacting them.
 Its funny, we do have a code and we do offer stipends....
We made our participation guidelines in accordance to Mozillas specific guidelines and spent a long time on them,with many voices. While they are not on the top info line, we couldnt fit everything on that navigation bar- we do a lot of work with ou

[2016-07-21 23:33] mmmavis opened #426 "Update Fuel The Movement Space description"
Copy is here: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/65#issuecomment-234326635

[2016-07-21 23:41] mmmavis commented on #424
Hey @autonome , thanks for providing your valuable feedback! 👍 Just so you know that @Saallen and @edrushka might be unavailable to reply at the moment due to travel/PTO.

[2016-07-21 23:42] #426 closed

[2016-07-22 16:23] marcwalsh-zz opened #428 "Feedback sent to Festival Email"
Dear MozFest,

The https://mozillafestival.org/ site is nice and easy to read - for me.
But the only way to read it is if JavaScript is enabled in a browser,
which is not very friendly towards a significant amount of people.

Also: all the header tags lack anchors, therefore when I wanted to link
the localization topic to other, I can't directly do it.

Please reconsider doing progressive enhancem

[2016-07-22 19:17] mmmavis opened #429 "Make hash links to each Space more discoverable"

[2016-07-22 19:24] #429 closed

[2016-07-22 20:34] mmmavis commented on #429
Added a quick fix - clicking on each Space name on https://mozillafestival.org/spaces-and-sessions will give you the hash link to that Space, e.g., https://mozillafestival.org/spaces-and-sessions#digital-arts-and-culture

[2016-07-22 20:36] mmmavis commented on #423
Hi @autonome I made the anchor links more discoverable - clicking on any space name on https://mozillafestival.org/spaces-and-sessions will give you the anchor link to that particular space description. Was just a quick fix... I'm open for design suggestion! 😉

[2016-07-22 20:39] mmmavis commented on #428
Thanks for forwarding the email @marcwalsh !

I just made the anchor links more discoverable - clicking on any space name on https://mozillafestival.org/spaces-and-sessions will give you the anchor link to that particular space description. Was just a quick fix... I'm open for design suggestion! (maybe I should just get some help from the designers 😉 )

[2016-07-22 20:43] autonome commented on #423
Great, thanks Mavis! That makes it easier for wranglers to link directly to
their space descriptions.

If we can link the space names on /proposals to those anchors, we can close
this issue out!

On Fri, Jul 22, 2016 at 1:36 PM Mavis Ou <notifications@github.com> wrote:

[2016-07-24 19:57] SpikeUK opened #431 "Link to github from https://mozillafestival.org/guidelines body text link wrong"
On https://mozillafestival.org/guidelines - last para of text "Because working open is one of our core values, MozFest program planning is done in the open on Github (check out our repo here)..." "here" is link to https://github.com/mozilla/mozfest-program-2016 - should be https://github.com/MozillaFoundation/mozfest-program-2016

[2016-07-25 17:37] #431 closed

[2016-07-28 06:02] ioana-chiorean commented on #425
@Saallen -so did we took a decision here? Will we add a line in the Call for proposals? Or by reaching them we are ok? ( just to know if we keep this issue open or not.)

[2016-07-28 06:02] ioana-chiorean commented on #423
🎉

[2016-07-28 15:43] autonome commented on #423
@ioana-chiorean this isn't closed yet! the space names in /proposals are not yet linked to the anchors Mavis created in /spaces-and-sessions.

[2016-07-29 20:04] ioana-chiorean commented on #423
@autonome Sorry I misunderstood then ( i thought the patch fixed it)

[2016-07-29 21:17] Saallen commented on #425
Hi @ioana-chiorean - we are not adding it into the call as its on the main page of the website and call is closing.
We can close this issue if everyone else is happy?

[2016-07-29 22:37] edrushka commented on #424
@autonome Thanks Dietrich! These are all great points/observations. Unfortunately I was largely offline with PTO and various team events and didn't catch this until now....and the call for proposals closes in 3 days.

There's a lot we can do to improve the entire submission process in 2017, starting with more streamlined copy. I will flag this as a reminder, and see if there's any way to include y

[2016-07-30 06:17] ioana-chiorean commented on #425
Good for me!
_Maybe a note for 2017 as many people care a lot about this before submitting._

[2016-07-30 06:17] #425 closed

[2016-08-02 09:43] Saallen commented on #424
Hey @autonome thanks for the feedback- we have captured this already for our lessoned learned 2016. Good shout out

[2016-08-02 09:49] Saallen commented on #425
@ioana-chiorean Sure- we have added this to our list already for 2017 :)

[2016-08-12 13:51] SpikeUK opened #442 "Inconsistant text on /guidelines"
The guidelines copy was changed a little this year to remove references to Michelle and replace with references to Sarah.

I think one old reference got missed.

In section headed "Raising Issues at MozFest" the first sentence reads "If you believe you‘re experiencing practices at MozFest which don‘t meet the above policies, or if you feel you are being harrassed in any way, please immediately con

[2016-08-16 18:23] #442 closed

[2016-08-16 18:40] mmmavis opened #444 "Remove `develop` branch"
...cuz we are on GitHub flow now 🌊

[2016-08-16 18:41] mmmavis commented on #444
Done! 🍰

[2016-08-16 18:41] #444 closed

[2016-08-16 18:47] mmmavis commented on #424
thanks again @autonome 🍸 🍰 🍷

[2016-08-16 18:47] #424 closed

[2016-08-16 18:51] mmmavis commented on #423
@autonome @ioana-chiorean thanks! you two are more active than I'm on this repo (shame on me)!

Deadline for this year's call for proposal has passed.  We'll make sure we make the space descriptions more discoverable next year. 🍻

[2016-08-16 18:51] #423 closed

[2016-08-16 18:52] mmmavis commented on #317
@edrushka I believe we can close this ticket? 🐹

[2016-08-16 21:02] edrushka commented on #317
ha! 2015! DONE!

[2016-08-16 21:02] #317 closed

[2016-08-16 21:12] mmmavis commented on #317
🌻

[2016-08-22 15:31] marcwalsh opened #445 "*ignore*"

[2016-08-22 15:49] #445 closed

[2016-09-16 00:00] mmmavis opened #454 "Use Fira instead of Open Sans"
@kristinashu I think we should make this change?

[2016-09-16 00:09] kristinashu commented on #454
Sure!

[2016-09-16 20:20] #454 closed

[2016-10-06 17:25] mmmavis opened #460 "Clicking on wrangler's name on sessions page should bring users to the anchor element"
Follow-up ticket for https://github.com/mozilla/mozillafestival.org/pull/459#pullrequestreview-3119963 .

Clicking on wrangler's name on sessions page should jump to the team page and scroll to the anchor element.

[2016-10-06 18:36] mmmavis opened #461 "Partner logo changes"
Partner logo changes. See https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/96#issuecomment-251832058 for details.

[2016-10-06 18:47] #461 closed

[2016-10-06 19:13] mmmavis opened #463 "Add Space icons"
See https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/106 for details

[2016-10-07 18:38] #463 closed

[2016-10-10 20:05] SpikeUK opened #467 "Change messaging now all volunteers places are filled"
On volunteer please change the text on the button from "Sign Up to be a MozFest Volunteer" to "Sorry, All Volunteer roles Have Now Been Filled" (capitalise to suit). Button should be changed to a dummy with no function.

[2016-10-12 07:46] SpikeUK commented on #467
Not sure how I should draw attention to this request - can anyone advise please

[2016-10-12 09:56] marcwalsh commented on #467
@edrushka  - I'm not admin on this repo so can't change anything. Are you alright to oversee this please?

[2016-10-12 15:12] edrushka commented on #467
Hey @SpikeUK you're in a repo we don't monitor. I've filed the ticket here: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/112

[2016-10-12 15:12] #467 closed

[2016-10-12 15:16] SpikeUK commented on #467
Thank you @edrushka - I am a numpty with Github :)

[2016-10-21 19:00] mmmavis opened #478 "Update production site"
`master` branch has [code for livestream version of homepage](https://github.com/mozilla/mozillafestival.org/commit/945a3cc13cbeef7518a908cac0652590b51803da). We don't want to push it live just yet. @edrushka can you ping me or any dev when we are ready to "press the button"?

To push this to production:

Go to the `mozillafestival-org` pipeline on Heroku and press "Promote to production..." butto

[2016-10-24 12:03] alanmoo commented on #478
✅

[2016-10-24 12:03] #478 closed

[2016-10-31 14:11] xmatthewx opened #482 "Add Pulse Projects to Festival site"
@kristinashu @edrushka – @alanmoo and I spoke briefly about putting MozFest related things from Pulse directly on the site. He whipped up a page that I think is just about good to go.

_Why not link to Pulse?_ Pulse isn't ready for prime time. It's got some rough edges that be exposed by a huge amount of traffic. Integration will also make way more sense for visitors to the site.

I think the page

[2016-11-03 15:48] xmatthewx commented on #482
@kristinashu – please do a quick design review of the page linked above this week. Or, assign back to me.

@alanmoo – I spoke with Sarah and Erika, and we will run with this approach rather than an external link.

[2016-11-03 16:02] xmatthewx commented on #482
@Saallen – see link above. It doesn't mention or link to Pulse itself, but that could be added when v2 is built.

[2016-11-03 19:28] kristinashu commented on #482
@xmatthewx this page should have a banner image like the other pages and then the "Mozfest Projects" title can go over top of it.

Do you have some intro text to give it context?

[2016-11-04 16:35] xmatthewx commented on #482
@edrushka how about: "MozFest attracts and generates dozens of projects that thrive long after the festival weekend. We've gathered examples here that provide a catalyst for enduring collaboration across our vibrant network."

A banner image would be good if we can find a moment to make it. If not, can we survive without? I don't think it's a blocker.

[2016-11-04 21:33] kristinashu commented on #482
Here's a banner image: ![project-banner](https://cloud.githubusercontent.com/assets/1068783/20023182/9d4ed0b8-a29b-11e6-8350-b893f40bd39c.jpg)

[2016-11-07 16:26] xmatthewx commented on #482
Thanks @kristinashu

@alanmoo - let's update with banner and below it, this intro text.

Below the projects, let's add:

[2016-11-07 17:09] alanmoo commented on #482
I've updated the PR- [take a look](https://mozillafestival-org-sta-pr-481.herokuapp.com/projects) at this and let me know if it needs anything else.

[2016-11-07 17:14] kristinashu commented on #482
Looks good @alanmoo, just the h2 title should be blue #362fc1 instead of the old red #E14164 color.

[2016-11-07 17:17] kristinashu opened #483 "Order of menu items"
Order of the main nav seem quite random at the moment ([temp link](https://mozillafestival-org-sta-pr-481.herokuapp.com/projects)):
Projects
Schedule
Blog
What to Expect
Spaces & Sessions

I recommend we update it to:
What to Expect
Spaces & Sessions
Projects
Schedule
Blog

What do you think @xmatthewx @alanmoo?

[2016-11-07 18:48] xmatthewx commented on #483
Agreed. I didn't notice before, but the label "What to Expect" is a bit weird post festival. `About` would make sense, but we use that in the footer. `About MozFest`??

[2016-11-07 18:51] xmatthewx commented on #482
I added two comments in the PR. Left align visit buttons. Add and reorder projects. Should have posted that here.

[2016-11-07 21:49] alanmoo commented on #482
I've addressed these issues. One more look?

[2016-11-07 22:02] #482 closed

[2016-11-07 22:07] alanmoo commented on #483
The only issue I see with that is the page URL is "expect". Do we change the title on the page itself, but not the URL? Or leave the page alone and just change the header link title?

[2016-11-07 22:13] xmatthewx commented on #483
Oye. Um. I don't think it matters too much either way. I can't imagine there are many direct bookmarks. I also can't imagine many people will notice the URL. Not ideal, but not critical.

I'd vote to change the label only. But let's see what @kristinashu says about the label itself.

[2016-11-07 22:28] kristinashu commented on #483
"What to Expect" doesn't seem like an issue so I think we could keep it the way it is.

[2016-11-08 16:17] #483 closed

[2017-02-09 21:03] edrushka opened #488 "Master List of February 2017 Updates"
## Top Nav Bar
https://mozillafestival.org/ (all pages)

- [x] Update wordmark design #499
- [x] Replace wordmark with updated version #500
- [x] Remove Tabzilla #501
- [x] Make blog first (furthest left) item in top nav bar

## Landing Page
Ticket #503
- [x] Update main banner
- [x] Update Speaker Series section
- [x] Design new section for blogs/news #502
- [x] Implement new section for blogs/ne

[2017-02-10 00:48] edrushka opened #489 "What To Expect page"
https://mozillafestival.org/expect

**What is MozFest like?**
- [x] Change "Read our Festival Guide" to "Read the 2016 Festival Guide"

**Video**
- [x] Update to 2017 video (link will be ready by Feb 24)

**Weekend Outline**
- [x] Change dates on table to Friday Oct 27, Saturday Oct 27, Sunday Oct 29

**Participating at MozFest**
- [x] Link "Participation Guidelines" in the last para to https://ww

[2017-02-10 00:54] edrushka opened #490 "Spaces & Sessions page"
https://mozillafestival.org/spaces-and-sessions

- [x] Update Spaces title to "MozFest 2016 Spaces"

[2017-02-10 01:01] edrushka opened #491 "Tweet MozFest page"
https://twitter.com/intent/tweet?text=I%27m%20attending%20%23mozfest%2C%20the%20biggest%20event%20for%20%26%20by%20the%20open%20Internet%20movement.%20Join%20me%20%26%20%40Mozilla%20in%20London%3A%20mzl.la%2Fmozfest&source=webclient

- [x] Update autofilled tweet text to read "Did you hear? #MozFest 2017 will take place October 27-30 in London. Hope to see you there! www.mozfest.org"

[2017-02-10 01:07] edrushka opened #492 "Contact page"
## Contact
https://mozillafestival.org/contact
- [x] 'Sign up here' should link to https://ti.to/Mozilla/mozfest-2017

[2017-02-10 01:11] edrushka opened #493 "Volunteer page"
https://mozillafestival.org/volunteer

- [x] Remove the lines "The MozFest team meets bi-monthly in Mozilla’s London office, so come say hi and learn more. All volunteer roles for MozFest 2016 have been filled." and replace with "Volunteer positions for MozFest 2017 will open in the summer."

[2017-02-10 01:28] edrushka opened #494 "Fringe page"
https://mozillafestival.org/fringe
- [x] Replace the 3 paragraphs of text with:

MozFest is about working in the open and sharing ideas with the greater community. There are several innovative events taking place around the world with this same philosophy, and we would love to align them with MozFest.

How do you know if your event is a Fringe Event? It can be held anywhere in the world, but must

[2017-02-10 23:38] edrushka opened #495 "About page"
https://mozillafestival.org/about

**Stats**
- [x]  Update this line: The eighth annual MozFest will be held in London, from Friday, Oct. 27 to Sunday, Oct. 29.

**2016 Timeline entry**
- [x] Change title from 'The Present' to 'Inclusion'
- [x] Change paragraph to
In 2016, we highlighted how the Internet movement’s boldest, most game-changing ideas can come from anyone, anywhere. We examined how i

[2017-02-10 23:40] edrushka commented on #495
@Saallen Changing title of 2016 section on timeline to 'Inclusion' and 2015 to 'Training Leaders'. Only other change is making 2016 entry past tense.

[2017-02-11 00:02] edrushka opened #496 "Team page"
https://mozillafestival.org/team

- [x] Remove entries for Marc and Spike
- [x] Update text for Kevin
Kevin Zawacki is Communications Manager for the Mozilla Foundation, and has a background in journalism and public relations. Kevin brings his magic to copy writing, media relations and is the mastermind behind the Dialogues and Debates speakers series. 2017 will be Kevin's fourth MozFest.
- [x] Up

[2017-02-11 00:03] edrushka commented on #496
@KevZawacki please edit the comment above to update your new MoFo job title.

[2017-02-11 00:05] edrushka commented on #496
**Important Note**
The core MozFest team will expand and we will be adding to this page as roles come into play throughout the year. 😄

[2017-02-11 00:07] edrushka opened #497 "Terms page"
https://beta.webmaker.org/#/legal?_k=unyb1o

- [x] update this link to point to https://www.mozilla.org/en-US/about/legal/terms/mozilla/

[2017-02-11 00:09] edrushka opened #498 "Bottom footer"
https://mozillafestival.org/ (all pages)

- [ ] Remove 'Read the blog' from footer

[2017-02-11 00:16] edrushka opened #499 "Update wordmark"
The MozFest wordmark (Mozilla Festival and gear icon) is featured in the nav bar of every page on the [website](https://mozillafestival.org/). It does not align with the new branding guidelines.

Please update the design to align with the new brand.

Note 1: we need to continue using the name Mozilla Festival and should not shorten it to MozFest at this time.

Note 2: this wordmark will also be us

[2017-02-11 00:17] edrushka opened #500 "Replace wordmark"
Replace wordmark in nav bar with design from #499

[2017-02-11 00:20] edrushka opened #501 "Remove Tabzilla"
@xmatthewx am I correct in assuming we no longer use Tabzilla? Is there a replacement? If we remove from the MozFest site, there is nothing that links back to mozilla.org

[2017-02-11 00:46] edrushka opened #502 "Design new section for blogs/news"
For [MozFest landing page](https://mozillafestival.org/)

Follow MLN site design for a blog/news section fed from:
- our Medium blog
- other people's Medium blogs
- news

'View More News' button can link to our Medium: https://medium.com/mozilla-festival

This section should go under the Speakers

[2017-02-11 00:49] edrushka opened #503 "Landing page"
https://mozillafestival.org/

**Main Banner**
- [ ] replace "Watch videos from MozFest 2016" with "October 27-29, 2017 Ravensbourne College, London"
- [ ] reduce buttons to a single button that reads "watch video" links here: https://vimeo.com/205552025/37560e3619
- [ ] replace background photo with new photo: https://drive.google.com/file/d/0B4Q8pzCpDS_eRjBUSXhSalp0YXM/view

**Speakers Series Sec

[2017-02-13 11:44] Saallen commented on #495
👍

[2017-02-13 18:54] xmatthewx commented on #501
We can drop the tab. We can look at adding the footer used across most of our sites for links back to Mozilla. It should be easy to drop in.

[2017-02-14 20:28] edrushka commented on #501
@xmatthewx in our meeting today we discussed keeping the footer as-is for now and simply adding a mozilla.org link to the very bottom set of links (About / Festival Team / Participation Guidelines / Terms / Privacy ) as a way for people to get back to the mothership, since we're taking out Tabzilla.

There will be other MozFest site updates throughout the year (when we open the call for proposals

[2017-02-15 17:01] sabrinang commented on #499
The new brand doesn’t have clear guideline on extensions of the mozilla brand logo placement yet but there was a clip of mozilla festival brand previewed on the from the [unveiling video](https://www.youtube.com/watch?v=MuLWXHgyEVw&feature=youtu.be) but in general the colour used for “mozilla” will also be the highlight colour for following highlight box.

I'll be referencing this clip from the vi

[2017-02-15 17:17] sabrinang commented on #501
Example of tabzilla-free header with mozilla wordmark link in footer incorporating existing links to look more like the format we have on other sites:
<img width="1039" alt="remove-tabzilla_add-footer" src="https://cloud.githubusercontent.com/assets/2492510/22971184/c15ba97a-f329-11e6-9ffe-7c43eab069c8.png">
We can probably make another exception here and do without the small icons if you want so

[2017-02-15 17:26] edrushka commented on #499
Nice! I like the stacked versions, either with the cog to left, as in the current lockup, or to the right with partial highlight, as in your last iterations.

I'm open to both yellow and neon blue.

[2017-02-15 17:30] edrushka commented on #501
Fine with me to drop the small icons. The highlighter on the new Moz logo already makes that section look quite busy.

[2017-02-15 17:32] sabrinang commented on #502
Mockup of blog post section with content from medium and using sites typographic styles: ![mozilla-festival_update-0217-02](https://cloud.githubusercontent.com/assets/2492510/22971424/7ae43290-f32a-11e6-8b3a-39b5d7b85678.png)

[2017-02-15 17:35] edrushka commented on #502
👍 Would this section have a different background colour?

[2017-02-15 17:40] hannahkane commented on #499
Really nice, @sabrinang.

@xmatthewx - do you want to offer final approval?

[2017-02-15 17:43] hannahkane commented on #501
Nice synthesis of footer styles!

@sabrinang - can you do a version without the small icons, and then create an implementation ticket, please?

[2017-02-15 18:14] xmatthewx commented on #499
Stacked, without the gear icon looks great. Yellow looks good, but could changed for different applications. Done!

In the future, we could explore gear as overlay like clip in video, but let's definitely not play with that now.

[2017-02-15 18:20] sabrinang commented on #502
No, I don’t think a background colour is necessary and we can keep the white space but we can swap the grey seen on the bottom to the to divide this section (and remove horizontal line under title) since it doesn’t seem like the grey is limited to any particular usage. This grey would work but any colour bg would be too busy for this section and colour bg isn't used else where on the site.
<img wi

[2017-02-15 18:37] edrushka commented on #502
Grey is perfect, and I like the removal of the line under the title. Thanks!

[2017-02-15 18:39] hannahkane commented on #502
Awesome. @sabrinang - would you mind filing an implementation ticket with whatever assets a dev would need (if any)?

[2017-02-15 18:40] hannahkane commented on #502
Actually, realizing a significant part of the implementation is figuring out how we're going to pull in content, so don't worry about filing that ticket, @sabrinang; I can do it. But can you confirm that there are no new assets needed to implement this design? Thanks!

[2017-02-15 18:44] edrushka commented on #502
Implementation is included in ticket #503

[2017-02-15 18:53] sabrinang opened #504 "Implement footer update"
From ticket #501 we mentioned updating the footer to be a link back to mozilla.org since tabzilla is removed. This footer incorporates the new brand wordmark and footer copy seen on footers across other mofo properties. You can download wordmark here: https://mozilla.ninja/our-logo/
![mozilla-festival_update-footer-02](https://cloud.githubusercontent.com/assets/2492510/22989909/5fc67af8-f36c-11e6-

[2017-02-15 18:57] sabrinang commented on #502
It uses all existing colours and typography of the site, the only additional asset is using Medium's logo icon above the titles which can be downloaded here: https://github.com/Medium/medium-logos/archive/master.zip

[2017-02-15 19:45] sabrinang commented on #499
Here is the stacked wordmark without the logo exported in:
1 - black/white
2 - black/(new mozilla brand) yellow

<img width="1073" alt="screen shot 2017-02-15 at 11 43 53 am" src="https://cloud.githubusercontent.com/assets/2492510/22992291/19e70572-f374-11e6-8ca6-001f7ec360b5.png">

Exported in .svg and .png on gdrive: https://drive.google.com/open?id=0B4Q8pzCpDS_eb1BXUnpWLXZ2RVU

The .ai file of

[2017-02-15 21:44] hannahkane opened #505 "Implement news section"
This is part of #503, but pulling this into a separate ticket so we can discuss implementation, including questions about how we'll curate content.

- Final mockup is here: https://github.com/mozilla/mozillafestival.org/issues/502#issuecomment-280093698
- It uses all existing colours and typography of the site, the only additional asset is using Medium's logo icon above the titles which can be dow

[2017-02-15 21:44] #502 closed

[2017-02-15 22:26] #499 closed

[2017-02-15 22:54] sabrinang commented on #499
![mozilla-festival_wordmark-interim_video](https://cloud.githubusercontent.com/assets/2492510/22999039/661ff434-f38e-11e6-8f0c-c09846bf377e.png)
@edrushka is there a preference for wordmark for video context? I was thinking that the horizontal wordmark (2nd right) would look the most balanced

[2017-02-15 23:13] xmatthewx commented on #499
The black box really disappears. Would be good to share with Yuliya. Guidelines say "The logo highlight is always black, except for very rare cases when a white one-color logo can be used." I'm curious if that means that festival should also be white.

 - I suggest we proceed without the gear paired with the logo. We can examine that later after we get through network site stuff.
 - I think the ho

[2017-02-16 21:36] alanmoo commented on #503
@hannahkane I'll do this last, so just check off whatever you get to before me.

[2017-02-16 23:07] hannahkane commented on #494
@alanmoo - didn't know the best way to hide the form. Can you let me know the best way?

[2017-02-16 23:23] hannahkane commented on #503
Note: let's not push this to production until @edrushka confirms the dates

[2017-02-17 00:50] sabrinang commented on #499
horizontal lockup is also exported in the folder: https://drive.google.com/open?id=0B4Q8pzCpDS_eb1BXUnpWLXZ2RVU

[2017-02-17 16:45] alanmoo commented on #494
@hannahkane commenting out these lines: https://github.com/mozilla/mozillafestival.org/blob/master/pages/fringe-events.jsx#L241-L251 and the horizontal rule line, separately should do it. Don't want to remove them entirely since there's a good chance they'll be back.

Comments in JSX are done by wrapping with `{/*`. So, `{/* <div>Foo</div> */}`

[2017-02-17 18:15] hannahkane commented on #494
thanks, @alanmoo. just added this. (to the same branch. was that not the right workflow?)

[2017-02-17 18:25] alanmoo commented on #494
That's fine. Usually if you make change to a PR you request a review again, but letting me know here works.

[2017-02-17 21:42] edrushka commented on #494
Just clarifying that the events and form will indeed return later in the year. I think you're both aware, but just so there's no confusion due to my wording above.

[2017-02-17 21:59] hannahkane commented on #494
Thanks, @edrushka. We just hid it, but will be easy to un-hide when we need to.

[2017-02-20 18:27] edrushka opened #508 "Select new photo for landing page"
@Saallen Here are some suggestions to replace the main banner image on the landing page (Reagan speaking)

~https://www.flickr.com/photos/mozfest/30575310851/in/album-72157675892449415/~
~https://www.flickr.com/photos/mozfest/30032747144/in/album-72157675892449415/~
https://www.flickr.com/photos/mozfest/30556946742/in/album-72157675892449415/ - edit out alcohol
https://www.flickr.com/photos/mozfes

[2017-02-20 19:59] edrushka commented on #505
**Left column**
[Surveillance and Race Online](https://medium.com/mozilla-festival/surveillance-and-race-online-c03dda350fb9#.inkvhivm2)

**Right column**
1) [Journalism at MozFest 2016: Great Stories, Strong Communities, New Tools](https://medium.com/mozilla-festival/journalism-at-mozfest-2016-great-stories-strong-communities-new-tools-dd99e9829167#.g3mk196yp)
2) [Wie steht es um die Gesundheit d

[2017-02-21 12:02] Saallen commented on #505
Do we want the Internet health report anywhere here? As once these changes go live it will probably be the greatest moment for hits and length of time on the page so would be good to capture this curiosity and encourage reading of the report. What do others think?

[2017-02-21 13:27] Saallen commented on #508
Hi @edrushka these links are not working for me....
Can you screen share later in our 1:1?

[2017-02-21 16:18] edrushka commented on #505
Good call. I've replaced the third one with that.

[2017-02-21 20:18] sabrinang commented on #508
Note: For the 4th photo, it has the 2016 branding pretty large which may clash as a main banner if it is next to new branding stuff (but can be photoshopped out if you like the photo itself)

[2017-02-21 20:30] edrushka commented on #508
ooohhh good catch! :eyes: Thanks!

[2017-02-23 00:16] edrushka commented on #508
@Saallen can you try these links again? They should work. If not, can you book some time on the cal for me to screenshare?

[2017-02-24 14:15] hannahkane commented on #489
@edrushka - will the video be ready today?

[2017-02-24 14:22] hannahkane commented on #488
@edrushka and @alanmoo - wondering if we can do a kind of virtual stand-up today in this ticket. I'm specifically curious about:
 * the status of the video, which affects #489 and I *think* #503 (because the single "watch video" button should point to the new video, right?)
 * the status of [selecting a new photo for the landing page](https://github.com/mozilla/mozillafestival.org/issues/508) whic

[2017-02-24 14:25] hannahkane commented on #488
My stand-up report is:
 * filed PRs for everything I think I can do on my own: parts of the landing page, everything on the What to Expect page except for the video, Spaces and Sessions page, Contact, Volunteer, Fringe, About, Team, and Terms

[2017-02-24 15:07] alanmoo commented on #488
I refactored a fair amount of the site to use the newest versions of various libraries (react, react-router, mofo-bootstrap, and brought in mofo-ui). This allowed me to drop in the new footer fairly easily, and will allow other changes more easily going forward. I have a PR almost ready to add said footer and remove tabzilla.

I got hung up a little bit on the fringe events; something about recent

[2017-02-24 18:37] edrushka commented on #489
🔥 Hot off the press, here it! 🔥

https://vimeo.com/205552025/37560e3619

cc @alanmoo

[2017-02-24 18:41] edrushka commented on #508
@sabrinang could you kindly mock up these 2 photos to see which looks best for the landing page? If we could use a different colour other than purple for the colour wash, that would be ideal since we want people to realize we've updated the site. Thank you! 🌷

https://www.flickr.com/photos/mozfest/30580887676/in/album-72157674377310602/
https://www.flickr.com/photos/mozfest/30622955755/in/album-72

[2017-02-24 18:45] edrushka commented on #503
Main banner button links to video here: https://vimeo.com/205552025/37560e3619

[2017-02-24 18:47] alanmoo commented on #505
Since this is a mix of stuff, pulling from multiple sources, I'm just going to make this static for now.

[2017-02-24 18:52] edrushka commented on #505
Perfect. We don't envision updating this super frequently.

[2017-02-24 18:54] edrushka commented on #488
The video is ready! https://vimeo.com/205552025/37560e3619 I've updated #489 and #503

We've narrowed the main banner image down to 2 choices and have asked Sabrina to mock them up so we can make our final decision. See progress in #508

[2017-02-24 19:01] mmmavis opened #513 "Add a prebuild task to remove /public dir"

[2017-02-24 19:20] hannahkane commented on #488
Woohoo! Seems like we're on track to push all of this to production on March 1. Let's check in again on Monday to see what remains to do.

[2017-02-24 22:13] sabrinang commented on #508
![mozilla-festival_update-0217-01](https://cloud.githubusercontent.com/assets/2492510/23323002/680b8704-fa9b-11e6-93e1-1b8f9a286bb4.jpg)
![mozilla-festival_update-0217-05](https://cloud.githubusercontent.com/assets/2492510/23322840/abc190c0-fa9a-11e6-8567-1ff364d1dd77.jpg)

[2017-02-24 22:29] edrushka commented on #508
Thank you @sabrinang!!

We both liked the first one better, even before you mocked it up, and I think it's clearly the winner.

[2017-02-24 22:51] edrushka commented on #488
Actually, if possible, can we plan to push everything to prod (except #491) on Tuesday? We'd like to start tweeting on Wed and it would be great to have the page up and running for a bit before we push traffic there.

[2017-02-24 23:16] sabrinang commented on #508
hero image exported here: https://drive.google.com/open?id=0B4Q8pzCpDS_eRjBUSXhSalp0YXM

[2017-02-24 23:21] edrushka commented on #503
Hero image from main banner is here: https://drive.google.com/file/d/0B4Q8pzCpDS_eRjBUSXhSalp0YXM/view

[2017-02-24 23:22] edrushka commented on #488
Hero image for main banner is ready in #503

[2017-02-24 23:23] #508 closed

[2017-02-25 03:05] hannahkane commented on #488
@alanmoo - what do you think about Erika's suggested timeline ^?

[2017-02-25 04:21] #357 closed

[2017-02-25 04:21] #356 closed

[2017-02-27 15:16] alanmoo commented on #488
Might be a little bit of a push but I'll see if I can get it going today. I've been checking items off the main list as I open PRs for them. Might need some dev help reviewing them.

[2017-02-27 16:20] alanmoo commented on #505
For the left column we're linking to a Medium article which simply has a video and a description below it? I'm not going to argue against it I just want to point it out and make sure that's desired.

[2017-02-27 16:23] edrushka commented on #505
@alanmoo correct. Just like in the mockup here https://github.com/mozilla/mozillafestival.org/issues/502#issuecomment-280093698

[2017-02-27 16:23] alanmoo commented on #502
Unless I'm missing something, the typographic styles used aren't readily available to components outside the ones they're used in. In the future I'd like to unify the typography with the rest of MoFo Bootstrap but that's not going to be possible before tomorrow. So after this lands, there may need to be some massaging of the typography, but I'll make it look reasonably good at least.

[2017-02-27 17:13] hannahkane commented on #488
I updated the checklist just now with PRs I've filed.

@mmmavis - are you available to do code review on Mozfest site stuff today, or should I try to track someone else down?

[2017-02-27 17:20] hannahkane commented on #489
@alanmoo - mind doing the video link replacement? I'm getting on a plane shortly.

[2017-02-27 18:12] mmmavis commented on #488
@hannahkane yup yup! what are the PRs I should review? I marked 3 as approved last week - they are just not merged yet.

[2017-02-27 18:22] hannahkane commented on #488
Actually, seems like you've done all that can be done for now (thanks!), but more likely coming today, with a goal of pushing to production tomorrow. Thank you!

[2017-02-27 19:25] mmmavis commented on #488
Cool just assign me as PR reviewer!

[2017-02-27 21:07] #498 closed

[2017-02-27 21:07] #501 closed

[2017-02-27 21:31] #490 closed

[2017-02-27 21:31] #492 closed

[2017-02-27 21:31] #493 closed

[2017-02-27 21:31] #494 closed

[2017-02-27 21:31] #495 closed

[2017-02-27 21:31] #496 closed

[2017-02-28 01:42] #503 closed

[2017-02-28 14:29] #504 closed

[2017-02-28 14:36] alanmoo commented on #497
Was this from the footer or was it elsewhere on the teams page?

[2017-02-28 15:12] alanmoo commented on #489
This is merged and on staging

[2017-02-28 15:12] #489 closed

[2017-02-28 15:51] hannahkane commented on #497
@alanmoo - are you asking what @edrushka was intending with this ticket, or what I implemented? I updated the link to Terms in the footer, which is, I believe, the only place it appears. But @edrushka to confirm.

[2017-02-28 15:58] alanmoo commented on #497
Both, kind of. I just did a search on `master` for  that link and nothing came up, so I'm going to call this closed.

[2017-02-28 15:58] #497 closed

[2017-02-28 16:20] edrushka commented on #497
Confirming it was only on the footer.

[2017-02-28 19:05] alanmoo commented on #488
@edrushka Just as an update: I'm waiting on approval for #511 and #505 from both design and code standpoints. (#505 might need some minor graphic updates per branding guidelines). Once those two are approved*, we can confirm that staging is all set and push it to production.

*Assuming the current web issues around S3 are resolved. Heroku is having a hard time with those right now

[2017-02-28 19:07] alanmoo commented on #488
(@mmmavis I just assigned #515 to you for review because if there are any other changes they should just be a CSS color string.)

[2017-02-28 21:24] #500 closed

[2017-02-28 23:54] hannahkane commented on #488
@alanmoo - I know you're probably gone for the day. Can we plan to circle up early PST tomorrow and figure out our deployment plan? cc @edrushka

[2017-03-01 15:40] #505 closed

[2017-03-01 18:21] alanmoo opened #520 "Change active/hover style of nav items"
As per @sabrinang [here](https://github.com/mozilla/mozillafestival.org/pull/511#issuecomment-283208558), the active/highlight state of the nav links should be updated to reflect the new brand.

![](https://cloud.githubusercontent.com/assets/2492510/23441057/e44b29d2-fdd4-11e6-840e-7b2c8e431d92.png)

[2017-03-01 19:11] edrushka commented on #491
omg I made a mistake! The tweet should read "Did you hear? #MozFest 2017 will take place October 27-29 in London. Hope to see you there! www.mozfest.org"  <---changed the date

[2017-03-01 21:29] alanmoo commented on #491
Fixed in the PR

[2017-03-01 21:47] edrushka opened #521 "Tweaks to MozFest staging"
- [x] Landing page hero banner. Please capitalize Internet
- [x] Dialogues and Debates section. Please change title to  Watch now: 2016 Dialogues and Debates

[2017-03-01 21:52] edrushka commented on #521
- [ ] Team page: Change production team title to   Our 2017 Production Team

[2017-03-01 22:00] #521 closed

[2017-03-01 22:04] alanmoo commented on #488
Closing this as everything is live except the tweet, which has its own ticket.

[2017-03-01 22:04] #488 closed

[2017-03-01 22:06] edrushka commented on #488
🎺 🎉 🎺 🎉  Thanks everyone!

[2017-03-01 22:10] hannahkane commented on #488
Yay! This process felt good. Thanks @edrushka @alanmoo @sabrinang and @mmmavis!!!

[2017-03-01 22:59] edrushka commented on #491
Please confirm with me before pushing this last piece live. Tweet content may change again after executive level review.

[2017-03-02 12:59] Saallen opened #524 "Bug- Tab says MozFest 2016"
Eagle eyed @chadsansing spotted the browser tab says MozFest 2016 even on our fancy new 2017 site

@alanmoo do you have a fix for this?

cc @edrushka

[2017-03-02 13:17] alanmoo commented on #524
I just merged a PR that Mavis opened last night to fix this. Should be live on staging. I'll push to master when I properly start my day

[2017-03-02 14:13] alanmoo commented on #524
Closed by #523. It might be a little while before you see it kick in, as I believe this site is behind a CDN.

[2017-03-02 14:13] #524 closed

[2017-03-02 14:23] Saallen commented on #524
:champagne:

[2017-03-02 15:40] alanmoo commented on #491
@edrushka can you follow up with any changes/requests to deploy in #512? Just tag me or another dev if it's tomorrow.

[2017-03-02 17:15] edrushka commented on #491
@alanmoo Please change tweet text to:

For those who believe the Internet is worth protecting: #MozFest 2017 will take place October 27-29 in London www.mozfest.org

You can deploy today. Thank you!

[2017-03-02 17:16] edrushka commented on #491
oh oops - I'll add that to #512

[2017-03-02 18:01] #491 closed

[2017-03-02 23:04] edrushka opened #525 "Add "cookies" link to footer"
It is an EU legal requirement that the site have a "Cookies" link in the bottom footer. See https://www.mozilla.org/en-US/ as an example.

It should link to the 'cookie' section of the privacy page:  https://www.mozilla.org/en-US/privacy/websites/#cookies

cc @hannahkane for assigning

[2017-03-06 04:11] alanmoo commented on #525
A few things:

* That page is already linked to via the `Privacy` link (the link you use just scrolls down the very short page.)
* The cookie section of the privacy page you link to is about Firefox, not the specific site.
* Are we actually storing anything on the user's computer for this site that would require this disclaimer? For the schedule app I can understand it, but I'm not positive about

[2017-03-06 04:13] alanmoo commented on #525
That being said, I've opened #527, I'm just not convinced it's the right solution to an issue we may or may not have.

[2017-03-06 18:37] edrushka commented on #525
cc @abigailphillips

[2017-03-06 19:17] abigailphillips commented on #525
"That page is already linked to via the Privacy link (the link you use just scrolls down the very short page.)"

The separate link for 'Cookies' to call out this info is an internal compromise -- the EU E-Privacy Directive actually requires more, but for various reasons the decision was made to not present a more intrusive warning or request.

"The cookie section of the privacy page you link to is

[2017-03-06 20:06] alanmoo commented on #525
For the last item, good clarification: I don't believe we store anything on the user's computer at all for this site, so do we still need the disclaimer?
(@mmmavis can you confirm that we don't store anything? A quick search of the repo shows no results for `localstorage` or `cookies`.)

If we use [the schedule app](https://app.mozillafestival.org/) again this year (which we currently link to from

[2017-03-06 20:10] alanmoo commented on #525
I just looked at the debugger, it looks like Google Analytics and Tito drop a cookie, so I guess that triggers the need for this?

[2017-03-06 21:37] mmmavis opened #528 "MozFest Software Evaluation (session curation / schedule app)"
**Goal**

To evaluate and select existing software in the marketplace that provides functionality for:

- Session proposal collection.
- Proposal triage & curation.
- Provides at minimum data for a “schedule app”.
- Ideally provides an experience for app attendees that includes the schedule and facility for announcements/changes.

Relevant links:

- MozFest 2017 Software: https://docs.google.com/d

[2017-03-06 22:47] mmmavis opened #529 "Evaluate PaperCall.io"
(I will update this ticket as I go)

# PaperCall

https://www.papercall.io
- Just for **proposal curation**.
- pricing https://www.papercall.io/pricing

## 😃  Pros (tested using a free account)
- log in with Google+, Github, Twitter, Facebook, LinkedIn
- messaging system between organizer and session proposers. Good for giving feedback / asking for clarification.

### for staff / organizer

- emai

[2017-03-07 01:42] mmmavis commented on #525
@alanmoo we can remove Tito related code since we are not using it now (and may or may not use it again for this year's MozFest. Decision depends on what comes out from the MozFest tooling research) For Google Analytics I can't really tell if we are making use of it - I can't access it on GA dashboard.

[2017-03-07 15:55] Saallen opened #530 "Request via ti.to page and"
Pinging @alanmoo  in the hope he can help but know @mmmavis set up the tito page late in 2016

Received feedback on twitter today on the new site:
is it possible to carry the header from the ti.to homepage so you can navigate to other pages in the site?

[Ti.to home page ](https://ti.to/Mozilla/mozfest-2017)

CC @edrushka

[2017-03-07 15:59] Saallen opened #531 "Google search page brings up old dates"
Hey @alanmoo - I believe we spoke about this before but is there any way to update the snipets that show up on a google search. I know in 2015 we edited what showed up here but as you can see now- its very confusing with reference to 2014, 2015 and 2016 as seen below in the screen grab
![screen shot 2017-03-07 at 15 57 03](https://cloud.githubusercontent.com/assets/10194015/23664944/010d3824-034f-

[2017-03-07 16:17] alanmoo commented on #530
It's on a different domain, so not likely. We could change whatever link is being used to get there to open the site in a new tab. What link was used?

[2017-03-07 16:19] alanmoo commented on #531
I have no idea where this stuff gets generated from. @mmmavis or @cadecairos any idea?

[2017-03-07 16:51] cadecairos commented on #531
Those results are just pages that Google has cached over the years. There's not much we can do except probably ask Google to re-index and remove stuff.

[2017-03-07 16:59] edrushka commented on #531
Are there best practices we should be following to avoid this? Can we tell Google to _not_ show this content?

[2017-03-07 17:02] cadecairos commented on #531
I think it's a product of changing domain names, which is arguably bad for SEO.

based on a quick search, it seems like we need to prove ownership of the domains to Google, which might allow us to change around the search settings and caches for them.

[2017-03-07 18:32] simonwex commented on #531
@cadecairos do you know the steps involved?

[2017-03-07 18:34] cadecairos commented on #531
I know how to enable a domain on the Google search console. after that it'll be all trial and error

[2017-03-07 18:55] abigailphillips commented on #525
If you know for certain there will not be cookies at any point, let me know. Otherwise please include the link. Thanks.

[2017-03-08 14:24] #520 closed

[2017-03-08 19:38] mmmavis commented on #531
Will this help? - [Ask Google to recrawl your URLs](https://support.google.com/webmasters/answer/6065812?hl=en)

[2017-03-08 22:19] mmmavis opened #532 "Evaluate Whova"
https://whova.com/

Demo videos: https://www.youtube.com/watch?v=2asAzILOu7g&list=PL7clZjlwhN7FxRET4Xj1mgDAHwFg9V34t

I'm meeting someone from Whova this Friday. Will update this ticket after.

## Ticketing

- yes: https://www.youtube.com/watch?time_continue=115&v=dAeG2MYVXqo
- payment via Stripe

## Attendee checkin

- look up via admin dashbaord
- search by name on app
- scan QR code

## Live po

[2017-03-08 22:22] mmmavis opened #533 "Evaluate Attendify"
https://attendify.com/

I'm meeting someone from Attendify next Tuesday. Will update this ticket with more info after then.

## Type of app

### native mobile app
Sample apps to try: https://attendify.com/app/dkidft/ and https://attendify.com/app/nzqwnp/

### web app

They also offer web app though there are only a few features available there: http://help.attendify.com/manage-your-event-app/web-a

[2017-03-09 00:18] mmmavis opened #534 "Evaluate Sched"
@ScottDowne @cadecairos I started to evaluate existing software for MozFest proposal curation / schedule app again. I can't recall what the reason was that we couldn't use Sched 2 years ago. Was it because it didn't pass the security review? I wonder if things have been improved on that front... @cadecairos if we'd like to ask for a security review on Sched again how should I start?

---

https://

[2017-03-09 02:36] ScottDowne commented on #534
It was because there wasn't sufficient time to get it through sec review.
We never did see if it would fail or pass. Worth looking into.

[2017-03-09 19:16] #525 closed

[2017-03-09 19:22] mmmavis commented on #534
@ScottDowne good to know! I'll give Sched a try myself first then.

[2017-03-13 22:19] mmmavis opened #535 "Evaluate QuickMobile"
https://www.quickmobile.com

I've requested a demo. Still waiting for them to contact me back to confirm my demo request.

Some links:
- https://www.quickmobile.com/blog/update-security-internationalization-more
- https://www.quickmobile.com/tour/inform
- https://www.quickmobile.com/resources

[2017-03-13 22:41] mmmavis opened #536 "Evaluate Guidebook"
https://guidebook.com/

My test schedule app: https://guidebook.com/guide/92271/ (web version)

- pricing: https://guidebook.com/pricing/
- FAQ: https://support.guidebook.com

[2017-03-23 17:32] mmmavis commented on #532
Closing. Whova isn't on our top candidate list.

[2017-03-23 17:32] #532 closed

[2017-03-23 17:32] mmmavis commented on #535
Closing. QuickMobile isn't on our top candidate list.

[2017-03-23 17:32] #535 closed

[2017-03-23 17:44] mmmavis commented on #528
Updates from today's call with @simonwex and @edrushka

### Docs

- detailed comparison: https://docs.google.com/spreadsheets/d/1kP6IHgCsRtwWlPcXQts2DNAwTwKjPdtCygxaH4B4s3U/edit#gid=2045980956
- mavis' thoughts and summary: https://docs.google.com/document/d/1uJxtoc8B--2JbYJCYNrhwp13pTQX6YuBXzsXaVgvigI/edit#heading=h.hcpetnu12vaz

### Proposal curation tool candidates

- PaperCall.io (https://www.

[2017-04-11 00:06] mmmavis opened #538 "Propose a Proposal Curation Flow for 2017"
### What we used last year

- flowchart: https://www.lucidchart.com/documents/view/822b0b42-6486-409f-a465-c6834ae56276
- system/platform involved
  - MozFest site: http://mozillafestival.org/
  - Google Form: (a copy of the real form) https://docs.google.com/a/mozillafoundation.org/forms/d/1yKv9mRzkGcq3bCDCDEUbI8e4gVRPGHNebYHeV2fk8cg/edit
  - multiple Google Spreadsheets
  - GitHub repo: https://

[2017-04-11 00:13] mmmavis commented on #534
Closing as Sched isn't one of our shortlisted candidates.

[2017-04-11 00:13] #534 closed

[2017-04-11 00:15] mmmavis commented on #529
Closing as we are looking for a more customized system.

[2017-04-11 00:15] #529 closed

[2017-04-11 18:27] kristinashu commented on #538
Are there any requirements for the new flow? Was the purpose of GitHub so that anyone could view, comment on and edit a session proposal?

Any idea how wrangles felt about using GitHub for this (was it easy enough for them to use, did it do everything they needed...)?

[2017-04-11 19:59] mmmavis commented on #538
For requirements
1. we must make the curation process open and transparent to public
2. form needs to allow custom questions

We don't have the resources to build a curation platform ourselves that's why we will likely continue using Google Form and GitHub (suggestions welcome!)

Yes to view and comment. Not so sure about editing a session proposal. For dev perspective I'd like us to find a way to

[2017-04-12 16:16] edrushka commented on #538
We want to encourage discussion and adjustments to sessions in the Github _comments_ (versus editing the initial, auto-generated comment) because, as Mavis pointed out, if people break the markdown it will mess up the script for the schedule.

I think wranglers had varying degrees of comfort with using Github. Areas of confusion didn't stem from the Github platform, but rather from how we were usi

[2017-04-13 11:06] Saallen commented on #538
The beauty of guthub is
*transparency- between submissions, between wranglers and gen public
* visual movement of the curation process- labelling and milestones are super important visual filters and markers for the process. Wranglers pick and choose how to curate themselves, so some download their submissions via google sheet, others write them all out on cards. Then they go back to github and ar

[2017-04-20 14:13] Saallen commented on #538
@mmmavis
Here are the processes for ease of understanding from [2015](https://github.com/mozilla/mozfest-program) and 2016

In 2015
*Issues were submissions/session proposals
*Milestones represented Spaces
*Labels represented pathways- many labels could be applied to issues

In 2016 - we swapped things around a little
*Issues were submissions/session proposals
* Milestones were markers of the cura

[2017-05-09 00:38] mmmavis opened #539 "Consider using official Google API node packages"
Instead of https://www.npmjs.com/package/google-spreadsheet , maybe we can use the official Google API node packages https://developers.google.com/sheets/api/quickstart/nodejs ?

Decision not made yet. More research / reading needed.

[2017-05-09 21:32] hannahkane opened #540 "Update landing page CTA"
Copy coming via @edrushka

[2017-05-09 23:07] sabrinang opened #541 "DUE JUNE 1: Social Media Graphic: Call for Proposal"
Create a simple graphic that will accompany social media posts for proposals.

Possible Copy: "Call for Proposal 2017" (TBD)
Platforms: Twitter and Facebook (any others?)
Date: Sent out on June 1

[2017-05-09 23:30] sabrinang opened #542 "Mozilla Festival Logo or Wordmark"
In February, we did an interim update of the wordmark seen on the navigation and promo video:
<img width="1440" alt="image" src="https://cloud.githubusercontent.com/assets/2492510/25876683/bc4183d8-34d3-11e7-8298-59f2c819dc0f.png">
![mozilla-festival-recap-video](https://cloud.githubusercontent.com/assets/2492510/25876674/acd9f45c-34d3-11e7-91d3-4c0e59788715.gif)

We can continue to explore how th

[2017-05-09 23:46] edrushka opened #543 "Master List of May 2017 Updates"
## Top Nav Bar
Ticket #546
- [x] add Propose (links to google form)
- [x] reorder items
- [x] remove Schedule

## Landing Page
Ticket #548
- [x] Update main banner CTA
- [x] Highlight video
- [x] Refresh news section with new stories

## What to Expect Page
Ticket #549
- [x] Slight copy tweak of 'What is MozFest like' section
- [x] Add a11y section

## Spaces & Sessions Page
Ticket #550
- [x] This

[2017-05-10 16:49] sabrinang opened #544 "Design Space Icons (or Visuals)"
### Description:
This year we may need five new visuals to represent each space and to reflect the new visual direction. The spaces this year are the issue areas of the internet health report which include:
- Open innovation
- Digital inclusion
- Decentralization
- Privacy and security
- Web literacy

More information on these spaces can be found on https://internethealthreport.org/v01/ or the spa

[2017-05-10 17:42] sabrinang opened #545 "Website: Align Content Strategy with Network"
### Description
As we revise the Mozilla Festival website, we can align and connect more to the Network web presence work as it develops.

### Goal:
To get better at explaining what MozFest is (to new attendees and audiences).

### Possible Approaches
Content can contain:
- Language that explains it’s one of the flagship pieces of the leadership network. This is where the leaders in our community

[2017-05-10 23:25] sabrinang commented on #541
Idea for twitter graphic that includes "Call for Proposals" some of the new brand colours and pixelated stuff with mozfest cubes:
![twitter 1760x800 copy](https://cloud.githubusercontent.com/assets/2492510/25925172/dbe25be0-359b-11e7-9f10-44f65af7c07a.png)

[2017-05-11 18:24] edrushka opened #546 "Top Nav"
#https://mozillafestival.org/ (all pages)

- [x] add 'Propose' to top nav (links to ~~Call for Proposal google form~~ `/proposals` page)
- [x] move 'About' to top nav (currently it's in bottom footer)
- [x] Reorder items:
Propose
About
Spaces (edit this so it's just called Spaces)
What to expect
Projects
- [x] remove Schedule and Blog from top nav

[2017-05-11 20:59] sabrinang opened #547 "Master List of Design Assets"
### Visual Direction
|   | Priority  | Asset  | Assigned | Due Date | Issue # |
| ------------ | ------------- | ------------ | ------------- | ------------ | ------------- |
| <ul><li>[ ] </li></ul> |  | Create Moodboards | @sabrinang      | ?      | #562      |
| <ul><li>[ ] </li></ul> |  | Establish a Visual Direction | ?      | ?      | ?      |
| <ul><li>[ ] </li></ul> |  | Create a Style Gui

[2017-05-11 23:21] edrushka opened #548 "Landing Page"
https://mozillafestival.org/

- [x] Update main banner CTA
Change 'watch video' to 'propose a session'

- [x] Highlight video
Create new section for this, under the hero banner and above the speakers section. Video should be visible with a play button.   Design ticket: #559

- [x] Refresh news section with new stories

- [x] Bottom footer, replace 'About' with 'Blog'

[2017-05-11 23:24] edrushka opened #549 "What to Expect"
https://mozillafestival.org/expect

- [x] Slight copy tweak of 'What is MozFest like' section. Copy [here](https://docs.google.com/document/d/1tM5i3QnPwtxCmblC5hfKZq7vYG3xQwpW_AYDWiKFshM/edit#heading=h.aaaz5dixnj00)

- [x] Add Accessibility section Copy [here](https://docs.google.com/document/d/1tM5i3QnPwtxCmblC5hfKZq7vYG3xQwpW_AYDWiKFshM/edit#heading=h.aaaz5dixnj00)
- put this underneath Particip

[2017-05-11 23:30] edrushka opened #550 "Spaces and Sessions page"
- [x] Title on hero banner should just be Spaces

- [x] Edit introductory paragraph. Change to:
Spaces are physical and thematic learning hubs based around a broad topic, like web literacy or digital inclusion. A Space is made up of sessions, which are hands-on, educational gatherings based around a specific topic, like “Using Crafts to Teach Localization Processes.” Sessions generally run 30-90 m

[2017-05-11 23:42] edrushka opened #551 "Projects"
@xmatthewx we're updating the MozFest website for the opening of the Call for Proposals on June 1. Are you still happy with what's featured here? https://mozillafestival.org/projects

I can't remember what algorithm generates the featured projects, but it'd be good if these updated fairly regularly as there will be more traffic to the site from June - Nov.

[2017-05-11 23:46] edrushka opened #552 "Tweet MozFest page"
https://twitter.com/intent/tweet?text=I%27m%20attending%20%23mozfest%2C%20the%20biggest%20event%20for%20%26%20by%20the%20open%20Internet%20movement.%20Join%20me%20%26%20%40Mozilla%20in%20London%3A%20mzl.la%2Fmozfest&source=webclient

- [x]  Update autofilled tweet text. @KevZawacki do you have any brainwaves on what the tweet should read once the Call for Proposals opens?