[2015-09-29 15:16] cassiemc commented on #193
Like @hannahkane I suspect linking out to the bios might also be strange. @Saallen do you have any examples of the length of bios? I think the expected behaviour here is that the bios would be accessed by clicking on the session lead name. Maybe there is a simple expand/contract behavior we can put in, if the bios are too long. We can definitely explore these problems/solutions in the design phase

[2015-09-29 15:20] cassiemc commented on #211
@HPaulJohnson @KevZawacki In our kickoff the other day we discussed having content for this by EOD today. I think tomorrow would be fine as well. Are we on track for this?

The design brief is here: https://docs.google.com/document/d/1HrdFapu28ChXPVVmwCZ7lnupDdYyDR3DMxwGwGFu0lE/edit

(Note: @edrushka we discovered that there was no feedback from the questionairre re. the guide, but there is plenty

[2015-09-29 15:26] cassiemc commented on #222
@adiladil we need to keep the red from the original guide because we are reusing some old printed banners. So we will really need to figure out how to make the pink and red work together. What about including the green from https://2015.mozillafestival.org/tickets and the brighter green from https://2015.mozillafestival.org/guidelines. It also seems like the oranges don't totally represent the fee

[2015-09-29 15:29] cassiemc commented on #213
I confirmed the spaces listed in comment 1 match those in the content doc here: https://docs.google.com/document/d/1Q4HqCaMWxW6uYNDsCvRIhqhvVJaXgAE3lvn-Csl0se0/edit

[2015-09-29 15:33] cassiemc commented on #194
Update: @adiladil is going to redesign this page to represent the content without images. We are thinking of a more visual way to show date / time, so the page is still somewhat visual/colorful.

[2015-09-29 15:36] cassiemc commented on #227
@hannahkane is this one important to complete asap? Not sure what the dependencies are here.

[2015-09-29 15:38] cassiemc commented on #159
@hannahkane @HPaulJohnson  It seems we should elevate this one, due to the timing. Are we trying to complete this prior to October 9?

[2015-09-29 15:40] cassiemc commented on #182
@hannahkane What about a link to the Fringe events page? Not sure when that will be done in dev.

[2015-09-29 15:45] cassiemc commented on #194
Possibly blocking #133

[2015-09-29 15:53] hannahkane commented on #227
I think we should do this ASAP. We'll be announcing the final program soon, so people will have questions about how we reviewed the submissions. When we talked about this yesterday with @adiladil, we agreed it's quite simple. The main task is identifying an image to use in the header.

[2015-09-29 15:55] hannahkane commented on #182
@cassiemc - yes, I think the Fringe events page could work while we wait for the Remote participation page, though I think the Remote page is more appropriate. @Saallen - any chance we could finalize the content for the Remote page earlier?

[2015-09-29 16:07] thornet commented on #221
Let's have Medium fit this narrative. Good feedback from Mark that this is going in the right direction, although anticipate a bit of refining from him.

[2015-09-29 16:29] Saallen commented on #182
Yes- I am going to loop chad in now

[2015-09-29 16:42] marcwalsh commented on #208
@cassiemc just noticed the change in milestone. The deadline for these to go to the printers is Wednesday 14th October and we won't be able to push much further.

[2015-09-29 16:44] marcwalsh commented on #225
@cassiemc The same with these the milestone is too late for the print deadline. These need to be sent to print on the 9th October.

[2015-09-29 16:47] Saallen opened #231 "Remotee Challenge- Remote participation"
We are building a remote participation page for MozFest- off the success of last year, called Remotee Challenage.
 @chadsansing has kindly stepped forward to help us curate this piece.
Chad any other suggestions here of who would like to help?

What we need
- [ ]  Collection of curriculum that relates to our festival narrative that people can enjoy at home or at school
- [ ] Discourse page for peo

[2015-09-29 17:37] #230 closed

[2015-09-29 17:45] #229 closed

[2015-09-29 17:56] cassiemc commented on #208
Thanks for the clarification @marcwalsh – I had the printing deadlines as October 26 in my head, same as the festival guide. Will revert the milestones.

[2015-09-29 17:57] cassiemc commented on #208
Actually @marcwalsh can you clarify, is the printer deadline just for the tshirts? Perhaps you could take a gander at our deliverables spreadsheet and note the deadline to the printer in column G? https://docs.google.com/spreadsheets/d/1J4LS4ILtG5x-jxwHEwGuDzXHRHC9IQM4t9fg2OUeRBs/edit#gid=0

[2015-09-29 18:09] hannahkane commented on #182
Removing from this milestone. Will put back when tickets are sold or nearly sold out. @Saallen - can you provide an update on the tickets remaining?

[2015-09-29 18:10] cassiemc commented on #227
@natalieworth Can you help us select an image here? You can review the existing photos on the site at
https://2015.mozillafestival.org/ (there are links in the footer with more pages)

Then browse https://www.flickr.com/photos/mozilladrumbeat/favorites/ to find a good one. Then we'll need to treat it like the existing photos on the site. Just need to make sure it's a crisp photo with good subject-

[2015-09-29 18:11] cassiemc commented on #222
@Saallen @marcwalsh Can you confirm when we need to provide this to the wayfinding contractor?

[2015-09-29 18:20] adiladiladil commented on #194
updated with no images

https://redpen.io/p/vuff937f9e9f4f9e4c

[2015-09-29 18:22] hannahkane commented on #220
ok - @mmmavis - are you able to do this one today?

[2015-09-29 18:27] cassiemc commented on #225
@marcwalsh I see october 12th in the spreadsheet?

[2015-09-29 18:30] cassiemc commented on #194
Looks good @adiladil! Can you throw sample content in one event just to check the grid? Then I think R+

[2015-09-29 18:32] adiladiladil commented on #222
Here's an update

![mozfest 2015 style guide-01](https://cloud.githubusercontent.com/assets/11046943/10174268/ec5c4e1e-66b6-11e5-8eef-0d1193b1cf51.png)

[2015-09-29 18:33] adiladiladil commented on #222
Style guide update

![mozfest 2015 style guide-01](https://cloud.githubusercontent.com/assets/11046943/10174285/074495c4-66b7-11e5-8304-58a0c94ae984.png)

[2015-09-29 18:34] cassiemc opened #234 "A4 card for Science fair / closing demo"
This is a really simple, straightforward asset, an A4 card intended to be folded over, with just the Mozfest logo. It is needed for teams to write their information on at closing demos. We should be able to print these onsite very close to the event.

Did I miss any specs? @Saallen @marcwalsh @hannahkane

[2015-09-29 18:36] cassiemc opened #235 "A3 pages with mozfest logo, session template"
**Deadline:** Nov 5th

This is another straightforward asset, a large A3 page to serve as a template for facilitators to write their session info on. It could simply have the Mozfest logo on it if we run out of time, or could be a template with session name, box for description, etc.

We should be able to print these onsite very close to the event.

Anything else we need to know, @Saallen @marcwal

[2015-09-29 18:38] cassiemc opened #236 "Branding needed for additional swag bag items"
**Deadline:** October 12

Wondering if this is needed and by when? @marcwalsh @Saallen

[2015-09-29 18:39] cassiemc opened #237 "Graphics needed for Mozfest email campaign"
@HPaulJohnson @KevZawacki Any deets on whether (and when) this is needed? We can probably repurpose graphics we create for the social shares #226, but we should confirm it'll work with your messaging.

[2015-09-29 18:46] adiladiladil commented on #208
![mozshirt2](https://cloud.githubusercontent.com/assets/11046943/10174632/e5190c1c-66b8-11e5-8d16-6ef9fbd57589.jpg)
![mozshirt1](https://cloud.githubusercontent.com/assets/11046943/10174634/e51fc124-66b8-11e5-9bd8-79e135dc46b1.jpg)
![mozshirt3](https://cloud.githubusercontent.com/assets/11046943/10174633/e51cec74-66b8-11e5-9abf-9121db6f036c.jpg)

[2015-09-29 18:51] adiladiladil commented on #225
![tote2](https://cloud.githubusercontent.com/assets/11046943/10174783/8cd05488-66b9-11e5-8b28-f0a741793582.jpg)
![tote3](https://cloud.githubusercontent.com/assets/11046943/10174782/8ccd65ac-66b9-11e5-8265-b85a150079ee.jpg)
![tote1](https://cloud.githubusercontent.com/assets/11046943/10174784/8cd05668-66b9-11e5-84c2-10e3b6017183.jpg)

[2015-09-29 19:01] adiladiladil commented on #210
![nametage-02-01](https://cloud.githubusercontent.com/assets/11046943/10175061/ef015886-66ba-11e5-93a7-747215f56f48.png)
![nametage-01](https://cloud.githubusercontent.com/assets/11046943/10175060/eefe70c6-66ba-11e5-959b-40a9e1e305ed.png)

[2015-09-29 19:22] cassiemc commented on #210
I love the version with the gradient! Should there be space for a twitter handle? (could probably move short names up to one line). @marcwalsh any idea what kind of paper these will be printed on?

@adiladil could you make the white box a little wider so that the border around it is equal on the sides and bottoms?

[2015-09-29 19:26] cassiemc commented on #208
I think these basic versions are a good start! Wondering if we can push it a bit more. This is the shirt I showed at today's stand –
![wordpress-shirt](https://cloud.githubusercontent.com/assets/1186326/10175679/5f8bf11c-66be-11e5-8a46-3cd84e9fc44f.jpg)

We could pull from the iconography on the Mozfest site (and possibly from teach.mozilla.org) to pull off something similar.

[2015-09-29 19:28] cassiemc commented on #224
This should be the back of the Event Festival Guide #212

[2015-09-29 19:37] cassiemc commented on #193
@Saallen Can you provide a two sentence description of how the Spaces and Pathways work? Then @KevZawacki can help us refine?

We can reuse this for #212 and may want to use it in the app as well #196

cc @hannahkane @HPaulJohnson

[2015-09-29 19:57] cassiemc commented on #159
I'd suggest:
* For the front of the tile, let's go with the graphic image with @KevZawacki's headline: "Celebrate the Web at MozFest". We could perhaps use the header image from the front page of the Mozfest site – https://2015.mozillafestival.org/assets/images/home.jpg
* On rollover, the CTA should be, "Click here to buy tickets" Could have some kind of ticket icon.

We should aim to complete thi

[2015-09-29 20:08] hannahkane commented on #159
WFM. Thanks, @cassiemc.

[2015-09-29 20:47] HPaulJohnson commented on #159
wfm. thx!

[2015-09-29 20:51] mmmavis commented on #220
yup, working on it now

[2015-09-29 20:54] #220 closed

[2015-09-29 20:59] mmmavis commented on #199
yup yup :+1:

[2015-09-29 23:04] mmmavis opened #239 "Create `develop` and hook up Travis with Heroku Deployment"
- merging into `develop` should auto trigger a push to our staging server on Heroku
- merging into `master` should auto trigger a push to our production server on Heroku

[2015-09-29 23:44] natalieworth commented on #227
I've found 3 CC images that I think would work for the MozFest landing page background. All are high resolution/ good quality image sizes for web:

1. https://www.flickr.com/photos/paul_clarke/8171644993/in/faves-47833020@N03/
I think this highlights well the festival and Keynotes. I think it would also work well with the heading/ copy over the image.

2. https://www.flickr.com/photos/paul_clarke/

[2015-09-30 00:37] KevZawacki commented on #211
We've created a Google Doc to house all the copy for the festival guide -- you can find it [here](https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit).

@Saallen, can you take a read through and share feedback? Anything missing? Are the space descriptions accurate?

@cassiemc, from a design standpoint, do we need more copy? Less?

cc @HPaulJohnson

[2015-09-30 00:42] KevZawacki commented on #193
A quick description of how Spaces and Pathways work together would be very helpful. Thanks, @cassiemc & @Saallen.

@Saallen, I've started editing the Space Descriptions copy. I worry that given their length and unique voices, it will be hard for readers to digest. Thoughts on condensing each one and applying a singular voice? It's what we've done for the printed [Festival Guide](https://docs.googl

[2015-09-30 04:24] SpikeUK commented on #228
^^ Thank you @cassiemc - accept that we have cost constraints for t-shirts and tote bags though

[2015-09-30 04:27] SpikeUK commented on #217
@hannahkane I believe we are talking about https://2015.mozillafestival.org/guidelines
Hope this helps

[2015-09-30 06:20] SpikeUK commented on #208
Like the CamelCase 'MozHelp' - nicely mirrors 'MozFest'.
Love the two-colour printing on all three base colour shown but sadly I think we are constrained to single-colour printing by cost.
REALLY love the icon cloud example from @cassiemc  :+1:

[2015-09-30 06:29] SpikeUK commented on #220
Thank you @hannahkane and @mmmavis - sorry for my confusing messages earlier ^^
Spike

[2015-09-30 09:34] marcwalsh commented on #236
I'll get final deadlines for this today and add it to the spreadsheet also if needed?

It would just need to be simple, the cog and 'Mozilla Festival' or #MozFest

@cassiemc

[2015-09-30 11:07] marcwalsh commented on #224
It would be great to have these as a separate file alongside the festival guide for when printing onsite.

[2015-09-30 12:08] Saallen commented on #193
cc @thornet will provide the descriptive two lines for spaces and pathways.
cc @KevZawacki Yes- I like how you have reduced the spaces here. I have amended the layout on the Space and Pathways [description page] 9https://docs.google.com/document/d/1Q4HqCaMWxW6uYNDsCvRIhqhvVJaXgAE3lvn-Csl0se0/edit#) after consulting with @cassiemc .

[2015-09-30 12:13] Saallen commented on #208
:heart: The cloud too- it would v cool with all the icons from the spaces on there.

[2015-09-30 12:25] Saallen commented on #159
:+1: Thanks

[2015-09-30 12:28] Saallen commented on #210
@cassiemc @adiladil I love the gradient too. Nice link back to the website design.
We dont print the tags with names on there as we want people to write their own.
Yes for leaving space for twitter handles.
This should be a double sided design and there should be space at the top for a punched hole where the lanyard will clip in.

[2015-09-30 12:30] Saallen commented on #225
I am loving the navy bag with red colour print.

[2015-09-30 12:52] Saallen commented on #235
Hi @cassiemc
Here is a [link] (https://drive.google.com/drive/folders/0B7cnpfRDzUyFVkFlaWdCVm1yUlk) to the blank templates we made last year .
Here is the 2013 [version] (https://www.dropbox.com/home/Mozfest%202013/Graphics/print-assets/14%20-%20Hackable%20Session%20Poster?preview=mzfst13_hackableSessionPoster.ai)
It can be plain paper with logo also
Additional info
* We can print these the 5th of

[2015-09-30 13:11] Saallen commented on #234
Yes we can print onsite- @marcwalsh will provide the diamensions

[2015-09-30 13:15] marcwalsh commented on #234
It's quater A4 long lengthways. I've attached a couple of photos, but basically a piece of A4 card folded into 4 lengthways to make a triangle.
![img_0073](https://cloud.githubusercontent.com/assets/14007066/10193895/ac0f8b92-677d-11e5-98c5-bd1d6742d183.JPG)
![img_0074](https://cloud.githubusercontent.com/assets/14007066/10193897/add3f6d4-677d-11e5-9d72-d1e7c5fe472b.JPG)

[2015-09-30 13:22] Saallen commented on #182
We are just under half way there currently

[2015-09-30 14:31] SpikeUK commented on #210
Also would like a bit of clearspace for volunteer language badges (as per my comment https://github.com/mozilla/2015.mozillafestival.org/issues/210#issuecomment-141994446 ) please.

[2015-09-30 16:05] adiladiladil commented on #213
![mozfest spaces-14](https://cloud.githubusercontent.com/assets/11046943/10198779/91b07f02-676b-11e5-92cf-9429ed981fd1.png)

[2015-09-30 16:17] hannahkane commented on #213
This looks good, @adiladil. Did you mean to ad this to #193, though? I have some comments, but want to make sure I'm commenting on the right ticket. :)

[2015-09-30 16:18] adiladiladil commented on #193
![mozfest spaces-14](https://cloud.githubusercontent.com/assets/11046943/10199134/52fc2412-676d-11e5-99e3-c7d251c7b6ef.jpg)

redpen here:

https://redpen.io/p/eo124585c346099979

[2015-09-30 16:22] hannahkane commented on #193
Looks awesome, @adiladil. Two comments:
 * I think we need to explore a design solution for displaying the space wrangler bios. Could be, as @cassiemc suggested above, that we expand/contract on click or hover.
 * @KevZawacki - I'm finding the inconsistency in space names sort of distracting. Some don't have the word "space," others do, and then there's "Youth Space Zone," which feels hard to grok

[2015-09-30 16:23] hannahkane commented on #217
Thanks, @SpikeUK. I understood the Guidelines page to be the page we're linking *from*, but what is the page we're linking *to*?

[2015-09-30 16:43] KevZawacki commented on #211
@Saallen Festival Guide updated with Pathways language!

https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit

A question: will this new, shortened Spaces and Pathways language live both on the print guide and the website?

[2015-09-30 16:59] KevZawacki commented on #193
@hannahkane Good point. Let's not use "Space" in the title, as it's redundant. (Similarly, let's not use "Pathway" in titles.)

We can use the titles from [this doc](https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit).

[2015-09-30 17:32] thornet commented on #193
Draft text about spaces and pathways:

To help you get the most out of MozFest, we organize the program into two
formats: Space and Pathways.

Spaces are physical hubs, typically located on a single floor in the venue,
that explore a big theme throughout the festival.

Pathways are series of sessions, often appearing across several floors,
that are tailored for participants to learn a set of skill

[2015-09-30 18:16] hannahkane commented on #211
Re: adding this content to the website—looks like we should update https://2015.mozillafestival.org/expect and https://2015.mozillafestival.org/guidelines to reflect these latest updates. Also, @Saallen - do you want a "Pathways" page on the site (similar to the "Spaces" page)?

[2015-09-30 18:42] hannahkane commented on #227
Thanks, @natalieworth. I definitely want @cassiemc to weigh in on these choices, but I think I prefer the first or second option. The third seems too similar to the homepage image at https://2015.mozillafestival.org

Also, I just noticed that we're currently using the same image for the Tickets page and the Volunteer page. Maybe we should replace the Volunteer page image with one of the above.

[2015-09-30 18:50] KevZawacki commented on #221
Thanks for the guidance, @thornet. I've updated our [Medium doc](https://goo.gl/oLqmnp) accordingly. Should we ship to Gabe to take a look? Anyone else on our side need to take a look first?

cc @HPaulJohnson @Saallen

[2015-09-30 19:00] thornet commented on #221
Let's do it! In parallel, I suggest we start populating a list of people
who can speak in these slots and lock 'em in.

On Wed, Sep 30, 2015 at 8:50 PM, Kevin Zawacki <notifications@github.com>
wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-09-30 20:13] HPaulJohnson commented on #221
Added a few comments in doc but ready to ship.

@thornet is there a place where we are collecting a list of possible speakers? If not, I'll create one to get that started.

[2015-09-30 20:42] OpenMatt commented on #217
@Saallen I have this, which I will be adding to:
* http://blog.workopen.org

But that's it. Should have much more to point at through 2016.

[2015-09-30 22:33] natalieworth commented on #159
I've got the first drafts for the static/ rollover MozFest tile design. There are 2 versions of the rollover. One is without the ticket icon, and the other is with. I tried to match everything to Mozilla and the MozFest 2015 branding:
![01mozfest2015_tile](https://cloud.githubusercontent.com/assets/14876567/10208488/7d88a5f0-6788-11e5-9621-f96bcbd646a4.jpg)
![02mozfest2015_tile](https://cloud.gith

[2015-09-30 22:36] mmmavis commented on #239
let's not close this ticket just yet - need to verify if Travis triggers Heorku deploy the next time we merge something into `develop` and `master`

[2015-09-30 23:04] HPaulJohnson commented on #159
@natalieworth looks great! i prefer the second rollover option with the ticket icon.

[2015-09-30 23:19] natalieworth commented on #227
@hannahkane I think these could also work for the volunteer page:
https://www.flickr.com/photos/newyouthcity/10559772014/in/faves-47833020@N03/
https://www.flickr.com/photos/digitalyouthnetwork/12030099454/in/faves-47833020@N03/

[2015-09-30 23:32] hannahkane commented on #227
I like the first one. (I also like the second one, but we use it on the Teach site, and don't want to overuse it.) I'll file a separate ticket to replace that photo. Thanks!

[2015-09-30 23:34] hannahkane opened #241 "Replace photo on Volunteer page"
Noticed that we use the same photo on the Volunteer page as the Tickets page. Wondering if we can replace the image on the Volunteer page with this one:

https://www.flickr.com/photos/newyouthcity/10559772014/in/faves-47833020@N03/

@cassiemc - do you approve?

[2015-09-30 23:41] natalieworth commented on #228
@adiladil @cassiemc
1. I've created a Pinterest board https://www.pinterest.com/nataliejworth/mozfest-2015-benchmarks/ focused on more contemporary festival and illustration branding. In particular, I feel that we could explore iconography, isometric designs, or something more abstract. It could be neat to possibly include illustrations representing the manifesto or things that Mozilla (and Mozill

[2015-10-01 01:46] adiladiladil commented on #213
![mozfest space icons-01](https://cloud.githubusercontent.com/assets/11046943/10211050/a793643c-67bc-11e5-8d7b-41cf559b912c.png)

[2015-10-01 03:27] adiladiladil commented on #193
![mozfest-spacess-14-14](https://cloud.githubusercontent.com/assets/11046943/10212273/c274e538-67ca-11e5-91cb-902d2f2a17a8.jpg)

Profile rollover detail
![mozfest-home-14a](https://cloud.githubusercontent.com/assets/11046943/10212274/c8d4103e-67ca-11e5-85b1-edc25674e25a.jpg)

[2015-10-01 09:18] Saallen commented on #193
This looks really great @adiladil :tulip:
The word space doesnt need to be in any titles of Space - the same for the pathways- I added to the description page to differenciate between the two. In the interest in saving time could the bios be left to accompany the blog posts.  I worry about collecting more data here when the SW are already very busy at this time with faciliators. So each blog post

[2015-10-01 11:38] thornet commented on #193
Yes, let's roll these pages out and add bios later.
On Oct 1, 2015 11:18, "Sarah Allen" <notifications@github.com> wrote:

[2015-10-01 12:30] marcwalsh commented on #236
@cassiemc Dates are as follows:

PRINTED SCHOOL DRAWING SET
Lead time: 12 working days
Order ideally needed by: 12th October
Print area: 5x50mm

RECYCLED NOTEBOOKS A5
Lead time: 2 weeks
Order ideally needed by: 12th October
Print area: 207x145mm

RECYCLED NOTEBOOKS A6
Lead time: 2 weeks
Order needed by: 12th October
Print area: 143x100mm

[2015-10-01 13:15] thornet commented on #221
Here's an initial pass for potential speakers:
https://festival.etherpad.mozilla.org/pleasecometotheparty

On Wed, Sep 30, 2015 at 10:13 PM, Paul Johnson <notifications@github.com>
wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-10-01 13:54] KevZawacki commented on #193
@adiladil, design looks awesome! @Saallen, that plan for bios works for me.

Sorry, a little confused on one point. Is the copy in the redpen a placeholder, or the final version? I thought we were using [this copy](https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit)?

[2015-10-01 14:00] adiladiladil commented on #193
all the descriptions are placeholder

from what i understand copy is still getting worked out

[2015-10-01 14:54] cassiemc commented on #193
@adiladil can you throw the latest into redpen? Looks great, just a couple small things we could probably work out with @mmmavis in the build, even, if she is raring to get started.

[2015-10-01 14:54] hannahkane commented on #193
I think we can pass this off to @mmmavis for the build now, and incorporate the final copy there. I also really like the bios design and would love to use it if @cassiemc approves.

It's okay if we don't have all the bios; we can add them as we go. This ticket is more about approving the design than about having all the final copy.

[2015-10-01 14:57] cassiemc commented on #193
Bios design wfm, but we should add a word limit so we don't get weird scroll bars. On mobile, it should show on tap, and close when tapped outside of box. Does it need an 'x' to close?

[2015-10-01 15:00] hannahkane commented on #193
@Saallen - are we asking for space wrangler photos?

[2015-10-01 15:02] adiladiladil commented on #193
Here is the link to add feedback

https://redpen.io/p/eo124585c346099979

[2015-10-01 15:03] Saallen commented on #193
@hannahkane some spaces have 5 SW others two so in the interest of Space I think we can leave out the photos. Is there a word limit for bios? about to jump into my weekly call with them all

[2015-10-01 15:03] cassiemc commented on #193
@adiladil Can you add the design with the bio popup please?

[2015-10-01 15:12] hannahkane commented on #193
@Saallen - the photo looks pretty nice in the bio pop-up in Adil's latest design, and wouldn't be affected by the number of wranglers. Are you sure you don't want to include it? (Totally fine if you don't)

[2015-10-01 15:13] cassiemc commented on #193
Agree with @hannahkane hannah, each bio will have its own separate bio box

[2015-10-01 15:26] thornet commented on #213
Inspiration from 2014: http://2014.mozillafestival.org/tracks/

[2015-10-01 15:34] cassiemc commented on #224
Good call thanks @marcwalsh.

[2015-10-01 15:35] cassiemc commented on #208
Yes, like the idea of doing it with the space icons, good idea @Saallen!

[2015-10-01 15:36] cassiemc commented on #225
I love that version too. @marcwalsh Can we print on both sides or just one? Ie. could we have straightforward mozfest logo on one side and more of an icon pattern on the other side? Might be worth saving the icon pattern for the t-shirts #208 so those are preserved as super special.

[2015-10-01 15:37] cassiemc commented on #235
Thanks @Saallen!

[2015-10-01 15:39] cassiemc commented on #234
Ah, that is so helpful, not what I was imagining. Thanks @marcwalsh!

[2015-10-01 15:45] cassiemc commented on #210
Good call @SpikeUK thanks for the reminder. Could volunteers possibly put flag stickers on the top part of the tag, or near the name? (in other words, what's the thinking behind putting them at the bottom?) Do you have any examples of what these will look like, and size? Is this a thing specifically for volunteers or will other guests be prompted to use this system?

@adiladil since these will be

[2015-10-01 15:51] cassiemc commented on #211
@hannahkane I think the descriptions make sense to live on What to Expect, but not on Participation Guidelines, which are more about attendee behavior. I also think it makes sense to have a small space for this in the app.

[2015-10-01 15:59] hannahkane commented on #211
Sorry, @cassiemc, I didn't mean to suggest we add content about Spaces and Pathways to either the What to Expect or Participation pages. I just meant that in the google doc, it looked like there had been some updates made to the existing content of those pages, but Kevin has since said in the doc that the changes aren't substantive.

[2015-10-01 15:59] marcwalsh commented on #210
@adiladil  Are you able to add a print mark for cutting the hole at the top please. Roughtly 5mm from the top of the card is where the hole should start? Thanks!

[2015-10-01 16:00] cassiemc commented on #211
oh, thanks for clarifying @hannahkane! Do you think we should add that context though on the app, at least?

[2015-10-01 16:01] cassiemc commented on #210
@marcwalsh do you know how the hole will be punched? This seems super specific, just wondering if it would be a long horizontal hole or a round one :)

[2015-10-01 16:04] marcwalsh commented on #210
I'm not too sure, it's by a machine, but it's to the mark that we place. It's round as well :)

[2015-10-01 16:15] cassiemc commented on #213
@hannahkane I think it makes sense to critique these separately from #193. @adiladil already has lots of comments from that redpen, but can you add the next set of just the icons to a redpen at both large and small sizes?

[2015-10-01 16:17] KevZawacki commented on #221
@thornet Great line up -- just added my two-cents to the pad.

[2015-10-01 16:20] cassiemc commented on #227
@natalieworth I think there might've been a misunderstanding about what we were sourcing images for. We need to create a new page called 'Our Submission Process', the new copy for that page (which isn't built yet) is outined in comment 1, so we need a new photo for that (we don't need to replace any existing photos on the site).

Can you help us find a photo that demonstrates 'reviewing, selecting

[2015-10-01 16:23] cassiemc commented on #241
Yeah I think this is a good choice, nice work @natalieworth. Now we need to make sure it is cropped well to get rid of some of the clutter at the top, the visual noise from the lights and ceiling, and treat it with color as per the other photos on the mozfest site.

Assigning to @natalieworth as a P2, please adjust if necessary @hannahkane.

[2015-10-01 16:26] cassiemc commented on #228
This is fantastic! Have always loved that Matt Stevens example and the food ones too. I think we should use the space icons from #213 to save time, but your benchmarks raise the idea that we can connect them with lines or other sorts of abstract shapes. cc @adiladil

[2015-10-01 16:29] cassiemc commented on #236
@marcwalsh @adiladil Note we will probably keep this simple and straightforward due to the deadline. Mozfest logo okay? Is there a more generic shape or design we can use to make these coveted and widely reusable so they feel more useful / less like swag?

Also @marcwalsh can you please upload photos of these when you get a chance?

[2015-10-01 16:30] cassiemc commented on #159
@natalieworth Can you please add these to redpen? I will leave some more specific design feedback

[2015-10-01 16:42] hannahkane commented on #211
@cassiemc - Yes, def. I think there's already a space for it in the app design. See the lorem ipsum at the top of "Mozfest 2016 Mobile Scheduler 05". https://redpen.io/bp742d484e39748ec1

[2015-10-01 16:46] marcwalsh commented on #236
@cassiemc Sounds perfect! Sure, I've edited my comment before with links.

FYI. We're having either an A5 or A6 notepad. I'm just waiting for confirmation from another supplier and the print area might change, is that a major issue?

[2015-10-01 16:53] cassiemc commented on #236
Nope not a major issues, thanks @marcwalsh!

[2015-10-01 16:57] marcwalsh commented on #212
@cassiemc Printer deadline for this is the 23rd October

[2015-10-01 16:58] marcwalsh commented on #209
@cassiemc Printer deadline for this is 23rd October

[2015-10-01 17:11] Saallen commented on #193
totally up to you on the design front- I just do not want to hold up the release of this page. Let me know lenght of bios and picture sizes required

[2015-10-01 17:14] natalieworth commented on #227
I think these images could work for the new page. I feel like they represent the keynote/ sessions:
https://www.flickr.com/photos/sharma_akash/9110424907/in/faves-47833020@N03/
https://www.flickr.com/photos/mozillaeu/10490704864/in/faves-47833020@N03/

cc @cassiemc @hannahkane

[2015-10-01 17:25] natalieworth commented on #159
@cassiemc I've added the images to redpen: https://redpen.io/p/xn00ffb06d3af74c9f

[2015-10-01 17:53] cassiemc commented on #227
I like the first one. @natalieworth could you treat it with the same color treatment and put it into a mockup of one of the existing pages so we can see how it looks proportionally / once cropped? Redpen link once you've done that please!

[2015-10-01 18:03] cassiemc commented on #228
I think we can close this one.

Let's go with inspiration from this: https://www.pinterest.com/pin/345088390176008532/ using the Space icons. Isometric and more complex illustration (though freakin' awesome) will be hard to pull off in the amount of time we have. We might be able to experiment with some lines and drawings between the icons to connect them, if there's time. cc @adiladil

[2015-10-01 18:03] #228 closed

[2015-10-01 18:05] cassiemc commented on #222
This is great adil, now just needs iconography. We can add in the Space icons once they are finalized. #213

[2015-10-01 18:30] cassiemc commented on #225
@marcwalsh I noticed in your original quote you mentioned we were going with natural cotton. Is there a way to get navy with pink?

[2015-10-01 18:36] cassiemc commented on #211
ok!

[2015-10-01 18:37] cassiemc commented on #159
Ok left some feedback there @natalieworth

[2015-10-01 18:57] natalieworth commented on #241
@cassiemc @adiladil @hannahkane Is there a guideline or for the image editing? Or a specific blending mode/ .psd file somewhere of the gradient that I could follow for reference? If not, I have the colour properties for the gradient from the MozFest 2015 branding that I can match. Thanks.

[2015-10-01 19:17] natalieworth commented on #159
@cassiemc For the Retina display, should I create/upload 2 versions? Or just edit the image at 2x the resolution and create only 1 version? I'm not sure what Mozilla's development needs are for the tiles. Thanks.

[2015-10-01 19:27] cassiemc commented on #159
I am actually not sure either, but would default to the 2x version (they can always shrink it down). @sabrinang what have you done in the past?

[2015-10-01 19:37] sabrinang commented on #159
@cassiemc In the past working with working with Aaron Thornburgh (from tiles team) we deliver images that are 560 x 380 for retina display on mobile (for future use). For desktop, they should display at half that size (50%) at 280 x 190 which I usually haven't needed to deliver (because they shrink it).

[2015-10-01 19:38] cassiemc commented on #159
cool thanks @sabrinang!

[2015-10-01 19:46] adiladiladil commented on #159
@natalieworth what's your email? I will WeTransfer the PSD to you

[2015-10-01 19:46] cassiemc commented on #159
since I'm here... natalie@mozillafoundation.org

[2015-10-01 20:54] natalieworth commented on #159
@cassiemc Made revisions on the tile versions for MozFest: https://redpen.io/p/xn00ffb06d3af74c9f

[2015-10-01 21:59] cassiemc commented on #193
@Saallen The length of bios should be ~60 words max. The picture size should be minimum 220px by 220px (so it looks good on retina, actual size will be 110 by 110px).

I think we can launch this section without the bios & pics then add them later if it is a blocker. Not sure why it needs to be up by Friday though, are we doing a big push out for this content?

[2015-10-01 22:04] hannahkane commented on #193
Thanks, @cassiemc. Do we have what we need for @mmmavis to get started on this?

[2015-10-01 22:07] cassiemc commented on #193
I believe @mmmavis said she was going to get started once @adiladil sent her files, and she may have started already. Mavis you can go ahead and base any structure on the redpens here: https://redpen.io/of7dccf8f93a997570

[2015-10-01 22:07] adiladiladil commented on #193
@mmmavis whats your email? i will send AI file

[2015-10-01 22:07] cassiemc commented on #193
since I'm here... mavis@mozillafoundation.org (there's a pattern here... :)

[2015-10-01 22:10] adiladiladil commented on #193
thanks cas..sending to @mmmavis now!

[2015-10-01 22:11] natalieworth commented on #241
@hannahkane @adiladil  Edited image for the volunteer page:
https://redpen.io/p/ab6b3526abd59e8c4f
https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0ZFRwZDNCUEZMNzg/view?usp=sharing

[2015-10-01 22:13] natalieworth commented on #227
@cassiemc @hannahkane @adiladil  Do we have the photoshop file for the mockup?

[2015-10-01 22:23] natalieworth commented on #159
@cassiemc Updated iteration of the rollover tile: https://redpen.io/p/xn00ffb06d3af74c9f

[2015-10-01 22:25] mmmavis commented on #193
@adiladiladil @cassiemc thanks! I've received the .ai file :tada:

Are we still wokring on the Space icons? just checking - if yes I can just export the icons from the .ai files for now

[2015-10-01 22:26] adiladiladil commented on #193
@mmmavis still working on icons...so you can just use a placeholder for the icons til finalized

[2015-10-01 22:34] mmmavis commented on #176
@hannahkane url pref?

[2015-10-01 22:46] hannahkane commented on #176
/spaces should be fine

[2015-10-01 22:50] mmmavis commented on #193
@adiladiladil mind attaching the hero banner image to me?

[2015-10-01 22:55] mmmavis commented on #176
note for myself:
for copy refer to https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit (the section about Spaces)

[2015-10-01 23:00] adiladiladil commented on #193
![spaces](https://cloud.githubusercontent.com/assets/11046943/10235920/b13a056a-686e-11e5-8fb3-a1f24f1a5f0e.jpg)

[2015-10-01 23:18] natalieworth commented on #227
Mockup of the image treatment is now on redpen: https://redpen.io/p/ab6b3526abd59e8c4f
cc @hannahkane @cassiemc @adiladil

[2015-10-02 04:28] SpikeUK commented on #210
@cassiemc The clearspace can beat the top if that helps to balance the design. I have not finalised flag sticker design or size as yet - depends what size stickers I can get for my printer and how much space we have. Am expecting most people (with languages other than English) to have one other language, but do have a couple of volunteers that speak three :O

[2015-10-02 09:39] Saallen commented on #210
Hey @cassiemc Sure sounds like a good idea to have a prompt here

[2015-10-02 09:43] Saallen commented on #193
@cassiemc Mark S has asked for a big push on festival content and website to be updated.
I will ask Space Wranglers for bios today on an email- thanks :)

[2015-10-02 12:36] Saallen commented on #211
@hannahkane , it would be really great to have the pathways also on the website. Could they be on the same page or should they be separate?

[2015-10-02 12:38] Saallen commented on #222
@cassiemc I dont have a date as of yet.

[2015-10-02 14:06] Saallen commented on #217
Thanks @OpenMatt I would be very happy to link through to this. @Melechuga could this be the website that would keep the open spirit alive post Mozfest?

[2015-10-02 14:11] Saallen commented on #231
Looping in the lovely and missed @iamjessklein .She kindly offered feedback from last year.
Here's a few points of feedback from last year:

*  The Remotee participation options need to be published and socialized a few weeks before the festival starts so that people are aware of it.
 * I would definitely leverage the Hives as they could be doing mini meetups or hangouts in all of their cities and

[2015-10-02 14:23] Saallen commented on #231
@omnignorant On the 1st Hive point, do you think this could be something we could plan for? Or they might be interested in?
I feel I could have some volunteers helping with the remotee challenge onsite as they would love to be more involved in the social aspect of this.

[2015-10-02 14:35] cassiemc commented on #227
@natalieworth Looks great, let's ship it! Can you post the final asset – just the photo – in this bug so @mmmavis can implement the change?

[2015-10-02 14:38] cassiemc commented on #227
Actually I got it from the redpen. Here it is @mmmavis:
![img-submission](https://cloud.githubusercontent.com/assets/1186326/10249130/a959a2f0-68f1-11e5-8b67-574dc329961d.jpg)

Final copy is in the first comment.

[2015-10-02 14:42] cassiemc commented on #241
Great @natalieworth! R+

@mmmavis Here is the final asset:
![img-volunteer](https://cloud.githubusercontent.com/assets/1186326/10249247/39ac114e-68f2-11e5-8be1-09dedba089b8.jpg)

[2015-10-02 14:45] cassiemc commented on #159
Perfect @natalieworth thanks!

@HPaulJohnson Here are the final assets:
![mozfest-tile-front](https://cloud.githubusercontent.com/assets/1186326/10249310/9eca34d4-68f2-11e5-8d28-6d049874f167.jpg)
![mozfest-tile-back](https://cloud.githubusercontent.com/assets/1186326/10249315/a1b58568-68f2-11e5-97ac-a71c7d73b2ec.jpg)

Anything else you need from us before we close this?

[2015-10-02 16:00] hannahkane commented on #211
@Saallen - let's do it! I'll file a ticket to add a pathways page to the site.

@KevZawacki - I added a suggested revision for the Spaces and Pathways explainer to the google doc. What do you think?

[2015-10-02 16:02] hannahkane commented on #227
Closing this since there's a separate ticket for the build. Thanks, @natalieworth!

[2015-10-02 16:02] #227 closed

[2015-10-02 16:03] hannahkane commented on #177
No longer blocked. Design is in #227.

url: /submission-process

Final copy:
This year, we're using GitHub to manage, review and curate sessions for MozFest. GitHub allows us to better collaborate and coordinate across the program in an open fashion.

Leading up to the event, MozFest's Space Wranglers will be reviewing all proposals and choosing sessions that best align with their Space objectives

[2015-10-02 16:07] KevZawacki commented on #211
@hannahkane Excellent! Just accepted the edit.

[2015-10-02 16:08] hannahkane commented on #193
I think we can close this ticket, but will wait for @adiladil and @cassiemc to confirm. Thanks for the speedy work!

[2015-10-02 16:10] hannahkane opened #247 "Build Pathways page"
My suggestion:
 * Use the same design as the Spaces page, except Pathways won't have icons.
 * Replace "Wranglers" with "Pathfinders," but @Saallen will work to collect Pathfinder bios, so we can use the same design pattern there as well.
 * Will need a different header image.
 * url: /pathways
 * Link to this page from the /sessions page now described in #176

cc @mmmavis @Saallen @cassiemc

[2015-10-02 16:42] cassiemc commented on #193
Yes sounds good. Go team!

[2015-10-02 16:42] #193 closed

[2015-10-02 16:52] hannahkane commented on #217
What about this then? (changes totally welcome):

* Add a section after the "Raising Issues" section; same white background
* Headline (same style as R-E-S-P-E-C-T): Working in the Open
* Copy: MozFest planning is done in the open [perhaps link to the "Submission Process" page] because working in the open is one of our core values. We hope participants will benefit from this culture of transparenc

[2015-10-02 18:35] adiladiladil commented on #213
Here is the redpen for feedback on these icons

https://redpen.io/p/ad786b292a9765a31c

[2015-10-02 18:45] adiladiladil commented on #210
![mozfest nametag-01](https://cloud.githubusercontent.com/assets/11046943/10254827/37ce0d6a-6914-11e5-833e-2620feb8208b.jpg)

Update

[2015-10-02 18:56] cassiemc commented on #210
@adiladil redpen please? I have small tweaks

[2015-10-02 18:56] adiladiladil commented on #210
@cassiemc  https://redpen.io/p/pa2d3b776193807831

[2015-10-02 19:25] cassiemc commented on #225
@marcwalsh can you comment on the material / options for this?

[2015-10-02 19:30] mmmavis commented on #177
i can work on this today

[2015-10-02 19:31] mmmavis commented on #247
need some clarification on this @hannahkane :hamster:

[2015-10-02 19:33] hannahkane commented on #176
Summary of changes and decisions from call today:
 - [ ] use icons as we have them now; will replace once new ones are delivered
 - [ ] add "Sessions" to navigation
 - [ ] change this page title to "Sessions"
 - [ ] change copy at top of page to match newly edited copy from google doc
 - [ ] the word "Pathways" from that intro paragraph will link to the Pathways page (#247)
 - [ ] use H1 style to

[2015-10-02 19:35] cassiemc commented on #247
@natalieworth Can you help us source another image for this page? Very similar to the space page but we need a different header image. Think along the lines of people in clusters together, or people moving from one thing to another, or anything that gets across the idea of linkages or progression...

[2015-10-02 19:35] hannahkane commented on #176
@mmmavis  - let me know if any of the above list doesn't make sense ^

[2015-10-02 19:39] hannahkane commented on #247
@mmmavis - just updated the first comment to reflect the latest thinking from our stand-up just now. Let me know if it's still unclear.

[2015-10-02 20:44] natalieworth commented on #247
@cassiemc I think one of these 3 options would work. I can edit/ create a mockup once approved:
https://www.flickr.com/photos/paul_clarke/8174891973/in/faves-47833020@N03/
https://www.flickr.com/photos/newyouthcity/10559886703/in/faves-47833020@N03/
https://www.flickr.com/photos/mozillaeu/10511442416/in/faves-47833020@N03/

[2015-10-02 21:03] cassiemc commented on #247
@natalieworth I like the last one

[2015-10-02 21:09] hannahkane commented on #247
last one = wfm

[2015-10-02 21:33] #177 closed

[2015-10-02 21:48] mmmavis commented on #177
up on https://2015.mozillafestival.org/submission-process

[2015-10-02 21:50] mmmavis commented on #239
verified in https://github.com/mozilla/2015.mozillafestival.org/commit/b32f8d2d1f59a866462b29c2cc7fc2b215da9fe2 and https://github.com/mozilla/2015.mozillafestival.org/commit/7678e8537d88cfbf8164a1a7d6fecd902173d82a that this is working

[2015-10-02 21:50] #239 closed

[2015-10-02 21:50] hannahkane commented on #177
w00t. Thanks, @mmmavis!!

[2015-10-02 21:50] hannahkane commented on #211
This looks good to me. Can we close?

[2015-10-02 21:54] cassiemc commented on #176
@adiladil Have you been able to provide svgs for the first set of icons? Don't have to be perfect for this...

[2015-10-02 22:10] #241 closed

[2015-10-02 22:22] natalieworth commented on #247
Image and mockup are now up on redpen for Pathways page: https://redpen.io/p/ab6b3526abd59e8c4f
@mmmavis @hannahkane @cassiemc

[2015-10-02 22:25] hannahkane commented on #247
w00t. looks good.

[2015-10-02 22:38] hannahkane commented on #213
Flagging @thornet and @Saallen who might have more feedback on the icons

[2015-10-02 22:55] mmmavis commented on #176
we can also push this page **without** the icons and add them back first thing on Monday?

[2015-10-02 22:56] hannahkane commented on #176
wfm. would love to push this page live today if we can.

[2015-10-02 23:43] #176 closed

[2015-10-03 00:05] mmmavis commented on #176
page is live on https://2015.mozillafestival.org/sessions.  please file a new ticket for further page edits. :+1:

[2015-10-03 00:16] natalieworth commented on #159
@HPaulJohnson Here's the link to the google drive tile assets (final jpeg and psd files)
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0eE80Y3MySTRpdG8

[2015-10-03 00:22] HPaulJohnson commented on #159
thanks, @natalieworth. I've submitted these to the Tiles team and will close this issue once I hear back from them that they have everything they need.

[2015-10-03 01:59] cassiemc commented on #247
Yep, looks awesome, thanks @natalieworth

[2015-10-03 02:00] cassiemc commented on #176
fantastic work @mmmavis

[2015-10-03 02:04] cassiemc commented on #211
Sorry, didn't get a change to review this today. I'll look on Monday. Let's close this and I'll open a new issue if I see a need for any significant changes. Thanks @KevZawacki and @HPaulJohnson for the speedy work on this!

[2015-10-03 02:04] #211 closed

[2015-10-03 07:39] thornet commented on #176
Beautiful! Thanks, all.
On Oct 3, 2015 04:00, "Cassie McDaniel" <notifications@github.com> wrote:

[2015-10-03 09:37] Saallen commented on #176
What a cool page to wake up to this morning - thanks everyone
On 3 Oct 2015 08:39, "Michelle Thorne" <notifications@github.com> wrote:

[2015-10-03 15:39] SpikeUK commented on #213
Love most of the icons - thank you @adiladiladil - particularly love the use of two colours
The only one I am not sure about is the 'Participation' one - the raised outstretched right hand says 'STOP' to me.

[2015-10-03 16:00] SpikeUK commented on #210
Like the one with the smaller "Name:" and "Twitter Handle:" text labels.
Can we leave out the word "Handle"? - I rarely hear that used - maybe just print big "@" as a clue?
But generally, lovely work all!! :) :) :)

[2015-10-05 00:25] chadsansing commented on #231
@hannahkane - maybe we could brainstorm some Thimble remote challenges w/ lite, fun badges run past folks?

[2015-10-05 13:22] marcwalsh commented on #225
@cassiemc  - They do have navy and a pink print is possible as well, just waiting to get a new quote from the suppliers to check price difference.

[2015-10-05 13:26] marcwalsh commented on #213
Hey @cassiemc @adiladiladil - The 'Global Village' icon is missing at the moment.

[2015-10-05 14:41] cassiemc commented on #210
Thanks @SpikeUK, agree wrt Handle. Left some additional comments on the redpen @adiladil: https://redpen.io/kjef1f07bbb2e8c2bd

[2015-10-05 14:42] cassiemc commented on #225
Thanks @marcwalsh!

[2015-10-05 14:56] SpikeUK commented on #210
Just occurred to me @Saallen - is there a need for an easily spotted variant for under-16s?

[2015-10-05 15:01] cassiemc commented on #213
@adiladil Lots of comments for you on the redpen.

[2015-10-05 15:02] cassiemc commented on #208
This is blocked by finalizing the icons. #213

[2015-10-05 15:17] adiladiladil commented on #213
Thanks all. Am going through redpen now

On Monday, October 5, 2015, Cassie McDaniel <notifications@github.com>
wrote:

[2015-10-05 15:29] thornet commented on #213
@Saallen @adiladiladil I suggest we also run these icons by the wranglers, as they'll need to use and promote them and have the nuance of what their space should be communicating.

[2015-10-05 15:50] cassiemc commented on #213
@thornet That sounds wise! @Saallen We should bear in mind that these icons are blocking design of several things we are trying to finalize by Friday that need to get to the printer by Oct 12.

[2015-10-05 15:58] cassiemc commented on #222
@adiladil – might be possible for @natalieworth to help finalize this once the icons are finished. Can you link to the source file here?

[2015-10-05 17:54] mmmavis commented on #176
:tada: :dancers: :dancers: :dancers:

[2015-10-05 18:13] Saallen commented on #213
@cassiemc can I have a red pen link that I can share with our SW so they can make any comments or share highfives ?

[2015-10-05 18:27] Saallen commented on #210
Hey @SpikeUK we do not need any varient for young people. Parents can write phone numbers on the other side at the event if they have young children they are letting run around but its not a requirement.

[2015-10-05 18:33] SpikeUK commented on #210
OK @Saallen - was just a thought.

[2015-10-05 18:44] mmmavis commented on #247
@hannahkane is this where I should find copy from(https://docs.google.com/document/d/1Q4HqCaMWxW6uYNDsCvRIhqhvVJaXgAE3lvn-Csl0se0/edi) ? Should I include the "Additional Text" section of each Pathway?

[2015-10-05 19:02] adiladiladil commented on #213
updated icons here:

https://redpen.io/p/ad786b292a9765a31c

[2015-10-05 19:08] adiladiladil commented on #210
updated nametag here

https://redpen.io/p/pa2d3b776193807831

[2015-10-05 19:10] hannahkane commented on #247
Hey @mmmavis - please use the pathways section of this doc: https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit

[2015-10-05 19:10] adiladiladil commented on #222
@natalieworth WeTransferring the source file to you now

[2015-10-05 19:15] cassiemc commented on #210
@adiladil just a reminder this issue has the october 23 milestone, lots more in the oct 9 milestone ahead of this one :)

[2015-10-05 19:17] SpikeUK commented on #213
As @marcwalsh said above ^^ any reason why there is no "Global Village" icon?

[2015-10-05 19:29] cassiemc commented on #213
@Saallen we will get this refined by EOD today - @adiladil is working on revisions now - and send you a link by your start of day tomorrow to share. (@spikeUK there is a global village icon now)

[2015-10-05 19:29] cassiemc commented on #236
Blocked on icons #213

[2015-10-05 19:31] cassiemc commented on #194
@adiladiladil Can you throw the final image from the redpen in this bug? Then we can close and @mmmavis can start building.

[2015-10-05 19:33] mmmavis commented on #247
@natalieworth

Would you advice how I should style the "Independent Pathway" label in my screencap below? :grin:  From the provided copy it seems like each Pathway is associated with a Space (e.g., Journalism Pathway) or called "Independent Pathway" otherwise.

<img width="981" alt="screen shot 2015-10-05 at 12 29 17 pm" src="https://cloud.githubusercontent.com/assets/2896608/10291109/c1715df2-6b5

[2015-10-05 19:35] cassiemc commented on #247
@mmmavis I don't recall if we were going to include that information. @hannahkane can you comment? If we are, then I think italics below the main title is great.

[2015-10-05 19:46] hannahkane commented on #247
I think it's useful context for people to know when pathways are associated with a particular space, so, yes, let's include those as italicized lines below the name of the pathway. Thanks!

[2015-10-05 19:48] natalieworth commented on #222
@cassiemc @adiladil  The original template in dropbox (at the top of this issue) is saying that the file doesn't exist. Is it possible to upload it again?

[2015-10-05 20:24] mmmavis commented on #247
@hannahkane looking like we are missing intro for the "Independent pathway Producing in the Open" pathway :eyes:

[2015-10-05 20:52] hannahkane commented on #247
@Saallen, see Mavis's comment above. Can we get that final copy?

[2015-10-05 21:10] Saallen opened #250 "Festival team page"
Hi I forgot about a page for the festival team- I was just reminded by the visa application process where I need to reference my position to assist with requests.
I believe we have the full content on last years website- http://2014.mozillafestival.org/about/index.html
We would need to update the years that everyones has participated for but I think part from that we need little changes. I will of

[2015-10-05 21:26] natalieworth commented on #235
@cassiemc @Saallen These are the files in the google drive that I am referencing for the 2015 template:
![mzfst14_blank_templates_va-01](https://cloud.githubusercontent.com/assets/14876567/10293947/36def022-6b6c-11e5-9b1b-32510f084d35.jpg)
![mzfst14_blank_templates_va-04](https://cloud.githubusercontent.com/assets/14876567/10293953/3b884a4c-6b6c-11e5-95a2-63c46678a69d.jpg)
![mzfst14_blank_template

[2015-10-05 21:33] cassiemc commented on #235
These are great @natalieworth. Will leave it to @Saallen to comment on the fields & file types. /cc @marcwalsh in case he knows.

Also, between https://redpen.io/omc2650445ae7eb9d7 and https://redpen.io/vy7a28bd702b3dd901, I'm not sure if the MozFest branding should be upfront or more diminutive for the purposes of this card. I think either works, design-wise.

[2015-10-05 21:35] hannahkane commented on #250
@Saallen  - Yes, it's possible. Do you mean a page with just the six bios?

Can you please put all six completed bios + photos into a doc for us to reference? Then I'll create a design ticket and a build ticket to manage the work.

[2015-10-05 21:45] cassiemc commented on #213
@adiladil any updates?

[2015-10-05 23:18] hannahkane commented on #231
@chadsansing - love the idea of using Thimble as a remote participation tool (and maybe we could have stations where MozFest participants could create "Wish You Were Here" postcards that we'd share with remotees). It's unlikely we'll have badges up and running by MozFest, though.

[2015-10-06 03:56] SpikeUK commented on #213
@cassiemc thank you

[2015-10-06 09:37] chadsansing commented on #231
I will knit them. In all (most?) seriousness, though, in lieu of badges maybe we ought to develop some communications or something like an Easter Egg project discoverable by or pushed to remotees who accomplish x.

[2015-10-06 13:31] thornet commented on #231
The Digital Me team will be making badges for all the pathways at Mozfest
and people will be able to use their app to collect evidence and get them.
Just flagging as possible overlap point.

On Tue, Oct 6, 2015 at 11:37 AM, Chad Sansing <notifications@github.com>
wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-10-06 14:34] adiladiladil commented on #213
here is an update

https://redpen.io/p/ad786b292a9765a31c

laying out a few options for the ones which we had issues with

![mozfest space icons-01](https://cloud.githubusercontent.com/assets/11046943/10311671/c138ee54-6c15-11e5-850d-c58b4aacabe7.jpg)

[2015-10-06 14:37] adiladiladil commented on #194
Here is the final look
![mozfest home-13](https://cloud.githubusercontent.com/assets/11046943/10311794/4954a1d4-6c16-11e5-97ab-f0be9e04e1af.jpg)

[2015-10-06 16:12] hannahkane commented on #178
No longer blocked

[2015-10-06 16:48] adiladiladil commented on #213
update here:

https://redpen.io/p/ad786b292a9765a31c

[2015-10-06 17:18] natalieworth commented on #235
@Saallen @marcwalsh @cassiemc  More iterations based on last years templates are up on redpen:
https://redpen.io/p/qy81d1e4d8db976f67

I can adjust the section/ description drafts once the fields are finalized. Thanks

[2015-10-06 18:02] natalieworth commented on #222
Draft of Adil's style guide is up on red pen, I'll add the icons once they are finalized:
https://redpen.io/usfbc5d965df379449

cc @adiladil @cassiemc

[2015-10-06 18:54] Saallen opened #252 "Add Space Wrangler and Pathfinder bios-"
Abigail Cabunoc Mayes - Space Wranger Science

Abigail Cabunoc Mayes is the lead developer for Mozilla Science Lab, which is a community of researchers, tool developers, librarians, and publishers working to leverage the open web in research. Prior to joining Mozilla, Abby worked as a bioinformatics software developer at the Ontario Institute for Cancer Research where she was the technical lead on

[2015-10-06 18:55] Saallen commented on #252
Chad Sansing
![chadsansing](https://cloud.githubusercontent.com/assets/10194015/10319070/3c062414-6c64-11e5-9d30-b53aecd43dfb.jpg)
works as a curriculum developer for the Mozilla Foundation and has a special interest in playful, participatory, and production-centered teaching and learning. Chad joined Mozilla after serving 14 years as a middle school language arts, social studies, and technology t

[2015-10-06 19:02] Saallen commented on #252
Matt Rogers- Badges pathways
Matt is passionate about working with young people, particularly when it comes to using and experimenting with existing and emerging technologies. Before working for DigitalMe, Matt was a KS1-KS4 teacher for eight years most recently at a Primary School in South East London, where he also held the roles of CAS Lead Educatorand Mathletics Lead Educator. This experience

[2015-10-06 19:03] Saallen commented on #252
Grainne Hamilton -
Grainne’s varied background includes leading the development of the Jisc Open Badges Toolkit, contributing to the Mozilla Discover project, which involved developing badge-based pathways to employment, as well as founding and facilitating the Open Badges in Scottish Education Group. Most recently, she was Senior Consultant at Blackboard, which involved helping a global range of

[2015-10-06 19:13] cassiemc commented on #223
@HPaulJohnson @Saallen Does medium still need a big banner? Should the mozfest logo be on this banner as well?

[2015-10-06 19:15] cassiemc commented on #226
@KevZawacki I see you asked for Oct 12, was there a specific reason in mind (ie do we need that much lead time, maybe these are being used to sell tickets?) We had a bunch of print stuff bump up to the oct 9 milestone but could get @natalieworth to help us out here.

[2015-10-06 19:16] cassiemc commented on #237
Going to assign to @natalieworth but we'll still need more details before we can get started.

[2015-10-06 19:26] Saallen commented on #235
Hi @natalieworth loving the designs- happy with all of them. I wondered though what section refered to on the page? I thought maybe it should of had session..but not sure of the idea behind it.
I think just having protrait is fine. thanks :)

[2015-10-06 19:33] natalieworth commented on #235
Hi @Saallen, I was just using the section as more of a place holder. I was hoping that you could help me refine the wording for the different sections on the page for more of a template style design? I wasn't 100% on what the A4 templates were used for at MozFest. Or if it's easier, I can finalize the other line and grid designs if a template with different sections isn't needed. Thanks

[2015-10-06 19:44] HPaulJohnson commented on #223
It is still an open question as we are working through details with Medium next week. That said, I don't think this will be needed as the scope of their involvement is narrowing to a single, hosted conversation on Saturday evening. I think we can probably just represent their involvement on the screens on stage by having a graphic that says "A conversation with Medium" or something like that. The

[2015-10-06 19:54] KevZawacki commented on #226
@cassiemc OK by me to push back a bit -- no hard deadline. Just wanted to make sure we have a couple weeks before MozFest during which we can use the graphic.

[2015-10-06 21:01] Saallen commented on #235
@natalieworth
I like your wording, i think what you have works :+1:
Just changing section to session allows a place for the name of the session.

[2015-10-06 22:06] hannahkane commented on #252
cc @mmmavis

[2015-10-06 22:17] mmmavis commented on #252
hi there, are there more to come? just wondering when or how frequently I should be updating the `/sessions` and `/pathways`(not live yet) pages

[2015-10-06 22:40] natalieworth commented on #234
Hi @cassiemc, @marcwalsh, @Saallen, A4 cards for MozFest are up on red pen. I can do a test print this afternoon to make sure they fold properly before print: https://redpen.io/p/edab6523098f16c8a5

[2015-10-06 22:42] natalieworth commented on #235
Hi @Saallen, fixed the wording and adjust the colours to be more cohesive on red pen: https://redpen.io/p/qy81d1e4d8db976f67

cc @cassiemc

[2015-10-07 12:25] Saallen commented on #252
I would give it until Monday if thats ok with you?

[2015-10-07 13:18] Saallen commented on #231
Looping in @hjbailey as she as a remotee challenge for her localisation Space- Asking people to upload their local language for animal sounds? Also there is a drawing challenge . Aaaand we have a conversation piece/topic for discourse which will feed into what we do in the localisation space over the weekend. Does anyone on this thread have a page/lesson plan we can remix to help build these chall

[2015-10-07 13:36] hjbailey commented on #231
Remote challenge to see how many languages we can get to participate in a simple translation
exercise.  Cows, horse, cat, dog, duck goes ... ?

[2015-10-07 15:15] cassiemc commented on #213
@Saallen the latest is here: https://redpen.io/jhf00503d5b10a1257 Can you let us know asap if there are any major issues with any of these?

@adiladil thanks for updating the latest redpen! My final comment is wrt to the hair on the youth icon and whether or not it should be symmetrical. Otherwise, r+, ready to build that icon cloud :)

[2015-10-07 16:37] Saallen commented on #222
hey @cassiemc can I share this style guide as is with the wayfinder company- who is not contracted as of yet

[2015-10-07 16:40] adiladiladil commented on #213
Great! moving onto other issues
sending out SVG icons to @mmmavis and will also send AI file to @natalieworth

[2015-10-07 17:20] cassiemc commented on #222
@natalieworth can you update the guide with Adil's icons as they are? Then it'll be complete and @Saallen we won't need to worry about sending them an update later. Shouldn't take but an hour.

[2015-10-07 17:25] adiladiladil commented on #213
![mozfest space icons-01](https://cloud.githubusercontent.com/assets/11046943/10345326/eb84cf02-6cf6-11e5-87b2-8647685f07e0.jpg)

[2015-10-07 17:47] cassiemc commented on #213
WOOT! :bomb: :+1: :100:  @adiladil

[2015-10-07 17:47] #213 closed

[2015-10-07 17:47] Saallen commented on #213
Hi I will share these icons with the team in the morning- the only worry I have it the youth zone- as I mentioned on a redpen, I feel it should be gender neutral.  Thanks

[2015-10-07 17:48] Saallen commented on #222
:+1:

[2015-10-07 17:50] Saallen commented on #235
:heart: looks great @natalieworth

[2015-10-07 17:50] Saallen commented on #234
Nice!

[2015-10-07 17:52] Saallen commented on #194
:rabbit:

[2015-10-07 17:52] hannahkane commented on #213
Huzzah! :cake:

[2015-10-07 17:56] Saallen commented on #250
@hannahkane I have started here
https://docs.google.com/a/mozilla.com/document/d/161Pp0X0y0DlwMnkGCB5kv586_dgFnGoPXuDqaR3DKlU/edit?usp=sharing

[2015-10-07 17:57] Saallen commented on #247
Nicely spotted @mmmavis - this pathways has been cancelled :disappointed:

[2015-10-07 18:01] adiladiladil commented on #213
@Saallen gender neutral lego head?
![screen shot 2015-10-07 at 2 00 22 pm](https://cloud.githubusercontent.com/assets/11046943/10346201/e2b89ade-6cfb-11e5-999b-53d934f32ce0.png)

legos are huge among kids. and this particular head does not have hair...so gender neutral?

[2015-10-07 18:02] Saallen commented on #217
I like this :+1:
Can we add the continue to work in the open......
As we want them to keep the work they started at mozfest in the open post festival.
"and will continue to work with the open ethos in their projects after Mozfest"..

[2015-10-07 18:06] hannahkane commented on #217
Sounds good. I'll close this and file a separate implementation ticket.

[2015-10-07 18:07] hannahkane opened #253 "Add section to /guidelines page"
* Add a section after the "Raising Issues" section; same white background
* Headline (same style as R-E-S-P-E-C-T): Working in the Open
* Copy: MozFest planning is done in the open [perhaps link to the "Submission Process" page] because working in the open is one of our core values. We hope participants will benefit from this culture of transparency and collaboration during the Festival, and will

[2015-10-07 18:07] hannahkane commented on #217
New ticket: https://github.com/mozilla/2015.mozillafestival.org/issues/253

[2015-10-07 18:07] #217 closed

[2015-10-07 18:13] hannahkane commented on #250
Thanks, @Saallen. I made a few minor copy edits, and updated references to the year, and the number of MozFests people have been involved with. Would be good to get an OK from everyone before we implement. Also - does everyone want to use the same photos as last year?

[2015-10-07 18:19] SpikeUK commented on #213
:+1:

[2015-10-07 18:25] Saallen commented on #213
Yes, Lego heads are gender neutral. Happy with that :b thanks
On 7 Oct 2015 19:19, "Spike" <notifications@github.com> wrote:

[2015-10-07 18:30] cassiemc commented on #213
@Saallen @adiladil I'm not convinced it looks like a lego head – I think context is lost without the yellow color. @Saallen if you can show the wranglers both choices (without telling them what it is) that would be appreciated! (Let's file any follow up issues as new ones)

[2015-10-07 18:31] adiladiladil commented on #213
@cassiemc @Saallen sounds good to me

[2015-10-07 18:52] natalieworth commented on #222
@Saallen @cassiemc Added the final icons from Adil and here is the link to the .ai file on google drive: https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0Q2RyV2RQVnJGZ2s/view?usp=sharing

[2015-10-07 19:36] cassiemc commented on #235
@natalieworth just a couple small questions/comments on https://redpen.io/qe84b039caf46bc898

[2015-10-07 20:49] HPaulJohnson commented on #159
Just heard back from Jean at MoCo; here's her feedback:

"Heard back from creative, small thing - can you add the Mozilla wordmark or logo on both tiles?"

@natalieworth can you incorporate this into design and I can resubmit?

[2015-10-07 20:56] cassiemc commented on #159
@HPaulJohnson can it be the Mozfest logo, which has the mozilla logo in it?

[2015-10-07 21:05] HPaulJohnson commented on #159
@cassiemc jean says, yes, the Mozfest logo will do the trick. thanks!

[2015-10-07 21:34] natalieworth commented on #159
@cassiemc @HPaulJohnson I've updated the .psd file and jpeg images with the logo added. Paul, are their any specifications from the Tiles team about logo size? Thanks!
redpen: https://redpen.io/p/xn00ffb06d3af74c9f
google drive: https://drive.google.com/a/mozilla.com/folderview?id=0B20-0lpP23c0eE80Y3MySTRpdG8&usp=sharing

[2015-10-07 21:36] natalieworth commented on #235
Hi @cassiemc , tweaked the layout again a bit on this one and added the new version to redpen:
https://redpen.io/p/qy81d1e4d8db976f67

[2015-10-07 21:37] HPaulJohnson commented on #159
No specs provided so these should work. @cassiemc if you are good with them I'll resubmit. Thanks, @natalieworth

[2015-10-07 23:02] mmmavis commented on #252
yup yup just assign this ticket to me when it's ready to go :dancer:

[2015-10-07 23:31] mmmavis commented on #247
ah, gotcha :crying_cat_face:

[2015-10-08 00:59] #247 closed

[2015-10-08 01:07] mmmavis commented on #247
live on https://2015.mozillafestival.org/pathways

[2015-10-08 10:16] Saallen commented on #252
Ian Forrester- Space Wrangerl- Global Village

Ian Forrester is a well known and likeable character on the digital
scene in the UK. He has now made Manchester, UK his home, where he
works for the BBC's R&D north lab. He focuses on open innovation and
new disruptive opportunities via open engagement and collaborations
with startups, early adopters and hackers
https://www.flickr.com/photos/cubicgard

[2015-10-08 13:32] cassiemc commented on #159
@natalieworth The logo placement is okay but it's crowding the other content. I would make it about 15%-ish smaller so it sits a little more comfily in the corner away from the other text.

[2015-10-08 14:03] cassiemc commented on #235
@Saallen Should it say 'session name' instead of just session? That is my only question, otherwise R+ @natalieworth on the design, nice work.

[2015-10-08 15:20] adiladiladil commented on #208
some options here
![untitled-2](https://cloud.githubusercontent.com/assets/11046943/10369458/5a5b593a-6da8-11e5-9982-f579dc816f39.jpg)
![untitled-4](https://cloud.githubusercontent.com/assets/11046943/10370069/55f2ee32-6dab-11e5-8790-2cce9632569e.jpg)
![untitled-5](https://cloud.githubusercontent.com/assets/11046943/10370790/8390b2d6-6dae-11e5-947a-b96426a7aef4.jpg)

![mozfest-shirt-1](https://clo

[2015-10-08 15:52] SpikeUK commented on #208
Love the randomness of the second option, but like the branding text in the third.

[2015-10-08 15:53] iamjessklein commented on #231
It might be interesting to also frame a challenge simply around user testing the tool. For example, try it out by doing x, y, z and file bugs...

[2015-10-08 15:55] marcwalsh commented on #225
@cassiemc  - Looking at the prices I've got back from the supplier it doesn't look like we will be able to do the coloured bag and colour print. Can we just stick to the natural bag and single colour print... Sorry!

[2015-10-08 16:00] natalieworth commented on #159
@cassiemc Reduced the size of the logo: https://redpen.io/p/xn00ffb06d3af74c9f

[2015-10-08 16:15] cassiemc commented on #159
Yep that's better, thanks @natalieworth! Ready to go @HPaulJohnson
(Natalie, fyi you can update the 'version' of the design on redpen from the gear icon next to the title)

[2015-10-08 16:16] cassiemc commented on #225
No worries! cc @adiladil ^^

[2015-10-08 16:18] cassiemc commented on #208
I'm okay with any of these. Cool @adiladil.
@Saallen is there a verdict on the youth icon?

[2015-10-08 16:19] natalieworth commented on #159
@HPaulJohnson Final file links on google drive for jpegs and psd: https://drive.google.com/open?id=0B20-0lpP23c0eE80Y3MySTRpdG8

[2015-10-08 17:07] Saallen opened #254 "Blog posts - Mozfest website"
Issue to curate Mozfest blog page
List of blogs to be published
- [x] Localisation
- [x] Badges - how to orientate yourself at the festival through pathways
- [x] Bekka Kahn Learning Circles
- [ ] How to be a good participant and get the most of the festival
- [x]  iFLabs
- [x] Digital Citizenship
- [x] Volunteers

I don't have these posts yet but should have the first by the middle of next week
c

[2015-10-08 17:15] hannahkane commented on #254
We don't have a MozFest blog, as far as I know. Is this ticket for creating one? Or will these blogs be published on the Webmaker blog and then displayed or linked to from the MozFest site?

[2015-10-08 17:19] hannahkane commented on #247
yay! :cake:

[2015-10-08 17:29] Saallen commented on #254
......checked other issue and ..". We can also make a separate "page" for these posts on blog.webmaker.org, so they have a dedicated space. For example, blog.webmaker.org/MozFest2015. "
So additional page on webmaker. I could always just tweet the links to the posts instead of adding them to the website

[2015-10-08 17:40] Saallen opened #255 "pathway copy feedback"
Hey @KevZawacki I showed the pathway content to the SW tonight and they added their comments to the doc. Could you take a look and let me know what you think?
https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit

cc @hannahkane

[2015-10-08 18:14] Saallen commented on #231
Hey the awesome fuzzyfox has volunteered to run this at MozFest with some volunteers \o/

[2015-10-08 18:25] cassiemc opened #256 "Adjust icons based on feedback"
From https://github.com/mozilla/mozfest-program/issues/586

[2015-10-08 19:09] adiladiladil commented on #225
![tote2](https://cloud.githubusercontent.com/assets/11046943/10376940/889aa410-6dce-11e5-943a-b7c812d031a8.jpg)
![tote1](https://cloud.githubusercontent.com/assets/11046943/10376941/88a4305c-6dce-11e5-9547-8f8fe447ad24.jpg)

[2015-10-08 19:10] cassiemc commented on #225
I dig the second more abstract design for the tote! Would pink work instead of red?

[2015-10-08 19:11] adiladiladil commented on #225
@cassiemc absolutely. i dont know why its showing up more red than pink here but it should be the same PMS color as on the MozFest site

[2015-10-08 19:13] adiladiladil commented on #225
![tote3](https://cloud.githubusercontent.com/assets/11046943/10377065/3113f024-6dcf-11e5-9f9b-893ef6898654.jpg)

[2015-10-08 19:17] mmmavis commented on #194
@adiladil could you attach/send me the .ai file as well as the hero banner image? Thanks! :smiley:

[2015-10-08 19:22] mmmavis commented on #178
@hannahkane @Saallen @cassiemc
Any thoughts on the page url? Do we plan to add a link to the nav bar?

[2015-10-08 19:26] cassiemc commented on #237
Ping @KevZawacki @HPaulJohnson Any updates on what's needed here?

[2015-10-08 19:30] mmmavis commented on #194
turns out the hero banner image for this page is already existed in this repo: https://github.com/mozilla/2015.mozillafestival.org/blob/develop/public/assets/images/fringe.jpg

[2015-10-08 19:31] natalieworth commented on #226
Social share graphic iteration updates: https://redpen.io/p/mj9d57297ec1f7d435
Based on the design feedback yesterday, is it necessary to add more context within the image about the event ( e.g. where it is located or something like "buy tickets")? Or would the context be provided within the facebook/ twitter status?

cc @cassiemc @hannahkane @adiladil

[2015-10-08 19:32] hannahkane commented on #178
I'd say /fringe for the url.

Not sure at what level the link should live. I'm wondering if it would fit at the same level as "Get in touch," "Tweet," and "Volunteer," since it's another action / way to get involved. That would require an icon, and a CTA like "Attend a Fringe Event".

Thoughts on that idea @Saallen @cassiemc ?

[2015-10-08 19:35] adiladiladil commented on #194
@mmmavis here is the link to download http://we.tl/0aK9G2OtH6

[2015-10-08 19:38] mmmavis commented on #194
@adiladil  lovely! thanks for the quick response!

[2015-10-08 19:46] natalieworth commented on #234
Final file for the A4 cards on google drive:
https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0T2MtTjkzdGtpbTg/view?usp=sharing
@Saallen @marcwalsh @hannahkane @cassiemc

[2015-10-08 19:47] natalieworth commented on #235
Final file for the A3 session templates on google drive:
https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0VHVuS0RXMW1LQ3M/view?usp=sharing
@Saallen @cassiemc

[2015-10-08 19:50] cassiemc commented on #178
wfm @hannahkane!

[2015-10-08 20:27] KevZawacki commented on #255
@Saallen Just incorporated SWs' feedback. Good to go!

[2015-10-08 20:37] KevZawacki commented on #254
Hi @Saallen, just to confirm -- you'll send drafts of these blog my way, and I'll proofread and post. Sound right?

[2015-10-08 20:43] HPaulJohnson commented on #159
Ugh. Comment from Jean at MoCo:

We could push back but I would prefer to just revert to the previous version, make the logo larger and call this one complete.

@natalieworth possible to resend with larger logo?

[2015-10-08 20:45] cassiemc commented on #159
Haha, yes let's just use the previous version. You had it right the first time @natalieworth!!! :)

[2015-10-08 21:08] natalieworth commented on #159
Haha, @HPaulJohnson here's the link to the previous version: https://drive.google.com/open?id=0B20-0lpP23c0eE80Y3MySTRpdG8

[2015-10-08 21:50] HPaulJohnson commented on #159
Approved! Should be live within 72 hours.

[2015-10-08 21:50] #159 closed

[2015-10-08 21:51] cassiemc commented on #159
WOOHOO!

[2015-10-08 21:55] hannahkane commented on #255
I didn't realize we were still editing this copy. Does this mean that this page is now out-of-date? https://2015.mozillafestival.org/pathways

[2015-10-08 21:57] hannahkane commented on #254
@Saallen - we can add this content to the website. Was just trying to clarify if that was the request. If so, let's file a separate ticket and add specific details about how/where we'd like this to appear on the site.

[2015-10-08 22:20] hannahkane commented on #196
Moving to next heartbeat

[2015-10-09 06:43] Saallen commented on #252
Lindsey Frost
Lindsey is the Gigabit City Lead for the MLN team, leading Mozilla's five-city effort to explore how high-speed networks can be leveraged for learning.  A native of Chattanooga, Tennessee, Lindsey is passionate about empowering leaders and learners to read, write, and participate on the (super fast!) Web. She's previously worked with the University of Tennessee and the Public Educati

[2015-10-09 06:48] Saallen commented on #252
https://docs.google.com/document/d/1c1btKHH_ngUPZl_E28WQq-QhybDBlWqu3fA2j4rQGHU/edit
Stacy Martin- Digital Citizenship

Stacy Martin is part of the Policy Team at Mozilla.  As a Senior Manager of Privacy and Engagement, Stacy focuses on building privacy community and education / awareness materials. She has created several teaching kits on topics such as privacy, passwords, and DRM.  Stacy also or

[2015-10-09 06:50] Saallen commented on #254
Hey I worry though if I only get 4 blog posts is it worth being on the website?

@KevZawacki , yes proof only :) Unless you would like to write one about the main stage speakers? :)

[2015-10-09 06:51] Saallen commented on #250
@hannahkane Everyone has confirmed they are happy with the edits and pictures :)

[2015-10-09 13:08] KevZawacki commented on #255
@hannahkane There were no changes to the Pathways copy -- and shouldn't be going forward -- so that page is up-to-date.

[2015-10-09 13:22] Saallen commented on #255
:rainbow:

[2015-10-09 13:22] Saallen commented on #159
Yahhhh :dancer:

[2015-10-09 13:24] Saallen commented on #178
That sounds good to me

[2015-10-09 13:25] Saallen commented on #235
Session name is probably better.

[2015-10-09 13:30] cassiemc commented on #235
Nice, thanks @natalieworth!
@Saallen @marcwalsh Final files are here: https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0VHVuS0RXMW1LQ3M/view?usp=sharing

[2015-10-09 13:30] #235 closed

[2015-10-09 13:36] Saallen commented on #225
:heart: :heart_decoration: :heart_decoration: ..incase you dont get it i LOVE these designs. Great job Adil. I wonder though about the youth icon, did you settle on something different last night?

[2015-10-09 13:37] Saallen commented on #247
:balloon: whooopppp

[2015-10-09 13:39] Saallen commented on #208
I love the third one but it would be good to match the tote bag so thinking the third one......oooh its hard though they are all awesome

[2015-10-09 13:44] cassiemc commented on #208
@Saallen We are thinking the third option for the tshirt, since it's serving as memorabilia, and the first or second option for the tote bag, for its timelessness / re-usability. :)

Yes we'll need to update the youth icon on this.

[2015-10-09 13:51] KevZawacki commented on #254
@Saallen I am happy to help, but probably cannot commit fully -- also juggling the State of Mozilla report. Are you able to put together a rough draft? I can hone it from there.

[2015-10-09 14:35] Saallen commented on #252
![sg portrait-2](https://cloud.githubusercontent.com/assets/10194015/10396618/6bd1f748-6e9b-11e5-9da9-d4c85820eeb9.jpeg)
Sandra Gaudenzi - Pathway: Storytellers and Coders United

Sandra consults, researches, lectures, writes and blogs about interactive factual narratives.

She is one of the co-directors of the i-Docs conference (i-docs.org) and the Head of Studies of IF Lab (iflab.net), an EU tra

[2015-10-09 16:24] adiladiladil commented on #213
Here are the final icon choices
![mozfest space icons-01](https://cloud.githubusercontent.com/assets/11046943/10399409/919b9b3e-6e80-11e5-9ea8-0ee723adf725.jpg)

@mmmavis I'm sending you the YOUTH SVG separately . then you should have all

@natalieworth I'm sending you the AI file for this as well

[2015-10-09 16:30] adiladiladil commented on #208
Here is the update on the shirt with new youth icon
![mozshirt](https://cloud.githubusercontent.com/assets/11046943/10399577/7a6e4e10-6e81-11e5-8803-425484d6bfa9.jpg)

[2015-10-09 16:32] cassiemc commented on #208
Looks good @adiladil. One thing that just occurred to me – this is two-color. @marcwalsh @Saallen Can you comment on if budget will allow for it?

@adiladil can you do a one-color version as an alt?

[2015-10-09 16:36] adiladiladil commented on #208
I noticed last years shirts were two color

here are couple 1 color options

![mozshirt2](https://cloud.githubusercontent.com/assets/11046943/10399705/56fef884-6e82-11e5-8013-8364c63b940e.jpg)
![mozshirt3](https://cloud.githubusercontent.com/assets/11046943/10399706/5704ea3c-6e82-11e5-8f7d-c02953d9f8f3.jpg)

[2015-10-09 17:03] hannahkane commented on #256
Hey @adiladil @cassiemc and @Saallen. Just looking at the Youth icon now—I hate to prolong this process further, but I really don't think that icon fits with the rest of the set. It seems overly simplistic, and doesn't particularly communicate "youth" (IMO). I remember Cassie had suggested a version of the smiley face on a kid's block (like a three dimensional ABC block). Wondering if we can see a

[2015-10-09 17:15] jvallera commented on #252
![_ar73872-x2](https://cloud.githubusercontent.com/assets/3729312/10400617/c58ab608-6e87-11e5-8e5d-3d6d7c79f277.jpg)

Julia Vallera (@colorwheelz) has been working in the arts as an educator, printmaker, public engagement artist, illustrator, consultant and designer for 16 years. She is a technology enthusiast and collaborates with many people to invent new ways to use it for STEAM (Science, Tech,

[2015-10-09 17:42] natalieworth commented on #222
@cassiemc I've got the final style guide up on redpen: https://redpen.io/singles (The original layout wasn't in dropbox, so hopefully this template is similar) Thanks

cc @Saallen The final .ai file is here: https://drive.google.com/open?id=0B20-0lpP23c0czdPaGlfdFV4Unc

[2015-10-09 17:44] adiladiladil commented on #236
![notebook](https://cloud.githubusercontent.com/assets/11046943/10401150/12880aa2-6e8b-11e5-938d-e744e1da2cb0.jpg)
![notebook2](https://cloud.githubusercontent.com/assets/11046943/10401186/4cd46a20-6e8b-11e5-8252-5b7a12ec49e5.jpg)
![untitled-2-01](https://cloud.githubusercontent.com/assets/11046943/10401268/e09a68f4-6e8b-11e5-8ab0-21d0287d79a1.jpg)
![pencil-01](https://cloud.githubusercontent.com/

[2015-10-09 17:52] Saallen commented on #252
thanks @jvehent

[2015-10-09 18:17] Saallen commented on #254
First post from Badges
https://docs.google.com/document/d/1qoftVkt9i1DEH1DQMDgpgSo55NzswAGUhZtz1G_oVAg/edit?ts=5617d7c8
@KevZawacki I realise you are extemely busy, I am asking everyone for a Blog post :)

[2015-10-09 18:18] hannahkane commented on #254
Got it re: not putting on website. :)

[2015-10-09 18:20] hannahkane opened #257 "Add icon for Fringe Events page"
Have agreed in #178 to add "Attend a Fringe Event" as a CTA on the site, at the same level as "Get in touch," "Tweet," and "Volunteer." So, now we need a similar icon.

[2015-10-09 18:21] hannahkane commented on #255
yay! thanks.

[2015-10-09 18:22] Saallen commented on #252
Bekka Kahn- Pathfinder Online Learning Done Face To Face - A Pathway

Bekka Kahn works for P2PU and The Open Coalition, and is has been working on open education, open practice and free culture for 10 years. She’s also a recovering librarian, a PhD student at King’s College London, and an avid maker of jam.
![rebecca kahn_cropped](https://cloud.githubusercontent.com/assets/10194015/10402058/db43e9

[2015-10-09 18:24] hannahkane opened #258 "Design Festival Team page"
Copy is here: https://docs.google.com/a/mozilla.com/document/d/161Pp0X0y0DlwMnkGCB5kv586_dgFnGoPXuDqaR3DKlU/edit?usp=sharing

Photos can be pulled from last year's site: http://2014.mozillafestival.org/about/index.html

Need to both design and build this page this heartbeat.

[2015-10-09 18:26] hannahkane opened #259 "Build Festival Team page"
Design will happen here: #258

url: /team
link: let's add it to the bottom-most line of the footer, to the right of "About." The link can read "Festival Team"

Team bios are here: https://docs.google.com/document/d/161Pp0X0y0DlwMnkGCB5kv586_dgFnGoPXuDqaR3DKlU/edit

[2015-10-09 18:27] hannahkane commented on #250
K. Closing this ticket and opening a design ticket (#258) and a build ticket (#259).

[2015-10-09 18:27] #250 closed

[2015-10-09 18:27] hannahkane commented on #259
blocked on design

[2015-10-09 19:27] #194 closed

[2015-10-09 19:29] cassiemc commented on #258
@natalieworth to help source a team-y picture for the header

[2015-10-09 20:02] natalieworth commented on #258
Hey @cassiemc @hannahkane I think one of these images would work well for the header:
https://www.flickr.com/photos/mozillaeu/8172664276/in/faves-47833020@N03/
https://www.flickr.com/photos/mozillaeu/8172583258/in/faves-47833020@N03/
https://www.flickr.com/photos/mozillaeu/5156735187/in/faves-47833020@N03/

[2015-10-09 20:56] natalieworth commented on #257
@hannahkane @cassiemc These 3 options could work for the Fringe icon (ticket, bullhorn, or clock). I've got a mockup too of them with the other icons on red pen: https://redpen.io/kcfe800e736b6ba50d
![fringe_icons_01-15](https://cloud.githubusercontent.com/assets/14876567/10405399/80f5150a-6e8d-11e5-9715-c61770a1e5b3.png)

[2015-10-09 21:01] hannahkane commented on #257
I like the ticket! Seems the most event-y to me. Thanks, @natalieworth!

[2015-10-09 21:14] cassiemc commented on #226
@natalieworth As discussed in today's stand I don't think you need to add any more context wrt. to buy tickets. Can you confirm that @HPaulJohnson?

Design-wise, I'm not sure any of these are on the mark just yet. Would love to see some versions that are a little lighter, more energetic. The photos currently are a bit dark. It might be great to zero in on ONE person having an absolutely amazing ti

[2015-10-09 21:14] natalieworth commented on #257
@hannahkane Here's the link to the .ai file containing the icons. Let me know if I can export or set the file up differently for the site? Thanks https://drive.google.com/open?id=0B20-0lpP23c0YVpnOXZDZ1k2cXM

[2015-10-09 21:16] natalieworth commented on #226
Thanks @cassiemc, yeah I feel like the content is fine too. I feel images are stronger too for social sharing over heavy text. I'll explore the icon/ illustrative route with colours and look for more engaging photos. :)

[2015-10-09 21:16] cassiemc commented on #257
@natalieworth could you please export that as an svg? It will need to be white, as well.

[2015-10-09 21:19] cassiemc commented on #225
@SaallenI love these too! I think I like the more random version in https://github.com/mozilla/2015.mozillafestival.org/issues/225#issuecomment-146659750. @adiladil made a new youth icon today, I believe @hannahkane emailed you about it. If we are good to go with that new one then we just need to update it here.

[2015-10-09 21:23] natalieworth commented on #257
@hannahkane @cassiemc Added the white svg file to the google drive link above

[2015-10-09 21:25] HPaulJohnson commented on #226
No need to add any more context around buying tickets. In fact, keeping them more generic allows us more flexibility to use them in lots of different ways.

+1 to the comment about surfacing emotion and energy and zooming in on one or a small group of people. I like using photos and doing this with real people but we can always try different things and see what works bets.

[2015-10-09 21:54] hannahkane commented on #257
w00t. thanks, @natalieworth.
@mmmavis - this is the icon that we'll be needed to finish out the Fringe Events page ticket

[2015-10-09 22:13] hannahkane commented on #258
I think the first one is nice, and the most "team-like".

[2015-10-09 23:50] natalieworth commented on #234
@cassiemc @Saallen Are we able to close this issue too? The link to the google drive file is above.

[2015-10-10 02:12] SpikeUK commented on #208
Sorry, no, the 2014 volunteer t-shirts were single-colour printed; yellow on blue t-shirt.

If we are limited to one colour (@marcwalsh ?) I would prefer the pink (fuchsia?) printing rather than the white please.
(So looking forward to getting these :) )

[2015-10-10 13:20] Saallen commented on #178
Hey @hannahkane do I need to build a new form to collect fringe info? or will we use last years? I ask as I think it could be good to ask some folks to fill out the form now so we open the page with some fringe events on there :palm_tree:

[2015-10-11 11:27] Saallen commented on #252
Ian Forrester- Space Wrangler Global Village
https://www.flickr.com/photos/cubicgarden/8813084733/sizes/o/
"Ian Forrester is a well known and likeable character on the digital
scene in the UK. He has now made Manchester, UK his home, where he
works for the BBC's R&D north lab. He focuses on open innovation and
new disruptive opportunities via open engagement and collaborations
with startups, early

[2015-10-12 09:32] marcwalsh commented on #208
Two colour is fine @cassiemc @adiladiladil - Will need artwork in vector format today to send to printers please! :)

[2015-10-12 13:44] marcwalsh commented on #236
@cassiemc @adiladiladil - Can I get these designs in vector format please. Looking to place the order today. :)

[2015-10-12 21:53] KevZawacki commented on #254
Hi @Saallen, just gave the [badges blog](https://docs.google.com/document/d/1qoftVkt9i1DEH1DQMDgpgSo55NzswAGUhZtz1G_oVAg/edit?ts=5618b17d) a copyedit. Ready for me to post it to [blog.mozilla.org/faces-of-mozilla](blog.mozilla.org/faces-of-mozilla)?

And no problem — I will put together a main stage blog post once we finalize the details.

[2015-10-13 11:46] thornet commented on #221
Closing as this as been vetted and is in action!

[2015-10-13 11:46] #221 closed

[2015-10-13 12:05] Saallen commented on #254
@KevZawacki I just shared the page with edits with the badges team so once i hear from them we are good to go.

[2015-10-13 12:06] hannahkane commented on #183
@mmmavis - can you please land this ticket some time this week, per MozFest team request? Thanks!

[2015-10-13 12:08] Saallen commented on #196
@hannahkane What requirements are needed from facilitators around their session info, ie how many words, is there a particular layout, agenda & outcomes- as we will need to get updated session outlines from nearly all.
cc @thornet for previous years requiremenrs

[2015-10-13 12:17] Saallen commented on #252
Heath bailey- space Wrangler Localisation
![heather](https://cloud.githubusercontent.com/assets/10194015/10454476/baa33486-71ac-11e5-9cca-06686713cc19.JPG)

Heather Bailey works for Translate, working behind the scenes for the last 15 years on localisations projects trying not to let them take over her house and her life. Born and raised in Southern Africa she loves the variety of people and cultu

[2015-10-13 12:19] Saallen commented on #252
Dwayne Bailey Space Wranger localisation
Dwayne
![dwayne](https://cloud.githubusercontent.com/assets/10194015/10454517/0ade20d2-71ad-11e5-96f2-f01790c81c73.JPG)
 is a proud father to two beautiful girls. His mission in life is to create a world where people can access and create in their own language. His motivation behind starting the Translate (a specialised localisation company) was to remove t

[2015-10-13 12:34] Saallen opened #260 "edit request : Youth zone description on /sessions page"
Copy reads, "Young people and adults will work in tandem across three **workshops** and 30 sessions. Together, we’ll explore new technology and how it’s relevant to all participants."

It should say, "Young people and adults will work in tandem across three **pathways** and 30 sessions. Together, we’ll explore new technology and how it’s relevant to all participants."

:pencil2:  cc @hannahkane

*

[2015-10-13 12:57] hannahkane commented on #260
@mmmavis - possible to make this minor copy change today?

[2015-10-13 12:57] #256 closed

[2015-10-13 13:41] marcwalsh commented on #225
Hey @cassiemc @adiladiladil, I need the artwork for these today to ensure that we have the bags delievered on time for the festival. Are you able to update this with the latest version of the youth icon and then send over the vectorised file please?

[2015-10-13 13:47] Saallen commented on #254
@KevZawacki Badges team are happy for you to proceed \0/

[2015-10-13 13:50] cassiemc commented on #225
@adiladil can you provide the final vector artwork here?

[2015-10-13 14:02] KevZawacki commented on #254
Great! Our first MozFest blog is live [here](http://blog.webmaker.org/mozfest-2015). @Saallen, let me know if I should update the description at the top of the page.

[2015-10-13 14:04] cassiemc commented on #208
Excellent, two color it is. @adiladil final artwork?

[2015-10-13 14:05] cassiemc commented on #178
Maybe @mmmavis can help us figure out a best process here @Saallen, since @hannahkane is at a work week this week. Good idea to pre-populate a few.

[2015-10-13 14:07] cassiemc commented on #234
@natalieworth These look good. I would remove the final option though, where the logo cuts into the grid. After that's done let's close.

[2015-10-13 14:11] cassiemc commented on #258
I like both the first and the third... The third has a really nice mix of ages and ethnicities (love the woman in the center). @natalieworth could you treat both then we can make a decision?

[2015-10-13 14:13] cassiemc commented on #257
Updating the assignee to @mmmavis

[2015-10-13 15:00] adiladiladil commented on #208
@cassiemc @marcwalsh Here are the final files. 2 options for navy blue t shirts and plain white
![mozfest-2015-navy-white-shirt](https://cloud.githubusercontent.com/assets/11046943/10458606/977238a8-7199-11e5-9d10-51aedd89db49.jpg)
![mozfest-2015-shirt-white-shirt](https://cloud.githubusercontent.com/assets/11046943/10458605/976f7b54-7199-11e5-875b-1fdab90e4e73.jpg)

Download Link Here:

http://we

[2015-10-13 15:01] cassiemc commented on #208
Thanks @adiladil!! Let's go with the navy blue option if possible @marcwalsh

[2015-10-13 15:05] cassiemc commented on #222
@natalieworth Can you repost the redpen link please? The one above just linked to the 'singles' page. The .ai file looks good but we need to update the Youth Zone icon.

[2015-10-13 15:05] cassiemc commented on #236
@adiladil we need vector files here, too please!

[2015-10-13 15:06] cassiemc commented on #208
@marcwalsh if you can confirm you have everything you need for this, I'll close this bug :bomb:

[2015-10-13 15:08] adiladiladil commented on #208
@cassiemc sounds good. @marcwalsh you have both vector files. you can use the one titled Mozfest 2015 Shirt Navy

[2015-10-13 15:18] adiladiladil commented on #225
Here is the design for the tote
![mozfest-tote](https://cloud.githubusercontent.com/assets/11046943/10459108/0c7b614a-719c-11e5-9d5d-a419b5d13e14.jpg)

Here is the link to the vector files:

http://we.tl/3GZGIt0hEe

[2015-10-13 15:20] adiladiladil commented on #236
@marcwalsh are we going A5 or A6 for the notebooks

also just wanted to triple check that the pencil case print area was 5mmX50mm...seems tiny

[2015-10-13 15:28] cassiemc commented on #225
@adiladil There's a cluster of dots overlapping on the lefthand side of this poster, the lines emanating from the learning networks icon, and the newspaper seems as though it should be a bit higher to be centered amongst its emanating lines. Can you quickly go over that area with a fine-tooth comb?

[2015-10-13 15:31] marcwalsh commented on #236
We're going for A6 :) Let me double check... I did think that it was small.

[2015-10-13 15:33] marcwalsh commented on #208
Thanks! The bag is blue and it's printed straight on, so I don't need a background on it. Thanks @adiladiladil @cassiemc

[2015-10-13 15:36] cassiemc commented on #208
@marcwalsh To clarify, this design is for the t-shirt, not the tote bag. Are you able to use the files you have?

[2015-10-13 15:38] adiladiladil commented on #225
How does this look?
![mozfest-tote-new](https://cloud.githubusercontent.com/assets/11046943/10459739/e5a713f4-719e-11e5-9204-db574970db91.jpg)

[2015-10-13 15:41] cassiemc commented on #225
@adiladil much better, thank you thank you! Can you link us to the final vector files?

[2015-10-13 15:45] adiladiladil commented on #225
@cassiemc @marcwalsh here is the newest link for tote design:

http://we.tl/ZSmUc13SER

[2015-10-13 15:51] cassiemc commented on #225
Thanks @adiladil! @marcwalsh please let us know if you need anything else, otherwise we should be good to close this ticket.

[2015-10-13 15:52] adiladiladil commented on #236
For the A6 Notebook:

Blue notebook with white print:

![mozfest-2015-a6-notebook-new](https://cloud.githubusercontent.com/assets/11046943/10459999/596610e6-71a0-11e5-86d1-90872b226813.jpg)

Link to vector:

http://we.tl/gD0WUFNOev

[2015-10-13 15:55] natalieworth commented on #234
@cassiemc I removed the last one and uploaded the pdf again to google drive: https://drive.google.com/open?id=0B20-0lpP23c0ZXFrUzBERmFhQWs

[2015-10-13 16:00] natalieworth commented on #222
@adiladil Could you link/ transfer me the final file again for the icons for the style guide? I believe the youth zone icon was updated again. Thanks

[2015-10-13 16:06] marcwalsh commented on #225
Double checking with printers, will let you know ASAP

[2015-10-13 16:07] adiladiladil commented on #222
@natalieworth emailing you updated file now

[2015-10-13 16:07] cassiemc commented on #234
Great, thanks @natalieworth! @marcwalsh you should have what you need here. :)

[2015-10-13 16:16] marcwalsh commented on #225
Art work is great and the printers are happy.

Good to close!

Thanks @cassiemc & @adiladiladil !

[2015-10-13 16:16] adiladiladil commented on #236
Here is the pencil case artwork at 5mmX50mm

you can use this Hi Res JPG for printers since they do full color print for these

![mozfest pencil-01](https://cloud.githubusercontent.com/assets/11046943/10460831/4adb5b9a-71a4-11e5-9ca2-a5181a0eefd3.jpg)

[2015-10-13 16:18] marcwalsh commented on #208
Sorry @cassiemc , yes! I also need the #MozFest for the back with the text outlined as a separate file please.

[2015-10-13 16:21] adiladiladil commented on #236
actually, @marcwalsh @cassiemc
Here is the link to for the pencil case artwork:

http://we.tl/XiBM3duj44

[2015-10-13 16:24] adiladiladil commented on #208
Here is the link for the artwork for the back of the Shirts (#MozFest)

we can let the printers know whether we want white or MozFest pink

http://we.tl/d9xu3R4q5h

[2015-10-13 16:25] natalieworth commented on #258
Hi @cassiemc @hannahkane , I've treated the images with the blue and red treatment also found on the 'contact us' page. Here's the link to the edited and mockup images: https://redpen.io/p/ho3b473cc9b07a267f

[2015-10-13 16:25] cassiemc commented on #225
Woohoo!!! :cake: Thanks @marcwalsh, and big thanks @adiladil

[2015-10-13 16:25] #225 closed

[2015-10-13 16:36] Saallen commented on #254
Yes please @KevZawacki - can we update the intro paragraph
Proposed content:
MozFest 2015

Welcome to the Mozilla Festival 2015 blog page. Here, you’ll find posts from this years Space Wranglers, Pathfinder and volunteers who make the festival come to life. Over the coming weeks you will be introduced the over arching Spaces which are our central hubs of learning and you will learn how to complete

[2015-10-13 16:43] natalieworth commented on #222
Hi @cassiemc, updated Style Guide up on redpen with new icons added: https://redpen.io/p/kw55b77d9dd770513b

[2015-10-13 17:04] cassiemc commented on #208
I think the white works well as per the earlier two-color tshirt design. @adiladil I think you meant to tag @marcwalsh

[2015-10-13 17:12] cassiemc commented on #208
@marcwalsh if all is good here now, good to close?

[2015-10-13 17:12] cassiemc commented on #236
@marcwalsh are we good to close this one?

[2015-10-13 17:25] cassiemc commented on #222
Perfect @natalieworth! Can you post the final .eps file here then we'll close?

[2015-10-13 17:49] mmmavis opened #261 "Upgrade to React v0.14"
for details see https://facebook.github.io/react/blog/

[2015-10-13 17:55] cassiemc commented on #222
@natalieworth can you also shrink the design on redpen to 2x?

[2015-10-13 18:26] natalieworth commented on #222
@cassiemc Final design is smaller on redpen: https://redpen.io/p/kw55b77d9dd770513b
If everything is okay with the design, I'll post the eps link here too

[2015-10-13 18:31] cassiemc commented on #222
Looks good @natalieworth

[2015-10-13 19:14] cassiemc commented on #237
@Saallen Last I heard this might not be necessary. Can you advise on if you need design support for the emails? It might be possible to repurpose the social share graphics from #226 if you think you might need just a simple, generic graphic.

[2015-10-13 19:18] cassiemc commented on #223
@HPaulJohnson Do you think we'll need this?

[2015-10-13 19:22] cassiemc commented on #258
I really do love this version here: https://redpen.io/gjb069f7d2878df10b @natalieworth do you think you could adjust the photo so the headline is a little away from her chin – more on her shoulder? Once you've done that you can post the file here so @adiladil can mock up the page.

[2015-10-13 19:33] natalieworth commented on #222
Hi @Saallen , I've uploaded the final .eps file in the google drive: https://drive.google.com/open?id=0B20-0lpP23c0UzVaMUlBdTgzYW8

@cassiemc Is it good to close this issue?

[2015-10-13 19:37] cassiemc commented on #222
Yep well done @natalieworth, thanks!

[2015-10-13 19:37] #222 closed

[2015-10-13 19:56] edrushka opened #262 "Stage production meta-bug"
This ticket is to track work around the Mainstage production ([weekly meeting agenda here] (https://docs.google.com/document/d/1VrLGsGXrRwPFNmPVeH9xQeAzL4ggsSqsQALQgLG1Duw/edit)), including:
- design/branding of stage elements
- keynote slides
- background slides when no activity on stage
- stage managing
- rehearsals

cc @Saallen @marcwalsh @lovegushwa @KevZawacki @HPaulJohnson @cassiemc

[2015-10-13 19:57] edrushka commented on #262
@lovegushwa can you pls post your list of design ideas here when it's ready?

[2015-10-13 19:57] edrushka commented on #262
@marcwalsh pls let me know when we can connect with Torpedo

[2015-10-13 20:01] edrushka opened #263 "Content capture meta-bug"
This ticket is to track content capture plans for MozFest 2015 (see our notes [here] (https://docs.google.com/document/d/1QtSxRfO6USTyHlFjCzYm6CFoYM3PL5BjiYJ0tfUuwrE/edit)), including:
- photography
- videography
- editorial content
- media partnerships

This work is in collaboration with Tim Murray from MoCo.

cc @HPaulJohnson @KevZawacki @Saallen @thornet

[2015-10-13 20:15] edrushka opened #264 "Fundraising presence at MozFest"
This ticket is to track fundraising ideas for MozFest 2015.

#### Reasons to have a fundraising presence at MozFest 2015:
- provide information for attendees that Mozilla is a non-profit
- provide networking opportunities for attendees affiliated with other non-profit orgs
- demonstrate to media and institutional funders that we're actively engaging in donor stewardship

#### Ideas for presence:
-

[2015-10-13 22:10] natalieworth commented on #258
@cassiemc Let me know if this one works better: https://redpen.io/gjb069f7d2878df10b

[2015-10-14 00:14] mmmavis opened #265 "Add variables.less"
We should put shared values like colour codes, paddings, etc in a `variables.less` file

[2015-10-14 04:20] SpikeUK commented on #263
I have a good photographer (https://www.flickr.com/photos/chaoticeunoia) signed-up to be a local volunteer - if she is happy, would you like her assigned to this project?

[2015-10-14 11:42] Saallen commented on #254
@KevZawacki Localisation just submitted their blog post
[Localisation Blog post.docx](https://github.com/mozilla/2015.mozillafestival.org/files/13146/Localisation.Blog.post.docx)
![super heros](https://cloud.githubusercontent.com/assets/10194015/10482565/f8ebee62-7270-11e5-9f62-ebd4e79b3365.png)

[2015-10-14 11:58] marcwalsh commented on #208
@adiladiladil @cassiemc - Sorry it needs to be #MozHelp not #MozFest, once corrected all good to close!

Thanks!

[2015-10-14 13:07] cassiemc commented on #258
Yes, love it. Now just need a download link for the image so @adiladil can fill out the rest of the page. Thanks @natalieworth.

[2015-10-14 14:20] adiladiladil commented on #208
@cassiemc @marcwalsh Here is the link to the corrected artwork

http://we.tl/vaG3F0TGj4

[2015-10-14 14:25] adiladiladil commented on #210
@marcwalsh do you know the final dimensions of the nametags?

[2015-10-14 15:24] marcwalsh commented on #210
@adiladiladil A6 please

[2015-10-14 15:29] marcwalsh commented on #208
Sorry @adiladiladil could you remove the blue background on the front of the artwork... I'd do it myself but I need to renew my CC subscription. :(

[2015-10-14 15:33] adiladiladil commented on #208
@marcwalsh here is the update

just let the printers know that the print colors will be white and pink. in the AI file the white is black so they can actually see the artwork

http://we.tl/qFHgk5Xox1

[2015-10-14 15:35] marcwalsh commented on #208
Will do thanks @adiladiladil
@cassiemc  - Let's leave this open until it's confirmed okay with printers

[2015-10-14 15:51] adiladiladil commented on #210
posting this for review and approval @cassiemc @Saallen @marcwalsh
![nametag-01](https://cloud.githubusercontent.com/assets/11046943/10489165/e0a1d030-7269-11e5-8a9e-a6ca327623a9.jpg)

[2015-10-14 15:53] natalieworth commented on #258
Hey @adiladil, here's the link to the image file for the Team page: https://drive.google.com/open?id=0B20-0lpP23c0NjlVSHZMT2tHaU0 Thanks

[2015-10-14 15:58] cassiemc commented on #210
@adiladil Looks great! It's an odd twitter icon though. Can you use the standard one?

[2015-10-14 16:13] adiladiladil commented on #210
How's this @cassiemc
![nametag-01-01](https://cloud.githubusercontent.com/assets/11046943/10490000/fec66eb0-726c-11e5-8d5a-bf88658d08ba.jpg)

[2015-10-14 16:22] natalieworth commented on #226
Hi @cassiemc, updated some iterations on redpen: https://redpen.io/p/mj9d57297ec1f7d435

I also sourced these photographs from previous MozFest's that could work well based on @HPaulJohnson feedback:
https://www.flickr.com/photos/sproutfund/9616924192/in/faves-47833020@N03/
https://www.flickr.com/photos/sharma_akash/9112550310/in/faves-47833020@N03/
https://www.flickr.com/photos/paul_clarke/817489

[2015-10-14 16:27] marcwalsh commented on #210
@adiladiladil Looks great, I would make the hole to size at the top to ensure it and the cog are placed correctly. They are normally 5 / 6mm in diameter.

[2015-10-14 16:29] adiladiladil commented on #210
@marcwalsh how far from the top does the hole get punched?

[2015-10-14 16:32] marcwalsh commented on #210
5mm as well

[2015-10-14 16:32] marcwalsh commented on #210
@adiladiladil 5mm as well

[2015-10-14 16:34] adiladiladil commented on #210
here is the update
![nametag-01](https://cloud.githubusercontent.com/assets/11046943/10490576/e550b668-726f-11e5-8981-98c4ce1c92c7.jpg)

[2015-10-14 17:27] cassiemc commented on #210
I like it. R+ from me. @adiladil now just need the source file so @marcwalsh can print. Marc, do you need bleed set up?

[2015-10-14 18:14] HPaulJohnson commented on #223
@cassiemc We don't need to do this for Medium. We can use the screens during the Sat night conversations to represent the partnership but doesn't need to be any broader than that or in any of the print materials.

cc/ @KevZawacki

[2015-10-14 18:45] mmmavis commented on #178
oops sorry, didn't see ur question until now @Saallen

The fringe page is WIP and hopefully can be done by tomorrow.  I'll create a form for you to send around for now later today. :grin:

[2015-10-14 18:50] adiladiladil commented on #258
@natalieworth thanks... just requested access to the photo.
I'll use this for the Team Page mockups

[2015-10-14 19:15] #223 closed

[2015-10-14 19:15] cassiemc commented on #223
Thanks @HPaulJohnson!

[2015-10-14 20:42] adiladiladil commented on #258
@cassiemc @hannahkane
Here is the link to the redpen for feedback

https://redpen.io/p/gp54b663798941438c

![mozfest team-15](https://cloud.githubusercontent.com/assets/11046943/10497189/9ba04eac-7292-11e5-9bd1-a663e770a9e0.jpg)

[2015-10-14 23:52] natalieworth commented on #226
Hey @cassiemc, I've updated the pattern background, colours, and type style based on feedback. I'll keep working on these til the end of our day, so I may have a couple more/ refinements to upload tomorrow morning. Thanks
https://redpen.io/p/mj9d57297ec1f7d435

[2015-10-15 01:25] mmmavis commented on #178
@Saallen here's the form: https://docs.google.com/a/mozillafoundation.org/forms/d/1XCjIF3ptc4XAl7ql-pkhhIDc7dERYshrLHOFZgjdIUY/viewform

[2015-10-15 01:48] mmmavis commented on #178
@cassiemc
re: [Hannah's comment](https://github.com/mozilla/2015.mozillafestival.org/issues/178#issuecomment-146664063): we will need an icon for the new CTA. Do you know who I should talk to to get the icon?

[2015-10-15 02:23] mmmavis commented on #178
@cassiemc oops, my bad! didn't realize the icon was provided in #257 :+1:

[2015-10-15 02:35] mmmavis commented on #257
@natalieworth the borders around the existing icons are done in CSS. Can you help export a border-free icon? :grin:

[2015-10-15 02:40] mmmavis commented on #180
@adiladil I couldn't find the .ai file in my inbox. Would you mind sending it to me again? Thanks! :dancer:

[2015-10-15 02:45] mmmavis commented on #180
@hannahkane  @cassiemc @Saallen

not sure if this was discussed already - do we plan to put "location" (eg., room number) on the Schedule app as well?

[2015-10-15 02:50] mmmavis commented on #219
implementation ticket for Schedule app: https://github.com/mozilla/2015.mozillafestival.org/issues/196

[2015-10-15 02:52] mmmavis commented on #219
Wooohoooo lovely!  Will find you when I reach that stage @ryanpitts :+1:

[2015-10-15 02:56] mmmavis commented on #219
@Saallen question for you: do all sessions have the same duration? I was just looking at the [Schedule app finalized mockups](https://github.com/mozilla/2015.mozillafestival.org/issues/180#issuecomment-143294874) and realized we didn't mention anything about the physical space (eg., room number?) and the duration of each session. Would you like to have these info displayed?

[2015-10-15 02:57] mmmavis commented on #196
@Saallen @thornet @hannahkane let's move this discussion to https://github.com/mozilla/2015.mozillafestival.org/issues/219 instead? :smile:

[2015-10-15 05:33] SpikeUK commented on #258
I may have missed something but only five of us? Where is @Saallen ?

[2015-10-15 12:04] hannahkane commented on #180
Yes, we should put "Location" on the app.  @saallen - will every session's location be related to the Space it's in. For example, if something is in the Youth Zone space, can we assume its location will be "2nd Floor" or something like that, or will there be exceptions to that rule?

[2015-10-15 12:08] hannahkane commented on #258
Good eye, @SpikeUK. :) I don't think it matters, though, since we're just approving the design in this ticket. When we build the page, we'll make sure all of the bios are there.

@adiladil - design looks good to me. Not sure we have any copy for the paragraph below "Meet the MozFest team," though.

[2015-10-15 12:58] Saallen commented on #219
@mmmavis Yes- we are requesting that all sessions are one hour in lenght.
The schedule app will need to highlight
* Session name
* Session agenda
* Facilitator, twitter handle and organisation
* location
* start time
* Pathway
* do we need space? @thornet

[2015-10-15 12:59] Saallen commented on #219
@mmmavis how many words will each sessions agenda be? I will need to start sourcing this info from the team so it would be good to prep them

[2015-10-15 13:12] Saallen commented on #231
@fuzzyfox has another idea to go alongside these challenages where @soapdog localisation session is expanded beyond the festival so that remotees can localise kts, resources and curriculum at the same time the session on site- If we had a couple of volunteers as moderators with @fuzzyfox wrangling it could work...... :confused:

[2015-10-15 13:34] thornet commented on #219
Note that some sessions will have multiple pathways.

Do we have any opinions on how to display sessions/experiences that run
longer than 1 hour?

On Thu, Oct 15, 2015 at 2:59 PM, Sarah Allen <notifications@github.com>
wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-10-15 14:43] adiladiladil commented on #258
@SpikeUK @hannahkane Here is the update

https://redpen.io/p/gp54b663798941438c

![mozfest team-15](https://cloud.githubusercontent.com/assets/11046943/10517103/47c60348-7329-11e5-8b19-fb34d7647e9b.png)

[2015-10-15 14:46] adiladiladil commented on #180
@mmmavis emailing you the AI file now

[2015-10-15 15:51] cassiemc commented on #258
Design R+ :)

[2015-10-15 15:51] natalieworth commented on #257
Hi @mmmavis, updated svg icon file is in google drive: https://drive.google.com/open?id=0B20-0lpP23c0YVpnOXZDZ1k2cXM

[2015-10-15 16:05] cassiemc commented on #180
@hannahkane @Saallen This came up when @edrushka and I were talking about wayfinding yesterday. Will likely have more details later today, but it would be soooo good to be able to put the actual room number as well as the floor in the app schedule.

[2015-10-15 16:07] cassiemc commented on #219
@mmmavis Let's discuss this at stand today with @adiladil if you need some ux/ui input. If not, full steam ahead :)

[2015-10-15 16:07] cassiemc commented on #178
:+1:

[2015-10-15 16:16] cassiemc commented on #226
Nice @natalieworth!! I'm really liking the new patterns and colors, thanks. Left some comments on the redpens, but we are definitely getting a lot closer with this round.

[2015-10-15 17:27] chadsansing commented on #231
The story so far:

- @fuzzyfox facilitates remote work at MozFest.
- @chadsansing & friends curate & develop materials ahead of time to including
  - A localize animals and their sounds challenge.
  - A drawing challenge.
  - A user-testing & bug-filing challenge.
  - A conversation on Discourse.

#amiright, @Saallen?

Suggestions:

- @chadsansing puts together a Thimble project that lets people u

[2015-10-15 18:03] Saallen commented on #260
Another edit request- this time for Storytellers and coders unite @mmmavis

This is a pathway for those interested in creating factual interactive stories that can change the world. Join others to create new interfaces and interactive dynamics for stories to feel meaningful on the Web. Brainstorm on real projects and help building a community of professionals that want to work together and create

[2015-10-15 18:05] hannahkane commented on #258
Closing this and unblocking the implementation ticket.

[2015-10-15 18:05] #258 closed

[2015-10-15 18:06] hannahkane commented on #259
unblocked!

[2015-10-15 19:09] mmmavis commented on #219
@Saallen

I think technical-wise there's no cap on the length of text we are displaying.  From the [mockups](https://github.com/mozilla/2015.mozillafestival.org/issues/180#issuecomment-143294874) we show description of a session on the "Spaces" and "Pathways" pages only. Maybe ~100 words would work out well?

[2015-10-15 19:13] chadsansing commented on #231
What do we think of [Wild about MozFest](https://d157rqmxrxj6ey.cloudfront.net/chadsansing/7293/)?

cc @Saallen, @soapdog, @fuzzyfox, @hjbailey, @hannahkane, @omnignorant, @thornet

[2015-10-15 19:16] mmmavis commented on #219
Um, just realized there will be [detailed session profile pages](https://cloud.githubusercontent.com/assets/11046943/10107432/f9ab83b8-6388-11e5-9d91-2f9730637abd.jpg) too. Maybe we can ask the team to provide summary(under 100 words) as well as detailed description to be displayed on the session profile pages?

[2015-10-15 19:37] Saallen opened #267 "Design session & icon banners"
In previous years we have printed our Icons onto fomex a1 boards as part of our wayfinding system to hang from the balconies- Hoping @cassiemc can direct something similar for this year .

[2015-10-15 19:51] Saallen commented on #255
@hannahkane @KevZawacki @mmmavis
I have some late additions to the pathways copy- 5 to be exact from Science- Kevin I can now see you are already across them- Can we get them added to the website?

[2015-10-15 20:31] cassiemc commented on #226
@natalieworth Saw this and thought it might be good inspiration for the patterned option.
<img width="484" alt="screen shot 2015-10-15 at 4 29 42 pm" src="https://cloud.githubusercontent.com/assets/1186326/10526630/1202592e-735a-11e5-881b-4b1ddc367cdd.png">

[2015-10-15 20:49] Saallen commented on #252
Sam Dyson- Space Wrangler Mozilla Learning Networks
![sam dyson 8-2014 v2](https://cloud.githubusercontent.com/assets/10194015/10527098/98015f6c-7386-11e5-983f-5780af7037bf.jpeg)

Sam is Director of Hive Chicago on the Mozilla Learning Network team. He's exploring the power of human networks to meet the opportunities and challenges inherent in the work of teaching and learning in the digital age.

[2015-10-15 21:06] cassiemc commented on #267
Yes totally! What size might be standard for this? Do we have any other specs? (@marcwalsh can you help us with specs and final drop-dead print date?)

[2015-10-15 21:20] #183 closed

[2015-10-15 21:30] mmmavis commented on #183
live on http://2014.mozillafestival.org/volunteer/ :tada:

[2015-10-15 21:56] hannahkane commented on #183
Nice! Thanks. :)

[2015-10-15 22:08] mmmavis commented on #255
@Saallen for sure! I can have the /pathway page updated

do you remember which pathway(s) in particular that I should be updating? it's fine if you don't - I can do a complete copy-and-paste again :grin:

[2015-10-15 22:10] mmmavis commented on #260
okay, noted, my todo for today :stuck_out_tongue:

[2015-10-16 00:18] KevZawacki commented on #255
Hi @mmmavis, new pathways are listed as pending copy in [this doc](https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit).

[2015-10-16 03:58] SpikeUK commented on #183
Thank you @mmmavis ! Thank you @hannahkane ! :dancer:

[2015-10-16 04:04] SpikeUK commented on #258
Argh, no - is it too late to change the copy? It is my fifth MozFest - not my sixth (last line of my bio)
No idea how that got through - sorry :( :(

[2015-10-16 04:08] #260 closed

[2015-10-16 04:23] mmmavis commented on #259
Space Wrangler and Pathfinder bios and photos refer to https://github.com/mozilla/2015.mozillafestival.org/issues/252

[2015-10-16 04:25] mmmavis commented on #257
lovely! thanks you @natalieworth !

closing this ticket now (icon will land as part of https://github.com/mozilla/2015.mozillafestival.org/issues/178)

[2015-10-16 04:25] #257 closed

[2015-10-16 04:41] #253 closed

[2015-10-16 04:53] mmmavis commented on #253
I made "done in the open" linked to the "Submission Process" page. Let me know if this needs any edits. :bowtie:

[2015-10-16 08:55] hannahkane commented on #259
@mmmavis - the Space Wrangler and Pathfinder bios aren't relevant to this ticket. The /team page lists the six bios of the Festival Staff (Michelle, Gunner, Misty, Sarah, Spike, Marc). Their bios are [here](https://docs.google.com/document/d/161Pp0X0y0DlwMnkGCB5kv586_dgFnGoPXuDqaR3DKlU/edit)

[2015-10-16 08:57] hannahkane commented on #258
@SpikeUK - I updated the doc, which is linked to from the [implementation ticket](https://github.com/mozilla/2015.mozillafestival.org/issues/259), so when this page gets built, it should be corrected.

cc @mmmavis

[2015-10-16 08:59] SpikeUK commented on #258
@hannahkane Thank you :) I did not have access to the Google Doc or I would have corrected it myself. Have a great Friday!!

[2015-10-16 13:53] thornet commented on #180
+1 to adding room number / name in addition to floor number. In Ravensbourne, there's is a mix of room numbers and names. For example:

Big Space, 4th Floor
107, 1st Floor
Walker Space, Ground Floor

Also, for each session, will a user be able to see all the pathways it's a part of? i.e. one session may be in 3+ pathways.

[2015-10-16 13:54] thornet commented on #263
٩(^ᴗ^)۶

[2015-10-16 13:56] thornet commented on #264
I like this idea, esp. being set up near the comms hub.

Regarding donations, it might be interesting to put the bucket next to the coffee stands. The idea being: "instead of buying a cup of coffee, you could donate to mozilla!"

However, I'm not sure what the legal / admin requirements are around reporting cash donations. Sometimes those can be tricky, but maybe after a certain amount?

[2015-10-16 13:56] thornet commented on #262
beautiful!

[2015-10-16 13:59] thornet commented on #219
Flagging here again that many sessions will be part of multiple pathways, so we'll need a way to indicate that.

[2015-10-16 15:06] marcwalsh commented on #262
@edrushka - When is good for you?

There's a couple of ways of getting this done, and it depends on the complexity of what is planned. We are able to get larger pieces printed quite cheaply ourselves, but for anything that's advanced we might need to work directly with the production company torpedo use.

It would be great to know some of the plans as soon as possible, and I'll be able to look int

[2015-10-16 15:36] Saallen commented on #262
I want to flag that I only have one Mozilla Banner this year but 9 MozFest banners- should I get more made?

[2015-10-16 15:49] Saallen commented on #264
There are no legal requirements but we will want to have full transparency- that this money does not cover coffee or any MozFest costs. I would suggest not to have it here but set up a proper booth- area to sign cards for donors, show where our money goes and how we spent it. Whoever is manning this booth be prepped for BBQ questions- much much are our operational cost, do we publish our yearly ac

[2015-10-16 15:52] thornet commented on #264
Makes sense! Let's do it!

On Fri, Oct 16, 2015 at 5:49 PM, Sarah Allen <notifications@github.com>
wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-10-16 16:00] Saallen commented on #231
Hey looping in @hjbailey for this Wild about Mozfest project- as its very similar to what she wants to achieve as an experience onsite.
:+1: to the proposals @chadsansing

[2015-10-16 16:03] Saallen commented on #236
We are all good :cake:

[2015-10-16 16:03] #236 closed

[2015-10-16 16:43] chadsansing commented on #231
@Saallen, design & publishing guidance? I'm not anywhere near the dev @iamjessklein is. What's our tolerance for the design aesthetic from Wild About Mozfest? For pages that are all designed differently?

@hannahkane - if we get, say, 4 MozFest remote challenge pages and a content doc ready by 10/23, any chance you can pull them into an official repo/landing page before MozFest? (I feel bad just f

[2015-10-16 16:50] adiladiladil commented on #212
@marcwalsh do we have last years files?

[2015-10-16 17:10] mmmavis commented on #259
@hannahkane ah, you are right!

[2015-10-16 17:11] mmmavis commented on #183
:hamster:

[2015-10-16 18:49] natalieworth commented on #226
Hi @cassiemc, new pattern is up on redpen based on the example above: https://redpen.io/p/mj9d57297ec1f7d435
I'm liking the consistency in stroke weight and subdued colours in the example above, so I tried to make the updated pattern more cohesive with the icon designs and the other illustrations on the MozFest 2015 website. Thanks

[2015-10-16 18:49] edrushka commented on #263
Spike - sure. We have an abundance of video and photo help this year, and are trying to find meaningful projects for everyone.

[2015-10-16 18:50] edrushka commented on #262
@lovegushwa eta for ideas?

[2015-10-16 19:08] chadsansing commented on #231
Here's another possible challenge: [Test @ the Fest] (http://chadsansing.github.io/curriculum-testing/moz-fest-remote-projects/test-at-the-fest.html). Will work it up into a Thimble project, as well, for remix by other spaces/pathways/teams looking for testing.

[2015-10-16 19:17] edrushka commented on #264
Wooo! Fundraising presence at MozFest! Thanks for your support on this idea, you two! :two_hearts:

I've been thinking this through, and there are really two ways to frame this idea:
Option 1: Educate and ask attendees to donate (as outlined above).
Option 2: Educate and ask to attendees to thank our donors (like we did at Whistler).

The key difference is how we want attendees to see themselves:

[2015-10-16 19:36] valianttry commented on #264
We could do both, and just treat the donate ask as a "light touch". For example:

1. Put out a "Give what you can" box. During mozfest, show "donations totalizer" maybe on a screen, since our EOY campaign has launched already in DE; but also show "total raised at Mozfest" as a slice of that pie.
2. Have Thank You cards out with pens as an ongoing project to invite anyone to participate. I particul

[2015-10-16 19:43] valianttry commented on #264
Forgot to mention I :heart:  we are going to do this (whatever 'this' turns out to be)! Thanks for taking the lead @edrushka and thanks @Saallen and @thornet for being so willing. Sometimes asking for money is weird / ick but it's part of who we are (and crucial to our mission). :hand:

[2015-10-16 21:04] cassiemc commented on #212
@marcwalsh Okay! I thought it was the 26th from the design brief. In this case, we'll need some fast feedback and iterations next week so please be on standby. :)

@adiladil will be posting the first draft on Monday – Adil is it possible to have it posted on redpen in the a.m. so folks in London can provide feedback that day?

[2015-10-16 21:10] lovegushwa commented on #262
@Saallen @thornet @edrushka @marcwalsh

As a preface THIS IS NOT A PROPOSED DESIGN.
This is a discussion about what we can do, and why we should do it.
Sorry for yelling.

Historical stage design:
<img width="1194" alt="screen shot 2015-10-16 at 1 38 02 pm" src="https://cloud.githubusercontent.com/assets/12228435/10552787/2a461f0a-740b-11e5-97e9-bb348134b5bd.png">

Design opportunities: (this is n

[2015-10-16 21:54] edrushka commented on #262
Whoooa! This is great for visualizing! Thanks @lovegushwa

What do you have in mind for the prop? Would the foam cog work, or would it be a distracting element in this design?

[2015-10-17 00:32] natalieworth commented on #226
Hi @cassiemc refined pattern and sharing images up on red pen: https://redpen.io/p/mj9d57297ec1f7d435

Thanks!

[2015-10-17 03:17] SpikeUK commented on #263
@edrushka OK - if acceptable, I will ask my volunteer to focus (did you see what I did there ;-) ) on taking pictures of volunteers. Over the years I have been conscious that we have a real dearth of images of MozFest volunteers.

[2015-10-17 03:25] SpikeUK commented on #263
Another thing, Was introduced to Rahel Bailie (https://twitter.com/rahelab) by Dees as someone to livetweet from the fest - ok to ask her to cover proceedings on main stage?

[2015-10-17 11:54] Saallen opened #271 "Finalize 'Photo consent' documentation & language"
It might be unrealistic to ask everyone to sign a release form when they arrive to the festival.
I would like to email all pre festival with bare schedule outline and information about documenation at the festival- proposed content about the live documenting could look something like this

MozFest will be documented in a variety of forms, including video and photography. If you do not wish to be c

[2015-10-17 12:22] Saallen commented on #219
Hey @mmmavis
How do we export the info from Github to Google spreadsheet?
Can we pull from a comment on a issue? Even if the commment is not the first one on the issue.

[2015-10-18 19:38] fuzzyfox commented on #231
@chadsansing All that sounds good to me ;) Also like the look of Test @ The Fest.

@soapdog I should have some time in the week to catch up about the l10n work chad mentioned. Let me confirm day/time options w/ you tomorrow

[2015-10-19 09:50] thornet commented on #219
I'd suggest we have the wranglers update the top comment in each issue. You
can revise the text and that can be a good default.

On Sat, Oct 17, 2015 at 2:22 PM, Sarah Allen <notifications@github.com>
wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-10-19 11:44] Saallen commented on #254
[MozFest IF!LABS blog-1.docx](https://github.com/mozilla/2015.mozillafestival.org/files/15944/MozFest.IF.LABS.blog-1.docx)
imap://sarah%40mozillafoundation%2Eorg@imap.googlemail.com:993/fetch%3EUID%3E/INBOX%3E24100?part=1.2.2&filename=11947478_870584649696972_1133626732403078432_n.jpeg

[2015-10-19 11:46] marcwalsh commented on #262
Hey @edrushka @lovegushwa - Just wondering if this is coming from MozFest or Comms budget?

[2015-10-19 12:23] SpikeUK commented on #254
For information only. MozFest volunteer Ailsa Abraham is putting together a blog about the event from the vols POV. Getting input from two other volunteers as well. Should be available in next two days.

[2015-10-19 13:21] thornet commented on #263
From a conversation with Mark:

* Let's focus on what the output of the Friday footage would be. Current preference is to have it be almost documentary-like, to illustrate how Mozilla does leadership development and really showcase that.

@edrushka I suggest we set up a quick chat or email thread with Mark to capture the nuance and frame how the Friday footage is shot and used.

[2015-10-19 13:24] adiladiladil commented on #224
Here are the sketches for the back of the festival guide (festival poster)
https://redpen.io/p/qk2adb94ee9367c3cc

[2015-10-19 13:24] adiladiladil commented on #224
![mozfest-2015-programme_v5-cover-1_poster_poster_poster_poster](https://cloud.githubusercontent.com/assets/11046943/10578931/416c2e2e-7643-11e5-9c62-3b2df4de4c08.jpg)
![mozfest-2015-programme_v4-cover-1_poster_poster_poster](https://cloud.githubusercontent.com/assets/11046943/10578930/416b54c2-7643-11e5-82f5-d78c969d81db.jpg)
![mozfest 2015 programme_v3 cover 1_poster_poster_poster](https://cloud

[2015-10-19 13:25] adiladiladil commented on #224
![mozfest-2015-programme_v5-cover-1_poster_poster_poster_poster](https://cloud.githubusercontent.com/assets/11046943/10578946/50d434ba-7643-11e5-8b6a-588df80db134.jpg)
![mozfest-2015-programme_v4-cover-1_poster_poster_poster](https://cloud.githubusercontent.com/assets/11046943/10578947/50d58a9a-7643-11e5-8e01-cc975da65ec7.jpg)
![mozfest 2015 programme_v3 cover 1_poster_poster_poster](https://cloud

[2015-10-19 14:45] KevZawacki commented on #271
@Saallen Works for me :-)

[2015-10-19 15:18] edrushka commented on #262
Good question. I'll direct it over to @Saallen and @HPaulJohnson

[2015-10-19 15:22] edrushka commented on #271
Works for me, although I don't know the ins and outs of the law on this. The release form last year came from the Open Standard.

[2015-10-19 15:29] cassiemc commented on #226
@natalieworth These are good. Solid options, and I like the Fira weights. Now just to finalize the photo option.

[2015-10-19 15:36] cassiemc commented on #224
@adiladil Cool choices. I'm feelin' that https://redpen.io/xgec28e91aae16a0f3 is the most on-brand and easiest to decipher while the others are cool options too. The redpen is 2x still so hard to leave comments on it, but wondered if we could group the date and location on one side (leave the other side open for whitespace), replace the text 'mozfest' with the logo, and play with the transparency

[2015-10-19 16:30] edrushka commented on #271
I think Rainer and Spencer might want a release form though. Especially if their footage will make its way into other Mozilla videos (non-MozFest) like the Fundraising Thank You. Because their interviews will be more controlled, I think it will be possible for them to get people to sign the forms as needed.

[2015-10-19 16:31] edrushka commented on #263
Meeting with Mark is booked for this Friday.

[2015-10-19 16:41] thornet commented on #263
Hero!

On Mon, Oct 19, 2015 at 6:31 PM, Erika Drushka <notifications@github.com>
wrote:

--
*Michelle Thorne*
Director, Mozilla Learning Programs
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2015-10-19 16:57] edrushka commented on #264
Discussed with Sarah. Will focus on thanking donors first, with the ask for money secondary.

[2015-10-19 17:05] edrushka commented on #263
@HPaulJohnson @KevZawacki can you please reply to @SpikeUK's question above about live tweeting?

[2015-10-19 17:48] adiladiladil commented on #212
@marcwalsh @cassiemc @Saallen

the vector floormaps were missing links here. Could someone direct me to where those files are
in the meantime here is the general layout:

I believe content still needs to be finalized

https://redpen.io/fs0ebbbcee8c073867

![mozfest 2015 programme_v1-03](https://cloud.githubusercontent.com/assets/11046943/10585937/d29d7a78-7667-11e5-82fe-1de13584e817.jpg)

[2015-10-19 18:00] Melechuga commented on #271
This looks good! I would add a line about consenting to these principles...something like:  "by attending MozFest, you consent to following our participation guidelines (link) and photo/video documentation principles(?)." I'd also reiterate it somewhere by the entrance.

[2015-10-19 18:00] lovegushwa commented on #262
@edrushka I think the "Prop" is P2 so my hunch is we do that next year and focus on the backdrop and podium. I was thinking something more like a 3 sided column with Mozilla branding.

[2015-10-19 18:02] adiladiladil commented on #224
@cassiemc just updated the redpen with smaller versions to annotate

[2015-10-19 18:16] HPaulJohnson commented on #262
I think we move forward with all the P1's for now.

@Saallen, focusing on those shouldn't be too expensive but let me know if this risks over running existinb budget. If you want to discuss, let's setup some time.

@marcwalsh, do you have an existing printer we could work with on the backdrop and podium deliverables?

[2015-10-19 18:34] cassiemc commented on #212
Hey @adiladil - all the vector maps should be in the drive folder here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B7cnpfRDzUyFVkFlaWdCVm1yUlk&usp=sharing#list

@HPaulJohnson @KevZawacki Can you guys comment on the finality of the content for this? If it's not already finalized, we'll need to it be done by EOD if possible. Deadline for this to be sent to the printer is this is

[2015-10-19 19:14] natalieworth commented on #262
I'm cc'ing myself on this @natalieworth

[2015-10-19 19:19] natalieworth commented on #237
@Saallen Are there any updates if this is needed still? Thanks

[2015-10-19 19:20] lovegushwa commented on #224
@cassiemc which version are you referring to as most on-brand?
(redpen links to the thumbnail view of all the posters.)

[2015-10-19 19:36] cassiemc commented on #224
@lovegushwa just left a comment on the redpen. This one: https://redpen.io/jt44765c0a34dfe43d
<img width="988" alt="screen shot 2015-10-19 at 3 36 03 pm" src="https://cloud.githubusercontent.com/assets/1186326/10589046/225aa162-7677-11e5-8bd7-5dc98e1630ef.png">

[2015-10-19 19:37] KevZawacki commented on #254
@Saallen Thanks! Our [blog page](http://blog.webmaker.org/mozfest-2015) is now up to date.

[2015-10-19 19:47] chadsansing commented on #231
How does this postcard remix strike the remote team?

https://d157rqmxrxj6ey.cloudfront.net/chadsansing/7978/

@fuzzyfox, do you feel ready to take over remote challenge wrangling entirely? Does that work for you, @saallen? I want to tweak Test @ the Fest and help with the remote challenge landing page, if I can be  of use, but if Fuzzy is the onsite lead, I'd like to hand over curation- and plann

[2015-10-19 20:02] lovegushwa commented on #224
@cassiemc cool. This version lends itself to environmental graphics nicely (large punchy vinyl blocks of text.) It should be a good and needed typographic extension to the visual system.

Regarding the conceptual directions; A. and B. give a nod to the hand done hackable Mozfest aesthetic.
F. highlights the fun and importance of Mozfest in London and probably has the most stick around on peoples w

[2015-10-19 20:10] adiladiladil commented on #224
@cassiemc @lovegushwa

I REALLY like that idea. the text edit box could be slightly modified to fit the aesthetic of the rest of the design. I think it's great, fun, participatory, hack-centric

what does everyone else think?

[2015-10-19 20:14] HPaulJohnson commented on #224
+1 that idea. i've seen signage used in this way before and it's a really powerful way to show the diversity of the community and the work itself.

[2015-10-19 20:14] hannahkane commented on #224
<3

[2015-10-19 20:56] natalieworth commented on #226
Hey @cassiemc , I've got some more photo iterations up on the red pen for the social sharing graphics: https://redpen.io/p/mj9d57297ec1f7d435

[2015-10-19 21:05] cassiemc commented on #224
me too, <3 it! Awesome idea!

[2015-10-19 21:10] KevZawacki commented on #212
@cassiemc Content in [this doc](https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit) is finalized and ready for layout.

[2015-10-19 21:11] cassiemc commented on #226
@natalieworth Fab! Nearly there, love the circle options with the dotted lines, and I like the other one too with the icons over the one photo. @lovegushwa want to weigh in?

[2015-10-19 21:11] cassiemc commented on #212
thanks @KevZawacki! cc @adiladiladil ^^

[2015-10-19 23:27] mmmavis opened #272 "Add Spaces Icons to /sessions"
Let's show off these [awesome icons](https://github.com/mozilla/2015.mozillafestival.org/issues/213#issuecomment-146919125) on the website :D

[2015-10-19 23:56] edrushka commented on #264
![img_20151019_164657](https://cloud.githubusercontent.com/assets/4515662/10594431/ef5179b6-7681-11e5-8f26-64e2bbab6969.jpg)

What I'm thinking so far. I've nixed the cash donation box as it will be too hard to monitor. Instead, will ask people to donate online.

[2015-10-20 00:51] hannahkane commented on #180
I think the design will allow for multiple pathways, perhaps just comma separated?

[2015-10-20 00:58] #272 closed

[2015-10-20 01:05] chrislarry33 commented on #264
love it. i want to do some time at the table.

[2015-10-20 01:07] mmmavis commented on #272
https://2015.mozillafestival.org/sessions :tada:

[2015-10-20 02:17] hannahkane commented on #272
Pretty!

[2015-10-20 12:41] chadsansing commented on #231
Updated the [MozFest Postcard](https://d157rqmxrxj6ey.cloudfront.net/chadsansing/7978/) tutorial.

[2015-10-20 13:29] soapdog commented on #231
@fuzzyfox I have time this week for us to catch up! I am still improving the documentation and I've created a task about this L10N campaign work at https://github.com/mozilla/learning-networks/issues/271 (have no idea how to link issues from other repos)

[2015-10-20 14:23] chadsansing commented on #231
@fuzzyfox, @Saallen - would be good to connect w/ https://twitter.com/mozfesttimeline for remote participation.

[2015-10-20 14:25] ldecoursy commented on #231
Are you all using this thread on MLN Discourse? https://discourse.webmaker.org/c/events/mozfest

Also, @kgorr can help with @mozteach Twitter stream to support this work too!

[2015-10-20 15:10] thornet commented on #224
Love it!

For a more inclusive, collective title, "Let's make a ___ web."

[2015-10-20 15:20] thornet commented on #212
Thanks! @KevZawacki I added some language about having agency and embracing fluidity at Mozfest. Think this is a really important message to include whenever we're talking to participants.

[2015-10-20 15:21] cassiemc commented on #212
@KevZawacki Could you please review @thornet's additions and let us know when it's got your stamp of approval?

[2015-10-20 15:46] natalieworth commented on #226
@cassiemc Revised photographic designs are up on redpen: https://redpen.io/p/mj9d57297ec1f7d435 Thanks

[2015-10-20 16:20] adiladiladil commented on #224
![mozfest-2015-programme_v1_poster](https://cloud.githubusercontent.com/assets/11046943/10613824/efac313c-7724-11e5-967e-2f44f9f41e49.gif)

[2015-10-20 16:25] thornet commented on #224
omg, so cool. i also love the gif version!

[2015-10-20 16:32] cassiemc commented on #224
Seriously!!! @natalieworth @HPaulJohnson We should incorporate the gif into the social graphics somehow. Maybe a third option.

[2015-10-20 16:50] marcwalsh commented on #262
Yeah I do! Pixart is who I would recommend due to their prices.

For the staging backdrop I would say to go with:
https://www.pixartprinting.co.uk/wide-format/printing-flat-bed-rigid-materials/acrylic/

For the set piece I would say this:
https://www.pixartprinting.co.uk/displays/point-of-sale-displays/totem-3/
or
https://www.pixartprinting.co.uk/displays/point-of-sale-displays/totem-3-xl/

I will

[2015-10-20 16:53] marcwalsh commented on #262
@lovegushwa @HPaulJohnson - Just looking at the floor, I can check prices on marquee carpet/flooring as it's a great value way of adding some colour cheaply. It's normally a couple of £s per square meter.

[2015-10-20 17:12] natalieworth commented on #224
Yes! This is awesome @adiladil Love it!

[2015-10-20 17:31] natalieworth commented on #224
@adiladil Could you WeTransfer the file and fonts for these and I can do something for the MozFest social graphics with these? Thanks!

[2015-10-20 17:34] lovegushwa commented on #224
@cassiemc @adiladiladil @HPaulJohnson @edrushka @thornet @natalieworth @marcwalsh

YES!
I think we have cracked out social share AND some motion we can run on main stage screen between speakers.

... It would be cool to develop a set of phrases in addition on the poster that people fill in. Perhaps more than one blank. Could have a different phrase every day to fill out in the morning, we scan or

[2015-10-20 17:36] adiladiladil commented on #224
@natalieworth just WeTransfered you the file
the handwritten fonts i just did on paper and took into the computer

[2015-10-20 17:39] natalieworth commented on #262
Hey @lovegushwa, I've got the most up to date pattern/ designs up on red pen (https://redpen.io/tud27172c5623d0fa7). I'm just working on one more thing for MozFest, but should also be good to help you out anytime? Thanks

[2015-10-20 17:46] lovegushwa commented on #224
Nice casual handwriting that looks good enough to be 5 different distressed typefaces @adiladiladil
A - Z plus some punctuation and I can knock out a typeface in an evening? I'm serious!

[2015-10-20 17:47] adiladiladil commented on #224
I'll put those together then @lovegushwa

[2015-10-20 17:50] lovegushwa commented on #224
@adiladiladil rad

[2015-10-20 17:51] adiladiladil commented on #212
@KevZawacki @thornet @cassiemc

There are 24 pathways with descriptions and pathfinder info. it's a ton of content to fit. any way we can edit it down somehow to make room for the map and spaces

[2015-10-20 17:57] cassiemc commented on #212
I hear ya @adiladiladil. Maybe shrink 'em down with something like "Visit our app or website for more space descriptions"? @KevZawacki

[2015-10-20 18:01] lovegushwa commented on #262
@natalieworth I'm working out a plan with @edrushka and then I'll let you know this afternoon or fist thing tomorrow.

[2015-10-20 18:47] KevZawacki commented on #212
@cassiemc Michelle's additions reviewed and good to go.

Re: leaving some content out, I defer to @thornet and @Saallen for guidance.

@adiladiladil Do you have a rough idea of how many words we need to cut?

[2015-10-20 19:20] HPaulJohnson commented on #224
love this, and love the idea of turning this into social graphic and incorporating into the running video on main stage.

[2015-10-20 19:20] cassiemc commented on #267
Assigning to @natalieworth but still looking for a few details from @marcwalsh or @Saallen

[2015-10-20 19:22] cassiemc commented on #210
@marcwalsh can we close this?

[2015-10-20 19:27] cassiemc commented on #209
@Saallen @marcwalsh We like the circle options but need to choose between the circle with just the cog, or the circle with the cog and the date. Can you let us know which one you prefer so we can close out this ticket?

[2015-10-20 19:29] cassiemc commented on #237
@Saallen @HPaulJohnson I'm going to close this ticket since we don't have any further details here. Please file a new ticket if needed!

[2015-10-20 19:29] #237 closed

[2015-10-20 20:23] HPaulJohnson commented on #237
Works for me. As i understand it according to the DARCI, @Saallen is handling all the email communications.

[2015-10-20 20:50] Saallen commented on #209
Hey-  if its between the circles,can we do with the date?
If its between the 4 options I do love the last one :)

[2015-10-20 21:01] Saallen commented on #267
@cassie I found these details on an old invoice
750 x 750 mm  on 3mm foamex.
I wonder with Jordans ideas for flags should we make these up on cloth flags of natural colour and hand from the balconies?

[2015-10-20 21:04] Saallen commented on #224
:heart:  these designs- and how they can be translated to the main stage too.

[2015-10-20 21:07] Saallen commented on #212
Hey @adiladiladil it would be good to know how many words you need cutting. The Spaces are important and definitely need to have an explaination of how we have built pathways interwoven to the program. If we did have the space- I would love to keep them in but understand space restrictions.

[2015-10-20 21:10] Saallen commented on #262
@HPaulJohnson send me over the costs when you know them.
@marcwalsh can Torpedo not supply carpet as in previous years?

[2015-10-20 21:14] adiladiladil commented on #212
@Saallen It's not the spaces that need cut down. My concern is with the 24 pathways. if the copy within each of the pathways could be cut by half that would leave enough room for all the Spaces and additional content

[2015-10-20 21:17] adiladiladil commented on #224
@lovegushwa here is the link to the handwritten A-Zs

http://we.tl/8PJS9qV1uo

[2015-10-20 21:24] Saallen commented on #231
hey @chadsansing loving the postcard :heart: just lost 20 mins uploading pictures.
I will connect you with Jon rogers and his kids who are running this page.

[2015-10-20 21:53] lovegushwa commented on #224
Excellent @adiladiladil let me see what I can do with these tonight.

[2015-10-20 22:27] natalieworth commented on #226
Hi @cassiemc , updated social share designs on redpen (they're the last 6 options): https://redpen.io/p/mj9d57297ec1f7d435

If they're good to go I can export the different file sizes for the twitter and facebook resolutions.

[2015-10-20 22:38] adiladiladil commented on #210
@marcwalsh Here is the nametag file with bleed

http://we.tl/qmui08sjtx

[2015-10-20 22:53] lovegushwa opened #276 "Wayfinding meta-bug"
This ticket is to track work around Mozfest wayfinding including:

- large scale map
- hub orientation spot
- session signage
- spaces banners
- floor vinyl

[2015-10-20 22:56] HPaulJohnson commented on #262
@marcwalsh - @lovegushwa and I were discussing today and we have some specific questions that are probably best answered by Torpedo about what's optimal/possible with backdrop, etc.

Would it be possible for you to setup a time for the 3 of us to have a quick chat with Torpedo or to start an email thread where we can ask some technical/spec questions?

thx!

[2015-10-20 23:26] hannahkane commented on #252
@Saallen - Do we have enough of these that we should start adding them to the site?

[2015-10-21 00:48] lovegushwa commented on #276
Make a simple map that show what spaces are on which floors:

Map large:
- Foyer and Speaker floor,
- Poster size
- Mounted to foam board
- Display on easel or wall
- Quantity: 4x

Map medium:
- On each floor in central corridor and in elevators
- Tabloid size
- Mounted to foam board
- Display on wall
- Quantity: 20x

[2015-10-21 00:53] lovegushwa commented on #276
HUB ORIENTATION SPOT:
A kind of info-booth help desk located in each "space"

Journals
Science
Open news
Localization
Digital citizenship
Global village

I need a link to images of and all design assets for a previous space.

[2015-10-21 00:56] lovegushwa commented on #276
SESSION SIGNAGE:
A way of marking sessions within a space. Could be a DIY template each session fills in, could be per-printed.

I need a link to a list of all sessions organized by space.

[2015-10-21 01:34] lovegushwa commented on #276
SPACES BANNERS:
These hang off rails and can be seen from main congregating areas on Foyer and Speaker floor.

- 1.2 x 2m
- printed on lightweight, nylon fabric
- 2 grommets attached to the top of each banner for hanging.

Blocker!!
I need to know which spaces banners we should make (all of them, some of them?)

[2015-10-21 01:44] adiladiladil commented on #209
@marcwalsh @Saallen Here is the link to the 3 favorited options. All are print ready for when the decision is made

http://we.tl/UbrItBg2kc

[2015-10-21 02:36] lovegushwa commented on #276
FLOOR VINYL:
Can send people in the direction of Spaces on particular floors. Can be produced in the two days prior to Mozfest. Would work well with the map that gets people to a floor.

Blocker!!
- really difficult to plan this without walking the building / having very good knowledge of how people walk through the building and what's in a line of sight.

[2015-10-21 02:38] lovegushwa commented on #276
@Saallen @cassiemc @marcwalsh

Unfortunately I have journey duty Monday and Tuesday (I have been told I can work on my laptop while I'm there, god help us if I'm chosen for a jury). We need to pick maybe two of these and @natalieworth and Beth can help. Any thoughts on what's practical and what we could cut or how else we can get help here @cassiemc ?

[2015-10-21 02:38] SpikeUK commented on #254
Blog info  from Ailsa Abraham (mentioned two comments up) is here >> https://docs.google.com/document/d/1UsrI3ysxfZnk2WUiHq7RaKBx4ZvNePSQ6OkGrVHGAgU/edit?usp=sharing

[2015-10-21 04:19] lovegushwa commented on #263
@edrushka we should connect on video / discuss how to work with this years volunteers.

[2015-10-21 06:14] lovegushwa commented on #224
@adiladiladil let me know if this is useful.
https://drive.google.com/folderview?id=0B2qu3ExKWIlvWS1SMzctQ1d5OWc&usp=sharing

[2015-10-21 10:18] Saallen opened #277 "Automatic session notes-"
Hi @mmmavis
In prevous years we have created Session notes on etherpads for facilitators to use during their sessions as a resource for the participants during and after the festival. The amazeballs @fuzzyfox has coordinated within the session description in the schedule.
@fuzzyfox in previous years how did you do this voodoo magic?
We would love to continue this trend for this year and encourage

[2015-10-21 12:02] adiladiladil commented on #224
@lovegushwa sweeeeeet. we can definitely now use this as a afont

[2015-10-21 13:09] cassiemc commented on #212
@KevZawacki FYI ^^ I believe @adiladiladil was going to take a stab at shortening one of these in the design, but we could use a hand in shortening the others. Adil, can you upload a new comp for Kevin's reference?

[2015-10-21 13:36] cassiemc commented on #267
I'm not familiar with Jordan's flag idea. @lovegushwa can you fill me in?

I'd assumed we'd stick with the boards so it could be printed at Ravensbourne, we've probably passed our deadline to get assets externally printed at this point. Think this is true @marcwalsh?

[2015-10-21 13:45] cassiemc commented on #226
@natalieworth R+. Let's go with artboard 97, 98, and 102. You can export the others as well, but in case @HPaulJohnson and @KevZawacki need a quick choice, let's use those ones. Can you post all 6 here as well, natalie? Thanks for all your hard work on this, they're stellar! I will file a new bug to make the gif social share image based on the poster.

[2015-10-21 13:46] cassiemc opened #278 "Create additional social share image gif based on poster"
Based on the rad gif in #224, we'd like a similar design for twitter and social, same sizes as #226.
This is a P2, let's get the essentials done first and return to this if there's time.

[2015-10-21 14:02] cassiemc commented on #209
Fab, thanks @adiladiladil. @marcwalsh are we good to close this?

[2015-10-21 14:04] cassiemc commented on #276
Boo jury duty!!! That could not be worse timing :)

But I think we can get this covered. @Saallen does Beth have a github name? Is she totally on-board now?

We will be able to reuse the floor map that @adiladiladil is designing for the Festival Guide in #212 . It should all be vector so easy to isolate that and print independently at different scales.

We should be able to print anything basic on

[2015-10-21 14:06] marcwalsh commented on #209
They look good to me, any issues, I'll reopen!

[2015-10-21 14:08] marcwalsh commented on #267
Foamex still has to be printed externally, let me check with a couple of places to see deadlines. Flags is also possible but most likely more expensive.

How quickly can you turn the designs around. They do not need printer marks etc.

[2015-10-21 14:10] marcwalsh commented on #210
Sorry @cassiemc and @adiladiladil - Notficiations to this didn't show up. This should be fine! Again, will send to printers and any issues I will reopen!

Thank you!

[2015-10-21 14:19] cassiemc commented on #209
Boom, thanks @marcwalsh and @adiladiladil!

[2015-10-21 14:20] cassiemc commented on #210
Woohoo, thanks @marcwalsh!

[2015-10-21 14:20] #210 closed

[2015-10-21 14:25] cassiemc opened #279 "Large maps for wayfinding"
**Deadline: October 28th**

We need 4 large poster-sized maps to be mounted on foam board for wayfinding. They'll be placed on the foyer and speaker floor, displayed on easels (preferable) or on the walls.

We also need 20 medium sized maps, also mounted on foam board, to be placed on each floor in central corridor and in elevators. Tabloid size (what's the uk equivalent?)

- [ ] large maps on foa

[2015-10-21 14:30] cassiemc commented on #267
@marcwalsh These should be able to be turned around in a day, right @natalieworth? We just need each of the eight icons and the space names listed here: https://2015.mozillafestival.org/sessions

[2015-10-21 14:36] cassiemc opened #280 "Design info booth help desk"
**Deadline: October 28th**

Not sure if this is being covered elsewhere, but we can tie design of the booth into our other wayfinding materials.

@Saallen @marcwalsh can you post pics of previous info booths, or any current details about this? We'll need to know what the potential is for customizing this, how many booths, and where they will be located.

cc @lovegushwa

[2015-10-21 14:39] cassiemc opened #281 "Design floor vinyl stickers"
This will be hard to design ahead of time without being in the space. Perhaps we can come up with some generic decals to design and cut ahead of time, then lay it all out when we get there. Suggest:

* arrows
* 1-3 cutouts for each floor with the space name
* icons for help, toilets, food... anything else @Saallen?

Other ideas @lovegushwa?

What is the deadline for getting the vinyl printed and c

[2015-10-21 14:43] cassiemc opened #282 "Design session signage"
I have a feeling this might have already been covered by #235, which is a blank, hackable sheet that session leaders are expected to fill out. Am I right @Saallen?

@lovegushwa let us know if that meets your needs for this or if you have additional ideas.

But I'm otherwise not sure that it makes sense to design session titles ahead of time, given the hackability of the schedule.

[2015-10-21 14:45] cassiemc commented on #276
@lovegushwa I've filed everything above as separate issues with the ```wayfinding``` label: https://github.com/mozilla/2015.mozillafestival.org/labels/wayfinding

I'd like to close this meta bug, so please let me know if I've missed anything and if so, file it as a new bug. Thanks!

[2015-10-21 14:45] #276 closed

[2015-10-21 14:46] cassiemc commented on #267
From @lovegushwa:
* These hang off rails and can be seen from main congregating areas on Foyer and Speaker floor.
* 1.2 x 2m
* printed on lightweight, nylon fabric
* 2 grommets attached to the top of each banner for hanging

[2015-10-21 14:55] cubicgarden commented on #252
The link has pictures you can use of different sizes @sallen

On 13 October 2015 at 17:52, Sarah Allen <notifications@github.com> wrote:

[2015-10-21 15:08] cassiemc commented on #267
@marcwalsh says this is doable but we should get final print files organized today. @natalieworth @lovegushwa doable? Here is the printer site: https://www.pixartprinting.co.uk/wide-format/printing-banners-mesh/ecoflat-banner/

We need @marcwalsh to help get us h/w measurements for the railings where these will be hung.

[2015-10-21 15:11] lauralillepruun commented on #267
I will get you the measurements for the railings

[2015-10-21 15:13] cassiemc commented on #279
@marcwalsh to look into easels, Ravensbourne might still have them

We may just print the 20 med-sized posters on thicker card at Ravensoubourne, but the others we will probably have printed & mounted by (pixart)[https://www.pixartprinting.co.uk/wide-format/printing-banners-mesh/ecoflat-banner/]

Printer needs a 5 working day turnaround, so Nov 29th should be good.

[2015-10-21 15:31] lauralillepruun commented on #281
I think besides the space names, we would need to direct people to the toilets, water and the info desk perhaps.

[2015-10-21 15:46] Saallen commented on #254
Thanks @SpikeUK
@KevZawacki are we able to add pictures to this blog page as it looks like  alot of dense text?

[2015-10-21 15:48] natalieworth commented on #267
Shouldn't take too long to do once the measurements are confirmed. I should be able to do them by this afternoon.

cc @cassiemc @marcwalsh @Saallen

[2015-10-21 15:51] Saallen commented on #254
or @KevZawacki give @marcwalsh the log on details and he can do this

[2015-10-21 15:57] marcwalsh commented on #279
@cassiemc - Could we aim for Oct 28th for the deadline if possible to ensure delivery as we're looking to have all deliverables by the 4th November to ensure there is buffer time for postage/courier delays.

[2015-10-21 15:58] adiladiladil commented on #212
here is the link to the updated redpen:

https://redpen.io/p/qk2adb94ee9367c3cc

![mozfest 2015 programme_poster](https://cloud.githubusercontent.com/assets/11046943/10642291/f7bc2988-77ea-11e5-8534-bdb2c9032c53.jpg)

![mozfest 2015 poster_v2_poster](https://cloud.githubusercontent.com/assets/11046943/10642293/fa4ce44e-77ea-11e5-87d1-39f23aee8b0b.jpg)

![mozfest 2015 poster_v2-02](https://cloud.gi

[2015-10-21 16:11] cassiemc commented on #212
This is fabulous @adiladiladil, thanks! Will dig into the redpen shortly. I quite like the blank WITH the pencil, I think it's a bit clearer what people are supposed to do with it, particularly if we attached markers to where the posters are hung.
@marcwalsh can we get supplies to hang markers with string next to some posters?

[2015-10-21 16:12] lovegushwa commented on #282
@cassiemc  I love the idea of hackable session titles. When speaking with @Saallen one of the most confusing parts Mozfest wayfinding is trying to locate your session in a space.
It sounds like doing this right could have a really big impact.

We could stick with the session template, ideally we get it off the surface of the table. (kind of like those restaurant flags with a number on them.) Print

[2015-10-21 16:18] lovegushwa commented on #281
@cassiemc @lauralillepruun  true we could set the files up so you can flip the direction of the arrow when installing. I would focus just on the space names to keep it simple (perhaps with the addition of coffee / water stations) The building signage can direct people to toilets. The info desks should be centrally located in a space, so if you find the space you find the info desk?

@cassiemc I ha

[2015-10-21 16:35] Saallen commented on #212
Looks good @adiladiladil. Where do we make edit requests? red pen or here? cc @cassiemc

[2015-10-21 16:38] cassiemc commented on #212
@Saallen I'm sure either would work

[2015-10-21 16:40] cassiemc commented on #282
It's my impression that session names will need to be hung on walls rather than placed on tables. cc @Saallen

[2015-10-21 16:42] lovegushwa commented on #267
@cassiemc @marcwalsh @natalieworth @Saallen
Printing on cloth banner would would look a bit more natural draped over a rail than foamex and is also affordable and available at commercial printers. (there is also fabric printers in the building).

If you need to hold these up and parade around on the first day (I have seen this in photos on flickr) than foamex is going to work better for that.

<im

[2015-10-21 16:49] Saallen commented on #252
Yes please @hannahkane

[2015-10-21 16:53] hannahkane commented on #252
ok. ping @mmmavis - these are ready to be added to the /sessions and /pathways pages

[2015-10-21 16:56] lauralillepruun commented on #281
The info desks are on each floor, so as far as I know, there could be more than 1 space on a floor, but still only one info desk. They are usually situated at the top of the stairs as you reach a floor.

[2015-10-21 16:59] cassiemc commented on #279
Sounds good @marcwalsh

[2015-10-21 17:00] lauralillepruun commented on #282
No, we would want the session names to be on tables as they will most probably be changed a lot and will need to be accessible. We can move the tables around easily, but if we stick something on the wall if might not be the first thing people see due to the layout of the spaces.

[2015-10-21 17:01] lauralillepruun commented on #282
Oops, forgot the @cassiemc

[2015-10-21 17:02] lovegushwa commented on #281
@lauralillepruun I just want to confirm, info desks are different than hub orientation spots?

[2015-10-21 17:03] cassiemc commented on #282
ah, ok @lauralillepruun – where will the tables be? is there a table outside each room?

[2015-10-21 17:03] lovegushwa commented on #224
@adiladiladil if you had to prioritize another script or two which would it be?

[2015-10-21 17:06] lauralillepruun commented on #282
@cassiemc there will be numerous tables in each space so we can place one of them to be towards the entrance of the space to make it more visible. Almost all of the spaces are open so there aren't any separating wall/doors, only pillars.

[2015-10-21 17:08] adiladiladil commented on #224
@lovegushwa I would do MozFont 3 and MozFont 5

[2015-10-21 17:09] marcwalsh commented on #282
+1 to @lauralillepruun - We were thinking something simple like small 'pub style' chalkboards that are given to each wrangler for their sessions to use.

[2015-10-21 17:12] lauralillepruun commented on #282
@cassiemc @lovegushwa something like the first pins on here https://www.pinterest.com/sarahretro/signage-ideas/

[2015-10-21 17:20] KevZawacki commented on #254
@Saallen @SpikeUK Ailsa's blog posted, and photos added to previous blogs. Thanks!

@Saallen, we're also planning on publishing these blogs on the MozFest Medium publication. OK by you?

[2015-10-21 17:23] lauralillepruun commented on #281
@lovegushwa no they are the same things

[2015-10-21 17:38] Saallen commented on #254
:+1:

[2015-10-21 17:49] lovegushwa commented on #262
@marcwalsh what is this background behind the speaker (some kind of movable partition?) ... Can you get me measurements for it?

<img width="1194" alt="2a461f0a-740b-11e5-97e9-bb348134b5bd" src="https://cloud.githubusercontent.com/assets/12228435/10645188/4740bf5a-77e1-11e5-95d9-10751e461579.png">

[2015-10-21 17:53] lovegushwa commented on #224
@adiladiladil where did you get this pattern? (or did you make it?) Can I get a copy?
<img width="586" alt="screen shot 2015-10-21 at 10 52 06 am" src="https://cloud.githubusercontent.com/assets/12228435/10645293/debd09c4-77e1-11e5-9c05-1d16a4fbed09.png">

[2015-10-21 18:05] adiladiladil commented on #224
it's on Getty Images. if we were to use it we would have to purchase

http://www.gettyimages.com/detail/illustration/london-uk-royalty-free-illustration/166373822

[2015-10-21 18:12] KevZawacki commented on #212
@adiladil @cassiemc RedPen looks awesome! I dropped in some comments -- mostly fixing typos that are my fault to begin with.

Also, the Pathways section needs some TLC -- many of the sections are labeled incorrectly. The proper organization can be found in the original [Google Doc](https://docs.google.com/document/d/10bCR0xgUMzzPUN_PBUUtj1XTvG0GM7pFnJ6HoixnFqY/edit). Let me know if you have any qu

[2015-10-21 18:15] lauralillepruun commented on #280
@cassiemc  <img width="232" alt="screen shot 2015-10-21 at 2 14 02 pm" src="https://cloud.githubusercontent.com/assets/15231997/10645906/27cf70c2-77fe-11e5-8d64-d63fb954f655.png">

[2015-10-21 18:15] lauralillepruun commented on #280
<img width="620" alt="screen shot 2015-10-21 at 2 14 29 pm" src="https://cloud.githubusercontent.com/assets/15231997/10645917/3993d078-77fe-11e5-8f74-24452246b614.png">

[2015-10-21 18:42] cassiemc commented on #282
Ok sounds like @lovegushwa was on the right track then! :) Jordan, does chalkboard seem like a possibility? What about a strip of colorful vinyl you could write on with Sharpie? Might make readability hard.

[2015-10-21 19:05] cassiemc commented on #279
This is blocked by the map being created on the Mozfest Guide #212

[2015-10-21 19:07] cassiemc commented on #267
@lauralillepruun Any update on the measurements? I'm not sure we'll be able to finalize this today without getting those soon. As soon as we get them I expect a day turnaround for design.

[2015-10-21 19:08] cassiemc commented on #267
@lovegushwa agree that foamex boards are better for stage parading. @Saallen, do you think we need both boards and flags?

[2015-10-21 19:13] KevZawacki commented on #263
Hi @SpikeUK, re: live tweeting -- Rahel is welcome to share her experiences from her personal handle. She should make sure to tag "@Mozilla" in her tweets -- then we can see and RT certain updates.

[2015-10-21 19:23] lovegushwa commented on #282
@cassiemc @lauralillepruun

1   table top sign holder:
http://www.amazon.co.uk/Displaypro-Acrylic-Desktop-Counter-Display/dp/B00F42SZM4/ref=sr_1_6?ie=UTF8&qid=1445454493&sr=8-6&keywords=sign+holder

(for pre laminated cards, some one in the shop could make these)
http://www.amazon.co.uk/EPOSGEAR%C2%AE-Acrylic-Display-Place-Holders/dp/B008FL6R8K/ref=sr_1_212?s=officeproduct&ie=UTF8&qid=1445454893&s

[2015-10-21 19:38] lauralillepruun commented on #267
@cassiemc sorry,  it is 157cm from the base of the balcony to the railings, but from the floor to the railings its 112cm

[2015-10-21 19:42] cassiemc commented on #282
I like the flag style and think we could design a really nice template for them. I like the chalkboard too and I'm sure we could make it work but it seems a little outside of brand.

[2015-10-21 19:44] lauralillepruun commented on #282
I agree about the flag style ones.

[2015-10-21 19:50] lovegushwa commented on #282
@lauralillepruun @cassiemc
Cool, I agree :)  ... who can order these and how many do we need?
http://www.amazon.co.uk/Argon-Tableware-Table-Number-Holders/dp/B002OS2L30/ref=pd_sim_sbs_229_10?ie=UTF8&refRID=1QJC0NYBRPAA2WCGNGH1

[2015-10-21 19:50] cassiemc commented on #267
@lauralillepruun what about width?

[2015-10-21 19:53] natalieworth commented on #226
Hey @cassiemc @HPaulJohnson @KevZawacki , I put the final png files for the twitter and facebook social sharing graphics up on the google drive. The first 3 options in each file are the main choices, but I have uploaded the other options as well. Thanks! https://drive.google.com/open?id=0B20-0lpP23c0TERlaFlNMU9MSWs

[2015-10-21 19:53] natalieworth commented on #226
![mozfest_facebook_final_01](https://cloud.githubusercontent.com/assets/14876567/10648340/b45c4de6-77f2-11e5-8eec-7c7cbce0992a.png)
![mozfest_facebook_final_02](https://cloud.githubusercontent.com/assets/14876567/10648341/b45c956c-77f2-11e5-90e2-5a56ef0e5478.png)
![mozfest_facebook_final_03](https://cloud.githubusercontent.com/assets/14876567/10648342/b45ef0b4-77f2-11e5-9736-caf37484cf0f.png)
![mo

[2015-10-21 19:54] lovegushwa commented on #280
@cassiemc @lauralillepruun any idea where the digital files are for the posters in the 1st photo?
maybe @sabrinang has them :) ?

[2015-10-21 19:55] lauralillepruun commented on #282
I can order them. As far as I know, we have 8 spaces, and 19 pathways so maybe I should order 30. They are a bit pricier so I'll double check with Sarah re the budget, but it should be fine. Will let you know as soon as I have the go ahead to order.

[2015-10-21 19:58] sabrinang commented on #280
@lovegushwa Unfortunately, I don't have these assets (I believe it would be from the contractor who worked on it last year).

[2015-10-21 20:00] lauralillepruun commented on #267
@cassiemc I'm not quite sure why you need the width? As you can see from the image above, they run alongside the stairs and across the floors so they will be very wide, but surely we would only be using a small bit of them to attach on to?

[2015-10-21 20:09] cassiemc commented on #282
I've seen low-fi versions of these too. Sticks in a bag of sand sort of thing. Is that an option @lovegushwa ?

[2015-10-21 20:13] Saallen commented on #280
@lovegushwa all posters are in the dropbox files I shared in a previous call
On 21 Oct 2015 20:54, "lovegushwa" <notifications@github.com> wrote:

[2015-10-21 20:13] Saallen commented on #267
The choice is yours Jordan, I thought flags could be waved from the stage
and then pinned to the balconies but this applies to boards too. I am not
fussy
On 21 Oct 2015 20:50, "Cassie McDaniel" <notifications@github.com> wrote:

[2015-10-21 20:13] lauralillepruun commented on #282
drama over. I missed the bit when it said 'box of 12' :) I can definitely order them!

[2015-10-21 20:34] lovegushwa commented on #282
@lauralillepruun @cassiemc I agree let's order them.

[2015-10-21 20:49] cassiemc commented on #226
Great work @natalieworth. @KevZawacki if you confirm this is all you need we can close this sucker. :)

[2015-10-21 20:50] cassiemc commented on #280
@lovegushwa heads up if there are any assets that need to be printed externally we'll have to move the milestone forward on this.

[2015-10-21 20:54] cassiemc commented on #282
sweet!

[2015-10-21 20:55] lovegushwa commented on #280
I believe this is a set of old posters:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvVmxsNnR2RW1VaWs/view?usp=sharing

<img width="862" alt="screen shot 2015-10-21 at 1 47 55 pm" src="https://cloud.githubusercontent.com/assets/12228435/10649720/635492e8-77fa-11e5-8bd0-c9f1ea55c769.png">

[2015-10-21 20:56] lovegushwa commented on #280
@cassiemc So we need to develop a set of A3 posters above. If these were mounted to foam core they would look way better. Also we need a individual map of each floor.

[2015-10-21 21:02] cassiemc commented on #267
@lauralillepruun Just wanted to make sure we didn't run into any pillars. I sort of remember one piece of grating last year being a bit shorter.

I just measured and a comfortable wingspan for me for a bunch of people waving a flag on stage would be between 2 & 3 feet. All the way up to 53 inches. Not sure if that allows for a banner visible from a long distance. cc @lovegushwa @natalieworth

[2015-10-21 21:08] natalieworth commented on #267
@lauralillepruun Just checking if I have the measurements for the balcony correct? I've eyeballed the size of the banners based on @lovegushwa 's measurements of 1.2m x 2m (although we could reduce the length). I believe this is roughly the size of that unless I've made a mistake in the scaling ratio:
cc @cassiemc
![measurements-01](https://cloud.githubusercontent.com/assets/14876567/10650227/1e52

[2015-10-21 21:15] cassiemc commented on #267
@natalieworth @lovegushwa I think we need to go more horizontal than vertical. There will be one banner hung from each floor so we don't want them overlapping.

[2015-10-21 21:20] cassiemc commented on #267
Also, am okay with whatever @lovegushwa thinks will work!

[2015-10-21 21:22] natalieworth commented on #267
@cassiemc @lovegushwa Could we do square? I agree it would be good to decrease the length if they are going to be stacked. Are we just doing banners or the foamex boards also?

[2015-10-21 21:23] cassiemc commented on #267
Need guidance from @Saallen on whether we are doing both but I suspect if we can make just one work for both purposes that'll be better from lots of perspectives (budget, logistics, transport etc)

[2015-10-21 21:53] HPaulJohnson commented on #226
these look fantastic @natalieworth - excited to put them to use.

[2015-10-21 22:04] lovegushwa commented on #267
@cassiemc @natalieworth We should be able to design visually fist, then workout the size.
(With the constraint that people (or maybe 2 people) should be able to hold these)

My feeling is that If it's possible to print fabric these will look more professional (banners have been hung off rails forever, and they look festive, can have great material qualities with light) If not, let's do foam board.

[2015-10-21 22:17] cassiemc commented on #267
@lovegushwa these look great as long as they aren't too tall for a short person to hold up over their head. Here's the printer site again for reference: ttps://www.pixartprinting.co.uk/wide-format/printing-banners-mesh/ecoflat-banner/

[2015-10-21 22:51] lovegushwa commented on #279
We also need individual maps of each floor for the info booths #280

[2015-10-21 22:55] lovegushwa commented on #280
@lauralillepruun I'm thinking Beth can work on these posters.

[2015-10-21 23:00] lovegushwa commented on #281
@lauralillepruun let's get Beth started on planning this. @Saallen do you approximately when the Spaces on each floor will be locked down so we have defined map? This is also crucial for #280 #279

[2015-10-21 23:40] cassiemc commented on #279
Have updated comment 1 to reflect additional needs.

[2015-10-21 23:41] edrushka opened #283 "Clarify videography at MozFest"
We'll have 4 distinct video teams:
#### 1) Dosed
- they will create the 2016 promo video
- they've shot, edited and composed the music for the last two years' videos
- Erika D will be point of contact during the day

#### 2) Rainer & Spencer from MoCo
- they shot the Webmaker promo video
- they'll be conducting a series of controlled interviews in a quiet location with questions coming from Tim Mu

[2015-10-21 23:42] edrushka commented on #263
Film/video ticket is here: https://github.com/mozilla/2015.mozillafestival.org/issues/283  cc @lovegushwa

[2015-10-21 23:43] cassiemc commented on #280
@lovegushwa I spoke to @marcwalsh this morning and if we want them mounted, we might want to order them premounted on foamex rather than do them ourselves, unless we can wrangle a student or Beth to do it. Just hard to arrange all the supplies (and find the time) logistically. However, we are running out of time to order these from an external source.

[2015-10-22 03:00] lovegushwa commented on #280
@cassiemc totally, you can see from the 1st photograph they will look much better on foamex.
Perhaps it's time to embrace that DIY esthetic.

[2015-10-22 12:10] SpikeUK commented on #263
@KevZawacki Thanks - "@Mozilla" or "#MozFest"? - or both?

[2015-10-22 12:52] KevZawacki commented on #226
@natalieworth These are *awesome.* Well done -- can't wait to start posting them this week.

& thanks, @cassiemc, for all your help! These will seriously boost engagement on our MozFest posts.

[2015-10-22 12:52] #226 closed

[2015-10-22 13:27] KevZawacki commented on #263
@SpikeUK Both is best

[2015-10-22 13:33] SpikeUK commented on #263
:+1:

[2015-10-22 13:58] adiladiladil commented on #212
@KevZawacki

could we shorten this copy up a bit:

Spaces & Pathways

MozFest invites you to take control of your participation. This is a fluid event, designed to meet participants’ needs and help you seize opportunities for peer learning. We invite you to join in with an open mind and purposeful flexibility, as sessions shift and emerge to better serve you.

To help you navigate MozFest, we’ve i

[2015-10-22 14:17] fuzzyfox commented on #231
@chadsansing I'm happy enough to take on a leading role in wrangling this, however would like to ask that you also remain at the reins too while we finish the curation/planning in the run up to the fest. My available time right now for this is not as high as I'd like it to be if I was taking over entirely.

Also, thanks for the highlight of [@mozfesttimeline](https://twitter.com/mozfesttimeline),

[2015-10-22 14:51] chadsansing commented on #231
@fuzzyfox, +1s. See [Discourse](https://discourse.webmaker.org/t/testing-needed-remote-challenge-thimble-projects/222/6).

[2015-10-22 15:58] edrushka commented on #264
We're having two staff poster-making sessions on Thursday and Friday. @sabrinang, @cassiemc  would looooove some of your skills to help me make the signage legible, if you can spare any time.

[2015-10-22 16:02] cassiemc commented on #264
Sure, I'm in! On Thursday I will probably be stuffing the pins for the gear store swag bag thing, but my day is wide open on Friday.

[2015-10-22 16:34] natalieworth commented on #262
@lovegushwa I've got some rough drafts for ideas of the stage backdrop up on redpen: https://redpen.io/p/zc3ebeaf4e02b0814e
I really liked the more typographic approach that you were talking about. Wondering too if the screens in the image above will be used at all for gif/ animation, or if they will just house the MozFest logo?

[2015-10-22 16:39] natalieworth commented on #267
@lovegushwa I can prep the type/ icons and some design for this, then just copy them over to the final banner size. Do we have confirmed dimensions yet? Thanks
cc @cassiemc @Saallen @lauralillepruun

[2015-10-22 16:53] marcwalsh commented on #267
@cassiemc @lovegushwa  There's a couple of options:

Banner - More PVC like material:
https://www.pixartprinting.co.uk/wide-format/printing-banners-mesh/ecoflat-banner/

There is synthectic material:
https://www.pixartprinting.co.uk/printing-flags-textiles/flags/

And printing on cotton:
https://www.pixartprinting.co.uk/printing-flags-textiles/natural-fabrics/

Totally depends on the look you're g

[2015-10-22 17:19] lauralillepruun commented on #267
@natalieworth the 157cm is from the top of the balcony to the bottom of the floor
<img width="272" alt="screen shot 2015-10-22 at 1 18 57 pm" src="https://cloud.githubusercontent.com/assets/15231997/10672668/7bf41240-78bf-11e5-8e84-66644c1db02c.png">

[2015-10-22 17:20] lauralillepruun commented on #267
As in outside of the balcony

[2015-10-22 17:26] sabrinang commented on #264
@edrushka I'll be there to help! I'll have time on Thursday (An-Me gets in on Friday so I'll be working on Web Lit stuff with her then).

[2015-10-22 17:58] KevZawacki commented on #212
Sure. How about:

Spaces & Pathways

MozFest invites you to take control of your participation and seize opportunities for peer learning. Join in with an open mind and purposeful flexibility.

To help you navigate MozFest, we’ve introduced two concepts: Spaces and Pathways. Spaces are physical hubs, typically located on a single floor, with sessions exploring a shared theme. Pathways are a series

[2015-10-22 18:22] chadsansing commented on #231
Updated [Test @ the Fest](https://d157rqmxrxj6ey.cloudfront.net/chadsansing/8541/) on Thimble after merging @fuzzyfox's pull request.

[2015-10-22 18:34] lovegushwa commented on #267
@natalieworth @lauralillepruun @cassiemc
See the measurements below. I maximized the size based on what a person (or two people) can hold and peak over the top. The pendant part (in pink) can very in length depending how @natalieworth want's trim it. A person holding this would allow that to drape on the floor. It's critical that the type go now lower than ~110cm from the top edge so "science" for

[2015-10-22 18:38] natalieworth commented on #267
These are some quick iterations for colour/type. I'm going to have to adjust the placement based on the new measurements and I'll make sure the type is at a comfortable eye level if someone is holding these up. https://redpen.io/ow32b4ea63d4b0f7cc

[2015-10-22 18:43] adiladiladil commented on #212
Update here for another pass

https://redpen.io/hs155553dd47fa6643

![mozfest 2015 programme-02](https://cloud.githubusercontent.com/assets/11046943/10674885/4edacb8a-78cb-11e5-82f7-18abaa95d128.jpg)

[2015-10-22 18:44] cassiemc commented on #208
@marcwalsh Is this confirmed with printers, can we close?

[2015-10-22 18:46] cassiemc commented on #280
Bringing up the deadline since it seems like we'll be ordering them out. Deadline of getting them to the printer on Oct 28th should put us in a good spot.

[2015-10-22 19:20] #178 closed

[2015-10-22 19:21] #259 closed

[2015-10-22 19:34] chadsansing commented on #231
Let's spin up the narrative on this [landing page](http://chadsansing.github.io/curriculum-testing/moz-fest-remote-projects/index.html).

cc @fuzzyfox, @ldecoursy, @Sallen

[2015-10-22 19:36] ldecoursy commented on #231
@kgorr

[2015-10-22 19:38] cassiemc commented on #212
@adiladiladil's latest is here: https://redpen.io/hs155553dd47fa6643
For the back, the poster, we're going with https://redpen.io/gkf52e8eebbc667a58 (@adiladiladil I left one final comment about the logo for that side)

[2015-10-22 19:59] natalieworth commented on #267
@cassiemc First banner drafts are up on red pen with @lovegushwa 's dimensions: https://redpen.io/ywaadd47cafaf603ec

[2015-10-22 20:36] KGorr commented on #231
RE: landing page

One small typo: "invite a friends"

We are also hoping to do a all-day tweetchat live from MozFest, so that would be an excellent part of the challenge - to participate and engage throughout the day. It's not finalized however, so @ldecoursy and I can keep you posted on that.

[2015-10-22 20:59] lovegushwa commented on #267
@cassiemc @natalieworth

Natalie and I just talked. Let’s go with gradients. She is going to look at an additional graphic touch so these really pop. We will play the gradient’s off the main stage colors (Stage design design should be up for review later today so we can make final color decisions on these banners tomorrow morning and ship.)

[2015-10-22 21:52] Saallen commented on #212
@adiladiladil @cassiemc - Have you tried to fold this guide to see how the poster page is divided?
I am unable to find 2014 guide with folds to show you what we mean but Simon our old designer spent alot of time on the layout of the poster page.

[2015-10-22 21:53] Saallen commented on #212
Where are all the designs being kept as they are being finalised?

[2015-10-22 22:13] edrushka commented on #283
Note that the Ravensbourne idea was not accepted. I'll post update plans when they become available.

[2015-10-23 00:17] cassiemc opened #285 "Create space names & icons to stick on the large maps"
The spaces will not be allocated and finalized by the time we print the Festival Guides. If possible we should make some size-appropriate vinyl stickers we can print on the large foamex maps that will be in the space.

cc @lovegushwa

[2015-10-23 03:21] HPaulJohnson opened #286 "Prepare slide template and final designs for mainstage speakers"
Mainstage speakers are in the process of preparing talking points and suggesting slides to accompany their talks. We'll take those ideas, polish the design and put them in a single template for a cohesive look/feel across the entire program.

cc: @cassiemc

[2015-10-23 06:24] lovegushwa commented on #262
@HPaulJohnson @cassiemc here are a few options, I'm leaning towards A and C. The podium design can still be tweaked.

A.
![mozfest-stage-mockup_1](https://cloud.githubusercontent.com/assets/12228435/10685416/acd90574-790e-11e5-8610-f29f94c203ff.jpg)

B.
![mozfest-stage-mockup_5](https://cloud.githubusercontent.com/assets/12228435/10685360/ee14fc38-790d-11e5-8776-c37d5434a83c.jpg)

C.
![mozfest-sta

[2015-10-23 13:09] iamjessklein commented on #231
small piece of feedback - the postcard (at least) feels a bit sad to me as a remotee. I get it that there is an event happening in London, but I'm clearly not there. I want to *participate* in a remote mozfest - not merely watch an event from afar. We work remotely, we can mozfest remotely :)

[2015-10-23 14:03] adiladiladil commented on #212
Here is the update for another look over:

https://redpen.io/fn5db6b0b15647909f

![mozfest 2015 programme_v1-02](https://cloud.githubusercontent.com/assets/11046943/10694650/58101e6a-796d-11e5-8ee6-f37dab088e3f.jpg)

[2015-10-23 14:22] adiladiladil commented on #212
Here is the guide with fold lines with last years as a comparison
![mozfest 2015 programme_folds-02](https://cloud.githubusercontent.com/assets/11046943/10695114/002d69f2-7970-11e5-88dd-596047b8c1c8.jpg)
![ee7e3f48-62bc-11e5-94ce-fc33ca996648](https://cloud.githubusercontent.com/assets/11046943/10695115/0245b4a6-7970-11e5-947f-9d3f714e012f.jpg)

[2015-10-23 14:36] adiladiladil commented on #212
Here is the poster with the fold lines and last years as reference
![mozfest 2015 programme_poster_poster](https://cloud.githubusercontent.com/assets/11046943/10695481/e52ebe6a-7971-11e5-98b7-b7e3d4310bb5.jpg)
![ee6fa212-62bc-11e5-91b1-ceea57f1d9a3](https://cloud.githubusercontent.com/assets/11046943/10695485/ebd30636-7971-11e5-914d-508c9fd4f438.jpg)

[2015-10-23 14:38] adiladiladil commented on #212
Here is the poster with the fold lines and last years as reference
![mozfest 2015 programme_poster_poster](https://cloud.githubusercontent.com/assets/11046943/10695551/3804c652-7972-11e5-803d-843a6352ecba.jpg)
![ee6fa212-62bc-11e5-91b1-ceea57f1d9a3](https://cloud.githubusercontent.com/assets/11046943/10695552/3919e284-7972-11e5-9310-02046e8fcaae.jpg)

[2015-10-23 14:52] adiladiladil commented on #212
Here is another option to consider for the guide. you can see the folds here as well

![mozfest 2015 programme_v3-03](https://cloud.githubusercontent.com/assets/11046943/10695895/23f32a44-7974-11e5-871e-ccdf7bab5348.jpg)

[2015-10-23 14:57] cassiemc commented on #212
@adiladiladil This latter option with the fold lines between columns is the best, let's do it!

[2015-10-23 14:58] adiladiladil commented on #212
@cassiemc i agree. not sure why last years had folds running through text but this will eliminate that prob

[2015-10-23 15:02] cassiemc commented on #212
@adiladiladil I'm done with my comments on the redpen for now :)

[2015-10-23 15:03] adiladiladil commented on #212
@cassiemc great. i'm adding that one last line about the lift accessibility then uploading the latest latest version for everyone to take one last look

[2015-10-23 15:04] marcwalsh commented on #212
Hey @adiladiladil and @cassiemc

Michelle has noticed that theres a few pathways missing. She's writing up a list here:
https://public.etherpad-mozilla.org/p/festival-pathways

But if this isn't possible it would be good to add something along the lines of:

"There's event more amazing pathways are being added all the time, check out the latest list online
https://2015.mozillafestival.org/pathways

[2015-10-23 15:12] chadsansing commented on #231
I hear you.

Is there a way to get at this content-wise, e.g. flipped - here's what you missed while at MozFest? A better way to re-frame it? Just prototyping off of suggestions here. @fuzzyfox, @Saallen, @hannahkane, @iamjessklein  - thoughts?

[2015-10-23 15:23] KGorr commented on #231
Is it too late in the game to make a separate postcard for the remote participants? Maybe it could say "Join me for #livefrommozfest" (which is the hashtag I'm suggesting or our live twitterchat - still needs to be approved by @ldecoursy) or something like that. And then on the other side it says "Three things that I want to share with you". They can share it instantly to invite people to join us.

[2015-10-23 15:26] marcwalsh opened #287 "Bug: Team Festival Page Layout on Safari"
When loading the /team page in Safari, the text is overlapping the images.

<img width="960" alt="screen shot 2015-10-23 at 16 24 55" src="https://cloud.githubusercontent.com/assets/14007066/10697219/bdf48696-79a2-11e5-999b-b8af7328c032.png">

[2015-10-23 15:28] chadsansing commented on #231
+1

[2015-10-23 15:56] chadsansing commented on #231
@Saallen, is this postcard revision something we can come back to Monday? When does this 'kit' need to ship, and to whom do we ship it for approval or whatever?

[2015-10-23 15:58] HPaulJohnson commented on #262
@lovegushwa love this! I'm leaning towards A as backdrop and podium have the most contrast with carpet color.

[2015-10-23 16:05] cassiemc commented on #262
I might be overthinking this entirely, but does 'free and open' ring a little weird for people sitting in the crowd who paid for their tickets? could it be something like 'radical and open'? feel free to kabash me.

[2015-10-23 16:06] cassiemc commented on #262
oh oh oh, i forgot to say, this stuff is aesthetically quite BEAUTIFUL! I def. like the blue gradient bkg. I'm impartial on the carpet/podium combo.

[2015-10-23 16:06] thornet opened #288 "Fix copy on /team"
https://2015.mozillafestival.org/team

Small fix: it's not Mozfest's seventh year, but sixth.

Should be:
"Michelle curates Mozfest and is proud to see the festival into its sixth year."

[2015-10-23 16:18] lovegushwa commented on #285
@cassiemc cut Vinyl will be really difficult, you have to pull out all the letter counter forms with an x-acto blade, and it's almost impossible to do below 30pts ... We could do printed stickers, we can also print on color vinyl (like you can print back ink on yellow vinyl with a UV printer for example.) ...  We could also leave blank's on the maps and have the space wranglers fill them in! It wo

[2015-10-23 16:19] cassiemc commented on #285
stickers would be fine and good!

[2015-10-23 16:19] iamjessklein commented on #231
What if it was something more active like - I'm making ____________ at #remotemozfest

[2015-10-23 16:26] adiladiladil commented on #212
@marcwalsh added the new pathways
@cassiemc new version is up on redpen

let me know once everyone has given feedback and proofed everything one last time

[2015-10-23 16:36] hannahkane opened #289 "Add link to schedule app"
Put "Schedule" in the top nav (in the spot currently occupied by "Sessions"), and move links to the Spaces and Pathways pages down to the footer.

[2015-10-23 16:49] adiladiladil commented on #212
@cassiemc @natalieworth

newer new version on redpen

[2015-10-23 16:53] HPaulJohnson commented on #262
i think "free and open" works - we use it enough in the context of the Web that i don't think we risk awkwardness around the cost of the event itself. "radical" is ok but definitely a bit further from anything currently in our branding/messaging.

[2015-10-23 17:10] HPaulJohnson opened #290 "Design visuals for mainstage video screens when stage is unoccupied."
We'd like some rolling video/slides for the main video screens to be shown when stage is unoccupied throughout the day. Some initial ideas of content include: https://docs.google.com/document/d/1L-iwk5IxrDaU3mI75HGCeGwNqbx4TgwXyb3WMeYhJWo/edit

cc: @natalieworth @lovegushwa

[2015-10-23 17:16] cassiemc commented on #212
Ok @adiladil left my final review. There are a couple questions for @Saallen or @thornet re. the pathway names, a few punctuation and typesetting fixes, and a couple small design tweaks.

cc @marcwalsh

[2015-10-23 17:30] Saallen commented on #289
Hi @hannahkane - I would like to keep it as its a less busy page, and on the schedule the focus is sessions.

[2015-10-23 17:45] hannahkane commented on #289
OK, it will make the name of the current /sessions page strange, since I think attendees would be expecting to see the schedule app there. What if we put "Schedule" in the top nav (will go to the full schedule app), and move links to the Spaces and Pathways pages down to the footer and/or link to them from the What to Expect page?

[2015-10-23 18:00] natalieworth commented on #282
@Saallen Is it necessary to include both 'session name' and description sections for the session cards at each table? We'd have more space if we just used 'session name,' but I wasn't sure if the description was important to include on the table holder cards. Thanks

[2015-10-23 18:35] omnignorant commented on #231
just wanted to +1 @iamjessklein... but of course, there's gotta be a blank to do. So maybe it's a dialogue?

Q: What are you making?
A: I'm making ________

Q: Can you help us with ______?
A: Sure! I'm making _______!

[2015-10-23 18:50] lauralillepruun commented on #282
@natalieworth I'm pretty sure we are ok to just include the session name

[2015-10-23 18:52] cassiemc commented on #289
@hannahkane I like your suggestion. Do we need a design then for adding those links to "what to expect"?

[2015-10-23 20:03] edrushka commented on #286
adding myself

[2015-10-23 20:09] edrushka opened #291 "Create a rockin' MozFest playlist"
@OpenMatt - could you put together a cool playlist to be used when the mainstage isn't active? Minimal electric violin ;)
I believe we're showing photos of our international communities, so maybe the music could represent some of that?

cc @HPaulJohnson @KevZawacki

[2015-10-23 20:13] edrushka commented on #290
adding myself

[2015-10-23 20:48] adiladiladil commented on #212
and here is the final pass perhaps?

https://redpen.io/p/qk2adb94ee9367c3cc

![mozfest 2015 programme_vfinal maybe-03](https://cloud.githubusercontent.com/assets/11046943/10704576/d5c78428-79a5-11e5-9a2f-a809e19c6494.jpg)

[2015-10-23 21:19] cassiemc commented on #212
Looks good to me @adiladiladil! Can you post the final print files here por favor?

[2015-10-23 21:22] natalieworth commented on #282
I've got versions of the new 'session name' cards up on redpen:
https://redpen.io/kg57f9c533b60e6738

I'm thinking these will be printed on a heavier weight/ card stock paper. We could either do a shape or just a rectangle. Rectangle may logistically be easier if there's a lot that need to be printed.

[2015-10-23 21:23] natalieworth commented on #282
cc @lovegushwa  too ^

[2015-10-23 21:26] adiladiladil commented on #212
Here is the link to the master print AI file

http://we.tl/hsAVr7i30y

[2015-10-23 21:41] adiladiladil commented on #212
and here is the link to all assets I've completed

http://we.tl/G0gRr23qRa

[2015-10-23 21:47] cassiemc commented on #212
Thanks so much @adiladiladil! @natalieworth see above for the vector map assets.

@marcwalsh Please let us know if the printer accepts the file as-is so we can close the issue. Have a great weekend all!

[2015-10-23 21:48] cassiemc commented on #212
@adiladiladil just looking at your file, can you post version for @marcwalsh with and without the fold lines?

[2015-10-23 22:07] mmmavis commented on #224
tagging @Pomax cuz he has some brilliant insights on this

[2015-10-23 22:18] adiladiladil commented on #212
@cadecairos @marcwalsh here are the two options with and without fold

http://we.tl/Z6ZXHQTcL7

[2015-10-23 22:42] natalieworth commented on #279
For the 4 large posters, here are the available sizes from the printer?
https://www.pixartprinting.co.uk/wide-format/printing-flat-bed-rigid-materials/acrylic/

Which do you think would be best for the space? 70cm x 100cm is close to the 32" x 40" size. Or we could do square.

cc @cassiemc

[2015-10-23 22:46] cadecairos commented on #212
I think you were trying to tag @cassiemc :)

[2015-10-24 00:13] natalieworth commented on #279
Map drafts and some questions are up on red pen @cassiemc. I'm using the A4 size for UK (it's close to tabloid).

[2015-10-24 00:18] lovegushwa commented on #279
Awesome @natalieworth , you should use A3 (closest to Tabloid), A4 is the equivalent of Letter. (I used ISO paper sizes in my last job :)

[2015-10-24 00:19] lovegushwa commented on #279
@natalieworth do you have the redpen link?

[2015-10-24 00:24] natalieworth commented on #279
Ah sorry I meant A3

[2015-10-24 00:24] natalieworth commented on #279
A4 is letter I think

[2015-10-24 00:24] natalieworth commented on #279
@lovegushwa  Here's the link https://redpen.io/zg6913681be2834c2c

[2015-10-24 00:25] lovegushwa commented on #279
@natalieworth cool :) yes A3 is the size we want !

[2015-10-24 00:38] lovegushwa commented on #280
Info for Beth (Ravensborn alumni working with us on way-finding :)

Example of previous posters:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvVmxsNnR2RW1VaWs/view?usp=sharing

Copy for sessions posters:
https://2015.mozillafestival.org/sessions

[2015-10-24 13:22] Saallen commented on #231
I am linking in @hannahkane as she know more about timings for devs

[2015-10-24 13:38] Saallen commented on #254
Adding Digital Citizenships blog post
https://docs.google.com/document/d/1QlwR7t9nldzrdWXv8TlQMf0uNLKcyKzhV3_ao7xutPw/edit
@Melechuga can you add a picture for the page?

[2015-10-24 13:39] Saallen commented on #254
@KevZawacki the layout of the page is hard to follow now we have so many posts- is there anything  we can do to help this?

[2015-10-25 12:28] Saallen commented on #234
Hey reopening this issue to a  new request- can we make one Science Fair card that has on the top- Made at MozFest-
The idea is that we are celebrating cool MozFest makes from previous years, highlighting sessions, resources & tool kits that were once a session at  a previous festival but are now running and successful kits or platforms in the community cc @cassiemc  @natalieworth